<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>

<script>

        $(function () {
            $('#lstPractice').multiselect({
                includeSelectAllOption: true
            });
            $('#btnSave').click(function () {
                var selected = $("#lstPractice option:selected");
                var message = "";
                selected.each(function () {
                    message += $(this).text() + " " + $(this).val() + "\n";
                });
                //alert(message);
            });
        });


            var index = 9000;

            function onlyNumbers(event) {
                if ( event.keyCode == 46 || event.keyCode == 8 ) { 
                    } else { 
                        if (event.keyCode < 95) { 
                            if (event.keyCode < 48 || event.keyCode > 57 ) { 
                                event.preventDefault(); 
                            } 
                        } else { 
                            if (event.keyCode < 96 || event.keyCode > 105 ) { 
                                event.preventDefault(); 
                            } 
                        } 
                    } 
            }
            function checkEmail(id, inputvalue){    
                if(inputvalue != "") {
                    var pattern=/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
                    if(pattern.test(inputvalue)){         
                        
                    }else{   
                        jAlert("Invalid email address","Member Profile"); 
                        $("#"+id).focus();
                    }
                }
            }
        </script>
<style>
.ui-widget { 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
</style>
<form name="project_history" id="project_history" method="post" action="project_history.php" enctype="multipart/form-data">
    <input type="hidden" name="utabId" id="utabId" value="0">
    <input type="hidden" name="id" value="{{$user->getId()}}">    
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'  >        
             <div id='prjInfo'>            
             <tr><td height="5px"></td></tr>   
             <tr>
                <td width="60%">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0" highlight="on" class="sortable">
                        <thead>   
                        <tr>
                            <th class="acenter">From Date</th>
                            <th class="acenter">To Date</th>
                            <th class="acenter">Project</th>
                            <th class="acenter">Client</th>
                            <th class="acenter">Project Role</th>
                        </tr>    
                        </thead>    
                        <tbody>
                        {{if not $user->getProjectAssociation(true)}}
                        <tr><td height="10px"><td></tr>
                        <tr>  
                            <td class="error" colspan="5"> 
                                No projects assigned to this user.
                            </td>
                        </tr>

                        {{else}}
                            {{foreach item=project from=$user->getProjectAssociation(true)}}
                            <tr> 
                                <td class="acenter pt3 pb5 pL10">{{$project.startDate}}</td>
                                <td class="acenter pt3 pb5 pL10">{{$project.endDate}}</td>
                                {{if $project.parentId gt 0}}
                                <td class="acenter pt3 pb5 pL10">{{$project.parentProjectName}}</td>
                                {{else}}
                                <td class="acenter pt3 pb5 pL10">{{$project.projectName}}</td>
                                {{/if}}                
                                <td class="acenter pt3 pb5 pL10">{{$project.clientName}}</td>
                                <td class="acenter header " >{{$project.role}} </td>
                            </tr>
                            {{/foreach}}
                        {{/if}}
                        </tbody> 
                    </table>
                </td>
                <td width="5%"></td>
                {{if ($myRole.role == 'MANAGER' or $loginuser->isAdmin()) and $user->getProjectAssociation(true)|@count gt 0 }}
                 <td width="35%">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>   
                             <th class="aright pt3 pb5 pL10">Role</th>
                             <th class="aright pt3 pb5 pL10">Revenue</th>
                             <th class="aright pt3 pb5 pL10">Margin</th>   
                        </thead>
                        <tbody>
                        {{foreach item=project from=$user->getProjectAssociation(true)}}
                        <tr> 
                             <td class="aright pt3 pb5 pL10">-</td>
                             <td class="aright pt3 pb5 pL10">-</td>
                             <td class="aright pt3 pb5 pL10">-</td>
                        </tr>
                        {{/foreach}}
                        </tbody> 
                    </table>
                </td>
                {{/if}}
            </tr>
            </div> 
        </table>
    </table> 
</form>    
