.clear-both {
    clear: both;
}
#addressbook {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #EDEDED; /*#7BC143;*/ /*#2DAEE2;*/
    color: #000000;
    font-family: Arial,sans-serif;
    font-size: 12px;
    clear: left;
    float: left;
    /*position: relative;*/
    
}
#tblDiv {
    background-color: #FFFFFF;
    color:#000000;
    border: none;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:8px;
    padding-right: 8px
}
#tblDiv td{
    border: none;
    background-color: #FFFFFF;
    font-size: 14px;
}
#tblDiv td a:link, #tblDiv td a:visited {
    color: #7BC143;
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
}
#tblDiv td a:hover {
    color:#FFFFFF;
    
}
.abook-column {
    border-color: #EDEDED;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    float: left;
    height: 538px;
    position: relative;
}
#address-left {
    float: left;
}
#address-right {
    background-color: #FFFFFF;
    border: 1px solid #BBCCFF;
    float: right;
    margin: 5px;
    width: 200px;
}
.address-search{
    border-bottom: 7px solid #EDEDED;
}
.search1 {
    width:94%;
    color: #AAAAAA;
    background-color:#ffffff;
}
.search {
    color: #000000;
    width:94%;
    background-color:#DDF0F8;
}
#list-panel {
    line-height: 1.3;
    width: 350px;
}
#filter-panel {
    line-height: 1.5;
    width: 200px;
}
#detail-panel {
    border-right: 2px solid #EDEDED;
    overflow: hidden;
    /*padding: 0 8px;*/
    /*width: 600px;*/
    min-width: 350px;
}
#detail-panel .calc-height {
    /*width: 100%;*/
    padding-left: 15px;
    padding-right: 15px;
}
#detail-panel .connection-name {
    color: #003399;
    font-size: 140%;
    font-weight: bold;
    padding: 8px 0 0;
}
#detail-panel .headline {
    font-size: 120%;
    margin: 4px 0;
}
#filter_address {
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #EDEDED;
    color: #000000;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75em;
    margin: 0;
    padding: 0;
    text-align: left;
}
#filter-search {
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 2px;
}
#alpha-order span a{
    color: #000;
}
#alpha-order span a:hover {
    color: #003399;
    background:none;
}
ol, ul {
    list-style: none outside none;
}
#alpha-drop-down{display:none;width:156px;border:2px solid #EDEDED;overflow:auto;background-color:#FFF;}
#alpha-drop-down.dd-active{display:block;position:absolute;top:230px;left:425px;border-top:0px solid #EDEDED;}
#alpha-drop-down li{float:left;font-weight:bold;font-size:120%;padding:4px 0;width:24px;border:1px solid #F0F0F0;text-align:center;color:#CCC;}
#alpha-drop-down li.enabled{color:#039;cursor:pointer;}
#alpha-drop-down li.enabled:hover{background-color:#DDF0F8;}

#filter-div div{padding-left:16px;margin:0;line-height:1.8;font-weight:bold;font-size:130%;cursor:pointer;position:relative;}
#filter-div div.selection{background-color:#DDF0F8;cursor:auto;}
#filter-div div .side-link{font-weight:normal;position:absolute;right:4px;top:2px;*top:0;font-size:77%;color:#069;}
#filter-div div .side-link:hover{text-decoration:underline;}
#filter-div div em{font-weight:normal;color:#666;}
#filter-div ul{overflow-y:auto;list-style:none;padding:0;font-weight:normal;}
#filter-div ul .selection{background-color:#DDF0F8;cursor:default;}
#filter-div ul .all-contacts span{color:#069;}
#filter-div ul .all-contacts:hover span{text-decoration:none;}
#filter-div ul .all-contacts.selection:hover span{text-decoration:none;cursor:default;}
#filter-div ul ul{padding:0 0 0 16px;margin:0 10px 0 0;overflow-y:auto;}
#filter-div ul ul li{font-size:120%;line-height:1;padding:6px 3px;color:#999;}
#filter-div ul ul li span{color:#069;cursor:pointer;}
#filter-div ul ul li span:hover {text-decoration:none;}
#filter-div ul ul li.selection span:hover {text-decoration:none;cursor:default;}
#filter-div .collapsed ul{height:0;}
#filter-div .collapsed div{*margin-bottom:-9px;_margin-bottom:0;}
#filter-div .expanded ul{overflow-x:hidden;}
#filter-div .expanded div,#filter-div .animating div{}
#filter-div .animating ul{overflow-y:hidden;}
#filter-div ul li{cursor:pointer;zoom:1;}

#list-panel p.empty-search-results{padding:260px 20px 0;font-size:110%;text-align:center;}
#list-panel ul{list-style:none;padding:0;margin:0;height:508px;overflow-y:auto;overflow-x:hidden;}
#list-panel ul.empty{height:0;}
#list-panel ul li{background:url(../img/dotted.png) repeat-x 0 0;padding:8px 10px 10px 0;cursor:pointer;overflow:hidden;zoom:1;}
#list-panel ul li:hover {background-color:#EDF2F5;}
#list-panel ul li.first{background-image:none;}
#list-panel ul li.selection{background-color:#DDF0F8;}
#list-panel ul li.letter-divider{background-color:#FFF;border-bottom-width:0;background:url(../img/line.png) repeat-x 0 20px;padding-bottom:0;margin-right:10px;}
#list-panel ul .letter-divider span{font-size:160%;font-weight:bold;color:#666;background-color:#FFF;padding:0 5px;}
#list-panel ul li div.conn-wrapper{width:220px;float:left;}
#list-panel ul li .conn-photo{float:left;height:46px;width:46px;}
#list-panel ul li .conn-name{margin-left:75px;*margin-left:77px;color:#000;font-size:120%;font-weight:bold;display:block;}
#list-panel ul li .conn-headline{font-size:110%;color:#666;font-weight:normal;margin:0 0 -2px 76px;_margin-left:79px;display:block;}
#list-panel ul li em{font-style:normal;text-decoration:underline;}
#list-panel ul li .conn-count{text-align:right;width:30px;float:right;}
#list-panel ul li .new-conx{color:#F99A30;}

ul.user-details {
    float: left;
    list-style: none outside none;
    margin: 0 20px 0 0;
    padding: 2px;
}
ul.user-details li {
    color: #555555;
}

ul.user-details li .description {
    clear: left;
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100px;
}
ul.user-details li .detail {
    float: left;
    margin-bottom: 10px;
    /*width: 200px;*/
}
