#accordion-panel {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #EDEDED;
    clear: left;
    color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 12px;
}
#accordion-panel-left {
    line-height: 1.5;
    width: 250px;
}
.ui-accordion-content a{
  font-weight: bold; 
}
.ui-accordion-content a:hover {
    color: #006699; 
    background-color: #ffffff;
}
.accordion-column {
    border-color: #EDEDED;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    float: left;
    height: 577px;
    position: relative;
}
#detail-panel {
    border-right: 2px solid #EDEDED;
    min-width: 900px;
    width:70%;
    /*overflow: hidden;*/
}
#detail-list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 547px;
}
#accordion-header {
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #EDEDED;
    color: #000000;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75em;
    margin: 0;
    padding: 0;
    text-align: left;
}
