body {
    color: #454545;
    margin: 0px;
    padding: 0px;
    font: 13px/18px Arial,Helvetica,sans-serif;
    text-decoration: none;
}
h3 {
    font-size: 17px;
    margin-bottom: 5px;
}


a:link, a:visited {
    color: #0066CB;
    text-decoration: none;
    padding: 2px;
}

a.imglink:hover {
    background-color: transparent;
}

.bdrbtm-td {
    border-bottom: 1px dashed #C7C7C7;
}
.td-bk {
   background-color:#edecec;
}
.darkerbg {
    background-color: #F8F8F8;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.pt3 {
    padding-top: 3px;
}
.pt5 {
    padding-top: 5px;
}
.pt6 {
    padding-top: 6px;
}
.pt10 {
    padding-top: 6px;
}
.pR3{
    padding-right: 3px;
}
.pR5{
    padding-right: 5px;
}
.pR10{
    padding-right: 10px;
}
.pL30 {
    padding-left: 30px;
}
.pL10 {
    padding-left: 10px;
}
.pL5 {
    padding-left: 5px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pl5 {
    padding-left: 5px;
}
.bdrtop4 {
    border-top: 1px solid #F5F5F5;
}
.bdrbtm4 {
    border-bottom: 1px solid #F5F5F5;
}
.bdrbtm4  a {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.bdrbtm4  a:hover {
    color: #fff;
    background-color: #454545;
    font-weight: bold;
    text-decoration: none;
}
.bdrbtm4 img:hover{
   cursor: hand;
   cursor: pointer;
}
#tbl_tasks tr {
    background-color: #FFFFFF;
}
#tbl_tasks th {
    background-color: #EDF2F6;
    border-bottom: 1px solid #DAE7F2;
}
#tbl_tasks td {
    color: #000000;
}
td.submitted {
    background-color: #F0FFEE;
} 
td.submitted1 {
    background-color: #DCFCDC;
}
#td-data tr:hover {
    background-color: #F9F9F9;
}
#td-data .tdbtm {
    border-bottom: 1px solid #F5F5F5;
}
#td-data .td-action {
    background-color: #F9F9F9;
    color: #3A3A3A;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
}
#tbl_tasks a {
    color: #0066CB;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
#tbl_tasks a.imglink:hover {
    background-color: transparent;
}
#td-data img:hover {
   cursor: hand;
   cursor: pointer;
}
#d-data-add {
    color: #454545;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #F5F5F5;
}
#d-data-add th {
    text-align: left;
    font-weight: bold;
}
#d-data-add td {
    padding: 5px;
    text-align: left;
}


