/*
    saffron   #ff8b00
    green     #69b521
    lightblue #0298cf
    darkblue  #097cb0
*/

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 9pt;
    /* color: #474848; */
    color: #000000;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-size: 1.6em;
    font-family: "Trebuchet MS", "Segoe UI", Tahoma, Verdana, sans-serif;
    color: #ff8b00;
    margin: 0px;
}
h1 {
    font-style: italic;
}
h2 {
    font-size: 1.3em;
}
#productivity_factor p {
    font-size: 1.01em;
    font-family: "Trebuchet MS", "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: #FE0101;
    margin: 0px;
}
#header {
    height: 60px;
    position: relative;
}

#tabs li {
    margin-left: 5px;
}

#tabs li.ui-state-active a {
    cursor: default;
}

/*
#nav {
}

#nav ul {
    list-style: none;
    margin: 0px;
    padding: 7px;
    padding-bottom: 2px;
    border-bottom: solid #cccccc 1px;
    background-color: #097cb0;
}

#nav li {
    font-weight: bold;
    display: inline;
    padding: 2px 15px;;
    margin: 2px;
    border-bottom: none;
    color: #ffffff;
}

#nav li.sel {
    background-color: #ffffff;
    border-bottom: solid #ffffff 1px;
    color: #000000;
}

#nav a:link, #nav a:visited, #nav a:hover, #nav a:active {
    color: #ffffff;
}
*/

#nav2 {
    padding: 10px 5px;
    color: #aaaaaa;
    border-bottom: dotted #cccccc 1px;
}

a:link, a:visited {
    color: #097cb0;
    text-decoration: none;
    padding: 2px;
}

a:hover {
    color: #ffffff;
    background-color: #097cb0;
    text-decoration: none;
    padding: 2px;
}

a.imglink:hover {
    background-color: transparent;
}

table {
    margin: auto;
    padding: 1px;
    border: solid #eeeeee 1px;
}

.darkerbg {
    background-color: #eee;
}

.highlight {
    background-color: #D8e5eb;
}

th, td.title {
    font-weight: normal;
    font-size: 9pt;
    background-color: #097cb0;
    color: #ffffff;
    cursor: default;
}

td.title {
    width: 200px;
}

td {
    font-size: 9pt;
    background-color: #f8f8f8;
    vertical-align: top;
}

td.noshade {
    background-color: #ffffff;
}

th.actions, td.actions {
    /*width: 50px;*/
    white-space: nowrap;
}

span.sep {
    color: #bbb;
}

input, select, textarea {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 9pt;
    border: solid #cccccc 1px;
    padding: 2px;
}

form {
    padding: 0px;
    margin: 0px;
}

.expand2fit {
    width: 99%;
}

.expand2halffit {
    width: 50%;
}

#content {
    width: 95%;
    margin: 10px auto;
}

div.info {
    background-color: #ffffcc;
    padding: 5px;
    text-align: left;
    border: solid #cccccc 1px;
    margin: 10px auto;
    line-height: 15pt;
}

div.error {
    background-color: #ffdddd;
    padding: 5px;
    text-align: left;
    border: solid #cccccc 1px;
    margin: 10px auto;
    line-height: 15pt;
}

div.warning {
}

.fleft { float: left; }
.fright { float: right; }
.aleft { text-align: left; }
.aright { text-align: right; }
.acenter { text-align: center; }
.vamiddle { vertical-align: middle; }
.clear { clear: both; }
.inline { display: inline; }
.fbold { font-weight: bold; }
.fnormal { font-weight: normal; }
.noborder { border: none; }
span.inlineblock, span.filename { display: inline-block; margin-right: 15px; }

.ui-cursor-default { cursor: default; }
.ui-button { padding: 2px 5px; }

/* by Shekhar Koli */
span.avatar {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CCCCCC;
    left:10px;
    padding:0;
    position:absolute;
    text-align:center;
    top:10px;
    width:60px;
}
span.avatar img {
    margin:5px 5px 3px;
}
.comment-meta {
    color:#999999;
    font-size:0.75em;
    margin:0 0 3px;
    padding:4px 0;
    position:relative;
    top:-2px;
}
.comment-meta a {
    color:#999999;
}
.comment-meta a:hover {
    color:#000;
    background-color:#fff;
}
div.commentlist {
    /*list-style:none outside none !important;
    margin:10px 0 0 !important;
    padding:0 !important;
    */
    border-top:1px solid #DDDDDD;
    line-height:1.5em;
    background:none repeat scroll 0 0 #FFFFFF;
}
div.comments {
    min-height:130px;
}
div.comments-even{
    background:none repeat scroll 0 0 #FFFFFF;
    border-bottom:1px solid #DDDDDD;
    min-height:50px;
    padding:10px 10px 10px 86px;
    position:relative;
}
div.comments-odd{
    background:none repeat scroll 0 0 #F8F8F8;
    border-bottom:1px solid #DDDDDD;
    min-height:50px;
    padding:10px 10px 10px 86px;
    position:relative;
}

.comment-children {
    border-top:1px solid #DDDDDD;
    margin-top:10px !important;
    list-style:none outside none !important;
    margin:10px 0 0 !important;
    margin-left:10px !important;
    line-height:1.5em;
}
.comment-children-child {
    padding:10px 10px 10px 86px;
    position:relative;
}
.comment-reply {
    border-color:#2DAEE2;
    border-top-style:solid;
    border-top-width:5px;
    color:#333333;
    
    border-bottom:1px solid #2DAEE2;
    min-height:50px;
    padding:10px 10px 10px 86px;
    position:relative;
}
.comment-reply-odd {
    background:none repeat scroll 0 0 #F8F8F8;
}
.comment-reply-even {
    background:none repeat scroll 0 0 #FFFFFF;
}
.reply {
    text-align:right;
    height: 30px;
}
.comment-reply-link a{
    color:#FFFFFF;
    font-size:0.8em;
    font-weight:bold;
    padding:4px 6px;
    background-color:#2DAEE2;
}
.comment-reply-link a:hover {
    background-color:#85B763;
}

/* Pagination Style */
.pages A {
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #ddd 1px solid;
	PADDING-LEFT: 5px;
	BACKGROUND: #fff;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #ddd 1px solid;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #ddd 1px solid;
	TEXT-DECORATION: none;
	color: #339900;
}
.pages A:hover {
	BORDER-LEFT-COLOR: #036;
	BORDER-BOTTOM-COLOR: #036;
	COLOR: #fff;
	BORDER-TOP-COLOR: #036;
	TEXT-DECORATION: none;
	BORDER-RIGHT-COLOR: #036;
	background-color: #0174BB;
}
.this-page {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BORDER-LEFT-COLOR: #999;
	BACKGROUND: #fff;
	BORDER-BOTTOM-COLOR: #999;
	COLOR: #ff0084;
	BORDER-TOP-COLOR: #999;
	BORDER-RIGHT-COLOR: #999;
	font-family: 'Trebuchet MS',Tahoma,sans-serif, Arial, Helvetica, sans-serif;
}

.inpput-error{
    border: 1px solid #FF033D;
    -moz-border-radius: 5px 5px 5px 5px;
    width: 99%;
}

/* Table sorter styles */
table.sortable th.header { cursor: pointer; }

table.sortable th.header span.asc { display: none; }
table.sortable th.header span.desc { display: none; }
table.sortable th.header span.sort { display: block; }

table.sortable th.headerSortUp  span.asc { display: none; }
table.sortable th.headerSortUp  span.desc { display: block; }
table.sortable th.headerSortUp  span.sort { display: none; }

table.sortable th.headerSortDown  span.asc { display: block; }
table.sortable th.headerSortDown  span.desc { display: none; }
table.sortable th.headerSortDown  span.sort { display: none; }

.public_holiday {
    background-color: #D4FCB9;
}

.timecard_submit {
    -moz-border-radius: 5px 5px 5px 5px;
    background: 50% 50% #ffffff;
    border: 1px solid #77D5F7;
    color: #ff0084;
    font-weight: bold;
}
.timecard_submit:hover {
    BORDER-LEFT-COLOR: #036;
    BORDER-BOTTOM-COLOR: #036;
    COLOR: #fff;
    BORDER-TOP-COLOR: #036;
    TEXT-DECORATION: none;
    BORDER-RIGHT-COLOR: #036;
    background-color: #0174BB;
}
td.submitted {
    background-color: #C8E4C4;
}
td.submitted1 {
    background-color: #C1C6C1;
}

#tab-level-1 {
    text-align: left;
}
ul.tab-ul {
    font-weight: bold;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 10px;
}
#tab-level-1 li {
    margin: 0 -1px;
}
ul.tab-ul li {
    display: inline;
}

#tab-level-1 li.active a {
    background-color: #6EAC2C;
}
#tab-level-1 li a:hover {
    background-color: #6EAC2C;
}
#tab-level-1 li a {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #097CB0;
    color: #FFFFFF;
}
ul.tab-ul li.active a {
    text-shadow: 0 -1px 1px #6EAC2C;
}
ul.tab-ul li a {
    display: inline-block;
    padding: 5px 10px;
    text-shadow: 0 -1px 1px #097CB0;
}
