/*
    saffron   #ff8b00
    green     #69b521
    lightblue #0298cf
    darkblue  #097cb0
    #0066CB
    #69B521
*/

body {
    color: #454545;
    margin: 0px;
    padding: 0px;
    font: 13px/18px Arial,Helvetica,sans-serif;
    text-decoration: none;
	width:1500px;
	margin-left:50px;
}
#login-header {
    height: 60px;
    position: relative;
    border-bottom: 3px solid #0066CB;
}
#header-logo {
    text-align: center;
    width: 200px;
    height: 55px;
}
#header-info {
    color: #3BA365; /*#69B521;*/
    float: right;
    padding: 10px;
    position: relative;
    font-weight: bold;
}
#header-info a {
    color: #0066CB;
}
#header-info a:hover {
    color: #ffffff;
    background-color: #161311;
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px; 
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px; 
    -webkit-border-top-left-radius: 5px;
}
#header-info span.active a { 
    color: #ffffff; 
    background-color: #161311;
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
#header {
    position: relative;
    border-bottom: 1px solid #454545; /*#DFDFDF;*/
    margin: 0;
    padding: 1px 0 0;
}
#footer {
    min-height: 60px;
    position: relative;
    background-color: #161311;
    border-top: 2px solid #454545; /*#DFDFDF;*/
}
#footer-data {
    color: #ffffff;
    margin: 10px auto;
    padding-left: 20px;
}
#footer-data a {
    color: #ffffff;
}
#footer-data a:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: #161311;
}
a { text-decoration: none; }
h1 { font-size: 17px;}
#header-submenus {
    border-top: 3px solid #161311;
}
ul.menu-ul { list-style: none; margin: 0; padding: 0; font-weight: bold; padding-left: 10px; }
ul.menu-ul li { display: inline; }
ul.menu-ul li a { display: inline-block; padding: 5px 10px;}
ul.menu-ul li.active a {  color: #ffffff;}

ul.menu-ul-1 { list-style: none; margin: 0; font-weight: bold; padding: 30px; }
#menu-level-1 { text-align: left; /* font-size: 1.1em; */ }
#menu-level-1 li { margin: 0 2px; }
#menu-level-1 li a {
    background-color: #F1F1F1; 
    color: #4D4D4D; /* height: 20px; */
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px; 
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px; 
    -webkit-border-top-left-radius: 5px;
}
#menu-level-1 li a:hover { color:#ffffff;background-color: #161311; }
#menu-level-1 li.active a { color:#ffffff; background-color: #161311; }

ul.menu-ul-2 { list-style: none; margin: 0; font-weight: bold; padding: 30px; }
#menu-level-2 { background-color: #161311; }
#menu-level-2 li a { color: #ffffff; }
#menu-level-2 li a:hover { color: #ffffff; background-color: #161311; }
#menu-level-2 li.active {
    border-bottom:8px solid #fff;
}
#menu-level-2 li.active a { 
    color: #000000; 
    background-color: #ffffff;
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* Firefox */
    /* Firefox */
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;

}

#menu-level-2 #a-imgIcon {
    top: 106px; 
    position: absolute;
}
#menu-level-2 .pointerIcon {
    background-image:url("../img/menu-active.gif");
    height: 5px;
    width: 10px;
}

ul.menu-ul-3 { list-style: none; margin: 0; font-weight: bold;}

#menu-level-3 { background-color: #161311; height: 30px; padding-left:10px;}
#menu-level-3 li a { color: #A79787; }
#menu-level-3 li a:hover { color: #ffffff; background-color: #161311; border-bottom: 1px solid #0066CB; padding-bottom:0px}
#menu-level-3 li.active {
    padding-top:5px;
    padding-bottom:10px;
}
#menu-level-3 li a.active { 
    color:#ffffff;
    border-bottom: 1px solid #7AB900;
    padding-bottom:0px;
}



#loading {
    min-width: 100px;
    z-index:999999;
    text-align:center;
    position: absolute; 
    top: 300px; 
    left: 400px;
    background-color: #454545;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 1px #ffffff;
    padding: 10px; 
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px; 
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px; 
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px; 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px;
}
.loading-list {
    min-width: 100px;
    z-index:999999;
    text-align:center;
    position: absolute; 
    background-color: #454545;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 1px #ffffff;
    padding: 10px; 
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px; 
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px; 
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px; 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px;
}

#nav2 {
    padding: 10px 5px;
    color: #aaaaaa;
    border-bottom: dotted #cccccc 1px;
}

.box-main {
    width: 624px;
}
.outer-box, .outer-boxl {
    border-right: 1px dotted #E9E9E9;
    float: left;
    margin: 0;
    padding: 0 15px 0 20px;
    /*width: 294px;*/
}
.box-block {
    float: left;
    margin: 0 10px 10px -20px;
    /*min-height: 385px;*/
    padding: 20px 20px 10px;
    /*width: 594px;*/
}
.inside-box {
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 1px 4px #DFDFDF;
    box-shadow: 0 1px 4px #DFDFDF;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
}
.box-block-title {
    border-bottom: 1px dotted #0066CB;
    /*float: right;*/
    /*margin: -42px 0 25px;*/
    width: 100%;
}
.login h3 {
    font-size: 17px;
    margin: 0 0 5px;
    padding: 0 0 10px;
}
#login-box {
    padding: 0 0 0 40px;
}
#login-box label {
    color: #454545;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px 0 0;
    text-align: right;
    width: 25%;
}
h3 {
    font-size: 17px;
    margin-bottom: 5px;
}


a:link, a:visited {
    color: #0066CB; 
    text-decoration: none;
    padding: 2px;
}
a:active {
    color: #0066CB; 
}

a:hover {
    color: #ffffff;
    background-color: #0066CB;
    text-decoration: none;
    padding: 2px;
}

a.imglink:hover {
    background-color: transparent;
}

.bdrbtm-td {
    border-bottom: 1px dashed #C7C7C7;
}
.td-bk {
   background-color:#edecec; 
}
.darkerbg {
    background-color: #F8F8F8;
}

.highlight {
    background-color: #f8f8f8;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.pt3 {
    padding-top: 3px;
}
.pt5 {
    padding-top: 5px;
}
.pt6 {
    padding-top: 6px;
}
.pt10 {
    padding-top: 6px;
}
.pR3{
    padding-right: 3px;
}
.pR5{
    padding-right: 5px;
}
.pR10{
    padding-right: 10px;
}
.pL30 {
    padding-left: 30px;
}
.pL10 {
    padding-left: 10px;
}
.pL5 {
    padding-left: 5px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pl5 {
    padding-left: 5px;
}
.bdrtop4 {
    border-top: 1px solid #F5F5F5;
}
.bdrbtm4 {
    border-bottom: 1px solid #F5F5F5;
}
.bdrbtm4  a {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.bdrbtm4  a:hover {
    color: #fff;
    background-color: #454545;
    font-weight: bold;
    text-decoration: none;
}
.bdrbtm4 img:hover{
   cursor: hand;
   cursor: pointer;
}
.td-filter {
    width: 25%;
    padding: 10px;
    border-left: 1px solid #F5F5F5;
}
.d-filter {
    min-height: 588px;
}
.td-content {
    width: 73%;
}
.td-content-pad {
    padding: 15px 15px 15px 15px;
}
.td-head {
    border-bottom: 1px solid #F0F0F0;
}
.d-td-title {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.d-td-head {
    padding-left: 30px;
}
.tbl-content {
    margin-top: 10px;
}
.tbl-tr {
    background-color: #FFFFFF;
}
.tbl-td-head {
    background-color: #EDF2F6;
    border-bottom: 1px solid #DAE7F2;
    color: #454545;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
}
.tbl-td-btm {
    border-bottom: 1px solid #F5F5F5;
}
#tbl_tasks, table.tasks{
}
#tbl_tasks tr, table.tasks tr {
    background-color: #FFFFFF;
}
#tbl_tasks th, table.tasks th {
    background-color: #EDF2F6;
    border-bottom: 1px solid #DAE7F2;
}
#tbl_tasks td, table.tasks td {
    color: #000000;
}
td.submitted {
    background-color: #F0FFEE;
} 
td.submitted1 {
    background-color: #DCFCDC;
}
#td-data tr:hover {
    background-color: #F9F9F9;
}
#td-data .tdbtm {
    border-bottom: 1px solid #F5F5F5;
}
#td-data .td-action {
    background-color: #F9F9F9;
    color: #3A3A3A;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
}
#tbl_tasks a, table.tasks a {
    color: #0066CB;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
#tbl_tasks a:hover, table.tasks a:hover {
    color:#FFFFFF;
    background-color: #0066CB;
}
#tbl_tasks .nobg a:hover, table.tasks .nobg a:hover {
    background-color: transparent;
}
#tbl_tasks a.imglink:hover, table.tasks a.imglink:hover {
    background-color: transparent;
}
#td-data img:hover {
   cursor: hand;
   cursor: pointer;
}
#d-data-add {
    color: #454545;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #F5F5F5;
}
#d-data-add th {
    text-align: left;
    font-weight: bold;
}
#d-data-add td {
    padding: 5px;
    text-align: left;
}
#d-data-add .multipleComm {
    /*border-top: 1px dashed #C7C7C7;*/
    padding-top: 10px;
}
#d-data-add .td-comm, .td-comm-first {
    background-color:#edecec;
}
#d-data-add .td-comm {
    border-top: 1px dashed #C7C7C7;
}
#d-data-add .td-comm a, .td-comm-first a {
    text-decoration: none;
}
#d-data-add .td-comm a:hover, .td-comm-first a:hover {
    background-color: #edecec;
}
#d-data-add select {
    width: 203px;
}

span.sep {
    color: #bbb;
}
.buttonNew {
    background-color: #0066CB;
    border-color: #E3E8F1 #0E1F5B #0E1F5B #E3E8F1;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    padding: 2px 15px;
    text-align: center;
    font-weight:bold;
    /* Firefox 13*/
    border-radius: 3px;
    /* Firefox */
    -moz-border-radius: 3px; 
    -webkit-border-radius: 5px;
}
.buttonDel {
    background-color: #0066CB;
    border-color: #E3E8F1 #0E1F5B #0E1F5B #E3E8F1;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    padding: 2px 15px;
    text-align: center;
    font-weight:bold;
    /* Firefox 13*/
    border-radius: 3px;
    /* Firefox */
    -moz-border-radius: 3px; 
    -webkit-border-radius: 5px;
}
.buttonCancel {
    background-color: #454545;
    border-color: #454545;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 11px;
    padding: 2px 15px;
    text-align: center;
    font-weight:bold;
    /* Firefox 13*/
    border-radius: 3px;
    /* Firefox */
    -moz-border-radius: 3px; 
    -webkit-border-radius: 5px;
}

input[type="text"],
input[type="file"],
input[type="password"],
select,
textarea {
    border: 1px solid #AAAAAA;
    font-size: 11px;
    outline: medium none;
    padding: 3px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="select"]:focus,
textarea:focus {
    color: #454545;
    -moz-box-shadow: 0 0 5px #0066CB;
    box-shadow: 0 0 5px #0066CB;
    border: 1px solid #0066CB !important;
    outline: medium none;
}
.stext {
    width:200px;
    color: #AAAAAA;
    border: 1px solid #AAAAAA;
}
.stext-focus {
    width:200px;
    color: #454545;
    border: 1px solid #454545;
}
.rtext {
    color: #EE0101;
    -moz-box-shadow: 0 0 5px #EE0101;
    box-shadow: 0 0 5px #EE0101;
    border: 1px solid #EE0101 !important;
    width:200px;
}
form {
    padding: 0px;
    margin: 0px;
}

.expand2fit {
    width: 99%;
}

.expand2halffit {
    width: 50%;
}

#content, div.setup-content {
    width: 1500px;
    min-height: 600px;
    margin: 10px auto;
}

div.info {
    /*
    background-color: #ffffcc;
    padding: 5px;
    text-align: left;
    border: solid #cccccc 1px;
    margin: 10px auto;
    line-height: 15pt;
    */
}

div.error {
   /* background-color: #ffdddd;
    padding: 5px;
    text-align: left;
    border: solid #cccccc 1px;
    margin: 10px auto;
    line-height: 15pt;
    */
}

div.warning {
}
.error {
    background:#C15252; /*#CB2026;*/
    color:#FFFFFF;
    font-weight:bold;
    padding-left:30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align:left;
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px; 
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px; 
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px; 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px;
    /*
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    */
}
.success, .info {
    background:#3BA365; /*#008000;*/
    color:#FFFFFF;
    font-weight:bold;
    padding-left:30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align:left;
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px; 
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px; 
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px; 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px;
}
.info a {
    color: #ffffff;
}
.info a:hover {
    background-color: #333333;
    color: #ffffff;
}
.fleft { float: left; }
.fright { float: right; }
.aleft { text-align: left; }
.aright { text-align: right; }
.acenter { text-align: center; }
.vamiddle { vertical-align: middle; }
.vatop { vertical-align: top; }
.clear { clear: both; }
.inline { display: inline; }
.fbold { font-weight: bold; }
.fnormal { font-weight: normal; }
.noborder { border: none; }
span.inlineblock, span.filename { display: inline-block; margin-right: 15px; }

.ui-cursor-default { cursor: default; }
.ui-button { padding: 2px 5px; }

/* Pagination Style */
.pages A {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	BACKGROUND: #fff;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	BORDER:1px solid #ddd;
	TEXT-DECORATION: none;
	color: #0066CB;
}
.pages A:hover {
	BORDER:1px solid #0066CB;
	COLOR: #fff;
	TEXT-DECORATION: none;
	background-color: #0066CB;
}
.this-page {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BORDER-LEFT-COLOR: #999;
	BACKGROUND: #fff;
	BORDER-BOTTOM-COLOR: #999;
	COLOR: #ff0084;
	BORDER-TOP-COLOR: #999;
	BORDER-RIGHT-COLOR: #999;
	font-family: 'Arial, Helvetica, sans-serif';
}

.inpput-error{
    border: 1px solid #FF033D;
    -moz-border-radius: 5px 5px 5px 5px;
    width: 99%;
}

/* Table sorter styles */
table.sortable th.header { cursor: pointer; }

table.sortable th.header span.asc { display: none; }
table.sortable th.header span.desc { display: none; }
table.sortable th.header span.sort { display: block; }

table.sortable th.headerSortUp  span.asc { display: none; }
table.sortable th.headerSortUp  span.desc { display: block; }
table.sortable th.headerSortUp  span.sort { display: none; }

table.sortable th.headerSortDown  span.asc { display: block; }
table.sortable th.headerSortDown  span.desc { display: none; }
table.sortable th.headerSortDown  span.sort { display: none; }

/* Address Book */
#abook-wrapper {
    clear: left;
    float: left;
    position: relative;
    /*width: 770px;*/
    min-width: 884px;
    font-size:14px;
}
#abook-wrapper a {
    color: #0066CB;
    padding: 2px;
    text-decoration: none;
    font-size:12px;
}
#abook-wrapper a:hover {
    color: #fff;
    background-color: #0066CB;
    text-decoration: none;
}
.abook-column-headers {
    background-color: #F1F1F1;
    border-bottom: 2px solid #F1F1F1;
    overflow: hidden;
}
.abook-column-headers .filter-header {
    /*width: 174px;*/
    width: 240px;
    text-align: left;
}
.abook-column-headers .list-header {
    /*width: 268px;*/
    width: 285px;
    text-align: left;
}
.abook-column-headers h3 {
    font-size: 12px;
    border-right: 2px solid #ECECEC;
    color: #454545;
    float: left;
    font-weight: normal;
    height: 14px;
    line-height: 14px;
    margin: 0;
    padding: 5px 6px;
    text-align: left;
}
.abook-column-headers h3 .alpha-link {
    cursor: pointer;
    display: block;
    float: right;
    padding-right: 9px;
    text-align: left;
}
.abook-column-headers h3 span {
    color: #006699;
    cursor: pointer;
    text-align: left;
}
.abook-column-headers .detail-header {
    text-align: left;
    border-right-width: 0;
    visibility: hidden;
    /*width: 288px;*/
}
.abook-column {
    text-align: left;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    float: left;
    height: 538px;
    position: relative;
}
#filter-list-panel {
    clear: both;
}
#filter-panel {
    line-height: 1.5;
    /*width: 186px;*/
    width: 250px;
}
#filter-panel .user-filter {
    padding: 10px 6px 10px 8px;
    position: relative;
}
#filter-panel .user-filter label {
    display: block;
    padding: 0;
}
#filter-panel .user-filter label span {
    display: none;
}
#filter-panel .user-filter label input {
    padding-right: 18px;
    width: 128px;
}
#filter-list ul {
    font-weight: normal;
    list-style: none outside none;
    overflow-y: auto;
    padding: 0;
    font-size:13px;
}
#filter-list ul .selection {
    background-color: #DDF0F8;
    cursor: default;
}
#filter-list ul li {
    cursor: pointer;
}
#filter-list .expanded ul {
    overflow-x: hidden;
}
#filter-list .collapsed ul {
    height: 0;
}
#filter-list ul ul {
    margin: 0 10px 0 0;
    overflow-y: auto;
    padding: 0 0 0 16px;
}
#list-panel {
    line-height: 1.3;
    /*width: 280px;*/
    width: 300px;
}
#list-panel ul {
    height: 536px;
    list-style: none outside none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    font-size:13px;
}
#list-panel ul li.letter-divider {
    background: url("../img/line.png") repeat-x scroll 0 20px transparent;
    border-bottom-width: 0;
    margin-right: 10px;
    padding-bottom: 0;
}
#list-panel ul .letter-divider span {
    background-color: #FFFFFF;
    color: #666666;
    font-size: 160%;
    font-weight: bold;
    padding: 0 5px;
}
#list-panel ul li {
    background: url("../img/dotted.png") repeat-x scroll 0 0 transparent;
    cursor: pointer;
    overflow: hidden;
    padding: 8px 10px 10px 0;
}
#list-panel ul li.letter-divider:hover {
    background-color: #ffffff;
}
#list-panel ul li.first {
    background-image: none;
}
#list-panel ul li:hover {
    background-color: #EDF2F5;
}
#list-panel ul li.selection {
    background-color: #DDF0F8;
}
#list-panel ul li div.conn-wrapper {
    float: left;
    width: 220px;
}
#list-panel input {
    clear: left;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 0 4px;
}
#list-panel ul li .conn-photo {
    float: left;
    height: 46px;
    width: 46px;
}
.abook-column .photo {
    background-color: #FFFFFF;
}
img.photo, span.photo {
    border: 1px solid #E6E6E6;
    display: block;
    padding: 2px;
}
#list-panel ul li .conn-name {
    color: #454545;
    display: block;
    font-size: 14px;;
    font-weight: bold;
    margin-left: 35px;
}
#list-panel ul li .conn-headline {
    color: #848484; /*#666666;*/
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin: 0 0 -2px 35px;
}
#list-panel ul li .conn-count {
    float: right;
    color: #848484; /*#666666;*/
    font-size: 11px;
    text-align: right;
    width: 30px;
}
#detail-panel1 {
    border-right: 2px solid #ECECEC;
    overflow: hidden;
    padding: 0 8px;
    /*width: 280px;*/
    width: 310px;
    overflow-x: hidden;
    overflow-y: auto;
}
#detail-panel .photo {
    float: right;
    margin: 8px 0 8px 16px;
}
#detail-panel .connection-name {
    color: #003399;
    font-size: 140%;
    font-weight: bold;
    padding: 8px 0 0;
}
#detail-panel .calc-height {
    width: 100%;
}
#detail-panel .info-and-actions {
    overflow: hidden;
    width: 100%;
}
#detail-panel .headline {
    font-size: 16px;;
    margin: 4px 0;
    padding-top: 10px;
    font-weight: bold;
}
#detail-panel .connection-info {
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 3px;
    padding-top: 5px;
}
#detail-panel .connection-info a {
    font-size: 10px;
}
#detail-panel ul {
    /*float: left;*/
    list-style: none outside none;
    margin: 0 20px 0 0;
    padding: 2px;
}
#detail-panel dl {
    clear: both;
    font-size: 13px;
    line-height: 1.4;
    overflow-y: auto;
    padding-top: 8px;
}
#detail-panel dl dt.first {
    margin-top: 0;
}
#detail-panel dl dt {
    font-weight: normal;
    margin-top: 8px;
}
#company-contact-list li {
    font-size: 13px;
}
#detail-panel p.default-message {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
    margin-top: 240px;
}
#detail-panel p.default-message span {
    display: block;
    font-size: 12px;
    font-weight: normal;
}
#alpha-drop-down {
    background-color: #FFFFFF;
    border: 2px solid #999999;
    display: none;
    overflow: auto;
    width: 156px;
}
#alpha-drop-down ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#alpha-drop-down li.enabled {
    color: #0066CB;
    cursor: pointer;
}
#alpha-drop-down li.enabled:hover {
    background-color:#DDF0F8;
}
#alpha-drop-down li {
    border: 1px solid #F0F0F0;
    color: #CCCCCC;
    float: left;
    font-weight: bold;
    font-size: 13px;
    padding: 4px 0;
    text-align: center;
    width: 24px;
}
#alpha-drop-down.dd-active{
    display:block;
    position:absolute;
    top:20px;
    left:390px;
}
/***********/
.d-block-table {
    border: 1px solid #DDDDDD;
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.d-dashed {
    border-bottom: 1px dashed #C7C7C7;
}
.d-block-table-rel {
    border: 1px solid #DDDDDD;
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
/** Tags ** */
.tags {
    color: #2b3840;
    font-size: 13px;
    font-family: "Lucida Grande", arial, sans-serif;
    text-shadow: 0 1px 1px #fff;
    background-color: #ddeefe;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1));
    border: 1px solid #acc3ec;
    border-top-color: #c0d9e9;
    padding: 2px 7px 2px 10px;

}
.tags-view {
     color: #666666;
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5));
    border-color: #bbb;
    border-top-color: #ccc;
    -webkit-box-shadow: 0 1px 1px #e9e9e9;
    -moz-box-shadow: 0 1px 1px #e9e9e9;
    box-shadow: 0 1px 1px #e9e9e9;

}

.public_holiday {
    background-color: #F0FFEE;
}
.timecard_util {
    background-color: #F0F0F0;
}
.timecard_submit {
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    /* Firefox */
    -moz-border-radius: 5px 5px 5px 5px;
    background: 50% 50% #ffffff;
    border: 1px solid #454545;
    color: #ff0084;
    font-weight: bold;
}
.timecard_submit:hover {
    BORDER-LEFT-COLOR: #0066dd;
    BORDER-BOTTOM-COLOR: #0066dd;
    COLOR: #fff;
    BORDER-TOP-COLOR: #0066dd;
    TEXT-DECORATION: none;
    BORDER-RIGHT-COLOR: #0066dd;
    background-color: #0066dd;
}
#productivity_factor {
    margin-top:10px;
    background-color: #C15252;
    float:right;
    width: 300px;
    /* Firefox 13*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    /* Firefox */
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
#productivity_factor p {
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    margin: 0px;
    padding-left:10px;
}   
.pFactor {
    font-weight: bold;
    color: #C15252;
}
.pFactor1 {
    font-weight: bold;
    color: #3BA365;
}
.active_one {
    background-color: #3BA365;
    color: #FFFFFF;
    font-size: 11px;
    margin: 3px 1px 1px;
    padding: 2px 5px;
    text-align: right;
    width: 55px;
    /* Firefox 13*/
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; 
    border-bottom-left-radius: 3px;
    /* Firefox */
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}
.inactive_one {
    /* Firefox 13*/
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; 
    border-bottom-left-radius: 3px;
    /* Firefox */
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;

    background-color: #C15252;
    color: #FFFFFF;
    font-size: 11px;
    margin: 3px 1px 1px;
    padding: 2px 5px;
    text-align: right;
    width: 75px;
}
/* Idea Tracker */
span.avatar {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CCCCCC;
    left:10px;
    padding:0;
    position:absolute;
    text-align:center;
    top:10px;
    width:60px;
}
span.avatar img {
    margin:5px 5px 3px;
}
.comment-meta {
    color:#999999;
    font-size:0.75em;
    margin:0 0 3px;
    padding:4px 0;
    position:relative;
    top:-2px;
}
.comment-meta a {
    color:#999999;
}
.comment-meta a:hover {
    color:#000;
    background-color:#fff;
}
div.commentlist {
    list-style:none outside none !important;
    margin:10px 0 0 !important;
    padding:0 !important;
    
    border-top:1px solid #DDDDDD;
    line-height:1.5em;
    background:none repeat scroll 0 0 #FFFFFF;
}
div.comments {
    /*min-height:130px;*/
}
div.list-title a:link, a:visited  {
    color: #0066CB;
    text-decoration: none;
}
div.list-title a:hover  {
    color:#fff;
    padding:8px;
    background-color: #0066CB;
    text-decoration: none;
}
div.list-title-details {
}
div.list-title-details a:link, a:visited  {
    color: #0066CB;
    padding:2px;
    text-decoration: none;
}
div.list-title-details a:hover  {
    color:#fff;
    padding:2px;
    background-color: #0066CB;
    text-decoration: none;
}
div.comments-even, div.comments-odd, div.comments-correct, div.comments-incorrect{
    /*background:none repeat scroll 0 0 #FFFFFF;
    border-bottom:1px solid #DDDDDD;
    */
    min-height:50px;
    padding:10px 10px 10px 86px;
    position:relative;
}

.comment-children {
    border-top:1px solid #DDDDDD;
    margin-top:10px !important;
    list-style:none outside none !important;
    margin:10px 0 0 !important;
    margin-left:10px !important;
    line-height:1.5em;
}
.comment-children-child {
    padding:10px 10px 10px 86px;
    position:relative;
}
.comment-reply {
    border-color:#2DAEE2;
    border-top-style:solid;
    border-top-width:5px;
    color:#333333;
    
    border-bottom:1px solid #2DAEE2;
    min-height:50px;
    padding:10px 10px 10px 86px;
    position:relative;
}
.comment-reply-odd {
    background:none repeat scroll 0 0 #F8F8F8;
}
.comment-reply-even {
    background:none repeat scroll 0 0 #FFFFFF;
}
.reply {
    text-align:right;
    height: 30px;
}
.comment-reply-link a{
    color:#FFFFFF;
    font-size:0.8em;
    font-weight:bold;
    padding:4px 6px;
    background-color:#2DAEE2;
}
.comment-reply-link a:hover {
    background-color:#85B763;
}
.draft-box, .open-box, .closed-box, .rejected-box, .queued-box {
    /* Firefox 13*/
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; 
    border-bottom-left-radius: 3px;
    /* Firefox */
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;

    color: #FFFFFF;
    font-size: 11px;
    margin: 3px 1px 1px;
    padding: 2px 5px;
    text-align: right;
    width: 75px;
}

.draft-box {
    background-color: #EFE711;
    color: #333333;
}
.queued-box {
    background-color: #0066CB;
}
.open-box {
    background-color: #3BA365;
}
.rejected-box {
    background-color: #C15252;
}
.closed-box {
    background-color: #FF0000;
}
.rejected-reason {
    background-color: #FFCFCF;
    border: 1px dashed #740901;
    /*
    color: #000000;
    font-family: monospace,'Courier New';
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    */
    letter-spacing: normal;
    line-height: 1.3em;
    orphans: 2;
    padding: 1em;
    text-indent: 0;
    text-transform: none;
    widows: 2;
    word-spacing: 0;
}
.user_label{
    width:200px;
}
.user_label_email{
    width:220px;
}
.personal_text{
    width:350px;
}
.personal_textarea{
    width:400px;
}
.tooltip {
         display:none;
         position:absolute;
         border:1px solid #333;
         background-color:#161616;
         border-radius:5px;
         padding:10px;
         color:#fff;
         font-size:12px Arial;
      }


table.gridtable a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table.gridtable a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table.gridtable a:active,
table.gridtable a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table.gridtable {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table.gridtable th {
    padding:5px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.gridtable th:first-child {
    text-align: center;
    padding-left:20px;
}
table.gridtable tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table.gridtable tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table.gridtable tr {
    text-align: center;
    padding-left:20px;
}
table.gridtable td:first-child {
    text-align: center;
    padding-left:20px;
    border-left: 0;
}
table.gridtable td {
    padding:8px !important;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.gridtable tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.gridtable tr:last-child td {
    border-bottom:0;
}
table.gridtable tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table.gridtable tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table.gridtable tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}
