/* $Id: globalss.css,v 1.14.2.6 2009/11/05 11:03:32 johnalbin Exp $ */

/*
 * globalss STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the globalss/globalss.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of globalss's drupal6-reference.css file
 *   Forum            See line 197 of globalss's drupal6-reference.css file
 *   Menus            See line 667 of globalss's drupal6-reference.css file
 *   News Aggregator  See line 20  of globalss's drupal6-reference.css file
 *   Polls            See line 287 of globalss's drupal6-reference.css file
 *   Search           See line 320 of globalss's drupal6-reference.css file
 *   User Profiles    See line 945 of globalss's drupal6-reference.css file
 */


/** body **/
  body
  {
    margin: auto;
    padding: 10px;
    font-family: Arial,Tahoma;
    font-size: 12px;
    width: 900px;
  }

  #page
  {
  	width: 900px;
  	border: 0px solid #cfcfcf;
  }

  #page-inner
  {
  }

/* header */
  #header
  {
	margin: 0px 0 0 0;
  	width: 900px;
  	height: 93px;
  }
#header-region .block-region
{
	display: block;
	margin: 0px 0.5em 1em;
	padding: 0.5em;
	position: relative;
	top: 0.5em;
}
#header-region *
{
	display: inline;
	line-height: 1.5em;
	margin-bottom: 0px;
	margin-top: 0px;
}

#header-inner
{
 	margin-bottom: 0px;
 	width: 900px;
	height: 88px;
}
  
.block-region{
background: transparent;
border: 2px dashed #B4D7F0;
font-size: 1.3em;
padding: 1em;
text-align: center;
}

div#sidebar-left .block-region {
margin: 0px 15px 0px 0px;
}

div#sidebar-right .block-region {
margin: 0px 0px 0px 15px;
}


  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin-top: 0px;
    /*
    margin-left: 20px;
    margin-bottom: 20px;
    */
    margin-left: 1px;
    margin-bottom: 12px;
    padding: 0;
  }

  #logo-image /* The actual logo image */
{
  	border:0 none;
    /*
	height:45px;
	width:160px;
    */
	margin-left:0px;
	margin-top: -2px;
	margin-bottom:0px;
}

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }
  div#navbar
  {
  	display:none;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
  	/* margin: -4px 0px 0px 0px; */
    margin: 0;
  	padding: 0px;
  }

  #main-inner
  {
    	margin-top:0px;
  		padding: 0px;
  }

/** content **/
  #content
  {
  	width:900px;
  	font-size: 12px;
  	font-family: arial,tahoma;
  	text-align: justify;
  }

  #content-inner
  {
  	display:block;
  	
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
   float: left;
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 1px; /* Undo system.css */
    padding-top: 4px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 5px;
    float: left;
    height: 20px;
    width: 780px;
    border: 0px solid #cfcfcf;
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
    float: left;
  }

 
 div.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
  margin-top:10px;
  margin-bottom: 10px;
}

div.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
  margin-top:10px;
  margin-bottom: 10px;  
}

  div.warning, tr.warning /* Medium priority messages */
  {
    border: 1px solid #f0c020;  /* Drupal core uses: 1px solid #f0c020 */
  }

div.status {
  color: #33a333;
  border-color: #c7f2c8;
  float: left;
  width: 800px; 
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
  margin-top:10px;
  margin-bottom: 10px;
}

div.tabs ul.primary {
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 0;
  height: 25px; /* FF hack, see float below */
  width: 700px;
  float: left;
  border-bottom: 1px solid #000000;
  /*line-height: 1em; /* FF hack, see float below */
}
/* @begin FF hacks, copied from Wikipedia's RTL tabs implementation */
div.tabs ul { clear:right;}
div.tabs li {padding: 0 0 0 10px; float: right;}
/* @end FF hacks */

div.tabs ul.primary li a {
  background: #fff url(tabs-off-rtl.png) right top no-repeat;
  border-style: none none none solid;
  margin-left: 10px;
  margin-right: 0;
}
div.tabs ul.primary li.active a {
  background: #369 url(tabs-on-rtl.png) right top no-repeat;
  border-right: none;
  border-left: 2px solid #369;
}

div.tabs ul.primary li a:hover {
  background-color:#FFFAF0;
  color:#FF4500;
}

div.tabs ul.secondary {
  padding: 10px 0 60px 0;
  line-height: 220%;
}

div.tabs ul.secondary li {
  padding: 0 10px 0 0;
  border-left: none;
}

div.tabs ul.secondary li a {
  background: #fff url(tabs-option-off-rtl.png) right center no-repeat;
  padding: 10px 25px 10px 0;
}

div.tabs ul.secondary li a.active {
  background: #fff url(tabs-option-on.png) right center no-repeat;
}

div.tabs ul.secondary li a:hover {
  background: #fff url(tabs-option-hover-rtl.png) right center no-repeat;
}

  .help /* Help text on a page */
  {
    margin: 1em 0;
    float: right;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

 div#content-area /* Wrapper for the actual page content */
  {
	width: 680px;
	float: left;
	line-height: 24px;
  }
  
  div#content-area form#node-admin-content div#node-admin-filter fieldset
  {
  	float:left;
  	width:680px;
  }

  div#content-area form#node-admin-content div.container-inline fieldset
  {
  	float:left;
  	width: 580px;
  }
  
  div.node-form fieldset
  {
  	float:left;
  	width:680px;
  	margin-top: 20px;
  }
  
  div.node-form fieldset ul
  {
  	float:left;
	list-style: none;
  }
    
div.resizable-textarea
{
	width: 680px;
	}
  ul.links /* List of links */
  {
    margin: 1em 0;
    padding: 0;
  }

  ul.links.inline
  {
    margin: 0;
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }
  
  strong b
  {
  	font-weight: bolder;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
  	float:left;
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
div#sidebar-left
  {
  	width: 280px;
  	float: left;
  	display: block;
  	margin: 0px!important;
  }

 div#sidebar-left div#block-user-1 ul.menu
 {
	list-style: none;
	padding: 0;
	margin: 0;
 }
 
div#block-menu-menu-services div.block-inner
 {
 	padding-top: 110px;
	padding-left: -25px; 		
 }

div#block-menu-menu-solutions div.block-inner
 {
 	padding-top: 110px;
	padding-left: -25px;
 }
div#block-menu-menu-menu-clients div.block-inner
 {
 	padding-top: 110px;
	padding-left: -25px;
 }
div#block-menu-menu-about-global-soft div.block-inner
 {
 	padding-top: 110px;
	padding-left: -25px; 	
 }

div#block-menu-menu-ervices2 div.block-inner
 {
 	padding-top: 110px;
	padding-left: -25px; 	
 }

div#sidebar-left div#block-user-1 ul.menu li.leaf li.expanded
{
	margin: 0 0.15em;	
}

div#sidebar-left div#block-user-1 ul.menu li.leaf li.expanded
{
	height: 2em;
	line-height: 2em;
	float: left;
	display: block;
	color: #0d2474;
	text-decoration: none;
	text-align: center;
	list-style: none;
}

div#sidebar-left div.block-inner ul.menu 
{
	list-style:none outside none;
	margin-left: -24px!important;
}

div#sidebar-left ul.menu li {
	list-style:none outside none;
	margin: 0px 0 0 0em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 5px;
}
div#sidebar-left ul.menu li.leaf {
	list-style:none outside none;
	margin: 0px 0 0 0em;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

div#sidebar-left ul.menu li.first {
	list-style:none outside none;
	margin: 0px 0 0 0em;
	padding-top: 1px!important;
	padding-bottom:1px;
}

div#sidebar-left ul.menu li.last {
	list-style:none outside none;
	margin: 0px 0 0 0em;
	padding-top: 3px!important;
}

div#sidebar-left ul.menu li.active-trail  
{
	margin:0 0 0 0;
	padding-left: 5px;
	padding-right: 5px;	
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FFF;	
}

/*div#sidebar-left ul.menu li.expanded
{
	margin:0 0 0 0;
	padding-left: 5px;
	padding-right: 5px;	
	background-color: #CCDAFF;
	
}*/

div#sidebar-left ul.menu li.expanded
{
    color: #0d2474!important;
    background-color: #fff!important;
    padding-left: 5px;
}




div#sidebar-left ul.menu li.active-trail ul.menu  {
	background-color: #FFFFFF;
}
	
div#sidebar-left ul.menu li.expanded ul.menu li.leaf {
	list-style:none outside none;
	margin:0 0 0 0;
	padding-left: 25px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

div#sidebar-left ul.menu li.expanded ul.menu li.expanded {
	list-style:none outside none;
	margin:0 0 0 0;
	padding-left: 20px;
	padding-right: 5px;	
	background-color: #fff;	
}



div#sidebar-left ul.menu li.expanded ul.menu li.collapsed {
	list-style:none outside none;
	margin:0 0 0 0;
	padding-left: 25px;
	padding-right: 5px;	
	background-color: #fff;	
}



div#sidebar-left ul.menu li.active-trail ul.menu li.expanded ul.menu {
	background-color: #FFFFFF;
}
	
div#sidebar-left ul.menu li.expanded ul.menu li.expanded ul.menu li.leaf {
	list-style:none outside none;
	margin:0 0 0 0;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	
}
div#sidebar-left ul.menu li.expanded ul.menu li.active-trail {
	list-style:none outside none;
	margin:0 0 0 0;
	padding-left: 20px;
	padding-right: 5px;	
	background-color: #fff;	
    /*background-repeat: no-repeat;
    list-style-image:url("../../misc/images/forward_arrow_green.gif")
    */
}
div#sidebar-left ul.menu li.expanded ul.menu li.expanded ul.menu li.active-trail {
	list-style:none outside none;
	margin:0 0 0 0;
	padding-left: 10px;
	padding-right: 5px;	
	background-color: #fff;	
    /*background-repeat: no-repeat;
    list-style-image:url("../../misc/images/forward_arrow_green.gif");
    */
}

div#sidebar-left ul.menu li.expanded ul.menu li.expanded ul.menu li.active-trail span.lselected-level-2 {
	background-color: #fff;
	color: #7BC143;
	list-style:none outside none;
	margin:0 0 0 -5px;
	padding-left: 10px;
	padding-right: 5px;	
	/*background-color: #CCDAFF;*/
	/*background-color: #7BC143;*/
	width: 212px;
}
div#sidebar-left ul.menu li.expanded ul.menu li.active-trail span.lselected-level-1 {
	list-style:none outside none;
	margin:0 0 0 -5px;
	padding-left: 10px;
	padding-right: 5px;	
	width: 226px;
	color: #7BC143;
    background-color: #fff;
}
div#sidebar-left ul.menu li.active-trail div#lselected {
	margin:0 0 0px -5px;
	padding-left: 10px;
	padding-right: 5px;	
	/*background-color: #CCDAFF;*/
	background-color: #7BC143;
    color: #fff;
	width:245px;
}
ul#level-0 li{
    border-bottom:1px solid #ccc;
    width: 248px;
    padding-top:0px;
    margin-top:0px;
}
ul#level-1 li{
    border-bottom:1px solid #fff;
    width: 245px;
}
ul#level-2 li{
    border-bottom:1px solid #fff;
    width: 245px;
}
.active-menu-span{
    background:url("../../misc/images/forward_arrow_green.gif") no-repeat scroll -1% 43%;
    display: block;
    left: -15px;
}
/*div#sidebar-left ul.menu ul.menu li.active-trail
{
	list-style:none outside none;
	margin:0 0em 0 0em;
	background-color: #CCDAFF;
}

div#block-menu-menu-services
{
    margin-top: 15px;   
    margin-left: -5px;
	width: 260px;
	float: left;
	background-color: 
}


div#sidebar-left div#sidebar-inner div#block-menu-menu-services ul.menu
{
	list-style: none;
	padding: 0;
	margin: 0;
}

div#sidebar-left div#block-menu-menu-services ul.menu li.leaf
{
	margin: 3px 0.15em;
	list-style: none; 
    line-height: 22px;
    font-family: Arial, Tahoma;    
    font-size: 12px;
}

div#sidebar-left div#block-menu-menu-services ul.menu li a
{
	display: block;
}

div#sidebar-left div#block-menu-menu-services ul.menu li.leaf a
{
	text-decoration: none;
	color: #0065A4!important;
	padding-top: 1px;
    line-height: 30px;
    font-family: Arial, Tahoma;    
    font-size: 12px;
}

div#sidebar-left div#block-menu-menu-services ul.menu li.last a
{
	text-decoration: none;
	color: #0065A4!important;
    font-family: Arial, Tahoma;
    font-size: 12px;
    padding-top :0;
    margin-top: -7px;
    padding-left: 7px;
}

div#sidebar-left div#block-menu-menu-services ul.menu li.active-trail
{
	/*margin: 0 0.15em;*
	list-style: none;
	/*background-color: #EBEBEB!important;
	color: #0065A4!important;
	padding-top: 1px;
	/* height: 30px; *
    line-height: 30px;
    font-family: Arial, Tahoma;    
    font-size: 12px; 
}

div#sidebar-left div#block-menu-menu-services ul.menu li a
{
	padding-left: 1px;
}

div#sidebar-left div#block-menu-menu-services ul.menu li.active-trail a
{
    /* margin: 0 0.15em; *
    list-style: none;
    /*background-color: #EBEBEB!important;*
    color: #0065A4!important;
    padding-top: 1px;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Tahoma;    
    font-size: 12px;   
    margin-left: 6px;   
}

div#block-menu-menu-services ul.menu li ul.menu
{
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

div#block-menu-menu-services ul.menu li.collapsed a
{
    color: #0065A4!important;
    margin-left: 6px;  
}

/*
div#block-menu-menu-services ul.menu li.expanded
{
    color: #494949!important;
    background-color: #fff!important;
}


div#block-menu-menu-services ul.menu li.expanded a
{
    color: #0065A4!important;
    /* background-color: #fff!important; 
}

div#block-menu-menu-services ul.menu li.expanded ul.menu li.leaf
{
    color: #fff!important;
    /*background-color: #cfcfcf!important;*
    line-height: 24px;
}

div#block-menu-menu-services ul.menu li.expanded ul.menu li.leaf a
{
    color: #0065A4!important;
    /* background-color: #cfcfcf!important; *
}

/*
div#block-menu-menu-services ul.menu li.expanded
{
    background-color: #ebebeb;
}
*

div#block-menu-menu-services ul.menu li.active-trail a.active
{
	background-color: #CCDAFF;
	color: #99CCFF;
}

div#block-menu-menu-about-global-soft
{
    margin-top: 15px;   
    margin-left: -5px;
	width: 258px;
	float: left;
}

div#sidebar-left div#sidebar-inner div#block-menu-menu-about-global-soft ul.menu
{
	list-style: none;
	padding: 0;
	margin: 0;
	

}

div#sidebar-left div#block-menu-menu-about-global-soft ul.menu li.leaf
{
	margin: 0 0.15em;
	list-style: none;
    height: 24px;
    line-height: 24px;
    font-family: Arial, Tahoma;    
    font-size: 12px;	
}

div#sidebar-left div#block-menu-menu-about-global-soft ul.menu li.leaf a
{
	text-decoration: none;
	color: #0065A4!important;
	padding-top: 1px;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Tahoma;    
    font-size: 12px;	
}

div#sidebar-left div#block-menu-menu-about-global-soft ul.menu li.active-trail
{
	margin: 0 0.15em;
	list-style: none;
	background-color: #CCDAFF;
	color: #0065A4;
	padding-top: 1px;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Tahoma;    
    font-size: 12px;	
}

div#block-menu-menu-ervices2
{
    margin-top: 15px;   
    margin-left: -5px;
    width: 258px;
    float: left;
}

div#sidebar-left div#sidebar-inner div#block-menu-menu-ervices2 ul.menu
{
	list-style: none;
	padding: 0;
	margin: 0;
}

div#sidebar-left div#block-menu-menu-ervices2 ul.menu li.leaf
{
	margin: 0 0.15em;
	list-style: none;
    height: 24px;
    line-height: 22px;
    font-family: Arial, Tahoma;    
    font-size: 12px;	
}

div#sidebar-left div#block-menu-menu-ervices2 ul.menu li.leaf a
{
	text-decoration: none;
	color: #0065A4!important;
	padding-top: 1px;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Tahoma;    
    font-size: 12px;	
}

div#sidebar-left div#block-menu-menu-ervices2 ul.menu li.active-trail
{
	margin: 0 0.15em;
	list-style: none;
	background-color: #CCDAFF;
	color: #0065A4;
	padding-top: 1px;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Tahoma;    
    font-size: 12px;	
}
*/
  div#sidebar-left-inner
  {
  	margin-right:9px!important;
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
    /* margin-top: -14px; */
    float: left;
  }

  .node ul.links /* Node links. See also the ul.links declaration above. */
  {
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment ul.links /* Comment links. See also the ul.links declaration above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comment-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-secondary-links /* "Secondary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
     background-color: #fff;  /* Drupal core uses a #eee background */
  }

  tr.odd
  {
     background-color: #eee;  /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
  
  }
  
  li a.hover /* The active item in a Drupal menu */
  {
  
  }

div#header-blocks div#block-menu-primary-links /* "Primary links" block */
{
	  	background-color: #0065A4;
		font-size: 13px;
		font-family: arial;
	  	height: 30px;
	  	padding: 0px;
	  	margin-top: 0px;
	  	margin-left: 0px;
	  	margin-right: 0px;
	  	margin-bottom: 0px;	  		  	
	  	width: 900px;
	  	display: block;
		/* margin: 0 0.15em 2em 0; */
}

div#header-blocks div#block-menu-primary-links div.content ul.menu
{
	list-style: none;
	padding: 0;
  	margin-top: 0px;
  	margin-left: 0px;
  	margin-right: 100px;
  	margin-bottom: 0px;
	font-size: 13px;
	font-family: arial;  	
}
div#header-blocks div#block-menu-primary-links div.content ul.menu li.leaf /* "Primary links" block */
{
	float: right;
	margin: 1px 0.1em 0 0;
	list-style: none;
	/* width: 124px; */
    padding: 0 20px;
	text-align: center;
	font-size: 13px;
	font-family: arial;
}

div#header-blocks div#block-menu-primary-links div.content ul.menu li.leaf a /* "Primary links" block */
{
	color: #ffffff!important;
	/* font-weight: bolder; */
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	font-family: arial;
	vertical-align: middle;	
}

div#header-blocks div#block-menu-primary-links div.content ul.menu li.leaf:hover/* "Primary links" block */
{
	color: #ffffff!important;
	font-weight: bolder;
	text-decoration: none;
	background-color: #009DDC;
	height: 28px;
	font-size: 13px;
	font-family: arial;
	vertical-align: middle;	
}

div#header-blocks div#block-menu-primary-links div.content ul.menu li.active-trail /* "Primary links" block */
{
	background-color: #009DDC;
	color: #ffffff!important;
	font-weight: bolder;
	text-decoration: none;
	height: 28px;
	text-align: center;
	font-size: 13px;
	font-family: arial;
	vertical-align: middle;
}

div#sidebar-left
{
	background-color: #fff;	
	color: #000000;
	width: 280px!important;
	float: left;
	margin-top: 8px!important;
	border: 0px solid #000;
}
div#sidebar-left a
{
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

div#main-content
{
	/*margin-top: 34px;*/
	margin-top: 5px;
	margin-left: 295px;
	width: 605px;
	float: right;
	line-height: 16px;
	letter-spacing: .01em;
	font-family: arial;
	font-size: 13px;
}

div#main-content h1
{
	font-family: Arial,Tahoma,Verdana;
	font-size:22px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
    color:#003366;
    line-height: 20px;
}
div#main-content h3
{
	font-family: Arial,Tahoma,Verdana;
	font-size:16px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 4px;
    color:#003366;
    line-height: 18px;
}
div#main-content h3 a
{
	font-family: Arial,Tahoma,Verdana;
	font-size:16px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 4px;
    color:#003366;
}
div#main-content h3 a:hover
{
	font-family: Arial,Tahoma,Verdana;
	font-size:16px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 4px;
    color:#7AC143 !important;
}
div#main-content div#sub-heading span strong
{
	color: #000;
	line-height: 30px;
	margin-bottom: 20px;	
	font-family: arial;
	font-size: 14px;
}

/** Drupal forms **/

.form-item label {
  color: #369;
}
.item-list .title {
  color: #369;
  font-size: 0.85em;
}  
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 1em 0 0;
    float: left;
    width: 680px;
  }
  td div.form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 1em 0 0;
    float: left;
    width: 60px;
  }  
  th.select-all input.checkboxes
  {
    width: 50px;
  }

  div.form-item label.option
  {
    margin: 0em 0em 0 10px;
    float: left;
    width: 100%;
  }
  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
    margin-left: 10px;
  }
  
  div#small_header
  {
  	float:right;
  	font-size: 11px;
  	display: inline;
  	color: #748593;
	margin-right: 1px;
	/* margin-top:25px; */
	margin-top:48px;  	
  }
  div#small_header a.smalllinks:link, a.smalllinks:active, a.smalllinks:visited 
  {
  	font-size: 11px;
  	font-family: arial;
  	color: #748593!important;
  	text-decoration: none;
/*  	font-weight: none;*/
  }  
 
  div#small_header a.smalllinks:hover 
  {
  	text-decoration: underline;
  }    

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
    width: 675px;
    float: left;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  	background-color: #0075A0;
  	border: 1px solid #000;
  	margin: 1px;
  	color :#fff;
  	font-weight: bold;
  	padding-left: 2px ;
  	padding-right: 2px ;
  	padding-top: 3px ;
  	padding-bottom: 3px ;  	
  	text-align: center;
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link /* The "Log in using OpenID" links. */
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  }

  #user-login-form li.user-link /* The "Cancel OpenID login" links. */
  {
    margin-top: 1em;
  }

  #user-login ul
  {
    margin: 1em 0;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
  
  li.homeli
  {
  	display: inline;
  	line-height: 5px;
  }
  
div#bullet-arrow {
	float:left;
	width:18px;
}

li.homeli p a {
	color: #294259!important;
	text-decoration: none;
}

table#hometable
{
	width: 900px;
	/* margin: 18px 0 0 0; */
    margin-top: 0px;
	padding: 0px;
	border: 0px;
	
}
img#main-image
{
	width:450px;
	height: 208px;
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
/*	border-style: initial; 
	border-color: initial;*/
}

div#main-image-div
{
	width: 450px;
	height: 208px;
	padding: 0px;
	margin: 0px;
}

div#main-text
{
	background: #4C5764;
	width: 450px;
	height: 208px;
	float:left;
}

div#main-text div
{
	background: #4C5764;
	width: 450px;
	height: 208px;
	line-height: 24px;
	letter-spacing: 1px;
}

div#main-text p
{
	margin-left: 35px;
	margin-top: 0px;
	margin-right: 35px;
	color: #ffffff;
	font-size: 13px;
	font-family: Arial, Tahoma;
	font-style: italic;
	line-height: 20px;
	letter-spacing: 1px;
}
img#main-menu-bar
{
	width: 900px;
	height: 30px;
}

table#hometable td
{
	color: #5C5C5C;
	font-size: 12px;
	text-align: justify;
	line-height: 24px;
}

#home-box-main {
float:left;
height:303px;
padding-left:15px;
padding-top:26px;
width:152px;
}

#home-box
{
	background-image:url(../../misc/images/home-box-bg.gif);
	background-repeat:repeat-x;
	float:left;
	height:329px;
	margin-right: 4px;
	padding:0;
	width:192px;
}

#home-box-left {
background-image:url(../../misc/images/home-box-left-vertical.gif);
background-repeat:no-repeat;
float:left;
height:329px;
width:7px;
}

#home-box-right {
background-image:url(../../misc/images/home-box-right-vertical.gif);
background-repeat:no-repeat;
float:right;
height:329px;
width:7px;
}
	
.content-in-boxes {
color:#5C5C5C;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
line-height:18px;
text-align:justify;
}

#home-G2000-text2 {
float:left;
padding-top:5px;
width:150px;
}

#home-services-boxes {
float:left;
padding-bottom:17px;
height: 98px;
}

#home-row3-left {
float:left;
height:300px;
padding-left:0px;
padding-right:5px;
/* width:240px; */
/* margin-top:-22px; */
}

#main-img-div
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	float: left;
}

div#left-main-text
{
	width: 265px;
	font-family: arial, helvetica;
	font-size: 12px;
	line-height: 24px;
	text-align: justify;
}

div.admin-panel
{
	color: #000;
	border: 0px solid #000;
	margin: 3px;
	width: 310px;
	text-align: justify;
}

div.admin-panel a
{
	color: #000;
}

div.admin-panel ul.menu li.leaf a:visited
{
	color: #000;
	font-weight: normal;
}

.innerpage-highlighted-content  {
	
	color:#003366; 
	font-family: Arial,Helvetica,sans-serif!important;
	font-size: 16px !important;
	font-weight: bold;
	margin-bottom: 20px!important;
	line-height: 30px;
}

.innerpage-highlighted-content  a {
	font-size: 16px!important;
	font-weight: bold;
}
tbody th {
	border-bottom:1px solid #CCCCCC;
}

th, thead th, tbody th {
	border-bottom:medium none;
	padding-right:0;
	text-align:left;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset  {
	font-family:arial;
}

th  {
	border-bottom:3px solid #CCCCCC;
	padding-right:1em;
	text-align:left;
}

div#footer  {
	background-color:#6F7F8E;
	float:left;
	height:30px;
	width:900px;
	padding-bottom:0px;
}

div#copyright-row3-left  {
	float:left;
	height:100%;
	width:300px;
}

div#copyright-row3-right  {
	float:left;
	margin:0;
	width:600px;
}

div#copyright  {
	color:#A7B1BA;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
    /*
	padding-left:5px;
	padding-top:5px;
    */
    line-height: 30px;
}

div#footer-links {
	color:#D7DBE0;
	float:right;
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
	padding-right:5px;
    /* padding-top:5px; */
    line-height: 30px;
}

div#footer-links a.footer-link:link, a.footer-link:active, a.footer-link:visited  {
	color:#D7DBE0!important;
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
}

div#footer-links a.footer-link:hover  {
	color: #fff!important;
	text-decoration: underline;
}


table.overview  {
border-collapse:collapse;
border-spacing:0;
}

table.overview th {
	background-color:#0392C8;
	border-bottom:2px solid #6699CC;
	border-left:1px solid #6699CC;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	text-indent:5px;
}

table.overview th.head-th {
	background-color:#B5C5F4;
	border-bottom:2px solid #6699CC;
	border-left:1px solid #6699CC;
	font-weight:bold;
}
table.overview td {
	border: 1px solid #99CCFF;
}

.content  {
	color:#5C5C5C;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:24px;
	text-align:justify;
}

div#sidebar-left .content  {
	color:#5C5C5C;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:24px;
	text-align:justify;
	margin-top: -5px;
}

[if IE] div#sidebar-left .content  {
	color:#5C5C5C;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:24px;
	text-align:justify;
	margin-top: -9px;
}

div#innerpage-image-box  {
	background-color: green;
	float:left;
	height:130px;
	width:280px;
	margin-top: -23.76px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	display: block;
	
}

#our-value-proposition-text  {
background-color:#F7F7F7;
float:left;
padding-left:10px;
padding-right:5px;
width:245px;
margin-top: -6px;
}

#our-value-proposition-block  {
float:left;
width:260px;
background-color: #67819A;
height: 43px;
}

#value-prop-curve  {
float:left;
height:33px;
width:260px;
}

.innerpage-highlighted-content a {
color:#003366;
text-decoration:none;
}

table#process 
{
	background-color: rgb(255, 255, 255); 
	border: 1px solid rgb(102, 153, 204); 
	border-collapse: separate;
}

a {
	color:#003366!important;
	text-decoration:none;
}

a:hover
{
	color:#7AC143!important;
    text-decoration:none;
}

.highlighted-content  {
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
line-height:24px;
text-align:justify;
}

#contact-ph-icon  {
float:left;
padding-top:2px;
width:21px;
}

#contact-email-icon  {
float:left;
padding-top:4px;
width:21px;
}

#contact-corporate-headq-text  {
float:left;
height:210px;
padding-right:10px;
width:220px;
}

#contact-ph-no1  {
float:right;
width:190px;
}

a.visible-links:link,a.visible-links:visited, a.visible-links:active {
color:#494949!important;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
line-height:24px;
text-decoration:underline;
}

#corporate-headq-map  {
float:right;
height:210px;
margin:0;
width:300px;
}
.highlighted-content  {
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
line-height:24px;
text-align:justify;
}

#contact-details-row1  {
float:left;
height:260px;
width:580px;
}

#contact-text-row2  {
float:left;
height:260px;
width:580px;
}

#enterprise-integration-text  {
background-color:#F7F7F7;
float:left;
padding-left:10px;
padding-right:5px;
}

#innerpage-scalable-group  {
background-color:#FFFFFF;
padding:20px 10px 10px;
width:585px;
}

element.style  {
background-color:#376092;
color:#FFFFFF;
font-size:16px;
font-weight:bold;
}

#careers-opportunities-heading {
background-color:#0392C8;
float:left;
padding-left:10px;
width:240px;
}

.heading-white {
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
line-height:24px;
text-align:justify;
}

div#careers-opportunities  {
float:left;
width:250px;
}

div#careers-opportunities1  {
float:right;
width:250px;
}

div.admin
{
	width: 680px;
	float:left;
	margin-bottom: 20px;
	display: block;
}

div.body-field-wrapper
{
	float:left;
}

form#user-login div
{
	float: left;
	width: 510px;
	margin-bottom: 5px;
	margin-left: 5px;
}

form#user-login div input.form-text
{
	float: left;
	width: 150px;
}

form#user-login div div#edit-name-wrapper label
{
	width: 150px;
	float:left;
	margin-left: 5px;
}

form#user-login div div#edit-pass-wrapper label
{
	width: 150px;
	float:left;
	margin-left: 5px;	
}

div#main-content p, div#main-content td, div#main-content th
{
	font-family: arial;
	font-size: 13px;
	line-height: 16px;
	text-align: justify;
	padding-top: 1px;
    color:#585A5C;
}
div#main-content ul, div#main-content li 
{
	font-family: arial;
	font-size: 13px;
	padding-top: 1px;
    color:#585A5C;
}
div#main-content li a
{
	font-family: arial;
	font-size: 13px;
    color:#585A5C !important;
}

div#main-content li a:hover
{
	font-family: arial;
	font-size: 13px;
    color:#7BC143 !important;
}
td p.content
{
	font-family: arial;
	font-size: 13px;
	line-height: 16px;
	text-align: justify;
	padding-top: 1px;
}

td.textHeader
{
	padding-bottom: 20px;
}

td.textHeader1
{
	padding-top: 22px;
	padding-bottom: 0px;
}
p
{
	display: block;
	margin: 1em 0;
}

div#home-what-we-do-inner {
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 0px;
	width: 585px;
	float: left;
}

div.profile
{
	padding-top: 5px;
	padding-bottom: 2px;
}
/*div#content-area #block-admin-display-form div
{
	float: left;
}*/

div#content-area #block-admin-display-form table
{
	float: left;
	width: 860px;
}

/*div#content-area #block-admin-display-form table td a
{
	float: left;
	margin-left: 60px;
}*/

/*div#content-area #block-admin-display-form div a 
{
	margin-left: 25px;
}*/

div#content-area form#node-admin-content table
{

	width: 860px;
}

div#content-area form#node-admin-content div div#node-admin-filter
{
	margin-left: 70px;
	width: 580px;
}

div#content-area form#node-admin-content div div.container-inline
{
	margin-left: 70px;
	width: 580px;
}
div#edit-filter-status-wrapper
{
	width: 380px;
	display: block;
	position: relative;
}

div#edit-operation-wrapper
{
	width: 480px;
	display: block;
	position: relative;
}

div#node-admin-buttons
{
	position: relative;
}

div#content-area form#node-admin-content div table
{
	width: 860px;
}
div#content-area form#node-admin-content div table.sticky-header
{
	width: 860px;
}

div#content-top
{
	float:left;
	width:900px;
}

div#content-top div.block-region
{
	float:left;
	width:900px;
}

table#ser1 th
{
	background-color: rgb(55, 96, 146);
	color: rgb(255, 255, 255); 
	font-weight: bold; 
	font-size: 16px;
}

/*table#ser1 td
{
	background-color: rgb(55, 96, 146);
	color: rgb(255, 255, 255); 
	font-weight: bold; 
	font-size: 16px;
}*/

div#left-spacer
{
	background-color: #7BC143;
	width: 20px;
	float: right;
	margin: 0px;
	padding: 0px;
	height: 100px;
}
div.block-block
{
	padding: 0px;
	margin: 0px;
}

tr.draggable a.tabledrag-handle {
  float: left;
  margin: -0.4em -0.5em -0.4em 0;
  padding: 0.42em 0.5em 0.42em 1.5em;
}

div#left-image-div
{
	 float: left; 
	 width: 280px;
	 margin: 0px;
	 padding: 0px;
}

div#left-image-div1
{
	float: left; 
	width: 260px;
	margin:0; 
	padding:0;
}

/* Testimonials */
.block-testimonial {
    border: solid #0065A4 1px;
}

.block-testimonial-header {
    background-color: #0065A4;
    font-size: 110%;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 2px;
}

.block-testimonial-body, .block-testimonial-footer {
    padding: 10px;
    line-height: 16px;
    font-style: italic;
}

.block-testimonial-footer {
    /* margin-top: 20px; */
    text-align: right;
    font-style: normal;
}

.block-testimonial-footer table {
    float: none;
    margin: 0;
    width: auto;
}

.block-testimonial-footer table td {
    text-align: right;
}

/* TEXT ROTATION WITH CSS - Vertical */
.dVtextAlign{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
div#div-solutions-block-head a {
    color: #585A5C !important;
    font-size: 10px;
}
div#div-solutions-block-head a:hover {
    background-color:#fff;
    color: #7BC143 !important;
    font-size: 10px;
}

div#div-solutions-block-tail a {
    color: #7BC143 !important;
    font-size: 10px;
    font-weight: bold;
}
div#div-solutions-block-tail a:hover {
    background-color:#fff;
    color: #7BC143 !important;
    font-size: 10px;
}

