<script type="text/javascript">
$(function() {

  $("#adj_hours").focus();

});
</script>
<form method="post" action="adjust_pto_action.php" id="frmPto" name="frmPto">
 <input type="hidden" name="adj_date" value="{{$adj_date}}">
 <input type="hidden" name="adj_id" value="{{$adj_id}}">
 <input type="hidden" name="id" value="{{$user->getId()}}">
 <input type="hidden" name="utabId" value="6">
   <table cellspacing="0" cellpadding="0" border="0" width="50%" id="tbl_tasks">
            <tr><td height="20"></td></tr>  
            <tr id='tr-file_name'>
                <th class="aleft pt3 pb5 pL10">Hours</th>
                <td class="aleft pt3 pb5 pL10"> 
                    <input type="text" name="adj_hours" id="adj_hours" value="{{$adj_hours}}" style="width:40px;">
                </td>
            </tr> 
            <tr><td height="10"></td></tr>
            <tr id='tr-file_name'>
                <th class="aleft pt3 pb5 pL10">Reason</th>
                <td class="aleft pt3 pb5 pL10"> 
                    <input type="text" name="adj_reason" id="adj_reason" value="{{$adj_reason}}" >
                </td>
            </tr> 
            <tr><td height="20"></td></tr>    
            <tr><td colspan="2" align="center"><input type="submit" name="save_adjustment" value="SAVE" ></td></tr>       
        </table>
</form>

