{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
        
    </head>

    <body>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="alerts.common.html"}}
        {{/if}}
        <script>
            var index = {{$alertCount}};
            jQuery(function($){
                //configTinyMCE("#reminder_text-0");
                //configTinyMCE("#reminder_text-1");
                $("#btnSave").click(function() {
                    submitSettings();
                });
                $("#add_more").click(function() {
                    index++;
                    var tds = $('#tr-0').html().replace("Reminder","Reminder #"+index);
                    tds = tds.replace("Reminder1","Reminder #"+index);
                    tds = tds.replace("img-0","img-"+index);
                    tds = tds.replace("removeRow()","removeRow("+index+");");
                    $("#tr-save").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
                });

            });
            function removeRow(id) {
                $("#tr-"+id).remove();
            }
            function submitSettings() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#alerts_settings").serialize();
                    $.ajax({
                        url:    'alerts.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load alert settings.","Reminder Settings");
                                },
                        success: function(v) { 
                                    loadSetup('alerts.list.php','Reminder Settings');
                                 }
                     
                    }); 
                {{else}}
                    $("#alerts_settings").submit();
                {{/if}}
            }
        </script>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Alert Settings</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            {{/if}}
            <br>
				{{include file="table.alerts.list.html"}}
        </div>
    </body>

</html>
