{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
        <script>
            jQuery(function($){
            });
            function disable_userbox(v) {
                if(v == 'CRON') {
                    $("#email").val('0');
                    $("#email").attr("disabled","disabled");
                }
                else {
                    $("#email").removeAttr("disabled");
                }
                
                if(v == 0) {
                    $("#cron").removeAttr("disabled");
                }
                else {
                    $("#cron").attr("checked",false);
                    $("#cron").attr("disabled","disabled");
                }
            }
        </script>
    </head>

    <body>
        {{*include file="auditlog.common.html"*}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="10%" class="pt3 pb5 pL10">
                        <h1>Activity Logs</h1>
                    </td>
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                        <form action="auditlog.list.php" method="get" id="frm_filter">
                        From <input type="text" name="from_date" id="txtFromDate" value="{{$from_date|format_date}}" class="datepicker" style='width:70px;'/>&nbsp;&nbsp;
                        To <input type="text" name="to_date" id="txtToDate" value="{{$to_date|format_date}}" class="datepicker" style='width:70px;'/>&nbsp;&nbsp;
                        <select id='action' name='action' onchange="disable_userbox(this.value);">
                            <option value='0'> -- All Actions-- </option>
                            {{foreach key=i item=m from=$actions}}
                            <option value="{{$i}}" {{if $i eq $sel_action}}selected{{/if}}>{{$m}}</option>
                            {{/foreach}} 
                        </select>&nbsp;&nbsp;
                        <select id='status' name='status'>
                            <option value='0'> -- All Status-- </option>
                            {{foreach key=i item=m from=$status_arr}}
                            <option value="{{$i}}" {{if $i eq $status}}selected{{/if}}>{{$m}}</option>
                            {{/foreach}} 
                        </select>&nbsp;&nbsp;
                        <select name="email" id="email" {{if $sel_action == "CRON"}}disabled{{/if}}>
                            <option value="0"> -- All User -- </option>
                            {{foreach item=i from=$users}}
                            <option value="{{$i->getEmail()}}" {{if $email eq $i->getEmail()}}selected{{/if}}>{{$i->getName()}}</option>
                            {{/foreach}}
                        </select>&nbsp;&nbsp;
                        <input type="checkbox" name="cron" id="cron" value="1" {{if $hide_cron eq 1}}checked{{/if}} {{if $sel_action != ""}}disabled{{/if}}/>
                        <label for='cron'>Hide Cron Activity</label>
                        &nbsp;&nbsp;<input type="submit" name="btnFilter" id="btnFilter" value="Filter Logs"/>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="auditlog.list.php?excel=1">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            {{if $auditlogs}}
            {{include file="table.auditlog.html"}}
            {{else}}
            <div class="info">
                No audit logs found.
            </div>
            {{/if}}
        </div>
        {{include file="footer.html"}}
    </body>

</html>
