{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
        <style>
            #calendar { font-size: 110%; }
            #calendar table thead th { padding: 5px; }
            #calendar a { padding: 0; }
            #calendar a:hover { padding: 0; background-color: transparent; }
            #calendar table { border: none; }
            #calendar td { background-color: #fff; font-size: 1em; }
        </style>
        <link href="css/jquery.fullcalendar.css" type="text/css" rel="stylesheet"/>
        <link href="css/jquery.tooltip.css" type="text/css" rel="stylesheet"/>
        <style>
            {{foreach item=i from=$event_colors}}
            {{if $i.class_name eq ''}}
            .fc-event, .fc-agenda .fc-event-time, .fc-event a {
                background-color: {{$event_colors.default.bgcolor}};
                border-color: {{$event_colors.default.bgcolor}};
                color: {{$event_colors.default.color}};
            }
            {{else}}
            .{{$i.class_name}}, .fc-agenda .{{$i.class_name}} .fc-event-time, .{{$i.class_name}} a {
                background-color: {{$i.bgcolor}};
                border-color: {{$i.bgcolor}};
                color: {{$i.color}};
            }
            {{/if}}
            {{/foreach}}

            {{foreach item=i from=$user_colors}}
            .{{$i.class_name}}, .fc-agenda .{{$i.class_name}} .fc-event-time, .{{$i.class_name}} a {
                background-color: {{$i.bgcolor}};
                border-color: {{$i.bgcolor}};
                color: {{$i.color}};
            }
            {{/foreach}}

            #calendar td.fc-sat, #calendar td.fc-sun { background-color: #EEEEEE; }
            .fc-grid .fc-day-number { font-size: 2em; }


            #tooltip {
                padding: 0;
                border: solid #DDD 5px;
                /*border: solid #2DAEE2 5px;*/
                opacity: 1;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }

            #tooltip table {
                border: none;
                padding: 0;
            }

            {{foreach item=i from=$event_colors}}
            {{if $i.class_name eq ''}}
            #tooltip td {
                background-color: {{$event_colors.default.bgcolor}};
                color: {{$event_colors.default.color}};
            }
            {{else}}
            #tooltip.{{$i.class_name}} td {
                background-color: {{$i.bgcolor}};
                color: {{$i.color}};
            }
            {{/if}}
            {{/foreach}}

            {{foreach item=i from=$user_colors}}
            #tooltip.{{$i.class_name}} td {
                background-color: {{$i.bgcolor}};
                color: {{$i.color}};
            }
            {{/foreach}}

            #ui-datepicker-div {
                z-index: 99999;
            }
        </style>
        <script src="js/jquery.fullcalendar.js"></script>
        <script src="js/jquery.tooltip.js"></script>
        <script>
            var data = {{$data}};
            $(function(){
                {{if $loginuser->isAdmin()}}
                $("#sel_user_id_1").show();
                {{else}}
                $("#sel_user_id_1").show();
                {{/if}}

                function show_event_editor(event){
                    $("#frm_event").get(0).reset();
                    $("#hdn_redirect_user_id").val($("#sel_user_id_1").val());
                    $("#frm_event input.datefield").datepicker();
                    $("#event_action").val("ADD");
                    $("#hdn_id").val(0);
                    $("#sel_client_id > option:not(:first)").remove();
                    $("#sel_project_id > option:not(:first)").remove();
                    $("#sel_subproject_id > option:not(:first)").remove();
                
                    if(event){
                        $("#event_action").val("MODIFY");
                        $("#hdn_id").val(event.data.id);
                        $("#txt_title").val(event.data.title);
                        $("#ta_description").val(event.data.description);
                        $("#txt_start_date").val(event.data.start_date_mdy);
                        $("#txt_end_date").val(event.data.end_date_mdy);
                        $("#sel_user_id_2").val(event.data.user_id);
                        sel_populate("#sel_client_id", data.usersArr[$("#sel_user_id_2").val()].clients);
                        $("#sel_client_id").val(event.data.client_id); 
                        sel_populate("#sel_project_id", data.usersArr[$("#sel_user_id_2").val()].clients[$("#sel_client_id").val()].projects);
                        $("#sel_project_id").val(event.data.project_id);
                        if(data.usersArr[$("#sel_user_id_2").val()].clients[$("#sel_client_id").val()].projects[$("#sel_project_id").val()].subprojects != undefined) {
                            sel_populate("#sel_subproject_id", data.usersArr[$("#sel_user_id_2").val()].clients[$("#sel_client_id").val()].projects[$("#sel_project_id").val()].subprojects);
                            $("#sel_subproject_id").val(event.data.subproject_id);
                        }
                        
                        $("#chk_is_holiday").removeAttr("checked");
                        if(event.data.is_holiday) $("#chk_is_holiday").attr("checked", "checked");

                        $("#sel_status").val(event.data.status);
                    }
                    else {
                        $("#sel_user_id_2").val($("#sel_user_id_1").val());
                        if($("#sel_user_id_2").val() > 0) {
                            sel_populate("#sel_client_id", data.usersArr[$("#sel_user_id_2").val()].clients);
                            $("#sel_client_id").val($("#sel_client_id_1").val());
                            if($("#sel_client_id").val() > 0) {
                                sel_populate("#sel_project_id", data.usersArr[$("#sel_user_id_2").val()].clients[$("#sel_client_id").val()].projects);
                                $("#sel_project_id").val($("#sel_project_id_1").val());
                                if($("#sel_project_id").val() > 0) {
                                    $("#sel_user_id_2").val($("#sel_user_id_1").val());
                                    if(data.usersArr[$("#sel_user_id_2").val()].clients[$("#sel_client_id").val()].projects[$("#sel_project_id").val()].subprojects != undefined) {
                                        sel_populate("#sel_subproject_id", data.usersArr[$("#sel_user_id_2").val()].clients[$("#sel_client_id").val()].projects[$("#sel_project_id").val()].subprojects);
                                        $("#sel_subproject_id").val($("#sel_subproject_id_1").val());
                                    }
                                }
                            }
                        }
                    }
                
                    $('#event-edit-form').dialog('open');
                }

                {{if $loginuser->isAdmin() || $loginuser->isCalendarManager()}}
                function show_holiday_editor(event) {
                    $("#frm_holiday").get(0).reset();
                    $("#frm_holiday input.datefield").datepicker();
                    $("#holiday_action").val("ADD");
                    $("#holiday_id").val(0);
                    $("#chk_holiday").removeAttr("checked");
                    $("#chk_pto").removeAttr("checked");
                    $("#tr-user-ids").show();
                    $("#tr-holiday-status").show();
                    $("#chk_pto").attr("checked", "checked");
                    $("#chk_india").attr("checked", "checked");
                    $("#tr-holiday-in").hide();
                    if(event){
                        $("#holiday_id").val(event.data.id);
                        $("#holiday_action").val("MODIFY");
                        $("#txtHolidayTitle").val(event.data.title);
                        $("#txtHolidayDescription").val(event.data.description);
                        $("#txtHstart_date").val(event.data.start_date_mdy);
                        $("#txtHend_date").val(event.data.end_date_mdy);
                        $("#sel_holiday_user_id").val(event.data.user_id);
                        
                        $("#chk_is_holiday").removeAttr("checked");
                        if(event.data.is_holiday) $("#chk_is_holiday").attr("checked", "checked");
                        if(event.data.is_holiday) {
                            $("#chk_holiday").attr("checked", "checked");
                            $("#tr-user-ids").hide();
                            $("#tr-holiday-status").hide();
                            $("#tr-holiday-in").show();
                            if(event.data.holiday_in == "INDIA") {
                                $("#chk_india").attr("checked","checked");
                            }
                            else if(event.data.holiday_in == "USA") {
                                $("#chk_usa").attr("checked","checked");
                            }
                            else {
                                $("#chk_india").attr("checked","checked");
                            }
                        }
                        else {
                            $("#chk_pto").attr("checked", "checked");
                            $("#tr-holiday-in").hide();
                        }

                        $("#selHolidayStatus").val(event.data.status);
                    }

                    $('#holiday-edit-form').dialog('open');
                }

                
                $('#btn_add_holiday').click(function(){
                    show_holiday_editor();
                    
                    var dialog_selector = "#holiday-edit-form";
                    
                    $(dialog_selector).parent().find("button").each(function() {
                        if( $(this).text() == 'Delete' && $('#holiday_id').val() > 0 ) {
                            //$(this).attr('disabled', true);
                              $(this).show();
                        }
                        else if( $(this).text() == 'Delete') {
                            $(this).hide();
                        }
                    });
                });

                $('#holiday-edit-form').dialog({
                    dialogClass: 'holiday-edit-frm',
                    title: 'Holiday/PTO Editor',
                    autoOpen: false,
                    width: 400,
                    modal: true,
                    buttons: {
                        
                        Cancel: function(){
                            $(this).dialog('close');
                        },
                        Save: function(){
                            var $this = $(this);
                            if($("#chk_pto").is(":checked")) {
                                if($("#sel_holiday_user_id").val() < 1) {
                                    jAlert("Please select a user!","PTO/Holiday");
                                    $("#sel_holiday_user_id").focus();
                                    return false;
                                }
                            }
                            if($("#txtHolidayTitle").val() == "") {
                                jAlert("Please enter the title!","PTO/Holiday");
                                $("#txtHolidayTitle").focus();
                                return false;
                            }
                            if($("#txtHstart_date").val() == "") {
                                jAlert("Please enter the start date!","PTO/Holiday");
                                $("#txtHstart_date").focus();
                                return false;
                            }
                            $.ajax({
                                type: 'POST',
                                url: 'ajax.calendar.event.edit.action.php',
                                data: $('#frm_holiday').serialize(),
                                dataType: 'json',
                                success: function(data){
                                    jAlert(data.result,"PTO/Holiday");
                                    if(data.status){
                                        $('#calendar').fullCalendar('refetchEvents');
                                        $this.dialog('close');
                                    }
                                },
                                error: function(){
                                    jAlert('An error occured while processing this request.',"PTO/Holiday");
                                },
                                complete: function(){
                                }
                            });
                        },
                        Delete: function(){
                            var $this = $(this);
                            jConfirm('<br><h1>Are you sure?</h1><br><b>Do you really want to delete this event?</b>','PTO/Holiday',function(r){
                                var id = $('#holiday_id').val();
                                if(r) {
                                    $.ajax({
                                        type: 'POST',
                                        url: 'ajax.calendar.event.delete.action.php',
                                        data: {id: id},
                                        dataType: 'json',
                                        success: function(data){
                                            if(data.status){
                                                $('#calendar').fullCalendar('removeEvents', id);
                                            }
                                            else{
                                                jAlert('An error occured while processing this request.',"PTO/Holiday");
                                            }
                                        },
                                        error: function(){
                                            jAlert('An error occured while processing this request.',"PTO/Holiday");
                                        },
                                        complete: function(){
                                            $this.dialog('close');
                                        }
                                    });
                                }
                                else {
                                    $this.dialog('close');
                                }
                            });
                        }
                    }
                });
                {{/if}}

                $('#btn_add_event').click(function(){
                    show_event_editor();
                    var dialog_selector = "#event-edit-form";
                    
                    $(dialog_selector).parent().find("button").each(function() {
                        if( $(this).text() == 'Delete' && $('#hdn_id').val() > 0 ) {
                              $(this).show();
                        }
                        else if( $(this).text() == 'Delete') {
                            $(this).hide();
                        }
                });
                });
                $('#event-edit-form').dialog({
                    title: 'Event Editor',
                    autoOpen: false,
                    width: 400,
                    modal: true,
                    buttons: {
                        
                        Cancel: function(){
                            $(this).dialog('close');
                        },
                        Save: function(){
                            var $this = $(this);
                            if($("#sel_user_id_2").val() < 1) {
                                jAlert("Please select a user!","Event");
                                $("#sel_user_id_2").focus();
                                return false;
                            }
                            if($("#sel_client_id").val() < 1) {
                                jAlert("Please select a client!","Event");
                                $("#sel_client_id").focus();
                                return false;
                            }
                            if($("#sel_project_id").val() < 1) {
                                jAlert("Please select a project!","Event");
                                $("#sel_project_id").focus();
                                return false;
                            }
                            if($("#sel_user_id_2").val() < 1) {
                                jAlert("Please select a user!","Event");
                                $("#sel_user_id_2").focus();
                                return false;
                            }
                            if($("#txt_title").val() == "") {
                                jAlert("Please enter the title!","Event");
                                $("#txt_title").focus();
                                return false;
                            }
                            if($("#txt_start_date").val() == "") {
                                jAlert("Please enter the start date!","Event");
                                $("#txt_start_date").focus();
                                return false;
                            }
                            $.ajax({
                                type: 'POST',
                                url: 'ajax.calendar.event.edit.action.php',
                                data: $('#frm_event').serialize(),
                                dataType: 'json',
                                success: function(data){
                                    jAlert(data.result,"Event");
                                    if(data.status){
                                        $('#calendar').fullCalendar('refetchEvents');
                                        $this.dialog('close');
                                    }
                                },
                                error: function(){
                                    jAlert('An error occured while processing this request.',"Event");
                                },
                                complete: function(){
                                    //$this.dialog('close');
                                }
                            });
                        },
                        Delete: function(){
                            var $this = $(this);
                            jConfirm('<br><h1>Are you sure?</h1><br><b>Do you really want to delete this event?</b>','Event',function(r){
                                var id = $('#hdn_id').val();
                                if(r) {
                                    $.ajax({
                                        type: 'POST',
                                        url: 'ajax.calendar.event.delete.action.php',
                                        data: {id: id},
                                        dataType: 'json',
                                        success: function(data){
                                            if(data.status){
                                                $('#calendar').fullCalendar('removeEvents', id);
                                            }
                                            else{
                                                jAlert('An error occured while processing this request.',"Event");
                                            }
                                        },
                                        error: function(){
                                            jAlert('An error occured while processing this request.',"Event");
                                        },
                                        complete: function(){
                                            $this.dialog('close');
                                        }
                                    });
                                }
                                else {
                                    $this.dialog('close');
                                }
                            });
                        }
                    }
                });
                
                $("#chkUserColor").change(function(){
                    this.form.submit();
                });
                $("#sel_user_id_1").change(function(){
                    $("#sel_client_id_1").val(0);
                    $("#sel_project_id_1").val(0);
                    $("#sel_subproject_id_1").val(0);
                    this.form.submit();
                });
            
                $('#calendar').fullCalendar({
                    editable: false,
                    allDayDefault: true,
                    firstDay: 1,
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    eventClick: function(cal_event, js_event, view){
                        if(cal_event.data.type == "EVENT") {
                            show_event_editor(cal_event);
                            var dialog_selector = "#event-edit-form";
                            
                            $(dialog_selector).parent().find("button").each(function() {
                                if( $(this).text() == 'Delete' && $('#hdn_id').val() > 0 ) {
                                    //$(this).attr('disabled', true);
                                      $(this).show();
                                }
                                else if( $(this).text() == 'Delete') {
                                    $(this).hide();
                                }
                            });
                        }
                    {{if $loginuser->isAdmin() || $loginuser->isCalendarManager()}}
                        if(cal_event.data.type == "PTO_HOLIDAY") {
                            show_holiday_editor(cal_event);
                            var dialog_selector = "#holiday-edit-form";
                            
                            $(dialog_selector).parent().find("button").each(function() {
                                if( $(this).text() == 'Delete' && $('#holiday_id').val() > 0 ) {
                                    //$(this).attr('disabled', true);
                                      $(this).show();
                                }
                                else if( $(this).text() == 'Delete') {
                                    $(this).hide();
                                }
                            });
                        }
                    {{/if}}
                    },
                    eventRender: function(event, element){
                        if(event.description){
                            element.tooltip({
                               bodyHandler: function(){
                                  return event.description;
                               },
                               showUrl: false,
                               extraClass: event.className[0]
                            });
                         }
                    },
                    events: "ajax.calendar.events.php?client_id={{$client_id}}&project_id={{$project_id}}&subproject_id={{$subproject_id}}&user_id={{$user_id}}&chkUserColor={{$chkUserColor}}"
                });

                $("#sel_user_id_2").change(function() {
                    if($("#sel_user_id_2").val() > 0) {
                        sel_populate("#sel_client_id", data.usersArr[$("#sel_user_id_2").val()].clients);
                    }
                    else {
                        $("#sel_client_id > option:not(:first)").remove();
                        $("#sel_project_id > option:not(:first)").remove();
                        $("#sel_subproject_id > option:not(:first)").remove();
                    }
                });

                $("#sel_client_id").change(function() {
                    $("#sel_project_id > option:not(:first)").remove();
                    $("#sel_subproject_id > option:not(:first)").remove();
                    if($("#sel_client_id").val() > 0) {
                        sel_populate("#sel_project_id", data.usersArr[$("#sel_user_id_2").val()].clients[$("#sel_client_id").val()].projects);
                    } 
                });
                $("#sel_project_id").change(function() {
                    $("#sel_subproject_id > option:not(:first)").remove();
                    if($("#sel_project_id").val() > 0) {
                        sel_populate("#sel_subproject_id", data.usersArr[$("#sel_user_id_2").val()].clients[$("#sel_client_id").val()].projects[$("#sel_project_id").val()].subprojects);
                    } 
                });

                $("#frm_calendar").find("select").change(function(){
                    $("#frm_calendar").submit();
                });

                $("#chk_pto").click(function() {
                    $("#tr-user-ids").show();
                    $("#tr-holiday-status").show();
                    $("#tr-holiday-in").hide();
                });

                $("#chk_holiday").click(function() {
                    $("#tr-user-ids").hide();
                    $("#tr-holiday-status").hide();
                    $("#tr-holiday-in").show();
                });
                
            });
            function sel_populate(sel, data){
                $(sel + "> option:not(:first)").remove();
                if(data){
                    $.each(data, function(i, v){
                        $(sel).append("<option value='" + v.id + "'>" + v.name + "</option>");
                    });
                }
            }
        </script>
    </head>
    <body>
        {{include file="calendar.common.html"}}
        <div id="nav2">
            {{if $loginuser->isAdmin() }}
            <a href="client.add.php" class="linkbutton">Add Client</a>
            <a href="project.add.php" class="linkbutton">Add Project</a>
            <input id="btn_add_holiday" type="button" value="Add PTO/Holiday"/>
            <!--<input id="btn_add_event" type="button" value="Add Event"/> -->
            {{/if}}
            {{if $loginuser->isCalendarManager()}}
            <!-- <input id="btn_add_event" type="button" value="Add Event"/> -->
            {{/if}}
        </div>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <form method="get" action="calendar.view.php" id="frm_calendar" name="frm_calendar">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td width="20%" class="aleft pt3 pb5 pL10">
                            <h1>Calendar</h1>
                        </td>
                        <td class="aright pt3 pb5 pL10 pR5" width="80%">
                            <input type="checkbox" name="chkUserColor" id="chkUserColor" value="1" {{if $chkUserColor eq 1}}checked{{/if}}/><b>Show user colors</b>&nbsp;&nbsp;
                            <select id="sel_user_id_1" name="user_id">
                                {{if $loginuser->isAdmin() or $loginuser->isCalendarManager()}}
                                <option value="0"> -- All Users -- </option>
                                {{/if}}
                                {{foreach item=user from=$users1}}
                                <option value="{{$user->getId()}}" {{if $user_id eq $user->getId()}}selected="selected"{{/if}}>{{$user->getName()}}</option>
                                {{/foreach}}
                            </select>
                            <select id="sel_client_id_1" name="clientid">
                                <option value="0">-- All Clients --</option>
                                {{if $user_id gt 0}}
                                {{foreach item=client from=$clients1}}
                                <option value="{{$client.id}}" {{if $client_id eq $client.id}}selected="selected"{{/if}}>{{$client.name}}</option>
                                {{/foreach}}
                                {{else}}
                                {{foreach item=client from=$clients1}}
                                <option value="{{$client->getId()}}" {{if $client_id eq $client->getId()}}selected="selected"{{/if}}>{{$client->getName()}}</option>
                                {{/foreach}}
                                {{/if}}
                            </select>
                            <select id="sel_project_id_1" name="projectid">
                                <option value="0">-- All Projects --</option>
                                {{if $user_id gt 0}}
                                {{foreach item=project from=$projects}}
                                <option value="{{$project.id}}" {{if $project_id eq $project.id}}selected="selected"{{/if}}>{{$project.name}}</option>
                                {{/foreach}}
                                {{else}}
                                {{foreach item=project from=$projects}}
                                <option value="{{$project->getId()}}" {{if $project_id eq $project->getId()}}selected="selected"{{/if}}>{{$project->getName()}}</option>
                                {{/foreach}}
                                {{/if}}
                            </select>
                            <select id="sel_subproject_id_1" name="subprojectid">
                                <option value="0">-- All Subprojects --</option>
                                {{if $user_id gt 0}}
                                {{foreach item=subproject from=$subprojects}}
                                <option value="{{$subproject.id}}" {{if $subproject_id eq $subproject.id}}selected="selected"{{/if}}>{{$subproject.name}}</option>
                                {{/foreach}}
                                {{else}}
                                {{foreach item=subproject from=$subprojects}}
                                <option value="{{$subproject->getId()}}" {{if $subproject_id eq $subproject->getId()}}selected="selected"{{/if}}>{{$subproject->getName()}}</option>
                                {{/foreach}}
                                {{/if}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align='right' colspan='2' class='pR5'>
                            <a id="export" href="calendar.view.php?excel=1&client_id={{$client_id}}&project_id={{$project_id}}&subproject_id={{$subproject_id}}&user_id={{$user_id}}">Export to excel</a>
                            <div class='d-dashed'></div>
                        </td>
                    </tr>
                </table>
            </form>
            <br/>
            <div id="calendar"></div>
            <div id="event-edit-form">
                <form method="post" action="calendar.event.edit.action.php" id="frm_event">
                    <input type="hidden" id="hdn_redirect_user_id" name="redirect_user_id" value="0"/>
                    <input type="hidden" id="hdn_id" name="id" value="0"/>
                    <input type="hidden" id="event_action" name="event_action" value="ADD_EVENT"/>
                    <table cellspacing="0" cellpadding="5" border="0" width="100%">
                        <tr>
                            <td class="fbold" width="90">User</td>
                            <td>
                                <select id="sel_user_id_2" name="user_id">
                                    {{if $loginuser->isAdmin() or $loginuser->isCalendarManager()}}
                                    <option value='0'>-- Select User --</option>
                                    {{/if}}
                                    {{foreach item=user from=$users1}}
                                    <option value="{{$user->getId()}}">{{$user->getName()}}</option>
                                    {{/foreach}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold" width="90">Client</td>
                            <td>
                                <select id="sel_client_id" name="client_id">
                                    <option value="0">-- Select Client --</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold" width="90">Project</td>
                            <td>
                                <select id="sel_project_id" name="project_id">
                                    <option value="0">-- Select Project --</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold" width="90">Subproject</td>
                            <td>
                                <select id="sel_subproject_id" name="subproject_id">
                                    <option value="0">-- Select Subproject --</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold">Title</td>
                            <td><input type="text" id="txt_title" name="title" class="expand2fit"/></td>
                        </tr>
                        <tr>
                            <td class="fbold">Description</td>
                            <td><textarea id="ta_description" name="description" rows="3" class="expand2fit"></textarea></td>
                        </tr>
                        <tr>
                            <td class="fbold">Status</td>
                            <td>
                                <select id="sel_status" name="status">
                                    <option value="PENDING">Pending</option>
                                    <option value="CONFIRMED">Confirmed</option>
                                    <!--<option value="OTHER">Other</option>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold">Start Date</td>
                            <td><input type="text" id="txt_start_date" name="start_date" class="datefield"/></td>
                        </tr>
                        <tr>
                            <td class="fbold">End Date</td>
                            <td><input type="text" id="txt_end_date" name="end_date" class="datefield"/></td>
                        </tr>
                    </table>
                </form>
            </div>
            {{if $loginuser->isAdmin()}}
            <div id="holiday-edit-form">
                <form method="post" action="calendar.event.edit.action.php" id="frm_holiday">
                    <input type="hidden" id="holiday_user_id" name="holiday_user_id" value="0"/>
                    <input type="hidden" id="holiday_id" name="id" value="0"/>
                    <input type="hidden" id="holiday_action" name="holiday_action" value="ADD_HOLIDAY"/>
                    <table cellspacing="0" cellpadding="5" border="0" width="100%">
                        <tr>
                            <td><input type="radio" id="chk_pto" name="pto_holiday" value="PTO"/> PTO</td>
                            <td><input type="radio" id="chk_holiday" name="pto_holiday" value="HOLIDAY"/> Holiday</td>
                        </tr>
                        <tr id="tr-holiday-in">
                            <td><input type="radio" id="chk_india" name="holiday_in" value="INDIA"/> India</td>
                            <td><input type="radio" id="chk_usa" name="holiday_in" value="USA"/> USA</td>
                        </tr>
                        <tr id="tr-user-ids">
                            <td class="fbold" width="90">User</td>
                            <td>
                                <select id="sel_holiday_user_id" name="holiday_user_id">
                                    <option value='0'>-- Select User --</option>
                                    {{foreach item=user from=$users1}}
                                    <option value="{{$user->getId()}}">{{$user->getName()}}</option>
                                    {{/foreach}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold">Title</td>
                            <td><input type="text" id="txtHolidayTitle" name="txtHolidayTitle" class="expand2fit"/></td>
                        </tr>
                        <tr>
                            <td class="fbold">Description</td>
                            <td><textarea id="txtHolidayDescription" name="txtHolidayDescription" rows="3" class="expand2fit"></textarea></td>
                        </tr>
                        <tr id="tr-holiday-status">
                            <td class="fbold">Status</td>
                            <td>
                                <select id="selHolidayStatus" name="selHolidayStatus">
                                    <option value="PENDING">Pending</option>
                                    <option value="CONFIRMED">Confirmed</option>
                                    <!--<option value="OTHER">Other</option>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="fbold">Start Date</td>
                            <td><input type="text" id="txtHstart_date" name="Hstart_date" class="datefield"/></td>
                        </tr>
                        <tr>
                            <td class="fbold">End Date</td>
                            <td><input type="text" id="txtHend_date" name="Hend_date" class="datefield"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        {{/if}}
        </div>
         {{include file="footer.html"}}
    </body>
</html>

