{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
        
    </head>

    <body>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="category.common.html"}}
        {{/if}}
        <script>
            jQuery(function($){
                $("#btn_cancel").click(function(){
                    $("#hdn_id").val('0');
                    //$("#sel_group_id").val(0);
                    $("#txt_name").val("");
                    $("#btn_save").val("Add");
                });
                $("#btn_save").click(function(){
                    submitCat();
                });

                $("a#cat-edit").click(function(){
                    $this = $(this);
                    //id = $this.attr("href").split("id=")[1];
                    id = $this.attr("val");

                    return false;
                });
                $("#sel_group_id").change(function(){
                    searchTable($(this).val());
                });

            });
            function deleteCat(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the Document Type : <i>'+$("#name-"+id).text()+'</i>?</b><br><br>Please make a note that all uploaded files under this document type will autometically move to "Other" document type.',"Project Document Type", 
                            function(returnvalue) {
                                if (returnvalue) {
                                    $("#hdn_id").val(id);
                                    $("#txt_name").val($("#name-" + id).text());
                                    $("#action").val("DELETE");
                                    submitCat();
                                }    
                            }
                    );
            }
            function editCat(id,gid) {
                    $("#hdn_id").val(id);
                    //$("#sel_group_id").val(gid);
                    $("#txt_name").val($("#name-" + id).text());
                    $("#action").val("EDIT");
                    $("#btn_save").val("Save");
            }
            function submitCat() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmCat").serialize();
                    $.ajax({
                        url:    'category.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load document types.","Project Document Types");
                                },
                        success: function(v) { 
                                    loadSetup('category.list.php','Project Document Types');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmCat").submit();
                {{/if}}
            }
            function searchTable(val) {
                $("#tbl_tasks").find('tr:not(tr:lt(2))').hide().end().find('tr[stext*="' + val + '"]').show();
            }
        </script>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Project Document Types</h1>
                </td></tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="category.list.php?excel=1">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr> 
            </table>
            {{/if}}
            <br>
            <form method="post" action="category.save.action.php" id="frmCat" name="frmCat">
				{{include file="table.category.list.html"}}
            </form>
        </div>
    </body>

</html>
