{{include file="header.html" tab="clients"}}
<div id="nav2">
    <a href="client.list.php" class="linkbutton">View all clients</a>
    {{if $loginuser->isAdmin()}}
    <a href="client.add.php" class="linkbutton">Add client</a>
    {{/if}}
</div>
