{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Client View</title>
        {{include file="css.and.js.html"}}
        <script>
            var index = 9000;
            jQuery(function($){
                $("#client_info").show();
                $("#contact_info").hide();
                $("#tabClient").click(function(){
                    $("#client_info").show();
                    $("#contact_info").hide();
                    $("#liContact").removeClass("active");
                    $("#liClient").addClass("active");
                });
                $("#tabContact").click(function(){
                    $("#client_info").hide();
                    $("#contact_info").show();
                    $("#liContact").addClass("active");
                    $("#liClient").removeClass("active");
                });
                
            });

        </script>

    </head>

    <body>
        {{include file="client.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{assign var="client_name" value=$client->getName()}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>View client {{$sep}} {{$client_name}}</h1>
                    <div id='header-menu' style="float:right">
                        <ul id='menu-level-1' class='menu-ul'>
                            <li id='liClient' class='active'>
                                <a href='javascript:;' id='tabClient'>Client Info</a>
                            </li>
                            <li id='liContact'>
                                <a href='javascript:;' id='tabContact'>Contact Info</a>
                            </li>
                        </ul>
                    </div>
                    <div style='clear:both;'></div>

                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <!-- Client Info -->
                            <div id="client_info">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Name</td>
                                    <td class='pt3 pb5 pL10 bdrbtm4'>{{$client_name}}</td>
                                </tr>
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10" width="200">Description</th>
                                        <td class='pt3 pb5 pL10 bdrbtm4'>{{$client->getDescription()}}</td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10" width="200">Website URL</th>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><a href="{{$client->getWebsite()}}" target="_blank">{{$client->getWebsite()}}</a></td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10" width="200">Is Product Client?</th>
                                        <td class='pt3 pb5 pL10 bdrbtm4'>{{if $client->getIsProductClient() eq '1'}} Yes {{else}} No{{/if}}</td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10" width="200">Is Active?</th>
                                        <td class='pt3 pb5 pL10 bdrbtm4'>{{if $client->getIsActive() eq '1'}} Yes {{else}} No{{/if}}</td>
                                    </tr>
                                    <tr>
                                    <th class="aleft pt3 pb5 pL10">Projects</td>
                                    <td class='pt3 pb5 pL10 bdrbtm4'>
                                        {{$client->countProjects()}}
                                        {{if $client->countProjects() ge 0}}
                                        {{$sep}}
                                        <a href="project.list.php?client_id={{$client->getId()}}">View projects by this client</a>
                                        {{/if}}
                                    </td>
                                </tr>
                                <!--
                                <tr>
                                    <th class="aleft ui-corner-bl">Files</th>
                                    <td>{{include file="fragment.viewfiles.html"}}</td>
                                -->
                            </table>
                            </div>
                            <!-- // Client Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <!-- Contact Info -->
                            <div id="contact_info">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
                                <tr>
                                    <th class='aleft'>First Name</th>
                                    <th class='aleft'>Last Name</th>
                                    <th class='aleft'>Email</th>
                                    <th class='aleft'>Phone</th>
                                    <th class='aleft'>Job Title</th>
                                    <th class='acenter'>Is Primary?</th>
                                    <th class='acenter'>Is Active?</th>
                                </tr>

                                {{if $client->getContacts()}}
                                {{foreach name=x item=v from=$client->getContacts()}}
                                 <tr id="tr-{{$smarty.foreach.x.iteration}}">
                                    <td class="pt3 pb5 bdrbtm4">
                                        {{$v->getFirstName()}}
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        {{$v->getLastName()}}
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        {{$v->getEmailId()}}
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        {{$v->getPhone()}}
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        {{$v->getJobTitle()}}
                                    </td>
                                    <td class="acenter pt3 pb5 bdrbtm4">
                                        {{if $v->getIsPrimary()}}
                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" title="Yes"/>
                                        {{else}}
                                        <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" title="No">
                                        {{/if}}
                                    </td>
                                    <td class="acenter pt3 pb5 bdrbtm4">
                                        {{if $v->getIsActive()}}
                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" title="Yes"/>
                                        {{else}}
                                        <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" title="No">
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/foreach}}
                                {{/if}}
                                
                            </table>
                            </div>
                            <!-- // Contact Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class="pt3 pb5 pL10 pR5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="acenter pt3 pb5">
                            {{if $loginuser->isAdmin()}}
                            <a class="linkbutton" href="client.edit.php?id={{$client->getId()}}">Edit this client</a>
                            <a class="linkbutton" href="client.delete.php?id={{$client->getId()}}">Delete this client</a>
                            {{/if}}
                            <a class="linkbutton" href="client.list.php" vText='Cancel'>Go back to clients list</a>
                        </td>
                    </tr>
                </table>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
