{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Client Delete</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="client.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <form action="client.delete.action.php" method="post">
                <input type="hidden" name="id" value="{{$client->getId()}}">
                <input type="hidden" name="answer" value="yes">
                <div class='d-block-table'>
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr><td class="acenter bdrbtm4"><h1>Delete client {{$sep}} {{$client->getName()}} ?</h1></td></tr>
                    <tr><td class="acenter pFactor">Deleting a client will also delete all projects and tasks under it.</h1></td></tr>
                    <tr>
                        <td class="acenter">
                            <input type="submit" value="Yes, delete">
                            <a href="client.view.php?id={{$client->getId()}}" class="linkbutton" vText='Cancel'>No, go back to client view</a>
                        </td>
                    </tr>
                </table>
                </div>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
