{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Add Client</title>
        {{include file="css.and.js.html"}}
        <script>
            var index = 9000;
            jQuery(function($){
                $("#client_info").show();
                $("#contact_info").hide();
                $("#tabClient").click(function(){
                    $("#client_info").show();
                    $("#contact_info").hide();
                    $("#liContact").removeClass("active");
                    $("#liClient").addClass("active");
                });
                $("#tabContact").click(function(){
                    $("#client_info").hide();
                    $("#contact_info").show();
                    $("#liContact").addClass("active");
                    $("#liClient").removeClass("active");
                });
                
                $("#btnAddMore").click(function() {
                    var tds = $('#tr-0').html().replace("first_name-0","first_name-"+index);
                    tds = tds.replace("first_name[]","first_name["+index+"]");
                    tds = tds.replace("last_name-0","last_name-"+index);
                    tds = tds.replace("last_name[]","last_name["+index+"]");
                    tds = tds.replace("contact_id-0","contact_id-"+index);
                    tds = tds.replace("contact_id[]","contact_id["+index+"]");
                    tds = tds.replace("email-0","email-"+index);
                    tds = tds.replace("email[]","email["+index+"]");
                    tds = tds.replace("phone-0","phone-"+index);
                    tds = tds.replace("phone[]","phone["+index+"]");
                    tds = tds.replace("job_title-0","job_title-"+index);
                    tds = tds.replace("job_title[]","job_title["+index+"]");
                    tds = tds.replace("is_primary-0","is_primary-"+index);
                    tds = tds.replace("is_primary[]","is_primary["+index+"]");
                    tds = tds.replace("is_active-0","is_active-"+index);
                    tds = tds.replace("is_active[]","is_active["+index+"]");
                    tds = tds.replace("img-0","img-"+index);
                    tds = tds.replace("removeRow()","removeRow("+index+")");
                    $("#vAdd-more").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
                    index++;
                });

                $("#btnSave").click(function() {
                    var nameEntered = true;
                    if($("#clientName").val() == '') {
                        jAlert("Please enter Client Name","Client Info");
                        var nameEntered = false;
                        $("#tabClient").click();
                        return;
                    }

                    var emailEntered = true;
                    var blnChecked = true;
                    $(".emailAddr").each(function(i) {
                        if(i > 0 && $(this).val() == "") {
                            jAlert("Please enter Email of Contact","Client Contact Info");
                            emailEntered = false;
                            $("#tabContact").click();
                            return;
                        }

                        var arr = $(this).val().split('@'); // To check if two email ids are entered in the same text box.
                        if(i > 0 && ($(this).val().indexOf(',') >= 0 || $(this).val().indexOf(';') >= 0 || $(this).val().indexOf(' ') >= 0 || arr.length>2)) {
                            jAlert("Invalid email address entered.\n\n" + $(this).val() + "\n\nPlease enter only one email address", "Client Contact Info");
                            emailEntered = false;
                            $("#tabContact").click();
                            return;
                        }


                        if(i> 0 && !checkEmail(this.id,$(this).val(),"Client Contact Info")){
                            blnChecked = false;
                            $("#tabContact").click();
                            return;
                        }
                    });
                    var fnameEntered = true;
                    $(".fnameCheck").each(function(i) {
                        if(i > 0 && $(this).val() == "") {
                            jAlert("Please enter First Name of Contact","Client Contact Info");
                            fnameEntered = false;
                            $("#tabContact").click();
                            return;
                        }
                    });
                    if(nameEntered && fnameEntered && blnChecked && emailEntered) {
                        $("#frmClient").submit();
                    }
                });                

            });

            function removeRow(id) {
                $("#tr-"+id).remove();
            }

            function checkIsPrimaryBoxes(name, newChkId) {
                var blnFound = false;
                $(".is_primary").each(function(){
                    if(this.checked && this.id != name +'-0' && this.id != newChkId) {
                        blnFound=true;
                    }
                });
                if(blnFound) {
                    jAlert("Only one primary contact allowed!","Client Contact Info");
                    $('#'+newChkId).removeAttr("checked");
                }
            }
        </script>

    </head>

    <body>
        {{include file="client.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
                    <h1>Add client</h1>
                    <div id='header-menu' style="float:right">
                        <ul id='menu-level-1' class='menu-ul'>
                            <li id='liClient' class='active'>
                                <a href='javascript:;' id='tabClient'>Client Info</a>
                            </li>
                            <li id='liContact'>
                                <a href='javascript:;' id='tabContact'>Contact Info</a>
                            </li>
                        </ul>
                    </div>
                    <div style='clear:both;'></div>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <form action="client.add.action.php" method="post" enctype="multipart/form-data" name="frmClient" id="frmClient">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td colspan="2" style="padding: 8px;">Fields marked <span style="color:#454545;">*</span> are compulsory.</td>
                    </tr>
                    <tr>
                        <td>
                            <!-- Client Info -->
                            <div id="client_info">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Name *</th>
                                    <td class='pt3 pb5 pL10 bdrbtm4'><input type="textbox" id="clientName" name="name" class="expand2fit" value="{{$post.name}}"></td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Description</th>
                                    <td class='pt3 pb5 pL10 bdrbtm4'><textarea name="description" id="description" rows="5" class="expand2fit">{{$post.description}}</textarea></td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Website URL</th>
                                    <td class='pt3 pb5 pL10 bdrbtm4'><input type="textbox" name="website" id="website" class="expand2fit" value="{{$post.website}}"></td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Is Product Customer?</th>
                                    <td class='pt3 pb5 pL10 bdrbtm4'><input type="checkbox" name="is_product_client" id="is_product_client" value="1"/></td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Is Active?</th>
                                    <td class='pt3 pb5 pL10 bdrbtm4'><input type="checkbox" name="active" id="active" value="1" checked/></td>
                                </tr>
                                </table>
                                </div>
                            <!-- // Client Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <!-- Contact Info -->
                            <div id="contact_info">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
                                <tr>
                                    <th class='aleft' style="padding-left:8px;">First Name *</th>
                                    <th class='aleft'>Last Name</th>
                                    <th class='aleft'>Email *</th>
                                    <th class='aleft'>Phone</th>
                                    <th class='aleft'>Job Title</th>
                                    <th class='acenter'>Is Primary?</th>
                                    <th class='acenter'>Is Active?</th>
                                    <th class='aleft'>&nbsp;</th>
                                </tr>

                                <tr id='tr-0' style="display:none;">
                                    <td class="pt3 pb5 bdrbtm4" style="padding-left:8px;">
                                        <input type='hidden' name="contact_id[]" id="contact_id-0" value="0"/>
                                        <input type='text' name="first_name[]" id="first_name-0" value="" style='width:150px;' class="fnameCheck"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="last_name[]" id="last_name-0" value="" style='width:150px;'/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="email[]" id="email-0" value="" style='width:150px;' class="emailAddr"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="phone[]" id="phone-0" value="" style='width:150px;' maxlength="15" onkeyup="this.value=this.value.match(/^[0-9-+ ]+/);"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="job_title[]" id="job_title-0" value="" style='width:150px;' maxlength="30"/>
                                    </td>
                                    <td class="acenter pt3 pb5 bdrbtm4">
                                        <input type='checkbox' name="is_primary[]" id="is_primary-0" value="1" class="is_primary" onClick="checkIsPrimaryBoxes('is_primary',this.id);"/>
                                    </td>
                                    <td class="acenter pt3 pb5 bdrbtm4">
                                        <input type='checkbox' name="is_active[]" id="is_active-0" value="1" checked/>
                                    </td>
                                    <td class="aleft pt3 pb5 bdrbtm4">
                                        <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" onclick="removeRow()" id="img-0">
                                    </td>
                                </tr>

                                <tr id="tr-1">
                                    <td class="pt3 pb5 bdrbtm4" style="padding-left:8px;">
                                        <input type='hidden' name="contact_id[1]" id="contact_id-1" value="0"/>
                                        <input type='text' name="first_name[1]" id="first_name-1" value="" style='width:150px;' class="fnameCheck"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="last_name[1]" id="last_name-1" value="" style='width:150px;'/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="email[1]" id="email-1" value="" style='width:150px;' class="emailAddr"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="phone[1]" id="phone-1" value="" style='width:150px;' maxlength="15" onkeyup="this.value=this.value.match(/^[0-9-+ ]+/);"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="job_title[1]" id="job_title-1" value="" style='width:150px;' maxlength="30"/>
                                    </td>
                                    <td class="acenter pt3 pb5 bdrbtm4">
                                        <input type='checkbox' name="is_primary[1]" id="is_primary-1" value="1" class="is_primary" onClick="checkIsPrimaryBoxes('is_primary',this.id);"/>
                                    </td>
                                    <td class="acenter pt3 pb5 bdrbtm4">
                                        <input type='checkbox' name="is_active[1]" id="is_active-1" value="1" checked/>
                                    </td>
                                    <td class="aleft pt3 pb5 bdrbtm4">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr id='vAdd-more'>
                                    <td class="pt3 pb5 pL10 pR5 bdrbtm4 aright" colspan='7'>
                                    <input type="button" id="btnAddMore" name='btnAddMore' value="Add more contact" class="buttonNew">
                                    </td>
                                </tr>

                            </table>
                            </div>
                            <!-- // Contact Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class="pt3 pb5 pL10 pR5">&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align: center;" class='pt3 pb5 pL10 bdrbtm4'>
                            <input type="button" value="Add client" name="btnSave" id="btnSave">
                            <a href="client.list.php" class="linkbutton" vText='Cancel'>Cancel and go back to clients list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
