{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence::Clients List</title>
        {{include file="css.and.js.html"}}
        <script>
            jQuery(function($){
                $("#frm_filter input[type=submit]").hide();
                $("#chkAll").click(function(){
                    chk = $("#chkAll").is(":checked") ? $("#chkAll").val() : 0;
                    qs = "?all="+ chk;
                    window.location.href = "client.list.php" + qs;
                });
            });
        </script>
    </head>

    <body>
        {{include file="client.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $clients}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="20%" class="pt3 pb5 pL10">
                        <h1>Clients</h1>
                    </td>
                    {{if $loginuser->isAdmin()}}
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                        <form action="client.list.php" method="get" id="frm_filter">
                            <input type="checkbox" name="chkAll" id="chkAll" value="1" {{if $allClients eq 1}}checked{{/if}}/> Show all clients
                            <input type="submit" value="Show all clients">
                        </form>
                    </td>
                    {{/if}}
                </tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="client.list.php?excel=1">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            {{if $allClients eq 1}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr>
                    <td><b>Note: <em><span style="color:#FF0000;">*</span> indicates, clients without projects.</em></b>
                    </td>
                </tr>
            </table>
            {{/if}}
            {{include file="table.client.list.html"}}
            {{else}}
            <div class="info">
                No clients found.
                {{if $loginuser->isAdmin()}}
                <a href="client.add.php">Click here to add a client</a>
                {{/if}}
            </div>
            {{/if}}
        </div>
        {{include file="footer.html"}}
    </body>

</html>
