{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
            </head>
    <body>
        <link href="js/jPicker/css/jPicker-1.1.5.css" type="text/css" rel="stylesheet"/>
        <script src="js/jPicker/jpicker-1.1.5.js"></script>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="colorcode.common.html"}}
        <div id="nav2">
            <a href="user.colorcode.list.php" class="linkbutton">User color selection</a>
        </div>
        {{/if}}
        <script>
            jQuery(function($){
                //$("#txt_name").jPicker({window:{title:'Binded Example',position:{x:0,y:0}},color:{active:new $.jPicker.Color({ahex:'993300ff'})}});
                $('input[type=text]').each(function(){
                    $(this).removeClass("ui-widget-content");
                    colorPicker(this.id);
                }); 
                function colorPicker(id) {
                    $("#"+id).jPicker({
                        window:{
                                expandable: true,
                                title:'Calendar Holiday Color',
                                position:{
                                    x:0,
                                    y:0
                                }
                        },
                        images:{
                                clientPath:'js/jPicker/images/'
                        },
                        color:{
                            active:new $.jPicker.Color({
                                ahex:'993300ff'
                            })
                        }
                    });
                }

                $("#btnAdd").click(function() {
                    var blnFound = true;
                    $('input[type=text]').each(function(){
                        if($(this).val() == "") {
                            blnFound=false;
                        }
                    }); 
                    if(blnFound) {
                        submitColors();
                    }
                    else {
                        jAlert("Please select color!", "Calendar Color Code");
                        return false;
                    }
                });
            });
            function submitColors() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmColor").serialize();
                    $.ajax({
                        url:    'colorcode.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load calendar colors codes.","Color Code Manager");
                                },
                        success: function(v) { 
                                    loadSetup('colorcode.list.php','Color code Manager');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmColor").submit();
                {{/if}}
            }
        </script>

        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Calendar Color Selection</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            {{/if}}
            <br>
            <form method="post" action="colorcode.save.action.php" id="frmColor" name="frmColor">
				{{include file="table.colorcode.list.html"}}
            </form>
        </div>
    </body>

</html>

