{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <script>
            function print_contact() {
                document.getElementById("print_contact").style.display='none'; 
                window.print();
            }
        </script>
    </head>

    <body>
        <div id="nav2">
            <a href="javascript:;" id="print_contact" onclick="print_contact();" style="font-weight:bold;font-size:12pt;">Print contact</a>
        </div>
        <div id="content">
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>{{$contact->getFullName()}}</h1>
                </td></tr>
            </table>
			<br>
            <form action="contact.save.action.php" method="post" enctype="multipart/form-data" id="frmContact" name="frmContact">
                 <input type="hidden" name="id" value="{{$contact->getId()}}">
                 <input type="hidden" name="client_id" id="client_id" value="{{$contact->getClientId()}}">
				 <input type='hidden' name='index' id="index" value="9000"/>
				 <input type='hidden' name='contact_exist' id="contact_exist" value="{{$contact_exist}}"/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
				
<!-- START -->								
					<tr>
						<td width="50%" align="left">
							<table width="100%">
								<tr>
									
									<td width="80%">
										<table cellpadding="3" cellspacing="2" border="0" width="100%">
											<tr>
												<td colspan="2">
													<span style="color: #FE9415; font-weight: bold; font-size: 13pt;">
														Contact information
														<hr style="border-bottom-color:#0099FF;">
													</span>
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Company</th>
												<td>
                                                    {{$contact->getClientName()}}
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Group</th>
												<td>{{$contact->getGroupName()}}
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">First Name</th>
												<td>{{$contact->getFirstName()}}
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Middle Name</th>
												<td>{{$contact->getMiddleName()}}
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Last Name</th>
												<td>{{$contact->getLastName()}}
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Active?</th>
												<td>
													{{if $contact->getActive() eq '1'}}
                                                        Yes
                                                    {{else}}
                                                        No
                                                    {{/if}}
												</td>
											</tr>
											
											
										</table>
									</td>
								</tr>
							
							</table>
						</td>
						<td width="50%">
							<table cellpadding="5" cellspacing="2" border="0" width="100%">
								<tr>
									<td align="left">
										<span style="color:#FE9415; font-weight: bold; font-size: 13pt;">
											Communication information
											<hr style="border-bottom-color:#0099FF;">
										</span>
									</td>
								</tr>
								<tr>
									<td>
										<table cellpadding="5" cellspacing="2" border="0" width="100%">
											
											<tr id="tr-comm1-header">
												<th class="aleft ui-corner-bl">Communication</th>
												<th class="aleft ui-corner-bl">Communication Type</th>
												<th class="acenter ui-corner-bl" width="50" align="center">Is Primary?</th>
												<th class="acenter ui-corner-bl" width="50" align="center">Is Active?</th>
											</tr>
											
										    {{foreach name=k item=a from=$contact->getCommunication()}}
											<tr id="tr-comm-{{$smarty.foreach.k.iteration}}">
												<td>{{$a->getCommunicationDetails()}} </td>
												<td>{{$a->getCommunicationType()}} </td>
												<td align="center">
													{{if $a->getIsPrimaryCommunication() eq '1'}}Yes{{else}}No{{/if}}
												</td>
                                                <td align="acenter">
                                                    {{if $a->getCommunicationActive() eq '1'}}Yes{{else}}No{{/if}}
                                                </td>
											</tr>
											{{/foreach}}
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="left" colspan="2">
							<span style="color:#FE9415; font-weight: bold; font-size: 13pt; ">
								Address Information
								<hr style="border-bottom-color:#0099FF;">
							</span>
						</td>
						
					</tr>
					
					<tr>
						<td colspan="2">
							<table cellpadding="5" cellspacing="2" border="0" width="100%">
								<tr id="tr-address-header">
									<th class="aleft ui-corner-bl" width="200">Address Type</th>
									<th class="aleft ui-corner-bl" width="300">Address</th>
									<th class="aleft ui-corner-bl" width="150">City</th>
									<th class="aleft ui-corner-bl" width="90">Zip</th>
									<th class="aleft ui-corner-bl" width="150">State</th>
									<th class="aleft ui-corner-bl">Country</th>
									<th class="acenter ui-corner-bl" width="80">Is Primary?</th>
								    <th class="acenter ui-corner-bl" width="50" align="center">Is Active?</th>
								</tr>
								{{foreach name=k item=a from=$contact->getAddressBook()}}
						        <tr id="tr-address-{{$smarty.foreach.k.iteration}}">
									<td>{{$a->getContactType()}} </td>
									<td>{{$a->getAddress()}}</td>
									<td>{{$a->getCity()}}</td>
									<td>{{$a->getZip()}}</td>
									<td>{{$a->getState()}}</td>
									<td>{{$a->getCountry()}}</td>
									<td align="center">
										{{if $a->getIsPrimaryAddress() eq '1'}}Yes{{else}}No{{/if}}
									</td>
                                    <td align="acenter">
                                        {{if $a->getAddressActive() eq '1'}}Yes{{else}}No{{/if}}
                                    </td>
								</tr>
                                {{/foreach}}
							</table>
						</td>
					
					</tr>
<!-- END -->				
                </table>
            </form>
        </div>
    </body>

</html>
