{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
        
    </head>

    <body>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="communicationtype.common.html"}}
        {{/if}}
        <script>
            jQuery(function($){
                $("#btn_cancel").click(function(){
                    $("#hdn_id").val('0');
                    $("#txt_name").val("");
                    $("#btn_save").val("Add");
                });
                $("#btn_save").click(function() {
                    submitCT();
                });
            });
            function deleteCG(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the Contact Type : <i>'+$("#name-"+id).text()+'</i>?</b><br><br>Please make a note that all communication under this type will autometically move to "Others" type.',"Contact Types", 
                            function(returnvalue) {
                                if (returnvalue) {
                                    $("#hdn_id").val(id);
                                    $("#txt_name").val($("#name-" + id).text());
                                    $("#action").val("DELETE");
                                    submitCT();
                                }    
                            }
                    );
            }
            function editCT(id) {
                    $("#hdn_id").val(id);
                    $("#txt_name").val($("#name-" + id).text());
                    $("#action").val("EDIT");
                    $("#btn_save").val("Save");
            }
            function submitCT() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmCG").serialize();
                    $.ajax({
                        url:    'contacttype.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function(v) {
                                    jAlert("Failed load contact types.","Contact Type");
                                },
                        success: function(v) { 
                                    loadSetup('contacttype.list.php','Contact Type');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmCG").submit();
                {{/if}}
            }
        </script>
        <div id="content">
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>Contact Types</h1>
                </td></tr>
            </table>
            {{/if}}
			<table align="right"><tr><td><a id="export" href="contacttype.list.php?excel=1">Export to excel</a></td></tr> </table><br><br>
            <form method="post" action="contacttype.save.action.php" id="frmCG" name="frmCG">
				{{include file="table.contacttype.list.html"}}
            </form>
        </div>
    </body>

</html>
