{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
        {{if $view eq "list"}} 
        <link href="css/addressbook.css" type="text/css" rel="stylesheet">
        {{else}}
        <style>
            .search1 {
                color: #AAAAAA;
                background-color:#ffffff;
            }
            .search {
                color: #000000;
                background-color:#DDF0F8;
            }
        </style>
        {{/if}}
        <script type="text/javascript" language="javascript">
            function del_ideas(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete an idea?</b><br><br>Please make a note that all uploaded files under this idea will be deleted.',"Idea Tracker", function(r) {
                    if(r) {
                        $("#txtID").val(id);
                        $("#action").val("DELETE");
                        $("#contact_edit").submit();
                    }
                });
            }
            jQuery(function($){
                $("#search2").blur(function(){
                    if($("#search2").val() == "") { 
                        $("#search2").removeClass("search");
                        $("#search2").addClass("search1");
                        $("#search2").val("Search");
                    }
                });
                $("#search2").focus(function(){
                    if($("#search2").val() == "Search") { 
                        $("#search2").val("");
                        $("#search2").addClass("search");
                    }
                });
                $("#search").blur(function(){
                    if($("#search").val() == "") { 
                        $("#search").removeClass("search");
                        $("#search").addClass("search1");
                        $("#search").val("Search");
                    }
                });
                $("#search").focus(function(){
                    if($("#search").val() == "Search") { 
                        $("#search").val("");
                        $("#search").addClass("search");
                    }
                });
                $("#btnView").click(function() {
                    if($("#view").val() == "list") {
                        $("#view").val("table");
                    }
                    else {
                        $("#view").val("list");
                    }
                    $("#frm_filter").submit();
                });
                $("#btnFilter").click(function(){
                    $("#p").val("1");
                    $("#frm_filter").submit();
                });
                $("#group").change(function(){
                    $("#frm_filter").submit();
                });
                $("#client").change(function(){
                    $("#frm_filter").submit();
                });
                $("#all-contacts").click(function(){
                    removeLiClass('filter-div');
                    $(this).addClass("selection");
                    fetch_contact('alpha_contact_lists','type=ALL');
                });
                $("#client-filter li").click(function() {
                    removeLiClass('filter-div');
                    if($("li").not(this)) {
                        $(this).addClass("selection");
                        fetch_contact('alpha_contact_lists','type=ALL&client_id='+this.id);
                    }
                });
                $("#group-filter li").click(function() {
                    removeLiClass('filter-div');
                    if($("li").not(this)) {
                        $(this).addClass("selection");
                        fetch_contact('alpha_contact_lists','type=ALL&group_id='+this.id);
                    }
                });
                $("#alpha_contact_lists li").click(function() {
                    removeLiClass('alpha_contact_lists');
                    if($(this).hasClass('letter-divider')) {
                    }
                    else {
                        if($("li").not(this)) {
                            $(this).addClass("selection");
                            fetch_contact('address-details','type=contact&id='+this.id);
                        }
                    }
                });
                $("#abc").mouseover(function() {
                    $("#alpha-drop-down").addClass("dd-active");
                });
                $("#alpha-drop-down").mouseover(function() {
                    $("#alpha-drop-down").addClass("dd-active");
                });
                $("#alpha-drop-down").mouseout(function() {
                    $("#alpha-drop-down").removeClass("dd-active");
                });
                $("#detail-panel").mouseover(function() {
                    $("#alpha-drop-down").removeClass("dd-active");
                });
                $("#list-details").mouseover(function() {
                    $("#alpha-drop-down").removeClass("dd-active");
                });
                $("#alpha-drop-down li").click(function() {
                    if($(this).hasClass("enabled")) {
                        load_contact($(this).attr("alpha"));
                        $("#alpha-drop-down").removeClass("dd-active");
                    }
                });
            });
            function contact_panel(id) {
                removeLiClass('alpha_contact_lists');
                $('#'+id).addClass("selection");
                fetch_contact('address-details','type=contact&id='+id);
            }
            function load_contact(v){
                fetch_contact('alpha_contact_lists','type='+v);
            }
            function fetch_contact(id,param) {
                $("#"+id).html("");
                $.ajax({
                        url:    'ajax.contact.list.php',
                        type:   'POST',
                        data:   param,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load contacts.","Contact Manager");
                                },
                        success: function(v) { 
                                    var tmp = v.split("|");
                                    if(tmp[0] == 1) {
                                        jAlert(tmp[1],"Contact Manager");
                                    }
                                    else {
                                        if(tmp[1] != '')
                                            $("#"+id).html(tmp[1]);
                                    }
                                 }
                     
                    });
            }
            function removeLiClass(id) {
                $("#"+id+" li").each(function(){
                    $(this).removeClass("selection");
                });
            }
            function searchTable(val) {
                $("#tbl_contact_list").find('tr:not(:first)').hide().end().find('tr[stext*="' + val + '"]').show();
            }
            function searchList(val) {
                $("#alpha_contact_lists").find("li:not(.letter-divider)").hide().end().find('li[stext*="' + val + '"]').show();
            }
            function openWindow(id, name) {
                if(id > 0) {
                    var url='contact.view.php?type=print&id='+id;
                    var mywindow = window.open (url,"View Contact |"+name,"toolbars=no,menubar=no,location=no,scrollbars=yes,resizable=yes,status=yes");
                    mywindow.moveTo(0,0);
                    mywindow.resizeTo(screen.width,screen.height-100);
                }
            }

        </script>
    </head>

    <body>
        {{include file="contact.common.html"}}
        <div id="nav2">
            <a href="contact.add.php" class="linkbutton">Add contact</a>
            {{if $view eq "list"}} 
            <input type='button' name='btnView' id='btnView' value='Table View'/>
            {{else}}
            <input type='button' name='btnView' id='btnView' value='List View'/>
            {{/if}}
        </div>
        <div id="content">
            {{include file="message.html"}}
            <table cellpadding="2" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="20%"><h1>Contacts</h1></td>
                    <td class="aright vamiddle" width="80%">
                        <form action="contact.list.php" method="get" id="frm_filter">
                        <input type='hidden' name='view' id='view' value='{{$view}}'/>
                        <input type='hidden' name='p' id='p' value='{{$p}}'/>
                {{if $view eq "table"}}
                        <select name="client" id="client">
                            <option value="0"> -- All Clients -- </option>
                            {{foreach item=c from=$clients}}
                                <option value="{{$c.client_id}}" {{if $c.client_id eq $client_id}}selected{{/if}}>{{$c.client_name}}</option>
                            {{/foreach}}
                        </select>
                        <select name="group" id="group">
                            <option value="0"> -- All Groups -- </option>
                            {{foreach item=g from=$group_list}}
                                <option value="{{$g->getId()}}" {{if $g->getId() eq $group_id}}selected{{/if}}>{{$g->getName()}}</option>
                            {{/foreach}}
                        </select>
                        <input type="text" class="search1" value="Search" name="search2" id="search2" onkeyUp="searchTable(this.value);"/>
                {{/if}}
                        </form>
                    </td>
                </tr>
            </table>
            {{if $view eq "table"}}
            <table align="right"><tr><td><a id="export" href="contact.list.php?excel=1&group_id={{$group_id}}">Export to excel</a></td></tr></table><br><br>
            {{/if}}
            <form action="contact.save.action.php" method="post" id="contact_edit" name="contact_edit">
            <input type="hidden" name="action" id="action" value=""/>
            <input type="hidden" name="id" id="txtID"/>
            {{if $view eq "list"}}
            {{include file="listview.contact.list.html"}}
            {{else}}
            {{include file="table.contact.list.html"}}
            {{/if}}
            </form> 
        </div>
    </body>
</html>
