{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
        <link href="js/autocomplete/styles.css" type="text/css" rel="stylesheet">
        <script src="js/autocomplete/jquery.autocomplete.js" type="text/javascript" language="javascript"></script>
        <script>
            var blnSelect=false;
            $(function($){
                var onAutocompleteSelect = function(value, data) {
                    $("#client_id").val(data);
                    blnSelect=true;
                }

                var options = {
                    serviceUrl: 'ajax.client.list.php',
                    minChars:3,
                    width: 300,
                    delimiter: /(,|;)\s*/,
                    onSelect: onAutocompleteSelect,
                    deferRequestBy: 0, //miliseconds
                    params: { list: 'list' },
                    noCache: false //set to true, to disable caching
                };
                var ac = $('#query').autocomplete(options);

                $("#btnSave").click(function(){
                    var blnChecked=true;
                    $("#txtFirstName").addClass("expand2fit ui-widget-content ui-corner-all");
                    $("#txtLastName").addClass("expand2fit ui-widget-content ui-corner-all");
                    $("#query").addClass("expand2fit ui-widget-content ui-corner-all");
                    if($('#query').val() == '') {
                        blnChecked=false;
                        $("#query").removeClass("expand2fit ui-widget-content ui-corner-all");
                        $("#query").addClass("inpput-error");
                        jAlert("Please enter client.","Contact Management");
                        $("#query").focus();
                        return false;
                    }
                    if($("#txtFirstName").val() == "") {
                        blnChecked=false;
                        $("#txtFirstName").removeClass("expand2fit ui-widget-content ui-corner-all");
                        $("#txtFirstName").addClass("inpput-error");
                        jAlert("Please enter first name.","Contact Management");
                        $("#txtFirstName").focus();
                        return false;
                    }
                    if($("#txtLastName").val() == "") {
                        blnChecked=false;
                        $("#txtLastName").removeClass("expand2fit ui-widget-content ui-corner-all");
                        $("#txtLastName").addClass("inpput-error");
                        jAlert("Please enter last name.","Contact Management");
                        $("#txtLastName").focus();
                        return false;
                    }
                    $("#frmContact").submit();
                });

            });
            function checkClient(){
                if($('#query').val().length < 3) {
                    $('#client_id').val(0);
                }
                if(!blnSelect) $('#client_id').val(0);
            }
			
			function removeRow(id) {
                $("#"+id).remove();
            }
			function addComm() {
				addRow('COMM','tr-comm','tr-add-comm','is_primary_comm');
			}
			function addAddress() {
				addRow('ADDR','tr-address','tr-add-address','is_primary_address');
			}
            function addRow(type,trId,trBefore,chkName){
                var index = $("#index").val();
				if(type == 'COMM') {
                    var chkLen = $('.primary_comm').length -1;
	                var tds = $('#'+trId+'-0').html().replace("txtCommunication-0","txtCommunication-"+index);
	                tds = tds.replace("txtCommunication[0]","txtCommunication["+index+"]");
	                tds = tds.replace("txtCommunicationId-0","txtCommunicationId-"+index);
	                tds = tds.replace("txtCommunicationId[0]","txtCommunicationId["+index+"]");
                	tds = tds.replace("comm_type-0","comm_type-"+index);
                	tds = tds.replace("comm_type[0]","comm_type["+(index)+"]");
					tds = tds.replace("is_primary_comm-0","is_primary_comm-"+index);
					tds = tds.replace("is_primary_comm[0]","is_primary_comm["+index+"]");
					tds = tds.replace("comm_active-0","comm_active-"+index);
					tds = tds.replace("comm_active[0]","comm_active["+index+"]");
					tds = tds.replace("img-comm-0","img-comm-"+index);
				}
                else if(type == 'ADDR') {
                    var chkLen = $('.primary_addr').length -1;
					var tds = $('#'+trId+'-0').html().replace("contact_type-0","contact_type-"+index);
					tds = tds.replace("contact_type[0]","contact_type["+index+"]");
	                tds = tds.replace("address_id-0","address_id-"+index);
	                tds = tds.replace("address_id[0]","address_id["+index+"]");
					tds = tds.replace("address-0","address-"+index);
					tds = tds.replace("address[0]","address["+index+"]");
					tds = tds.replace("city-0","city-"+index);
					tds = tds.replace("city[0]","city["+index+"]");
					tds = tds.replace("zip-0","zip-"+index);
					tds = tds.replace("zip[0]","zip["+index+"]");
					tds = tds.replace("state-0","state-"+index);
					tds = tds.replace("state[0]","state["+index+"]");
					tds = tds.replace("country_id-0","country_id-"+index);
					tds = tds.replace("country_id[0]","country_id["+index+"]");
					tds = tds.replace("is_primary_address-0","is_primary_address-"+index);
					tds = tds.replace("is_primary_address[0]","is_primary_address["+index+"]");
					tds = tds.replace("address_active-0","address_active-"+index);
					tds = tds.replace("address_active[0]","address_active["+index+"]");
					tds = tds.replace("img-add-0","img-add-"+index);
				}
                tds = tds.replace("removeRow()","removeRow('"+trId+"-"+index+"')");
                $("#"+trBefore).before("<tr id='"+trId+"-"+index+"'>"+tds+"</tr>");
				checkIsPrimary(chkName,chkName+'-'+index);
			
                index = parseInt(index) + 1; 
                $("#index").val(index);
            }
			function checkIsPrimary(name,newChkId) {
				var blnFound = false;
                var chkClass = '';
                if(name == "is_primary_comm") {
                    chkClass = ".primary_comm";
                }
                else if(name == "is_primary_address") {
                    chkClass = ".primary_addr";
                }
                if(chkClass != '') {
				    //$('input[name="'+name+'[]"]').each(function(){
    				$(chkClass).each(function(){
	    				if(this.checked && this.id != name +'-0' && this.id != newChkId) {
		    				blnFound=true;
			    			$('#'+newChkId).removeAttr("checked");
				    		//$('#'+newChkId).attr("disabled", "disabled");
					    }
                    });
                }
				return blnFound;
			}
			function checkCheckBoxes(type,name,newChkId) {
				var blnFound = false;
                var chkClass = '';
                if(name == "is_primary_comm") {
                    chkClass = ".primary_comm";
                }
                else if(name == "is_primary_address") {
                    chkClass = ".primary_addr";
                }
                if(chkClass != '') {
                    //$('input[name="'+name+'[]"]').each(function(){
                    $(chkClass).each(function(){
                        if(this.checked && this.id != name +'-0' && this.id != newChkId) {
                            blnFound=true;
                        }
                    });
                }
				if(blnFound) {
					var msg = "<b>Only one primary "+type+" allowed!";
					$('#'+newChkId).removeAttr("checked");
					jAlert(msg,"Contact Management");
				}
				return blnFound;
			}
            function onlyNumbers(event) {
                if ( event.keyCode == 46 || event.keyCode == 8 ) { 
                    } else { 
                        if (event.keyCode < 95) { 
                            if (event.keyCode < 48 || event.keyCode > 57 ) { 
                                event.preventDefault(); 
                            } 
                        } else { 
                            if (event.keyCode < 96 || event.keyCode > 105 ) { 
                                event.preventDefault(); 
                            } 
                        } 
                    } 
            }
            function checkEmail(id, inputvalue){    
                if(inputvalue != "") {
                    var pattern=/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
                    if(pattern.test(inputvalue)){         
                        
                    }else{   
                        jAlert("Invalid email address","User Profile"); 
                        $("#"+id).focus();
                    }
                }
            }
        </script>
    </head>

    <body>
        {{include file="contact.common.html"}}
        <div id="nav2">
            <a href="contact.list.php" class="linkbutton">View all contacts</a>
            <a href="contact.add.php" class="linkbutton">Add contact</a>
        </div>
        <div id="content">
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>Edit Contact {{$sep}} {{$contact->getFullName()}}</h1>
                </td></tr>
            </table>
			<br>
            <form action="contact.save.action.php" method="post" enctype="multipart/form-data" id="frmContact" name="frmContact">
                 <input type="hidden" name="id" value="{{$contact->getId()}}">
                 <input type="hidden" name="client_id" id="client_id" value="{{$contact->getClientId()}}">
				 <input type='hidden' name='index' id="index" value="9000"/>
				 <input type='hidden' name='contact_exist' id="contact_exist" value="{{$contact_exist}}"/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
				
<!-- START -->								
					<tr>
						<td width="50%" align="left">
							<table width="100%">
								<tr>
									
									<td width="80%">
										<table cellpadding="3" cellspacing="2" border="0" width="100%">
											<tr>
												<td colspan="2">
													<span style="color: #FE9415; font-weight: bold; font-size: 13pt;">
														Contact information
														<hr style="border-bottom-color:#0099FF;">
													</span>
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Company</th>
												<td>
													<input type="text" name="txtClient" id="query" value="{{$contact->getClientName()}}" class="expand2fit" onKeyUp="checkClient()"/>
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Group</th>
												<td>
													<select name="group_id" id="group_id">
														<option value="0"> -- Select Group --</option>
														{{foreach item=g from=$groups}}
															<option value="{{$g->getId()}}" {{if $g->getId() eq $contact->getGroupId()}}selected{{/if}}>{{$g->getName()}}</option>
														{{/foreach}}
													</select>
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">First Name</th>
												<td>
													<input type="text" name="txtFirstName" id="txtFirstName" value="{{$contact->getFirstName()}}" class="expand2fit"/>
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Middle Name</th>
												<td>
													<input type="text" name="txtMiddleName" id="txtMiddleName" value="{{$contact->getMiddleName()}}" class="expand2fit"/>
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Last Name</th>
												<td>
													<input type="text" name="txtLastName" id="txtLastName" value="{{$contact->getLastName()}}" class="expand2fit"/>
												</td>
											</tr>
											<tr>
												<th class="aleft ui-corner-bl" width="150">Active?</th>
												<td>
													<input type="checkbox" name="contact_active" id="contact_active" {{if $contact->getActive() eq '1'}}checked="checked"{{/if}} value='1'/>
												</td>
											</tr>
											
											
										</table>
									</td>
								</tr>
							
							</table>
						</td>
						<td width="50%">
							<table cellpadding="5" cellspacing="2" border="0" width="100%">
								<tr>
									<td align="left">
										<span style="color:#FE9415; font-weight: bold; font-size: 13pt;">
											Communication information
											<hr style="border-bottom-color:#0099FF;">
										</span>
									</td>
								</tr>
								<tr>
									<td>
										<table cellpadding="5" cellspacing="2" border="0" width="100%">
											
											<tr id="tr-comm1-header">
												<th class="aleft ui-corner-bl" width="300">Communication</th>
												<th class="aleft ui-corner-bl">Communication Type</th>
												<th class="acenter ui-corner-bl" width="50" align="center">Is Primary?</th>
												<th class="acenter ui-corner-bl" width="50" align="center">Is Active?</th>
												<th class="aleft ui-corner-bl" width="30"></th>
											</tr>
											<tr id="tr-comm-0" style="display:none;">
												<td>
													<input type="hidden" name="txtCommunicationId[0]" id="txtCommunicationId-0" value="0"/>
													<input type="text" name="txtCommunication[0]" id="txtCommunication-0" value="" class="expand2fit"/>
												</td>
												<td>
													<select name="comm_type[0]" id="comm_type-0">
														{{foreach item=c from=$comm_types}}
															<option value="{{$c->getId()}}">{{$c->getName()}}</option>
														{{/foreach}}
													</select>
												</td>
												<td align="center">
													<input type="checkbox" class="primary_comm" name="is_primary_comm[0]" id="is_primary_comm-0" value='1' checked="checked" onClick="checkCheckBoxes('communication','is_primary_comm',this.id);"/>
												</td>
                                                <td align="acenter">
                                                    <input type="checkbox" name="comm_active[0]" id="comm_active-0" value='1' checked='checked'/>
                                                </td>
												<td align="center">
													<img border="0" align="absmiddle" width="17" src="img/icons/nocheckmark.png" onClick="removeRow()" id="img-com-0" title="Remove">
												</td>
											</tr>
										    {{foreach name=k item=a from=$contact->getCommunication()}}
											<tr id="tr-comm-{{$smarty.foreach.k.iteration}}">
												<td>
													<input type="hidden" name="txtCommunicationId[{{$smarty.foreach.k.iteration}}]" id="txtCommunicationId-{{$smarty.foreach.k.iteration}}" value="{{$a->getCommunicationId()}}" />
													<input type="text" name="txtCommunication[{{$smarty.foreach.k.iteration}}]" id="txtCommunication-{{$smarty.foreach.k.iteration}}" value="{{$a->getCommunicationDetails()}}" class="expand2fit"/>
												</td>
												<td>
													<select name="comm_type[{{$smarty.foreach.k.iteration}}]" id="comm_type-{{$smarty.foreach.k.iteration}}">
														{{foreach item=c from=$comm_types}}
															<option value="{{$c->getId()}}" {{if $c->getId() eq $a->getCommunicationTypeId()}}selected{{/if}}>{{$c->getName()}}</option>
														{{/foreach}}
													</select>
												</td>
												<td align="center">
													<input type="checkbox" class="primary_comm" name="is_primary_comm[{{$smarty.foreach.k.iteration}}]" id="is_primary_comm-{{$smarty.foreach.k.iteration}}" value='1' {{if $a->getIsPrimaryCommunication() eq '1'}}checked="checked"{{/if}} onClick="checkCheckBoxes('communication','is_primary_comm',this.id);"/>
												</td>
                                                <td align="acenter">
                                                    <input type="checkbox" name="comm_active[{{$smarty.foreach.k.iteration}}]" id="comm_active-{{$smarty.foreach.k.iteration}}" value='1' {{if $a->getCommunicationActive() eq '1'}}checked='checked'{{/if}}/>
                                                </td>
												<td>
                                                    <a href="javascript:;">Remove</a>
                                                </td>
											</tr>
											{{/foreach}}
											<tr id="tr-add-comm">
												<td align="right" colspan="4">
													<input type="button" name="btnAddComm" id="btnAddComm" value="Add More" onClick="addComm();"/>
												</td>
											</tr>											
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="left" colspan="2">
							<span style="color:#FE9415; font-weight: bold; font-size: 13pt; ">
								Address Information
								<hr style="border-bottom-color:#0099FF;">
							</span>
						</td>
						
					</tr>
					
					<tr>
						<td colspan="2">
							<table cellpadding="5" cellspacing="2" border="0" width="100%">
								<tr id="tr-address-header">
									<th class="aleft ui-corner-bl" width="200">Address Type</th>
									<th class="aleft ui-corner-bl" width="300">Address</th>
									<th class="aleft ui-corner-bl" width="100">City</th>
									<th class="aleft ui-corner-bl" width="50">Zip</th>
									<th class="aleft ui-corner-bl" width="100">State</th>
									<th class="aleft ui-corner-bl">Country</th>
									<th class="acenter ui-corner-bl" width="80">Is Primary?</th>
								    <th class="acenter ui-corner-bl" width="50" align="center">Is Active?</th>
									<th class="aleft ui-corner-bl" width="30"></th>
								</tr>
								<tr id="tr-address-0" style="display:none;">
									<td>
									    <input type="hidden" name="address_id[0]" id="address_id-0" value="0"/>
										<select name="contact_type[0]" id="contact_type-0">
											{{foreach item=c from=$contact_types}}
												<option value="{{$c->getId()}}">{{$c->getName()}}</option>
											{{/foreach}}
										</select>
									</td>
									<td>
										<textarea name="address[0]" id="address-0" cols="17" rows="2"></textarea>
									</td>
									<td>
										<input type="text" name="city[0]" id="city-0" value=""/>
									</td>
									<td>
										<input type="text" name="zip[0]" id="zip-0" value="" onKeyDown="onlyNumbers(event);"/>
									</td>
									<td>
										<input type="text" name="state[0]" id="state-0" value=""/>
									</td>
									<td>
										<select name="country_id[0]" id="country_id-0" style="width:100px;">
											<option value="0"> -- Country --</option>
											{{foreach item=c from=$country}}
												<option value="{{$c.country_id}}">{{$c.country_name}}</option>
											{{/foreach}}
										</select>
									</td>
									<td align="center">
										<input type="checkbox" class="primary_addr" name="is_primary_address[0]" id="is_primary_address-0" value='1' checked="checked" onClick="checkCheckBoxes('address','is_primary_address',this.id);"/>
									</td>
                                    <td align="acenter">
                                        <input type="checkbox" name="address_active[0]" id="address_active-0" value='1' checked='checked'/>
                                    </td>
									<td align="center">
										<img border="0" align="absmiddle" width="17" src="img/icons/nocheckmark.png" onClick="removeRow()" id="img-add-0" title="Remove">
									</td>
								</tr>
						        {{foreach name=k item=a from=$contact->getAddressBook()}}
						        <tr id="tr-address-{{$smarty.foreach.k.iteration}}">
									<td>
									    <input type="hidden" name="address_id[{{$smarty.foreach.k.iteration}}]" id="address_id-{{$smarty.foreach.k.iteration}}" value="{{$a->getAddressId()}}" />
										<select name="contact_type[{{$smarty.foreach.k.iteration}}]" id="contact_type-{{$smarty.foreach.k.iteration}}">
											{{foreach item=c from=$contact_types}}
												<option value="{{$c->getId()}}" {{if $c->getId() eq $a->getContactTypeId()}}selected{{/if}}>{{$c->getName()}}</option>
											{{/foreach}}
										</select>
									</td>
									<td>
										<textarea name="address[{{$smarty.foreach.k.iteration}}]" id="address-{{$smarty.foreach.k.iteration}}" cols="17" rows="2">{{$a->getAddress()}}</textarea>
									</td>
									<td>
										<input type="text" name="city[{{$smarty.foreach.k.iteration}}]" id="city-{{$smarty.foreach.k.iteration}}" value="{{$a->getCity()}}"/>
									</td>
									<td>
										<input type="text" name="zip[{{$smarty.foreach.k.iteration}}]" id="zip-{{$smarty.foreach.k.iteration}}" value="{{$a->getZip()}}" onKeyDown="onlyNumbers(event);"/>
									</td>
									<td>
										<input type="text" name="state[{{$smarty.foreach.k.iteration}}]" id="state-{{$smarty.foreach.k.iteration}}" value="{{$a->getState()}}"/>
									</td>
									<td>
										<select name="country_id[{{$smarty.foreach.k.iteration}}]" id="country_id-{{$smarty.foreach.k.iteration}}" style="width:100px;">
											<option value="0"> -- Country --</option>
											{{foreach item=c from=$country}}
												<option value="{{$c.country_id}}" {{if $c.country_id eq $a->getCountryId()}}selected{{/if}}>{{$c.country_name}}</option>
											{{/foreach}}
										</select>
									</td>
									<td align="center">
										<input type="checkbox" class="primary_addr" name="is_primary_address[{{$smarty.foreach.k.iteration}}]" id="is_primary_address-{{$smarty.foreach.k.iteration}}" value='1' {{if $a->getIsPrimaryAddress() eq '1'}}checked="checked"{{/if}} onClick="checkCheckBoxes('address','is_primary_address',this.id);"/>
									</td>
                                    <td align="acenter">
                                        <input type="checkbox" name="address_active[{{$smarty.foreach.k.iteration}}]" id="address_active-{{$smarty.foreach.k.iteration}}" value='1' {{if $a->getAddressActive() eq '1'}}checked='checked'{{/if}}/>
                                    </td>
									<td>
                                        <a href="javascript:;">Remove</a>
                                    </td>
								</tr>
                                {{/foreach}}
								<tr id="tr-add-address">
									<td align="right" colspan="8">
										<input type="button" name="btnAddAddress" id="btnAddAddress" value="Add More" onClick="addAddress()"/>
									</td>
								</tr>
							</table>
						</td>
					
					</tr>
<!-- END -->				
                    <tr><td colspan="2" class="acenter">&nbsp;</td></tr> 
                    <tr>
                        <td colspan="2" class="acenter">
                            <input type="button" name='btnSave' id='btnSave' value="Save">
                            <a href="contact.list.php" class="linkbutton">Cancel and go back to contact list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>

</html>
