<!--<link href="css/style.css" type="text/css" rel="stylesheet">-->
<link href="css/style-new.css" type="text/css" rel="stylesheet">
<!--<link href="css/jquery-ui.css" type="text/css" rel="stylesheet"> -->
<link href="css/jquery-ui-1.8.11.custom.css" type="text/css" rel="stylesheet">
<link href="css/jquery.alerts.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="css/jquery.multiselect.css" type="text/css" />
<link href="css/style_ms.css" type="text/css" rel="stylesheet">
<link href="css/prettify.css" type="text/css" rel="stylesheet">


{{if not $skipjs}}
<script src="js/jquery.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/jquery.metadata.js" type="text/javascript" language="javascript"></script>
<script src="js/jquery-ui.js" type="text/javascript" language="javascript"></script>
<script src="js/jquery.easing.js" type="text/javascript" language="javascript"></script>
<script src="js/jquery.alerts.js" type="text/javascript" language="javascript"></script>
<script src="js/jquery.tablesorter.js" type="text/javascript" language="javascript"></script>
<script src="js/common.js" type="text/javascript" language="javascript"></script>
<script src="js/jquery.multiselect.js" type="text/javascript" language="javascript"></script>
<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
{{/if}}

