{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
    </head>

    <body>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="designation.common.html"}}
        {{/if}}
        <script>
            jQuery(function($){
                $("#btn_cancel").click(function(){
                    $("#hdm_id").val(0);
                    $("#txt_name").val("");
                    $("#btn_save").val("Add");
                });

                $("#btn_save").click(function() {
                   submitDes(); 
                });

            });
            function deleteDes(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the Designation : <i>'+$("#name-"+id).text()+'</i>?</b><br><br>Please make a note that all employes under this designation will autometically move to "Others" designation.',"Employee Designation", 
                            function(returnvalue) {
                                if (returnvalue) {
                                    $("#hdn_id").val(id);
                                    $("#txt_name").val($("#name-" + id).text());
                                    $("#action").val("DELETE");
                                    submitDes();
                                }    
                            }
                    );
            }
            function editDes(id) {
                $("#hdn_id").val(id);
                $("#txt_name").val($("#name-" + id).text());
                $("#action").val("EDIT");
                $("#btn_save").val("Save");
            }
            function submitDes() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmDes").serialize();
                    $.ajax({
                        url:    'designation.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load designation.","Employee Designation");
                                },
                        success: function(v) { 
                                    loadSetup('designation.list.php','Employee Designation');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmDes").submit();
                {{/if}}
            }
        </script>

        <div id="content">
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>Employee Designation</h1>
                </td></tr>
            </table>
			<table align="right"><tr><td><a id="export" href="designation.list.php?excel=1">Export to excel</a></td></tr> </table><br>
            {{/if}}
            <div id='designation_list'>
				{{include file="table.designation.list.html"}}
            </div>
        </div>
    </body>

</html>
