{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
    </head>

    <body>
        <script>
            jQuery(function($){
                $("#btnSend").click(function() {
                    var blnFound=false;
                    
                    if($("#subject").val() == '') {
                        jAlert("Please enter email subject!", "Email Broadcast");
                        $("#subject").focus();
                        return false;
                    }
                    if($("#msg_body").val() == '') {
                        jAlert("Please enter email body!", "Email Broadcast");
                        $("#msg_body").focus();
                        return false;
                    }
                    $('input[name="users[]"]').each(function(){
                        if(this.checked) {
                            blnFound=true;
                        }
                    });
                    if(blnFound) {
                        sendEmails();
                    }
                    else {
                        jAlert("Please select recipient to send email!", "Email Broadcast");
                    }
                });
            });
            function sendEmails() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#email_broadcast").serialize();
                    $.ajax({
                        url:    'email.broadcast.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load Email Broadcast","Email Broadcast");
                                },
                        success: function(v) { 
                                    loadSetup('email.broadcast.php','Email Broadcast');
                                 }
                     
                    }); 
                {{else}}
                    $("#email_broadcast").submit();
                {{/if}}
            }
        </script>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="meetingtypes.common.html"}}
        {{/if}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Email Broadcast</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            {{/if}}
            <br>

            <form action="email.broadcast.action.php" method="post" id="email_broadcast" name="email_broadcast" enctype="multipart/form-data">
                <table cellpadding="0" cellspacing="0" border="0" width="60%" id='tbl_tasks' style="border: 1px solid #F0F0F0;">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200" valign='top'>Subject <span style='color:red;'><strong>*</strong></span></th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="textbox" name="subject" id='subject' class="expand2fit" value="">
                        </td>
                    </tr> 
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200" valign='top'>Message Body <span style='color:red;'><strong>*</strong></span></th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name='msg_body' id='msg_body' rows='7' class="expand2fit"></textarea>
                        </td>
                    </tr> 
                    <!--
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200" valign='top'>File Attachment</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="file" name="file[]" id="file-0"/>
                        </td>
                    </tr> 
                    -->
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200" valign='top'>Recipients<span style='color:red;'><strong>*</strong></span></th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <div class="inlineblockgroup">
                                {{foreach item=user from=$users}}
                                <span class="inlineblock">
                                    <input type="checkbox" id="user{{$user->getId()}}" name="users[]" value="{{$user->getId()}}" class="vamiddle" >
                                    <label for="user{{$user->getId()}}" class="vamiddle">{{$user->getFullName()}} &lt;{{$user->getEmail()}}&gt;</label>
                                </span>
                                {{/foreach}}
                            </div>
                        </td>
                    </tr>
                     <tr id='tr-send'>
                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                        <td class='aleft pt3 pb5 pL10 bdrbtm4'>
                            <input type="button" id="btnSend" name="btnSend" value="Send Emails"/>
                            {{if $fetch neq '1'}}
                            <a href="setup.list.php" class="linkbutton" vText='Cancel'>Go back to setup</a>
                            {{/if}}
                        </td>
                    </tr>


                </table>
            </form>
    </div>
    </body>
</html>
