{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
    </head>

    <body>
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
        <script>
            jQuery(function($){
                $("#btnFilter").click(function() {
                    getLogs();
                });
            });
            function getLogs() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#email_broadcast").serialize();
                    $.ajax({
                        url:    'email.broadcast.log.php',
                        type:   'GET',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load Email Broadcast Logs","Email Broadcast Logs");
                                },
                        success: function(v) { 
                                    loadSetup('email.broadcast.log.php','Email Broadcast Logs');
                                 }
                     
                    }); 
                {{else}}
                    $("#email_broadcast").submit();
                {{/if}}
            }
        </script>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{/if}}
        <form action="email.broadcast.log.php" method="get" id="email_broadcast" name="email_broadcast">
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    {{if $fetch }}
                    {{else}}
                    <td class="pt3 pb5 pL10" width='20%'>
                    <h1>Email Broadcast Logs</h1>
                    </td>
                    {{/if}}
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                        From <input type="text" name="from_date" id="txtFromDate" value="{{$from_date|format_date}}" class="datepicker" style='width:70px;'/>&nbsp;&nbsp;
                        To <input type="text" name="to_date" id="txtToDate" value="{{$to_date|format_date}}" class="datepicker" style='width:70px;'/>&nbsp;&nbsp;
                        &nbsp;&nbsp;<input type="button" name="btnFilter" id="btnFilter" value="Filter Logs"/>

                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="email.broadcast.log.php?excel=1">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>

                
            {{if $broadcastlogs}}
            {{include file="table.email.broadcast.log.html"}}
            {{else}}
            <div class="info">
                No email broadcast logs found.
            </div>
            {{/if}}
    </div>
    </form>
    </body>
</html>
