<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>

<script>

        $(function () {
            $('#lstPractice').multiselect({
                includeSelectAllOption: true
            });
            $('#btnSave').click(function () {
                var selected = $("#lstPractice option:selected");
                var message = "";
                selected.each(function () {
                    message += $(this).text() + " " + $(this).val() + "\n";
                });
                //alert(message);
            });
        });


            var index = 9000;

            function onlyNumbers(event) {
                if ( event.keyCode == 46 || event.keyCode == 8 ) { 
                    } else { 
                        if (event.keyCode < 95) { 
                            if (event.keyCode < 48 || event.keyCode > 57 ) { 
                                event.preventDefault(); 
                            } 
                        } else { 
                            if (event.keyCode < 96 || event.keyCode > 105 ) { 
                                event.preventDefault(); 
                            } 
                        } 
                    } 
            }
            function checkEmail(id, inputvalue){    
                if(inputvalue != "") {
                    var pattern=/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
                    if(pattern.test(inputvalue)){         
                        
                    }else{   
                        jAlert("Invalid email address","Member Profile"); 
                        $("#"+id).focus();
                    }
                }
            }
        </script>
<style>
.ui-widget { 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
</style>
<form name="employee_details" id="employee_details" method="post" action="employee_details.php" enctype="multipart/form-data">
    <input type="hidden" name="utabId" id="utabId" value="0">
    <input type="hidden" name="id" value="{{$user->getId()}}">    
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border: 1px solid #F0F0F0;">

        <tr>
                <td width="45%">
                    <table>
                        <tr>
                            <th class="aleft pL5 user_label">User ID </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">                
                               <input class="" type="text" name="user_id" id="user_id" value="{{$user->getID()}}"  disabled>
                            </td>        
                        </tr>
                       <tr>
                            <th class="aleft pL5 user_label">Given Name </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">                
                               <input class="" type="text" name="txtGivenName" id="txtGivenName" value="{{$user->getGivenName()}}">
                            </td>        
                        </tr>   
                       <tr>
                            <th class="aleft pL5 user_label">Family Name </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">                
                               <input class="" type="text" name="txtFamilyName" id="txtFamilyName" value="{{$user->getLastName()}}">
                            </td>        
                        </tr>
                         <tr>
                            <th class="aleft pL5 user_label">Title </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <select name="designation_id" id="designation_id">
                                    <option value="0"> -- Select Designation --</option>
                                    {{foreach item=d from=$designations}}
                                        <option value="{{$d->getId()}}" {{if $employee->getDesignationId() eq $d->getId()}}selected{{/if}}>{{$d->getName()}}</option>
                                    {{/foreach}}
                                </select>
                            </td>     
                        </tr>
                        <tr>
                            <th class="aleft pL5 user_label">Practice </th>
                            <td  class="pt3 pb5 pL10 bdrbtm4">                 
                            <select id="lstPractice" multiple="multiple" name="tech_practice_ids[]">
                                    {{foreach name=tech item=t from=$tech_practice}}
                                        <option id="tech_practice_id-{{$t->getId()}}" value="{{$t->getId()}}" {{foreach item=a from=$employee->getTechPractices()}} {{if $a->getTechPracticeId() eq $t->getId()}}selected{{/if}}{{/foreach}} >{{$t->getName()}}</option>
                                    {{/foreach}}
                            </select>
                              </td>  
                        </tr>
                        <tr>
                            <th class="aleft pL5 user_label">Location </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <select name="location_id" id="location_id">
                                    <option value="0"> -- Select Location --</option>
                                    {{foreach item=e from=$employee_location}}
                                        <option value="{{$e->getId()}}" {{if $employee->getLocationId() eq $e->getId()}}selected{{/if}}>{{$e->getName()}}</option>
                                    {{/foreach}}
                                </select>
                            </td>        
                        </tr>
                          <tr>
                            <th class="aleft pL5 user_label">Direct Line </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">                
                               <input class="" type="text" name="txtMobile2" id="txtMobile2" value="{{$employee->getMobile2()}}">
                            </td>        
                        </tr>      
                        <tr>
                            <th class="aleft pL5 user_label">Mobile </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">                
                               <input class="" type="text" name="txtMobile1" id="txtMobile1" value="{{$employee->getMobile1()}}">
                            </td>        
                        </tr>
                        <tr>
                            <th class="aleft pL5 user_label">Email </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">                
                               <input class="user_label_email" type="text" name="txtUserName" id="txtUserName" value="{{$user->getEmail()}}" onBlur="checkEmail(this.id,this.value);" >
                            </td>        
                        </tr>
                        <tr>
                            <th class="aleft pL5 user_label">Skype </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">                
                               <input class="" type="text" name="txtSkypeId" id="txtSkypeId" value="{{$employee->getSkypeId()}}">
                            </td>        
                        </tr>
                        <tr>
                            <th class="aleft pL5 user_label">Yahoo IM </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">                
                               <input class="" type="text" name="txtYahooId" id="txtYahooId" value="{{$employee->getYahooId()}}">
                            </td>        
                        </tr>
                        <tr>
                            <td><br/>                               
                                <input type="submit" name="save_user_details" id="btnSave" value="Save">&nbsp;
                                {{if $loginuser->getId() ==  $user->getId() && $isBusinessManager}}
                                    <a href="user.list.php"><input type="button" name="cancel_user_details" id="Cancel" value="Cancel"></a>    
                                {{else}}  
                                    <a href="task.timecard.php"><input type="button" name="cancel_user_details" id="Cancel" value="Cancel"></a>
                                {{/if}}     
                            </td>  
                        </tr>
                    </table>
                </td>
                <td width="5%"></td>
                <td width="45%">
                   <table width="100%">
                        <tr>
                            <td valign='top'>
                                <div class='d-block-table pb10 pL10 pR10'>
                                <img class="pt5 pb10 pL10 pR10" width="200" height="200" alt="" src="resize.image.php?u={{$user->getId()}}&w=200&h=200" border='0'><br>
                                <em><b>Passport size photo resolution 200x200</b></em><br><br><br>
                                <label><b>Picture File: </b></label><br>
                                <input id="document_file" type="file" name="file[]"/>
                                </div>
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td valign='top' style='margin-top:10px;'>
                                <div class='d-block-table pb10 pL10 pR10 pt10'>
                                <label><b>Upload Latest CV <i>(GSS Format)</i>: </b></label><br>
                                <input id="user_cv" type="file" name="file_cv[]"/><br><br>
                                <label><b>Last Updated CV Info: </b></label><br>
                                    <div>
                                        {{assign var="user_cv" value=$user->getCV()}} 
                                        <b>File Name: <a href="user.download.php?id={{$user_cv.id}}" target="_blank">{{$user_cv.file_name}}</a></b><br>
                                        <b>Last Updated: {{$user_cv.upload_date}}</b>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
        </tr>
    </table> 
</form>    
