{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence:: Activities</title>
        {{include file="css.and.js.html"}}

        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/jquery-ui.min.js" type="text/javascript"></script>
        <!-- "Time picker" script src="js/jquery-ui-timepicker-addon.js" type="text/javascript"></script -->
        <script src="js/jquery-ui-sliderAccess.js" type="text/javascript"></script>

        <link rel="stylesheet" href="css/jquery-ui-1.8.22.css" type="text/css" media="all" />

        <style>
            /* For datetime picker */
	    	input[type="text"], textarea {
		    	width: 220px;
    		}

            .ui-widget { font-size: 1em; font-family: Arial,Helvetica,sans-serif; }
/*
            .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
            .ui-timepicker-div dl { text-align: left; }
            .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
            .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
            .ui-timepicker-div td { font-size: 90%; }
            .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
*/

            /* Activities */ 
            .activity { display: inline-block; width:100%; }
            .activity a:hover { background:none; }
            #sortable { list-style-type: none; margin: 0 auto; padding: 0; float: left; width: 100%; }
            #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 12px; background: none;}

            .history { border: 1px solid #CCCCCC; margin: 5px; padding: 5px; display: none; }
            .history_button { border: 1px solid #CCCCCC; padding: 0 1px 0 5px; font-size: 11px; float:right; width: 10px; }
            .progress_bar { border: 1px solid #AAAAAA; height: 10px; }
            .history_close { width: 100%; height: 15px; text-align: right; float: right; font-size: 11px; }
            .history_table { font-size:12px; width: 600px; text-align: center; }
/*            .history_table td, .history_table th { border: 1px solid #CCCCCC; } */
        </style>

        <script>
            var pFileEdit = '';
            $(function() {

//                $('#start, #end').datetimepicker({
                $('#start, #end').datepicker({
                    dateFormat: 'mm/dd/yy',
                    changeMonth: true, changeYear: true
                });

                $( "#sortable" ).sortable({ // Executes on drag & drop.
                    update: function(event, ui) {
alert('Implementation is in progress..');
/*
                        $.ajax({
                            url:    'employeeactivity.add.action.php',
                            type:   'POST',
                            data:   $('#frmSortable').serialize(),
                            cache:  false,
                            error:  function() {
                                jAlert("Failed Employee Activity re-alignment.", "Activity");
                            },
                            success: function(res) {
                                window.location.reload();
                            }
                        });
*/
                    }
                });

                $( "#sortable" ).disableSelection();

                $("#frm_filter").find("select").change(function(){
                    $("#frm_filter").submit();
                });


                pFileEdit = $("#activityFrm").dialog({
                    autoOpen: false,
                    height: 400,
                    width: 450,
                    modal: true,
                    resizable: false,
                    title: 'Activity',
                    buttons: {
                        "Save": function() {
                            if($("#employee_id").val() == '0') {
                                jAlert("Please select an Employee", "Activity");
                                $(this).dialog("close");
                            }
                            else if($("#title").val().trim() == '')
                                jAlert("Please specify Title", "Activity");
                            else if($("#start").val().trim() == '')
                                jAlert("Please specify Start Date", "Activity");
                            else if($("#end").val().trim() == '')
                                jAlert("Please specify End Date", "Activity");
                            else
                            {
                                arr = $("#start").val().split("/");
                                var start_date = arr["2"] + "-" + arr["0"] + "-" + arr["1"];
                                arr = $("#end").val().split("/");
                                var end_date = arr["2"] + "-" + arr["0"] + "-" + arr["1"];

                                var data = $("#frmActivity").serialize() + '&employee_id=' + $("#employee_id").val() + '&start_date=' + start_date + '&end_date=' + end_date;
                                $.ajax({
                                    url:    'employeeactivity.add.action.php',
                                    type:   'POST',
                                    data:   data,
                                    cache:  false,
                                    error:  function() {
                                        jAlert("Failed Employee Activity save.", "Activity");
                                    },
                                    success: function(res) {
                                        $("#title, #description, #start, #end").val('');
                                        $('#priority, #sticky').removeAttr("checked");

                                        window.location.reload();
                                    }
                                });

                                $(this).dialog("close");
                            }
                        },

                        "Cancel": function()
                        {
                            $("#title, #description, #start, #end").val('');
                            $('#priority, #sticky').removeAttr("checked");
                            $(this).dialog("close");
                        }
                    }
                });

            });


            function addActivity()
            {
                if($("#employee_id").val() == '0')
                {
                    jAlert("Please select an Employee", "Activity");
                }
                else
                {
                    $(".info").hide();
                    pFileEdit.dialog('open');
                }
            }

            function showHistory(id) {
                $("#history_" + id).toggle(400);
            }

        </script>
    </head>

    <body>
        {{include file="employeeactivity.common.html"}}
        <div id="nav2">
            <input type="button" name="btnAddActivity" id="btnAddActivity" value="Add Activity" onclick="addActivity()"/>
        </div>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <form method="get" action="employeeactivity.list.php" id="frm_filter">
                <table cellspacing="0" cellpadding="5" border="0" width="99%">
                    <tr>
                        <td class="pt3 pb5 pL10">
                            <h1>Activity - {{$employee_name}}</h1>
                        </td>
                        <td class="aright vamiddle pt3 pb5 pL10 pR5">
                        <span id='selOpt'>
                            <select name="employee_id" id="employee_id">
                                <option value="0"> -- Select Employee -- </option>
                                {{foreach item=i from=$employees}}
                                <option value="{{$i.id}}" {{if $employee_id eq $i.id}}selected{{else}} {{ $loggeduser }}{{/if}}>{{$i.name}}</option>
                                {{/foreach}}
                            </select>	
                        </span>
                        </td>
                    </tr>
                </table>
                <div class='d-dashed'></div>
            </form>
            <br>
            
            <div class="activity">

                <form id="frmSortable" name="frmSortable" action="" method="post">
                {{if $employee_activities }}
                <input type="hidden" name="emp_id" value="{{$employee_id}}" />
                <ul id="sortable">
                    {{foreach name=x item=act from=$employee_activities}}
                    <li class="ui-state-default">
                        <div>
                            <input type="hidden" name="id[]" value="{{$act->getId()}}" />
                            <span><b>{{$act->getTitle()}}</b></span>&nbsp;<span>{{if $act->getPriority() eq '1'}} (P){{/if}}{{if $act->getSticky() eq '1'}} (S){{/if}}</span>
                            <a href="javascript:void(0);" onclick="showHistory('{{$smarty.foreach.x.iteration}}');" title="Click to view history" ><span class="history_button">H</span></a><br />
                            <span>Start: {{$act->getStartDate()}}  End: {{$act->getEndDate()}}</span><br />
                            <!-- div class="progress_bar"><div style="width:70%; height: 10px; background: #C6EDC6;">&nbsp;</div></div -->
                        </div>
                        <div id="history_{{$smarty.foreach.x.iteration}}" class="history">
                            <!-- span class="history_close"><a href="javascript:void(0);" onclick="closeDiv('{{$smarty.foreach.x.iteration}}');" title="Close history" >x</a></span -->
                            <!-- span class="history_text">
                                Planned Start: 08-09-2012 12:21 &nbsp; Planned End: 08-15-2012 16:30<br />
                                Reset on : 08-12-2012 12:45 &nbsp; New End: 08-19-2012 16:30<br />
                            </span -->
                            <table cellspacing="0" cellpadding="0" border="0" class="history_table">
                                {{if $employee_activity_history[$smarty.foreach.x.iteration] }}
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Updated Date</th>
                                    </tr>
                                {{/if}}
                                {{foreach item=his from=$employee_activity_history[$smarty.foreach.x.iteration]}}
                                    <tr>
                                        <td>{{$his.start_date}}</td>
                                        <td>{{$his.end_date}}</td>
                                        <td>{{$his.created_on}}</td>
                                    </tr>
                                {{/foreach}}
                            </table>
                        </div>
                    </li>
                    {{/foreach}}
                </ul>
                {{else}}
                <div id="no_activity">&nbsp; No Activities.</div>
                <ul id="sortable">
                </ul>
                {{/if}}
                </form>

            </div>

            <!-- Popup -->
            <div id='activityFrm' style='display:none;'>
            <form action="" method="post" id="frmActivity" name="frmActivity" enctype="multipart/form-data">
                <input type="hidden" name="employee_id" value="{{$employee_id}}" />
                <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <td colspan="2" style="padding: 8px 0;">Fields marked * are compulsory.</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Title *</th>
                        <td class="aleft pt3 pb5 pL10">
                            <input type='text' name='title' id='title' value='' maxlength="255" />
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Description</th>
                        <td class="aleft pt3 pb5 pL10">
                            <textarea id='description' name='description' cols='18' rows='3'></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Start Date *</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" readonly name="start" id="start"  value="" /></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">End Date *</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" readonly name="end" id="end"  value="" /></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Is Priority</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="checkbox" name="priority" id="priority"  value="1" /></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Is Sticky</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="checkbox" name="sticky" id="sticky"  value="1" /></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
         {{include file="footer.html"}}
    </body>
</html>

