<div id="setup-lic-type" class="setup-content">
    {{include file="message.html"}}
    <div id="event_types_list">
        <table class="tasks" cellpadding="0" cellspacing="0" border="0" width="60%" style="border: 1px solid #f0f0f0">
            <tr>
                <td class="actions aright darkerbg pt3 pb5 pL10 bdrbtm4 pR5" colspan="4">
                    <button id="btn-create-lictype" type="button" class="buttonNew" onclick="createLicenseType()">Create Event Type</button>
                </td>
            </tr>
            <tr>
                <th class="aleft pt3 pb5 pL10">Event Date</th>
                <th class="aleft pt3 pb5 pL10">Event Type</th>
                <th class="aleft pt3 pb5 pL10">Description</th>
                <th class="acenter pt3 pb5 pL10">Effective Date</th>
                <th>&nbsp;</th>
            </tr>
            {{section name=i loop=$event_types}}
            {{assign var=id value=$event_types[i]->getId()}}
            <tr>
                <td id="lictype-name-{{$id}}" class="pt3 pb5 pL10 bdrbtm4">{{$event_types[i]->getName()}}</td>
                <td id="lictype-name-{{$id}}" class="pt3 pb5 pL10 bdrbtm4">{{$event_types[i]->getName()}}</td>
                <td id="lictype-desc-{{$id}}" class="pt3 pb5 pL10 bdrbtm4">{{$event_types[i]->getDescription()}}</td>
                <td class="acenter pt3 pb5 pL10 bdrbtm4">{{$event_types[i]->getActiveLicenseCount()}}</td>
                <td class="actions aright pt3 pb5 pL10 bdrbtm4 pR5">
                    {{if $event_types[i]->isEditable()}}
                    <a href="#" onclick="editLicenseType({{$id}})" class="imglink">
                        <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
                    </a>
                    {{if $event_types[i]->getActiveLicenseCount() lt 1}}
                    &nbsp;
                    <a href="#" onclick="deleteLicenseType({{$id}})" class="imglink">
                        <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                    </a>
                    {{/if}}
                    {{else}}
                    &nbsp;
                    {{/if}}
                </td>
            </tr>
            {{sectionelse}}
            <tr>
                <td colspan="4" class="pt3 pb5 pL10 bdrbtm4 darkerbg pR5">No license types defined</td>
            </tr>
            {{/section}}
        </table>
        
        <div id="popup-frm-lictype" style="display: none;">
            <form id="frm-lictype" method="post" action="licensetypes.action.php" onsubmit="return false">
                <input type="hidden" name="id" value=""/>
                <table class="tasks" cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;">
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Event Date</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="text" name="name" value="" class="expand2fit"/></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Event Type</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="text" name="description" value="" class="expand2fit"/></td>
                    </tr>
                     <tr>
                        <th class="aleft pt3 pb5 pL10">Description</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="text" name="name" value="" class="expand2fit"/></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Effective Date</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="text" name="description" value="" class="expand2fit"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <script>
        function showPopupFrmLictype(id) {
            var $form = $('#frm-lictype');
            
            if(id) {
                $('input[name=id]', $form).val(id);
                $('input[name=name]', $form).val($('#lictype-name-' + id).text());
                $('input[name=description]', $form).val($('#lictype-desc-' + id).text());
            } else {
                $('input[name=id]', $form).val('');
                $('input[name=name]', $form).val('');
                $('input[name=description]', $form).val('');
            }

            $('#popup-frm-lictype').dialog({
                width: 800,
                modal: true,
                resizable: false,
                
                buttons: {
                    'Save': function() {
                        var id = $('input[name=id]', $form).val();
                        var name = $('input[name=name]', $form).val();
                        var description = $('input[name=description]', $form).val();
                        saveLicenseType(id, name, description);
                    },
                    'Cancel': function() {
                        $(this).dialog('close');
                    }
                },
                        
                close: function() {
                    $(this).dialog('destroy');
                }
            });
        }

        function createLicenseType() {
            showPopupFrmLictype();
        }

        function editLicenseType(id) {
            showPopupFrmLictype(id);
            return false;
        }

        function deleteLicenseType(id) {
            
            jConfirm('Really delete this license type ?', 'Confirm Delete', function() {
                $.ajax({
                    url: 'licensetypes.action.php',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        action: 'delete',
                        id: id
                    },

                    error: function() {
                        jAlert('Failed to delete License Type', 'License Types');
                    },
                    success: function(data) {
                        if(data.status) {
                            loadSetup('licensetypes.list.php', 'License Types');
                        } else {
                            jAlert('Failed to delete License Type', 'License Types');
                        }
                    }
                });
            });

            return false;
        }

        function saveLicenseType(id, name, description) {
            $.ajax({
                url: 'licensetypes.action.php',
                type: 'POST',
                dataType: 'json',
                data: {
                    action: 'save',
                    id: id,
                    name: name,
                    description: description
                },

                error: function() {
                    jAlert('Failed to save License Type', 'License Types');
                },
                success: function(data) {
                    if(data.status) {
                        loadSetup('licensetypes.list.php', 'License Types');
                    } else {
                        jAlert('Failed to save License Type', 'License Types');
                    }
                }
            });

            return false;
        }
    </script>
</div>
