{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
        <script>
            $(function(){
                $("#client_id").change(function() {
                    if($("#client_id").val() > 0) {
                        {{if $action eq 'UPDATE'}}
                        qs = "?id={{$file->getId()}}";
                        qs += "&client_id="+$("#client_id").val();
                        {{else}}
                        qs = "?client_id="+$("#client_id").val();
                        {{/if}}
                        qs += "&project_id="+$("#project_id").val();
                        qs += "&subproject_id="+$("#subproject_id").val();
                        {{if $action eq 'UPDATE'}}
                        window.location.href = "file.edit.php" + qs;
                        {{else}}
                        window.location.href = "file.add.php" + qs;
                        {{/if}}
                    } 
                });
                $("#project_id").change(function() {
                    if($("#project_id").val() > 0) {
                        {{if $action eq 'UPDATE'}}
                        qs = "?id={{$file->getId()}}";
                        qs += "&client_id="+$("#client_id").val();
                        {{else}}
                        qs = "?client_id="+$("#client_id").val();
                        {{/if}}
                        qs += "&project_id="+$("#project_id").val();
                        {{if $action eq 'UPDATE'}}
                        window.location.href = "file.edit.php" + qs;
                        {{else}}
                        window.location.href = "file.add.php" + qs;
                        {{/if}}
                    } 
                });
                $("#subproject_id").change(function() {
                    if($("#subproject_id").val() > 0) {
                        {{if $action eq 'UPDATE'}}
                        qs = "?id={{$file->getId()}}";
                        qs += "&client_id="+$("#client_id").val();
                        {{else}}
                        qs = "?client_id="+$("#client_id").val();
                        {{/if}}
                        qs += "&project_id="+$("#project_id").val();
                        qs += "&subproject_id="+$("#subproject_id").val();
                        {{if $action eq 'UPDATE'}}
                        window.location.href = "file.edit.php" + qs;
                        {{else}}
                        window.location.href = "file.add.php" + qs;
                        {{/if}}
                    } 
                });

                $("input[name=docType]").click(function(){
                    if($(this).is(':checked') && $(this).val() == 'GENERAL_DOCUMENT') {
                        $("#client_id").attr("disabled","disabled");
                        $("#project_id").attr("disabled","disabled");
                        $("#subproject_id").attr("disabled","disabled");
                        
                        $("#tr-client").hide();
                        $("#tr-project").hide();
                        $("#tr-subproject").hide()
                        $("#tr-isPublic").hide()

                        $("#sPrjDoc").hide()
                        $("#sGenDoc").show()
                    }
                    else {
                        $("#client_id").removeAttr("disabled");
                        $("#project_id").removeAttr("disabled");
                        $("#subproject_id").removeAttr("disabled");

                        $("#tr-client").show();
                        $("#tr-project").show();
                        $("#tr-subproject").show()
                        $("#tr-isPublic").show()

                        $("#sPrjDoc").show()
                        $("#sGenDoc").hide()
                    }
                });
            });
            function validateFrm() {
                if($("#prjDocType").is(":checked")) {
                    if($("#client_id").val() < 1) {
                        jAlert("Please select <i><b>client</b></i> to add document.", "Add Document");
                        return;
                    }
                    if($("#project_id").val() < 1) {
                        jAlert("Please select <i><b>project/sub-project</b></i> to add document.","Add Document");
                        return;
                    }
                }

                {{if $action eq 'UPDATE'}}
                $("#file_edit").submit();    
                {{else}}
                if($("#document_file").val() != "") {
                    $("#file_edit").submit();    
                }
                else {
                    jAlert("Please select <i><b>document</b></i> to attach.","Add Document");
                }
                {{/if}}
                return;
            }
        </script>
    </head>
    <body>
        {{include file="file.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}

            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                   <td class="pt3 pb5 pL10 pR5">
                       <h1>{{if $action eq "UPDATE"}}Edit{{else}}Add{{/if}} Document</h1>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            <form action="file.action.php" method="post" id="file_edit" name="file_edit" enctype="multipart/form-data">
                <input type='hidden' id='file_id' name='file_id' value='{{if $action eq "UPDATE"}}{{$file->getId()}}{{else}}0{{/if}}'/>
                <input type='hidden' id='action' name='action' value='{{$action}}'/>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Document Type</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            {{if $action eq "UPDATE"}}
                            {{if $file->getDocType() == 'PROJECT_DOCUMENT'}}
                            <input type='radio' name='docType' id='prjDocType' value='PROJECT_DOCUMENT' checked/>
                            <label for='prjDocType'>Project Related</label>
                            {{else if $file->getDocType() == 'GENERAL_DOCUMENT'}}
                            <input type='radio' name='docType' id='genDocType' value='GENERAL_DOCUMENT' checked/>
                            <label for='genDocType'>General Document</label>
                            {{/if}}
                            {{else}}
                            <input type='radio' name='docType' id='prjDocType' value='PROJECT_DOCUMENT' checked/>
                            <label for='prjDocType'>Project Document</label>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <input type='radio' name='docType' id='genDocType' value='GENERAL_DOCUMENT'/>
                            <label for='genDocType'>General Document</label>
                            {{/if}}
                        </td>
                    </tr>
                    <tr id='tr-client' {{if $action eq "UPDATE" && $file->getDocType() == 'GENERAL_DOCUMENT'}}style='display:none;'{{/if}}>
                        <th class="aleft pt3 pb5 pL10">Client</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select id="client_id" name="client_id" class="ui-widget-content ui-corner-all">
                                <option value="0">-- Select Clients --</option>
                                {{foreach item=client from=$clients}}
                                <option value="{{$client->getId()}}" {{if $client_id eq $client->getId()}}selected="selected"{{/if}}>{{$client->getName()}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr id='tr-project' {{if $action eq "UPDATE" && $file->getDocType() == 'GENERAL_DOCUMENT'}}style='display:none;'{{/if}}>
                        <th class="aleft pt3 pb5 pL10">Project</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select id="project_id" name="project_id" class="ui-widget-content ui-corner-all">
                                <option value="0">-- Select Projects --</option>
                                {{foreach item=project from=$projects}}
                                <option value="{{$project->getId()}}" {{if $project_id eq $project->getId()}}selected="selected"{{/if}}>{{$project->getName()}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr id='tr-subproject' {{if $action eq "UPDATE" && $file->getDocType() == 'GENERAL_DOCUMENT'}}style='display:none;'{{/if}}>
                        <th class="aleft pt3 pb5 pL10">Subproject</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select id="subproject_id" name="subproject_id" class="ui-widget-content ui-corner-all">
                                <option value="0">-- Select Subprojects --</option>
                                {{foreach item=subproject from=$subprojects}}
                                <option value="{{$subproject->getId()}}" {{if $subproject_id eq $subproject->getId()}}selected="selected"{{/if}}>{{$subproject->getName()}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Category</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <span id='sPrjDoc'>
                            <select name='prj_category_id' id='prj_category_id' class="ui-widget-content ui-corner-all">
	                            {{foreach item=category from=$prj_category}}
                                {{if $action eq 'UPDATE'}}
                                <option value="{{$category->getId()}}" {{if $category->getId() eq $file->getCategoryId()}}selected{{/if}}>{{$category->getName()}}</option>
                                {{else}}
                                <option value="{{$category->getId()}}" {{if $category->getId() eq 1}}selected{{/if}}>{{$category->getName()}}</option>
                                {{/if}}
                                {{/foreach}}
                            </select>
                            </span>
                            <span id='sGenDoc' style='display:none;'>
                            <select name='gen_category_id' id='gen_category_id' class="ui-widget-content ui-corner-all">
	                            {{foreach item=category from=$gen_category}}
                                {{if $action eq 'UPDATE'}}
                                <option value="{{$category->getId()}}" {{if $category->getId() eq $file->getCategoryId()}}selected{{/if}}>{{$category->getName()}}</option>
                                {{else}}
                                <option value="{{$category->getId()}}" {{if $category->getId() eq 1}}selected{{/if}}>{{$category->getName()}}</option>
                                {{/if}}
                                {{/foreach}}
                            </select>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Notes</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea id='notes' name='notes' cols='30' rows='3'>{{if $action eq 'UPDATE'}}{{$file->getNotes()}}{{/if}}</textarea>
                        </td>
                    </tr>
                    <tr id='tr-isPublic' {{if $action eq "UPDATE" && $file->getDocType() == 'GENERAL_DOCUMENT'}}style='display:none;'{{/if}}>
                        <th class="aleft pt3 pb5 pL10">Is Public?</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                        {{assign var='btnVal' value='Add Document'}}
                        {{assign var='blnPublic' value=''}}
                        {{assign var='blnPrivate' value=''}}
                            {{if $action eq 'UPDATE'}}
                                {{assign var='btnVal' value='Update Document'}}
                                {{if $file->getIsPublic()}}
                                    {{assign var='blnPublic' value='checked'}}
                                {{else}}
                                    {{assign var='blnPrivate' value='checked'}}
                                {{/if}}
                            {{else}}
                                {{assign var='blnPublic' value='checked'}}
                            {{/if}}
                            <input type='radio' name='is_public' id='is_public' value='PUBLIC' {{$blnPublic}}/>
                            <label for='is_public'>Public</label>
                            <input type='radio' name='is_public' id='is_private' value='PRIVATE' {{$blnPrivate}}/>
                            <label for='is_private'>Private</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Document</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            {{if $action eq 'UPDATE'}}
                            <a href='file.view.php?id={{$file->getId()}}'>{{$file->getFileName()}}</a>
                            {{else}}
                            <input class="ui-widget-content ui-corner-all" id="document_file" type="file" name="file[]"/>&nbsp;&nbsp;
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="acenter pt3 pb5 pL10 bdrbtm4">
                            <input type="button" value="{{$btnVal}}" id="btn_upload_files" onclick="validateFrm();"/>&nbsp;&nbsp;
                            <a href="file.list.php" class="linkbutton" vText='Cancel'>Cancel and go back to document list</a>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
         {{include file="footer.html"}}
    </body
</html>

