{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence:: File Repository</title>
        {{include file="css.and.js.html"}}
        <style>
            /*
            .tooltip {
                display:none;
                background:transparent url(img/tooltip-img/black_arrow.png);
                font-size:12px;
                height:70px;
                width:160px;
                padding:25px;
                color:#fff; 
            }
            .tooltip.bottom {
                background:transparent url(img/tooltip-img/black_arrow_bottom.png);
                padding-top:40px;
                height:55px;
            }

            .tooltip.bottom {
                background:transparent url(img/tooltip-img/black_arrow_bottom.png);
            }
            */
        </style>
        <!--[if lt IE 7]>
            <style>
                .tooltip {
                    background-image:url(img/tooltip-img/black_arrow.gif);
                }
                .tooltip.bottom {
                    background:url(img/tooltip-img/black_arrow_bottom.gif);
                }
            </style>
        <![endif]--> 
        <!--<script type="text/javascript" src="js/jquery.tools.min.js" language="javascript"></script>-->
        <script>
        var client_arr = {{$client_arr}};
        var pFileEdit = '';
        $(function(){
            $("#btn_submit").hide(); 
            $("#frm_filter").find("select").change(function(){
                $("#frm_filter").submit();
            });
            
            $("#show_file_version").click(function(){
                $("#frm_filter").submit();
            });


            $("#show_project_doc").click(function(){
                if($(this).is(":checked")) {
                    $("#show_general_doc").removeAttr("checked");
                    $("#sel_client_id").removeAttr("disabled");
                    $("#sel_project_id").removeAttr("disabled");
                    $("#sel_subproject_id").removeAttr("disabled");
                }
                $("#frm_filter").submit();
            });

            $("#show_general_doc").click(function(){
                if($(this).is(":checked")) {
                    // Disable
                    //$("#show_file_version").attr("disabled","disabled");
                    $("#sel_client_id").attr("disabled","disabled");
                    $("#sel_project_id").attr("disabled","disabled");
                    $("#sel_subproject_id").attr("disabled","disabled");
                    $("#show_project_doc").removeAttr("checked");
                }
                $("#frm_filter").submit();
            });

            //$("#file_name a[title]").tooltip();

            pFileEdit = $("#dFileFrmEdit").dialog({
                    autoOpen: false,
                    height: 460,
                    width: 600,
                    modal: true,
                    resizable: false,
                    buttons: {
                        "Save": function(){
                            
                            $("#faction").val('FILES');
                            $("#frmFile").submit();
                            //$(this).dialog("close");
                        },
                        "Cancel": function(){
                            $(this).dialog("close");
                        }
                    }
                });
        });

        function sel_populate($sel, data) {
            if(data){
                $.each(data, function(){
                   $sel.append("<option value='" + this.id + "'>" + this.name + "</option>");
                });
            }
        }
        function fill_prj(cid) {
            $sel_project = $("#prj_id");
            $sel_subproject = $("#subprj_id");
            $("option:not(:first)",$sel_project).remove();
            $("option:not(:first)",$sel_subproject).remove();
            if(cid > 0) {
                sel_populate($sel_project,client_arr[cid].projects); 
            }
        }
        function fill_subprj(pid) {
            $sel_subproject = $("#subprj_id");
            $("option:not(:first)",$sel_subproject).remove();
            if(pid > 0) {
                sel_populate($sel_subproject,client_arr[$("#c_id").val()].projects[pid].subprojects); 
            }
        }
        function editFiles(fid,cid) {
               
            if(fid > 0 ) {
                if(cid < 1) cid = 1;
                $("#prj_cat").val(cid);
                $("#pfile_id").val(fid);
                $("#notes").val($.trim($("#notes-"+fid).text()));
                $("#c_id").val($("#tr-f-"+fid).attr("cid"));
                // Fille the project box
                $sel_project = $("#prj_id");
                $("option:not(:first)",$sel_project).remove();
                sel_populate($sel_project,client_arr[$("#c_id").val()].projects); 

                $("#prj_id").val($("#td-prj-"+fid).attr("prjid"));
                if(parseInt($("#td-prj-"+fid).attr("sprjid")) > 0 || $("#prj_id").val() > 0) {
                    $sel_subproject = $("#subprj_id");
                    // Fill the subproject box
                    $("option:not(:first)",$sel_subproject).remove();
                    sel_populate($sel_subproject,client_arr[$("#c_id").val()].projects[$("#prj_id").val()].subprojects);
                    $("#subprj_id").val($("#td-prj-"+fid).attr("sprjid"));
                }
                if(parseInt($("#tr-f-"+fid).attr("ispub")) == 1) {
                    $("#is_public").attr("checked","checked");
                }
                else if(parseInt($("#tr-f-"+fid).attr("ispub")) == 0) {
                    $("#is_private").attr("checked","checked");
                }
                $("#efaction-revision").attr("checked","checked");
                

                $("#tr-file_name").show();
                $("#tr-edit-file_name").show();
                $("#td-file_name").html("<a href='file.view.php?id="+fid+"' target='_blank'>"+$("#td-f-"+fid).attr('fname')+"</a>");
            }
            else {
                $("#c_id").val(0);
                $sel_project = $("#prj_id");
                $sel_subproject = $("#subprj_id");
                $("option:not(:first)",$sel_project).remove();
                $("option:not(:first)",$sel_subproject).remove();
                
                $("#c_id").val($("#sel_client_id").val());
                if($("#c_id").val() > 0) {
                    sel_populate($sel_project,client_arr[$("#c_id").val()].projects); 
                    $("#prj_id").val($("#sel_project_id").val());
                    if($("#prj_id").val() > 0) {
                        sel_populate($sel_subproject,client_arr[$("#c_id").val()].projects[$("#prj_id").val()].subprojects);
                        $("#subprj_id").val($("#sel_subproject_id").val());
                    }
                }

                $("#tr-file_name").hide();
                $("#tr-edit-file_name").hide();
                $("#tr-document_file").show();
                $("#prj_cat").val('0');
                $("#pfile_id").val('0');
                $("#notes").val('');
                $("#is_public").removeAttr("checked");
                $("#is_private").removeAttr("checked");
                $("#is_public").attr("checked","checked");
                $("#efaction-revision").removeAttr("checked","checked");
                $("#efaction-replace").removeAttr("checked","checked");
            }
            pFileEdit.dialog('open');
        }
        function showHistory(id) {
            $("#fH-"+id).toggle();
        }

        function deleteFiles(id) {
            $("#action").val("");
            jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the file?</b>', "Document Type",
                        function(returnvalue) {
                            if (returnvalue) {
                                $("#file_id").val(id);
                                $("#action").val("DELETE");
                                $("#file_edit").submit();
                            } 
                        }
            );
        }
        </script>
    </head>
    <body>
        {{include file="file.common.html"}}
        <div id="nav2">
            <!--<a href="file.add.php?client_id={{$client_id}}&project_id={{$project_id}}&subproject_id={{$subproject_id}}" class="linkbutton">Add Document</a>-->
            <br>
        </div>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <form method="get" action="file.list.php" id="frm_filter">
                <table cellspacing="0" cellpadding="5" border="0" width="100%">
                    <tr>
                    <td width="20%" class="pt3 pb5 pL10">
                        <h1>Repository</h1>
                    </td>
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                    <span id='selOpt'>
                    <select id="sel_client_id" name="client_id" {{if $show_general_doc eq 1}}disabled{{/if}}>
                        <option value="0">-- All --</option>
                        {{foreach item=client from=$clients}}
                        <option value="{{$client->getId()}}" {{if $client_id eq $client->getId()}}selected="selected"{{/if}}>{{$client->getName()}}</option>
                        {{/foreach}}
                    </select>
                    <select id="sel_project_id" name="project_id" {{if $show_general_doc eq 1}}disabled{{/if}}>
                        <option value="0">-- All Projects --</option>
                        {{foreach item=project from=$projects}}
                        <option value="{{$project->getId()}}" {{if $project_id eq $project->getId()}}selected="selected"{{/if}}>{{$project->getName()}}</option>
                        {{/foreach}}
                    </select>
                    <select id="sel_subproject_id" name="subproject_id" {{if $show_general_doc eq 1}}disabled{{/if}}>
                        <option value="0">-- All Subprojects --</option>
                        {{foreach item=subproject from=$subprojects}}
                        <option value="{{$subproject->getId()}}" {{if $subproject_id eq $subproject->getId()}}selected="selected"{{/if}}>{{$subproject->getName()}}</option>
                        {{/foreach}}
                    </select>
                    </span>
                    </td>
                    </tr>
                    <!--
                    <tr>
                        <td>&nbsp;</td>
                        <td align='right'>
                        <input type="checkbox" name='show_file_version' id="show_file_version" value='1' {{if $show_file_version eq 1}}checked{{/if}}/>
                        <label for='show_file_version'><b>Show File Revision</b></label>
                        <input type="checkbox" name='show_project_doc' id="show_project_doc" value='1' {{if $show_project_doc eq 1}}checked{{/if}}/>
                        <label for='show_project_doc'><b>Show Project Documents</b></label>
                        <input type="checkbox" name='show_general_doc' id="show_general_doc" value='1' {{if $show_general_doc eq 1}}checked{{/if}}/>
                        <label for='show_general_doc'><b>Show General Documents</b></label>
                        <input type="submit" value="Apply filter" id="btn_submit"/>
                        </td>
                    </tr>
                    -->
                    <tr><td colspan='2' class="pt3 pb5 pL10"><div class='d-dashed'></div></td></tr>
                    <tr>
                        <td class='aright pt3 pb5 pL10 pR10' colspan='2'>
                           <input type="button" name="btnAddFiles" id="btnAddFiles" value="Add Document" onclick="editFiles(0,0)"/>
                        </td>
                    </tr>
                </table>
            </form>
            <br>
            
            {{if $files}}
            <table cellspacing="0" cellpadding="0" border="0" width="100%" id='tbl_tasks' highlight='on' class="sortable">
                <thead>
                <tr>
                    <th class="aleft pt3 pb5 pL10" width="220px">Client</th>
                    <th class="aleft pt3 pb5 pL10" width="220px">Project</th>
                    <th class="aleft pt3 pb5 pL10" width="150px">Subproject</th>
                    <th class="aleft pt3 pb5 pL10" width="220px">Category</th>
                    <th class="aleft pt3 pb5 pL10">File</th>
                    <!--<th class="acenter pt3 pb5 pL10" width="50px">Is Public?</th>-->
                    <th class="aleft pt3 pb5 pL10 {sorter:false}" width="100px"></th>
                </tr>
                <thead>
                <tbody>
                {{foreach item=file from=$files}}
                <tr id='tr-f-{{$file->getId()}}' cid='{{$file->getClientId()}}' catid='{{$file->getCategoryId()}}' ispub='{{$file->getIsPublic()}}'>
                    <td class="pt3 pb5 pL10 bdrbtm4">
                    {{if $loginuser->isAdmin() && $file->getClientName() != ''}}
                        <a href="client.view.php?id={{$file->getClientId()}}">{{$file->getClientName()}}</a>
                    {{else}}
                        {{$file->getClientName()|default:'-'}}
                    {{/if}}
                    </td>
                    {{if $file->getParentProjectName()}}
                    <td class="pt3 pb5 pL10 bdrbtm4" id='td-prj-{{$file->getId()}}' prjid='{{$file->getParentProjectId()}}' sprjid='{{$file->getProjectId()}}'>
                    {{if $loginuser->isAdmin() && $file->getParentProjectName() != ''}}
                        <a href="project.view.php?id={{$file->getParentProjectId()}}">{{$file->getParentProjectName()}}</a>
                    {{else}}
                        {{$file->getParentProjectName()|default:'-'}}
                    {{/if}}
                    </td>
                    <td class="pt3 pb5 pL10 bdrbtm4">
                    {{if $loginuser->isAdmin() && $file->getProjectName() != ''}}
                        <a href="project.view.php?id={{$file->getProjectId()}}">{{$file->getProjectName()}}</a>
                    {{else}}
                        {{$file->getProjectName()|default:'-'}}
                    {{/if}}
                    </td>
                    {{else}}
                    <td class="pt3 pb5 pL10 bdrbtm4" id='td-prj-{{$file->getId()}}' prjid='{{$file->getProjectId()}}'>
                    {{if $loginuser->isAdmin() && $file->getProjectName() != ''}}
                        <a href="project.view.php?id={{$file->getProjectId()}}">{{$file->getProjectName()}}</a>
                    {{else}}
                        {{$file->getProjectName()|default:'-'}}
                    {{/if}}
                    </td>
                    <td class="pt3 pb5 pL10 bdrbtm4">-</td>
                    {{/if}}
                    <td class="pt3 pb5 pL10 bdrbtm4">{{$file->getCategoryName()}}</td>
                    <td class="pt3 pb5 pL10 bdrbtm4" id='td-f-{{$file->getId()}}' fname='{{$file->getFileName()}}'>
                        <div id='file_name'>
                            <a href="file.view.php?id={{$file->getId()}}" title="{{$file->getNotes()}}" target="_blank">{{$file->getFileName()}}</a>
                            <br>
                            Size: {{$file->getFileSize(true)}}<br>
                            Revision:{{$file->getFileVersion()}}<br> 
                            Date: {{$file->createdDate}}<br>
                            Created By: {{$file->userFullName}}<br>
                        </div>
                    </td>
                    <!--
                    <td align="center" class="acenter pt3 pb5 pL10 bdrbtm4">
                        {{if $file->getIsPublic()}} Yes {{else}} No{{/if}}
                    </td>
                    -->
                    <span id='notes-{{$file->getId()}}' style='display:none;'>{{$file->getNotes()}}</span>
                    {{if $loginuser->isAdmin()}}
                    <td align='right' class="aright pt3 pb5 pL10 bdrbtm4 pR5">
                        <a href="javascript:;" class='imglink' title='Edit' onclick="editFiles({{$file->getId()}},{{$file->getCategoryId()}})">
                        <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
                        </a>
                        <!--
                        {{if $file->getFileHistory()}}
                        <a title="History" class="imglink" href="javascript:;" onclick="showHistory({{$file->getId()}})">
                            <img width="16" height="16" border="0" alt="History" src="img/history.png">
                        </a>
                        {{/if}}
                        -->
                        <a href="file.view.php?id={{$file->getId()}}" target="_blank" class='imglink' title='Download'>
                        <img src='img/icons/down16x16.png' border='0' width='16' height='16' alt='Download'/>
                        </a>
                        <a id='file_delete' href="javascript:;" onclick="deleteFiles({{$file->getId()}})" class='imglink' title='Delete'>
                        <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                        </a> 
                    </td>
                    {{else}}
                    <td align='right' class="pt3 pb5 pL10 bdrbtm4 aright">
                        {{if $file->isOwner}}
                        <a href="file.edit.php?id={{$file->getId()}}" class='imglink' title='Edit'>
                        <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
                        </a>
                        {{/if}}
                        <!--
                        {{if $file->getFileHistory()}}
                        <a title="History" class="imglink" href="javascript:;" onclick="showHistory({{$file->getId()}})">
                            <img width="16" height="16" border="0" alt="History" src="img/history.png">
                        </a>
                        {{/if}}
                        -->
                        <a href="file.view.php?id={{$file->getId()}}" target="_blank" class='imglink' title='Download'>
                        <img src='img/icons/down16x16.png' border='0' width='16' height='16' alt='Download'/>
                        </a>
                    </td>
                    {{/if}}
                </tr>
                <!-- File History -->
                {{if $file->getFileHistory()}}
                <!--
                <tr id="fH-{{$file->getId()}}" style='display:none;'>
                    <td colspan='7' class="{sorter:false}">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks" style='border:1px solid #045803'>
                        <tr>
                            <th colspan='7' class="acenter pt3 pb5 {sorter:false}">
                                File History
                            </th>
                        </tr>
                        {{foreach from=$file->getFileHistory() item=rfile name=j}}
                        <tr>
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width='220px'>&nbsp</td>
                        {{if $rfile->getParentProjectName()}}
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width="220px">
                            {{$rfile->getParentProjectName()|default:'-'}}
                        </td>
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width="150px">
                            {{$rfile->getProjectName()|default:'-'}}
                        </td>
                        {{else}}
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width="220px">
                            {{$rfile->getProjectName()|default:'-'}}
                        </td>
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width="150px">-</td>
                        {{/if}}
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width="220px">{{$file->getCategoryName()}}</td>
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted">
                        {{assign var='strIsPublic' value='Yes'}}
                        {{if $rfile->getIsPublic()}}
                            {{assign var='strIsPublic' value='Yes'}}
                        {{else if !$rfile->getIsPublic()}}
                            {{assign var='strIsPublic' value='No'}}
                        {{/if}}

                            <span class="filename">
                                <a href="file.view.php?id={{$rfile->getId()}}" title="{{$rfile->getNotes()}}" target="_blank" id='rfname-{{$rfile->getId()}}'>{{$rfile->getFileName()}}</a><br>
                                File Size: {{$rfile->getFileSize()}}<br>Revision: {{$rfile->getFileVersion()}}<br>
                                Created On: {{$rfile->createdDate}}<br>Created By: {{$rfile->userFullName}}<br>
                            </span>

                        </td>
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width='50px'>
                            {{$strIsPublic}}
                        </td>
                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width='100px'>
                            <a title="Download" class="imglink" target="_blank" href="file.view.php?id={{$rfile->getId()}}">
                                <img width="16" height="16" border="0" alt="Download" src="img/icons/down16x16.png">
                            </a>
                        </td>
                        </tr>
                        {{/foreach}}
                    </table>
                    </td>
                </tr> 
                -->
                {{/if}}
                <!-- // End -->
                {{/foreach}}
                </tbody>
            </table>
            {{else}}
                <div class="error message"><b>No files found for selected filters.</b></div>
            {{/if}}
            <form action="file.action.php" method="post" id="file_edit" name="file_edit" enctype="multipart/form-data">
                <input type='hidden' id='file_id' name='file_id' value='0'/>
                <input type='hidden' name='clientid' value='{{$client_id}}'/>
                <input type='hidden' name='projectid' value='{{$project_id}}'/>
                <input type='hidden' name='subprojectid' value='{{$subproject_id}}'/>
                <input type='hidden' name='file_version' value='{{$show_file_version}}'/>
                <input type='hidden' name='action' id='action'/>
            </form>
            <!-- Popup -->
            <div id='dFileFrmEdit' style='display:none;'>
            <form action="file.action.php" method="post" id="frmFile" name="frmFile" enctype="multipart/form-data">
                <input type='hidden' name='file_id' id='pfile_id' value=''/>
                <input type='hidden' name='action' id='faction' value=''/>
                <input type='hidden' name='docType' id='docType' value='PROJECT_DOCUMENT'/>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Client</th>
                        <td class="aleft pt3 pb5 pL10">
                            <select id="c_id" name="client_id" class="ui-widget-content ui-corner-all" onChange="fill_prj(this.value)">
                                <option value="0">-- Select Clients --</option>
                                {{foreach item=client from=$clients}}
                                <option value="{{$client->getId()}}" {{if $client_id eq $client->getId()}}selected="selected"{{/if}}>{{$client->getName()}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Project</th>
                        <td class="aleft pt3 pb5 pL10">
                            <select id="prj_id" name="project_id" class="ui-widget-content ui-corner-all" onChange="fill_subprj(this.value)">
                                <option value="0">-- Select Project --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Subproject</th>
                        <td class="aleft pt3 pb5 pL10">
                            <select id="subprj_id" name="subproject_id" class="ui-widget-content ui-corner-all">
                                <option value="0">-- Select Subproject --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Category</th>
                        <td class="aleft pt3 pb5 pL10">
                            <select name='prj_cat' id='prj_cat'>                
                                <option value="-1"> -- Select -- </option>
                            {{foreach item=cat from=$prj_category}}
                                <option value="{{$cat->getId()}}">{{$cat->getName()}}</option>
                            {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Is Public?</th>
                        <td class="aleft pt3 pb5 pL10">
                            <input type='radio' name='is_public' id='is_public' value='PUBLIC' checked/>
                            <label for='is_public'>Public</label>
                            <input type='radio' name='is_public' id='is_private' value='PRIVATE'/>
                            <label for='is_private'>Private</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Notes</th>
                        <td class="aleft pt3 pb5 pL10">
                            <textarea id='notes' name='notes' cols='30' rows='3'></textarea>
                        </td>
                    </tr>
                    <tr id='tr-file_name'>
                        <th class="aleft pt3 pb5 pL10">Document</th>
                        <td class="aleft pt3 pb5 pL10" id='td-file_name'> </td>
                    </tr>
                    <tr id='tr-edit-file_name'>
                        <th class="aleft pt3 pb5 pL10">&nbsp;</th>
                        <td class="aleft pt3 pb5 pL10">
                            <input type='radio' name='efaction' id='efaction-replace' value='REPLACE' checked/>
                            <label for='efaction-replace'>Replace File</label>
                            <input type='radio' name='efaction' id='efaction-revision' value='REVISION'/>
                            <label for='efaction-revision'>Add Revision</label>
                        </td>
                    </tr>
                    <tr id='tr-document_file'>
                        <th class="aleft pt3 pb5 pL10">Document</th>
                        <td class="aleft pt3 pb5 pL10" id='td-document_file'>
                            <input class="ui-widget-content ui-corner-all" id="document_file" type="file" name="file[]"/>
                        </td>
                    </tr>
                
                </table>
            </form>
            </div>
        </div>
         {{include file="footer.html"}}
    </body>
</html>

