<div style='clear:both;'></div>
<div id='footer'>
    <div id='footer-data'>
        &#169; 2015 <a href="{{$client_website_url}}" target='_blank'>GlobalSoft, Inc.</a> All Rights Reserved.
    </div>
</div>
