<tr>
   {{if $smarty.get.excel}}
			<td class="pt3 pb5 pL10 bdrbtm4">{{if !$proj->isSubproject()}} {{$proj->getName()}} {{else}} {{$proj->getParentName()}} {{/if}}</td>
			<td class="pt3 pb5 pL10 bdrbtm4">{{if $proj->isSubproject()}} {{$proj->getName()}} {{/if}}</td>
	{{else}}
    <td class="pt3 pb5 pL10 bdrbtm4"{{if $proj->isSubproject()}} {{$indent}} {{/if}}>
        {{if $proj->getStatus() == "PENDING"}}<span style="color:#FF0000;"><b>*</b></span>{{/if}}
        <a href="project.detail.php?id={{$proj->getId()}}" >{{$proj->getName()}}</a>
    </td>
   {{/if}}
  
	{{if !$loginuser->isAdmin()}}
    <td class="pt3 pb5 pL10 bdrbtm4"> {{if $proj->getRole() == "MANAGER"}} {{'Project manager'}} {{elseif $proj->getRole() == "MEMBER"}} {{'Project member'}} {{/if}}</td>
	{{/if}}
    <td class="pt3 pb5 pL10 bdrbtm4"><a href="client.view.php?id={{$proj->getClientId()}}">{{$proj->getClientName()}}</a></td>
    <td class="acenter pt3 pb5 pL10 bdrbtm4">
        {{if $proj->getIsBillable() eq '1'}} 
            <span class='active_one'>Yes</span>
        {{else}}
             <span class='inactive_one'>No</span>
        {{/if}}
    </td> 
    <td class="aLeft pt3 pb5 pL10 bdrbtm4">
        {{if $proj->getClosed() }}
            <span class='inactive_one'>Closed </span>
        {{else}}
           <span class='active_one'> Open </span>
        {{/if}} 
    </td>
    <td class="aright pt3 pb5 pL10 bdrbtm4">{{$proj->getStartDate()|date_format|default:"-"}}</td>
    <td class="aright pt3 pb5 pL10 bdrbtm4">{{$proj->getEndDate()|date_format|default:"-"}}</td>
    <td class="aright pt3 pb5 pL10 bdrbtm4 pR5">
        {{if $proj->isSubproject()}}
        <a href="project.view.php?id={{$proj->getId()}}" class='imglink' title='View Subproject'>
           <img src='img/icons/tab_projects.gif' border='0' width='16' height='16' alt='View Subroject'/>
        </a>
        {{else}}
        <a href="project.view.php?id={{$proj->getId()}}" class='imglink' title='View Project'>
           <img src='img/icons/tab_projects.gif' border='0' width='16' height='16' alt='View Project'/>
        </a>
        {{/if}}
        {{if $loginuser->isAdmin() || $proj->getRole() == "MANAGER"}}
        {{if $loginuser->isAdmin()}}
        <a href="javascript:;" onclick="move_project({{$proj->getClientId()}},{{$proj->getId()}},{{if $proj->isSubproject()}}{{$proj->getParentId()}}{{else}}0{{/if}});" class='imglink' title='Move Project'>
            <img src='img/icons/move_project.gif' border='0' width='16' height='16' alt='Move Project'/>
        </a>
        <a class="imglink" href="project.delete.php?id={{$project->getId()}}" title='Delete'>
            <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
        </a>
        {{/if}}
        <a href="project.edit.php?id={{$proj->getId()}}" class='imglink' title='Edit'>
            <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
        </a>
        {{/if}}
        {{if $proj->isSubproject()}}
        {{else}}
	        {{if $loginuser->isAdmin()}}
            <a href="project.add.php?parent_id={{$proj->getId()}}" class='imglink' title='Add Subproject'>
                <img src='img/icons/project_add.gif' border='0' width='16' height='16' alt='Add Subproject'/>
            </a>
            {{/if}}
        {{/if}} 
    </td>
 </tr>
<!-- <input type="hidden" value="{{$proj->getName()}}" id="prj_id_{{$proj->getId()}}">
<div id="{{$proj->getId()}}" style="display:none;">
        {{if $loginuser->isAdmin() or $proj->getRole() == "MANAGER"}}
            <a href="project.view.php?id={{$proj->getId()}}">View</a>
            {{$sep}}
            <a href="project.edit.php?id={{$proj->getId()}}">Edit</a>
           
            {{if $loginuser->isAdmin()}}
			 {{$sep}}
            <a href="project.delete.php?id={{$proj->getId()}}">Delete</a>
            {{$sep}}
            {{/if}}
        {{/if}}

        {{if not $proj->isSubproject() and ($loginuser->isAdmin() or $proj->getRole() == "MANAGER")}}
		     {{if !$loginuser->isAdmin()}}
			 {{$sep}}
			 {{/if}}
            <a href="project.add.php?parent_id={{$proj->getId()}}">Add subproject</a>
			{{if $loginuser->isAdmin()}}
            {{$sep}}
			{{/if}}
        {{/if}}
        {{if $loginuser->isAdmin()}}
        <a href="task.list.php?project_id={{$proj->getId()}}">View time</a>
        {{$sep}}
		
        {{if $proj->isSubproject()}}
            <a href="task.add.multiple.php?client_id={{$proj->getClientId()}}&project_id={{$proj->getParentId()}}&subproject_id={{$proj->getId()}}">Add time</a>
        {{else}}
            <a href="task.add.multiple.php?client_id={{$proj->getClientId()}}&project_id={{$proj->getId()}}">Add time</a>
        {{/if}}
        <a href="project.delete.action.php?id={{$proj->getId()}}&close=1">Close</a>
		{{/if}}	

</div>-->
