{{if $files}}
{{foreach from=$files item=file name=i}}
<span class="filename">
    {{if $allow_delete}}
    <input type="checkbox" name="delfile[]" value="{{$file->getId()}}" style="vertical-align: middle;"/>
    {{/if}}
    <a href="file.view.php?id={{$file->getId()}}" target="_blank">{{$file->getFileName()}} ({{$file->getFileSize(true)}})</a>
</span>
{{/foreach}}
{{else}}
No files found.
{{/if}}

