<select name="client_id" id="sel_client">
    <option value="0">-- Select client --</option>
    {{foreach item=c from=$clients}}
    <option value="{{$c->getId()}}" {{if $client && $c->getId() eq $client->getId()}}selected{{/if}}>{{$c->getName()}}</option>
    {{/foreach}}
</select>
<select name="project_id" id="sel_project">
    <option value="0">-- Select project --</option>
    {{if $projects}}
    {{foreach item=p from=$projects}}
    <option client_id="{{$p->getClientId()}}" value="{{$p->getId()}}" {{if $project && $p->getId() eq $project->getId()}}selected{{/if}}>{{$p->getName()}}</option>
    {{/foreach}}
    {{/if}}
</select>
<select name="subproject_id" id="sel_subproject">
    <option value="0">-- Select subproject --</option>
    {{if $subprojects}}
    {{foreach item=sp from=$subprojects}}
    <option client_id="{{$sp->getClientId()}}" value="{{$sp->getId()}}" {{if $subproject && $sp->getId() eq $subproject->getId()}}selected{{/if}}>{{$sp->getName()}}</option>
    {{/foreach}}
    {{/if}}
</select>

