<div id="header">
    <!--<div style="position: absolute; bottom: 5px; left: 5px;">-->
    <div id='header-logo' style='padding-top:20px; padding-left:20px; padding-bottom:20px;'>
        <!--<img src="img/logo.jpg" alt="GlobalSoft Logo" width="185" height="50"> -->
        <a href="http://www.globalss.com" class='imglink' target='_blank'>
        <img src="img/globalsoft_logo.jpg" alt="GlobalSoft Logo" width="215" height="50">
        </a>
        <!--<span style="color:#FF0000;font-size:20pt;"><b>Test Site</b></span>-->
    </div>
    <div style="position: absolute; top: 5px; right: 5px; font-size: 0.9em;">
 
        <SCRIPT>
        document.write(Date());
        </SCRIPT>

        {{*$smarty.now|date_format:"%a %b %e, %Y %H:%M %Z"*}}
        {{$sep}}
        {{$smarty.server.REMOTE_ADDR}}
    </div>
    <div id="header-info" style="position: absolute; top:20px; right: 5px; font-size: 0.9em;">
        {{if $loginuser->isLogin()}}
        Welcome {{$loginuser->getName()}}
        {{if $loginuser->getId() gt 1}}
        {{*$sep*}}
        <!--<a href="user.view.php">View profile</a>-->
        {{/if}}
        {{if $loginuser->isAdmin()}}
        {{$sep}}
        <a href="user.changepassword.php">Change password</a>
        {{/if}}
        {{if $loginuser->getId() gt 1}}
        {{$sep}}
        <a href="user.detail.php">My Profile</a>
        {{/if}}
        {{$sep}}
        <a href="../mediawiki/" target='_blank'>Wiki</a>
        {{$sep}}
        <a href="team.contacts.php">Addressbook</a>
        {{$sep}}
        <a href="user.logout.php">Sign out</a>
        {{else}}
        Welcome Guest
        {{if false}}
        {{$sep}}
        <a href="user.register.php">Register</a>
        {{/if}}
        {{$sep}}
        <a href="user.login.php">Sign in</a>
        {{/if}}
    </div>
{{if not $hidetabs}}
{{assign var="tabactive" value="active"}}
{{assign var="tabinactive" value=""}}
    <div class="clear:both;"></div>
    <div id="header-menus">
    <ul id="menu-level-1" class="menu-ul">
        {{if $tab eq "tasks"}}
        <li class="{{$tabactive}}"><a name="tasks">Time Reporting</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="task.timecard.php">Time Reporting</a></li>
        {{/if}}
        {{if $loginuser->isAdmin() || $loginuser->isHRManager()}}
        {{if $tab eq "users"}}
        <li class="{{$tabactive}}"><a name="users">Team Members</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="user.list.php">Team Members</a></li>
        {{/if}}
        {{/if}}

        {{if $tab eq "clients"}}
        <li class="{{$tabactive}}"><a name="clients">Clients</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="client.list.php">Clients</a></li>
        {{/if}}

        {{if $tab eq "projects"}}
        <li class="{{$tabactive}}"><a name="projects">Projects</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="project.list.php">Projects</a></li>
        {{/if}}
        {{if $loginuser->isAdmin()}}
        {{if $tab eq "setup"}}
        <li class="{{$tabactive}}"><a name="setup">Setup</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="setup.list.php">Setup</a></li>
        {{/if}}
        {{/if}}

        {{if $tab eq "files"}}
        <li class="{{$tabactive}}"><a name="files">Repository</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="file.list.php">Repository</a></li>
        {{/if}}

        <!--
        {{if $loginuser->isAdmin() || $loginuser->isSMTMember()}}
        {{if $tab eq "smt"}}
        <li class="{{$tabactive}}"><a name="smt">Action Items</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="smtaction.list.php">Action Items</a></li>
        {{/if}}
        {{/if}}
        -->

        {{if $tab eq "meetings"}}
        <li class="{{$tabactive}}"><a name="meetings">Meeting Minutes</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="meeting.list.php">Meeting Minutes</a></li>
        {{/if}}

        {{if $tab eq "calendar"}}
        <li class="{{$tabactive}}"><a name="calendar">Calendar</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="calendar.view.php">Calendar</a></li>
        {{/if}}

        {{if $tab eq "trivia"}}
        <li class="{{$tabactive}}"><a name="trivia">Trivia</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="trivia.list.php">Trivia</a></li>
        {{/if}}


        <!--
        {{if $tab eq "ideas"}}
        <li class="{{$tabactive}}"><a name="idea">Idea Tracker</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="ideatracker.list.php">Idea Tracker</a></li>
        {{/if}}

        {{if $tab eq "contacts"}}
        <li class="{{$tabactive}}"><a name="calendar">Contacts</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="contact.list.php">Contacts</a></li>
        {{/if}}
        -->

        <!--
        {{if $tab eq "reports"}}
        <li class="{{$tabactive}}"><a name="reports">Reports</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="report.php">Reports</a></li>
        {{/if}}
        -->

        {{if $tab eq "reports"}}
        <li class="{{$tabactive}}"><a name="reports">Reports</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="timecard.report.php">Reports</a></li>
        {{/if}}

    	{{if $loginuser->isAdmin()}}
        {{if $tab eq "licenses"}}
        <li class="{{$tabactive}}"><a name="licenses">Licenses</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="license.list.php">Licenses</a></li>
        {{/if}}
        {{/if}}

        <!--
        {{if $tab eq "activities"}}
        <li class="{{$tabactive}}"><a name="activities">Activities</a></li>
        {{else}}
        <li class="{{$tabinactive}}"><a href="employeeactivity.list.php">Activities</a></li>
        {{/if}}
        -->

    </ul>
    <div id="header-submenus">
        <!--
       {{if $tab eq "reports"}}
        <ul id="menu-level-3" class="menu-ul">
            {{if $childtab eq "timecardreport"}}
                <li><a name='timecardreports' class='{{$tabactive}}'>Timecard Report</a></li>
            {{else}}
                <li><a href='timecard.report.php' class='{{$tabinactive}}'>Timecard Report</a></li>
            {{/if}}
            {{if $loginuser->isAdmin() || $loginuser->isHRManager()}}
            {{if $childtab eq "userreport"}}
                <li><a name='userreport' class='{{$tabactive}}'>Member Report</a></li>
            {{else}}
                <li><a href='user.list.report.php' class='{{$tabinactive}}'>Member Report</a></li>
            {{/if}}
            {{/if}}
        </ul>
        {{/if}}
        -->
    </div>

    </div>
{{/if}}
</div>
