{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
		<link rel="stylesheet" type="text/css" media="all" href="js/dynDateTime/css/calendar-blue2.css"  />
        <script type="text/javascript" src="js/dynDateTime/jquery.dynDateTime.js"></script>
        <script type="text/javascript" src="js/dynDateTime/lang/calendar-en.js"></script>
        <script type="text/javascript" src="js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
        <script type="text/javascript" src="js/tinymce.js"></script>
        <script type="text/javascript" language="javascript">
            jQuery(function($){
                configTinyMCE("#txtDescription");

                $("#txtDateTime").dynDateTime({
                    showsTime: true, ifFormat: "%m/%d/%Y %H:%M", button: ".next()"
                });
                $("#btnAdd").click(function(){
                    var blnFound=false;
                    if($("#txtDateTime").val() == "") {
                        $("#txtDateTime").focus();
                        jAlert("Please select an idea date time!","An Idea");
                        return false;
                    }
                    if($("#txtTitle").val() == "") {
                        $("#txtTitle").focus();
                        jAlert("Please enter an idea title!","An Idea");
                        return false;
                    }
                    if($("#txtDescription").val() == "") {
                        jAlert("Please enter an idea description!","An Idea");
                        $("#txtDescription").focus();
                        return false;
                    }
                    $("#txtStatus").val("PUBLISHED");
                    $("#action").val("");
                    $("#idea_edit").submit();
                });
                $("#btnDraft").click(function(){
                    $("#txtStatus").val("DRAFT");
                    $("#action").val("");
                    $("#idea_edit").submit();
                });
            });
            function removeFile(id,fname) {
                if(id > 0) {
                    jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the attachment?<br><br><i>"'+fname+'"</i></b>','Idea Tracker', function(r) {
                        if(r) {
                            $("#txtFileId").val(id);
                            $("#action").val("DELETE_FILE");
                            $("#idea_edit").submit();
                        }
                    });
  
                }
            }
            function addRow(){
                var index = $("#index").val();
                var tds = $('#tr-0').html().replace("file-0","file-"+index);
                tds = tds.replace("img-0","img-"+index);
                tds = tds.replace("removeRow()","removeRow("+index+")");
                $("#tr-addRow").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
                index = parseInt(index) + 1; 
                $("#index").val(index);
            }
            function removeRow(id) {
                $("#tr-"+id).remove();
            }
        </script>
    </head>
    <body>
        {{include file="ideatracker.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
                    <h1>Edit an idea</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="idea.save.action.php" method="post" id="idea_edit" name="idea_edit" enctype="multipart/form-data">
                <input type='hidden' name='index' id="index" value="9000"/>
                <input type="hidden" name="id" id="txtIdeaId" value="{{$idea->getId()}}"/>
                <input type="hidden" name="file_id" id="txtFileId" value="0"/>
                <input type="hidden" name="txtStatus" id="txtStatus" value""/>
                <input type="hidden" name="action" id="action" value""/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Date *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="text" name="txtDateTime" id="txtDateTime" value="{{$idea->getDateTime()}}" class="datepicker" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Title *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="textbox" name="txtTitle" id="txtTitle" class="expand2fit" value="{{$idea->getTitle()}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Description *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtDescription" id="txtDescription" class="expand2fit" rows="15" cols="40">{{$idea->getDescription()}}</textarea> 
                        </td>
                    </tr>
                    <!--
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Status *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select id="txtStatus" name="txtStatus">
                                <option value="OPEN" {{if $idea->getStatus() eq 'Open'}}selected{{/if}}>Open</option>
                                <option value="VALIDATED" {{if $idea->getStatus() eq 'Validated'}}selected{{/if}}>Validated</option>
                                <option value="CONFIRMED" {{if $idea->getStatus() eq 'Confirmed'}}selected{{/if}}>Confirmed</option>
                            </select>
                        </td>
                    </tr>
                    -->
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Attachments</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <div class="inlineblockgroup">
                                {{if $idea->getFiles() }}
                                {{foreach item=f from=$idea->getFiles()}}
                                    <span style="display:inline-block; margin-right:15px;">
                                        <a href="idea.file.view.php?id={{$f.id}}">{{$f.file_name}}</a>
                                        <img border="0" align="absmiddle" width="17" src="img/icons/nocheckmark.png" onclick="removeFile({{$f.id}},'{{$f.file_name}}')" id="imgD-0">
                                    </span>
                                {{/foreach}}
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Attach Files</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <table width="100%" id="tblOthers">
                                <tr id="tr-0" style="display:none;">
                                    <td>
                                        <input type="file" name="file[]" id="file-0" class="ui-widget-content ui-corner-all expand2fit"/>
                                    </td>
                                    <td>
                                        <img border="0" align="absmiddle" width="14" height="14" src="img/remove.gif" onclick="removeRow()" id="img-0">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="ui-widget-content ui-corner-all expand2fit" id="file-1" type="file" name="file[]"/>
                                    </td>
                                    <td><input type="button" name="btnAddRow" id="btnAddRow" value="Add Row" onclick="addRow();"/></td>
                                </tr>
                                <tr id="tr-addRow" style="display:none;">
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align: center;" class="acenter pt3 pb5 pL10 bdrbtm4">
                            <input type="button" name="btnDraft" id="btnDraft" value="Save as draft"/>
                            <input type="button" name="btnAdd" id="btnAdd" value="Publish"/>
                            <a href="ideatracker.list.php" class="linkbutton" vText='Cancel'>Cancel and go back to idea tracker list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body
</html>
    
