{{include file="doctype.html"}}
<html>
<head>
<title>Timesheet</title>
{{include file="css.and.js.html"}}
    <script>
        var parent_id = 0;
        $(function(){
        });
            function addComments(){
                if($("#txtTitle").val() == "") {
                    $("#txtTitle").focus();
                    jAlert("Please enter a title!","Idea Tracker");
                    return false;
                }
                if($("#txtComments").val() == "") {
                    $("#txtComments").focus();
                    jAlert("Please enter a comment!","Idea Tracker");
                    return false;
                }
                $("#frmComments").submit();
            }

        var frmCom = '';
        var pFrmComId = 0;
        function addReply(id) {
            if(pFrmComId > 0) {
                $("#replyCom-"+pFrmComId).remove();
                $("#dComment").html("");
            }
            else {
                frmCom = $("#dComment").html();
                $("#dComment").html("");
            }
            var tmpC = "<div id='replyCom-"+id+"' class='' style='height:200px;'>"+frmCom+"</div>";
            $("#btnReply-"+id).after(tmpC);
            $("#replyCom-"+id).find("#btnAddComments").after("&nbsp;&nbsp;<a href='javascript:;' onclick='cancelReply("+id+")'><b>Click here to cancel reply.</b></a>");
            $("#btnAddComments").val("Reply comment");
            pFrmComId = id;
            $("#txtParentId").val(id);
            $("#dComText").text("Leave a reply");
        }
        function cancelReply(id) {
            $("#replyCom-"+id).remove();
            $("#dComment").html(frmCom);
            $("#btnAddComments").val("Add comment");
            $("#txtParentId").val('0');
            $("#dComText").text("Leave a comment");
        }
        function replyShow(id) {
            //$("#btnReply-"+id).show();
        }
        function replyHide(id) {
            //$("#btnReply-"+id).hide();
        }
    </script>
</head>
<body>
{{include file="ideatracker.common.html"}}
<div id="nav2">
    <a href="ideatracker.list.php" class="linkbutton" vText='Cancel'>Back to an idea tracker list</a>
    {{if $loginuser->isAdmin() || $idea->isOwner()}}
    <a href="idea.edit.php?id={{$idea->getId()}}" class="linkbutton">Edit an idea</a>
    {{/if}}
</div>
<div id="content" class='d-block-table'> {{include file="message.html"}}
  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td class="pt3 pb5 pL10 pR5"><h1>{{$idea->getTitle()}} {{if $idea->getStatus() eq "Draft" }}<span style="color:#FF0000;"><em>(Draft)</em></span>{{/if}}</h1>
        <div style="border-bottom:1px dotted #CCCCCC;border-top:1px dotted #CCCCCC;margin:10px 0 15px;padding:10px 0;"> 
            {{if $idea->getFiles() }}
            <span id="files" style="color:#A1C531;font-weight:bold;font-size:9pt;"> Attachments: </span> 
            <div class="inlineblockgroup">
                {{foreach item=f from=$idea->getFiles()}}
                <span style="display:inline-block; margin-right:15px;"> <a href="idea.file.view.php?id={{$f.id}}">{{$f.file_name}}</a> </span>
                {{/foreach}}
            </div>
            <br>
            {{/if}} 
            Posted on {{$idea->create_date}} / By 
            <span style="color:#FF8B00;">{{$idea->getCreatedBy()}}</span> 
            <br/>
            Last Updated on {{$idea->update_date}} / By 
            <span style="color:#FF8B00;">{{$idea->getUpdatedBy()}}</span> 
        </div>
      </td>
    </tr>
    <tr>
      <td class="pt3 pb5 pL10 pR5"><div id="idea_body">{{$idea->getDescription()}}</div></td>
    </tr>
    {{if $idea->getStatus() eq "Published" }} 
    <tr>
      <td id="comtitle" class="pt3 pb5 pL10 pR5">
        <div style="border-bottom:1px dotted #CCCCCC;border-top:1px dotted #CCCCCC;margin:10px 0 15px;padding:10px 0;"> 
            <span style="color:#FF8B00;font-weight:bold;font-size:15pt;">{{$idea->getTotalComments()}} Comments</span> 
            <span style="color:#FF8B00;font-weight:bold;font-size:9pt;">({{$idea->getTotalCommentsReply()}} Replies)</span> 
            <div class="reply"> <span class="comment-reply-link"><a href="#dComment" onClick="parent_id=0;$('#txtTitle').focus();">Add Comment</a></span> </div>
        </div>
     </td>
    </tr>
    <tr>
      <td class="pt3 pb5 pL10 pR5">
        <div class="commentslist">
         
		 {{foreach item=c from=$comments}}
            <div class="{{$c->class}}">

                <div class="comments" id="comment-{{$c->getId()}}" onmouseover="replyShow({{$c->getId()}})" onmouseout="replyHide({{$c->getId()}})">
                    <div id="vcard-{{$c->getId()}}">
                        <span class="avatar">
                            <img width="50" height="50" class="avatar" src="resize.image.php?u={{$c->getUserId()}}&w=50&h=50" alt="{{$c->getOwner()}}">
                        </span>
                        <span><a href="#">{{$c->getOwner()}}</a></span> 
                    </div>
                    <div class="comment-meta commentmetadata"><a href="#">{{$c->date_time}}</a></div>
                    <span style="color:#A1C531;font-weight:bold;">{{$c->getTitle()}}</span>
                    <p>{{$c->getComment()}}</p>
                    <div class="reply" id="btnReply-{{$c->getId()}}" style="display:block;">
                        <span class="comment-reply-link" id="sp-{{$c->getId()}}">
                            <a href="javascript:;" onclick="addReply({{$c->getId()}});">Reply</a>
                        </span>
                    </div>
                </div>

                {{if $c->getChildrens() }}
                {{foreach item=i from=$c->getChildrens()}}
                <div class="comment-children">
                    <div class="comment-reply {{$i->class}}">
                        <div id="comment-{{$i->getId()}}" class="comments">
                            <div id="vcard-{{$i->getId()}}">
                                <span class="avatar">
                                    <img width="50" height="50" class="avatar avatar-50 photo" src="resize.image.php?u={{$i->getUserId()}}&w=50&h=50" alt="{{$i->getOwner()}}">
                                </span>
                                <span><a href="#">{{$i->getOwner()}}</a></span>
                            </div>
                            <div class="comment-meta commentmetadata"><a href="#">{{$i->date_time}}</a></div>
                            <span style="color:#A1C531;font-weight:bold;">{{$i->getTitle()}}</span>
                            <p>{{$i->getComment()}}</p>
                            <div class="reply" id="btnReply-{{$i->getId()}}"> 
                                <span class="comment-reply-link" id="sp-{{$i->getId()}}" style="display:block;">
                                    <a href="javascript:;" onclick="addReply({{$i->getId()}});">Reply</a>
                                </span> 
                            </div>
                        </div>

                        {{if $i->getReplies() }} 
                        {{foreach item=r from=$i->getReplies()}}
                        <div class="comment-children">
                            <div class="{{$r->class}}">
                                <div id="comment-{{$r->getId()}}">
                                    <div id="vcard-{{$r->getId()}}"> 
                                        <span class="avatar">
                                            <img width="50" height="50" class="avatar avatar-50 photo" src="resize.image.php?u={{$r->getUserId()}}&w=50&h=50" alt="{{$r->getOwner()}}">
                                        </span> 
                                        <span><a href="#">{{$r->getOwner()}}</a></span> 
                                    </div>
                                    <div class="comment-meta commentmetadata"><a href="#">{{$r->date_time}}</a></div>
                                    <span style="color:#A1C531;font-weight:bold;">{{$r->getTitle()}}</span>
                                    <p>{{$r->getComment()}}</p>
                                </div>
                            </div>
                        </div>
                        {{/foreach}}
                        {{/if}}
                    </div>

                </div>
                {{/foreach}}
                {{/if}}

            </div>
          {{/foreach}}
        </div>

		<div id="dComment" style="height:200px;">
            <form id="frmComments" name="frmComments" method="POST" action="idea.comments.save.action.php">
                <input type="hidden" name="id" id="txtId" value="{{$idea->getId()}}"/>
                <input type="hidden" name="parent_id" id="txtParentId" value="0"/>
                <table cellpadding="5" cellspacing="2" border="0" width="50%" align="left" style="border:none; background-color:inherit;">
                    <tr><td colspan="2"><h2 id='dComText'>Leave a comment</h2></td></tr>
                    <tr>
                        <td style="background-color: inherit;">Title</td>
                        <td style="background-color: inherit;"><input type="text" name="txtTitle" id="txtTitle"/></td>
                    </tr>
                    <tr>
                        <td style="background-color: inherit;">Comment</td>
                        <td style="background-color: inherit;"><textarea cols="50" rows="5" name="txtComments" id="txtComments"></textarea></td>
                    </tr>
                    <tr>
                        <td style="background-color: inherit;">&nbsp;</td>
                        <td style="background-color: inherit;">
                            <input type="button" name="btnAddComments" id="btnAddComments" value="Add comment" onclick="addComments();"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        </td>
    </tr> 
   {{/if}}
<!--
          <div class="comments-odd">
            <div id="commentID">
              <div id="vcard"> <span class="avatar"><img width="50" height="50" class="avatar avatar-50 photo" src="http://www.gravatar.com/avatar/6262838ec8d5d96213eab889c2649b53?s=50&amp;d=http%3A%2F%2Fwww.fuelyourcreativity.com%2Fwp-content%2Fthemes%2FFuel3%2Fimages%2Fgravatar.png%3Fs%3D50&amp;r=PG" alt=""></span> <span><a href="#">Admin</a></span> </div>
              <div class="comment-meta commentmetadata"><a href="#">12 Oct 09 at 7:09 am</a></div>
              <p>A nice summary of desirable logo attributes there, much more of an easier said than done feeling though!</p>
              <div class="reply"> <span class="comment-reply-link"><a href="#">Reply</a></span> </div>
            </div>

            <div class="comment-children">
              <div class="comment-reply comment-reply-even">

                <div id="commentID">
                  <div id="vcard"> <span class="avatar"><img width="50" height="50" class="avatar avatar-50 photo" src="http://www.gravatar.com/avatar/6262838ec8d5d96213eab889c2649b53?s=50&amp;d=http%3A%2F%2Fwww.fuelyourcreativity.com%2Fwp-content%2Fthemes%2FFuel3%2Fimages%2Fgravatar.png%3Fs%3D50&amp;r=PG" alt=""></span> <span><a href="#">Admin</a></span> </div>
                  <div class="comment-meta commentmetadata"><a href="#">12 Oct 09 at 7:09 am</a></div>
                  <p>Thanks Dave. I agree, it’s much easier said than done. There’s tons of research involved. I would say that this is the bare minimum in information logo designers should know.</p>
                  <div class="reply"> <span class="comment-reply-link"><a href="#">Reply</a></span> </div>
                </div>
                <div class="comment-children">
                  <div class="comment-reply-odd comment-children-child">
                    <div id="commentID">
                      <div id="vcard"> 
                        <span class="avatar">
                            <img width="50" height="50" class="avatar avatar-50 photo" src="http://www.gravatar.com/avatar/6262838ec8d5d96213eab889c2649b53?s=50&amp;d=http%3A%2F%2Fwww.fuelyourcreativity.com%2Fwp-content%2Fthemes%2FFuel3%2Fimages%2Fgravatar.png%3Fs%3D50&amp;r=PG" alt="">
                        </span> 
                        <span><a href="#">Admin</a></span> 
                      </div>
                      <div class="comment-meta commentmetadata"><a href="#">12 Oct 09 at 7:09 am</a></div>
                      <p>Thanks Dave. I agree, it’s much easier said than done. There’s tons of research involved. I would say that this is the bare minimum in information logo designers should know.</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
                -->

        
    <tr>
        <td align="center" class="acenter pt3 pb5 pL10 pR5"> 
            <a href="ideatracker.list.php" class="linkbutton" vText='Cancel'>Back to an idea tracker list</a>
            {{if $loginuser->isAdmin() || $idea->isOwner()}}
            <a href="idea.edit.php?id={{$idea->getId()}}" class="linkbutton">Edit an idea</a>
            {{/if}}
        </td>
    </tr>
  </table>

  <form action="idea.save.action.php" method="post" id="idea_edit" name="idea_edit">
    <input type="hidden" name="id" id="txtId" value="{{$idea->getId()}}"/>
    <table cellpadding="5" cellspacing="2" border="0" width="100%">
      <!--
                    <tr>
                        <th class="aleft ui-corner-tl" width="200">Date</th>
                        <td>{{$idea->getDateTime()}}
      </td>
      
      </tr>
      
      <tr>
        <th class="aleft ui-corner-tl" width="200">Title</th>
        <td></td>
      </tr>
      <tr>
        <th class="aleft ui-corner-tl">Description</th>
        <td></td>
      </tr>
      <tr>
        <th class="aleft ui-corner-tl">Status</th>
        <td>{{$idea->getStatus()}}</td>
      </tr>
      <tr>
        <th class="aleft ui-corner-tl">Created On / By</th>
        <td>{{$idea->getCreateDate()}} / {{$idea->getCreatedBy()}}</td>
      </tr>
      <tr>
        <th class="aleft ui-corner-tl">Updated On / By</th>
        <td>{{$idea->getUpdateDate()}} / {{$idea->getUpdatedBy()}}</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;"> {{if $loginuser->isAdmin() || $loginuser->isMeetinMinutesManager()}} <a href="idea.edit.php?id={{$idea->getId()}}" class="linkbutton">Edit an idea</a> {{/if}} <a href="ideatracker.list.php" class="linkbutton">Cancel and go back to idea tracker list</a> </td>
      </tr>
      -->
    </table>
  </form>
</div>
</body
>
</html>
