{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
        <script type="text/javascript" language="javascript">
            function del_ideas(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete an idea?</b><br><br>Please make a note that all uploaded files under this idea will be deleted.',"Idea Tracker", function(r) {
                    if(r) {
                        $("#txtID").val(id);
                        $("#action").val("DELETE");
                        $("#idea_edit").submit();
                    }
                });
            }
            jQuery(function($){
                $("#btnView").click(function() {
                    if($("#view").val() == "list") {
                        $("#view").val("table");
                    }
                    else {
                        $("#view").val("list");
                    }
                    $("#frm_filter").submit();
                });
                $("#btnFilter").click(function(){
                    $("#p").val("1");
                    $("#frm_filter").submit();
                });
            });
        </script>
    </head>

    <body>
        {{include file="ideatracker.common.html"}}
        <div id="nav2">
            <a href="idea.add.php" class="linkbutton">Add an idea</a>
            {{if $view eq "list"}} 
            <input type='button' name='btnView' id='btnView' value='Table View'/>
            {{else}}
            <input type='button' name='btnView' id='btnView' value='List View'/>
            {{/if}}
        </div>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="20%" class="pt3 pb5 pL10"><h1>Idea Trackers</h1></td>
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                        <form action="ideatracker.list.php" method="get" id="frm_filter">
                        <input type='hidden' name='view' id='view' value='{{$view}}'/>
                        <input type='hidden' name='p' id='p' value='{{$p}}'/>
                        <input type="checkbox" name="status" id="status" value="ALL" {{if $status eq "ALL"}}checked{{/if}}/><b>Show drafts</b>&nbsp;&nbsp;
                        From Date <input type="text" name="from_date" id="txtFromDate" value="{{$from_date}}" class="datepicker"/>&nbsp;&nbsp;
                        To Date <input type="text" name="to_date" id="txtToDate" value="{{$to_date}}" class="datepicker"/>&nbsp;&nbsp;
                        &nbsp;&nbsp;<input type="button" name="btnFilter" id="btnFilter" value="Filter ideas"/>
                        </form>
                    </td>
                </tr>
                {{if $view eq "table"}}
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="ideatracker.list.php?excel=1&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
                {{/if}} 
            </table>
            <br>
            <form action="idea.save.action.php" method="post" id="idea_edit" name="idea_edit">
            <input type="hidden" name="action" id="action" value=""/>
            <input type="hidden" name="id" id="txtID"/>
            {{if $view eq "list"}}
            {{include file="idea.listview.html"}}
            {{else}}
            {{include file="table.ideatracker.list.html"}}
            {{/if}}
            </form> 
        </div>
    </body>
</html>
