{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html" skipjs=1}}
    </head>

    <body>
        {{include file="header.html"}}
        <h1 class="acenter">Yet to be completed !</h1>
    </body>

</html>
