{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: License List</title>
        {{include file="css.and.js.html"}}
        <script>
            jQuery(function($){
                $("#frm_filter").find("select").change(function(){
                    $("#frm_filter").submit();
                });            
            });
        </script>
    </head>

    <body>
        {{include file="license.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $loginuser->isAdmin()}}
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td width="20%" class="pt3 pb5 pL10">
                            <h1>Licenses</h1>
                        </td>
                        <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                            <span id='selOpt'>
                                <form method="get" action="license.list.php" id="frm_filter">
                                    <select id="sel_client_id" name="client_id">
                                        <option value="0">-- Clients --</option>
                                        {{foreach item=client from=$clients}}
                                        <option value="{{$client->getId()}}" {{if $client_id eq $client->getId()}}selected="selected"{{/if}}>{{$client->getName()}}</option>
                                        {{/foreach}}
                                    </select>
                                    <select id="sel_product_id" name="product_id">
                                        <option value="0">-- Products --</option>
                                        {{foreach item=product from=$products}}
                                        <option value="{{$product->getId()}}" {{if $product_id eq $product->getId()}}selected="selected"{{/if}}>{{$product->getName()}}</option>
                                        {{/foreach}}
                                    </select>
									<select id="license_version" name="license_version">
										<option value="0">-- License Scheme --</option>
										<option value="1"{{if $license_version eq 1}} selected="selected"{{/if}}>Old License Scheme</option>
										<option value="2"{{if $license_version eq 2}} selected="selected"{{/if}}>New License Scheme</option>
									</select>
                                    <select id="license_type_id" name="license_type_id">
                                        <option value="0">-- License Type --</option>
										{{section name=i loop=$license_types}}
										{{assign var=id value=$license_types[i]->getId()}}
										<option value="{{$id}}"{{if $license_type_id eq $id}} selected="selected"{{/if}}>{{$license_types[i]->getName()}}</option>
										{{/section}}
                                    </select>
                                </form>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td align='right' colspan='2' class='pR5'>
                            <a id="export" onmouseover="this.style.color='#FFF'" onmouseout="this.style.color='#0066CB'" href="license.list.php?client_id={{$client_id}}&product_id={{$product_id}}&license_type={{$license_type}}&excel=1">Export to excel</a>
                            <div class='d-dashed'></div>
                        </td>
                    </tr>
                </table>
                <br>
                {{if $licenses}}
                {{include file="table.license.list.html"}}
                {{else}}
                    <div class="info">
                        No licenses found.
                    </div>
                {{/if}}
            {{/if}}
        </div>
        {{include file="footer.html"}}
    </body>

</html>
