{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Software License Agreement Detail</title>
        {{include file="css.and.js.html"}}

        <style type="text/css">
            input[type="text"] {
                width: 220px;
            }
            select {
                width: 227px;
            }

/* To override default ui style */
	    	.ui-widget {
		    	font-size: 1em;
    		}
            #add-client {
                font-family: Arial,Helvetica,sans-serif
            }
/* To override default ui style */

            #tbl_licenses a {
                color: #0066CB;
            }
            #tbl_licenses a:hover {
                background-color: #0066CB;
                color: #FFFFFF;
            }

            .disabled {
                color: #5C5C5C;
            }
            .key {
                font-weight: bold;
                font-size: 12px;
                color: #4B0000;
            }
            .bdrbtm4 img {
                padding-left: 8px;
            }
        </style>

        <script>
            var contact_role = new Array();
            var contact_phone = new Array();
            var contact_email = new Array();
            var index = 9000;
            jQuery(function($){

                $("#valid_upto").datepicker({changeMonth: true, changeYear: true,dateFormat:'mm/dd/yy'});

                $("#SLA").show();
                $("#download_details").hide();
                $("#contacts").hide();
                $("#notes_div").hide();
                $("#tabSLA").click(function(){
                    $("#SLA").show();
                    $("#download_details").hide();
                    $("#contacts").hide();
                    $("#notes_div").hide();
                    $("#liDownloadDetails").removeClass("active");
                    $("#liContacts").removeClass("active");
                    $("#liNotes").removeClass("active");
                    $("#liSLA").addClass("active");
                    $(".info").hide();
                });
                $("#tabDownloadDetails").click(function(){
                    $("#SLA").hide();
                    $("#download_details").show();
                    $("#contacts").hide();
                    $("#notes_div").hide();
                    $("#liDownloadDetails").addClass("active");
                    $("#liContacts").removeClass("active");
                    $("#liNotes").removeClass("active");
                    $("#liSLA").removeClass("active");
                });
                $("#tabContacts").click(function(){
                    $("#SLA").hide();
                    $("#download_details").hide();
                    $("#contacts").show();
                    $("#notes_div").hide();
                    $("#liDownloadDetails").removeClass("active");
                    $("#liContacts").addClass("active");
                    $("#liNotes").removeClass("active");
                    $("#liSLA").removeClass("active");
                    $(".info").hide();
                });
                $("#tabNotes").click(function(){
                    $("#SLA").hide();
                    $("#download_details").hide();
                    $("#contacts").hide();
                    $("#notes_div").show();
                    $("#liDownloadDetails").removeClass("active");
                    $("#liContacts").removeClass("active");
                    $("#liNotes").addClass("active");
                    $("#liSLA").removeClass("active");
                    $(".info").hide();
                });

                $("#btnAddMore").click(function() {
                    var tds = $('#tr-0').html().replace("removeRow()","removeRow("+index+")");
                    tds = tds.replace('sla_file', 'sla_adj[]');
                    $("#vAdd-more").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
                    index++;
                });

                $("#btnEdit").click(function() {
                    $("#sla_doc").removeAttr('disabled');
                    $("#agreement_id").removeAttr('disabled');
                    $("#client_id").removeAttr('disabled');
                    $("#location").removeAttr('disabled');
                    $("#business_contact_id").removeAttr('disabled');
                    $("#brole").removeAttr('disabled');
                    $("#technical_contact_id").removeAttr('disabled');
                    $("#trole").removeAttr('disabled');
                    $("#notices_contact_id").removeAttr('disabled');
                    $("#nrole").removeAttr('disabled');
                    $("#notes").removeAttr('disabled');
                    $("#valid_upto").removeAttr('disabled');
					$("#license_type_id").removeAttr('disabled');

                    $("#agreement_id").removeClass('disabled');
                    $("#client_id").removeClass('disabled');
                    $("#location").removeClass('disabled');
                    $("#business_contact_id").removeClass('disabled');
                    $("#brole").removeClass('disabled');
                    $("#technical_contact_id").removeClass('disabled');
                    $("#trole").removeClass('disabled');
                    $("#notices_contact_id").removeClass('disabled');
                    $("#nrole").removeClass('disabled');
                    $("#notes").removeClass('disabled');
                    $("#valid_upto").removeClass('disabled');
					$("#license_type_id").removeClass('disabled');

                    $(".sla_adj_del_img").each(function(i) {
                        $(this).show();
                    });

                    $("#vAdd-more").show();
                    $(this).hide();
                    $("#btn_save").show();
                    $(".info").hide();
                });

                // Alphanumeric validation
                $("#agreement_id").keyup(function(){this.value=this.value.match(/^[a-zA-Z0-9]+/)});

                $("#btn_save").click(function() {

                    if($.trim($("#agreement_id").val()) == "")
                        jAlert("Please specify SLA Id","License Key Management");
                    else if($("#client_id").val() == "0")
                        jAlert("Please select Licensee","License Key Management");
                    else if($.trim($("#location").val()) == "")
                        jAlert("Please specify the Location","License Key Management");
                    else if($("#technical_contact_id").val() == "0") {
                        $("#SLA").hide();
                        $("#contacts").show();
                        $("#notes_div").hide();
                        $("#liContacts").addClass("active");
                        $("#liNotes").removeClass("active");
                        $("#liSLA").removeClass("active");
                        jAlert("Please select Technical Contact","License Key Management");
                    }
                    else {
                        $("#frm").submit(); 
                    }
                });

                $("#resend_email").click(function() {
                    $("#action").val('RESEND-EMAIL');
                    $("#frm").submit(); 
                });

                $("#technical_contact_id").change(function() { // To populate Contact Email Id
                    $("#trole").val(contact_role[$(this).val()]);
                    $("#tphone").val(contact_phone[$(this).val()]);
                    $("#temail").val(contact_email[$(this).val()]);
                });

                $("#business_contact_id").change(function() { // To populate Contact Email Id
                    $("#brole").val(contact_role[$(this).val()]);
                    $("#bphone").val(contact_phone[$(this).val()]);
                    $("#bemail").val(contact_email[$(this).val()]);
                });

                $("#notices_contact_id").change(function() { // To populate Contact Email Id
                    $("#nrole").val(contact_role[$(this).val()]);
                    $("#nphone").val(contact_phone[$(this).val()]);
                    $("#nemail").val(contact_email[$(this).val()]);
                });

            });


            function changeClient(client_id)
            {
                // JSON (Ajax) call http://api.jquery.com/jQuery.getJSON/
                $.getJSON('client.view.php', { id: client_id, ajax: 'yes' }, function(data) {
                    var items = [];
                    $.each(data, function(key, val) {
                        contact_role[val.Id] = val.JobTitle; // To populate Contact Email Id
                        contact_phone[val.Id] = val.Phone; // To populate Contact Email Id
                        contact_email[val.Id] = val.Email; // To populate Contact Email Id
                        items.push('<option value="' + val.Id + '">' + val.Name + '</option>');
                    });

                    contacts = items.join('');
                    $("#technical_contact_id").html('<option value="0"> - Select Technical Contact - </option>' + contacts);
                    $("#trole, #tphone, #temail").val('');
                    $("#business_contact_id").html('<option value="0"> - Select Business Contact - </option>' + contacts);
                    $("#brole, #bphone, #bemail").val('');
                    $("#notices_contact_id").html('<option value="0"> - Select Contact for Notices - </option>' + contacts);
                    $("#nrole, #nphone, #nemail").val('');
                });
            }

            function removeRow(id) {
                $("#tr-"+id).remove();
            }

            function removeSlaAdjDoc(id, doc) {
                $("#sla_adj_del").val(id + '~~' + doc + ';;' + $("#sla_adj_del").val());
                $("#tr-"+id).remove();
            }
        </script>

    </head>

    <body>
        {{include file="license.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Software License Agreement Detail</h1>
                </td></tr>
            </table>
            <form action="license.edit.action.php" method="post" enctype="multipart/form-data" name="frm" id="frm">
                <input type="hidden" name="id" value="{{$license->getId()}}">
                <input type="hidden" name="action" id="action" value="SAVE">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;">
                    <tr>
                        <td colspan="2" style="padding: 8px;">Fields marked <span style="color:#FF0000;">*</span> are compulsory.</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">License Scheme</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{if $license->getLicenseVersionNumber() eq 1}}Old{{else}}New{{/if}}
							{{*<input type="text" disabled="disabled" class="disabled" name="license_version" id="license_version"  value="Version {{$license->getLicenseVersionNumber()}}" maxlength="15" >*}}
						</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">SLA Id <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" disabled="disabled" class="disabled" name="agreement_id" id="agreement_id"  value="{{$license->getAgreementId()}}" maxlength="15" ></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Licensee <span style="color:#FF0000;"><b>*</b></span></td>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
                            <select name="client_id" id="client_id" onchange="changeClient(this.value);" disabled="disabled" class="disabled" >
                                <option value="0"> - Select Licensee - </option>
                                {{assign var="p" value=$license->getClientId()}}
                                {{foreach item=client from=$clients}}
                                    <option value="{{$client->getId()}}" {{if $p and $client->getId() eq $p}}selected{{assign var="cln_nam" value=$client->getName()}}{{/if}}>{{$client->getName()}}</option>
                                {{/foreach}}
                            </select><input type="hidden" name="client_name" value= "{{$cln_nam}}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Location <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" disabled="disabled" class="disabled" name="location" id="location"  value="{{$license->getLocation()}}" maxlength="150" ></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Product <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{$license->getProductName()}}
							{{*
							<input type="hidden" name="product_name" value="{{$license->getProductName()}}" >
							<input type="text" disabled="disabled" class="disabled" value="{{$license->getProductName()}}" >
							*}}
						</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Product Version <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{$license->getProductVersion()}}
							{{*<input type="text" disabled="disabled" class="disabled" value="Ver {{$license->getProductVersion()}}" >*}}
						</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Product Modules <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{$module_names}}
						</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">License Type <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{if $license->getLicenseVersionNumber() gt 1}}
							<select id="license_type_id" name="license_type_id" disabled="disabled" class="disabled">
								{{section name=i loop=$license_types}}
								{{assign var=id value=$license_types[i]->getId()}}
								<option value="{{$id}}"{{if $id eq $license->getLicenseTypeId()}} selected="selected"{{/if}}>{{$license_types[i]->getName()}}</option>
								{{/section}}
							</select>
							{{else}}
							{{$license->getLicenseType()}}
							<input type="hidden" name="license_type_id" value="{{$license->getLicenseTypeId()}}" />
							{{*
							<input type="hidden" name="license_type" value="{{$license->getLicenseType()}}" />
							<input type="text" disabled="disabled" class="disabled" value="{{$license->getLicenseType()}}" >
							*}}
							{{/if}}
						</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Term of License <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{$license->getLicensePeriodName()}}
							{{*
							<input type="hidden" name="license_period" value="{{$license->getLicensePeriodName()}}" >
							<input type="text" disabled="disabled" class="disabled" value="{{$license->getLicensePeriodName()}}" >
							*}}
						</td>
                        <th class="aleft pt3 pb5 pL10">Business Contact</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{assign var="p" value=$license->getBusinessContactId()}}
							{{foreach item=i from=$client_contacts}}
								{{if $p and $i->getId() eq $p}}
									{{$i->getFirstName()}} {{$i->getLastName()}}
								{{/if}}
							{{/foreach}}
                            {{*<input type="text" disabled="disabled" class="disabled" value="{{assign var="p" value=$license->getBusinessContactId()}}{{foreach item=i from=$client_contacts}}{{if $p and $i->getId() eq $p}}{{$i->getFirstName()}} {{$i->getLastName()}}{{/if}}{{/foreach}}" />*}}
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Effective Date <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{$license->getLicenseStartDate()|date_format}}
							{{*
							<input type="hidden" name="license_start_date" value="{{$license->getLicenseStartDate()|date_format}}" />
							<input type="text" disabled="disabled" class="disabled" value="{{$license->getLicenseStartDate()|date_format}}" >
							*}}
						</td>
                        <th class="aleft pt3 pb5 pL10">Technical Contact <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{assign var="p" value=$license->gettechnicalcontactid()}}
							{{foreach item=i from=$client_contacts}}
								{{if $p and $i->getid() eq $p}}
									{{$i->getfirstname()}} {{$i->getlastname()}}
								{{/if}}
							{{/foreach}}
							{{*
                            <input type="hidden" name="contact_name" value="{{assign var="p" value=$license->gettechnicalcontactid()}}{{foreach item=i from=$client_contacts}}{{if $p and $i->getid() eq $p}}{{$i->getfirstname()}} {{$i->getlastname()}}{{/if}}{{/foreach}}" />
                            <input type="text" disabled="disabled" class="disabled" value="{{assign var="p" value=$license->gettechnicalcontactid()}}{{foreach item=i from=$client_contacts}}{{if $p and $i->getid() eq $p}}{{$i->getfirstname()}} {{$i->getlastname()}}{{/if}}{{/foreach}}" />
							*}}
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Expiration Date <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{$license->getLicenseEndDate()|date_format}}
							{{*
							<input type="hidden" name="license_end_date" value="{{$license->getLicenseEndDate()}}" />
							<input type="text" disabled="disabled" class="disabled" value="{{$license->getLicenseEndDate()|date_format}}" >
							*}}
						</td>
                        <th class="aleft pt3 pb5 pL10">GlobalSoft Relationship Manager <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{$license->getGsRm()}}
							{{*
							<input type="text" disabled="disabled" class="disabled" value="{{$license->getGsRm()}}">
							*}}
						</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">License Key <span style="color:#FF0000;"><b>*</b></span></th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
							{{$license->getLicenseKey()}}
							{{*
							<input type="hidden" name="license_key" value="{{$license->getLicenseKey()}}" />
							<input type="text" disabled="disabled" class="disabled key" value="{{$license->getLicenseKey()}}">
							*}}
						</td>
                    </tr>
                </tbody>
            </table>
            <br /><br />

            <div id='header-menu'>
                <ul id='menu-level-1' class='menu-ul'>
                    <li id='liSLA' class='active'>
                        <a href='javascript:;' id='tabSLA'>SLA</a>
                    </li>
                    <li id='liContacts'>
                        <a href='javascript:;' id='tabContacts'>Contacts</a>
                    </li>
                    <li id='liNotes'>
                        <a href='javascript:;' id='tabNotes'>Notes</a>
                    </li>
                    <li id='liDownloadDetails'>
                        <a href='javascript:;' id='tabDownloadDetails'>Download</a>
                    </li>
                </ul>
            </div>
            <div style='clear:both;'></div>
            <div class='d-dashed'></div>
            <br />                  
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <!-- SLA Info -->
                            <div id="SLA">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;" id="tbl_licenses" >
                                    <tbody>
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10" width="200">SLA Artifacts</th>
                                        <th class="aleft pt3 pb5 pL10" width="250">File Name</th>
                                        <th class="aleft pt3 pb5 pL10" width="200">Action</th>
                                        <th class="aleft pt3 pb5 pL10"></th>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL10">SLA</th>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><a href="license.view.php?id={{$license->getId()}}&sla=1">{{$license->getSlaDoc()}}</a></td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="file" name="sla_doc" id="sla_doc" disabled="disabled" /></td>
                                    </tr>
                                    <tr>
                                        <td class="aleft pt3 pb5 pL10" colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL10">SLA Adjustments<input type="hidden" value="" id="sla_adj_del" name="sla_adj_del" /></th>
                                    </tr>
                                    {{foreach item=sla_adj from=$sla_adjustments}}
                                        <tr id="tr-{{$sla_adj.id}}">
                                            <th class="aleft pL10"></th>
                                            <td class='pt3 pb5 pL10 bdrbtm4'><a href="license.view.php?id={{$license->getId()}}&sla_adjustment_doc={{$sla_adj.sla_adjustment_doc}}&sla_adj=1">{{$sla_adj.sla_adjustment_doc}}</a></td>
                                        <td class="aleft pt3 pb5 bdrbtm4">
                                            <img width="17" border="0" align="absmiddle" class="sla_adj_del_img" style="display:none;" src="img/icons/nocheckmark.png" onclick="removeSlaAdjDoc({{$sla_adj.id}}, '{{$sla_adj.sla_adjustment_doc}}')" >
                                        </td>
                                        </tr>
                                    {{/foreach}}
                                    <tr id='tr-0' style="display:none;">
                                        <th class="aleft pL10"></th>
                                        <td class='pt3 pb5 pL10 bdrbtm4'></td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input name="sla_file" type="file" /></td>
                                        <td class="aleft pt3 pb5 bdrbtm4">
                                            <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" onclick="removeRow()" >
                                        </td>
                                    </tr>
                                    <tr id='vAdd-more' style="display:none;">
                                        <td class="pt3 pb5 pL10 pR5 bdrbtm4 aleft" colspan='3'>
                                        <input type="button" id="btnAddMore" name='btnAddMore' value="Add more files" class="buttonNew">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- // SLA Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <!-- Download Info -->
                            <div id="download_details">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;">
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10" width="100">Valid Upto <span style="color:#FF0000;"><b>*</b></span></th>
                                        <td class='pt3 pb5 pL10 bdrbtm4' width="250"><input type="hidden" name="download_valid_upto" value="{{$license->getDownloadValidUpto()}}"><input type="text" readonly="readonly" class="datepicker disabled" disabled="disabled" name="valid_upto" id="valid_upto" value="{{$license->getDownloadValidUpto()}}" ></td>
                                        <td class="pt3 pb5 pL10 bdrbtm4 aleft">
                                            <input type="button" id="resend_email" name='resend_email' value="Re-send Download Instructions" class="buttonNew"{{if $license_expired eq 1}} disabled="disabled"{{/if}} /> &nbsp; Download Instructions of an active license can only be re-sent.
                                        </td>
                                    </tr>
                                </table>
<br /></br />
                                <table cellpadding="0" cellspacing="0" border="0" width="60%" style="border: 1px solid #F0F0F0;">
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10" width="250">Email</th>
                                        <th class="aleft pt3 pb5 pL10">IP Address</th>
                                        <th class="aleft pt3 pb5 pL10">Date &amp; Time</th>
                                    </tr>
                                    {{foreach item=i from=$downloads}}
                                        <tr>
                                            <td class='pt3 pb5 pL10 bdrbtm4'>{{$i.email}}</td>
                                            <td class='pt3 pb5 pL10 bdrbtm4'>{{$i.remote_ip}}</td>
                                            <td class='pt3 pb5 pL10 bdrbtm4'>{{$i.downloaded_on}}</td>
                                        </tr>
                                    {{/foreach}}
                                </table>
                            </div>
                            <!-- // Download Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!-- Contact Info -->
                            <div id="contacts">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;">
                                    <tbody>
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10"></th>
                                        <th class="aleft pt3 pb5 pL10">Contact Name</th>
                                        <th class="aleft pt3 pb5 pL10">Role</th>
                                        <th class="aleft pt3 pb5 pL10">Phone</th>
                                        <th class="aleft pt3 pb5 pL10">Email</th>
                                    </tr>
                                    <tr>
                                        <td class="aleft pL10">Business Relationship</td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'>
                                            <select name="business_contact_id" id="business_contact_id" disabled="disabled" class="disabled" >
                                                <option value="0"> - Select Business Contact - </option>
                                                {{assign var="p" value=$license->getBusinessContactId()}}
                                                {{foreach item=i from=$client_contacts}}
                                                    {{if $p and $i->getId() eq $p}}
                                                        <option value="{{$i->getId()}}" selected="selected">{{$i->getFirstName()}} {{$i->getLastName()}}</option>
                                                        {{assign var="brole" value=$i->getJobTitle()}}
                                                        {{assign var="bphone" value=$i->getPhone()}}
                                                        {{assign var="bemail" value=$i->getEmailId()}}
                                                    {{else}}
                                                        <option value="{{$i->getId()}}">{{$i->getFirstName()}} {{$i->getLastName()}}</option>
                                                    {{/if}}
                                                {{/foreach}}
                                            </select>
                                        </td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" id="brole" name="brole" value="{{$brole}}" maxlength="100" disabled="disabled" class="disabled" /></td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" id="bphone" name="bphone" value="{{$bphone}}" disabled="disabled" class="disabled" /></td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" id="bemail" name="bemail" value="{{$bemail}}" disabled="disabled" class="disabled" /></td>
                                    </tr>
                                    <tr>
                                        <td class="aleft pL10">Designated Technical</td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'>
                                            <select name="technical_contact_id" id="technical_contact_id" disabled="disabled" class="disabled" >
                                                <option value="0"> - Select Technical Contact - </option>
                                                {{assign var="p" value=$license->getTechnicalContactId()}}
                                                {{foreach item=i from=$client_contacts}}
                                                    {{if $p and $i->getId() eq $p}}
                                                        <option value="{{$i->getId()}}" selected="selected">{{$i->getFirstName()}} {{$i->getLastName()}}</option>
                                                        {{assign var="trole" value=$i->getJobTitle()}}
                                                        {{assign var="tphone" value=$i->getPhone()}}
                                                        {{assign var="temail" value=$i->getEmailId()}}
                                                    {{else}}
                                                        <option value="{{$i->getId()}}">{{$i->getFirstName()}} {{$i->getLastName()}}</option>
                                                    {{/if}}
                                                {{/foreach}}
                                            </select>
                                        </td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" id="trole" name="trole" value="{{$trole}}" maxlength="100" disabled="disabled" class="disabled" /></td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" id="tphone" name="tphone" value="{{$tphone}}" disabled="disabled" class="disabled" /></td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="hidden" id="contact_email" name="contact_email" value="{{$temail}}" /><input type="text" id="temail" name="temail" value="{{$temail}}" disabled="disabled" class="disabled" /></td>
                                    </tr>
                                    <tr>
                                        <td class="aleft pL10">Contact for Notices</td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'>
                                            <select name="notices_contact_id" id="notices_contact_id" disabled="disabled" class="disabled" >
                                                <option value="0"> - Select Contact for Notices - </option>
                                                {{assign var="p" value=$license->getNoticesContactId()}}
                                                {{foreach item=i from=$client_contacts}}
                                                    {{if $p and $i->getId() eq $p}}
                                                        <option value="{{$i->getId()}}" selected="selected">{{$i->getFirstName()}} {{$i->getLastName()}}</option>
                                                        {{assign var="nrole" value=$i->getJobTitle()}}
                                                        {{assign var="nphone" value=$i->getPhone()}}
                                                        {{assign var="nemail" value=$i->getEmailId()}}
                                                    {{else}}
                                                        <option value="{{$i->getId()}}">{{$i->getFirstName()}} {{$i->getLastName()}}</option>
                                                    {{/if}}
                                                {{/foreach}}
                                            </select>
                                        </td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" id="nrole" name="nrole" value="{{$nrole}}" maxlength="100" disabled="disabled" class="disabled" /></td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" id="nphone" name="nphone" value="{{$nphone}}" disabled="disabled" class="disabled" /></td>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" id="nemail" name="nemail" value="{{$nemail}}" disabled="disabled" class="disabled" /></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- // Contact Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!-- Notes -->
                            <div id="notes_div">
                                <table cellpadding="0" cellspacing="0" border="0" width="90%" style="border: 1px solid #F0F0F0;">
                                    <tbody>
                                    <tr>
                                        <th class="aleft vatop pt3 pb5 pL10" width="100">Notes</th>
                                        <td class='pt3 pb5 pL10 bdrbtm4'><textarea name="notes" id="notes" rows="5" disabled="disabled" class="disabled expand2fit" >{{$license->getNotes()}}</textarea></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- // SLA Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class="pt3 pb5 pL10 pR5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;" class='pt3 pb5'>
                            <input type="button" name="btnEdit" id="btnEdit" value="Edit" >
                            <input type="button" name="btn_save" id="btn_save" value="Save changes" style="display:none;" >
                            <a class="linkbutton" href="license.list.php" vText='Cancel'>Go back to licenses list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        {{include file="footer.html"}}
    </body>

</html>
