{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Create License</title>

        {{include file="css.and.js.html"}}

		<style type="text/css">
			input[type="text"] {
				width: 220px;
			}
			select {
				width: 227px;
			}

			/* To override default ui style */
			.ui-widget {
				font-size: 1em;
			}
            #add-client {
                font-family: Arial,Helvetica,sans-serif
            }
			/* To override default ui style */

            #tbl_licenses a {
                color: #0066CB;
            }
            #tbl_licenses a:hover {
                background-color: #0066CB;
                color: #FFFFFF;
            }
            .disabled {
                color: #5C5C5C;
            }

            label, span.label { font-size: 11px; padding: 2px; }
		</style>

        <script language="javascript" type="text/javascript" src="js/jquery.formparams.min.js"></script>
        <script language="javascript" type="text/javascript" src="js/jquery.blockui.js"></script>
        <script language="javascript" type="text/javascript">
			var contact_email = new Array();
			$(function($) {
				var currentDate = new Date();
				$('#license_start_date').datepicker({
					changeMonth: true,
					changeYear: true,
					dateFormat: 'mm/dd/yy'
				});

				$("#license_end_date").datepicker({
					changeMonth: true,
					changeYear: true,
					dateFormat: 'mm/dd/yy',
					onClose: function(date, picker) {
						if (date == '12/31/9999') {
							$('#chk_perpetual').attr('checked', 'checked');
						} else {
							$('#chk_perpetual').removeAttr('checked');
						}
					}
				});

				// Alphanumeric validation
				$("#agreement_id").keyup(function() {
					this.value = this.value.match(/^[a-zA-Z0-9]+/)
				});

				$("#license_type").change(function() {
					if ($(this).val() == "2")
					{
						$("#license_period_id").attr('disabled', 'disabled');
						$("#license_period_id").addClass('disabled');
						$("#license_start_date").focus();
					}
					else
					{
						$("#license_period_id").removeAttr('disabled');
						$("#license_period_id").removeClass('disabled');
						$("#license_period_id").focus();
					}
				});

				$('#chk_perpetual').change(function() {
					var $el = $('#license_end_date');
					if ($(this).is(':checked')) {
						$el
								.data('selected_date', $el.datepicker('getDate'))
								.datepicker('setDate', '12/31/9999')
								.attr('disabled', 'disabled')
								;
					} else {
						$('#license_end_date')
								.removeAttr('disabled')
								.datepicker('setDate', $el.data('selected_date'))
								;
					}
				}).trigger('change');

				$("#btn_save").click(function() {
					var error_messages = [];
					var version = $('#frm input[type=radio][name=license_version]:checked').val();

					if ($.trim($("#agreement_id").val()) == "") {
						error_messages.push("Please specify SLA Id");
					}

					if ($("#client_id").val() == "0") {
						error_messages.push("Please select Licensee");
					}

					if ($.trim($("#location").val()) == "") {
						error_messages.push("Please specify the Location");
					}

					if ($("#product_id").val() == "0") {
						error_messages.push("Please select Product");
					}

					if ($("#product_version_id").val() == "0") {
						error_messages.push("Please select Product Version");
					}

					if (version == "1") {
						var license_type = $('#license_type').val();
						if (license_type == "0") {
							error_messages.push("Please select License Type");
						}

						if (license_type == "EVALUATION" && $('#license_period_id').val() == '0') {
							error_messages.push("Please select Term of License.");
						}

						if (!$("#license_start_date").datepicker('getDate')) {
							error_messages.push("Please specify Effective Date");
						}
					} else if (version == "2") {
						if (!$("#license_end_date").datepicker('getDate')) {
							error_messages.push("Please specify License End Date");
						}
					}

					if ($.trim($("#gs_rm").val()) == "") {
						error_messages.push("Please specify the GlobalSoft Relationship Manager");
					}

					if ($("#technical_contact_id").val() == "0") {
						error_messages.push("Please select Technical Contact");
					}

					if (error_messages.length > 0) {
						jAlert(error_messages.join("\n"), "License Key Management");
					} else {
						submitFn();
					}
				});

				$("#technical_contact_id").change(function() { // To populate Contact Email Id
					$("#technical_email").html(contact_email[$(this).val()]);
				});

				$("#business_contact_id").change(function() { // To populate Contact Email Id
					$("#business_email").html(contact_email[$(this).val()]);
				});

				$("#notices_contact_id").change(function() { // To populate Contact Email Id
					$("#notices_email").html(contact_email[$(this).val()]);
				});

				$('#product_version_id').change(function() {
					var v = $('option:selected', this).attr('license_version');
					$('#license_version').val(v);
					$('#tbl_licenses tr.toggleable').hide().filter('.option_v' + v).show();
				}).trigger('change');

				$("#product_id").change(function() { // To populate Product Versions.
					$("#product_version_id").attr('disabled', 'disabled');
					$("#product_version_id").addClass('disabled');
					$('#product_modules_div').empty().html('&nbsp;');
					// JSON (Ajax) call http://api.jquery.com/jQuery.getJSON/
					$.getJSON('products.list.php', {id: $(this).val(), ajax: 'yes'}, function(data) {
						var items = [];
						$.each(data, function(key, val) {
							items.push('<option value="' + val.Id + '" license_version="' + val.LicenseVersion + '">Ver ' + val.Version + ' (Build ' + val.Build + ')</option>');
						});

						versions = items.join('');
						$("#product_version_id").html('<option value="0" license_version="0"> - Select Product Version - </option>' + versions);

						$("#product_version_id").removeAttr('disabled');
						$("#product_version_id").removeClass('disabled');
						$("#product_version_id").focus();
						$("#product_version_id").trigger('change');
					});

					$.getJSON('product.modules.list.php', {id: $(this).val(), ajax: 'yes'}, function(data) {
						var opts = [];
						$.each(data, function(i, v) {
							opts.push('<label><input type="checkbox" name="modules[' + v.id + ']" value="' + v.id + '"/>' + v.name + '</label>');
						});

						if (opts.length > 0) {
							$('#product_modules_div').html(opts.join("<br>"));
						}
					});
				});

			});

			function changeClient(client_id)
			{
				// JSON (Ajax) call http://api.jquery.com/jQuery.getJSON/
				$.getJSON('client.view.php', {id: client_id, ajax: 'yes'}, function(data) {
					var items = [];
					$.each(data, function(key, val) {
						contact_email[val.Id] = val.Email; // To populate Contact Email Id
						items.push('<option value="' + val.Id + '">' + val.Name + '</option>');
					});

					contacts = items.join('');
					$("#technical_contact_id").html('<option value="0"> - Select Technical Contact - </option>' + contacts);
					$("#technical_email").html('');
					$("#business_contact_id").html('<option value="0"> - Select Business Contact - </option>' + contacts);
					$("#business_email").html('');
					$("#notices_contact_id").html('<option value="0"> - Select Contact for Notices - </option>' + contacts);
					$("#notices_email").html('');
				});
			}

			function submitFn() {
				$.ajax({
					url: 'license.add.action.php',
					type: 'POST',
					dataType: 'json',
					data: $('#frm').formParams(),
					beforeSend: function() {
						$.blockUI();
					},
					success: function(data) {
						if (data.status) {
							window.location.href = 'license.view.php?id' + data.payload.license_id;
						} else {
							jAlert('Error: ' + data.error_message, "License");
							$.unblockUI();
						}
					},
					error: function() {
						$.unblockUI();
						jAlert("Communication error", "Error");
					}
				});
			}


// For Add Client
			var pFileEdit = '';
			var index = 9000;
			function addClient() {
				var nameEntered = true;
				if ($("#clientName").val() == '') {
					jAlert("Please enter Client Name", "Client Info");
					var nameEntered = false;
					$("#tabClient").click();
					return;
				}

				var emailEntered = true;
				var blnChecked = true;
				$(".emailAddr").each(function(i) {
					if (i > 0 && $(this).val() == "") {
						jAlert("Please enter Email of Contact", "Client Contact Info");
						emailEntered = false;
						$("#tabContact").click();
						return;
					}

					var arr = $(this).val().split('@'); // To check if two email ids are entered in the same text box.
					if (i > 0 && ($(this).val().indexOf(',') >= 0 || $(this).val().indexOf(';') >= 0 || $(this).val().indexOf(' ') >= 0 || arr.length > 2)) {
						jAlert("Invalid email address entered.\n\n" + $(this).val() + "\n\nPlease enter only one email address", "Client Contact Info");
						emailEntered = false;
						$("#tabContact").click();
						return;
					}

					if (i > 0 && !checkEmail(this.id, $(this).val(), "Client Contact Info")) {
						blnChecked = false;
						$("#tabContact").click();
						return;
					}
				});

				var fnameEntered = true;
				$(".fnameCheck").each(function(i) {
					if (i > 0 && $(this).val() == "") {
						jAlert("Please enter First Name of Contact", "Client Contact Info");
						fnameEntered = false;
						$("#tabContact").click();
						return;
					}
				});
				if (nameEntered && fnameEntered && blnChecked && emailEntered) {
					data = $("#frmClient").serialize();
					$.ajax({
						url: 'client.add.action.php',
						type: 'POST',
						data: data,
						async: false,
						cache: false,
						error: function() {
							jAlert("Failed Client save.", "Client");
						},
						success: function(res) {
							arr = res.split("~~");
							if (arr["0"] == "Success") {
								if (arr["1"] != '') { // arr["1"] is Client Id
									$("#clientId").val(arr["1"]);
									$("#client_id").append('<option selected="selected" value="' + $("#clientId").val() + '">' + $("#clientName").val() + '</option>');
									changeClient($("#clientId").val()); // To populate the contact select boxes.
								}
							}
							else {
								$("#error").html(res);
							}
						}

					});

					return true;
				}
			}


			// For Add Contact
			var pFileEdit2 = '';
			function addContact() {
				var emailEntered = true;
				var blnChecked = true;
				$(".contactEmailAddr").each(function(i) {
					if (i > 0 && $(this).val() == "") {
						jAlert("Please enter Email of Contact", "Client Contact Info");
						emailEntered = false;
						return;
					}

					var arr = $(this).val().split('@'); // To check if two email ids are entered in the same text box.
					if (i > 0 && ($(this).val().indexOf(',') >= 0 || $(this).val().indexOf(';') >= 0 || $(this).val().indexOf(' ') >= 0 || arr.length > 2)) {
						jAlert("Invalid email address entered.\n\n" + $(this).val() + "\n\nPlease enter only one email address", "Client Contact Info");
						emailEntered = false;
						return;
					}

					if (i > 0 && !checkEmail(this.id, $(this).val(), "Client Contact Info")) {
						blnChecked = false;
						return;
					}
				});

				var fnameEntered = true;
				$(".contactFnameCheck").each(function(i) {
					if (i > 0 && $(this).val() == "") {
						jAlert("Please enter First Name of Contact", "Client Contact Info");
						fnameEntered = false;
						return;
					}
				});
				if (fnameEntered && blnChecked && emailEntered) {
					data = 'client_id=' + $("#client_id").val() + '&contact_add_from=AddLicense&' + $("#frmContact").serialize();
					$.ajax({
						url: 'client.add.action.php',
						type: 'POST',
						data: data,
						async: false,
						cache: false,
						error: function() {
							jAlert("Failed Contact save.", "Client Contact");
						},
						success: function(res) {
							if (res == "Success") {
								changeClient($("#client_id").val()); // To populate the contact select boxes.
							}
							else {
								$("#error").html(res);
							}
						}

					});

					return true;
				}
			}

			jQuery(function($) {
				$("#client_info").show();
				$("#contact_info").hide();
				$("#tabClient").click(function() {
					$("#client_info").show();
					$("#contact_info").hide();
					$("#liContact").removeClass("active");
					$("#liClient").addClass("active");
				});

				$("#tabContact").click(function() {
					$("#client_info").hide();
					$("#contact_info").show();
					$("#liContact").addClass("active");
					$("#liClient").removeClass("active");
				});

				$("#btnAddMore").click(function() {
					var tds = $('#tr-0').html().replace("first_name-0", "first_name-" + index);
					tds = tds.replace("first_name[]", "first_name[" + index + "]");
					tds = tds.replace("last_name-0", "last_name-" + index);
					tds = tds.replace("last_name[]", "last_name[" + index + "]");
					tds = tds.replace("contact_id-0", "contact_id-" + index);
					tds = tds.replace("contact_id[]", "contact_id[" + index + "]");
					tds = tds.replace("email-0", "email-" + index);
					tds = tds.replace("email[]", "email[" + index + "]");
					tds = tds.replace("phone-0", "phone-" + index);
					tds = tds.replace("phone[]", "phone[" + index + "]");
					tds = tds.replace("job_title-0", "job_title-" + index);
					tds = tds.replace("job_title[]", "job_title[" + index + "]");
					tds = tds.replace("is_primary-0", "is_primary-" + index);
					tds = tds.replace("is_primary[]", "is_primary[" + index + "]");
					tds = tds.replace("is_active-0", "is_active-" + index);
					tds = tds.replace("is_active[]", "is_active[" + index + "]");
					tds = tds.replace("img-0", "img-" + index);
					tds = tds.replace("removeRow()", "removeRow(" + index + ")");
					$("#vAdd-more").before("<tr id='tr-" + index + "'>" + tds + "</tr>");
					index++;
				});


				$("#btnAddMoreContact").click(function() {
					var tds = $('#tr-0').html().replace("first_name-0", "first_name-" + index);
					tds = tds.replace("first_name[]", "first_name[" + index + "]");
					tds = tds.replace("last_name-0", "last_name-" + index);
					tds = tds.replace("last_name[]", "last_name[" + index + "]");
					tds = tds.replace("contact_id-0", "contact_id-" + index);
					tds = tds.replace("contact_id[]", "contact_id[" + index + "]");
					tds = tds.replace("email-0", "email-" + index);
					tds = tds.replace("email[]", "email[" + index + "]");
					tds = tds.replace("phone-0", "phone-" + index);
					tds = tds.replace("phone[]", "phone[" + index + "]");
					tds = tds.replace("job_title-0", "job_title-" + index);
					tds = tds.replace("job_title[]", "job_title[" + index + "]");
					tds = tds.replace("is_primary-0", "is_primary-" + index);
					tds = tds.replace("is_primary[]", "is_primary[" + index + "]");
					tds = tds.replace("is_active-0", "is_active-" + index);
					tds = tds.replace("is_active[]", "is_active[" + index + "]");
					tds = tds.replace("img-0", "img-" + index);
					tds = tds.replace("removeRow()", "removeRow(" + index + ")");
					$("#vAdd-moreContact").before("<tr id='tr-" + index + "'>" + tds + "</tr>");
					index++;
				});


				pFileEdit = $("#add-client").dialog({
					autoOpen: false,
					height: 460,
					width: 950,
					modal: true,
					resizable: false,
					buttons: {
						"Save": function() {
							if (addClient())
							{
								$(this).dialog("close");
							}
						},
						"Cancel": function() {
							$(this).dialog("close");
						}
					}
				});


				pFileEdit2 = $("#add-contact").dialog({
					autoOpen: false,
					height: 460,
					width: 950,
					modal: true,
					resizable: false,
					buttons: {
						"Save": function() {
							if (addContact())
								$(this).dialog("close");
						},
						"Cancel": function() {
							$(this).dialog("close");
						}
					}
				});

			});

			function createContact() {
				if ($("#client_id").val() == '0')
				{
					jAlert("Please select Licensee", "Client Contact Info");
				}
				else
				{
					pFileEdit2.dialog('open');
					$("#liContact").addClass("active");
				}
			}

			function removeRow(id) {
				$("#tr-" + id).remove();
			}

			function checkIsPrimaryBoxes(name, newChkId) {
				var blnFound = false;
				$(".is_primary").each(function() {
					if (this.checked && this.id != name + '-0' && this.id != newChkId) {
						blnFound = true;
					}
				});
				if (blnFound) {
					jAlert("Only one primary contact allowed!", "Client Contact Info");
					$('#' + newChkId).removeAttr("checked");
				}
			}

        </script>

    </head>

    <body>
        {{include file="license.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
						<h1>Create License</h1>
					</td></tr>
            </table><div class="info" id="info" style="padding:0;"></div><div class="error" id="error" style="padding:0;"></div>
            <form action="license.add.action.php" method="post" enctype="multipart/form-data" id="frm">
				<input type="hidden" name="license_version" id="license_version" value="0"/>
				<table cellpadding="15" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;" id="tbl_licenses">
					<tr>
						<td width="50%" valign="top">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tbody>
									<tr>
										<td colspan="2" style="padding: 8px;">Fields marked <span style="color:#FF0000;">*</span> are compulsory.</td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10" width="225">Product <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="product_id" id="product_id" >
												<option value="0"> - Select Product - </option>
												{{assign var="p" value=$post.product_id}}
												{{foreach item=i from=$products}}
												<option value="{{$i->getId()}}" {{if $p and $i->getId() eq $p}}selected{{/if}}>{{$i->getName()}} [{{$i->getCode()}}]</option>
												{{/foreach}}
											</select>
										</td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10">Product Version <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="product_version_id" id="product_version_id"  disabled="disabled" class="disabled" >
												<option value="0" license_version="0"> - Select Product Version - </option>
											</select>
										</td>
									</tr>
									<tr class="toggleable option_v2">
										<th class="aleft pt3 pb5 pL10">Product Modules</th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<div id="product_modules_div">&nbsp;</div>
										</td>
									</tr>

									<tr>
										<th class="aleft pt3 pb5 pL10" width="225">SLA Id <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'><input type="text" name="agreement_id" id="agreement_id"  value="{{$agreement_id}}" maxlength="15"></td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10">Licensee <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="client_id" id="client_id" onchange="changeClient(this.value);">
												<option value="0"> - Select Licensee - </option>
												{{assign var="p" value=$post.client_id}}
												{{foreach item=client from=$clients}}
												<option value="{{$client->getId()}}" {{if $p and $client->getId() eq $p}}selected{{/if}}>{{$client->getName()}}</option>
												{{/foreach}}
											</select> &nbsp;
											<a href="javascript:;" onclick="pFileEdit.dialog('open');">Create Customer</a>
										</td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10" width="200">Location <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'><input type="text" name="location" id="location"  value="{{$location}}" maxlength="150" ></td>
									</tr>
									<tr class="toggleable option_v1">
										<th class="aleft pt3 pb5 pL10">License Type <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="license_type" id="license_type" >
												<option value="0"> - Select License Type - </option>
												<option value="2">Commercial</option>
												<option value="1">Evaluation</option>
											</select>
										</td>
									</tr>
									<tr class="toggleable option_v1">
										<th class="aleft pt3 pb5 pL10">Term of License <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="license_period_id" id="license_period_id" >
												<option value="0"> - Select Term of License - </option>
												{{assign var="p" value=$post.license_period_id}}
												{{foreach item=i from=$licenseperiods}}
												<option value="{{$i->getId()}}" {{if $p and $i->getId() eq $p}}selected{{/if}}>{{$i->getDuration()}} {{$i->getDaymonthyear()}}</option>
												{{/foreach}}
											</select>
										</td>
									</tr>
									<tr class="toggleable option_v1">
										<th class="aleft pt3 pb5 pL10">Effective Date</th>
										<td class='pt3 pb5 pL10 bdrbtm4'><input type="text" class="datepicker" readonly name="license_start_date" id="license_start_date"  value="{{$license_start_date}}" ></td>
									</tr>

									<tr class="toggleable option_v2">
										<th class="aleft pt3 pb5 pL10">License Type<span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="license_type_id" id="license_type_id">
												{{assign var=p value=$post.license_type_id}}
												{{section name=i loop=$license_types}}
												{{assign var=id value=$license_types[i]->getId()}}
												<option value="{{$id}}"{{if $p and $p eq $id}} selected="selected"{{/if}}>{{$license_types[i]->getName()}}</option>
												{{/section}}
											</select>
										</td>
									</tr>
									<tr class="toggleable option_v2">
										<th class="aleft pt3 pb5 pL10">License End Date</th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<input type="text" class="datepicker" name="license_end_date" id="license_end_date"  value="{{$post.license_end_date}}" readonly="readonly"/>
											<label>
												<input type="checkbox" id="chk_perpetual" value="1"/>
												Perpetual License
											</label>
										</td>
									</tr>
									<!-- 
									<tr>
										<th class="aleft pt3 pb5 pL10">License Key</th>
										<td class='pt3 pb5 pL10 bdrbtm4'><input type="text" name="license_key" id="license_key" readonly="readonly" value=""></td>
									</tr>
									-->
									<tr>
										<th class="aleft pt3 pb5 pL10" width="225">GlobalSoft Relationship Manager <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<input type="text" name="gs_rm" id="gs_rm"  value="" maxlength="150" >
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td width="50%" valign="top">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tbody>
									<tr>
										<th class="aleft pt3 pb5 pL10">Technical Contact <span style="color:#FF0000;"><b>*</b></span></th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="technical_contact_id" id="technical_contact_id" >
												<option value="0"> - Select Technical Contact - </option>
											</select>
											<span class="label" id="technical_email"></span>
										</td>
									</tr>                        
									<tr>
										<th class="aleft pt3 pb5 pL10">Business Contact</th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="business_contact_id" id="business_contact_id" >
												<option value="0"> - Select Business Contact - </option>
											</select>
											<span class="label" id="business_email"></span>
										</td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10">Contact for Notices</th>
										<td class='pt3 pb5 pL10 bdrbtm4'>
											<select name="notices_contact_id" id="notices_contact_id" >
												<option value="0"> - Select Contact for Notices - </option>
											</select>
											<span class="label" id="notices_email"></span>
										</td>
									</tr>                        
                                    <tr>
                                        <th>&nbsp;</th>
                                        <td>
											<button class="buttonNew" onclick="createContact(); return false;">Create Contact</button>
                                        </td>
									<tr>
										<th class="aleft vatop pt3 pb5 pL10"><br />Notes</th>
										<td class='pt3 pb5 pL10 bdrbtm4' colspan="2"><br /><textarea name="notes" id="notes" rows="5" class="expand2fit" >{{$post.notes}}</textarea></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" sty le="text-align: center;" class='acenter pt3 pb5 pL10 bdrbtm4'>
							<input type="button" value="Create" name="btn_save" id="btn_save" >
							<a href="license.list.php" class="linkbutton" vText='Cancel' >Cancel</a>
							<!-- <input type="button" value="Create New Contact" onclick="createContact();" >-->
						</td>
					</tr>
				</table>
            </form>
        </div>


        <div id="add-client" style="display:none;">
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
						<h1>Add client</h1>
						<div id='header-menu' style="float:right">
							<ul id='menu-level-1' class='menu-ul'>
								<li id='liClient' class='active'>
									<a href='javascript:;' id='tabClient'>Client Info</a>
								</li>
								<li id='liContact'>
									<a href='javascript:;' id='tabContact'>Contact Info</a>
								</li>
							</ul>
						</div>
						<div style='clear:both;'></div>
						<div class='d-dashed'></div>
					</td></tr>
            </table>
            <br>
            <form action="client.add.action.php" method="post" enctype="multipart/form-data" name="frmClient" id="frmClient">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <!-- Client Info -->
                            <div id="client_info">
								<table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
									<tr>
										<td colspan="2" style="padding: 8px;">Fields marked <span style="color:#454545;">*</span> are compulsory.</td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10" width="200">Name *</th>
										<td class='pt3 pb5 pL10 bdrbtm4'><input type="textbox" id="clientName" name="name" class="expand2fit" value="{{$post.name}}" maxlength="255" ><input type="hidden" id="clientId" name="clientId" value=""></td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10" width="200">Description</th>
										<td class='pt3 pb5 pL10 bdrbtm4'><textarea name="description" id="description" rows="5" class="expand2fit">{{$post.description}}</textarea></td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10" width="200">Website URL</th>
										<td class='pt3 pb5 pL10 bdrbtm4'><input type="textbox" name="website" id="website" class="expand2fit" value="{{$post.website}}" maxlength="255"></td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10" width="200">Is Product Customer?</th>
										<td class='pt3 pb5 pL10 bdrbtm4'><input type="checkbox" name="is_product_client" id="is_product_client" value="1" checked="checked" /></td>
									</tr>
									<tr>
										<th class="aleft pt3 pb5 pL10" width="200">Is Active?</th>
										<td class='pt3 pb5 pL10 bdrbtm4'><input type="checkbox" name="active" id="active" value="1" checked="checked" /></td>
									</tr>
                                </table>
							</div>
                            <!-- // Client Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <!-- Contact Info -->
                            <div id="contact_info">
								<table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
									<tr>
										<td colspan="2" style="padding: 8px 0;">Fields marked <span style="color:#454545;">*</span> are compulsory.</td>
									</tr>
									<tr>
										<th class='aleft'>First Name *</th>
										<th class='aleft'>Last Name</th>
										<th class='aleft'>Email *</th>
										<th class='aleft'>Phone</th>
										<th class='aleft'>Job Title</th>
										<th class='acenter'>Is Primary?</th>
										<th class='acenter'>Is Active?</th>
										<th class='aleft'>&nbsp;</th>
									</tr>

									<tr id='tr-0' style="display:none;">
										<td class="pt3 pb5 bdrbtm4">
											<input type='hidden' name="contact_id[]" id="contact_id-0" value="0"/>
											<input type='text' name="first_name[]" id="first_name-0" value="" style='width:150px;' maxlength="100" class="fnameCheck"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="last_name[]" id="last_name-0" value="" style='width:150px;' maxlength="100"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="email[]" id="email-0" value="" style='width:150px;' class="emailAddr" maxlength="100"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="phone[]" id="phone-0" value="" style='width:150px;' maxlength="20" onkeyup="this.value = this.value.match(/^[0-9-+ ]+/);"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="job_title[]" id="job_title-0" value="" style='width:150px;' maxlength="100"/>
										</td>
										<td class="acenter pt3 pb5 bdrbtm4">
											<input type='checkbox' name="is_primary[]" id="is_primary-0" value="1" class="is_primary" onClick="checkIsPrimaryBoxes('is_primary', this.id);"/>
										</td>
										<td class="acenter pt3 pb5 bdrbtm4">
											<input type='checkbox' name="is_active[]" id="is_active-0" value="1" checked/>
										</td>
										<td class="aleft pt3 pb5 bdrbtm4">
											<img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" onclick="removeRow()" id="img-0">
										</td>
									</tr>

									<tr id="tr-1">
										<td class="pt3 pb5 bdrbtm4">
											<input type='hidden' name="contact_id[1]" id="contact_id-1" value="0"/>
											<input type='text' name="first_name[1]" id="first_name-1" value="" style='width:150px;' maxlength="100" class="fnameCheck"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="last_name[1]" id="last_name-1" value="" style='width:150px;' maxlength="100"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="email[1]" id="email-1" value="" style='width:150px;' class="emailAddr" maxlength="100"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="phone[1]" id="phone-1" value="" style='width:150px;' maxlength="20" onkeyup="this.value = this.value.match(/^[0-9-+ ]+/);"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="job_title[1]" id="job_title-1" value="" style='width:150px;' maxlength="100"/>
										</td>
										<td class="acenter pt3 pb5 bdrbtm4">
											<input type='checkbox' name="is_primary[1]" id="is_primary-1" value="1" class="is_primary" onClick="checkIsPrimaryBoxes('is_primary', this.id);"/>
										</td>
										<td class="acenter pt3 pb5 bdrbtm4">
											<input type='checkbox' name="is_active[1]" id="is_active-1" value="1" checked/>
										</td>
										<td class="aleft pt3 pb5 bdrbtm4">
											&nbsp;
										</td>
									</tr>
									<tr id='vAdd-more'>
										<td class="pt3 pb5 pL10 pR5 bdrbtm4 aright" colspan='7'>
											<input type="button" id="btnAddMore" name='btnAddMore' value="Add more contact" class="buttonNew">
										</td>
									</tr>

								</table>
                            </div>
                            <!-- // Contact Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class="pt3 pb5 pL10 pR5">&nbsp;</td>
                    </tr>

                </table>
            </form>
        </div>




        <div id="add-contact" style="display:none;">
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
						<h1>Add client</h1>
						<div id='header-menu' style="float:right">
							<ul id='menu-level-1' class='menu-ul'>
								<li id='liContact'>
									<a href='javascript:;' id='tabContact'>Contact Info</a>
								</li>
							</ul>
						</div>
						<div style='clear:both;'></div>
						<div class='d-dashed'></div>
					</td></tr>
            </table>
            <br>
            <form action="client.add.action.php" method="post" enctype="multipart/form-data" name="frmClient" id="frmContact">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td> 
                            <!-- Contact Info -->
                            <div id="contact_info">
								<table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
									<tr>
										<td colspan="2" style="padding: 8px 0;">Fields marked <span style="color:#454545;">*</span> are compulsory.</td>
									</tr>
									<tr>
										<th class='aleft'>First Name *</th>
										<th class='aleft'>Last Name</th>
										<th class='aleft'>Email *</th>
										<th class='aleft'>Phone</th>
										<th class='aleft'>Job Title</th>
										<th class='acenter'>Is Primary?</th>
										<th class='acenter'>Is Active?</th>
										<th class='aleft'>&nbsp;</th>
									</tr>

									<tr id='tr-0' style="display:none;">
										<td class="pt3 pb5 bdrbtm4">
											<input type='hidden' name="contact_id[]" id="contact_id-0" value="0"/>
											<input type='text' name="first_name[]" id="first_name-0" value="" style='width:150px;' maxlength="100" class="contactFnameCheck"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="last_name[]" id="last_name-0" value="" style='width:150px;' maxlength="100"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="email[]" id="email-0" value="" style='width:150px;' class="contactEmailAddr" maxlength="100"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="phone[]" id="phone-0" value="" style='width:150px;' maxlength="20" onkeyup="this.value = this.value.match(/^[0-9-+ ]+/);"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="job_title[]" id="job_title-0" value="" style='width:150px;' maxlength="100"/>
										</td>
										<td class="acenter pt3 pb5 bdrbtm4">
											<input type='checkbox' name="is_primary[]" id="is_primary-0" value="1" class="is_primary" onClick="checkIsPrimaryBoxes('is_primary', this.id);"/>
										</td>
										<td class="acenter pt3 pb5 bdrbtm4">
											<input type='checkbox' name="is_active[]" id="is_active-0" value="1" checked/>
										</td>
										<td class="aleft pt3 pb5 bdrbtm4">
											<img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" onclick="removeRow()" id="img-0">
										</td>
									</tr>

									<tr id="tr-1">
										<td class="pt3 pb5 bdrbtm4">
											<input type='hidden' name="contact_id[1]" id="contact_id-1" value="0"/>
											<input type='text' name="first_name[1]" id="first_name-1" value="" style='width:150px;' maxlength="100" class="contactFnameCheck"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="last_name[1]" id="last_name-1" value="" style='width:150px;' maxlength="100"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="email[1]" id="email-1" value="" style='width:150px;' class="contactEmailAddr" maxlength="100"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="phone[1]" id="phone-1" value="" style='width:150px;' maxlength="20" onkeyup="this.value = this.value.match(/^[0-9-+ ]+/);"/>
										</td>
										<td class="pt3 pb5 bdrbtm4">
											<input type='text' name="job_title[1]" id="job_title-1" value="" style='width:150px;' maxlength="100"/>
										</td>
										<td class="acenter pt3 pb5 bdrbtm4">
											<input type='checkbox' name="is_primary[1]" id="is_primary-1" value="1" class="is_primary" onClick="checkIsPrimaryBoxes('is_primary', this.id);"/>
										</td>
										<td class="acenter pt3 pb5 bdrbtm4">
											<input type='checkbox' name="is_active[1]" id="is_active-1" value="1" checked/>
										</td>
										<td class="aleft pt3 pb5 bdrbtm4">
											&nbsp;
										</td>
									</tr>
									<tr id='vAdd-moreContact'>
										<td class="pt3 pb5 pL10 pR5 bdrbtm4 aright" colspan='7'>
											<input type="button" id="btnAddMoreContact" name='btnAddMoreContact' value="Add more contact" class="buttonNew">
										</td>
									</tr>

								</table>
                            </div>
                            <!-- // Contact Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class="pt3 pb5 pL10 pR5">&nbsp;</td>
                    </tr>

                </table>
            </form>
        </div>


        {{include file="footer.html"}}
    </body>

</html>
