{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence:: License Periods</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
    </head>

    <body>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="licenseperiods.common.html"}}
        {{/if}}
        <script>
            jQuery(function($){

                // Numeric validation
                $("#txt_name").keyup(function(){this.value=this.value.match(/^[0-9]+/)});

                $("#btn_cancel").click(function(){
                    $("#hdm_id").val(0);
                    $("#txt_name").val("");
                    $("#daymonthyear").val('DAY');
                    $("#btn_save").val("Add");
                });

                $("#btn_save").click(function() {
                    if($.trim($("#txt_name").val()) == '')
                        jAlert("<b>Enter a License Period</b>","License Key Management");
                    else
                        submitEmpTyp();
                });

            });
            function deleteDes(id) {
                jConfirm('<br><b>Are you sure you want delete the License Period : <i>'+$("#name-"+id).text()+'</i>?</b>',"License Periods", 
                            function(returnvalue) {
                                if (returnvalue) {
                                    $("#hdn_id").val(id);
                                    $("#txt_name").val($("#name-" + id).text());
                                    $("#action").val("DELETE");
                                    submitEmpTyp();
                                }    
                            }
                    );
            }
            function editDes(id) {
                $("#hdn_id").val(id);
                period = $("#name-" + id).text();
                periodarr = period.split(' ');
                $("#txt_name").val(periodarr[0]);
                $("#daymonthyear").val(periodarr[1]);
                $("#action").val("EDIT");
                $("#btn_save").val("Save");
            }
            function submitEmpTyp() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmLicensePeriod").serialize();
                    $.ajax({
                        url:    'licenseperiods.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load license periods.","License Periods");
                                },
                        success: function(v) { 
                                    loadSetup('licenseperiods.list.php','License Periods');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmLicensePeriod").submit();
                {{/if}}
            }
        </script>

        <div id="content">
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>License Periods</h1>
                </td></tr>
            </table>
			<table align="right"><tr><td><a id="export" href="licenseperiods.list.php?excel=1">Export to excel</a></td></tr> </table><br>
            {{/if}}
            <div id='license_period_list'>
				{{include file="table.licenseperiods.list.html"}}
            </div>
        </div>
    </body>

</html>
