{{include file="header.html" tab="licenses"}}
<div id="nav2">
    {{if $loginuser->isAdmin()}}
    <a href="license.list.php" class="linkbutton">View all Licenses</a>
    <a href="license.add.php" class="linkbutton">Create License</a>
    {{/if}}
</div>
