<br>
<div id="addressbook">
    <div id="filter-list-panel">
    <div id="filter-panel" class="abook-column">
        <div id="filter_address">
            Filter Contacts
        </div>
          <div id="filter-div">
            <div id="filter-search">
            <input type="text" name="search" id="search" class="search1" value="Search" onkeyUp="searchList(this.value);"/>
            </div>
            <ul id="contact-filter">
                <li class="all-contacts selection" id="all-contacts">
                    <div><span>All Contacts</span> <em>({{$total_contacts}})</em></div>
                </li>
                {{if $clients}}
                <li class="section expanded">
                    <div>Companies               
                        <!--<a class="side-link" id="manage-tags-link" href="#">Manage</a>-->
                    </div>
              
                    <ul id="client-filter" indxtype="clients" style="visibility: visible; position: static; height: 150px;">
                    {{foreach item=c from=$clients}}
                        <li id="{{$c.client_id}}"><span>{{$c.client_name}}</span> ({{$c.total}})</li>
                    {{/foreach}}
                    </ul>
                </li>
                {{/if}}
                {{if $groups }} 
                <li class="section expanded">
                    <div>Groups</div>
                    <ul id="group-filter" indxtype="groups" style="visibility: visible; position: static; height: 150px;">
                    {{foreach item=g from=$groups}}
                        <li id="{{$g.group_id}}"><span>{{$g.group_name}}</span> ({{$g.total}})</li>
                    {{/foreach}}
                    </ul>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    <div id="list-panel" class="abook-column"> 
        <div id="filter_address">
            <div id="alpha-order">
                &nbsp;<span><a href='javascript:;' onclick="load_contact('ALL')">All</a></span>
                <span id="abc" style="float:right;"><a href='javascript:;'>ABC</a></span>
            </div>
        </div>
        <div id="list-details">
            
            <div id='loading' style='display:none;'>
                <img id='imgLoading' src='img/loading.gif'/>
            </div>
            {{if $con_alpha}}
            <ul id="alpha_contact_lists">
                {{foreach item=a key=k from=$con_alpha}}
                <li class="letter-divider">
                    <span class="A">{{$a.name}}</span>
                </li>
                {{foreach name=x item=c from=$a.contacts}}
                {{assign var='liClass' value=''}}
                {{if $smarty.foreach.x.iteration lt '2'}}
                {{assign var='liClass' value='first'}}
                {{/if}}
                <li class="{{$liClass}}" id="{{$c->getId()}}" stext="{{$c->getFullName()|strtolower}}">
                    <div class="conn-wrapper">
                        <!--<input type="checkbox" value="{{$c->getFullName()}}">
                        <span class="conn-photo">
                            <img width="40" height="40" alt="{{$c->getFullName()}}" class="photo" src="fa5ab.jpg">
                        </span>-->
                        <span class="conn-name">{{$c->getFullName()}}</span>
                        <span class="conn-headline">
                            <span class="company-name">{{$c->getClientName()}}</span>
                        </span>
                    </div>
                    <div title="" class="conn-count">{{$c->getId()}}</div>
                </li>
                {{/foreach}}
                {{/foreach}}
            </ul>
            {{/if}}
        </div>
    </div>
    <div id="detail-panel" class="abook-column">
        <div id="filter_address">
            <div style="padding: 0 8px;">&nbsp;</div>
        </div>

        <div id="address-details" class="calc-height"> </div>
    </div>

    </div>
    <div id="alpha-drop-down">
        <ul id="alpha-drop-down1" class="">
        {{foreach item=a from=$alpha_arr}}
            {{assign var='liClass' value=''}}
            {{foreach item=c key=k from=$con_alpha}}
                {{if $c.name eq $a}}
                {{assign var='liClass' value='enabled'}}
                {{/if}}    
            {{/foreach}}
            <li class="{{$liClass}}" alpha="{{$a}}">{{$a}}</li>
        {{/foreach}}
        </ul>    
    </div>
    </div>
</div>
