{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="mediawiki.common.html"}}
        <div id="content">

        <iframe src="../mediawiki/index.php" title="Media Wiki" width="100%" height="100%" frameborder='0' border="0" cellspacing="0" style="border-style: none;width: 100%; min-height: 600px">
            <p>Your browser does not support iframes.</p>
        </iframe>

        </div>
        {{include file="footer.html"}}
    </body>
</html>
