{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: View Meeting</title>
        {{include file="css.and.js.html"}}
    </head>
    <body>
        {{include file="meeting.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
                    <h1>View meeting minutes {{$sep}} {{$meeting->getTitle()}}</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="meeting.save.action.php" method="post" id="meeting_edit" name="meeting_edit">
                <input type="hidden" name="id" id="txtId" value="{{$meeting->getId()}}"/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Date</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting->getDateTime()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Meeting Duration</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting->duration}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Title</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting->getTitle()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Meeting Type</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting->getMeetingTypeName()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Meeting Minutes</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting->getMeetingMinutes()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Action Items</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting->getActionItems()}}</td>
                    </tr>
                    {{if $meeting->getStatus() eq "Inactive"}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Revision</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting->getRevision()}}</td>
                    </tr>
                    {{/if}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Participants</td>
                        <td class="pt3 pb5 pL10 bdrbtm4">
						    <table style="margin:0px !important;">
                                {{assign var='blnFound' value='NO'}}
                                {{foreach item=p from=$meeting->getParticipants()}}
                                {{if $p->getUserId() gt 0}}
                                {{assign var='blnFound' value='FOUND'}}
                                <tr><td>{{$p->getFullName()}} &lt;{{$p->getEmail()}}&gt;</td></tr>
                                {{/if}}
                                {{/foreach}}
                                {{if $blnFound eq 'NO'}}
                                <tr><td>There are no participants available for the meeting.</td></tr>
                                {{/if}}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Other Participants</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
						    <table style="margin:0px !important;">
                                {{assign var='blnFound' value='NO'}}
                                {{foreach item=p from=$meeting->getParticipants()}}
                                {{if $p->getUserId() eq 0}}
                                {{assign var='blnFound' value='FOUND'}}
                                <tr><td>{{$p->getEmail()}}</td></tr>
                                {{/if}}
                                {{/foreach}}
                                {{if $blnFound eq 'NO'}}
                                <tr><td>There are no other participants available for the meeting.</td></tr>
                                {{/if}}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;" class="pt3 pb5 pL10 bdrbtm4">
                            {{if $loginuser->isAdmin() || $loginuser->isMeetinMinutesManager()}}
                            {{if $meeting->getStatus() eq "Active"}}
                            <a href="meeting.edit.php?id={{$meeting->getId()}}" class="linkbutton">Edit meeting minutes</a>
                            {{/if}}
                            {{/if}}
                            <a href="meeting.list.php" class="linkbutton" vText="Cancel">Cancel and go back to meeting minutes list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
         {{include file="footer.html"}}
    </body
</html>
    
