{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Meetings List</title>
        {{include file="css.and.js.html"}}
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
        <script type="text/javascript" language="javascript">
            jQuery(function($){
                $("#meeting_type_id").change(function(){
                   //$("#frm_filter").submit(); 
                });
            });
                function del_meeting(id) {
                    jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the meeting minutes?</b>',"Meeting Minutes", function(r) {
                        if(r) {
                            $("#txtID").val(id);
                            $("#meeting_edit").submit();
                        }
                    });
                }    
        </script>
    </head>

    <body>
        {{include file="meeting.common.html"}}
        <div id="nav2">
        {{if $loginuser->isAdmin() || $loginuser->isMeetinMinutesManager()}}
            <a href="meeting.add.php" class="linkbutton">Add Meeting Minutes</a>
        {{/if}}
        </div>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="20%" class="pt3 pb5 pL10"><h1>Meeting Minutes</h1></td>
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                        <form action="meeting.list.php" method="get" id="frm_filter">
                        From Date <input type="text" name="from_date" id="txtFromDate" value="{{$from_date|format_date}}" class="datepicker"/>&nbsp;&nbsp;
                        To Date <input type="text" name="to_date" id="txtToDate" value="{{$to_date|format_date}}" class="datepicker"/>&nbsp;&nbsp;
                        <select name="meeting_type_id" id="meeting_type_id">
                            <option value="0">-- All Meeting Types --</option>
                            {{foreach item=m from=$meeting_types}}
                            <option value="{{$m->getId()}}" {{if $meeting_type_id eq $m->getId()}}selected{{/if}}>{{$m->getName()}}</option>
                            {{/foreach}} 
                        </select>
                        <input type="checkbox" name='revision' id="revision" value='1' {{if $revision eq 1}}checked{{/if}}/><b>Show Revisions</b>
                        &nbsp;&nbsp;<input type="submit" name="btnFilter" id="btnFilter" value="Filter meeting minutes"/>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="meeting.list.php?excel=1&meeting_type_id={{$smarty.get.meeting_type_id}}&from_date={{$from_date}}&to_date={{$to_date}}">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            <form action="meeting.save.action.php" method="post" id="meeting_edit" name="meeting_edit">
            <input type="hidden" name="action" id="action" value="DELETE"/>
            <input type="hidden" name="id" id="txtID"/>
            {{include file="table.meeting.list.html"}}
            </form> 
        </div>
         {{include file="footer.html"}}
    </body>
</html>
