{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Add Meeting</title>
        {{include file="css.and.js.html"}}
		<link rel="stylesheet" type="text/css" media="all" href="js/dynDateTime/css/calendar-blue2.css"  />
        <script type="text/javascript" src="js/dynDateTime/jquery.dynDateTime.js"></script>
        <script type="text/javascript" src="js/dynDateTime/lang/calendar-en.js"></script>
        <script type="text/javascript" src="js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
        <script type="text/javascript" src="js/tinymce.js"></script>
        <script type="text/javascript" language="javascript">
            var data = {{$data}};
            var userId = {{$user_id}};
            jQuery(function($){
                configTinyMCE("#txtMinutes");
                configTinyMCE("#txtActionItems");

                $("#txtDateTime").dynDateTime({
                    showsTime: true, ifFormat: "%m/%d/%Y %H:%M", button: ".next()"
                });
                $("#meeting_type_id").change(function() {
                    if($("#meeting_type_id").val() > 0) {
                        var participants = data.meeting_types[$("#meeting_type_id").val()].participants;
                        $('input[name="users[]"]').each(function(){
                           checkStandardParticipants(this.id,participants); 
                        });
                    }
                });
                function checkStandardParticipants(id, data) {
                    $('#'+id).removeAttr("checked");
                    if(data) {
                        $.each(data, function(i, v){
                            val = $('#'+id).val().split('|');
                            if(val[0] == v.user_id) {
                                $('#'+id).attr("checked", "checked");
                            }
                        });
                    }
                    if(userId > 0) {
                        val = $('#'+id).val().split('|');
                        if(val[0] == userId) {
                            $('#'+id).attr("checked", "checked");
                        }
                    }
                }
                $('input[name="users[]"]').each(function(){
                    id = this.id;
                    if(userId > 0) {
                        $('#'+id).removeAttr("checked");
                        val = $('#'+id).val().split('|');
                        if(val[0] == userId) {
                            $('#'+id).attr("checked", "checked");
                        }
                    }
                });
                $("#btnAdd").click(function(){
                    var blnFound=false;
                    if($("#txtDateTime").val() == "") {
                        $("#txtDateTime").focus();
                        jAlert("Please select the meeting date time!","Add Meeting");
                        return false;
                    }
                    if($("#txtTitle").val() == "") {
                        $("#txtTitle").focus();
                        jAlert("Please enter the meeting title!","Add Meeting");
                        return false;
                    }
                    if($("#txtMinutes").val() == "") {
                        jAlert("Please enter the meeting minutes!","Add Meeting");
                        $("#txtMinutes").focus();
                        return false;
                    }
                    $('input[name="users[]"]').each(function(){
                        if(this.checked) {
                            blnFound=true;
                        }
                    });
                    if(blnFound) {
                        $("#meeting_edit").submit();
                    } 
                    else {
                        jAlert("Please select meeting participants!","Add Meeting");
                    }
                    return false;
                });
            });
        </script>
    </head>
    <body>
        {{include file="meeting.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
                    <h1>Add meeting minutes</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="meeting.save.action.php" method="post" id="meeting_edit" name="meeting_edit">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Date *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="text" name="txtDateTime" id="txtDateTime" value="{{$post.txtDateTime}}" class="datepicker" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Meeting Duration *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name="meeting_duration" id="meeting_duration">
                                {{foreach item=d key=k from=$durations}}
                                <option value="{{$k}}">{{$d}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Title *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="textbox" name="txtTitle" id="txtTitle" class="ui-widget-content ui-corner-all expand2fit" value="{{$post.txtTitle}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Meeting Type *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name="meeting_type_id" id="meeting_type_id">
                                <!--<option value="0">-- Select Meeting Type --</option>-->
                                {{assign var="pc" value=$post.meeting_type_id}}
                                {{foreach item=m from=$meeting_types}}
                                <option value="{{$m->getId()}}">{{$m->getName()}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Meeting Minutes *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtMinutes" id="txtMinutes" class="expand2fit" rows="15" cols="40">{{$post.txtMinutes}}</textarea> 
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Action Items</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtActionItems" id="txtActionItems" class="expand2fit" rows="15" cols="40">{{$post.txtActionItems}}</textarea>
                        </td>
                    </tr>
                    <!--<tr>
                        <th class="aleft pt3 pb5 pL10">Status *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select id="txtStatus" name="txtStatus">
                                <option value="OPEN">Open</option>
                                <option value="WORK_IN_PROGRESS">Work In Progress</option>
                                <option value="COMPLETED">Completed</option>
                                <option value="DEFERRED">Deferred</option>
                                <option value="NOT_RELEVENT">Not Relevent</option>
                            </select>
                        </td>
                    </tr>-->
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Participants</td>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <div class="inlineblockgroup">
                                {{if $post.users}}{{assign var="pu" value=$post.users}}{{else}}{{assign var="pu" value=$emptyarray}}{{/if}}
                                {{foreach item=user from=$users}}
                                <span class="inlineblock">
                                   <input type="checkbox" id="user{{$user.id}}" name="users[]" 
                                    value="{{$user.id}}|{{$user.email}}" class="vamiddle" />
                                    <label for="user{{$user.id}}" class="vamiddle">{{$user.name}} &lt;{{$user.email}}&gt;</label>
                                </span>
                                {{/foreach}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="aleft pt3 pb5 pL10">Other Participants</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtOtherParticipants" id="txtOtherParticipants" class="expand2fit" rows="2" cols="40">{{$post.txtOtherParticipants}}</textarea>
                            <em><b>Note: Enter other participants email address seperated by comma.</b></em>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;" class="pt3 pb5 pL10 bdrbtm4">
                            <input type="button" name="btnAdd" id="btnAdd" value="Add meeting minutes"/>
                            <a href="meeting.list.php" class="linkbutton" vText="Cancel">Cancel and go back to meeting minutes list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
         {{include file="footer.html"}}
    </body
</html>
    
