{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
    </head>

    <body>
        <script>
            //var data = {{$data}};
            jQuery(function($){
                $("#btn_cancel").click(function(){
                    $("#hdm_id").val(0);
                    $("#txt_name").val("");
                    $("#btn_save").val("Add");
                });
                $("#btn_save").click(function(){
                    if($("#txt_name").val() == "") {
                        $("#txt_name").focus();
                        jAlert("<b>Please enter the meeting type!</b>","Meeting Types");
                        return false;
                    }
                    
                    if($.trim($("#txt_name").val()) == "Others") {
                        $("#txt_name").focus();
                        jAlert("<b>Others</b> is reserved keywork.<br><b>Please enter the meeting type!</b>","Meeting Types");
                        return false;
                    }
                    else {
                        //$("#frmMeetingTypes").submit();
                        submitMT();
                    }
                });
                $("a#meeting_type-edit").click(function(){
                    $this = $(this);
                    //id = $this.attr("href").split("id=")[1];
                    id = $this.attr("val");
                    $("#hdn_id").val(id);
                    $("#txt_name").val('');
                    $("#txt_name").val($("#name-" + id).text());
                    $("#action").val("EDIT");
                    $("#btn_save").val("Save");
                    return false;
                });

            });
            function getParticipants(id) {
                {{if $fetch}}
                    var param = "fetch=1&id="+id;
                    $.ajax({
                        url:    'meetingtypes.view.php',
                        type:   'GET',
                        data:   param,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load meeting participants","Meeting Participants");
                                },
                        success: function(v) { 
                                    $("#details").html(v);
                                 }
                     
                    }); 

                {{else}}
                window.location.href='meetingtypes.view.php?id='+id;
                {{/if}}
            }
            function deleteMeetingType(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the Meeting Type : <i>'+$("#name-"+id).text()+'</i>?</b><br><br>All participants under this meeting type will automatically removed.<br><br>Please make a note that all meeting minutes under this meeting type will automatically move to "Other" meeting type.', "Meeting Types", function(returnvalue) {
                                if (returnvalue) {
                                    $("#hdn_id").val(id);
                                    $("#txt_name").val($("#name-" + id).text());
                                    $("#action").val("DELETE");
                                    //$("#frmMeetingTypes").submit();
                                    submitMT();
                                }    
                    });
            }
            function submitMT(){
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmMeetingTypes").serialize();
                    $.ajax({
                        url:    'meetingtypes.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load meeting types.","Meeting Types");
                                },
                        success: function(v) { 
                                    loadSetup('meetingtypes.list.php','Meeting Types');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmMeetingTypes").submit();
                {{/if}}
            }
        </script>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="meetingtypes.common.html"}}
        {{/if}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Meeting Types</h1>
                </td></tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="meetingtypes.list.php?excel=1">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            {{/if}}
            <br>
            <form method="post" action="meetingtypes.save.action.php" id="frmMeetingTypes" name="frmMeetingTypes">
				{{include file="table.meetingtypes.list.html"}}
            </form>
        </div>
    </body>
</html>
