{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Edit Meeting</title>
        {{include file="css.and.js.html"}}
		<link rel="stylesheet" type="text/css" media="all" href="js/dynDateTime/css/calendar-blue2.css"  />
        <script type="text/javascript" src="js/dynDateTime/jquery.dynDateTime.js"></script>
        <script type="text/javascript" src="js/dynDateTime/lang/calendar-en.js"></script>
        <script type="text/javascript" src="js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
        <script type="text/javascript" src="js/tinymce.js"></script>
        <script type="text/javascript" language="javascript">
            var data = {{$data}};
            var userId = {{$user_id}};
            jQuery(function($){
                $("#txtDateTime").dynDateTime({
                    showsTime: true, ifFormat: "%m/%d/%Y %H:%M", button: ".next()"
                });
                configTinyMCE("#txtMinutes");
                configTinyMCE("#txtActionItems");
                $('input[name="users[]"]').each(function(){
                    checkStandardParticipants(this.id,data.participants); 
                });
                $("#meeting_type_id").change(function() {
                    if($("#meeting_type_id").val() > 0) {
                        var participants = data.meeting_types[$("#meeting_type_id").val()].participants;
                        $('input[name="users[]"]').each(function(){
                           checkStandardParticipants(this.id,participants); 
                        });
                    }
                });
                function checkStandardParticipants(id, data) {
                    $('#'+id).removeAttr("checked");
                    if(data) {
                        $.each(data, function(i, v){
                            val = $('#'+id).val().split('|');
                            if(val[0] == v.user_id) {
                                $('#'+id).attr("checked", "checked");
                            }
                        });
                    }
                    if(userId > 0) {
                        val = $('#'+id).val().split('|');
                        if(val[0] == userId) {
                            $('#'+id).attr("checked", "checked");
                        }
                    }
                }
                $("#btnAdd").click(function(){
                    var blnFound=false;
                    if($("#txtDateTime").val() == "") {
                        $("#txtDateTime").focus();
                        jAlert("Please select the meeting date time!","Add Meeting");
                        return false;
                    }
                    if($("#txtTitle").val() == "") {
                        $("#txtTitle").focus();
                        jAlert("Please enter the meeting title!","Add Meeting");
                        return false;
                    }
                    if($("#txtMinutes").val() == "") {
                        jAlert("Please enter the meeting minutes!","Add Meeting");
                        $("#txtMinutes").focus();
                        return false;
                    }
                    $('input[name="users[]"]').each(function(){
                        if(this.checked) {
                            blnFound=true;
                        }
                    });
                    if(!blnFound) {
                        jAlert("Please select meeting participants!","Add Meeting");
                    }
                    if($("#send_notification").val() == 0) {
                        $.alerts.okButton = "&nbsp;Yes&nbsp;";
                        $.alerts.cancelButton = '&nbsp;No&nbsp;';
                        jConfirm('<b>Do you want to send notification to the participants?</b>',"Meeting Minutes", function(r) {
                            if(r) {
                                $("#send_notification").val('1');;
                                $("#meeting_edit").submit();
                            }
                            else {
                                $("#meeting_edit").submit();
                            }
                        });
                    }
                    
                    return false;
                });
            });
        </script>
    </head>
    <body>
        {{include file="meeting.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
                    <h1>Edit meeting minutes {{$sep}} {{$meeting->getTitle()}}</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="meeting.save.action.php" method="post" id="meeting_edit" name="meeting_edit">
                <input type="hidden" name="id" id="txtId" value="{{$meeting->getId()}}"/>
                <input type="hidden" name="send_notification" id="send_notification" value="0"/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Date *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="text" name="txtDateTime" id="txtDateTime" value="{{$meeting->getDateTime()}}" class="datepicker" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Meeting Duration *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name="meeting_duration" id="meeting_duration">
                                {{foreach item=d key=k from=$durations}}
                                <option value="{{$k}}" {{if $meeting->getMeetingDuration() eq $k}}selected{{/if}}>{{$d}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Title *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="textbox" name="txtTitle" id="txtTitle" class="ui-widget-content ui-corner-all expand2fit" value="{{$meeting->getTitle()}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Meeting Type *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name="meeting_type_id" id="meeting_type_id">
                                {{foreach item=m from=$meeting_types}}
                                <option value="{{$m->getId()}}" {{if $meeting->getMeetingTypeId() eq $m->getId()}}selected{{/if}}>{{$m->getName()}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Meeting Minutes *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtMinutes" id="txtMinutes" class="expand2fit" rows="15" cols="40">{{$meeting->getMeetingMinutes()}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Action Items</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtActionItems" id="txtActionItems" class="expand2fit" rows="15" cols="40">{{$meeting->getActionItems()}}</textarea>
                        </td>
                    </tr>
                    <!-- <tr>
                        <th class="aleft pt3 pb5 pL10">Status *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select id="txtStatus" name="txtStatus">
                                <option value="OPEN" {{if $meeting->getStatus() eq "Open"}} selected{{/if}}>Open</option>
                                <option value="WORK_IN_PROGRESS" {{if $meeting->getStatus() eq "Work In Progress"}} selected{{/if}}>Work In Progress</option>
                                <option value="COMPLETED" {{if $meeting->getStatus() eq "Completed"}} selected{{/if}}>Completed</option>
                                <option value="DEFERRED" {{if $meeting->getStatus() eq "Deferred"}} selected{{/if}}>Deferred</option>
                                <option value="NOT_RELEVENT" {{if $meeting->getStatus() eq "Not Relevent"}} selected{{/if}}>Not Relevent</option>
                            </select>
                        </td>
                    </tr> -->
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Participants</td>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <div class="inlineblockgroup">
                                {{foreach item=user from=$users}}
                                <span class="inlineblock">
                                   <input type="checkbox" id="user{{$user.id}}" name="users[]" value="{{$user.id}}|{{$user.email}}" class="vamiddle"/>
                                    <label for="user{{$user.id}}" class="vamiddle">{{$user.name}} &lt;{{$user.email}}&gt;</label>
                                </span>
                                {{/foreach}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="aleft pt3 pb5 pL10">Other Participants</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtOtherParticipants" id="txtOtherParticipants" class="expand2fit" rows="2" cols="40">{{foreach item=p from=$meeting->getParticipants()}}{{if $p->getUserId() eq 0}}{{$p->getEmail()}},{{/if}}{{/foreach}}</textarea>
                            <em><b>Note: Enter other participants email address seperated by comma.</b></em>
                        </td>
                    </tr>
                    <!--<tr>
                        <th class="aleft pt3 pb5 pL10">Notification</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="checkbox" name="send_notification" id="send_notification" value='1'/> <b>Send notification to participants?</b>
                        </td>
                    <tr>-->
                        <td colspan="2" style="text-align: center;" class="pt3 pb5 pL10 bdrbtm4">
                            <input type="button" name="btnAdd" id="btnAdd" value="Save meeting"/>
                            <a href="meeting.view.php?id={{$meeting->getId()}}" class="linkbutton" vText="Cancel">Cancel and go back to meeting minutes view</a>
                            <a href="meeting.list.php" class="linkbutton" vText="Cancel">Cancel and go back to meeting minutes list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
         {{include file="footer.html"}}
    </body
</html>
    
