{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
    </head>

    <body>
        <script>
            var data = {{$data}};
            jQuery(function($){
                $("#participant-form").hide();
                $("#participant-form").dialog({
                    dialogClass: 'holiday-edit-frm',
                    title: 'User List',
                    autoOpen: false,
                    width: 600,
                    modal: true,
                });
                $("#btnAdd").click(function() {
                    showDialog();
                });
                $("#btnAdd1").click(function() {
                    showDialog();
                });
                $("#btnAssign").click(function() {
                    var blnFound=false;
                    $('input[name="participants_id[]"]').each(function(){
                        if(this.checked) {
                            blnFound=true;
                        }
                    });
                    if(blnFound) {
                        $("#assignAction").val("ASSIGN_MEMBERS");
                        //$("#meeting_edit1").submit();
                        submitMTP('assign');
                    }
                    else {
                        jAlert("Please select users to assign!","Standard Participants");
                    }
                });
                $("#btnDelete").click(function() {
                    removeParticipants();
                });
                $("#btnDelete1").click(function() {
                    removeParticipants();
                });
                function removeParticipants() {
                    var blnFound=false;
                    $('input[name="participants[]"]').each(function(){
                        if(this.checked) {
                            blnFound=true;
                        }
                    });
                    if(blnFound) {
                        jConfirm('<br><h1>Are you sure?</h1><br><b>You want remove the selected participants?',"Standard Participants",function(r) { 
                            if(r) {
                                $("#removeAction").val("REMOVE_MEMBERS");
                                //$("#meeting_edit").submit();
                                submitMTP();
                            }
                        });
                    }
                    else {
                        jAlert("Please select participants to remove!","Standard Participants");
                    }
                }
            });
            function showDialog() {
                {{if $users}}
                $("#participant-form").dialog('open');
                {{else}}
                jAlert("All members are already assigned to the participant list.","Standard participants");
                {{/if}}
            }
            function submitMTP(type) {
                {{if $fetch}}
                    if(type == 'assign') {
                        var data = "fetch=1&" + $("#meeting_edit1").serialize();
                     } else {
                        var data = "fetch=1&" + $("#meeting_edit").serialize();
                    }
                    $.ajax({
                        url:    'meetingtypes.participants.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load meeting types.","Meeting Types");
                                },
                        success: function(v) { 
                                    $("#participant-form").dialog('close');
                                    loadSetup('meetingtypes.view.php?id={{$meeting_type->getId()}}','Meeting Types');
                                 }
                     
                    }); 
                {{else}}
                    if(type == 'assign') {
                        $("#meeting_edit1").submit();
                    }
                    else {
                        $("#meeting_edit").submit();
                    }
                {{/if}}
            }
            function goBackMT() {
               {{if $fetch}}
                    var param = "fetch=1";
                    $.ajax({
                        url:    'meetingtypes.list.php',
                        type:   'GET',
                        data:   param,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load meeting participants","Meeting Participants");
                                },
                        success: function(v) { 
                                    $("#details").html(v);
                                 }
                     
                    }); 

                {{else}}
                window.location.href='meetingtypes.list.php';
                {{/if}}
            }
        </script>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="meetingtypes.common.html"}}
        {{/if}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>View Meeting Type {{$sep}} {{$meeting_type->getName()}}</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            {{/if}}
            <br>
            <form action="meetingtypes.participants.action.php" method="post" id="meeting_edit" name="meeting_edit">
                <input type="hidden" id="remove_Mtype_id" name="id" value="{{$meeting_type->getId()}}"/>
                <input type="hidden" id="removeAction" name="action"/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Name</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting_type->getName()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Created On</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting_type->createdDate}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Created By</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting_type->createdFullName}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Updated On</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting_type->updatedDate}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Updated By</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$meeting_type->updatedFullName}}</td>
                    </tr>
                </table>
                <br>
                <div class='d-dashed'></div>
                <br>
                <table align="right">
                    <tr>
                        <td>
                            <input type="button" id="btnAdd" name="btnAdd" value="Assign new participants"/>
                            <input type="button" id="btnDelete" name="btnDelete" value="Remove participants"/>
			                <input type="button" onclick="goBackMT()" id="btn_cancel" value="Go back to meeting types list" vText='Cancel'>
                        </td>
                    </tr>
                </table><br><br>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
                    <tr>
                        <th class="acenter pt3 pb5 pL10" width="5"></th>
                        <th class="aleft pt3 pb5 pL10" width="200">Standard Participants</th>
                        <th class="aleft pt3 pb5 pL10" width="200">Email</th>
                    </tr>
                    {{if $meeting_type->GetParticipants()}}
	                {{foreach item=m from=$meeting_type->GetParticipants()}}
                    <tr>
                        <td align="center" class='acenter pt3 pb5 pL10 bdrbtm4'>
                            <input type="checkbox" id="chk-{{$m->getParticipantsId()}}" name="participants[]" value="{{$m->getParticipantsId()}}"/>
                        </td>
                        <td class='aleft pt3 pb5 pL10 bdrbtm4' id="td-{{$m->getParticipantsId()}}">{{$m->getFullName()}}</td>
                        <td class='aleft pt3 pb5 pL10 bdrbtm4' id="td-{{$m->getParticipantsId()}}">{{$m->getEmail()}}</td>
                    </tr>
                    {{/foreach}}
                    {{else}}
                    <tr>
                        <td colspan="3" class="acenter pt3 pb5 pL10 bdrbtm4">
                            <div class="info">
                                No standard meeting participants found.
                            </div>
                        </td> 
                    </tr>
                    {{/if}}
                    <tr>
                        <td colspan="3" class"acenter pt3 pb5 pL10 bdrbtm4" align="center">
                            <input type="button" id="btnAdd1" name="btnAdd1" value="Assign new participants"/>
                            <input type="button" id="btnDelete1" name="btnDelete1" value="Remove participants"/>
			                <input type="button" onclick="goBackMT()" id="btn_cancel1" value="Go back to meeting types list" vText='Cancel'>
                        </td>
                    </tr>
                </table>
            </form>
            <div id="participant-form" style="display:none;">
            <form action="meetingtypes.participants.action.php" method="post" id="meeting_edit1" name="meeting_edit1">
                <input type="hidden" id="assign_Mtype_id" name="id" value="{{$meeting_type->getId()}}"/>
                <input type="hidden" id="assignAction" name="action"/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
                    <tr id='tr-u-0'>
                        <th class="acenter pt3 pb5 pL10"></th>
                        <th class="aleft pt3 pb5 pL10">Full Name</th>
                        <th class="aleft pt3 pb5 pL10">Email</th>
                    </tr>
                    {{foreach item=u from=$users}}
                    <tr>
                        <td align="center" class='acenter pt3 pb5 pL10 bdrbtm4'>
                            <input type="checkbox" id="chk-{{$u->getId()}}" name="participants_id[]" value="{{$u->getId()}}|{{$u->getEmail()}}" />
                        </td>
                        <td class='aleft pt3 pb5 pL10 bdrbtm4'>{{$u->getFirstName()}} {{$u->getLastName()}}</td>
                        <td class='aleft pt3 pb5 pL10 bdrbtm4'>{{$u->getEmail()}}</td>
                    </tr>
                    {{/foreach}}
                    <tr>
                        <td colspan="3" align="center" class='pt3 pb5 pL10 bdrbtm4'>
                            <input type="button" id="btnAssign" name="btnAssign" value="Add Participants"/>
                        </td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
    </body>
</html>
