{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        <style type='text/css'>
            {{$css}}
        </style>
    </head>
    <body>
        <div id="content">
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>{{$meeting->getTitle()}}</h1>
                </td></tr>
            </table>
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr>
                        <th class="aleft ui-corner-tl" width="200">Date</th>
                        <td>{{$meeting->getDateTime()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft ui-corner-tl" width="200">Title</th>
                        <td>{{$meeting->getTitle()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft ui-corner-tl">Meeting Type</th>
                        <td>{{$meeting->getMeetingTypeName()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft ui-corner-tl">Meeting Minutes</th>
                        <td>{{$meeting->getMeetingMinutes()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft ui-corner-tl">Action Items</th>
                        <td>{{$meeting->getActionItems()}}</td>
                    </tr>
                    {{if $meeting->getStatus() eq "Inactive"}}
                    <tr>
                        <th class="aleft ui-corner-tl">Revision</th>
                        <td>{{$meeting->getRevision()}}</td>
                    </tr>
                    {{/if}}
                    <tr>
                        <th class="aleft ui-corner-tl">Participants</td>
                        <td>
						    <table style="margin:0px !important;">
                                {{assign var='blnFound' value='NO'}}
                                {{foreach item=p from=$meeting->getParticipants()}}
                                {{if $p->getUserId() gt 0}}
                                {{assign var='blnFound' value='FOUND'}}
                                <tr><td>{{$p->getFullName()}} &lt;{{$p->getEmail()}}&gt;</td></tr>
                                {{/if}}
                                {{/foreach}}
                                {{if $blnFound eq 'NO'}}
                                <tr><td>There are no participants available for the meeting.</td></tr>
                                {{/if}}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft ui-corner-tl">Other Participants</th>
                        <td>
						    <table style="margin:0px !important;">
                                {{assign var='blnFound' value='NO'}}
                                {{foreach item=p from=$meeting->getParticipants()}}
                                {{if $p->getUserId() eq 0}}
                                {{assign var='blnFound' value='FOUND'}}
                                <tr><td>{{$p->getEmail()}}</td></tr>
                                {{/if}}
                                {{/foreach}}
                                {{if $blnFound eq 'NO'}}
                                <tr><td>There are no other participants available for the meeting.</td></tr>
                                {{/if}}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <a href="{{$timesheet_url}}/meeting.view.php?id={{$meeting->getId()}}" class="linkbutton">View Meeting</a>
                        </td>
                    </tr>
                </table>
        </div>
    </body
</html>
    
