{{if $errors}}
<div class="error">
    {{foreach item=error from=$errors}}
    {{$error}}<br>
    {{/foreach}}
</div>
{{/if}}
{{if $messages}}
<div class="info">
    {{foreach item=message from=$messages}}
    {{$message}}<br>
    {{/foreach}}
</div>
{{/if}}
