<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
<style>
    .ui-widget { 
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
    }
</style>
<script>
            var pPassportAdd = '';
            var pVisaAdd = '';
            jQuery(function($) {

            $('.number').keypress(function(event) {
            if (event.which == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) {
            return true;
            } else if ((event.which != 46 || $(this).val().indexOf('.') != - 1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
            }
            });

            var currentDate = new Date();

            {{foreach item=passport from=$passports}}
            {{if $passport->getVisaInfo()}}
                {{foreach name=x item=v from=$passport->getVisaInfo()}}
                $("#vissue_date-{{$smarty.foreach.x.iteration}}").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
                $("#vexpiry_date-{{$smarty.foreach.x.iteration}}").datepicker({changeMonth: true, changeYear: true,yearRange: currentDate.getFullYear()+':'+(currentDate.getFullYear()+20),dateFormat:'dd-M-yy'});
                {{/foreach}} 
                {{else}}
                $("#vissue_date-1").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
                $("#vexpiry_date-1").datepicker({changeMonth: true, changeYear: true,yearRange: currentDate.getFullYear()+':'+(currentDate.getFullYear()+20),dateFormat:'dd-M-yy'});
            {{/if}}
            {{/foreach}}
    
            

                    pPassportAdd = $("#dPassportEdit").dialog({
                    autoOpen: false,
                    height: 420,
                    width: 600,
                    modal: true,
                    resizable: false,
                    buttons: {
                    "Save": function() {

                    if ($.trim($('#txtPassportNumber').val()) == '') {
                    jAlert('Please select passport number for the user', 'Error');
                            return false;
                    }

                    if ($.trim($('#txtDateOfIssue').val()) == '') {
                    jAlert('Please select Date of issue for the passport', 'Error');
                            return false;
                    }

                    if ($.trim($('#txtDateOfExpiry').val()) == '') {
                    jAlert('Please Date of exipiry for the passport', 'Error');
                            return false;
                    }

                    if ($.trim($('#txtDateOfIssue').val()) != '' && $.trim($('#txtDateOfExpiry').val()) != '' && (new Date($('#txtDateOfIssue').datepicker('getDate')) > new Date($('#txtDateOfExpiry').datepicker('getDate')))) {
                    jAlert('Date of Issue should be grater than Date of Expiry', 'Error');
                            return false;
                    }

                    if ($.trim($('#txtPlaceOfIssue').val()) == '') {
                    jAlert('Please select Place of issue for the passport', 'Error');
                            return false;
                    } 

                    if ($.trim($('#country_of_residance').val()) == '') {
                    jAlert('Please select a Country', 'Error');
                            return false;
                    }   

                    $("#frmProjectMember").submit();
                            //$(this).dialog("close");
                    },
                            "Cancel": function() {
                            $(this).dialog("close");
                            }
                    }
            });
            });


                    pVisaAdd = $("#dVisaAdd").dialog({
                    autoOpen: false,
                    height: 420,
                    width: 600,
                    modal: true,
                    resizable: false,
                    buttons: {
                    "Save": function() {


                    if ($.trim($('#visa_country_of_residance').val()) == '') {
                    jAlert('Please select a Country of Issue', 'Error');
                            return false;
                    }   
                     

                    if ($.trim($('#txtVisaType').val()) == '') {
                    jAlert('Please select visa type for the user', 'Error');
                            return false;
                    }

                    if ($.trim($('#txtVisaDateOfIssue').val()) == '') {
                    jAlert('Please select Date of issue for the passport', 'Error');
                            return false;
                    }

                    if ($.trim($('#txtVisaDateOfExpiry').val()) == '') {
                    jAlert('Please Date of exipiry for the passport', 'Error');
                            return false;
                    }

                    if ($.trim($('#txtVisaDateOfIssue').val()) != '' && $.trim($('#txtVisaDateOfExpiry').val()) != '' && (new Date($('#txtVisaDateOfIssue').datepicker('getDate')) > new Date($('#txtVisaDateOfExpiry').datepicker('getDate')))) {
                    jAlert('Date of Issue should be grater than Date of Expiry', 'Error');
                            return false;
                    }

                    if ($.trim($('#txtVisaPlaceOfIssue').val()) == '') {
                    jAlert('Please select Place of issue for the passport', 'Error');
                            return false;
                    } 

                    

                    $("#frmVisaAdd").submit();
                            //$(this).dialog("close");
                    },
                            "Cancel": function() {
                            $(this).dialog("close");
                            }
                    }
            });
            




function addNewPassport(puid) {  

        $("#txtPassportNumber").val('');
        $("#txtDateOfIssue").val('');
        $("#txtDateOfExpiry").val('');
        $("#txtPlaceOfIssue").val('');
        $("#country_of_residance").val('');


pPassportAdd.dialog('open');
}


function addNewVisa(vPassId) {  

                    
                    $("#vpid").val(vPassId);
                    $("#txtVisaType").val('');
                    $("#txtVisaDateOfIssue").val('');
                    $("#txtVisaDateOfExpiry").val('');
                    $("#txtVisaPlaceOfIssue").val('');
                    $("#visa_country_of_residance").val('');

            //pVisaAdd.data('vPassId', vPassId);
            pVisaAdd.dialog('open');

        }


    function deletePassport(id) {

         jAlert(id, 'Error');

   $("#action").val("");
            jConfirm('Are you sure, You want delete the passport of this user?', "Deleting Passport of User",
                    function(returnvalue) {
                    if (returnvalue) {
                    $("#project_member_id").val(id);
                            $("#action").val("Delete");
                             $("#delId").val(id);
                            $("#passport_details").submit();
                    }
                    }
            );
    }

function deleteVisa(id,passId) {

    $("#action").val("");
            jConfirm('Are you sure, You want delete the visa details of this user?', "Deleting Visa details ",
                    function(returnvalue) {
                    if (returnvalue) {
                    $("#project_member_id").val(id);
                            $("#action").val("Delete Visa");
                             $("#vdelId").val(id);
                              $("#delId").val(passId);
                            $("#passport_details").submit();
                    }
                    }
            );
}

function saveDetails(){

        $("#action").val("");
            jConfirm('Are you sure, You want save all details of this user?', "Save all details ",
                    function(returnvalue) {
                    if (returnvalue) {
                            $("#action").val("Save Details");                  
                            $("#passport_details").submit();
                    }
                    }
            );
}

</script>
<form action="passport_details.php" method="post" id="passport_details" name="passport_details">    

    <div id='passport_details'>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;">
                <input type='hidden' name='delId' id='delId' value=''/>
                <input type='hidden' name='vdelId' id='vdelId' value=''/>
                <input type='hidden' name='action' id='action' value=''/>
                <input type="hidden" name="id" value="{{$user->getId()}}">
                <input type="hidden" name="utabId" id="utabId" value="4">
            {{if !$passports}}
                <tr>
                   <td class='error'>Please setup new passport!</td>
                    <td  class='aright pt3 pb5 pL10 pR10'>
                        <input type="button" name="btnAddPassport" id="btnAddPassport" value="Add Passport" class="buttonNew" onclick="addNewPassport(0)"/>
                    </td>
                </tr>
            {{else}}
                {{if ($pcnt >= 3)}}
                    <tr>
                        <td  colspan='{{$pcnt}}' class='aright pt3 pb5 pL10 pR10'>
                            <input type="button" name="btnAddPassport" id="btnAddPassport" value="Add Passport" disabled class="button" onclick="addNewPassport(0)"/>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td  colspan='{{$pcnt}}' class='aright pt3 pb5 pL10 pR10'>
                            <input type="button" name="btnAddPassport" id="btnAddPassport" value="Add Passport" class="buttonNew" onclick="addNewPassport(0)"/>
                        </td>
                    </tr>
                {{/if}}
                <tr>
                    {{foreach item=passport from=$passports name=pass}}
                    {{ if ($smarty.foreach.pass.iteration) < 4}}
                    <td valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'>
                             <input type='hidden' name='passport_id[]' id='passport_id[]'  value='{{$passport->getId()}}'/> 
                            <tr>
                                <th class="aleft pL5" width="150">Passport {{$passport->getPassportId()}}</th>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    <input type="button" name="btnDelPassport" id="btnDelPassport" value="Delete Passport" class="buttonNew" onclick="deletePassport({{$passport->getId()}})"/>
                                </td>
                            </tr>
                            
                            <tr>
                                <th class="aleft pL5" width="150">Passport Number</th>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    <input type="text" name="txtPassportNumberE[]" id="txtPassportNumberE[]" value="{{$passport->getPassportNumber()}}"/>
                                </td>
                            </tr>
                            <tr>
                                <th class="aleft pL5" width="150">Date Of Issue</th>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    <input type="text" name="txtDateOfIssueE[]" id="txtDateOfIssueE[]" value="{{$passport->getPassportIssueDate()}}" class="datepicker"/>
                                </td>
                            </tr>
                            <tr>
                                <th class="aleft pL5" width="150">Date Of Expiry</th>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    <input type="text" name="txtDateOfExpiryE[]" id="txtDateOfExpiryE[]" value="{{$passport->getPassportExpiryDate()}}" class="datepicker"/>
                                </td>
                            </tr>
                            <tr>
                                <th class="aleft pL5" width="150">Place of issue</th>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    <input type="text" name="txtPlaceOfIssueE[]" id="txtPlaceOfIssuE[]" value="{{$passport->getPassportPlaceOfIssue()}}" />
                                </td>
                            </tr>
                            
                            <tr>
                                <th class="aleft pL5" width="150">Country of Issue</th>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    <select name="country_of_residance_e[]" id="country_of_residance_e[]" style="width:163px">
                                        <option value="0"> -- Select Country --</option>
                                        {{foreach item=c from=$country}}
                                            <option value="{{$c.country_id}}" {{if $passport->getPassportCountryOfResidence() eq $c.country_id}}selected{{/if}}>{{$c.country_name}}</option>
                                        {{/foreach}}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='2'>&nbsp;</td>
                             </tr>
                             <tr>
                                <td  class='acenter pt3 pb5 pL10 pR10'>
                                    <input type="button" name="btnAddNewVisa" id="btnAddNewVisa" value="Add New Visa" class="buttonNew" onclick="addNewVisa({{$passport->getId()}})"/>
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan='2'>
                                    <table cellpadding="0" cellspacing="0" border="0"  style="border: 1px solid #f0f0f0">
                                        {{foreach name=x item=v from=$passport->getVisaInfo()}}
                                        <tr>
                                             <th class="acenter pL5"></th>
                                            <th class="acenter pL5"  >
                                                Visa Information
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="aleft pL5" width="150">Country</th>
                                            <td class="pt3 pb5 pL10 bdrbtm4">
                                                <input type='hidden' name='visa_id[]' id='visa_id' value="{{$v->getVisaId()}}"/>
                                                <input type='text' name='vcountry[]' id='vcountry-{{$smarty.foreach.x.iteration}}' style='width:150px;' value="{{$v->getVisaCountry()}}"/>
                                            </td>
                                        </tr>
                                        <tr><th class="aleft pL5" width="150">Visa Type</th>
                                            <td class="pt3 pb5 pL10 bdrbtm4">
                                                <input type='text' name='visa_type[]' id='visa_type-{{$smarty.foreach.x.iteration}}' style='width:150px;' value="{{$v->getVisaType()}}"/>
                                            </td></tr>
                                        <tr><th class="aleft pL5" width="150">Issue Date</th>
                                            <td class="pt3 pb5 pL10 bdrbtm4">
                                                <input type='text' name='vissue_date[]' id='vissue_date-{{$smarty.foreach.x.iteration}}' style='width:110px;' value="{{$v->getVisaIssueDate()}}"/>
                                            </td></tr>
                                            <th class="aleft pL5" width="150">Expiry Date</th>
                                            <td class="pt3 pb5 pL10 bdrbtm4">
                                                <input type='text' name='vexpiry_date[]' id='vexpiry_date-{{$smarty.foreach.x.iteration}}' style='width:110px;' value="{{$v->getVisaExpiryDate()}}"/>
                                            </td></tr>
                                            <th class="aleft pL5" width="150">Place Of Issue</th>
                                            <td class="pt3 pb5 pL10 bdrbtm4">
                                                <input type='text' name='vplace_of_issue[]' id='vplace_of_issue-{{$smarty.foreach.x.iteration}}' style='width:150px;' value="{{$v->getVisaPlaceOfIssue()}}"/>
                                            </td></tr>
                                        </tr>
                                        <tr>
                                            <td class="acenter pt3 pb5 pL10 bdrbtm4" colspan="2">
                                                <input type="button" name="btnDelVisa" id="btnDelVisa" value="Delete Visa"  class="buttonNew"  onclick="deleteVisa({{$v->getVisaId()}},{{$passport->getId()}})"/>
                                            </td>
                                        </tr>
                                        {{/foreach}}

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {{/if}}
                    {{/foreach}}
                </tr>
                <tr>
                    <td colspan='{{$pcnt}}' class='aright pt3 pb5 pL10 pR10'><br/>                               
                        <input type="button" name="save_pass_details" id="btnSave" value="Save Pasport Details" class="buttonNew" onclick="saveDetails()">&nbsp;
                       {{if $loginuser->getId() ==  $user->getId() && $isBusinessManager}}
                            <a href="user.list.php"><input type="button" name="cancel_user_details" id="Cancel" value="Cancel" class="buttonNew" ></a>    
                        {{else}}  
                            <a href="task.timecard.php"><input type="button" name="cancel_user_details" id="Cancel" value="Cancel" class="buttonNew" ></a>
                        {{/if}}     
                    </td>  
                </tr>
            {{/if}}
        </table>
    </div>
</form>


<!-- Popup for Passport Add -->
<div id='dPassportEdit' style='display:none;'>
    <form action="passport_details.php" method="post" id="frmProjectMember" name="frmProjectMember">
        <input type='hidden' name='action' id='action' value='AddEdit'/>
        <input type="hidden" name="id" value="{{$user->getId()}}">
        <input type="hidden" name="utabId" id="utabId" value="4">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks">
            <tr>
            <th class="aleft pL5" width="150">Passport Number</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="text" name="txtPassportNumber" id="txtPassportNumber" />
            </td>
        </tr>
        <tr>
            <th class="aleft pL5" width="150">Date Of Issue</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="text" name="txtDateOfIssue" id="txtDateOfIssue"  class="datepicker"/>
            </td>
        </tr>
        <tr>
            <th class="aleft pL5" width="150">Date Of Expiry</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="text" name="txtDateOfExpiry" id="txtDateOfExpiry"  class="datepicker"/>
            </td>
        </tr>
        <tr>
            <th class="aleft pL5" width="150">Place of issue</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="text" name="txtPlaceOfIssue" id="txtPlaceOfIssue"  />
            </td>
        </tr>
        
        <tr>
            <th class="aleft pL5" width="150">Country of Issue</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <select name="country_of_residance" id="country_of_residance" style="width:163px">
                    <option value="0"> -- Select Country --</option>
                    {{foreach item=c from=$country}}
                        <option value="{{$c.country_id}}">{{$c.country_name}}</option>
                    {{/foreach}}
                </select>
            </td>
        </tr>         
        </table>
    </form>
</div>

<!-- Popup for Visa Add -->
<div id='dVisaAdd' style='display:none;'>
    <form action="passport_details.php" method="post" id="frmVisaAdd" name="frmVisaAdd">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks">
        <input type='hidden' name='action' id='action' value='AddVisa'/>
        <input type="hidden" name="id" value="{{$user->getId()}}">
        <input type="hidden" name="utabId" id="utabId" value="4">
        <input type="hidden" name="vpid" id="vpid" value="">
        <tr>
            <th class="aleft pL5" width="150">Country</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                 <input type='text' name='visa_country_of_residance' id='visa_country_of_residance' />
            </td>
        </tr>  
            <tr>
            <th class="aleft pL5" width="150">Visa Type</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="text" name="txtVisaType" id="txtVisaType" />
            </td>
        </tr>
        <tr>
            <th class="aleft pL5" width="150">Date Of Issue</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="text" name="txtVisaDateOfIssue" id="txtVisaDateOfIssue"  class="datepicker"/>
            </td>
        </tr>
        <tr>
            <th class="aleft pL5" width="150">Date Of Expiry</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="text" name="txtVisaDateOfExpiry" id="txtVisaDateOfExpiry"  class="datepicker"/>
            </td>
        </tr>
        <tr>
            <th class="aleft pL5" width="150">Place of issue</th>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="text" name="txtVisaPlaceOfIssue" id="txtVisaPlaceOfIssue"  />
            </td>
        </tr>  
        </table>
    </form>
</div>
