<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>

<script>

        $(function () {
            $('#lstPractice').multiselect({
                includeSelectAllOption: true
            });
            $('#btnSave').click(function () {
                var selected = $("#lstPractice option:selected");
                var message = "";
                selected.each(function () {
                    message += $(this).text() + " " + $(this).val() + "\n";
                });
                //alert(message);
            });
        });


            var index = 9000;

            function onlyNumbers(event) {
                if ( event.keyCode == 46 || event.keyCode == 8 ) { 
                    } else { 
                        if (event.keyCode < 95) { 
                            if (event.keyCode < 48 || event.keyCode > 57 ) { 
                                event.preventDefault(); 
                            } 
                        } else { 
                            if (event.keyCode < 96 || event.keyCode > 105 ) { 
                                event.preventDefault(); 
                            } 
                        } 
                    } 
            }
            function checkEmail(id, inputvalue){    
                if(inputvalue != "") {
                    var pattern=/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
                    if(pattern.test(inputvalue)){         
                        
                    }else{   
                        jAlert("Invalid email address","Member Profile"); 
                        $("#"+id).focus();
                    }
                }
            }
        </script>
<style>
.ui-widget { 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

</style>
<form name="personal_details" id="personal_details" method="post" action="personal_details.php" enctype="multipart/form-data">
    <input type="hidden" name="utabId" id="utabId" value="3">
    <input type="hidden" name="id" value="{{$user->getId()}}"> 
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border: 1px solid #F0F0F0;">

        <tr>
                <td width="45%">
                    <table>
                        <tr>
                            <th class="aleft pL5">Home Address</th>  
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <textarea name="txtAddress" class="personal_textarea" id="txtAddress" rows="3">{{$employee->getAddress()}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pL5">Home City</th> 
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtCity" id="txtCity" value="{{$employee->getCity()}}"/>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pL5">Home State</th>    
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtState" id="txtState" value="{{$employee->getState()}}"/>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pL5"Home >Home Post Code</th>  
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtZip" id="txtZip" value="{{$employee->getZip()}}"/>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pL5">Home Country</th>  
                            <td class="pt3 pb5 pL10 bdrbtm4" >
                                <select name="country_id" id="country_id" style="width:163px">
                                    <option value="0"> -- Select Country --</option>
                                    {{foreach item=c from=$country}}
                                        <option value="{{$c.country_id}}" {{if $employee->getCountryId() eq $c.country_id}}selected{{/if}}>{{$c.country_name}}</option>
                                    {{/foreach}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pL5">Home Phone</th>   
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtPhone1" id="txtPhone1" value="{{$employee->getPhone1()}}"/>
                            </td>
                        </tr>
                         <tr>
                            <th class="aleft pL5">Home Email</th>
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtPersonalEmail" id="txtPersonalEmails" value="{{$employee->getPersonalEmail()}}" onBlur="checkEmail(this.id,this.value);"/>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pL5">Emergeny Contact</th> 
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtEmergencyCnt" id="txtEmergencyCnt" value="{{$employee->getEmergencyCnt()}}"/>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pL5">Relationship</th> 
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtRelationship" id="txtRelationship" value="{{$employee->getRelationship()}}"/>
                            </td>
                        </tr>
                         <tr>
                            <th class="aleft pL5" width="150">Date Of Birth</th>
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtDOB" id="txtDOB" value="{{$user->getDateOfBirth()}}" class="datepicker"/>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pL5" width="150">Nationality</th>
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type="text" class="personal_text" name="txtNationality" id="txtNationality" value="{{$employee->getNationality()}}"  />
                            </td>
                        </tr>
                        <tr>
                            <td><br/>                               
                                <input type="submit" name="save_per_details" id="btnSave" value="Save">&nbsp;
                                 {{if $loginuser->getId() ==  $user->getId() && $isBusinessManager}}
                                    <a href="user.list.php"><input type="button" name="cancel_user_details" id="Cancel" value="Cancel"></a>    
                                {{else}}  
                                    <a href="task.timecard.php"><input type="button" name="cancel_user_details" id="Cancel" value="Cancel"></a>
                                {{/if}}
                            </td>  
                        </tr>
                    </table>
                </td>
        </tr>
    </table> 
</form>    
