{{if $smarty.server.HTTP_HOST eq 'influence.globalss.com'}}
	{{assign var='globalss_website_path' value='http://www.globalss.com'}}
	{{assign var='influence_website_path' value='http://influence.globalss.com/htdocs'}}
{{else}}
	{{assign var='globalss_website_path' value='http://www.groovesw.com/testglobalss'}}
	{{assign var='influence_website_path' value='http://www.groovesw.com/timesheet-test/htdocs'}}
{{/if}}

<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<style>
			a, a:visited {
				color:blue;
			}
		</style>
		<title>GlobalSoft - Product Download</title>
	</HEAD>
	<BODY bgColor=#e3e3e3><center>
		<table border='0' cellpadding='0' cellspacing='0' width='700'>
			<tbody>
				<tr align='center'>
					<td><img src='{{$influence_website_path}}/img/dl/spacer.gif' height='5' width='1'></td>
				</tr>
				<tr align='center'>
					<td valign='center'>&nbsp;</td>
				</tr>
				<tr align='center'>
					<td><img src='{{$influence_website_path}}/img/dl/spacer.gif' height='8' width='1'></td>
				</tr>
			</tbody>
		</table>
	</center>

	<CENTER>
		<!-- // TABLE WIDTH='700' \\ --->
		<TABLE border=1 cellSpacing=0 cellPadding=0 width=700 bgColor=white>
			<TBODY>
				<TR>
					<TD>
						<TABLE border=0 cellSpacing=0 cellPadding=0 width=700>
							<!--- // Head Spacer \\ --->
							<TBODY>
								<TR>
									<TD>
										<IMG src='{{$influence_website_path}}/img/dl/spacer.gif' width=700 height=20>
									</TD>
								</TR>
							</TBODY>
						</TABLE>
						<!--- // Logo Table (logo height='82' width='418') \\ --->
						<TABLE border=0 cellSpacing=0 cellPadding=0 width=700>
							<TBODY>
								<TR>
									<TD width=30>
										<IMG border=0 src='{{$influence_website_path}}/img/dl/spacer.gif' width=30 height=51>
									</TD>
									<TD width=418>
										<A href='{{$globalss_website_path}}'><IMG border=0 src='{{$influence_website_path}}/img/dl/globalss_logo.jpg' width=185 height=51></A>
									</TD>
									<TD width=232>
										<A href='#'></A>
									</TD>
									<TD width=30>
										<IMG border=0 src='{{$influence_website_path}}/img/dl/spacer.gif' width=20 height=51>
									</TD>
								</TR>

								<TR>
									<TD width=30>
										<IMG border=0 src='{{$influence_website_path}}/img/dl/spacer.gif' width=30 height=5>
									</TD>
									<TD width=418>
										<IMG border=0 src='{{$influence_website_path}}/img/dl/spacer.gif' width=418 height=5>
									</TD>
									<TD width=232>
										<IMG border=0 src='{{$influence_website_path}}/img/dl/spacer.gif' width=232 height=5>
									</TD>
									<TD width=30>
										<IMG border=0 src='{{$influence_website_path}}/img/dl/spacer.gif' width=20 height=5>
									</TD>
								</TR>
							</TBODY>
						</TABLE>
						<!--- // BEGIN Header Table (height='100' width='650') \\-->
						<TABLE border=0 cellSpacing=0 cellPadding=0 width=700>
							<TBODY>
								<TR>
									<TD width=30>
										<IMG border=0 src='{{$influence_website_path}}/img/dl/spacer.gif' width=30 height=100>
									</TD>
									<TD width=650>
										<IMG style='BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 649px; HEIGHT: 100px; BORDER-TOP: 0px; BORDER-RIGHT: 0px' border=0 alt='GlobalSoft Technology' src='{{$influence_website_path}}/img/dl/gss_technology_management.png' width=649 height=100 >
									</TD>
									<TD width=30>
										<IMG border=0 src='{{$influence_website_path}}/img/dl/spacer.gif' width=20 height=100>
									</TD>
								</TR>
								<TR>
									<TD width=30>
										<IMG src='{{$influence_website_path}}/img/dl/spacer.gif' width=30 height=22>
									</TD>
									<TD width=650>
										<IMG src='{{$influence_website_path}}/img/dl/spacer.gif' width=650 height=22>
									</TD>
									<TD width=30>
										<IMG src='{{$influence_website_path}}/img/dl/spacer.gif' width=20 height=22>
									</TD>
								</TR>
							</TBODY>
						</TABLE>

						<!--- // Begin Content Table  \\ -->
						<TABLE border=0 cellSpacing=0 cellPadding=0 width=700>
							<TBODY>

								<TR align=left>
									<TD width=35>
										<IMG src='{{$influence_website_path}}/img/dl/spacer.gif' width=35 height=1>
									</TD>
									<TD style='LINE-HEIGHT: 18px; FONT-FAMILY: Verdana; COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: normal; -webkit-text-size-adjust: none' vAlign=top width=437>
										<!--- // Main Body \\-->

										<SPAN style='FONT-FAMILY: Verdana, Arial; COLOR: #005595; FONT-SIZE: 16px; FONT-WEIGHT: bold'></SPAN><STRONG><FONT color=#005595 size=3>Download instructions for <strong>{{$product_name}}</strong>.</FONT></STRONG> 
										<BR><BR>
										<P><strong>Dear {{$contact_name}},</strong></p>

										<p><strong>{{$client_name}}</strong> has recently licensed a product from GlobalSoft, Inc.  Below is a link that will allow you to download this product.  During this process you will need to supply your Email Id and the License Key. </p>
										<p>Should you have an issue with the download process, or need to download the software again, the download link will remain valid till <strong>{{$download_key_validity|date_format}}</strong>.  If you need to download after this date, you will need to contact GlobalSoft Support.</p>

										<p>The use of this software is governed by the terms and conditions of the Software License Agreement entered into by <strong>{{$client_name}}</strong> with GlobalSoft, Inc.</p>
										<br>
										<p>
											<span style='font-size:14px;color:#ffffff;background-color:#679901;padding:5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;'>
												Product Licensed: <strong>{{$product_name}}</strong>
											</span>
											<br><br>
											<span style='font-size:14px;color:#ffffff;background-color:#679901;padding:5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;'>
												License Type: <strong>{{$license_type}}</strong>
											</span>
											<br><br>
											<span style='font-size:14px;color:#ffffff;background-color:#679901;padding:5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;'>
												License Effective: <strong>{{$license_start_date|date_format}}</strong>
											</span>
											<br><br>
											{{if $license_period ne ''}}
											<span style='font-size:14px;color:#ffffff;background-color:#679901;padding:5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;'>
												License Term: <strong>{{$license_period}}</strong>
											</span>
											<br><br>
											{{/if}}
											<span style='font-size:14px;color:#ffffff;background-color:#679901;padding:5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;'>
												Download Link: <strong><a style="color:#FFFFFF; background:#679901;" href="{{$globalss_website_path}}/download.php">{{$globalss_website_path}}/download.php</a></strong>
											</span>
											<br><br>
											<span style='font-size:14px;color:#ffffff;background-color:#679901;padding:5px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;'>
												License Key: <strong>{{$license_key}}</strong>
											</span>
											<br>
											<br>
											<br>
											This license key is also required during the installation process.
											<br>
										</p>
										<p>
											To submit a support request: <a style="color:#666666; background:#FFFFFF;" href='mailto:helpdesk@globalss.com'>helpdesk@globalss.com</a><br>
											To contact support: <a style="color:#666666; background:#FFFFFF;" href='mailto:support@globalss.com'>support@globalss.com</a><br>
										</p> 

										<p>
										</p>
										<p>&nbsp;</p>

										<P>Best Regards,<BR>GlobalSoft Support</P>

									</TD>

									<TD width=21>
										<IMG src='{{$influence_website_path}}/img/dl/spacer.gif' width=21 height=1>
									</TD>


									<TD width=30>
										<IMG src='{{$influence_website_path}}/img/dl/spacer.gif' width=20 height=1>
									</TD>
								</TR>
							</TBODY>
						</TABLE>

						<TABLE border=0 cellSpacing=0 cellPadding=0 width=700>
							<TBODY>
								<TR>
									<TD>
										<IMG src='{{$influence_website_path}}/img/dl/spacer.gif' width=700 height=45>
									</TD>
								</TR>
							</TBODY>
						</TABLE>
					</TD>
				</TR>
			</TBODY>
		</TABLE>
		<BR>
	</CENTER>
	<TABLE border=0 cellSpacing=0 cellPadding=0 width=700>
		<TBODY>
			<TR align=middle>
				<TD style='LINE-HEIGHT: 18px; FONT-FAMILY: Verdana; COLOR: #666666; FONT-SIZE: 10px; FONT-WEIGHT: normal; -webkit-text-size-adjust: none' vAlign=to>
					<A style='FONT-FAMILY: Verdana, Arial; COLOR: #666666; FONT-WEIGHT: normal; TEXT-DECORATION: none; -webkit-text-size-adjust: none' href='{{$globalss_website_path}}'>GlobalSoft, Inc.</A> &nbsp;&nbsp;|&nbsp;&nbsp;#109, 4010 Moorpark Avenue, San Jose, CA 95117, United States&nbsp;&nbsp;|&nbsp;&nbsp;+1-408-260-8539<BR>

					<A style='FONT-FAMILY: Verdana, Arial; COLOR: #666666; FONT-WEIGHT: normal; TEXT-DECORATION: none; -webkit-text-size-adjust: none' href='{{$globalss_website_path}}/terms-of-use'>Terms of Use</A>
				</TD>
			</TR>
		</TBODY>
	</TABLE>
</body>
</html>

