{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence:: Products</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
		
		<style>
			span.ellipsify {
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 200px;
			}
		</style>
    </head>

    <body>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="products.common.html"}}
        {{/if}}
        <script>

// For Add Product
            var pFileEdit = '';
            var index = 9000;
            var addedRows = '';
            function addProduct() {
                var codeEntered = true;
                var nameEntered = true;
                var versionEntered = true;
                var buildEntered = true;
                var pathEntered = true;
                if($.trim($("#code").val()) == '' || $("#code").val().length != 4)
                {
                    jAlert("<b>Enter a valid Product Code (four characters long)</b>","License Key Management");
                    codeEntered = false;
                    return;
                }
                if($.trim($("#name").val()) == '')
                {
                    jAlert("<b>Enter Product Name</b>","License Key Management");
                    nameEntered = false;
                    return;
                }

                $(".pathCheck").each(function(i) {
                    if(i > 0 && $(this).val() == "") {
                        jAlert("Enter Product Path","License Key Management");
                        pathEntered = false;
                        return;
                    }

                });

                $(".buildCheck").each(function(i) {
                    if(i > 0 && $(this).val() == "") {
                        jAlert("Enter Build Number","License Key Management");
                        buildEntered = false;
                        return;
                    }

                });

                $(".versionCheck").each(function(i) {
                    if(i > 0 && $(this).val() == "") {
                        jAlert("Enter Version Number","License Key Management");
                        versionEntered = false;
                        return;
                    }

                });
				
                if(codeEntered && nameEntered && versionEntered && buildEntered && pathEntered)
                {
                    return true;
                }
            }


            jQuery(function($){

                // Alphanumeric validation
                $(".code").keyup(function(){this.value=this.value.match(/^[a-zA-Z0-9]+/)});

                $("#btn_add").click(function() {
                    $('.error, .info').remove();

                    $("#hdn_id").val(0);
                    $("#action").val("ADD");

                    if(!$("#tr-1").html()) // This will add the first empty row of version which may have got deleted during edit click.
                    {
                        var tds = $('#tr-0').html().replace("version-0","version-1");
                        tds = tds.replace("version[]","version[1]");
						tds = tds.replace("license_version[]","license_version[1]");
                        tds = tds.replace("build-0","build-1");
                        tds = tds.replace("build[]","build[1]");
                        tds = tds.replace("path-0","path-1");
                        tds = tds.replace("path[]","path[1]");
                        tds = tds.replace("img-0","img-1");
                        $("#vAdd-more").before("<tr id='tr-1'>"+tds+"</tr>");
                        $("#img-1").remove(); // So that there will be no remove button for the first row
                    }

					$('#product_info input[type=checkbox][id^=module_code-]').removeAttr('checked').removeAttr('disabled');
					pFileEdit.dialog('open');
                });

                $("#btnAddMore").click(function() {
                    var tds = $('#tr-0').html().replace("version-0","version-"+index);
                    tds = tds.replace("version[]","version["+index+"]");
                    tds = tds.replace("license_version-0","license_version-"+index);
                    tds = tds.replace("license_version[]","license_version["+index+"]");
                    tds = tds.replace("build-0","build-"+index);
                    tds = tds.replace("build[]","build["+index+"]");
                    tds = tds.replace("path-0","path-"+index);
                    tds = tds.replace("path[]","path["+index+"]");
                    tds = tds.replace("img-0","img-"+index);
                    tds = tds.replace("removeRow()","removeRow("+index+")");
/*
                    if($("#action").val() == "EDIT")
                    {
                        $("#tr-0").after("<tr id='tr-"+index+"'>"+tds+"</tr>");
                    }
                    else
                    {
*/
                        $("#vAdd-more").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
//                    }

                    addedRows += '#tr-'+index+',';

                    index++;
                });


                pFileEdit = $("#add-product").dialog({
                    autoOpen: false,
                    height: 500,
                    width: 800,
                    modal: true,
                    resizable: false,
                    buttons: {
                        "Save": function(){
                            if(addProduct())
                            {
                                submitProd();
                                $(this).dialog("close");
                            }
                        },
                        "Cancel": function(){
                            $("#code, #name, #version-1, #build-1, #path-1").val("");

                            $(addedRows).remove();

                            $(this).dialog("close");
                        }
                    }
                });

            });

            function submitProd() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmProduct").serialize();
                    $.ajax({
                        url:    'products.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load products.","Products");
                                },
                        success: function(v) { 
                                    loadSetup('products.list.php','Products');
                                 }
                    }); 
                {{else}}
                    $("#frmProduct").submit();
                {{/if}}
            }

            function removeRow(id) {
				var product_id = parseInt($('#hdn_id').val());
				var product_version_id = parseInt($('#version_id-' + id).val());
				
				if(isNaN(product_version_id)) {
					$("#tr-"+id).remove();
				} else {
					$.ajax({
						url: 'ajax.product_version.delete.action.php',
						type: 'post',
						data: {
							'product_id': product_id,
							'product_version_id': product_version_id
						},
						dataType: 'json',
						beforeSend: function() {
							return confirm("Do you really want to delete this version?\nAll licenses associated with this version will also be deleted.\nThis action cannot be undone.");
						},
						success: function(data) {
							if(data.status) {
								$("#tr-"+id).remove();
							} else {
								jAlert('Failed to delete product version.', 'Application Error');
							}
						},
						error: function() {
							jAlert('Failed to delete product version.', 'Server Error');
						}
					});
				}
            }

            function deleteProduct(id) {
                jConfirm('<br><b>Are you sure you want delete the Product : <i>'+$("#name-"+id).text()+'</i>?</b>',"Products",
                    function(returnvalue) {
                        if (returnvalue) {
                            $("#hdn_id").val(id);
                            $("#action").val("DELETE");
                            submitProd();
                        }
                    }
                );
            }

            function editProduct(id, module_codes) {
                $('.error, .info').remove();

                $("#hdn_id").val(id);
                $("#code").val($("#code-" + id).text());
                $("#name").val($("#name-" + id).text());
                $("#action").val("EDIT");
				
				$('#product_info input[type=checkbox][id^=module_code-]').removeAttr('checked').removeAttr('disabled');
				$.each(module_codes, function(k, v) {
					$('#module_code-' + v).attr('checked', 'checked').attr('disabled', 'disabled');
				});

                pFileEdit.dialog('open');

                $("#tr-1").remove();
                getVersions(id);

            }

            function getVersions(product_id)
            {
                var i = 0;
                // JSON (Ajax) call http://api.jquery.com/jQuery.getJSON/
                $.getJSON('products.list.php', { id: product_id, ajax: 'yes' }, function(data) {
                    $.each(data, function(key, val) {
                        var tds = $('#tr-0').html().replace("version_id-0","version_id-"+val.Id);
                        tds = tds.replace("version_id[]","version_id["+val.Id+"]");
                        tds = tds.replace("version-0","version-"+val.Id);
                        tds = tds.replace("version[]","version["+val.Id+"]");
                        tds = tds.replace("license_version-0","license_version-"+val.Id);
                        tds = tds.replace("license_version[]","license_version["+val.Id+"]");
                        tds = tds.replace("build-0","build-"+val.Id);
                        tds = tds.replace("build[]","build["+val.Id+"]");
                        tds = tds.replace("path-0","path-"+val.Id);
                        tds = tds.replace("path[]","path["+val.Id+"]");
                        tds = tds.replace("img-0","img-"+val.Id);
                        tds = tds.replace("removeRow()","removeRow("+val.Id+")");
                        $("#vAdd-more").before("<tr id='tr-"+val.Id+"'>"+tds+"</tr>");

                        if(i == 0)
                        {
                            $("#img-"+val.Id).remove(); // So that there will be no remove button for the first row
                            i++;
                        }

                        $("#version_id-"+val.Id).val(val.Id);
                        $("#version-"+val.Id).val(val.Version);
						if(val.LicenseVersion > 1) {
							$("#license_version-"+val.Id).attr('checked', 'checked');
						}
                        $("#build-"+val.Id).val(val.Build);
                        $("#path-"+val.Id).val(val.Path);

                        addedRows += '#tr-'+val.Id+',';

                    });
                });
            }


        </script>

        <div id="content">
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>Products</h1>
                </td></tr>
            </table>
			<table align="right"><tr><td><a id="export" href="products.list.php?excel=1">Export to excel</a></td></tr> </table><br>
            {{/if}}
            <div id='product_list'>
				{{include file="table.products.list.html"}}
            </div>
        </div>
    </body>

</html>
