<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
<style>
    .ui-widget { 
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
    }
</style>
<script>
            var pProjectMemberEdit = '';
            jQuery(function($) {

            $('.number').keypress(function(event) {
            if (event.which == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) {
            return true;
            } else if ((event.which != 46 || $(this).val().indexOf('.') != - 1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
            }
            });
                    pProjectMemberEdit = $("#dProjectMemberEdit").dialog({
            autoOpen: false,
                    height: 420,
                    width: 600,
                    modal: true,
                    resizable: false,
                    buttons: {
                    "Save": function() {

                    if ($.trim($('#user_id').val()) == '') {
                    jAlert('Please select member for the project', 'Error');
                            return false;
                    }

                    if ($.trim($('#project_role_id').val()) == '') {
                    jAlert('Please select member role for the project', 'Error');
                            return false;
                    }

                    if ($.trim($('#start_date').val()) == '') {
                    jAlert('Please select start date', 'Error');
                            return false;
                    }

                    if ($.trim($('#start_date').val()) != '' && $.trim($('#end_date').val()) != '' && (new Date($('#start_date').datepicker('getDate')) > new Date($('#end_date').datepicker('getDate')))) {
                    jAlert('Start date should be grater than end date', 'Error');
                            return false;
                    }

                    $("#frmProjectMember").submit();
                            //$(this).dialog("close");
                    },
                            "Cancel": function() {
                            $(this).dialog("close");
                            }
                    }
            });
            });
            function editProjectUser(puid) {

            if (puid > 0) {
            $("#project_user_id").val(puid);
                    $("#user_id").val($.trim($("#user_id-" + puid).text()));
                    $("#project_role_id").val($.trim($("#project_role_id-" + puid).text()));
                    $("#start_date").val($.trim($("#start_date-" + puid).text()));
                    $("#end_date").val($.trim($("#end_date-" + puid).text()));
                    $("#billing_rate").val($.trim($("#billing_rate-" + puid).text()));
                    $("#auth_hours").val($.trim($("#auth_hours-" + puid).text()));
                    $("#po_number").val($.trim($("#po_number-" + puid).text()));
            }
            else {
            $("#project_user_id").val('');
                    $("#user_id").val('');
                    $("#project_role_id").val('');
                    $("#start_date").val('');
                    $("#end_date").val('');
                    $("#billing_rate").val('');
                    $("#auth_hours").val('');
                    $("#po_number").val('');
            }
            pProjectMemberEdit.dialog('open');
            }
    function deleteUserFromProject(id) {
    $("#action").val("");
            jConfirm('Are you sure, You want delete the member from this project?', "Deleting Member from Project",
                    function(returnvalue) {
                    if (returnvalue) {
                    $("#project_member_id").val(id);
                            $("#action").val("Delete");
                            $("#project_member_delete").submit();
                    }
                    }
            );
    }

</script>
<form action="project.member.action.php" method="post" id="project_member_delete" name="project_member_delete">    
    <input type='hidden' name='project_member_id' id='project_member_id'  value=''/> 
    <input type='hidden' name='project_id' id='project_id'  value='{{$project->getId()}}'/> 
    <input type='hidden' name='action' id='action' value=''/>

    <div id='project_member_details'>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;">
            <tr>
                
                    {{if $project->getId() != ''}}
                    <td class='aright pt3 pb5 pL10 pR10'>
                        <input type="button" name="btnAddMembers" id="btnAddMembers" value="Add Member" onclick="editProjectUser(0)"/>
                    </td>
                    {{else}}
                    <td class='error'>Please setup new project!</td>
                    {{/if}}
                
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0"  width="100%" id='tbl_tasks'>
                        <tr>
                            <th class="aleft header" >Team Member</th>
                            <th class="aleft pt3 pb5 pL10" width="15%">Role</th>
                            <th class="acenter pt3 pb5 pL10" width="10%">Start Date</th>
                            <th class="acenter pt3 pb5 pL10" width="10%">End Date</th>
                            {{if $myRole.role == 'MANAGER' or $loginuser->isAdmin()}}
                            <th class="aright pt3 pb5 pL10" width="10%">Billing Rate</th>
                            {{/if}}
                            <th class="aright pt3 pb5 pL10" width="10%">Auth. Hours</th>
                            <th class="aright pt3 pb5 pL10" width="15%">PO Number</th>
                            <th class="acenter pt3 pb5 pL10" width="10%">Action</th>
                        </tr> 

                        {{foreach item=projectUser from=$projectUsers}}
                        <tr>
                            <td class="aleft pt3 pb5 pL10" >
                                <a href="user.view.php?id={{$projectUser->getUserId()}}">{{$projectUser->getUserName()}}</a>
                                <div name="user_id-{{$projectUser->getId()}}" id="user_id-{{$projectUser->getId()}}" style='display:none;'>
                                    {{$projectUser->getUserId()}}
                                </div>
                            </td>
                            <td class="aleft pt3 pb5 pL10" >
                                {{$projectUser->getProjectRoleName()}}
                                <div name="project_role_id-{{$projectUser->getId()}}" id="project_role_id-{{$projectUser->getId()}}" style='display:none;'>
                                    {{$projectUser->getProjectRoleId()}}
                                </div>
                            </td>
                            <td class="acenter pt3 pb5 pL10" >
                                {{$projectUser->getStartDate()|date_format}}
                                <div name="start_date-{{$projectUser->getId()}}" id="start_date-{{$projectUser->getId()}}" style='display:none;'>
                                    {{$projectUser->getStartDate()|date_format:"%d-%b-%Y"}}
                                </div>
                            </td>
                            <td class="acenter pt3 pb5 pL10" >
								{{if ($projectUser->getEndDate()) == '0000-00-00'}}
									-
								{{else}}
									{{$projectUser->getEndDate()|date_format}}
								{{/if}}
                                <div name="end_date-{{$projectUser->getId()}}" id="end_date-{{$projectUser->getId()}}" style='display:none;'>
                                    {{$projectUser->getEndDate()|date_format:"%d-%b-%Y"}}
                                </div>
                            </td>
                            {{if $myRole.role == 'MANAGER' or $loginuser->isAdmin()}}
                            <td class="aright pt3 pb5 pL10" >
                                ${{$projectUser->getBillingRate()}}
                                <div name="billing_rate-{{$projectUser->getId()}}" id="billing_rate-{{$projectUser->getId()}}" style='display:none;'>
                                    {{$projectUser->getBillingRate()}}
                                </div>
                            </td>
                            {{/if}}
                            <td class="aright pt3 pb5 pL10" >
                                {{$projectUser->getAuthHours()}}
                                <div name="auth_hours-{{$projectUser->getId()}}" id="auth_hours-{{$projectUser->getId()}}" style='display:none;'>
                                    {{$projectUser->getAuthHours()}}
                                </div>
                            </td>
                            <td class="aright pt3 pb5 pL10" >
                                {{$projectUser->getPoNumber()}}
                                <div name="po_number-{{$projectUser->getId()}}" id="po_number-{{$projectUser->getId()}}" style='display:none;'>
                                    {{$projectUser->getPoNumber()}}
                                </div>
                            </td>
                            <td class="acenter pt3 pb5 pL10">
                                <a title="Edit" class="imglink" href="javascript:;" onclick="editProjectUser({{$projectUser->getId()}})">
                                    <img width="16" height="16" border="0" alt="Edit" src="img/icons/edit16x16.png">
                                </a>
                                <a id='user_delete' href="javascript:;" onclick="deleteUserFromProject({{$projectUser->getId()}})" class='imglink' title='Delete'>
                                    <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                                </a>
                            </td>
                        </tr>
                        {{/foreach}}
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>


<!-- Popup -->
<div id='dProjectMemberEdit' style='display:none;'>
    <form action="project.member.action.php" method="post" id="frmProjectMember" name="frmProjectMember">
        <input type='hidden' name='project_id' id='project_id' value='{{$project->getId()}}'/>
        <input type='hidden' name='project_user_id' id='project_user_id' value=''/>
        <input type='hidden' name='action' id='action' value='AddEdit'/>
        <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks">
            <tr>
                <th class="aleft pt3 pb5 pL10">Team Member *</th>
                <td class="aleft pt3 pb5 pL10">
                    <select name="user_id" id="user_id">
                        <option value="">- Select Member -</option>
                        {{foreach item=user from=$allUsers}}
                        <option value="{{$user->getId()}}">{{$user->getName()}}</option>
                        {{/foreach}}
                    </select>
                </td>
            </tr>
            <tr>
                <th class="aleft pt3 pb5 pL10">Role *</th>
                <td class="aleft pt3 pb5 pL10">
                    <select name="project_role_id" id="project_role_id">
                        <option value="">- Select Role -</option>
                        {{foreach item=role from=$projectRoles}}
                        <option value="{{$role->getId()}}">{{$role->getName()}}</option>
                        {{/foreach}}
                    </select>
                </td>
            </tr>            
            <tr>
                <th class="aleft pt3 pb5 pL10">Start Date *</th>
                <td class="aleft pt3 pb5 pL10">
                    <input type="text" name="start_date" id="start_date" readonly  value="" class="datepicker">
                </td>
            </tr>
            <tr>
                <th class="aleft pt3 pb5 pL10">End Date</th>
                <td class="aleft pt3 pb5 pL10">
                    <input type="text" name="end_date" id="end_date" readonly  value="" class="datepicker">
                </td>
            </tr>
            <tr id='tr-file_name'>
                <th class="aleft pt3 pb5 pL10">Billing Rate</th>
                <td class="aleft pt3 pb5 pL10"> 
                    <input type="text" name="billing_rate" class="number" id="billing_rate" value="">
                </td>
            </tr>
            <tr id='tr-file_name'>
                <th class="aleft pt3 pb5 pL10">Auth. Hours</th>
                <td class="aleft pt3 pb5 pL10"> 
                    <input type="text" name="auth_hours" id="auth_hours" class="number" value="">
                </td>
            </tr>
            <tr id='tr-file_name'>
                <th class="aleft pt3 pb5 pL10">PO Number</th>
                <td class="aleft pt3 pb5 pL10"> 
                    <input type="text" name="po_number" id="po_number" value="">
                </td>
            </tr>            
        </table>
    </form>
</div>