{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Add Project</title>
        {{include file="css.and.js.html"}}
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
        <script language="JavaScript">
            var needToConfirm = true;
            window.onbeforeunload = confirmExit;
            function confirmExit()
            {
              if (needToConfirm)
                return "Are you sure you want to leave?";
            }
          </script>
        <script>
            
            {{if $parent}}
                var data ='';
                jQuery(function($){
                    $("#btnAdd").click(function() {
                        if($("#client_id").val() > 0) {
                           $("#frmProject").submit(); 
                        }
                        else {
                            jAlert("Please select a client", "Add Project");
                            return false;
                        }
                    });
                });
            {{else}}
                var data = {{$data}}
                jQuery(function($){
                    $('#client_id').change(function(){
                        if($('#client_id').val() > 0) {
                            sel_populate('#parent_id', data[$('#client_id').val()].projects);
                        }
                    }); 
                    $('#parent_id').change(function() {
                        if($('#parent_id').val() > 0) {
                            $('#prjTitle').html('<h1>Add subproject to '+$('#parent_id :selected').text()+'</h1>');
                            $('#allow_subprojects').removeAttr("checked");
                            $("#tr-project").hide();
                        }
                        else {
                            $('#prjTitle').html('<h1>Add project</h1>');
                            $('#allow_subprojects').attr("checked", "checked");
                            $("#tr-project").show();
                        }
                    });
                    $("#btnAdd").click(function() {
                        if($("#client_id").val() > 0) {
                           needToConfirm = false; 
                           $("#frmProject").submit(); 
                        }
                        else {
                            jAlert("Please select a client", "Add Project");
                            needToConfirm = true;
                            return false;
                        }
                    });                                                           
                   
                });                                                           
                
                function listProject(){
                    needToConfirm = false;
                    window.onbeforeunload = null;
                    location.href='project.list.php';
                }
                function listCalendar(){
                    needToConfirm = false;
                    window.onbeforeunload = null;
                    location.href='calendar.view.php';
                }
                
                function sel_populate(sel, data){
                    $(sel + "> option:not(:first)").remove();
                    if(data){
                        $.each(data, function(i, v){
                            $(sel).append("<option value='" + v.id + "'>" + v.name + "</option>");
                        });
                    }
                }

            {{/if}} 
            function set_end_date() {
                var month = 1;
                var year = '';
                if($("#start_date").val() != '') {     
                    
                    var tmp = $("#start_date").val().split(/-/);
                    var month = tmp[1];
                    var year = tmp[2];
                    var day = tmp[0];

                    var sdate = $('#start_date').datepicker('getDate');
                    var edate = $('#end_date').datepicker('getDate');

                    if($("#end_date").val() == '' || sdate > edate) {    
                        $("#end_date").val(day + "-" + month + "-" + year);                        
                        var sdate = $('#start_date').datepicker('getDate');                            
                        var edate = $('#end_date');
                        edate.datepicker('setDate', sdate);
                    }                        
                }
            }            
            
            function DateToString (dd, mm, yy) {
                var days=['Sunday,', 'Monday,', 'Tuesday,', 'Wednesday,', 'Thursday,', 'Friday,', 'Saturday,'];
                var day = days[dd];

                var date = dd; //this.getDate();
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep','Oct', 'Nov', 'Dec'];
                var index =0;
                for(var i=0; i < months.length; i++) {
                    if(mm == months[i]) {
                        if(i < 11) {
                            index = i+1;
                        }
                        break;
                    }
                }
                var month = months[(index)];
                var year = yy; //this.getFullYear();

                return (date + "-" + month + "-" + year);
            }
            
        </script>
    </head>

    <body>
        {{include file="project.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'>
                <tr><td class="pt3 pb5 pL10 pR5">
                    {{if $parent}}
                    <h1>Add subproject to {{$parent->getName()}}</h1>
                    {{else}}
                    <span id='prjTitle'><h1>Add project</h1></span>
                    {{/if}}
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="project.add.action.php" method="post" enctype="multipart/form-data" id="frmProject" name="frmProject">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border: 1px solid #F0F0F0;">
                    <tbody>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Name *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="textbox" name="name" class="expand2fit" value="{{$post.name}}"></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Description</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><textarea name="description" class="expand2fit" rows="2" cols="40">{{$post.description}}</textarea></td>
                    </tr>
                    {{if $client}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Client</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="hidden" name="client_id" id="client_id" value="{{$client->getId()}}">
                            {{$client->getName()}}
                            {{$sep}}
                            <a href="project.list.php?client_id={{$client->getId()}}">View all projects by this client</a>
                        </td>
                    </tr>
                    {{elseif not $parent}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Client *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name="client_id" id="client_id">
                                <option value="0"> - Select Client - </option>
                                {{assign var="pc" value=$post.client_id}}
                                {{foreach item=client from=$clients}}
                                <option value="{{$client->getId()}}" {{if $pc and $client->getId() eq $pc}}selected{{/if}}>{{$client->getName()}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Parent project</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name="parent_id" id="parent_id">
                                <option value="0"> - None - </option>
                            </select>
                        </td>
                    </tr>
                    {{/if}}
                    {{if false}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Subproject of *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name="parent_id">
                                <option value="0"> - None - </option>
                                {{assign var="pp" value=$post.parent_id}}
                                {{foreach item=parent_project from=$parent_projects}}
                                <option value="{{$parent_project->getId()}}" {{if $pp and $parent_project->getId() eq $pp}}selected{{/if}}>{{$parent_project->getName()}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    {{/if}}
                    {{if $parent}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Parent project</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="hidden" name="client_id" id='client_id' value="{{$parent->getClientId()}}">
                            <input type="hidden" name="parent_id" id='parent_id' value="{{$parent->getId()}}">
                            {{$parent->getName()}}
                            {{$sep}}
                            <a href="project.list.php?parent_id={{$parent->getId()}}">View all subprojects under this project</a>
                        </td>
                    </tr>
                    {{/if}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Start date *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="text" id="start_date" name="start_date" value="{{$post.start_date}}" class="datepicker" onblur="set_end_date()" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">End date</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="text" id="end_date" name="end_date" value="{{$post.end_date}}" class="datepicker" onclick="set_end_date()" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Members</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <div class="inlineblockgroup">
                                {{if $post.users}}{{assign var="pu" value=$post.users}}{{else}}{{assign var="pu" value=$emptyarray}}{{/if}}
                                {{foreach item=user from=$users}}
                                <span class="inlineblock">
                                    <input type="checkbox" id="user{{$user.id}}" onclick="usercheck('manager',this.value);" name="users[]" value="{{$user.id}}" class="vamiddle"
                                        {{if $user.role =='MEMBER' }}checked{{/if}}>
                                    <label for="user{{$user.id}}" class="vamiddle">{{$user.name}} &lt;{{$user.email}}&gt;</label>
                                </span>
                                {{/foreach}}
                            </div>
                        </td>
                    </tr>
					{{if $loginuser->isAdmin()}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Manager</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <div class="inlineblockgroup">
                                {{if $post.manager}}{{assign var="pu" value=$post.manager}}{{else}}{{assign var="pu" value=$emptyarray}}{{/if}}
                                {{foreach item=user from=$users}}
                                <span class="inlineblock">
                                    <input type="checkbox" id="manager{{$user.id}}" onclick="usercheck('user',this.value);" name="manager[]" value="{{$user.id}}" class="vamiddle"
                                        {{if $user.role =='MANAGER' }}checked{{/if}}>
                                    <label for="manager{{$user.id}}" class="vamiddle">{{$user.name}} &lt;{{$user.email}}&gt;</label>
                                </span>
                                {{/foreach}}
                            </div>
                        </td>
                    </tr>
					{{/if}}
					{{if !$smarty.get.parent_id}}
                    <tr id='tr-project'>
                        <th class="aleft pt3 pb5 pL10">Allow subprojects</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="checkbox" name="allow_subprojects" id="allow_subprojects"  checked="checked" value="1"></td>
                    </tr>
					{{/if}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Allow task types</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="checkbox" name="allow_task_types"  checked="checked" value="1"></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Status</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="radio" name="status" value="PENDING"{{if $status eq "PENDING"}}checked{{/if}}/> Pending
                            <input type="radio" name="status" value="CONFIRMED" {{if $status eq "CONFIRMED"}}checked{{/if}}/> Confirmed
                            <input type="hidden" name="referer" value="{{$referer}}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Show in calendar</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="checkbox" name="show_in_calendar" id="show_in_calendar"  checked="checked" value="1"></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Is billable?</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="checkbox" name="is_billable" id="is_billable" value="1" checked/></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;" class="pt3 pb5 pL10 bdrbtm4">
                            <input type="button" id="btnAdd" value="Add project"/>                            
                            {{if $referer eq "calendar.view.php"}}                            
                            <input type="button" class="buttonCancel buttonNew" value="Cancel and go back to calendar" onclick="listCalendar();"/>
                            {{else}}
                            <input type="button" class="buttonCancel buttonNew" value="Cancel and go back to projects list" onclick="listProject();"/>                            
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
