{{include file="header.html" tab="projects"}}
<div id="nav2">
    <a href="project.list.php" class="linkbutton">View all projects</a>
    {{if $loginuser->isAdmin()}}
    <a href="project.detail.php?tab=2" class="linkbutton">Add project</a>
    {{/if}}
</div>
