<style>
    .ui-widget { 
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
    }
</style>
<script type="text/javascript" language="javascript">
    function subProject(){
    var pid = {{$pid}}
    location.href = "project.detail.php?pid=" + pid + "&tab=2";
    }
</script>    
<table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border: 1px solid #F0F0F0;" >
    <tr>
        <th class="aleft pt3 pb5 pL10">Sub-Project Title</th>  
        <th class="aleft pt3 pb5 pL10">Status</th>
        <th class="aleft pt3 pb5 pL10">Start Date</th>
        <th class="aleft pt3 pb5 pL10">End Date</th>
    </tr>
    {{if $subProjects|@count gt 0}}
    {{foreach item=project from=$subProjects}}
    <tr>        
        <td class="aleft pt3 pb5 pL10"><a href="project.detail.php?id={{$project->getId()}}">{{$project->getName(false)}}</a></td>  
        <td class="aleft pt3 pb5 pL10">{{$project->getStatus()|strtolower|capitalize}}</td>
        <td class="aleft pt3 pb5 pL10">{{$project->getStartDate()|date_format}}</td>
        <td class="aleft pt3 pb5 pL10">{{$project->getEndDate()|date_format}}</td>          
    </tr>
    {{/foreach}}
    {{else}}
    <tr>  
        <td class="error" colspan="4"> 
            There is no sub-project.
            {{if !$mainProject->getAllowSubprojects()}}
              Also this project does not allow to add sub-projects.
            {{/if}}
        </td>
    </tr>
    {{/if}}
    
    {{if $mainProject->getAllowSubprojects()}}
    <tr>
        <td colspan="4">
            <br/>
            <input type="button" name="Add" id="Add" value="Add" onclick="subProject();"> 
        </td>
    </tr>
    {{/if}}
</table>        