{{include file="doctype.html"}}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project Details</title>
        {{include file="css.and.js.html"}}  
        <script>
			
            $(function() {
                $("#tabs").tabs({
                beforeLoad: function(event, ui) {
                    ui.jqXHR.error(function() {
                        ui.panel.html(
                                "Couldn't load this tab. We'll try to fix this as soon as possible.");
                    });
                },               
				 select:function (event, ui) {					
					return checkData();					
				}
				
                });		
				
				var index = {{$activeTabIndex}};
				$('#tabs').tabs({ selected: index });
				//alert($("input[name='name']").val());
            });
			
			
			function checkData() {
										
					if(($.trim($("input[name='name']").val()) != "" ) || ($.trim($("#description").val()) != "") || 
					($.trim($("#client_id").val()) > 0) || 
					($.trim($("#delivery_location").val()) != "") || ($.trim($("#channel").val()) != "") || 
					($.trim($("#client_project_lead").val()) != "") || ($.trim($("#partner_project_lead	").val()) != "") )  {
					
						loadMyTab = confirm('Are you sure you want to tab away without saving?');							
						if(loadMyTab == true)
						{
							$("input[name='name']").val('');
							$("#description").val('');
							$("#delivery_location").val('');
							$("#client_id").val(0);
							$("#channel").val('');
							$("#client_project_lead").val('');
							$("#partner_project_lead").val('');							
						}
						else
							return false;
											
					}					
				}

        </script>
    </head>
    <body>        
        {{include file="project.common.html"}}
        <div id="content" class="d-block-table">
            {{include file="message.html"}}    
            <div id="proj_details">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border: 1px solid #F0F0F0;" >
                    <tr>
                        <th colspan="6" class="aleft pt3 pb5 pL10">Project Detail</th>                
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Project Title</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project->getName(false)}}</td>
                        <td colspan="2"></td>
                        <td colspan="2" rowspan="3">
                            {{if $project->getClientLogo() neq ''}}
                            <img src="img/client-logo/{{$project->getClientLogo()}}" width="200px">
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Description</th>
                        <td class="pt3 pb5 pL10 bdrbtm4" colspan="2">{{$project->getDescription()|nl2br}}</td>                
                    </tr>
                    {{ if $pid}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Parent Project</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><a href="project.detail.php?id={{$parentProject->getId()}}">{{$parentProject->getName(false)}}</a></td>                
                    </tr>
                    {{elseif $project->getParentId() neq ''}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Parent Project</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><a href="project.detail.php?id={{$project->getParentId()}}">{{$project->getParentName()}}</a></td>                
                    </tr>
                    {{/if}}

                    <tr>
                        <th class="aleft pt3 pb5 pL10">Client</th>
                        {{ if $pid}}
                        <td class="pt3 pb5 pL10 bdrbtm4"><a href="client.view.php?id={{$parentProject->getClientId()}}" >{{$parentProject->getClientName()}}</a></td>
                        {{else}}
                        <td class="pt3 pb5 pL10 bdrbtm4"><a href="client.view.php?id={{$project->getClientId()}}" >{{$project->getClientName()}}</a></td>
                        {{/if}}
                        <td colspan="4"></td>
                    </tr>

                    <tr>
                        <th class="aleft pt3 pb5 pL10" style="width: 15%">Location</th>
                        <td class="pt3 pb5 pL10 bdrbtm4" style="width: 15%">{{$project->getDeliveryLocation()}}</td>
                        <th class="aleft pt3 pb5 pL10" style="width: 15%">Total Authorized Hours</th>
                        <td class="pt3 pb5 pL10 bdrbtm4" style="width: 15%">#{{$projectMemberStats.AuthorizedHours}}</td>
						{{if $loginuser->isAdmin()}}
                        <th class="aleft pt3 pb5 pL10" style="width: 15%">Total Authorized Amount</th>
                        <td class="pt3 pb5 pL10 bdrbtm4" style="width: 15%">${{$projectMemberStats.AuthorizedAmount}}</td>
						{{/if}}
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Channel</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project->getChannel()}}</td>
                        <th class="aleft pt3 pb5 pL10">Hours Incurred</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">#{{$projectMemberStats.HoursIncurred}}</td>
						{{if $loginuser->isAdmin()}}
                        <th class="aleft pt3 pb5 pL10">Amount Incurred</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">${{$projectMemberStats.AmountIncurred}}</td>
						{{/if}}
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Start Date</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project->getStartDate()|date_format}}</td>
                        <th class="aleft pt3 pb5 pL10">Remaining Hours</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">#{{$projectMemberStats.RemainingHours}}</td>
						{{if $loginuser->isAdmin()}}
                        <th class="aleft pt3 pb5 pL10">Remaing Amount</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">${{$projectMemberStats.RemaingAmount}}</td>
						{{/if}}
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">End Date</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project->getEndDate()|date_format}}</td>
                        <td colspan="2"></td>
						{{if $loginuser->isAdmin()}}
                        <th class="aleft pt3 pb5 pL10">Cost to Date</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">N/A</td>
						{{/if}}
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Status</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project->getStatus()|strtolower|capitalize}}</td>
                        <td colspan="2"></td>
						{{if $loginuser->isAdmin()}}
                        <th class="aleft pt3 pb5 pL10">Margin to Date</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">N/A</td>
						{{/if}}
                    </tr>
                </table>
            </div>
            <div id="tabs">
                <ul>
                    <li><a href="project.team.member.php?id={{$project->getId()}}">Team Members</a></li>
                    <li><a href="project.artifacts.php?id={{$project->getId()}}">Artifacts</a></li>
                    <li><a href="project.setup.php?id={{$project->getId()}} {{if $pid neq ''}} &pid={{$pid}} {{/if}}">Project Set Up</a></li>
                    <li><a href="project.subproject.php?id={{$project->getId()}}">Sub Projects</a></li>                
                </ul>
                <div id="tabs-1"></div>
            </div>
        </div>     
        {{include file="footer.html"}}
    </body>
</html>