{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Open Project</title>
        {{include file="css.and.js.html"}}
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
		<script>
		$(document).ready(function() {
			/*$("#open").click(function() {
				if(jQuery.trim($("#end_date").val())){
					return true;
				}else{
					$("#content .error").remove();
					$("#content").prepend("<div class='error'>Missing or invalid end date.</div>");
					return false;
				}
			});*/
		
		});
		</script>
    </head>

    <body>
        {{include file="project.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <form action="project.delete.action.php?id={{$project->getId()}}&op=0&close=1" method="post">
                <div class='d-block-table'>
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
					{{if !$parent_project->getClosed()}}
                    <tr><td class="acenter bdrbtm4"><h1>Open project {{$sep}} {{$project->getName()}} ?</h1></td></tr>
					<tr>
                        <td class="acenter pFactor1">
                            <strong>Enter end date</strong>&nbsp;&nbsp;
                            <input type="text" name="end_date" value="{{$post.end_date}}" class="datepicker"id="end_date" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td class="acenter">
                            <input type="submit" value="Yes, open"  id="open">
                            <a href="project.view.php?id={{$project->getId()}}" class="linkbutton" vText='Cancel'>No, go back to project view</a>
                        </td>
                    </tr>
					{{else}}
                    <tr><td class="acenter pFactor"><h1>Before opening the subproject please open the main project </h1></td></tr>
</tr>
                    <tr>
                        <td class="acenter">
                            <a href="project.open.php?id={{$parent_project->getId()}}" class="linkbutton">open main project</a>
                            <a href="project.view.php?id={{$project->getId()}}" class="linkbutton" vText='Cancel'>No, go back to subproject view</a>
                        </td>
                    </tr>
					{{/if}}
                </table>
                </div>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
