{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Project Delete</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="client.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <form action="project.delete.action.php" method="post">
                <input type="hidden" name="id" value="{{$project->getId()}}">
                <input type="hidden" name="answer" value="yes">
                <div class='d-block-table'>
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr><td class="acenter bdrbtm4"><h1>Delete project {{$sep}} {{$project->getName()}} ?</h1></td></tr>
                    <tr><td class="acenter pFactor">Deleting a project will also delete all tasks under it.</h1></td></tr>
                    <tr>
                        <td class="acenter">
                            <input type="submit" value="Yes, delete">
                            <a href="project.view.php?id={{$project->getId()}}" class="linkbutton" vText='Cancel'>No, go back to project view</a>
                        </td>
                    </tr>
                </table>
                </div>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
