<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
<style>
.ui-widget { 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
</style>
<form name="project_details" id="project_details" method="post" action="project.setup.php" enctype="multipart/form-data">
    {{if $isSubProject neq 1 }}
        <input type="hidden" name="id" id="id" value="{{$project->getId()}}">        
    {{else}}
        <input type="hidden" name="pid" id="pid" value="{{$parentProject->getId()}}">
    {{/if}}
    <input type="hidden" name="tabId" id="tabId" value="2">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border: 1px solid #F0F0F0;" >
        <tr>
            <th colspan="6" class="aleft pt3 pb5 pL10">Set Up Item</th>                
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10" >Project Title *</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <input class="expand2fit project_input" type="text" name="name" id="name" value="{{if $isSubProject neq 1 }} {{$project->getName(false)}}{{else}}{{ $name }} {{/if}}">
            </td>        
            <td>&nbsp;</td>
            <td colspan="2" rowspan="2">
                <table>
                    <tr>
						<th class="aleft pt3 pb5 pL10">Client Logo</th>
                        <td>
                            {{if $isSubProject neq 1 && $project->getClientLogo() neq ''}}
                                <img src="img/client-logo/{{$project->getClientLogo()}}" width="200px">
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input name="clientLogo" id="clientLogo" type="file" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Description</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <textarea class="expand2fit project_input" name="description" id="description">{{if $isSubProject neq 1 }} {{$project->getDescription()}} {{/if}}</textarea>                
            </td>                
            <td colspan="3"></td>
        </tr>
        {{if $isSubProject eq '1'}}
        <input type="hidden" name="client_id" id="client_id" class="project_input" value="{{$parentProject->getClientId()}}">
        {{else}}
        <tr>
            <th class="aleft pt3 pb5 pL10">Client *</th>
            <td class="pt3 pb5 pL10 bdrbtm4">               
                <select name="client_id" id="client_id" class="project_input">
                    <option value="0"> - Select Client - </option>
                    {{if $isSubProject eq 1 }}
                        {{assign var="projectClientId" value=$parentProject->getClientId()}}                        
                    {{else}}
                        {{assign var="projectClientId" value=$project->getClientId()}}
                    {{/if}}
                    
                    {{foreach item=client from=$clients}}
                    <option value="{{$client->getId()}}" {{if $client->getId() eq $projectClientId}}selected{{/if}}>{{$client->getName()}}</option>
                    {{/foreach}}
                </select>      
                &nbsp;
                <a href="client.add.php">Add new client</a>
            </td>                
        </tr>
        {{/if}}
        <tr>
            <th class="aleft pt3 pb5 pL10" style="width:15%">Delivery Location</th>
            <td class="pt3 pb5 pL10 bdrbtm4" style="width:35%">                
                <input class="expand2fit project_input" type="text" name="delivery_location" id="delivery_location" value="{{if $isSubProject neq 1 }} {{$project->getDeliveryLocation()}} {{/if}}">
            </td>                
            <td style="width:10%">&nbsp;</td>
            <th class="aleft pt3 pb5 pL10" style="width:15%">Project Lead (Client)</th>
            <td class="pt3 pb5 pL10 bdrbtm4" style="width:25%">                
                <input class="expand2fit project_input" type="text" name="client_project_lead" id="client_project_lead" value="{{if $isSubProject neq 1 }} {{$project->getClientProjectLead()}} {{/if}}">
            </td>               
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Channel / Partner</th>
            <td class="pt3 pb5 pL10 bdrbtm4">               
                <input class="expand2fit project_input" type="text" name="channel" id="channel" value="{{if $isSubProject neq 1 }} {{$project->getChannel()}} {{/if}}">
            </td>                
            <td>&nbsp;</td>
            <th class="aleft pt3 pb5 pL10" >Project Lead (Partner)</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <input class="expand2fit project_input" type="text" name="partner_project_lead" id="partner_project_lead" value="{{if $isSubProject neq 1 }} {{$project->getPartnerProjectLead()}} {{/if}}">
            </td>                
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Start Date *</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <input type="text" name="start_date" value="{{if $isSubProject neq 1 }} {{$post.start_date|default:$project->getStartDate()|date_format:"%m/%d/%Y"}} {{/if}}" class="datepicker project_input" readonly>                
            </td>                
            <td colspan="3"></td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">End Date</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <input type="text" name="end_date" value="{{if $isSubProject neq 1 }} {{$post.end_date|default:$project->getEndDate()|date_format:"%m/%d/%Y"}} {{/if}}" class="datepicker project_input" readonly>                
            </td>                
            <td colspan="3"></td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Is Billable</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <select name="is_billable" id="is_billable" class="project_input">                    
                    <option value="1" {{if $isSubProject neq 1 && $project->getIsBillable() eq "1"}}selected{{/if}} >Yes</option>
                    <option value="0" {{if $isSubProject neq 1 && $project->getIsBillable() eq "0"}}selected{{/if}}>No</option>                                      
                </select>                
            </td>                
            <td colspan="3"></td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Status</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <select name="status" id="status" class="project_input">                    
                    <option value="PENDING" {{if $isSubProject neq 1 && $project->getStatus() eq "PENDING"}}selected{{/if}} >Pending</option>
                    <option value="CONFIRMED" {{if $isSubProject neq 1 && $project->getStatus() eq "CONFIRMED"}}selected{{/if}}>Confirmed</option>
                    <option value="ACTIVE" {{if $isSubProject neq 1 && $project->getStatus() eq "ACTIVE"}}selected{{/if}}>Active</option>
                    <option value="CLOSED" {{if $isSubProject neq 1 && $project->getStatus() eq "CLOSED"}}selected{{/if}}>Closed</option>                    
                </select>                
            </td>                 
            <td colspan="3"></td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Allow Sub Projects</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <select name="allow_subprojects" id="allow_subprojects" class="project_input">                    
                    <option value="1" {{if $isSubProject neq 1 && $project->getAllowSubprojects() eq "1"}}selected{{/if}} >Yes</option>
                    <option value="0" {{if $isSubProject neq 1 && $project->getAllowSubprojects() eq "0"}}selected{{/if}}>No</option>                                      
                </select>                
            </td>                
            <td colspan="3"></td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Allow Task Types</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <select name="allow_task_types" id="allow_task_types" class="project_input">                    
                    <option value="1" {{if $isSubProject neq 1 && $project->getAllowTaskTypes() eq "1"}}selected{{/if}} >Yes</option>
                    <option value="0" {{if $isSubProject neq 1 && $project->getAllowTaskTypes() eq "0"}}selected{{/if}}>No</option>                                      
                </select>                
            </td>                
            <td colspan="3"></td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Service Type</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <select name="service_type" id="service_type" class="project_input">
                    <option value="0"> - Select Service Type - </option>
                    {{if $isSubProject neq 1 }}
                        {{assign var="projectServiceTypeId" value=$project->getServiceType()}}
                    {{/if}}
                    
                    {{foreach item=serviceType from=$serviceTypes}}
                        <option value="{{$serviceType->getId()}}" {{if $isSubProject neq 1 && $serviceType->getId() eq $projectServiceTypeId}}selected{{/if}}>{{$serviceType->getName()}}</option>
                    {{/foreach}}
                </select>                
            </td>                
            <td colspan="3"></td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Practice Area</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <select name="practice_area" id="practice_area" class="project_input">
                    <option value="0"> - Select Practice Area - </option>
                    {{if $isSubProject neq 1 }}
                        {{assign var="projectPracticeAreaId" value=$project->getPracticeArea()}}
                    {{/if}}
                    
                    {{foreach item=practiceArea from=$practiceAreas}}
                    <option value="{{$practiceArea->getId()}}" {{if $isSubProject neq 1 && $practiceArea->getId() eq $projectPracticeAreaId}}selected{{/if}}>{{$practiceArea->getName()}}</option>
                    {{/foreach}}
                </select>                
            </td>                
            <td colspan="3"></td>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10">Domain</th>
            <td class="pt3 pb5 pL10 bdrbtm4">                
                <select name="domain" id="domain" class="project_input">
                    <option value="0"> - Select Domain - </option>
                    {{if $isSubProject neq 1 }}
                        {{assign var="projectDomainId" value=$project->getDomain()}}
                    {{/if}}
                    
                    {{foreach item=domain from=$domains}}
                    <option value="{{$domain->getId()}}" {{if $isSubProject neq 1 && $domain->getId() eq $projectDomainId}}selected{{/if}}>{{$domain->getName()}}</option>
                    {{/foreach}}
                </select>                 
            </td>                
            <td colspan="3"></td>
        </tr>
        <tr>
            <td><br/>                               
                <input type="submit" name="Save" id="Update" value="Save" class="abc">                                 
            </td>        
        </tr>
    </table>    
</form>    