{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
        <script>
            var pFileEdit = '';
            jQuery(function($){
                $("#proj_details").show();
                $("#doc_details").hide();
                $("#tabProj").click(function(){
                    $("#proj_details").show();
                    $("#doc_details").hide();
                    $("#liDoc").removeClass("active");
                    $("#liProj").addClass("active");
                });
                $("#tabDoc").click(function(){
                    $("#proj_details").hide();
                    $("#doc_details").show();
                    $("#liDoc").addClass("active");
                    $("#liProj").removeClass("active");
                });

                pFileEdit = $("#dFileFrmEdit").dialog({
                    autoOpen: false,
                    height: 420,
                    width: 600,
                    modal: true,
                    resizable: false,
                    buttons: {
                        "Save": function(){
                            
                            $("#faction").val('FILES');
                            $("#frmFile").submit();
                            //$(this).dialog("close");
                        },
                        "Cancel": function(){
                            $(this).dialog("close");
                        }
                    }
                });
                
            });
            function showHistory(id) {
                $("#fH-"+id).toggle();
            }
            function editFiles(fid,cid) {
               
                if(fid > 0 ) {
                    if(cid < 1) cid = 1;
                    $("#prj_cat").val(cid);
                    $("#pfile_id").val(fid);
                    $("#notes").val($.trim($("#notes-"+fid).text()));
                    if(parseInt($("#is_public-"+fid).val()) == 1) {
                        $("#is_public").attr("checked","checked");
                    }
                    else if($("#is_public-"+fid).val() == 0) {
                        $("#is_private").attr("checked","checked");
                    }
                    $("#efaction-revision").attr("checked","checked");
                    $("#tr-file_name").show();
                    $("#tr-edit-file_name").show();
                    $("#td-file_name").html("<a href='file.view.php?id="+fid+"' target='_blank'>"+$("#fname-"+fid).text()+"</a>");
                }
                else {
                    $("#tr-file_name").hide();
                    $("#tr-edit-file_name").hide();
                    $("#tr-document_file").show();
                    $("#prj_cat").val('0');
                    $("#pfile_id").val('0');
                    $("#notes").val('');
                    $("#is_public").removeAttr("checked");
                    $("#is_private").removeAttr("checked");
                    $("#is_public").attr("checked","checked");
                    $("#efaction-revision").removeAttr("checked","checked");
                    $("#efaction-replace").removeAttr("checked","checked");
                }
                pFileEdit.dialog('open');
            }
            function deleteFiles(id) {
                $("#action").val("");
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the main file?</b>', "Document Type",
                            function(returnvalue) {
                                if (returnvalue) {
                                    $("#file_id").val(id);
                                    $("#action").val("DELETE");
                                    $("#file_edit").submit();
                                } 
                            }
                );
            }
            function deleteHistoryFiles(id) {
                $("#action").val("");
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the revision file?</b>', "Document Type",
                            function(returnvalue) {
                                if (returnvalue) {
                                    $("#file_id").val(id);
                                    $("#action").val("DELETE");
                                    $("#file_edit").submit();
                                } 
                            }
                );
            }

            function upload_files(cid,id) {
                if(id > 0) {
                    if(id > 0) {
                        if($("#file-"+id).val() == "") {
                            jAlert("Please select a <i><b>file</b></i> to Add/Replace.","Project Details");
                            return false;
                        }
                    }
                    $("#category_id").val(cid);
                    $("#action").val("FILES");
                    $("#file_edit").submit();
                }
            }
            function markRadio(id,v){
                $("#is_public-"+id).removeAttr("checked");
                $("#is_private-"+id).removeAttr("checked");
                if(v > 0) {
                    $("#is_public-"+id).attr("checked", true);
                }
                else {
                    $("#is_private-"+id).attr("checked", true);
                }
            }
            function upload_new(id) {
                var blnFound=true; 
                if($("#file-"+id).val() == "") {
                    jAlert("Please select a <i><b>file</b></i> to Add/Replace.","Project Details");
                    return false;
                }
                $("#action").val("FILES");
                $("#category_id").val(1);
                $("#file_edit").submit();
            }
            function removeRow(id) {
                //$("#tblOthers tr:last").remove();
                $("#tr-"+id).remove();
            }
            function addRow(){
                var index = $("#index").val();
                var tds = $('#tr-0').html().replace("file-0","file-"+index);
                tds = tds.replace("file[]","file["+index+"]");
                tds = tds.replace("notes-0","notes-"+index);
                tds = tds.replace("notes[]","notes["+index+"]");
                tds = tds.replace("is_public-0","is_public-"+index);
                tds = tds.replace("is_public-0","is_public-"+index);
                tds = tds.replace("is_public-0","is_public-"+index);
                tds = tds.replace("is_public-0","is_public-"+index);
                tds = tds.replace("img-0","img-"+index);
                tds = tds.replace("upload_new()","upload_new("+index+")");
                tds = tds.replace("removeRow()","removeRow("+index+")");
                //$("#tblOthers tr:last").after("<tr id='tr-"+index+"'>"+tds+"</tr>");
                $("#tr-addRow").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
                index = parseInt(index) + 1; 
                $("#index").val(index);
            }

       </script>
    </head>

    <body>
        {{include file="project.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
			{{assign var='status' value=$project->getClosed()}}
			
            <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'>
                <tr>
                    <td class="pt3 pb5 pL10 pR5">
                        <h1>View {{if $project->isSubproject()}}sub{{/if}}project {{$sep}} {{$project->getName()}}</h1>
                        <div id='header-menu' style="float:right">
                        <ul id='menu-level-1' class='menu-ul'>
                            <li id='liProj' class='active'>
                                <a href='javascript:;' id='tabProj'>Project</a>
                            </li>
                            <li id='liDoc'>
                                <a href='javascript:;' id='tabDoc'>Artifacts</a>
                            </li>
                        </ul>
                        </div>
                        <div style='clear:both;'></div>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            <form action="project.file.action.php" method="post" id="file_edit" name="file_edit" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{$project->getId()}}">
                <input type='hidden' name='index' id="index" value="9000"/>
                <input type='hidden' name='category_id' id="category_id"/>
                <input type='hidden' name='client_id' value='{{$project->getClientId()}}'/>
                <input type='hidden' name='project_id' value='{{$project->getId()}}'/>
                <input type='hidden' name='file_id' id='file_id' value=''/>
                <input type='hidden' name='action' id='action' value=''/>

                <div id='proj_details'>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border: 1px solid #F0F0F0;">
                    <tbody>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Name</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>{{$project->getName(false)}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Description</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>{{$project->getDescription()|nl2br}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Client</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
                            {{$project->getClientName()}}
                            {{$sep}}
                            <a href="project.list.php?client_id={{$project->getClientId()}}">View other projects by this client</a>
                        </td>
                    </tr>
                    {{if $project->isSubproject()}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Subproject of</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
                            {{$project->getParentName()}}
                            {{$sep}}
                            <a href="project.list.php?parent_id={{$project->getParentId()}}">View other subprojects</a>
                        </td>
                    </tr>
                    {{/if}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Start date</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>{{$project->getStartDate()|date_format}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">End date</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>{{$project->getEndDate()|date_format}}</td>
                    </tr>
                    {{if $project->getAllowTaskTypes()}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Tasks</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
                            {{$project->countTasks()}}
                         </td>
                    </tr>
                    {{/if}}
                    
                    {{if $project->getAllowSubprojects()}}
                    {{if not $project->isSubproject()}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Subprojects</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'> 
                            {{$project->countSubprojects()}}
                            {{if $project->countSubprojects() gt 0}}
                            {{$sep}}
                            <a href="project.list.php?parent_id={{$project->getId()}}">View subprojects of this project</a>
                            {{/if}}
                            {{if !$project->isSubproject() && ($my_role.role == 'MANAGER' ||  $loginuser->isAdmin()) }}
                            {{if !$status}}
                            {{$sep}}
                            <a href="project.add.php?parent_id={{$project->getId()}}">Add subproject to this project</a>
                            {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                    {{/if}}
                    {{/if}}
                    
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Members  </th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
                            <table style="margin:0px !important;">
                            {{if $project_users}}
                            {{foreach item=project_users1 from=$project_users}}
                            <tr>
                                <td>
                            {{if  $project_users1->role == "MEMBER" }} 
                            {{$project_users1->getName()}}&nbsp;&nbsp;&nbsp;&lt;{{$project_users1->getEmail()}}&gt; 
                            {{/if}}
                                </td>
                            </tr>
                            {{/foreach}}
                            {{else}}
                            <tr><td>There are no members registered for this project.</td></tr>
                            {{/if}}
                            </table>
                        </td>
                    </tr>
                    {{if $loginuser->isAdmin() || $my_role.role == 'MANAGER'}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Manager</th>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
                            <table style="margin:0px !important;">
                            {{if $project_users}}
                            {{foreach item=project_users from=$project_users}}
                            <tr>
                                <td>
                            {{if  $project_users->role == "MANAGER" }} 
                            {{$project_users->getName()}}&nbsp;&nbsp;&nbsp;&lt;{{$project_users->getEmail()}}&gt; 
                            {{/if}}
                                </td>
                            </tr>
                            {{/foreach}}
                            {{else}}
                            <tr><td>There are no manager registered for this project.</td></tr>
                            {{/if}}
                            </table>
                        </td>
                    </tr>
                    
                    {{/if}}
                        <tr>
                            <th class="aleft pt3 pb5 pL10">Project status </th>
                            <td class='pt3 pb5 pL10 bdrbtm4'>{{if $project->getClosed() == 0}} Open {{else}} Closed{{/if}}</td>
                        </tr>
                        {{if !$project->isSubproject()}}
                        <tr>
                            <th class="aleft pt3 pb5 pL10">Allow subprojects</th>
                            <td class='pt3 pb5 pL10 bdrbtm4'>{{if $project->getAllowSubprojects() == 1}}Yes{{else}} No{{/if}}</td>
                        </tr>
                        {{/if}}
                        <tr>
                            <th class="aleft pt3 pb5 pL10">Allow task types</th>
                            <td class='pt3 pb5 pL10 bdrbtm4'>{{if $project->getAllowTaskTypes() == 1}}Yes {{else}} No{{/if}}</td>
                        </tr>
                        <tr>
                            <th class="aleft pt3 pb5 pL10">Status</th>
                            <td class='pt3 pb5 pL10 bdrbtm4'>
                                {{if $project->getStatus() == "CONFIRMED"}}
                                    Confirmed
                                {{else}}
                                    Pending
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pt3 pb5 pL10">Show in calendar</td>
                            <td class='pt3 pb5 pL10 bdrbtm4'>{{if $project->getShowInCalendar() eq 1}}Yes{{else}}No{{/if}}</td>
                        </tr>
                        <tr>
                            <th class="aleft pt3 pb5 pL10">Is billable?</td>
                            <td class='pt3 pb5 pL10 bdrbtm4'>{{if $project->getIsBillable() eq 1}}Yes{{else}}No{{/if}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="acenter pt3 pb5 pL10">
                                {{if ($loginuser->isAdmin() || $my_role.role == 'MANAGER') && !$status}}
                                    <a class="linkbutton" href="project.edit.php?id={{$project->getId()}}">Edit project</a>
                                {{/if}}
                                {{if $loginuser->isAdmin()}}
                                {{if !$status }}
                                    <a class="linkbutton" href="project.close.php?id={{$project->getId()}}">Close project</a>
                                {{else}}
                                    <a class="linkbutton" href="project.open.php?id={{$project->getId()}}">Open project</a>
                                {{/if}}
                                    <a class="linkbutton" href="project.delete.php?id={{$project->getId()}}">Delete project</a>
                                {{/if}}
                                 <a class="linkbutton" href="project.list.php?client_id={{$project->getClientId()}}" vText='Cancel'>Go back to projects list</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <!-- Artifacts --> 
                <div id='doc_details'>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #F0F0F0;">
                        <tr>
                            <td class='aright pt3 pb5 pL10 pR10'>
                               <input type="button" name="btnAddFiles" id="btnAddFiles" value="Add Files" onclick="editFiles(0,0)"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'>
                                    <tr>
                                        <th class="aleft pt3 pb5 pL10" width="220px">Document Type</th>
                                        <th class="aleft pt3 pb5 pL10" width="370px">Files</th>
                                        <th class="acenter pt3 pb5 pL10" width='50px'>Is Public?</th>
                                        <th class="aleft pt3 pb5 pL10">Notes</th>
                                        <th class="aright pt3 pb5 pL10" width='70px'>&nbsp;</th>
                                    </tr>
                                    
                                    {{*foreach item=cat from=$category*}}
                                    {{assign var='strPublic' value=''}}
                                    {{assign var='strPrivate' value=''}}
                                    {{assign var='blnFound' value='NO'}}
                                    {{assign var='strVersion' value=''}}
                                    {{assign var='strSize' value=''}}
                                    {{assign var='strNotes' value=''}}
                                    {{assign var='strDate' value=''}}
                                    {{assign var='strUser' value=''}}
                                    {{if $files}}
                                    {{foreach from=$files item=file name=i}}
                                    <tr>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$file->getCategoryName()}}</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                        {{*if $file and $file->getCategoryId() eq $cat->getId() and $cat->getId() gt 1*}}
                                        {{assign var='blnFound' value='FOUND'}}
                                        {{assign var='strVersion' value=$file->getFileVersion()}}
                                        {{assign var='strSize' value=$file->getFileSize(true)}}
                                        {{assign var='strNotes' value=$file->getNotes()}}
                                        {{assign var='strDate' value=$file->createdDate}}
                                        {{assign var='strUser' value=$file->userFullName}}
                                        {{assign var='strIsPublic' value='img/public_file.png'}}
                                        {{if $file->getIsPublic()}}
                                            {{assign var='strPublic' value='checked'}}
                                            {{assign var='strPrivate' value=''}}
                                            {{assign var='strIsPublic' value='img/public_file.png'}}
                                        {{else if !$file->getIsPublic()}}
                                            {{assign var='strPrivate' value='checked'}}
                                            {{assign var='strPublic' value=''}}
                                            {{assign var='strIsPublic' value='img/private_file.png'}}
                                        {{/if}}
                                            <span class="filename">
                                                <a href="file.view.php?id={{$file->getId()}}" title="{{$file->getNotes()}}" target="_blank" id='fname-{{$file->getId()}}'>{{$file->getFileName()}}</a><br>
                                                File Size: {{$strSize}}<br>Revision: {{$strVersion}}<br>
                                                Created On: {{$strDate}}<br>Created By: {{$strUser}}<br>
                                                
                                            </span> 
                                        </td>
                                        <td align='center' class="pt3 pb5 pL10 bdrbtm4" width="50px">
                                            <img width='32px' height='32px' src='{{$strIsPublic}}'/>
                                            <input type='hidden' name='is_public-{{$file->getId()}}' id='is_public-{{$file->getId()}}' value='{{$file->getIsPublic()}}'/>
                                        </td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{$strNotes}}
                                            <div name="notes-{{$file->getId()}}" id="notes-{{$file->getId()}}" style='display:none;'>
                                                {{$file->getNotes()}}
                                            </div>
                                        </td>
                                        <td width="150px" class="aright pt3 pb5 pL10 bdrbtm4">
                                            <a title="Edit" class="imglink" href="javascript:;" onclick="editFiles({{$file->getId()}},{{$file->getCategoryId()}})">
                                                <img width="16" height="16" border="0" alt="Edit" src="img/icons/edit16x16.png">
                                            </a>
                                            {{if $file->getFileHistory()}}
                                            <a title="History" class="imglink" href="javascript:;" onclick="showHistory({{$file->getId()}})">
                                                <img width="16" height="16" border="0" alt="History" src="img/history.png">
                                            </a>
                                            {{/if}}
                                            <a title="Download" class="imglink" target="_blank" href="file.view.php?id={{$file->getId()}}">
                                                <img width="16" height="16" border="0" alt="Download" src="img/icons/down16x16.png">
                                            </a>
                                            <a id='file_delete' href="javascript:;" onclick="deleteFiles({{$file->getId()}})" class='imglink' title='Delete'>
                                            <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                                            </a> 
                                        </td>
                                    </tr>
                                    <!-- File History -->
                                    {{if $file->getFileHistory()}}
                                    <tr id="fH-{{$file->getId()}}" style='display:none;'>
                                    <td colspan='5'>
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks" style='border:1px solid #045803'>
                                        <tr>
                                            <th colspan='5' class="acenter pt3 pb5">
                                                File History
                                                <div style='float:right;' class='pR10'>
                                                    <a href='javascript:;' onclick="showHistory({{$file->getId()}})" title='Close'>X</a>
                                                </div>
                                            </th>
                                        </tr>
                                        {{foreach from=$file->getFileHistory() item=rfile name=j}}
                                        <tr>
                                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width='220px'>&nbsp</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width='370px'>
                                        {{assign var='strIsPublic' value='img/public_file.png'}}
                                        {{if $rfile->getIsPublic()}}
                                            {{assign var='strIsPublic' value='img/public_file.png'}}
                                        {{else if !$rfile->getIsPublic()}}
                                            {{assign var='strIsPublic' value='img/private_file.png'}}
                                        {{/if}}

                                            <span class="filename">
                                                <a href="file.view.php?id={{$rfile->getId()}}" title="{{$rfile->getNotes()}}" target="_blank" id='rfname-{{$rfile->getId()}}'>{{$rfile->getFileName()}}</a><br>
                                                File Size: {{$rfile->getFileSize()}}<br>Revision: {{$rfile->getFileVersion()}}<br>
                                                Created On: {{$rfile->createdDate}}<br>Created By: {{$rfile->userFullName}}<br>
                                            </span>

                                        </td>
                                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width='50px'>
                                            <img width='32px' height='32px' src='{{$strIsPublic}}'/>
                                        </td>
                                        <td class="pt3 pb5 pL10 bdrbtm4 submitted">{{$rfile->getNotes()}}</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4 submitted" width='50px'>
                                            <a title="Download" class="imglink" target="_blank" href="file.view.php?id={{$rfile->getId()}}">
                                                <img width="16" height="16" border="0" alt="Download" src="img/icons/down16x16.png">
                                            </a>
                                            <a id='file_delete' href="javascript:;" onclick="deleteHistoryFiles({{$rfile->getId()}})" class='imglink' title='Delete'>
                                                <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                                            </a>
                                        </td>
                                        </tr>
                                        {{/foreach}}
                                    </table>
                                    </td>
                                    </tr> 
                                    {{/if}}
                                    <!-- // End -->
                                    {{/foreach}}
                                    {{/if}}
                                </table>
                                </td>
                            </tr>
                            <tr>
                                <td class='aright pt3 pb5 pL10 pR10'>
                                   <input type="button" name="btnAddFiles1" id="btnAddFiles1" value="Add Files" onclick="editFiles(0,0)"/>
                                </td>
                            </tr>
                            <tr>
                                <td height='10px'><br><div class='d-dashed'></div><br></td>
                            </tr>
                            
                        <tr>
                            <td class="acenter pt3 pb5 pL10 bdrbtm4">
                                 <a class="linkbutton" href="project.list.php" vText='Cancel'>Go back to projects list</a>
                            </td>
                        </tr>
                    </table/>
                </div>
            </form>

            <!-- Popup -->
            <div id='dFileFrmEdit' style='display:none;'>
            <form action="project.file.action.php" method="post" id="frmFile" name="frmFile" enctype="multipart/form-data">
                <input type='hidden' name='client_id' id='fclient_id' value='{{$project->getClientId()}}'/>
                <input type='hidden' name='project_id' id='fproject_id' value='{{$project->getId()}}'/>
                <input type='hidden' name='file_id' id='pfile_id' value=''/>
                <input type='hidden' name='action' id='faction' value=''/>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Client</th>
                        <td class="aleft pt3 pb5 pL10">{{$project->getClientName()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Project</th>
                        <td class="aleft pt3 pb5 pL10">{{$project->getName()}}</td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Document Type</th>
                        <td class="aleft pt3 pb5 pL10">
                            <select name='prj_cat' id='prj_cat'>                
                                <option value="-1"> -- Select -- </option>
                            {{foreach item=cat from=$category}}
                                <option value="{{$cat->getId()}}">{{$cat->getName()}}</option>
                            {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Is Public?</th>
                        <td class="aleft pt3 pb5 pL10">
                            <input type='radio' name='is_public' id='is_public' value='PUBLIC' checked/>
                            <label for='is_public'>Public</label>
                            <input type='radio' name='is_public' id='is_private' value='PRIVATE'/>
                            <label for='is_private'>Private</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Notes</th>
                        <td class="aleft pt3 pb5 pL10">
                            <textarea id='notes' name='notes' cols='30' rows='3'></textarea>
                        </td>
                    </tr>
                    <tr id='tr-file_name'>
                        <th class="aleft pt3 pb5 pL10">Document</th>
                        <td class="aleft pt3 pb5 pL10" id='td-file_name'> </td>
                    </tr>
                    <tr id='tr-edit-file_name'>
                        <th class="aleft pt3 pb5 pL10">&nbsp;</th>
                        <td class="aleft pt3 pb5 pL10">
                            <input type='radio' name='efaction' id='efaction-replace' value='REPLACE' checked/>
                            <label for='efaction-replace'>Replace File</label>
                            <input type='radio' name='efaction' id='efaction-revision' value='REVISION'/>
                            <label for='efaction-revision'>Add Revision</label>
                        </td>
                    </tr>
                    <tr id='tr-document_file'>
                        <th class="aleft pt3 pb5 pL10">Document</th>
                        <td class="aleft pt3 pb5 pL10" id='td-document_file'>
                            <input class="ui-widget-content ui-corner-all" id="document_file" type="file" name="file[]"/>
                        </td>
                    </tr>
                
                </table>
            </form>
            </div>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
