{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Close Project</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="project.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <form action="project.delete.action.php?id={{$project->getId()}}&op=1&close=1" method="post">
                <div class='d-block-table'>
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr><td class="acenter bdrbtm4"><h1>Close project {{$sep}} {{$project->getName()}} ?</h1></td></tr>
					{{if $project->isSubproject()}}
                    <tr><td class="acenter pFactor">This will not allow the user to do further activities in this project.</h1></td></tr>
					{{else}}
                    <tr><td class="acenter pFactor">This will close all the sub projects belong to it and will not allow the user to do further activities in this project.</h1></td></tr>
					{{/if}}
                    <tr>
                        <td class="acenter">
                            <input type="submit" value="Yes, close">
                            <a href="project.view.php?id={{$project->getId()}}" class="linkbutton" vText='Cancel'>No, go back to project view</a>
                        </td>
                    </tr>
                </table>
                </div>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
