{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Projects List</title>
        {{include file="css.and.js.html"}}
        <script src="js/jquery.listen.js" type="text/javascript" language="javascript"></script>
          <script type="text/javascript" language="javascript">
            var prjmove = '';
            var prj_details = {{$prj_details}};
            var old_proj_id = 0;
            var old_client_id = 0;
            jQuery(function($){
                $("#sel_client_id").change(function(){
                    v = $(this).val();
                    chk = $("#chkPending").is(":checked") ? $("#chkPending").val() : 0;
                    chk1 = $("#chkClosed").is(":checked") ? $("#chkClosed").val() : 0;
                    qs = "?pending="+ chk +"&closed="+chk1;
                    if(v > 0) qs += "&client_id=" + v;
                    window.location.href = "project.list.php" + qs;
                });
                $("#chkPending").click(function(){
                    v = $("#sel_client_id").val();
                    chk = $("#chkPending").is(":checked") ? $("#chkPending").val() : 0;
                    chk1 = $("#chkClosed").is(":checked") ? $("#chkClosed").val() : 0;
                    qs = "?pending="+ chk +"&closed="+chk1;
                    if(v > 0) qs += "&client_id=" + v;
                    window.location.href = "project.list.php" + qs;
                });
                $("#chkClosed").click(function(){
                    v = $("#sel_client_id").val();
                    chk = $("#chkPending").is(":checked") ? $("#chkPending").val() : 0;
                    chk1 = $("#chkClosed").is(":checked") ? $("#chkClosed").val() : 0;
                    qs = "?pending="+ chk +"&closed="+chk1;
                    if(v > 0) qs += "&client_id=" + v;
                    window.location.href = "project.list.php" + qs;
                });

                $("#frm_filter input[type=submit]").hide();
			
                prjmove = $("#prjmove").dialog({
                    autoOpen: false,
                    height: 280,
                    width: 600,
                    modal: true,
                    resizable: false,
                    buttons: {
                        "Move Project": function(){
                            if($("#sel_new_client").val()  < 1) {
                                jAlert("Please select a client to move the project!","Project List");
                                $("#sel_new_client").focus();
                                return false;
                            }
                            if($("#move_subproject").is(":checked") && $("#sel_new_project").val() > 0) {
                                jAlert("You can not move all subproject to under target project!","Project List");
                                $("#sel_new_project").focus();
                                return false;
                            }

                            $("#old_client_id").val(old_client_id);
                            $("#old_project_id").val(old_proj_id);
                            $("#frmPrjMove").submit();
                            $(this).dialog("close");
                        },
                        "Cancel": function(){
                            old_client_id = 0;
                            old_proj_id = 0;
                            $(this).dialog("close");
                        }
                    }
                });
            });
            function move_project(cid,id,parent_id) {
                var options = '';
                old_client_id = 0;
                old_proj_id = 0;
                $("#tr-new-project").hide();
                if(cid > 0 && id > 0) {
                    old_client_id = cid;
                    old_proj_id = id;
                    options = options + "<option value='0'> -- Select Client -- </option>";
                    $.each(prj_details, function(k,v){
                        options = options + "<option value='"+k+"'>"+v.name+"</option>";
                    });
                    $("#currclient_title").html(prj_details[cid].name);
                    if(parent_id > 0) {
                        $("#curprj_title").html(prj_details[cid].projects[parent_id].subprojects[id].name);
                    } else {
                        $("#curprj_title").html(prj_details[cid].projects[id].name);
                    }
                    $("#new_client").html("<select id='sel_new_client' name='sel_new_client' onchange='fill_proj(this.value)'>"+options+"</select>");
                    prjmove.dialog('open');
                }
            }
            function fill_proj(id) {
                var options = '';
                options = options + "<option value='0'> -- None -- </option>";
                if(id > 0) {
                    $.each(prj_details[id].projects, function(k,v){
                        if(old_proj_id != k)
                            options = options + "<option value='"+k+"'>"+v.name+"</option>";
                    });
                }
                $("#new_project").html("<select id='sel_new_project' name='sel_new_project' onchange='disabled_subprjbox(this.value)'>"+options+"</select>");
                $("#tr-new-project").show();
            }
            function disabled_subprjbox(v) {
                if(v > 0) {
                    $("#move_subproject").removeAttr("checked");
                    $("#move_subproject").attr("disabled", true);
                }
                else {
                    $("#move_subproject").removeAttr("disabled");
                }
            }
        </script>
    </head>

    <body>
        {{include file="project.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if not $parent}}{{assign var="indent" value="style='padding-left: 30px;'"}}{{/if}}

            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="50%" class="pt3 pb5 pL10">
                        {{if $client}}
                        <h1>Projects by <i>{{$client->getName()}}</i></h1>
                        {{elseif $parent}}
                        <h1>Subprojects of {{$parent->getName()}}</h1>
                        {{else}}
                        <h1>Projects</h1>
                        {{/if}}
                    </td>
                    <td class="aright vamiddle pR5">
                        <form action="project.list.php" method="get" id="frm_filter">
                            <input type="checkbox" name="chkPending" id="chkPending" value="1" {{if $pending eq 1}}checked{{/if}}/> Show Pending<input type="checkbox" name="chkClosed" id="chkClosed" value="1" {{if $closed eq 1}}checked{{/if}}/> Show Closed
                            <select name="client_id" id="sel_client_id">
                                <option value="0">-- Show projects by all clients --</option>
                                {{foreach item=i from=$clients}}
                                <option value="{{$i->getId()}}" {{if $client and $client->getId() eq $i->getId()}}selected{{/if}}>{{$i->getName()}}</option>
                                {{/foreach}} 
                            </select>
                            <input type="submit" value="Show projects">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="project.list.php?excel=1&client_id={{$smarty.get.client_id}}">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            {{if $projects}}
            <br>
            {{include file="table.project.list.html"}}
            {{else}}
            {{if $client}}
            <div class="info">
                No projects found for {{$client->getName()}}.
                {{if $loginuser->isAdmin()}}
                <a href="project.add.php?client_id={{$client->getId()}}">Click here to add a project for {{$client->getName()}}</a>
                <span class="sep">|</span>
                {{/if}}
                <a href="project.list.php?client_id={{$client->getId()}}">Click here for confirmed project of {{$client->getName()}}</a>
            </div>
            {{else}}
            <div class="info">
                No projects found.
                {{if $loginuser->isAdmin()}}
                <a href="project.add.php">Click here to add a project</a>
                <span class="sep">|</span>
                {{/if}}
                <a href="project.list.php">Click here for project list</a>
            </div>
            {{/if}}
            {{/if}}
        </div>
 <div id="div_taskdetail" title="Project details">    
  </div>
    {{include file="footer.html"}}
 </body>
       
</html>
