<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
<script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
<style>
    .ui-widget { 
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
    }

#accordion_new .ui-accordion-content {
    background-color: #f3f3f3;
    color: #777;
    font-size: 10pt;
    line-height: 16pt;
}

#accordion_new h3{
    display: block;
    line-height: 2em;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
    font-weight: bold;

}

#accordion_new .ui-accordion-header {
    padding-left: 2.2em;
    margin-top: 2px;
    margin-bottom: 2px;
    
}

</style>

<script>
   $(function() {
    $( "#accordion_new" ).accordion({
      heightStyle: "content",
      collapsible: true
    });
  });


   function editPolicyTier(adj_date,puid) {

    //jAlert(adj_date+'---'+puid);

    $('<div>').dialog({
    modal: true,
    open: function ()
    {
        $(this).load('adjust_pto.php?id='+puid+'&adj_date='+adj_date);
    },  
    close : function(){
       $(this).empty();
    },      
    height: 200,
    width: 250,
    title: 'Adjust PTO hours for '+adj_date
    });
}       

</script>

<form name="pto_history" id="pto_history" method="post" action="pto_history.php">
    <input type="hidden" name="utabId" id="utabId" value="0">
    <input type="hidden" name="id" value="{{$user->getId()}}">    
    

    {{if empty($pto_duration)}}
    <table width="100%" cellspacing="0" cellpadding="0" border="1" style="border: 1px solid #F0F0F0;">
    <tbody>
        <tr><td colspan="4" class="error"> Joining date or Location is missing. Please update it <a href ="user.edit.php?id={{$user_id}}"><u>here.</u></a></td></tr>
    </tbody>
    </table>
    {{else}}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
        <tr>
            <td width="80%">
                <div id="accordion_new">
                {{foreach from=$pto_duration key=k item=v}}
                    <h3>{{$k}}</h3>
                    <div>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="left" style="table-layout: fixed;" class="gridtable" > 
                        <tr><th>Month</th>
                        <th>Earned</th>
                        <th>Used</th>
                        <th>Adjustment</th>
                        <th>Excess</th>
                        <th>Balance</th>
                        {{if $loginuser->isAdmin()}}
                         <th>Adjust Hours</th></tr>
                         {{/if}}
                    {{foreach from=$v|@array_reverse key=k2 item=v2}}
                       <tr>
                            <td align="center">{{$v2.month}}</td>
                            <td align="center">{{$v2.earned}}</td>
                            <td align="center">{{$v2.used}}</td>
                            <td align="center">{{$v2.adjusted}}</td>
                            <td align="center">{{$v2.excess}}</td>
                            <td align="center">{{$v2.balance}}</td>
                            {{if $loginuser->isAdmin()}}
                            <td align="center"><a title="Adjust PTO hours" class="imglink" href="javascript:;" onclick="javascript:editPolicyTier('{{$k}}-{{$v2.month}}',{{$user->getId()}});">
                                <img width="16" height="16" border="0" style="padding-top:5px;" alt="Adjust Hours for this month" src="img/icons/edit16x16.png">
                            </a></td>
                            {{/if}}
                        </tr>
                    {{/foreach}}
                    </table>
                    </div>
                {{/foreach}}
       
                </div>
            </td>
            <td width="1%"></td>
            <td valign="top" width="19%">
                <table  cellpadding="0" cellspacing="0"  border="0"  class="gridtable">
                    <tr>
                        <th class="aleft pt3 pb5 pL10 pR10">Current PTO Balance (hrs):</th>
                        <td class="aright pt3 pb5 pL10 pR10 bdrbtm4">{{$current_balance}}</td>
                    </tr>
                    <!--<tr>
                        <th class="aleft pt3 pb5 pL10">Current Monthly accrual (hrs):</th>
                        <td class="aright pt3 pb5 pL10 bdrbtm4">{{$current_earned}}&nbsp;&nbsp;</td>
                    </tr>-->
                </table>
            </td>
        </tr>
        {{/if}} 
    </table>
</form>