{{include file="doctype.html"}}
<html>
    <head>
        <title>PTO Details</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
      

    </head>

    <body>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        
        {{else}}
        {{include file="project.setup.common.html"}}
        {{/if}}

        <script>


         $(document).ready(function() {

                var scntDiv = $('#add_words');
                var wordscount = 1;
                var i = $('.line').size() + 1;

                $('#add').click(function() {
                    var inputFields = 2;
                    for (var n = i; n < inputFields; ++ n){
                        wordscount++;
                        $('<div class="line">Word is ' + wordscount + '<input type="text" value="' + wordscount + '" /><a class="remScnt" href="#">Remove</a></div>').appendTo(scntDiv);
                        i++;
                    }  
                    return false;
                });

                //    Remove button
                $('#add_words').on('click', '.remScnt', function() {
                    if (i > 1) {
                        $(this).parent().remove();
                        i--;
                    }
                    return false;
                });



         // Tooltip only Text
         $('.masterTooltip').hover(function(){
                 // Hover over code
                 var title = $(this).attr('title');
                 $(this).data('tipText', title).removeAttr('title');
                 $('<p class="tooltip"></p>')
                 .text(title)
                 .appendTo('body')
                 .fadeIn('slow');
         }, function() {
                 // Hover out code
                 $(this).attr('title', $(this).data('tipText'));
                 $('.tooltip').remove();
         }).mousemove(function(e) {
                 var mousex = e.pageX + 20; //Get X coordinates
                 var mousey = e.pageY + 10; //Get Y coordinates
                 $('.tooltip')
                 .css({ top: mousey, left: mousex })
         });
         });

        var rowCount = 0;
        var gCount = 0;
        var sCount = 0;
        var polCount = 0;
        function changeIt(tno)
        {
            
            cnt = document.getElementById("txtMaxTiers["+tno+"]").value;

            if(cnt == "")
            {
                alert('Please fill max tiers to add');
                document.getElementById("txtMaxTiers[1]").focus();
                return false;
            }

            $("#tierCount").val(cnt);

            for (var i = cnt - 1; i >= 0; i--) {

               createTextbox.innerHTML = createTextbox.innerHTML + '<table cellpadding="5" cellspacing="5" ><p id="rowCount'+rowCount+'" style="color: #111111"><tr><td class="pt3 pb5 pL10 bdrbtm4">Tiers - <input name="txtTierNew[]" type="text" maxlength="120" size="10" style="width:80px;" title="Enter a name for the PTO Tier." class="masterTooltip"/></td><td> PTO Days - <input name="txtLeavesNew[]" type="text"  maxlength="120" size="4" title="Enter the number of PTO days provided for this Tier." class="masterTooltip"/></td><td> Max Service - <input name="txtServiceNew[]" size="2" type="text" maxlength="2" title="Enter the maximum number of years service for this tier before moving to the next tier.  Leave empty if there is no next tier" class="masterTooltip" /></td></tr> </p></table>'
            };
        }

        function removeRow(removeNum) { 

        jQuery('#rowCount'+removeNum).remove();
        gCount --;
        $('#tierCntNew').val(gCount);
        if(gCount == 0)
            $('#tbl_pto .hideme').hide();
            $('#btn_add_pol').show();
        }


        function addNewTiers(frm) {


        $('#btn_add_pol').hide();

       
        sCount ++;
       // var recRow = '<table border=0 id="polCount'+polCount+'" style="color: #111111" width="500px;"><tr><td >Effective Date - <input style="width:80px;" type="text" class="datepicker" id="polCountF'+polCount+'" name="txtFromDate['+polCount+']" value="" /></td><td> Max Tiers - <input  type="text" id="txtMaxTiers['+polCount+']" name="txtMaxTiers[]" style="width:40px;" /> <a href="javascript:void(0);" onclick="changeIt('+polCount+')" id="add">Add</a></td><td> Max Hours - <input  type="text" name="txtMaxHours[]" style="width:40px;" /> <a href="javascript:void(0);" onclick="removePol('+polCount+');">Delete</a></td></tr><tr><td colspan=3><div id="createTextbox"></div></td></tr></table>';

        var recRow = '<table border=0 id="polCount'+polCount+'" style="color: #111111" width="500px;"><tr><td >Effective Date - <input style="width:80px;" type="text" class="datepicker" id="polCountF'+polCount+'" name="txtFromDate['+polCount+']" value="" /></td><td> Max Tiers - <input  type="text" id="txtMaxTiers['+polCount+']" name="txtMaxTiers[]" style="width:20px" /> </td><td> Max Hours - <input  type="text" name="txtMaxHours[]" style="width:25px" /></td><td><a href="javascript:void(0);" onclick="changeIt('+polCount+')" id="add">Setup</a></td></tr><tr><td colspan=3><div id="createTextbox"></div></td></tr></table>';

         polCount ++;
  
        
         jQuery('#addedTiers').append(recRow);

         $(".datepicker").removeClass('hasDatepicker').datepicker({dateFormat: 'dd-M-yy', changeMonth: true, changeYear: true}); 
         //$(".datepicker").appendTo("#polCount'+polCount+'").find("input").datepicker();

         $('#tbl_pto .hideme2').show();
         $('#polCnt').val(sCount);
        }


        function removePol(removeNum) {
        jQuery('#polCount'+removeNum).remove();
        sCount --;
        $('#polCnt').val(sCount);
        if(sCount == 0)
            $('#tbl_pto .hideme2').hide();
            $('#btn_add_pol').show();
        }

        jQuery(function($){

        
        $('#tbl_pto .hideme2').hide();

        $("#btn_cancel").click(function(){
        $("#hdn_id").val('0');
                $("#btn_save").val("Add");
        });
                $("#btn_save").click(function() {
        submitDep();
        });
        });
        function deletePol(id,loc_id) {
           
        jConfirm('<br><h1>Are you sure?</h1><br><b>You want to delete this policy?</b>', "PTO Policy",
                function(returnvalue) {
                if (returnvalue) {
                $("#hdn_id").val(id);
                        $("#action").val("DELETE");
                        //$("#frmPto").submit();
                        submitDep(loc_id);
                }
                }
        );
        }
        function saveDates(loc_id) {
        jConfirm('<br><h1>Are you sure?</h1><br><b>You want to save this policy?</b>', "PTO Policy",
                function(returnvalue) {
                if (returnvalue) {
                    $("#action").val("Save Policy");
                    //$("#frmPto").submit();
                    submitDep(loc_id);
                }
                }
        );
        }

        function editDates(loc_id) {
        jConfirm('<br><h1>Are you sure?</h1><br><b>You want to edit all policies?</b>', "PTO Policy",
                function(returnvalue) {
                if (returnvalue) {
                
                    $("#action").val("EDIT DATES");
                    //$("#frmPto").submit();
                    submitDep(loc_id);
                }
                }
        );
        }

function editDep(id) {
        $("#hdn_id").val(id);
        $("#action").val("EDIT");
        $("#btn_save").val("Save");
}


function submitDep(loc_id) {
{{if $fetch}}
var data = "fetch=1&" + $("#frmPto").serialize();
        $.ajax({
        url:    'pto_policy_save_action.php',
                type:   'POST',
                data:   data,
                cache:  false,
                error:  function() {
                jAlert("Failed load policies.", "PTO Policy");
                },
                success: function(v) {
                loadSetup('pto_policy_list.php?loc_id='+ loc_id, 'PTO Policy');
                }

        });
{{ else}}
$("#frmPto").submit();
{{/if}}
}
        </script>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                        <h1>PTO Policies</h1>
                    </td></tr>
            </table>
            {{/if}}
           
            <div id='technology_skills_list'>
                {{include file="table.pto.list.html"}}
            </div>
        </div>
    </body>

</html>
