 <script>


         $(document).ready(function() {
         // Tooltip only Text
         $('.masterTooltip').hover(function(){
                 // Hover over code
                 var title = $(this).attr('title');
                 $(this).data('tipText', title).removeAttr('title');
                 $('<p class="tooltip"></p>')
                 .text(title)
                 .appendTo('body')
                 .fadeIn('slow');
         }, function() {
                 // Hover out code
                 $(this).attr('title', $(this).data('tipText'));
                 $('.tooltip').remove();
         }).mousemove(function(e) {
                 var mousex = e.pageX + 20; //Get X coordinates
                 var mousey = e.pageY + 10; //Get Y coordinates
                 $('.tooltip')
                 .css({ top: mousey, left: mousex })
         });
         });

        var rowCount = 0;
        var gCount = 0;
        var sCount = 0;
        var polCount = 0;
        function addMoreRows(frm) {
        rowCount ++;
        gCount ++;

        var recRow = '<p id="rowCount'+rowCount+'" style="color: #111111"><tr><td class="pt3 pb5 pL10 bdrbtm4">Tiers - <input name="txtTierNew[]" type="text" maxlength="120" size="10" title="Enter a name for the PTO Tier." class="masterTooltip"/></td><td> Leaves - <input name="txtLeavesNew[]" type="text"  maxlength="120" size="4" title="Enter the number of PTO days provided for this Tier." class="masterTooltip"/></td><td> Max Service - <input name="txtServiceNew[]" size="2" type="text" maxlength="2" title="Enter the maximum number of years service for this tier before moving to the next tier.  Leave empty if there is no next tier" class="masterTooltip" /></td></tr> <a href="javascript:void(0);" onclick="removeRow('+rowCount+');">Delete</a></p>';

         jQuery('#addedRows2').append(recRow);
         $('#tbl_pto .hideme').show();
         $('#tierCntNew').val(gCount);
        }

        
        function removeRow(removeNum) { 

        jQuery('#rowCount'+removeNum).remove();
        gCount --;
        $('#tierCntNew').val(gCount);
        if(gCount == 0)
            $('#tbl_pto .hideme').hide();
        }

        

        jQuery(function($){

         $('#tbl_pto .hideme').hide();
       
        });
        function deletTiers(id,loc_id) {

        jAlert(id,loc_id);
        return;

        jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the Tier?</b>', "PTO Policy",
                function(returnvalue) {
                if (returnvalue) {
                        
                        $("#hdn_tier_id").val(id);
                        $("#tierAction").val("DELETE");
                        //$("#frmPto").submit();
                        submitDep(loc_id);
                }
                }
        );
        }
        function savePol(loc_id) {

        jConfirm('<br><h1>Are you sure?</h1><br><b>You want save?</b>.', "PTO Policy",
                function(returnvalue) {
                if (returnvalue) {
                
                    $("#tierAction").val("SAVE TIERS");
                    //$("#frmPto").submit();
                    submitDep(loc_id);
                }
                }
        );
        }
        function editPol(loc_id) {
        jConfirm('<br><h1>Are you sure?</h1><br><b>You want edit?</b>.', "PTO Policy",
                function(returnvalue) {
                if (returnvalue) {
                
                    $("#tierAction").val("EDIT");
                    //$("#frmPto").submit();
                    submitDep(loc_id);
                }
                }
        );
        }


function submitDep(loc_id) {
{{if $fetch}}
var data = "fetch=1&" + $("#frmTiers").serialize();
        $.ajax({
        url:    'pto_policy_save_action.php',
                type:   'POST',
                data:   data,
                cache:  false,
                error:  function() {
                jAlert("Failed load policies.", "PTO Policy");
                },
                success: function(v) {
                //loadSetup('pto_policy_list.php?loc_id='+ loc_id, 'PTO Policy');
                jAlert('im here');
                }

        });
{{ else}}
$("#frmTiers").submit();
{{/if}}
}
        </script>
<div id='dProjectMemberEdit'>
    <form method="post" action="pto_policy_save_action.php?loc_id={{$loc_id}}" id="frmTiers" name="frmTiers">
    <table cellpadding="0" cellspacing="0" border="0" highlight="on" id="tbl_pto" width="500">
        <input type="hidden" name="tierCntNew" id="tierCntNew">
        <input type="hidden" name="dtierCnt" id="dtierCnt" value="{{$dtierCnt}}">
        <input type="hidden" name="loc_id" id="loc_id" value="{{$loc_id}}">
        <input type="hidden" name="pol_id" id="pol_id" value="{{$pol_id}}">
        <input type="hidden" name="hdn_tier_id" id="hdn_tier_id">
        <input type="hidden" name="tierAction" id="tierAction">
        <!--<tr>
            <th colspan="4" class="aleft">PTO Policies</th>
            <th class="aright pt3 pb5 pL10">&nbsp;</th>
        </tr>-->
         <tr><td colspan='5'><table><div id="addedRows2"></div></table></td></tr>
         <!--<tr class='hideme'><td colspan='5'><input type="button" class="buttonNew"  name="save_tier" value="Save" onclick="savePol({{$loc_id}})" ></td></tr>-->
        <tr id='top'>
            <th class="aleft" style="font-size:12px;" title="Enter a name for the PTO Tier." >Tiers</th>
            <th class="aleft" style="font-size:12px;" title="Enter the number of PTO days provided for this Tier." >PTO Days</th>
            <th class="aleft" style="font-size:12px;" title="Enter the maximum number of years service for this tier before moving to the next tier.  Leave empty if there is no next tier" >Max Service</th>
            <th align='right'> <input type="button" class="buttonNew"  id="btn_add_tier"onclick="addMoreRows(this.form)" value='Add New Tier'></th>
            </tr>
            <tr><td height="10px"></td></tr>
        {{if $dtierCnt > 0 }}
        {{foreach from=$tier_detail item=item}}
        <tr>
            <input type="hidden" name = "txtIDs[]" value="{{$item.id}}">
            <td class="aleft" id="name-{{$item.id}}"><input name="txtTier[]" type="text" size="15px"  maxlength="120" value = "{{$item.time_period}}"></td>
            <td class="aleft" id="name-{{$item.id}}"><input name="txtLeaves[]" type="text"  maxlength="120" style="width:60px" value="{{$item.leaves}}"></td>
            <td class="aleft" id="name-{{$item.id}}"><input name="txtService[]" type="text" maxlength="2" style="width:15px" value="{{$item.max_service}}"></td>
            <td class="pt3 pb5 pL10 bdrbtm4">
               
                <a href="javascript:;" onclick="deletTiers({{$item.id}},{{$loc_id}})" class="tasktype-edit imglink" id="dep-delete" title='Delete'>
                    <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                </a>
            </td>
        </tr>
        <tr><td colspan='5'><table><div id="addedRows2"></div></table></td></tr>
        {{/foreach}}
        {{/if}}
        {{if $dtierCnt > 0 }}
            <tr><td height="10px"></td></tr>
            <tr><td colspan='4' align="center">
                <input type="button"class="buttonNew"  name="edit_tier" value="Save" onclick="editPol({{$loc_id}})" >
                <!--<a href="javascript:closePopup();"><input type="button" class="buttonNew" name="cancel_user_details" id="Cancel" value="Cancel"></a>-->
            </td></tr>
              <tr><td height="10px"></td></tr>
        {{/if}}
    </table>
</form>
</div>