{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
		<script type="text/javascript" language="javascript">
		jQuery(function($){ 
		    $("#from,#to").click(function(){
				$("input[name=month_year]").val("");
				if($("input[name=report_type]:checked").val() == "month"){
					$("input[type=radio]:eq(1)").attr("checked",true);
				}
				
			});
		   $("input[name=month_year]").click(function(){
				$("#from,#to").val("");
				if($("input[name=report_type]:checked").val() == "custom_date"){
					$("input[type=radio]:eq(0)").attr("checked",true);
				}
				
			});
			$('#datepicker').datepicker({
			showButtonPanel: true,
			changeMonth: true,
	        changeYear: true,
			dateFormat: 'm/01/yy' 
		
			});
			$("input.datepicker").datepicker({
					changeMonth: true,
					changeYear: true
					
				 
			});
			
			$("input[name=report_type]").click(function(){
			   
				if($("input[name=report_type]:checked").val() == "month"){
					$("input[name=from]").val("");
					$("input[name=to]").val("");
				}else if($("input[name=report_type]:checked").val() == "custom_date"){
					$("input[name=month_year]").val("");
				}
		    });
			$("#sel_client").change(function(){
				
                window.location.href = this.form.action + "?" + group_value() + $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize();
                return false;
            });
			$("#sel_project").change(function(){
				window.location.href = this.form.action + "?" + group_value() + $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
			$("#sel_subproject").change(function(){
				window.location.href = this.form.action + "?" + group_value() + $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
			$("#sel_user_id").change(function(){
				window.location.href = this.form.action + "?" + group_value() + $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
			$("#client_grp").click(function(){
				if($("#client_grp").is(':checked'))
				var c = 1;
				else var c = 0;
				if($("#project_grp").is(':checked'))
				var p = 1;
				else var p = 0;
				if($("#subproject_grp").is(':checked'))
				var sp = 1;
				else var sp = 0;
				if($("#users_grp").is(':checked'))
				var u = 1;
				else var u = 0;
				if($("#showdetails_grp").is(':checked'))
				var h = 1;
				else var h = 0;
				if($("#exportdetails_grp").is(':checked'))
				var x = 1;
				else var x = 0;
				
				var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
				
				
				window.location.href = this.form.action + "?"+ grp + $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
			$("#project_grp").click(function(){
			
				if($("#client_grp").is(':checked'))
				var c = 1;
				else var c = 0;
				if($("#project_grp").is(':checked') || $("#subproject_grp").is(':checked')){
					$("#project_grp").attr('checked',true);
					var p = 1;
				}
				else var p = 0;
				if($("#subproject_grp").is(':checked'))
				var sp = 1;
				else var sp = 0;
				if($("#users_grp").is(':checked'))
				var u = 1;
				else var u = 0;
				if($("#showdetails_grp").is(':checked'))
				var h = 1;
				else var h = 0;
				if($("#exportdetails_grp").is(':checked'))
				var x = 1;
				else var x = 0;
				
				var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
				
				window.location.href = this.form.action + "?"+grp+"&" + $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
			$("#subproject_grp").click(function(){
			
				if($("#client_grp").is(':checked'))
				var c = 1;
				else var c = 0;
				if($("#project_grp").is(':checked')){
					var p = 1;
				}else{ 
					var p = 1;
					if($("#subproject_grp").is(':checked'))
					$("#project_grp").attr('checked',true);
				}
				if($("#subproject_grp").is(':checked'))
				var sp = 1;
				else var sp = 0;
				if($("#users_grp").is(':checked'))
				var u = 1;
				else var u = 0;
				if($("#showdetails_grp").is(':checked'))
				var h = 1;
				else var h = 0;
				if($("#exportdetails_grp").is(':checked'))
				var x = 1;
				else var x = 0;
				
				var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
				
				window.location.href = this.form.action + "?"+ grp + $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
			
			$("#users_grp").click(function(){

				if($("#client_grp").is(':checked'))
				var c = 1;
				else var c = 0;
				if($("#project_grp").is(':checked'))
				var p = 1;
				else var p = 0;
				if($("#subproject_grp").is(':checked'))
				var sp = 1;
				else var sp = 0;
				if($("#users_grp").is(':checked'))
				var u = 1;
				else var u = 0;
				if($("#showdetails_grp").is(':checked'))
				var h = 1;
				else var h = 0;
				if($("#exportdetails_grp").is(':checked'))
				var x = 1;
				else var x = 0;
				
				var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
			
				window.location.href = this.form.action + "?" +grp+ $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });

			$("#showdetails_grp").click(function(){

				if($("#client_grp").is(':checked'))
				var c = 1;
				else var c = 0;
				if($("#project_grp").is(':checked'))
				var p = 1;
				else var p = 0;
				if($("#subproject_grp").is(':checked'))
				var sp = 1;
				else var sp = 0;
				if($("#users_grp").is(':checked'))
				var u = 1;
				else var u = 0;
				if($("#showdetails_grp").is(':checked'))
				var h = 1;
				else var h = 0;
				if($("#exportdetails_grp").is(':checked'))
				var x = 1;
				else var x = 0;
				
				var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
			
				window.location.href = this.form.action + "?" +grp+ $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
			$("#include_closed").click(function(){

				if($("#include_closed").is(':checked'))
				var include_closed = 1;
				else var include_closed = 0;
				if($("#client_grp").is(':checked'))
				var c = 1;
				else var c = 0;
				if($("#project_grp").is(':checked'))
				var p = 1;
				else var p = 0;
				if($("#subproject_grp").is(':checked'))
				var sp = 1;
				else var sp = 0;
				if($("#users_grp").is(':checked'))
				var u = 1;
				else var u = 0;
				if($("#showdetails_grp").is(':checked'))
				var h = 1;
				else var h = 0;
				if($("#exportdetails_grp").is(':checked'))
				var x = 1;
				else var x = 0;
				
				var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
				
				window.location.href = this.form.action + "?" +grp+ $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
            $("#include_pto").click(function(){

                if($("#include_pto").is(':checked'))
                var include_pto = 1;
                else var include_pto = 0;
                if($("#client_grp").is(':checked'))
                var c = 1;
                else var c = 0;
                if($("#project_grp").is(':checked'))
                var p = 1;
                else var p = 0;
                if($("#subproject_grp").is(':checked'))
                var sp = 1;
                else var sp = 0;
                if($("#users_grp").is(':checked'))
                var u = 1;
                else var u = 0;
				if($("#showdetails_grp").is(':checked'))
				var h = 1;
				else var h = 0;
				if($("#exportdetails_grp").is(':checked'))
				var x = 1;
				else var x = 0;
				
				var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
            
                window.location.href = this.form.action + "?" +grp+ $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
            $("#exportdetails_grp").click(function(){

                if($("#include_pto").is(':checked'))
                var include_pto = 1;
                else var include_pto = 0;
                if($("#client_grp").is(':checked'))
                var c = 1;
                else var c = 0;
                if($("#project_grp").is(':checked'))
                var p = 1;
                else var p = 0;
                if($("#subproject_grp").is(':checked'))
                var sp = 1;
                else var sp = 0;
                if($("#users_grp").is(':checked'))
                var u = 1;
                else var u = 0;
				if($("#showdetails_grp").is(':checked'))
				var h = 1;
				else var h = 0;
				if($("#exportdetails_grp").is(':checked'))
				var x = 1;
				else var x = 0;
				
				var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
            
                window.location.href = this.form.action + "?" +grp+ $("#sel_client,#sel_project,#sel_subproject,#sel_user_id,#from,#to,.report_type,#datepicker,#client_grp,#project_grp,#subproject_grp,#users_grp,#showdetails_grp,#exportdetails_grp,#include_closed,#include_pto").serialize()
                return false;
            });
		 });
		 function group_value(){
			if($("#client_grp").is(':checked'))
			var c = 1;
			else var c = 0;
			if($("#project_grp").is(':checked'))
			var p = 1;
			else var p = 0;
			if($("#subproject_grp").is(':checked'))
			var sp = 1;
			else var sp = 0;
			if($("#users_grp").is(':checked'))
			var u = 1;
			else var u = 0;
			if($("#showdetails_grp").is(':checked'))
			var h = 1;
			else var h = 0;
			if($("#exportdetails_grp").is(':checked'))
			var x = 1;
			else var x = 0;
				
			var grp = "c="+c+"&p="+p+"&sp="+sp+"&u="+u+"&h="+h+"&x="+x+"&";
			return grp;			
		 }
		</script>
		
    </head>

    <body>
	    {{include file="reports.common.html"}}
        <div id="content">
            {{include file="message.html"}}

            <table cellpadding="2" cellspacing="2" border="0" width="100%">
                <tr>
                    <td>
                        <h1>Reports</h1>
                    </td>
				</tr>
				<tr>
					<td>	
                    <form action="report.list.php" method="get" id="frm_filter">
					     <input type="hidden" value="{{$smarty.get.c}}" name="c">
					     <input type="hidden" value="{{$smarty.get.p}}" name="p">
					     <input type="hidden" value="{{$smarty.get.sp}}" name="sp">
					     <input type="hidden" value="{{$smarty.get.u}}" name="u">
                         <select name="client_id" id="sel_client">
							<option value="0">-- Select client --</option>
							{{foreach item=c from=$clients}}
							<option value="{{$c->getId()}}" {{if $client && $c->getId() eq $client->getId()}}selected{{/if}}>{{$c->getName()}}</option>
							{{/foreach}}
						</select>
                         <select name="project_id" id="sel_project">
						    <option value="0">-- Select project --</option>
						    {{if $projects}}
						    {{foreach item=p from=$projects}}
						    <option client_id="{{$p->getClientId()}}" value="{{$p->getId()}}" {{if $project && $p->getId() eq $project->getId()}}selected{{/if}}>{{$p->getName()}}</option>
						    {{/foreach}}
						    {{/if}}
						</select>
                        <select name="subproject_id" id="sel_subproject">
						    <option value="0">-- Select subproject --</option>
						    {{if $subprojects}}
						    {{foreach item=sp from=$subprojects}}
						    <option client_id="{{$sp->getClientId()}}" value="{{$sp->getId()}}" {{if $subproject && $sp->getId() eq $subproject->getId()}}selected{{/if}}>{{$sp->getName()}}</option>
						    {{/foreach}}
						    {{/if}}
						</select>
						
						{{if $loginuser->isAdmin()}}
                            <select name="user_id" id="sel_user_id">
                                <option value="0">--Show reports by all users --</option>
                                {{foreach item=i from=$users}}
                                <option value="{{$i->getId()}}" {{if $smarty.get.user_id eq $i->getId()}}selected{{/if}}>{{$i->getName()}}</option>
                                {{/foreach}} 
                            </select>
					{{else}}
						{{if $userslist}}
							<select name="user_id" id="sel_user_id">
                                <option value="0">--Show reports by all users --</option>
                                {{foreach item=i from=$userslist}}
                                <option value="{{$i.id}}" {{if $smarty.get.user_id ==  $i.id}}selected{{/if}}>{{$i.name}}</option>
                                {{/foreach}}
                            </select>	
						{{/if}}	
					{{/if}}
					</td>
					
				</tr>
				<tr>
				<tr>
					<td>  
						<input type="radio" name="report_type" class="report_type" value="month" {{if $smarty.get.report_type == 'month' || $smarty.get.report_type == ''}}checked{{/if}}>
						Select Month & Year
						<input type="text" name="month_year" value="{{ if $smarty.get.eport_type == 'month' ||$smarty.get.eport_type == ''}} {{ if $smarty.get.month_year}} {{$smarty.get.month_year|trim}} {{else}} {{$smarty.now|date_format:'%m/01/%G'|trim}} {{/if}} {{/if}}" id="datepicker">
						<input type="radio" name="report_type" class="report_type" value="custom_date" {{if $smarty.get.report_type == 'custom_date'}}checked{{/if}}>
						Select Date Range
						From : <input type="text" name="from"  id="from" value="{{$smarty.get.from}}" class="datepicker">
						To :<input type="text" name="to" id="to" value="{{$smarty.get.to}}" class="datepicker">
					</td>
                </tr>
				<tr>
                    <td class="vamiddle" colspan="8">
					<fieldset style="float:left;">
					    <legend>Inclusions</legend>
						<input type="checkbox" name="include_closed" id="include_closed" value="1" {{if $smarty.get.include_closed}} checked="checked" {{/if}}>Include Closed Projects
						<input type="checkbox" name="include_pto" id="include_pto" value="1" {{if $smarty.get.include_pto}} checked="checked" {{/if}}>Include PTO
					</fieldset>
					<fieldset style='float:left;'>
					    <legend>Group by</legend>
						<input type="checkbox" name="grp_by[]" id="users_grp" value="users_grp" {{ foreach from=$form_values.grp_by item=grp_value}} {{if $grp_value eq 'users_grp'}}checked{{/if}} {{/foreach}}>User
						<input type="checkbox" name="grp_by[]" id="client_grp" value="client_grp" {{ foreach from=$form_values.grp_by item=grp_value}} {{if $grp_value eq 'client_grp'}}checked{{/if}} {{/foreach}} >Client 
						<input type="checkbox" name="grp_by[]" id="project_grp" value="project_grp"{{ foreach from=$form_values.grp_by item=grp_value}} {{if $grp_value eq 'project_grp'}}checked{{/if}} {{/foreach}}>Project
						<input type="checkbox" name="grp_by[]" id="subproject_grp" value="subproject_grp" {{ foreach from=$form_values.grp_by item=grp_value}} {{if $grp_value eq 'subproject_grp'}} checked{{/if}} {{/foreach}}>Sub project
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="grp_by[]" id="showdetails_grp" value="showdetails_grp" {{ foreach from=$form_values.grp_by item=grp_value}} {{if $grp_value eq 'showdetails_grp'}} checked{{/if}} {{/foreach}}>Show Details
					</fieldset>
					<input style='float:right;' type="submit" value="Show reports">
					</td>
                </tr>
            </table>
			<div style="float:right;"><input type="checkbox" name="grp_by[]" id="exportdetails_grp" value="exportdetails_grp" {{ foreach from=$form_values.grp_by item=grp_value}} {{if $grp_value eq 'exportdetails_grp'}} checked{{/if}} {{/foreach}}>Include Task Details<a target="_blank" href="report.list.php?excel=1&c={{ $smarty.get.c}}&p={{ $smarty.get.p}}&sp={{ $smarty.get.sp}}&u={{ $smarty.get.u}}&client_id={{if    $form_values.client_id}}{{$form_values.client_id}}{{else}}0{{/if}}&project_id={{if    $form_values.project_id}}{{$form_values.project_id}}{{else}}0{{/if}}&subproject_id={{if    $form_values.subproject_id}}{{$form_values.subproject_id}}{{else}}0{{/if}}&user_id={{ $smarty.get.user_id}}&month_year={{$form_values.month_year}}&from={{$form_values.from}}&to={{$form_values.to}}&report_type={{$form_values.report_type}}{{foreach from=$form_values.grp_by item=grp_value}}{{'&grp_by[]='}}{{$grp_value}}{{/foreach}} "> Export to excel</a></div> <br>
            {{include file="table.report.list.html"}}

    </body>

</html>
