{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence:: Setup</title>
        {{include file="css.and.js.html"}}
        <link href="css/setup.css" type="text/css" rel="stylesheet">
        <style>
            div.centered {
                margin:0 auto;
                text-align:left;
                width:880px;
            }
            a.link {
                font-size: 20pt;
                font-weight: bold;
            }
            hr{
                color: #EEEEEE;
            }
            p{
                font-size: 10pt;
                font-weight: normal;
                text-align: left;
                color: #4D8F2C;
            }
            h2 {
                padding-left: 20px;
                font-size: 19px;
                font-style: italic;
            }
            .ui-state-hover a:hover{
                color: #ffffff;
            }
            .ui-widget-content {
                 /*border: 1px solid #EDEDED;*/
                 /*border: 1px solid #A6C9E2;*/
            }
        </style>
        <script>
            function popitup(url) {
                var popup=window.open(url,'Audit Log','height='+screen.height+',width='+screen.width+',toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
                if (popup == null)
                    alert('Please change your popup settings');
                else  {
                    popup.moveTo(0, 0);
                    popup.resizeTo(screen.width, screen.height);
                }
                if (window.focus) {popup.focus()}
                return false;
            }
            $(function() {
                $( "#accordion" ).accordion({ autoHeight: false });
            });
            
            function loadSetup(url,title) {

                // Below two lines are bug fixes for Setup-LicenseKey-Products
                if($(".ui-dialog").html() != '') $(".ui-dialog").remove();
                if($("#add-product").html() != '') $("#add-product").remove();


                $("#details").html("");
                if(title == 'EMAIL_BROADCAST') {
                    title = "<div>Email Broadcast<div style='float:right;font-size:13px;color: #FF0084;'><a href='javascript:;' onclick='popitup(\"email.broadcast.log.php\")'><b>Email Broadcast Logs</b></a></div></div>";
                    $("#header-text").html(""+title+"");
                }
                else {
                    $("#header-text").html(""+title+"");
                }
                 $.ajax({
                        url:    url,
                        type:   'POST',
                        data:   'fetch=1',
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load setup.","Setup");
                                },
                        success: function(v) {
                                    $("#details").html(v);
                                 }
                     
                    }); 
            }
        </script>
    </head>

    <body>
        {{include file="setup.common.html"}}
        <div id="content">
            {{include file="message.html"}}
                <br>
                <div style="width:1150px;">
                <div style="float:right;">
                <a href="javascript:;" onclick="popitup('auditlog.list.php')"><b>Review Activity Logs</b></a>
                </div>
                </div>
                <div id='accordion-panel'>
                    <div id="accID">
                        <div id='accordion-panel-left' class='accordion-column'>
                            <div id="accordion-header">&nbsp;</div>
                            <div id="accordion">
                                <h3><a href="#">Project</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('project.domain.list.php','Project Domain');">Domains</a><br>
                                    <a href='javascript:;' onclick="loadSetup('project.practice.list.php','Practice Area');">Practice Area</a><br>
                                    <a href='javascript:;' onclick="loadSetup('project.service.list.php','Service Type');">Service Type</a><br>
									 <a href='javascript:;' onclick="loadSetup('employee.project.role.list.php','Project Role');">Project Role</a>
                                </div>
                                <h3><a href="#">Office</a></h3>
                                <div>
                                   <a href='javascript:;' onclick="loadSetup('employeelocation.list.php','Employee Locations');">Employee Locations</a><br>
                                </div>
                                 <h3><a href="#">HR</a></h3>
                                <div>
                                    {{foreach item=e from=$employee_location}}
                                    {{if $e->getId() gt 1}}  
                                    <a href='javascript:;' onclick="loadSetup('pto_policy_list.php?loc_id={{$e->getId()}}','PTO Policies');">{{$e->getName()}}</a><br>
                                    {{/if}}
                                    {{/foreach}}
                                </div>
                                <h3><a href="#">Timesheet</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('tasktype.list.php','Task Types');">Task Types</a><br>
                                    <a href='javascript:;' onclick="loadSetup('standard.hours.list.php','Standard Hours');">Standard Hours</a><br>
                                </div>
                                <h3><a href="#">Members</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('employeetypes.list.php','Employee Types');">Employee Types</a><br>
                                    <a href='javascript:;' onclick="loadSetup('designation.list.php','Employee Designation');">Employee Designation</a><br>                                   
                                    <a href='javascript:;' onclick="loadSetup('department.list.php','Practice Areas');">Practice Area</a><br>
                                    <a href='javascript:;' onclick="loadSetup('product.knowledge.list.php','Product Knowledge');">Product Knowledge</a><br>
                                    <a href='javascript:;' onclick="loadSetup('technology.practice.list.php','Technology Practice');">Technology Practice</a><br>
                                    <a href='javascript:;' onclick="loadSetup('technology.skills.list.php','Technology Skills');">Technology Skills</a><br>
                                    <a href='javascript:;' onclick="loadSetup('training.skills.list.php','Training Skills');">Training Skills</a><br>
                                    <a href='javascript:;' onclick="loadSetup('events_list.php','Events');">Events</a><br>
                                </div>
                                <h3><a href="#">Repository</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('category.list.php','Project Document Types');">Project Document Types</a>
                                    <!--
                                    <a href='javascript:;' onclick="loadSetup('general.category.list.php','General Document Types');">General Document Types</a>
                                    -->
                                </div>
                                <!--
                                <h3><a href="#">Contact</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('contactgroups.list.php','Contact Groups')">Groups</a><br>
                                    <a href='javascript:;' onclick="loadSetup('contacttype.list.php','Contact Types')">Contact Types</a><br>
                                    <a href='javascript:;' onclick="loadSetup('communicationtype.list.php','Communication Types')">Communication Types</a><br>
                                </div>
                                -->
                                <h3><a href="#">Meeting</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('meetingtypes.list.php','Meeting Types')">Meeting Types</a>
                                </div>
                                <h3><a href="#">Calendar</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('colorcode.list.php','Calendar Color Selection')">Calendar Colors</a><br>
                                    <a href='javascript:;' onclick="loadSetup('user.colorcode.list.php','Member Calendar Color Selection')">Member Calendar Colors</a><br>
                                </div>
                                <h3><a href="#">Communication</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('email.broadcast.php','EMAIL_BROADCAST');">Email Broadcast</a>
                                </div>
                                <h3><a href="#">License Key</a></h3>
                                <div>
                                    <a href='javascript:;' onclick="loadSetup('products.list.php','Products')">Products</a><br>
                                    {{*<a href='javascript:;' onclick="loadSetup('licenseperiods.list.php','License Periods')">License Periods</a><br>*}}
									<a href='javascript:;' onclick="loadSetup('licensetypes.list.php','License Types')">License Types</a><br>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div id='detail-panel' class='accordion-column'>
                            <div id="accordion-header"><div id='header-text'>&nbsp;</div></div>
                            <div id='detail-list'>
                            <div id='details'>
                                <table width="100%">
                                    <tr>
                                        <td width="50%">
                                            <div align="center">
                                            <a class="link" href="#">Setup Area</a>
                                            <hr>
                                             <p>Click on left accordion menu, to manage the individual setup.</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {{include file="footer.html"}}
    </body>
</html>
