{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Action Items</title>
        {{include file="css.and.js.html"}}
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
    </head>

    <body>
        <script type="text/javascript" language="javascript">
            var SMT = '';
            function del_item(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the action item?</b>',"Action Items", function(r) {
                    if(r) {
                        $("#txtID").val(id);
                        $("#smtaction_edit").submit();
                    }
                });
            }    
            function select_filters() {
                $("#smt-filter").toggle();
            }
            function submit_filters() {
                var val = "?from_date="+$("#txtFromDate").val()+"&to_date="+$("#txtToDate").val();
                var item_status = '';
                $("input:checkbox[name='item_action[]']").each(function() {
                    if($(this).is(":checked") && $(this).val() == 'ALL') {
                        item_status = item_status + $(this).val();
                    }
                    else if($(this).is(":checked")) {
                        item_status = item_status + $(this).val() + '|';
                    }
                });
                window.location.href=val + "&status="+item_status;
            } 
            function showCommentBox(id,title) {
                if(id > 0) {
                    $("#smt_id").val(id);
                    $("#txtTitle").val('');
                    $("#txtComment").val('');
                    $("#smt_title").html('<b><i>'+title+'</i></b>');
                    SMT.dialog('open');
                }
            }
            var blnAll=false;
            jQuery(function($){
                $("input:checkbox[name='item_action[]']").click(function() {
                    var item_status = ''; 
                    if($(this).is(":checked") && $(this).val() == 'ALL') {
                        blnAll=true;
                        $("input:checkbox[name='item_action[]']").each(function(){
                            if($(this).is(":checked") && $(this).val() == 'ALL') {
                                $(this).attr('disabled',false);
                                item_status = item_status + $(this).val();
                            }
                            else {
                                $(this).attr('checked',false);
                                $(this).attr('disabled',true);
                            }
                        });
                    }
                    else {
                        blnAll=false;
                        $("input:checkbox[name='item_action[]']").each(function(){
                            $(this).attr('disabled',false);
                            if($(this).is(":checked")) {
                                item_status = item_status + $(this).val() + '|';
                            }
                        });
                    }
                    if(item_status != '') {
                        //submit_filters();
                    }
                });
                $("div.dialog").dialog({
                    autoOpen: false,
                    modal: true,
                    resizable: false
                });

               SMT = $('#smt-comm').dialog("option", {
                    buttons: [
                        {
                            text: 'Add Notes',
                            click:  function(){
                                        var $this = $(this);

                                        if($("#txtTitle").val() == "") {
                                            jAlert("Please enter the title!","SMT Tracker");
                                            $("#txtTitle").focus();
                                            return false;
                                        }
                                        if($("#txtComment").val() == "") {
                                            jAlert("Please enter the comments!","SMT Tracker");
                                            $("#txtComment").focus();
                                            return false;
                                        }
                                        $("#frmSMTcomm").submit(); 
                                        $(this).dialog("close");
                                    }
                        },
                        {
                            text: "Cancel",
                            click: function() {
                                        $(this).dialog("close");
                                    }
                        }
                    ],
                    width: '400px'
                });
 
            });
        </script>
        {{include file="smtaction.common.html"}}
        <div id="nav2">
        {{if $loginuser->isAdmin() || $loginuser->isSMTMember()}}
            <a href="smtaction.add.php" class="linkbutton">Add Action Item</a>
            <a class='linkbutton' href="smtaction.list.php?excel=1&status={{$status_str}}&from_date={{$from_date}}&to_date={{$to_date}}&publish=1">Publish Tracker</a>
        {{/if}}
        </div>
        <div id="content" class="d-block-table">
            {{include file="message.html"}}
            <form action="smtaction.list.php" method="get" id="frm_filter">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="20%" class="pt3 pb5 pL10"><h1>Action Items</h1></td>
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                        From Date <input type="text" name="from_date" id="txtFromDate" value="{{$from_date|format_date}}" class="datepicker"/>&nbsp;&nbsp;
                        To Date <input type="text" name="to_date" id="txtToDate" value="{{$to_date|format_date}}" class="datepicker"/>&nbsp;&nbsp;
                        <input type='button' name='btnSubmit' id='btnSubmit' value='Apply Filter' onclick='submit_filters()'/>
                    </td>
                </tr>
                <tr id='smt-filter' style=''>
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%" colspan='2'>
                        <a href="javascript:;">Status</a>
                        <input type='checkbox' name='item_action[]' id='all' value='ALL' {{foreach item=m from=$status}}{{if $m eq 'ALL'}}checked{{/if}}{{/foreach}}/>
                        <label for='all'>All Action Items</label>&nbsp;&nbsp;
                        <input type='checkbox' name='item_action[]' id='active' value='Active'{{foreach item=m from=$status}}{{if $m eq 'Active'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='active'>Active</label>&nbsp;&nbsp;
                        <input type='checkbox' name='item_action[]' id='pending' value='Pending' {{foreach item=m from=$status}}{{if $m eq 'Pending'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='pending'>Pending</label>&nbsp;&nbsp;
                        <input type='checkbox' name='item_action[]' id='onhold' value='On Hold' {{foreach item=m from=$status}}{{if $m eq 'On Hold'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='onhold'>On Hold</label>&nbsp;&nbsp;
                        <input type='checkbox' name='item_action[]' id='complete' value='Complete' {{foreach item=m from=$status}}{{if $m eq 'Complete'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='complete'>Complete</label>&nbsp;&nbsp;
                        <input type='checkbox' name='item_action[]' id='closed' value='Closed' {{foreach item=m from=$status}}{{if $m eq 'Closed'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='closed'>Closed</label>
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="smtaction.list.php?excel=1&status={{$status_str}}&from_date={{$from_date}}&to_date={{$to_date}}">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            </form>
            <br>
            <input type="hidden" name="action" id="action" value="DELETE"/>
            <input type="hidden" name="id" id="txtID"/>
            {{include file="table.smtaction.list.html"}}
        </div>
         {{include file="footer.html"}}
    </body>
</html>
