{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Add Action Item</title>
        {{include file="css.and.js.html"}}
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
        <script type="text/javascript" language="javascript">
            var userId = {{$user_id}};
            jQuery(function($){
                $("#btnAdd").click(function(){
                    var blnFound=false;
                    var today = false;
                    var due_date = false;
                    if($("#txtDueDate").val() == "") {
                        $("#txtDueDate").focus();
                        jAlert("Please specify a valid due date!","Add Action item");
                        return false;
                    }
                    today = new Date();
                    parts = ($('#txtDueDate').val()).split('-');
                    due_date = new Date(parts[0] + ' ' + parts[1] + parts[2]);
                    days = eval(due_date.getTime() - today.getTime());
                    if (days <= 0) {
                        $("#txtDueDate").focus();
                        jAlert("Please specify a valid due date in the future!","Add Action item");
                        return false;
                    }
                    if($("#txtTitle").val() == "") {
                        $("#txtTitle").focus();
                        jAlert("Please enter the action item title!","Add Action item");
                        return false;
                    }
                    $('input[name="users[]"]').each(function(){
                        if(this.checked) {
                            blnFound=true;
                        }
                    });
                    if(blnFound) {
                        $("#smtaction_edit").submit();
                    } 
                    else {
                        jAlert("Please select action item owner(s)!","Add Action item");
                    }
                    return false;
                });
            });
        </script>
    </head>
    <body>
        {{include file="smtaction.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
                    <h1>Add action item</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="smtaction.save.action.php" method="post" id="smtaction_edit" name="smtaction_edit">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Title *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="textbox" name="txtTitle" id="txtTitle" class="ui-widget-content ui-corner-all expand2fit" value="{{$post.txtTitle}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Description </th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtDescription" id="txtDescription" class="expand2fit" rows="15" cols="40">{{$post.txtDescription}}</textarea> 
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Due Date *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="text" name="txtDueDate" id="txtDueDate" value="{{$post.txtDueDate|format_date}}" class="datepicker"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Status *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select id="txtStatus" name="txtStatus">
                                <option value="Active">Active</option>
                                <option value="Pending">Pending</option>
                                <option value="On Hold">On Hole</option>
                                <option value="Complete">Complete</option>
                                <option value="Closed">Closed</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Assigned To *</td>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <div class="inlineblockgroup">
                                {{if $post.users}}{{assign var="pu" value=$post.users}}{{else}}{{assign var="pu" value=$emptyarray}}{{/if}}
                                {{foreach item=user from=$users}}
                                <span class="inlineblock">
                                   <input type="checkbox" id="user{{$user.id}}" name="users[]" 
                                    value="{{$user.email}}" class="vamiddle" />
                                    <label for="user{{$user.id}}" class="vamiddle">{{$user.name}} &lt;{{$user.email}}&gt;</label>
                                </span>
                                {{/foreach}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;" class="pt3 pb5 pL10 bdrbtm4">
                            <input type="button" name="btnAdd" id="btnAdd" value="Add action item"/>
                            <a href="smtaction.list.php" class="linkbutton" vText='Cancel'>Cancel and go back to action items list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
         {{include file="footer.html"}}
    </body
</html>
    
