{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: View Action Item</title>
        {{include file="css.and.js.html"}}
    </head>
    <body>
        <script type="text/javascript" language="javascript">
            var SMT = '';
            function showCommentBox(id,title) {
                if(id > 0) {
                    $("#smt_id").val(id);
                    $("#txtTitle").val('');
                    $("#txtComment").val('');
                    $("#smt_title").html('<b><i>'+title+'</i></b>');
                    SMT.dialog('open');
                }
            }
            var blnAll=false;
            jQuery(function($){
                $("div.dialog").dialog({
                    autoOpen: false,
                    modal: true,
                    resizable: false
                });

               SMT = $('#smt-comm').dialog("option", {
                    buttons: [
                        {
                            text: 'Add Notes',
                            click:  function(){
                                        var $this = $(this);

                                        if($("#txtTitle").val() == "") {
                                            jAlert("Please enter the title!","SMT Tracker");
                                            $("#txtTitle").focus();
                                            return false;
                                        }
                                        if($("#txtComment").val() == "") {
                                            jAlert("Please enter the comments!","SMT Tracker");
                                            $("#txtComment").focus();
                                            return false;
                                        }
                                        $("#frmSMTcomm").submit(); 
                                        $(this).dialog("close");
                                    }
                        },
                        {
                            text: "Cancel",
                            click: function() {
                                        $(this).dialog("close");
                                    }
                        }
                    ],
                    width: '400px'
                });
 
            });
        </script>
        {{include file="smtaction.common.html"}}
        {{if $loginuser->isAdmin() || $loginuser->isSMTMember()}}
        <div id="nav2">
            <a href="smtaction.list.php" class="linkbutton">View all action items</a>
            <a href="smtaction.edit.php?id={{$item->getId()}}" class="linkbutton">Edit action item</a>
        </div>
        {{/if}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <form action="smtaction.save.action.php" method="post" id="smtaction_edit" name="smtaction_edit">
                <input type="hidden" name="id" id="txtId" value="{{$item->getId()}}"/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr><td class="pt3 pb5 pL10 pR5">
                        <h1>{{$item->getTitle()}}</h1>
                        <div class='d-dashed'></div>
                        <div style="border-bottom: 1px dashed #C7C7C7;margin: 10px 0pt 15px; padding: 5px 5pt;"> 
                            <div style="color: #454545; font-size: 11px; margin-bottom: 10px;">
                            Due By: {{$item->getDueDate()}} {{$sep}} Status: {{$item->getStatus()}}<br>
                            Responsibility: {{$item->getAssignedToForDisplay(' , ')}} 
                            </div>
                        </div>
                    </td></tr>
                    <tr>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <div style="margin-bottom: 20px;padding-left:10px; padding-right:10px;">
                                {{$item->getDescription()}}
                            </div>
                        </td>
                    </tr>
                </table>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <h3>{{$item->getTotalComments()}} Notes</h3>
                                <div class="reply"> <span class="comment-reply-link">
                                <a onclick="showCommentBox({{$item->getId()}},'{{$item->getTitle()}}');" href="javascript:;">Add Notes</a>
                                </span></div>
                            </td>
                        </tr>
                        {{if $item->getComments()}}
                        {{foreach item=m from=$item->getComments()}}
                           <tr>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    <div class="">
                                        <div style="padding-top:10px;color:#454545">
                                            {{$m->getComment()}}
                                        </div>
                                        <div id='comm-{{$m->getId()}}' style='color:#777777; font-size: 0.75em;border-top:1px solid #fff;padding-top:5px;padding-bottom:5px;'>
                                            {{$m->getCreatedBy()}} {{$sep}} {{$m->getCreateDate()}}
                                        </div>
                                    </div>
                                </td>
                            </tr> 
                        {{/foreach}}
                        {{/if}}
                    </table>
            </form>
            <div id='smt-comm' class='dialog' title='Add Notes'>
            <form name='frmSMTcomm' id='frmSMTcomm' method='post' action='smtaction.save.action.php'>
                <input type='hidden' id='smt_id' name='smt_id'/>
                <input type='hidden' id='action' name='action' value='COMMENTS'/>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" highlight="off" id="tbl_tasks">
                    <tr>
                        <td id='smt_title' class="aleft pt3 pb5 pL10 bdrbtm4"></td>
                    </tr>
                    <tr>
                        <td class="aleft pt3 pb5 pL10 bdrbtm4"><textarea id="txtComment" name="txtComment" rows="7" class="expand2fit"></textarea></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
         {{include file="footer.html"}}
    </body
</html>
    
