{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence:: Standard Report List</title>
        {{include file="css.and.js.html"}}
    </head>
    <body>
        {{include file="timecard.report.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'>
                <tr>
                    <td width="20%" class="pt3 pb5 pL10">
                        <h1>Standard Reports</h1>
                        <div id='header-menu' style="float:right">
                            <ul id='menu-level-1' class='menu-ul'>
                                <li id='liStandard' class='active'>
                                    <a href='javascript:;' id='tabStandard'>Standard Report</a>
                                </li>
                                <li id='liSummary' class=''>
                                    <a href='timecard.report.php?tab=summary' id='tabSummary'>Ad-Hoc Report</a>
                                </li>
                                <li id='liUtil' class=''>
                                    <a href='timecard.report.php?tab=util' id='tabUtil'>Utilization Report</a>
                                </li>
                            </ul>
                        </div>
                        <div style='clear:both;'></div>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            <table cellspacing="0" cellpadding="0" width="100%" border="0" id="tbl_tasks" class="sortable111" highlight="on">
                <thead>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="40%">Name</th>
                        <th class="aleft pt3 pb5 pL10 {sorter:false}">Download</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                           <a href='user.list.report.php'>Staffing Report</a>
                        </td>
                        <td class="pt3 pb5 pL10 bdrbtm4 nobg">
                           <a href='user.list.report.php?excel=1'><img src="img/icons/excel32x32.png" title="Download as Excel file"></a>
                           <a href='user.list.report.php?pdf=1'><img src="img/icons/pdf32x32.png" title="Download as PDF file"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                           <a href='license.list.php'>License Report</a>
                        </td>
                        <td class="pt3 pb5 pL10 bdrbtm4 nobg">
                           <a href='license.list.php?excel=1'><img src="img/icons/excel32x32.png" title="Download as Excel file"></a>
                           <a href='license.list.php?pdf=1'><img src="img/icons/pdf32x32.png" title="Download as PDF file"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
