{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
        <style>
            div.centered {
                margin:0 auto;
                text-align:left;
                width:580px;
            }
            a.link {
                font-size: 20pt;
                font-weight: bold;
            }
            hr{
                color: #EEEEEE;
            }
            p{
                font-size: 10pt;
                font-weight: normal;
                text-align: left;
                color: #4D8F2C;
            }
            h2 {
                padding-left: 20px;
                font-size: 19px;
                font-style: italic;
            }
        </style>
            </head>

    <body>
    <script>
            $(function() {
               $("#btnAdd").click(function(){
                    if($("#standard_hours").val() == '') {
                        jAlert("Please enter standard hours.", "Standard Hours");
                        $("#standard_hours").focus();
                        return false;
                    }
                    submitHrs();
                }); 
            });
            function submitHrs() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmHrs").serialize();
                    $.ajax({
                        url:    'standard.hours.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load standard hours.","Standard Hours");
                                },
                        success: function(v) { 
                                    loadSetup('standard.hours.list.php','Standard Hours');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmHrs").submit();
                {{/if}}
            }
        </script>

        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="setup.common.html"}}
        {{/if}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Standard Hours</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            {{/if}}
            <br> 
            <form method="post" action="standard.hours.save.action.php" id="frmHrs" name="frmHrs">
            <input type='hidden' name='id' id='hdn_id' value='{{$hours.id}}'/>
            <div>
                <div class="centered">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="off" id="tbl_tasks" style="border: 1px solid #f0f0f0">
                        <tr>
                            <th class="pt3 pb5 pL10">Standard Hours </th>
                            <td class="pt3 pb5 pL10 bdrbtm4">
                                <input type='text' name='standard_hours' id='standard_hours' value='{{$hours.standard_hours_in_mins}}' maxlength='5'/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='2' align='center' class='aceter pt3 pb5 pL10 bdrbtm4'>
                                <input type="button" name="btnAdd" id="btnAdd" value="Save standard hours"/>
                                {{if $fetch }}
                                {{else}}
                                <a href="setup.list.php" class="linkbutton" vText='Cancel'>Cancel go back to setup list</a>
                                {{/if}}
                            </td>
                        </tr>
                   </table>        
                </div>
            </div>
            </form>
        </div>
    </body>
</html>
