            {{if $users}}
			<table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%" highlight="on" class='sortable'>
                <thead>
                <tr>
                    <th class="aleft pt3 pb5 pL10">First Name</th>
                    <th class="aleft pt3 pb5 pL10">Last Name</th>
                    <th class="aleft pt3 pb5 pL10">Designation</th>
                    <th class="aleft pt3 pb5 pL10">Department</th>
                    <th class="aleft pt3 pb5 pL10">Location</th>
                    <th class="pt3 pb5 {sorter:false}" width='100px'>Is Trainer?</th> 
                    <th class="pt3 pb5 {sorter:false}" width='100px'>Is Timecard?</th> 
                    <th class="aleft pt3 pb5 pL10" width='150px'>Role</th>
                    <!--<th class="pt3 pb5" width='100px'>Blocked?</th> -->
                    <th class="aright pt3 pb5 pL10" width="150px">Registered date</th>
                    <th class="pt3 pb5 pL10 {sorter:false}" width="90px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{foreach item=user from=$users}}
                {{assign var="employee" value=$user->getEmployee()}}
                <tr>
                    <td class="pt3 pb5 pL10 bdrbtm4">
							<a href="user.detail.php?id={{$user->getId()}}">{{$user->getFirstName()}}</a>
                        {{if $user->isBlocked()}}
                        <span style="color:#FF0000;"><b>*</b></span>
                        {{/if}}
                    </td>
                    <td class="pt3 pb5 pL10 bdrbtm4">
                        <a href="user.view.php?id={{$user->getId()}}">{{$user->getLastName()}}</a>
                    </td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4">{{$employee->getDesignationName()}}</td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4">{{$employee->getDepartmentName()}}</td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4">{{$employee->getLocation()}}</td>
                    <td class="acenter pt3 pb5 pL10 bdrbtm4">
                        {{if $employee->IsTrainer() == '1'}}
                            <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" alt='Yes' title='Yes' />
                        {{else}}
                           <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" alt='No' title='No'/>
                        {{/if}}
                    </td>
                    <td class="acenter pt3 pb5 pL10 bdrbtm4">
                        {{if $employee->IsTimesheet() == '1'}}
                            <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" alt='Yes' title='Yes' />
                        {{else}}
                           <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" alt='No' title='No'/>
                        {{/if}}
                    </td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4">{{$user->user_role}}</td>
                    <!--<td class="acenter pt3 pb5 pL10 bdrbtm4">{{if $user->isBlocked()}}Yes{{else}}No{{/if}}</td>-->
                    <td class="aright pt3 pb5 pL10 bdrbtm4">{{$user->getRegisterDate()|date_format|default:"-"}}</td>
                    <td class="actions aright pt3 pb5 pL10 bdrbtm4">
                        <a href="user.edit.php?id={{$user->getId()}}" class='imglink' title='Edit'>
                           <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
                        </a> 
                       
						{{if !$role_status || $loginuser->getId() == 1}} 
                        {{if $user->isBlocked()}}
                        <a href="user.unblock.php?id={{$user->getId()}}" class='imglink' title='Unblock'>
                            <img src='img/icons/user-disable16x16.png' border='0' width='16' height='16' alt='Unblock'/>
                        </a>
                        {{else}}
                        <a href="user.block.php?id={{$user->getId()}}" class='imglink' title='Block'>
                            <img src='img/icons/user-enable16x16.png' border='0' width='16' height='16' alt='Block'/>
                        </a> 
                        {{/if}}
						 
						{{/if}}
                        
                        {{if false}}
                        <a href="user.delete.php?id={{$user->getId()}}" class='imglink' title='Delete'>
                            <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                        </a>
                        {{/if}}
                       
                        {{if $loginuser->isAdmin()}} 
                        <a href="task.timecard.php?user_id={{$user->getId()}}" class='imglink' title='View Timecard'>
                            <img src='img/icons/tasks.gif' border='0' width='16' height='16' alt='View Timecard'/>
                        </a>
                        {{/if}}
                        <a href="user.resetpassword.php?id={{$user->getId()}}" class='imglink' title='Reset Password'>
                            <img src='img/icons/change_psw.gif' border='0' width='10' height='11' alt='Reset Password'/>
                        </a>
                    </td>
                </tr>
                {{/foreach}}
            </table>
            
            <!-- Total Members -->
			<table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%" highlight="off">
                <tr><td colspan='3'>&nbsp;</td></tr>
                <tr>
                    <td class='submitted pt3 pb5 pL10'><b><i>Sub Total By Designation</i></b></td>
                    <td class='submitted pt3 pb5 pL10'><b><i>Sub Total By Department</i></b></td>
                    <td class='submitted pt3 pb5 pL10'><b><i>Sub Total By Location</i></b></td>
                </tr>
                <tr>
                    <td valign="top">
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <th class="aleft pt3 pb5 pL10">Designation</th>
                                <th class="acenter pt3 pb5 pL10 pR10" width='50px'>Total</th>
                            </tr>
                            {{assign var=totalD value=0}}
                            {{foreach item=e from=$employee->GetEmployeesTotalByDesignation()}}
                            <tr>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    {{$e.name}}
                                </td>
                                <td class="acenter pt3 pb5 pL10 bdrbtm4" width="50px">
                                    {{$e.total}}
                                </td>
                            </tr>
                            {{assign var=totalD value=$totalD+$e.total }}
                            {{/foreach}}
                        </table>
                    </td>

                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <th class="aleft pt3 pb5 pL10">Department</th>
                                <th class="acenter pt3 pb5 pL10 pR10" width='50px'>Total</th>
                            </tr>
                            {{assign var=totalDep value=0}}
                            {{foreach item=e from=$employee->GetEmployeesTotalByDepartment()}}
                            <tr>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    {{$e.name}}
                                </td>
                                <td class="acenter pt3 pb5 pL10 bdrbtm4" width="50px">
                                    {{$e.total}}
                                </td>
                            </tr>
                            {{assign var=totalDep value=$totalDep+$e.total }}
                            {{/foreach}}
                        </table>
                    </td>

                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <th class="aleft pt3 pb5 pL10">Location</th>
                                <th class="acenter pt3 pb5 pL10" width='50px'>Total</th>
                            </tr>
                            {{assign var=totalL value=0}}
                            {{foreach item=e from=$employee->GetEmployeesTotalByLocation()}}
                            <tr>
                                <td class="pt3 pb5 pL10 bdrbtm4">
                                    {{$e.name}}
                                </td>
                                <td class="acenter pt3 pb5 pL10 bdrbtm4" width="50px">
                                    {{$e.total}}
                                </td>
                            </tr>
                            {{assign var=totalL value=$totalL+$e.total }}
                            {{/foreach}}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <td class="summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;">
                                    <b>Total</b>
                                </td>
                                <td class="acenter summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;" width="50px">
                                    <b>{{$totalD}}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <td class="summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;">
                                    <b>Total</b>
                                </td>
                                <td class="acenter summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;" width="50px">
                                    <b>{{$totalDep}}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <td class="summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;">
                                    <b>Total</b>
                                </td>
                                <td class="acenter summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;" width="50px">
                                    <b>{{$totalL}}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan='3'>&nbsp;</td></tr>
            </table>

            {{else}}
            <div class="info">No users found.</div>
            {{/if}}
			
