<table cellpadding="5" cellspacing="2" border="0" width="100%" highlight="on">
	<tr>
		<th class="aleft">Name</th>
		<th class="ui-corner-tr">&nbsp;</th>
	</tr>
	{{if !$smarty.get.excel}}
	<tr id='top'>
		<td class="darkerbg">
			<input type="hidden" name="id" id="hdn_id">
			<input type="hidden" name="action" id="action">
		    <input type="text" name="name" id="txt_name" class="expand2fit">
        </td>
		<td class="actions aright darkerbg">
			<input type="button" id="btn_save" value="Add">
			<input type="button" id="btn_cancel" value="Cancel">
		</td>
	</tr>
	{{/if}}
	{{foreach item=g from=$types}}
    {{if $g->getId() gt 1}}  
	<tr>
		<td id="name-{{$g->getId()}}">{{$g->getName()}}</td>
		<td class="actions aright">
            <a href="#top" onclick="editCT({{$g->getId()}})" class="tasktype-edit imglink" id="cg-edit" title='Edit'>
                <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
            </a>
            <a href="javascript:;" onclick="deleteCG({{$g->getId()}})" class="tasktype-edit imglink" id="cg-delete" title='Delete'>
                <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
            </a>
        </td>
	</tr>
    {{/if}}
	{{/foreach}}
</table>
