{{if $p}}
{{if $total_pages gt 1}}
<br>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}

<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks">
    <tr>    
        <th class="aleft pt3 pb5 pL10" width="150">Date</th>
        <th class="aleft pt3 pb5 pL10">Title</th>
        <th class="aleft pt3 pb5 pL10" width="30">Attachments?</th>
        <th class="aleft pt3 pb5 pL10" width="30">Comments</th>
        <th class="aleft pt3 pb5 pL10" width="140">Created On</th>
        <th class="aleft pt3 pb5 pL10" width="140">Created By</th>
        <th class="aleft pt3 pb5 pL10" width="140">Updated On</th>
        <th class="aleft pt3 pb5 pL10" width="140">Updated By</th>
        <th class="pt3 pb5 pL10 pR5" width="80"></th>
    </tr>
    {{foreach item=i from=$ideas}}
    <tr>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$i->getDateTime()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">
            <a href="idea.view.php?id={{$i->getId()}}">{{$i->getTitle()}}</a>
            {{if $i->getStatus() eq "Draft" }}<span style="color:#FF0000;"><em>(Draft)</em></span>{{/if}}
        </td>
        <td align="center" class="acenter pt3 pb5 pL10 bdrbtm4">
            {{if $i->getFiles() }}
                {{$i->getTotalFiles()}} Files
            {{else}} 
                No
            {{/if}}
        </td>
        <td align="center" class="acenter pt3 pb5 pL10 bdrbtm4">{{$i->getTotalComments()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$i->getCreateDate()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$i->getCreatedBy()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$i->getUpdateDate()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$i->getUpdatedBy()}}</td>
        <td class="aright pt3 pb5 pL10 bdrbtm4 pR5">
        <a href="idea.view.php?id={{$i->getId()}}" class="imglink" title="View"><img src='img/icons/view.png' border='0' width='16' height='16' alt='View'/></a> 
        {{if $loginuser->isAdmin() || $i->isOwner()}}
        {{$sep}}
        <a href="idea.edit.php?id={{$i->getId()}}" class='imglink' title='Edit'><img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/></a>
        {{if $loginuser->isAdmin() || $i->isOwner()}}
        {{$sep}}
        <a href="javascript:;" onclick="del_ideas({{$i->getId()}})" class="imglink" title="Delete"><img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/></a>
        {{/if}}
        {{/if}}
        </td>
    </tr>
    {{/foreach}}
</table>
{{if $p}}
{{if $total_pages gt 1}}
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="ideatracker.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}
