<table cellpadding="0" cellspacing="0" border="0" width="60%" highlight="on" id="tbl_tasks">
	<tr>
		<th class="aleft pt3 pb5 pL10" width="200">Group</th>
		<th class="aleft pt3 pb5 pL10">Name</th>
		<th class="aright pt3 pb5 pL10">&nbsp;</th>
	</tr>
	{{if !$smarty.get.excel}}
	<tr id='top'>
		<td class="darkerbg pt3 pb5 pL10 bdrbtm4">
			<input type="hidden" name="id" id="hdn_id">
			<select name="group_id" id="sel_group_id">
				<option value="0">-Ungrouped-</option>
				{{foreach key=k item=i from=$groups}}
				<option value="{{$k}}">{{$i}}</option>
				{{/foreach}}
			</select>
		</td>
		<td class="darkerbg pt3 pb5 pL10 bdrbtm4"><input type="text" name="name" id="txt_name" class="expand2fit"></td>
		<td class="actions aright darkerbg pt3 pb5 pL10 bdrbtm4 pR5">
			<input type="button" id="btn_task_type_save" value="Add">
			<input type="button" id="btn_task_type_cancel" value="Cancel">
		</td>
	</tr>
	{{/if}}
	{{foreach item=task_type from=$task_types}}
    {{assign var='grpid' value='0'}}
    {{if $task_type->getGroupId() }}
        {{assign var='grpid' value=$task_type->getGroupId()}}
    {{/if}}
        
	<tr id="tr-{{$task_type->getId()}}" stext="{{$grpid}}">
		<td class="pt3 pb5 pL10 bdrbtm4" id="group-{{$task_type->getId()}}">{{$task_type->getGroupName(true)}}</td>
		<td class="pt3 pb5 pL10 bdrbtm4" id="name-{{$task_type->getId()}}">{{$task_type->getName()}}</td>
		<td class="actions aright pt3 pb5 pL10 bdrbtm4 pR5">
            <a href="#top" onclick='editTask({{$task_type->getId()}},{{$grpid}})' class="tasktype-edit imglink" title='Edit'>
                <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
            </a>
        </td>
	</tr>
	{{/foreach}}
</table>
