            <table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks" class="sortable">
                <thead>
                <tr>
				   {{if $smarty.get.excel}}
							<th  class="aleft pt3 pb5 pL10">Name</th>
							<th  class="aleft pt3 pb5 pL10">Subproject</th>
				   {{else}}
                    <th class="aleft pt3 pb5 pL10">Name</th>
					{{/if}}
					{{if !$loginuser->isAdmin()}}
                    <th class="aleft pt3 pb5 pL10">Role</th>
					{{/if}}
                    <th class="aleft pt3 pb5 pL10" width="200">Client</th>
                    <th class="acenter pt3 pb5 pL10" width="89">Is Billable?</th>
                    <th class="aleft pt3 pb5 pL10" width="70">Status</th>
                    <th class="aright pt3 pb5 pL10" width="100">Start date</th>
                    <th class="aright {sorter:false} pt3 pb5 pL10" width="100">End date</th>
		            <th class="aright pt3 pb5 pL10 {sorter:false}" width="120px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{foreach item=project from=$projects}}
                {{if $project->getClosed()}}
                    {{if $closed}}
                        {{include file="fragment.project.list.html" proj=$project}}
                    {{/if}}
                {{else}}
                    {{include file="fragment.project.list.html" proj=$project}}
                {{/if}}
                {{if $project->countSubprojects() gt 0}}
                {{assign var="subprojects" value=$project->getSubprojects()}}
                {{foreach item=subproject from=$subprojects}}
                {{if $subproject->getClosed()}}
                    {{if $closed}}
                        {{include file="fragment.project.list.html" proj=$subproject}}
                    {{/if}}
                {{else}}
                    {{if $subproject->getStatus() eq "PENDING"}}
                        {{if $pending }}
                            {{include file="fragment.project.list.html" proj=$subproject}}
                        {{/if}}
                    {{else}}
                            {{include file="fragment.project.list.html" proj=$subproject}}
                    {{/if}}
                {{/if}}
                {{/foreach}}
                {{/if}}
                {{/foreach}}
            </table>
{{if $smarty.get.excel}}
{{else}}
<div id='prjmove' class='dialog' title='Project Move'>
    <form name='frmPrjMove' id='frmPrjMove' method='post' action='project.move.action.php'>
        <input type='hidden' id='old_client_id' name='old_client_id'/>
        <input type='hidden' id='old_project_id' name='old_project_id'/>
        <input type='hidden' id='action' name='action' value='MOVE_PRJ'/>
        <table cellspacing="0" cellpadding="0" border="0" width="100%" highlight="off" id="tbl_tasks">
            <tr>
                <th class="aleft pt3 pb5 pL10">Current Client</th>
                <td id='currclient_title' class="aleft pt3 pb5 pL10 bdrbtm4"></td>
            </tr>
            <tr>
                <th class="aleft pt3 pb5 pL10">Current Project</th>
                <td id='curprj_title' class="aleft pt3 pb5 pL10 bdrbtm4"></td>
            </tr>
            <tr>
                <th class="aleft pt3 pb5 pL10 ">Target Client</th>
                <td id="new_client" class="aleft pt3 pb5 pL10 bdrbtm4"></td>
            </tr>
            <tr id='tr-new-project' style='display:none;' class="aleft pt3 pb5 pL10 bdrbtm4">
                <th class="aleft pt3 pb5 pL10 ">Target Parent Project</th>
                <td id="new_project" class="aleft pt3 pb5 pL10 bdrbtm4"></td>
            </tr>
            <tr class="aleft pt3 pb5 pL10 bdrbtm4">
                <th class="aleft pt3 pb5 pL10 ">Move All Sub-Project?</th>
                <td class="aleft pt3 pb5 pL10 bdrbtm4"><input type='checkbox' id='move_subproject' name='move_subproject' value='1'/></td>
            </tr>
        </table>
    </form>
</div>
{{/if}}

