<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" class="sortable" id="tbl_tasks">
	<thead>
	<tr>
		<th align="left" class="aleft pt3 pb5 pL10">License Key</th>
		<th align="left" class="aleft pt3 pb5 pL10">Customer Name</th>
		<th align="left" class="aleft pt3 pb5 pL10">Location</th>
		<th align="left" class="aleft pt3 pb5 pL10">Product Licensed</th>
		<th align="left" class="aleft pt3 pb5 pL10">Version</th>
		<th align="left" class="aleft pt3 pb5 pL10">License Term</th>
		<th align="left" class="aleft pt3 pb5 pL10">License Type</th>
		<th align="left" class="aleft pt3 pb5 pL10" width="85">Start Date</th>
		<th align="left" class="aleft pt3 pb5 pL10" width="85">End Date</th>
		<th align="left" class="aright pt3 pb5 pL10" width="85" style="text-align: right;">Created Date</th>
		<th align="left" class="aright pt3 pb5 pL10" width="75" style="text-align: right;">Created By</th>
	</tr>
	</thead>
	<tbody>
	{{foreach item=license from=$licenses}}
	<tr>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicenseKey()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getClientName()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLocation()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getProductName()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getProductVersion()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicensePeriodName()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicenseType()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicenseStartDate()|date_format}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicenseEndDate()|date_format}}</td>
            <td class="aright pt3 pb5 pL10 bdrbtm4">{{$license->getCreatedOn()|date_format}}</td>
            <td class="aright pt3 pb5 pL10 bdrbtm4">{{$license->getCreatedByName()}}</td>
	</tr>
	{{/foreach}}
</table>
