<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks" class="sortable">
    <thead>
    <tr>    
        <th class="acenter pt3 pb5 pL10" width="30">ID</th>
        <th class="aleft pt3 pb5 pL10" width="300">Action Item</th>
        <th class="aleft pt3 pb5 pL10" width="10">Status</th>
        <th class="aleft pt3 pb5 pL10" width="50">Due Date</th>
        <th class="aleft pt3 pb5 pL10" width="100">Assigned To</th>
        <th class="acenter pt3 pb5 pL10" width="10">Notes</th>
        {{if $excel}}
        <th align='center' width="20">Total Notes</th>
        {{else}}
        <th width="140" class="aright pt3 pb5 pL10 {sorter:false}">&nbsp;</th>
        {{/if}}
    </tr>
    <thead>
    <tbody>
    {{foreach item=m from=$action_items}}
    <tr>
        <td class="acenter pt3 pb5 pL10 bdrbtm4">{{$m->getId()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">
            <a href="smtaction.view.php?id={{$m->getId()}}">{{$m->getTitle()}}</a><br> {{$m->getDescription(200)}}
            <br><span style="color:#777777; font-size: 0.75em;border-top:1px solid #fff;padding-top:5px;padding-bottom:5px;">Created by: {{$m->getCreatedBy()}} on {{$m->getCreateDate()}}</span>
            <br><span style="color:#777777; font-size: 0.75em;border-top:1px solid #fff;padding-top:5px;padding-bottom:5px;">Last Updated by: {{$m->getUpdatedBy()}} on {{$m->getUpdateDate()}}</span>
        </td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$m->getStatus()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$m->getDueDate()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$m->getAssignedToForDisplay('<br>')}}</td>
        {{if $excel}}
            <td class='acenter'>
            {{foreach item=c from=$m->getComments()}}
                <b><u>{{$c->getTitle()}} ({{$c->getCreateDate()}} {{$c->getCreatedBy()}})</u></b><br>
                {{$c->getComment()}}<br><br>
            {{/foreach}}
            </td>
        {{/if}}
        <td class='acenter pt3 pb5 pL10 bdrbtm4'>{{$m->getTotalComments()}}</td>
        {{if $excel }}
        {{else}}
		<td class="actions aright pt3 pb5 pL10 bdrbtm4">
			{{if $user->isAdmin() || $user->isSMTMember()}}
			<a href="javascript:;" onclick="showCommentBox({{$m->getId()}},'{{$m->getTitle()}}')" class='imglink' title='Add Notes'>
                <img src='img/icons/task_add.gif' border='0' width='16' height='16' alt='Notes'/>
            </a>
            {{$sep}}
			<a href="smtaction.view.php?id={{$m->getId()}}" class='imglink' title='View'>
                <img src='img/icons/view.png' border='0' width='16' height='16' alt='View'/>
            </a>
			<a href="smtaction.edit.php?id={{$m->getId()}}" class='imglink' title='Edit'>
                <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
            </a>
            {{$sep}}
			<a href="smtaction.update.action.php?id={{$m->getId()}}&status=Active" class='imglink' title='Mark as active'
                {{if $m->getStatus() == "Active"}} onclick="return false;" {{/if}} >
                <img src='img/icons/item_active.gif' border='0' width='16' height='16' alt='Mark as active'/>
            </a> 
			<a href="smtaction.update.action.php?id={{$m->getId()}}&status=Pending" class='imglink' title='Mark as pending'
                {{if $m->getStatus() == "Pending"}} onclick="return false;" {{/if}} >
                <img src='img/icons/item_pending.gif' border='0' width='16' height='16' alt='Mark as pending'/>
            </a> 
			<a href="smtaction.update.action.php?id={{$m->getId()}}&status=On Hold" class='imglink' title='Mark as on hold'
                {{if $m->getStatus() == "On Hold"}} onclick="return false;" {{/if}} >
                <img src='img/icons/item_onhold.png' border='0' width='16' height='16' alt='Mark as on hold'/>
            </a> 
			<a href="smtaction.update.action.php?id={{$m->getId()}}&status=Completed" class='imglink' title='Mark as completed'
                {{if $m->getStatus() == "Completed"}} onclick="return false;" {{/if}} >
                <img src='img/icons/item_completed.gif' border='0' width='16' height='16' alt='Mark as completed'/>
            </a> 
			<a href="smtaction.update.action.php?id={{$m->getId()}}&status=Closed" class='imglink' title='Mark as closed'
                {{if $m->getStatus() == "Closed"}} onclick="return false;" {{/if}} >
                <img src='img/icons/item_closed.png' border='0' width='16' height='16' alt='Mark as closed'/>
            </a> 
			{{/if}}
		</td>
        {{/if}}
    </tr>
    {{/foreach}}
    </tbody>
</table>
{{if $excel}}
{{else}}
<div id='smt-comm' class='dialog' title='Add Notes'>
    <form name='frmSMTcomm' id='frmSMTcomm' method='post' action='smtaction.save.action.php'>
        <input type='hidden' id='smt_id' name='smt_id'/>
        <input type='hidden' id='action' name='action' value='COMMENTS'/>
        <table cellspacing="0" cellpadding="0" border="0" width="100%" highlight="off" id="tbl_tasks">
            <tr>
                <td id='smt_title' class="aleft pt3 pb5 pL10 bdrbtm4"></td>
            </tr>
            <tr>
                <td class="aleft pt3 pb5 pL10 bdrbtm4"><textarea id="txtComment" name="txtComment" rows="7" colspan="2" class="expand2fit"></textarea></td>
            </tr>
        </table>
    </form>
</div>
{{/if}}
