<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks">
    <tr>    
        <th class="aleft pt3 pb5 pL10" width="150">Date</th>
        <th class="acenter pt3 pb5 pL10" width="99">Duration</th>
        <th class="aleft pt3 pb5 pL10" width="150">Meeting Type</th>
        <th class="aleft pt3 pb5 pL10">Title</th>
        <th class="aleft pt3 pb5 pL10" width="30">Revision</th>
        <th class="aleft pt3 pb5 pL10" width="150">Created On</th>
        <th class="aleft pt3 pb5 pL10" width="150">Created By</th>
        <th width="90" class="aright pt3 pb5 pL10"></th>
    </tr>
    {{foreach item=m from=$meetings}}
    <tr>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$m->getDateTime()}}</td>
        <td align="center" class="acenter pt3 pb5 pL10 bdrbtm4">{{$m->duration}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$m->getMeetingTypeName()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4"><a href="meeting.view.php?id={{$m->getId()}}">{{$m->getTitle()}}</a></td>
        <td align="center" class="acenter pt3 pb5 pL10 bdrbtm4">{{$m->getRevision()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$m->getCreateDate()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$m->getCreatedBy()}}</td>
        <td class="aright pt3 pb5 pL10 bdrbtm4 pR5">
        <a href="meeting.view.php?id={{$m->getId()}}" class="imglink" title="View"><img border="0" width="16" height="16" alt="View" src="img/icons/view.png"></a> 
        {{if $loginuser->isAdmin() || $loginuser->isMeetinMinutesManager()}}
        {{if $m->getStatus() eq "Active"}}
        {{$sep}}
        <a href="meeting.edit.php?id={{$m->getId()}}" class="imglink" title="Edit"><img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/></a>
        {{$sep}}
        <a href="javascript:;" onclick="del_meeting({{$m->getId()}})" title="Delete" class="imglink"><img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/></a>
        {{/if}}
        {{/if}}
        </td>
    </tr>
    {{/foreach}}
</table>
