<table cellpadding="5" cellspacing="2" border="0" width="100%" highlight="on" id="tbl_meeting_list">
    <tr>    
        <th class="aleft ui-corner-tl" >User</th>
        <th class="aleft ui-corner-tl" >Client</th>
        <th class="aleft ui-corner-tl" >Project</th>
        <th class="aleft ui-corner-tl" >Subproject</th>
        <th class="aleft ui-corner-tl">Title</th>
        <th class="aleft ui-corner-tl" >Description</th>
        <th class="aleft ui-corner-tl" >Status</th>
        <th class="aleft ui-corner-tl" >Start Date</th>
        <th class="aleft ui-corner-tl" >End Date</th>
        <!--
        <th class="aleft ui-corner-tl" >Created On</th>
        <th class="aleft ui-corner-tl" >Created By</th>
        <th class="aleft ui-corner-tl" >Updated On</th>
        <th class="aleft ui-corner-tl" >Updated By</th>
        -->
        <th width="130"></th>
    </tr>
    {{foreach item=d from=$events}}
    <tr>
        <td>{{$d.data.user_name}}</td>
        <td>{{$d.data.client_name}}</td>
        <td>{{$d.data.project_name}}</td>
        <td>{{$d.data.subproject_name}}</td>
        <td>{{$d.data.title}}</td>
        <td>{{$d.data.description}}</td>
        <td>{{$d.data.status}}</td>
        <td>{{$d.data.start_date_mdy}}</td>
        <td>{{$d.data.end_date_mdy}}</td>
        <!--
        <td>{{$d.data.create_date}}</td>
        <td>{{$d.data.created_by}}</td>
        <td>{{$d.data.update_date}}</td>
        <td>{{$d.data.updated_by}}</td>
        -->
    </tr>
    {{/foreach}}
</table>
