<script>
	$(function() {
		$('form.frm-license-delete').submit(function() {
			return confirm("Do you really want to delete this license?\nThis action cannot be undone.");
		});
	});
</script>

<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" class="sortable" id="tbl_tasks">
	<thead>
	<tr>
		<th class="aleft pt3 pb5 pL10">License Key</th>
		<th class="aleft pt3 pb5 pL10">Customer Name</th>
		<th class="aleft pt3 pb5 pL10">Location</th>
		<th class="aleft pt3 pb5 pL10">Product Licensed</th>
		<th class="aleft pt3 pb5 pL10">License Scheme</th>
		{{*<th class="aleft pt3 pb5 pL10">License Term</th>*}}
		<th class="aleft pt3 pb5 pL10">License Type</th>
		<th class="aleft pt3 pb5 pL10" width="85">Start Date</th>
		<th class="aleft pt3 pb5 pL10" width="85">End Date</th>
		<th class="aright">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{{foreach item=license from=$licenses}}
	<tr>
            <td class="pt3 pb5 pL10 bdrbtm4"><a href="license.view.php?id={{$license->getId()}}">{{$license->getLicenseKey()}}</a></td>
            <td class="pt3 pb5 pL10 bdrbtm4"><a href="client.view.php?id={{$license->getClientId()}}">{{$license->getClientName()}}</a></td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLocation()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getProductName()}} ({{$license->getProductVersion()}})</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{if $license->getLicenseVersionNumber() eq 1}}Old{{else}}New{{/if}}</td>
            {{*<td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicensePeriodName()}}</td>*}}
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicenseType()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicenseStartDate()|date_format}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4">{{$license->getLicenseEndDate()|date_format}}</td>
			<td class="aright">
				<form action="license.delete.action.php" method="post" class="frm-license-delete">
					<input type="hidden" name="id" value="{{$license->getId()}}"/>
					<input type="image" id="submit" src="img/icons/delete16x16.png"/>
				</form>
			</td>
	</tr>
	{{/foreach}}
</table>
