{{if $tab == 'util'}}
<table cellpadding='0' cellspacing='0' border='0' width='100%' highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
    <tr>
        <td class="aright pt3 pb5 pL10" style='border-bottom: 1px solid #DAE7F2;' valign='top' colspan='7'>
            <a href='javascript:;' onclick="showUserGraph('all','all')" class='imglink' title='Summary Graph'>
                <img src='img/icons/tab_reports.gif' border='0' width='18' height='16' alt='Summary Graph'/>
            </a>
        </td>
    </tr>
    <tr>
        <th class='aleft pt3 pb5 pL10' valign='middle' width='350px'>Member</th>
        <th class='aleft pt3 pb5 pL10' valign='middle' width='350px'>Client</th>
        <th class='aleft pt3 pb5 pL10' valign='middle' width='350px'>Project</th>
        <th class='aright pt3 pb5 pL10' valign='top' width='70px'>Billable<br>Hours</th>
        <th class='aright pt3 pb5 pL10' valign='top' width='70px'>Utilization</th>
        <th class='aright pt3 pb5 pL10 pR5' valign='middle' width='90px'>&nbsp;</th>
    </tr>

    {{foreach name=uname key=k0 item=tu from=$timecard_utilization}}
    {{assign var="blnBillable" value="0"}}
    {{assign var="blnUname" value="0"}}
    <tr>
        {{foreach name=cname key=k1 item=clients from=$tu.timecard_data}}
        {{if $clients.is_billable}}
        {{assign var="blnBillable" value="1"}}
        {{if $smarty.foreach.cname.first}}
        {{assign var="blnUname" value="1"}}
        <td class="pt3 pb5 pL10" style='' valign='top'>{{$k0}}</td>
        {{else}}
        <tr>
        {{if $blnUname < 1}}
        {{assign var="blnUname" value="1"}}
        <td class="pt3 pb5 pL10" style='' valign='top'>{{$k0}}</td>
        {{else}}
        <td class="pt3 pb5 pL10" style='' valign='top'>&nbsp;</td>
        {{/if}}
        {{/if}}
        <td class="pt3 pb5 pL10" style='' valign='middle'>{{$k1}}</td>
        
        {{assign var="pTotal" value="0"}}
        {{foreach name=pname key=k2 item=projects from=$clients.projects}}
        {{if $projects.is_billable}}
        {{math equation="x+y" x=$pTotal y=$projects.total_billable assign="pTotal"}}
        
        {{if $smarty.foreach.pname.first}}
        <td class="pt3 pb5 pL10 bdrbtm4" width='350px' valign='top'>{{$k2}}</td>
        <!--<td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>{{$projects.total_billable_mins|m2hm|default:'-'}}</td>-->
        <td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>
            {{$projects.total_billable|m2hm|default:'-'}}
        </td>
        <!--<td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>{{$projects.total_holiday_billable_mins|m2hm|default:'-'}}</td>
        <td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>{{$projects.total_pto|m2hm|default:'-'}}</td>
        <td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>{{$projects.total_mins|m2hm|default:'-'}}</td>-->
        <td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>
            {{math equation='(x/y)*100' x=$projects.total_billable y=$tu.total_billable format="%.2f"}}
        </td>
        <td class="aright pt3 pb5 pL10 pR5 bdrbtm4" width='90px' valign='top'>&nbsp;</td>
        {{else}}
        <tr>
        <td class="pt3 pb5 pL10" style='' valign='top'>&nbsp;</td>
        <td class="pt3 pb5 pL10" style='' valign='top'>&nbsp;</td>
        <td class="pt3 pb5 pL10 bdrbtm4" width='350px' valign='top'>{{$k2}}</td>
        <!--<td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>{{$projects.total_billable_mins|m2hm|default:'-'}}</td>-->
        <td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>
            {{$projects.total_billable|m2hm|default:'-'}}
        </td>
        <!--<td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>{{$projects.total_holiday_billable_mins|m2hm|default:'-'}}</td>
        <td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>{{$projects.total_pto|m2hm|default:'-'}}</td>
        <td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>{{$projects.total_mins|m2hm|default:'-'}}</td>-->
        <td class="aright pt3 pb5 pL10 bdrbtm4" width='70px' valign='top'>
            {{math equation='(x/y)*100' x=$projects.total_billable y=$tu.total_billable format="%.2f"}}
        </td>
        <td class="aright pt3 pb5 pL10 pR5 bdrbtm4" width='90px' valign='top'>&nbsp;</td>
        </tr>
        {{/if}}
        {{/if}}
        {{/foreach}}
        {{if $smarty.foreach.pname.last}}

        <tr>
        <td class="pt3 pb5 pL10" style='' valign='top'>&nbsp;</td>
        <td class="pt3 pb5 pL10" style='border-bottom: 1px solid #FCA1A1;' valign='top'></td>
        <td class="pt3 pb5 pL10" style='border-bottom: 1px solid #FCA1A1;' width='350px' valign='top'>&nbsp;</td>

        <td class="aright pt3 pb5 pL10" style='border-bottom: 1px solid #FCA1A1;' valign='top' width='70px'>
            <span style='color:#C15252;'><i>{{$clients.total_billable|m2hm|default:'-'}}</i></span>
        </td>
        <!--<td class="aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;' valign='top' width='70px'>
            {{$clients.total_holiday_billable_mins|m2hm|default:'-'}}
        </td>
        <td class="aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;' valign='top' width='70px'>{{$clients.total_pto|m2hm|default:'-'}}</td>
        <td class="aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;' valign='top' width='70px'>
            <span style='color:#C15252;'><i>{{$clients.total_mins|m2hm|default:'-'}}</i></span>
        </td> -->
        <td class="aright pt3 pb5 pL10 pR5" style='border-bottom: 1px solid #FCA1A1;' valign='top' width='70px'>
            <span style='color:#C15252;'><i>{{math equation='(x/y)*100' x=$clients.total_billable y=$tu.total_billable format="%.2f"}}</i></span>
        </td>
        <td class="pt3 pb5 pL10" style='border-bottom: 1px solid #FCA1A1;' valign='top' width='90px'>&nbsp;</td>
        </tr>
        {{/if}}
        {{if $smarty.foreach.cname.first}}
        {{else}}
        </tr>
        {{/if}}
        {{/if}}
        {{/foreach}}
    </tr>
    {{if $blnBillable}}
    <tr class='summary11'>
        <td class="summary pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2; border-top: 1px solid #DAE7F2;'>&nbsp;</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;border-top: 1px solid #DAE7F2;'>&nbsp;<!--Total Days: {{$tu.day_count}}--> </td>
        <td class="summary pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;border-top: 1px solid #DAE7F2;' width='350px'><i>{{$k0}}'s Summary Total</i>
            <!--
            Total PTO: {{$tu.total_pto|m2hm|default:'0'}} 
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            Total Hours: {{$tu.total_mins|m2hm|default:'0'}} 
            -->
        </td>
        <!--<td class="summary aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;' valign='top'>{{$tu.total_billable_mins|m2hm|default:'-'}}</td>-->
        <td class="summary aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;border-top: 1px solid #DAE7F2;' valign='top' width='70px'>
            &nbsp;&nbsp;{{$tu.total_billable|m2hm|default:'-'}}
        </td>
        <!--<td class="summary aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;' valign='top'>{{$tu.total_holiday_billable_mins|m2hm|default:'-'}}</td>
        <td class="summary aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;' valign='top'>{{$tu.total_pto|m2hm|default:'-'}}</td>
        <td class="summary aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;' valign='top'>{{$tu.total_mins|m2hm|default:'-'}}</td>-->
        <td class="summary aright pt3 pb5 pL10 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;border-top: 1px solid #DAE7F2;' valign='top' width='70px'>
            &nbsp;&nbsp;{{$tu.billable_utilization_factor|default:'-'}}
        </td>
        <td class="summary aright pt3 pb5 pL10 pR5 bdrbtm4" style='border-bottom: 1px solid #DAE7F2;border-top: 1px solid #DAE7F2;' valign='top' width='90px'>
            <a href='javascript:;' onclick="showUserGraph({{$tu.user_id}},'user')" class='imglink' title='Member Graph'>
                <img src='img/icons/tab_reports.gif' border='0' width='18' height='16' alt='Member Graph'/>
            </a>
        </td>
    </tr>
    {{/if}}
    {{/foreach}} 
    <tr class='summary11'>
        <td class="summary acenter pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
        <td class="summary aleft pt3 pb5 pL10 bdrbtm4">Summary Total</td>
        <td class="summary  pt3 pb5 pL10 bdrbtm4">
            <!--
            Total PTO: {{$gdata.total.PTO|m2hm|default:'-'}} 
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; 
            Total Hours: {{$gdata.total.Total|m2hm|default:'-'}}
            -->
        </td>
        <td class="summary aright pt3 pb5 pL10 bdrbtm4">{{$gdata.total.Billable|m2hm|default:'-'}}</td>
        <td class="summary aright pt3 pb5 pL10 bdrbtm4">{{$utilization}}%</td>
        <td class="summary aright pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
    </tr>
</table>
{{else}}
<table cellpadding='0' cellspacing='0' border='0' width='100%' highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
     <tr>
        <td class='aright pR10 pb5' colspan='7'>
            <div id="productivity_factor">
                <p>
                    Productivity : {{$timecard_utilization.productivity_factor}}% Utilization : {{$timecard_utilization.billable_utilization_factor}}%
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <th class='aleft pt3 pb5 pL10'>{{$fields.0|capitalize}}</th>
        <!--<th class='aleft pt3 pb5 pL10'>{{$fields.1|capitalize}}</th>-->
        <th class='aleft pt3 pb5 pL10'>Member</th>
        <th class='aleft pt3 pb5 pL10'>{{$fields.2|capitalize}}</th>
        <th class='aleft pt3 pb5 pL10'>{{$fields.3|capitalize}}</th>
        <th class='aleft pt3 pb5 pL10'>{{$fields.4|capitalize}}</th>
        {{if $filters.o.showtask}}
        <th class='aleft pt3 pb5 pL10'>Task</th>
        {{/if}}
        {{if $filters.o.showtaskdetails}}
        <th class='aleft pt3 pb5 pL10'>Task Detail</th>
        {{/if}}
        <th class='aright pR5 pt3 pb5 pL10'>Time</th>
    </tr>

    {{foreach key=k0 item=v0 from=$report_detail}}
    {{foreach key=k1 item=v1 from=$v0}}
    {{foreach key=k2 item=v2 from=$v1}}
    {{foreach key=k3 item=v3 from=$v2}}
    {{foreach key=k4 item=v4 from=$v3}}
    {{foreach key=k5 item=v5 from=$v4}}
    {{if not $filters.o.hidedetails}}
    <tr>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.0]|default:'-'}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.1]|default:'-'}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.2]|default:'-'}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.3]|default:'-'}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.4]|default:'-'}}</td>
        {{if $filters.o.showtask}}
        <td class="pt3 pb5 pL10 bdrbtm4">{{$v5.task|default:'-'}}</td>
        {{/if}}
        {{if $filters.o.showtaskdetails}}
        <td class="pt3 pb5 pL10 bdrbtm4">{{$v5.task_detail|stripslashes|nl2br|default:'-'}}</td>
        {{/if}}
        <td class='aright pR5 pt3 pb5 pL10 bdrbtm4'>{{$v5.duration_mins|m2hm}}</td>
    </tr>
    {{/if}}
    {{/foreach}}
    {{if $report_summary[$k0][$k1][$k2][$k3][$k4]}}
    <tr class='summary11'>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.0]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.1]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.2]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.3]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.4]|default:'-'}}</td>
        {{if $filters.o.showtaskdetails}}{{assign var='colspan' value='3'}}{{else}}{{assign var='colspan' value='2'}}{{/if}}
        <td class='summary aright pR5 pt3 pb5 pL10 bdrbtm4' colspan='{{$colspan}}'>{{$report_summary[$k0][$k1][$k2][$k3][$k4].duration_mins|m2hm}}</td>
    </tr>
    {{/if}}
    {{/foreach}}
    {{if $report_summary[$k0][$k1][$k2][$k3]}}
    <tr class='summary11'>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.0]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.1]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.2]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.3]|default:'-'}}</td>
        {{if $filters.o.showtaskdetails}}{{assign var='colspan' value='4'}}{{else}}{{assign var='colspan' value='3'}}{{/if}}
        <td class='summary aright pR5 pt3 pb5 pL10 bdrbtm4' colspan='{{$colspan}}'>{{$report_summary[$k0][$k1][$k2][$k3].duration_mins|m2hm}}</td>
    </tr>
    {{/if}}
    {{/foreach}}
    {{if $report_summary[$k0][$k1][$k2]}}
    <tr class='summary11'>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.0]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.1]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.2]|default:'-'}}</td>
        {{if $filters.o.showtaskdetails}}{{assign var='colspan' value='5'}}{{else}}{{assign var='colspan' value='4'}}{{/if}}
        <td class='summary aright pR5 pt3 pb5 pL10 bdrbtm4' colspan='{{$colspan}}'>{{$report_summary[$k0][$k1][$k2].duration_mins|m2hm}}</td>
    </tr>
    {{/if}}
    {{/foreach}}
    {{if $report_summary[$k0][$k1]}}
    <tr class='summary11'>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.0]|default:'-'}}</td>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.1]|default:'-'}}</td>
        {{if $filters.o.showtaskdetails}}{{assign var='colspan' value='6'}}{{else}}{{assign var='colspan' value='5'}}{{/if}}
        <td class='summary aright pR5 pt3 pb5 pL10 bdrbtm4' colspan='{{$colspan}}'>{{$report_summary[$k0][$k1].duration_mins|m2hm}}</td>
    </tr>
    {{/if}}
    {{/foreach}}
    {{if $report_summary[$k0]}}
    <tr class='summary11'>
        <td class="summary pt3 pb5 pL10 bdrbtm4">{{$v5[$fields.0]|default:'-'}}</td>
        {{if $filters.o.showtaskdetails}}{{assign var='colspan' value='7'}}{{else}}{{assign var='colspan' value='6'}}{{/if}}
        <td class='summary aright pR5 pt3 pb5 pL10 bdrbtm4' colspan='{{$colspan}}'>{{$report_summary[$k0].duration_mins|m2hm}}</td>
    </tr>
    {{/if}}
    {{/foreach}}
    <tr class='summary11'>
        {{if $filters.o.showtaskdetails}}{{assign var='colspan' value='8'}}{{else}}{{assign var='colspan' value='7'}}{{/if}}
        <td class='summary aright pR5 pt3 pb5 pL10 bdrbtm4' colspan='{{$colspan}}'>{{$report_summary.duration_mins|m2hm}}</td>
    </tr>
</table>
{{/if}}
