<table cellpadding="0" cellspacing="0" border="0" width="60%" highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
	<tr>
		<th class="aleft pt3 pb5 pL10">Name</th>
		<th class="aright pt3 pb5 pL10 pR5">&nbsp;</th>
	</tr>
	{{if !$smarty.get.excel}}
	<tr>
			<input type="hidden" name="id" id="hdn_id">
			<input type="hidden" name="action" id="action">
		<td class="darkerbg pt3 pb5 pL10"><input type="text" name="name" id="txt_name" class="expand2fit"></td>
		<td class="actions aright darkerbg pt3 pb5 pL10 pR5">
			<input type="button" id="btn_save" value="Add">
			<input type="button" id="btn_cancel" value="Cancel" vText='Cancel'>
		</td>
	</tr>
	{{/if}}
	{{foreach item=meeting_type from=$meeting_types key=k}}
    {{if $meeting_type->getId() gt 0}}  
	<tr>
		<td class="pt3 pb5 pL10 bdrbtm4" id="name-{{$meeting_type->getId()}}">{{$meeting_type->getName()}}</td>
		<td class="actions aright pt3 pb5 pL10 bdrbtm4 pR5">
        {{if $meeting_type->getId() gt 1}}  
            <a href="javascript:;" onclick="getParticipants({{$meeting_type->getId()}});" class="tasktype-edit" id="meeting_type-members">Participants List</a>
            <span class="sep"><b>|</b></span> 
            <a href="meetingtypes.list.php?id={{$meeting_type->getId()}}" val="{{$meeting_type->getId()}}" class="tasktype-edit imglink" id="meeting_type-edit" title="Edit"><img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/></a>
            <span class="sep"><b>|</b></span> 
            <a href="javascript:;" onclick="deleteMeetingType({{$meeting_type->getId()}})" class="tasktype-edit imglink" id="meeting_type-delete" title="Delete"><img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/></a>
        {{/if}}
        </td>
	</tr>
    {{/if}}
	{{/foreach}}
</table>
