{{if $p}}
{{if $total_pages gt 1}}
<br>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="email.broadcast.log.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="email.broadcast.log.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="email.broadcast.log.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="email.broadcast.log.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="email.broadcast.log.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}

<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" class="sortable" id="tbl_tasks">
	<thead>
	<tr>
		<!--<th class="acenter pt3 pb5 pL10" width="30" style='text-align:center;'>ID</th>-->
		<th class="aleft pt3 pb5 pL10" width="90">Date</th>
		<th class="aleft pt3 pb5 pL10" width='210'>Subject</th>
		<th class="aleft pt3 pb5 pL10">Body</th>
		<th class="aleft pt3 pb5 pL10" width="200">Recipent</th>
		<!--<th class="aleft pt3 pb5 pL10" width='150'>Created On / By</th>-->
	</tr>
	</thead>
	<tbody>
	{{foreach item=log from=$broadcastlogs}}
	<tr>
		<!--<td class="acenter pt3 pb5 pL10 bdrbtm4" valign='top'>{{$log->getId()}}</td>-->
		<td class="pt3 pb5 pL10 bdrbtm4" valign='top'>{{$log->getDateTime("m/d/Y h:i a")}}</td>
		<td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>{{$log->getSubject()}} </td>
		<td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>{{$log->bodyText}} </td>
		<td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>
            {{if $log->GetBroadcastLogs()}}
	        {{foreach item=recpt from=$log->GetBroadcastLogs()}}
                {{$recpt->getRecipientName()}} ({{$recpt->getRecipientEmail()}})<br>
            {{/foreach}}
            {{/if}}
        </td>
        <!--
		<td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>
            {{$log->getCreateDate("m/d/Y h:i a")}} / {{$log->getCreatedBy()}}
        </td>
        -->
	</tr>
	{{/foreach}}
</table>
{{if $p}}
{{if $total_pages gt 1}}
<br>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="email.broadcast.log.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="email.broadcast.log.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="email.broadcast.log.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="email.broadcast.log.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="email.broadcast.log.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}

