<style> 
    .round-border {
        border: 1px solid #eee;
        border: 1px solid rgba(0, 0, 0, 0.05);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 5px;
    }
</style>
<script type="text/javascript">

    var pPolicyTierEdit = '';
    jQuery(function($) {

        jQuery(function($){
            $("input.datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat:'dd-M-yy',
                onSelect: function(d){
                    target = $(this).attr("target");
                    if(target) window.location.href = target + "?date=" + d+"&user_id="+$("select[name=user_id]").val();
                }
            });
        });

    pPolicyTierEdit = $("#dProjectMemberEdit").dialog({
    autoOpen: false,
    height: 420,
    width: 600,
    modal: true,
    resizable: false,
    buttons: {
    "Save": function() {

        $("#frmProjectMember").submit();
                //$(this).dialog("close");
        },
                "Cancel": function() {
                $(this).dialog("close");
                }
                ,
        open: function(){ 
            //jAlert('asdsadas');
            }
        }
    });
});

    function addMoreRows(frm) {
        rowCount ++;
        gCount ++;

        var recRow = '<p id="rowCount'+rowCount+'" style="color: #111111"><tr><td class="pt3 pb5 pL10 bdrbtm4">Tiers - <input name="txtTierNew[]" type="text" maxlength="120" size="10" title="Enter a name for the PTO Tier." class="masterTooltip"/></td><td> Leaves - <input name="txtLeavesNew[]" type="text"  maxlength="120" size="4" title="Enter the number of PTO days provided for this Tier." class="masterTooltip"/></td><td> Max Service - <input name="txtServiceNew[]" size="2" type="text" maxlength="2" title="Enter the maximum number of years service for this tier before moving to the next tier.  Leave empty if there is no next tier" class="masterTooltip" /></td></tr> <a href="javascript:void(0);" onclick="removeRow('+rowCount+');">Delete</a></p>';

         jQuery('#addedRows').append(recRow);
         $('#tbl_pto .hideme').show();
         $('#tierCntNew').val(gCount);
        }

        
        function removeRow(removeNum) { 

        jQuery('#rowCount'+removeNum).remove();
        gCount --;
        $('#tierCntNew').val(gCount);
        if(gCount == 0)
            $('#tbl_pto .hideme').hide();
        }

/*function editPolicyTier(puid,locid) {

    $("#hdn_id2").val(puid);


    if (puid == "") {
        document.getElementById("txtHint"+puid).innerHTML = "";
        return;
    } else { 
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("txtHint"+puid).innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET",'pto_tiers.php?id='+puid+'&loc_id='+locid,true);
        xmlhttp.send();
    }


$('<div>').dialog({
modal: true,
open: function ()
{
    $(this).load('pto_tiers.php?id='+puid+'&loc_id='+locid);
},  
close : function(){
   $(this).empty();
},      
height: 300,
width: 600,
title: 'Policy Tier Details'
});


}*/

function deletTiers(id,loc_id) {
        jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the Tier?</b>', "PTO Policy",
                function(returnvalue) {
                if (returnvalue) {
                        
                        $("#hdn_tier_id").val(id);
                        $("#action").val("DELETE TIER");
                        //$("#frmPto").submit();
                        submitDep(loc_id);
                }
                }
        );
        }


</script>
<form method="post" action="pto_policy_save_action.php?loc_id={{$loc_id}}" id="frmPto" name="frmPto">
    <table cellpadding="0" cellspacing="0" border="0" width="800px" highlight="on" id="tbl_pto" style="border: 1px solid #f0f0f0;padding-left: 20px;" >
        <input type="hidden" name="polCnt" id="polCnt" value="{{$polCnt}}">
        <input type="hidden" name="tierCount" id="tierCount" value="{{$tierCount}}">
        <input type="hidden" name="loc_id" id="loc_id" value="{{$loc_id}}">
        <input type="hidden" name="id" id="hdn_id">
        <input type="hidden" name="hdn_tier_id" id="hdn_tier_id">
        <input type="hidden" name="action" id="action">
        <tr><td height="10px"></td></tr>
        <tr>
            <th colspan="4" class="aleft" style="font-size:14px;">Policy Effective Dates for {{$loc_name}}</th>
        </tr>
        <tr><td height="10px"></td></tr>
        
        
        <tr><td colspan='5'><table><div id="addedTiers"></div></table></td></tr>
        <tr class='hideme2' coslpan="4">
                <td colspan="5"><input type="button" name="save_policy" value="Save" onclick="saveDates({{$loc_id}})" >&nbsp;&nbsp;<input type="button" name="delete_policy" value="Cancel" onclick="removePol(polCount-1)" ></td>
        </tr>
        <tr><td class='hideme2' height="70px"></td></tr>

        <tr id='top'>
            <th class="aleft" style="font-size:12px;" title="Enter a name for the PTO Tier." >Effective Dates</th>
            <!-- <th class="aleft" style="font-size:12px;" title="Enter a name for the PTO Tier." >To Date</th>
           <th class="aleft" style="font-size:12px;" title="Enter the tiers you want to add" >Tiers</th>-->
            <th class="aleft" style="font-size:12px;" title="Enter the max hours allowed for this tier." >Max Hours</th>
            <th></th>
            <th coslpan="4" align='right' valign="top"> <input type="button" id="btn_add_pol"onclick="addNewTiers(this.form)" value='NEW POLICY' title="Add new policy"></th>
            </tr>
        <tr><td height="10px"></td></tr>
        {{if count($pto_detail) == 0}}
            <tr><td colspan="4" class="error">There are no policies.</td></tr>
        {{else}}
        {{foreach item=d from=$pto_detail name=foo key=index}}
        <tr>
            <input type="hidden" name = "txtIDs[]" value="{{$d->getId()}}">
            <td class="aleft" id="name-{{$d->getId()}}"><input type="text" class="datepicker"  name="txtFromDate[]" size="17%"  maxlength="120" value = "{{$d->getFromDate()|date_format:"%d-%b-%Y"}}"></td>
            <!--<td class="aleft" id="name-{{$d->getId()}}"><input type="text" class="datepicker"  name="txtToDate[]" size="17%"  maxlength="120" value = "{{$d->getToDate()|date_format:"%d-%b-%Y"}}"></td>-->
            <td class="aleft" id="name-{{$d->getId()}}"><input type="text" class="datepicker"  name="txtMaxHours[]" style="width:40px;"  maxlength="120" value = "{{$d->getMaxHours()}}"></td>
            <td></td>
            <td class="pt3 pb5 pL10 bdrbtm4">
                <input type="button" name="pol_delete" value="Delete Policy" onclick="deletePol({{$d->getId()}},{{$loc_id}})" title='Delete this policy' >
               <!-- <a href="javascript:;" onclick="deletePol({{$d->getId()}},{{$loc_id}})" class="tasktype-edit imglink" id="pol-delete" title='Delete this policy'>
                    <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                </a>-->
            </td>
            
        </tr>
         <tr><td height="10px"></td></tr>
         {{if ($tier_detail)}}
        <tr>
                <td colspan="4" style="padding-left:60px;">
                    <!--<div id="txtHint{{$d->getId()}}"></div>-->
                    <table cellpadding="0" cellspacing="0" border="0" highlight="on" id="tbl_pto" width="750" >
                            <input type="hidden" name="tierCntNew" id="tierCntNew">
                            <input type="hidden" name="dtierCnt" id="dtierCnt" value="{{$dtierCnt}}">
                            <input type="hidden" name="loc_id" id="loc_id" value="{{$loc_id}}">
                            <input type="hidden" name="pol_id" id="pol_id" value="{{$pol_id}}">
                            <!--<input type="hidden" name="tierAction" id="tierAction">-->
                        <tr id='top'>
                            <th width="20%" class="aleft" style="font-size:12px;" title="Enter a name for the PTO Tier." >Tiers</th>
                            <th width="10%" class="aleft" style="font-size:12px;" title="Enter the number of PTO days provided for this Tier." >PTO<BR>Days</th>
                            <th width="10%"  class="aleft" style="font-size:12px;" title="Enter the maximum number of years service for this tier before moving to the next tier.  Leave empty if there is no next tier" >Max<br>Service</th>
                            <th width=""></th>
                            <!--<th align='right'> <input type="button" class="buttonNew"  id="btn_add_tier"onclick="addMoreRows(this.form)" value='Add New Tier'></th>-->
                            </tr>
                        <tr><td height="5px"></td></tr>
                    {{foreach from=$tier_detail item=item key=policies}}
                        {{foreach from=$item item=item2 key=key2}}
                            {{if $index == $policies}}
                                <tr>
                                    <input type="hidden" name = "txtTierIDs[]" value="{{$item2.id}}">
                                    <td class="aleft" id="name-{{$item2.id}}"><input name="txtTier[]" type="text" size="15px" style="width:80px" maxlength="120" value = "{{$item2.time_period}}"></td>
                                    <td class="aleft" id="name-{{$item2.id}}"><input name="txtLeaves[]" type="text"  maxlength="120" style="width:20px" value="{{$item2.leaves}}"></td>
                                    <td class="aleft" id="name-{{$item2.id}}"><input name="txtService[]" type="text" maxlength="2" style="width:15px" value="{{$item2.max_service}}"></td>
                                    <!--<td class="pt3 pb5 pL10 bdrbtm4">
                                        <a href="javascript:;" onclick="deletTiers({{$item2.id}},{{$loc_id}})" class="tasktype-edit imglink" id="tier-delete" title='Delete this tier'>
                                            <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                                        </a>
                                    </td>-->
                                </tr>
                                <tr><td height="10px"></td></tr>
                            {{/if}}
                            <tr><td colspan='5'><table><div id="addedRows"></div></table></td></tr>
                        {{/foreach}}
                    {{/foreach}}
                        <tr><td height="20px"></td></tr>
                    </table>
                </td>
        </tr>
        {{/if}}
        {{/foreach}}
        {{if $tierCnt > 0 }}
            <tr><td height="10px"></td></tr>
            <tr><td colspan='4' align="right">
                <input type="button" name="edit_tier" value="Save" onclick="editDates({{$loc_id}})" >
                <a href="setup.list.php"><input type="button" name="cancel_user_details" id="Cancel" value="Cancel"></a>
            </td></tr>
        {{/if}}
        {{/if}}
    </table>
</form>

