<form method="post" action="licenseperiods.save.action.php" id="frmLicensePeriod" name="frmLicensePeriod">
<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
	<tr>
		<th class="aleft pt3 pb5 pL10">
            License Period <span style="color:#FF0000;"><b>*</b></span><br />
            <span style="font-weight: normal;">Valid entries are 30 Day(s), 60 Day(s) and 90 Day(s).</span>
        </th>
		<th class="aright pt3 pb5 pL10" width="155">&nbsp;</th>
	</tr>
	{{if !$smarty.get.excel}}
	<tr>
		<td class="darkerbg pt3 pb5 pL10 bdrbtm4">
			<input type="hidden" name="id" id="hdn_id">
			<input type="hidden" name="action" id="action">
		    <input type="text" name="duration" id="txt_name" size="10" maxlength="4">
            <select name="daymonthyear" id="daymonthyear" class="ui-widget-content ui-corner-all">
                <option value="Day(s)">Day(s)</option>
                <!-- option value="Month(s)">Month(s)</option>
                <option value="Year(s)">Year(s)</option -->
            </select>
        </td>
		<td class="actions aright darkerbg pt3 pb5 pL10 bdrbtm4 pR5">
			<input type="button" id="btn_save" value="Add">
			<input type="button" id="btn_cancel" value="Cancel" vText='Cancel'>
		</td>
	</tr>
	{{/if}}
	{{foreach item=e from=$licenseperiods}}
	<tr>
		<td class="pt3 pb5 pL10 bdrbtm4" id="name-{{$e->getId()}}">{{$e->getDuration()}} {{$e->getDaymonthyear()}}</td>
		<td class="actions aright pt3 pb5 pL10 bdrbtm4 pR5">
            <a href="#top" onclick="editDes({{$e->getId()}})" val="{{$e->getId()}}" class="tasktype-edit imglink" id="des-edit">
                <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
            </a>
            <span class="sep"><b>|</b></span> 
            <a href="javascript:;" onclick="deleteDes({{$e->getId()}})" class="tasktype-edit imglink" id="des-delete">
                <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
            </a>
        </td>
	</tr>
	{{/foreach}}
</table>
</form>
