<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" class="sortable" id="tbl_tasks">
	<thead>
	<tr>
		<th class="aleft pt3 pb5 pL10">Name</th>
		<th class="acenter pt3 pb5 pL10" width="60">Status</th>
		<th class="aright pt3 pb5 pL10" width="110" style="text-align: right;">Created date</th>
		<th class="aright pt3 pb5 pL10" width="80" style="text-align: right;">Projects</th>
		<th class="aright pt3 pb5 pL10 {sorter:false}" width="130px">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{{foreach item=client from=$clients}}
    {{if $client->getId() eq '1000'}}
    {{else}}
    
	<tr>
		<td class="pt3 pb5 pL10 bdrbtm4">
            <a href="client.view.php?id={{$client->getId()}}">{{$client->getName()}}</a>
            {{if $client->countProjects() eq '0'}}
            <span style="color:#FF0000;"><b>*</b></span>
            {{/if}}
        </td>
		<td class="acenter pt3 pb5 pL10 bdrbtm4">
            {{if $client->getIsActive()}}
                <span class='active_one'>Active</span>
            {{else}}
                <span class='inactive_one'>Inactive</span>
            {{/if}}
        </td>
		<td class="aright pt3 pb5 pL10 bdrbtm4">{{$client->getCreateDate()|date_format}}</td>
		<td class="aright pt3 pb5 pL10 bdrbtm4">{{$client->countProjects()}}</td>
		<td class="actions aright pt3 pb5 pL10 bdrbtm4">
			{{if $loginuser->isAdmin()}}
			<a href="client.view.php?id={{$client->getId()}}" class='imglink' title='View'>
                <img src='img/icons/view.png' border='0' width='16' height='16' alt='View'/>
            </a>
			<a href="client.edit.php?id={{$client->getId()}}" class='imglink' title='Edit'>
                <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
            </a>
			<a href="client.delete.php?id={{$client->getId()}}" class='imglink' title='Delete'>
                <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
            </a>
            {{if $client->getIsActive() }}
			<a href="project.add.php?client_id={{$client->getId()}}" class='imglink' title='Add Project'>
                <img src='img/icons/project_add.gif' border='0' width='16' height='16' alt='Add Project'/>
            </a>
            {{/if}}
			{{/if}}
			<a href="project.list.php?client_id={{$client->getId()}}" class='imglink' title='View projects'>
                <img src='img/icons/tab_projects.gif' border='0' width='16' height='16' alt='View Project'/>
            </a>
		</td>
	</tr>
    {{/if}}
	{{/foreach}}
</table>
