            {{if $users}}
			<table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%" highlight="on">
                <thead>
                <tr>
                    <th align="left" class="aleft pt3 pb5 pL10">First Name</th>
                    <th align="left" class="aleft pt3 pb5 pL10">Last Name</th>
                    <!--<th align="left" class="aleft pt3 pb5 pL10">Employee Code</th>-->
                    <th align="left" class="aleft pt3 pb5 pL10">Designation</th>
                    <th align="left" class="aleft pt3 pb5 pL10">Department</th>
                    <!--
                    <th align="left" class="aleft pt3 pb5 pL10">Location</th>
                    <th align="left" class="pt3 pb5 {sorter:false}" width='100px'>Is<br>Trainer?</th> 
                    <th align="left" class="pt3 pb5 {sorter:false}" width='100px'>Is<br>Timecard?</th> 
                    -->
                    <th align="left" class="aleft pt3 pb5 pL10 {sorter:false}">Technology Practice</th>
                    <!--<th align="left" class="aleft pt3 pb5 pL10" width="150px">Date Of Joining</th>-->
                </tr>
                </thead>
                <tbody>
                {{*foreach item=user from=$users*}}
                {{*assign var="employee" value=$user->getEmployee()*}}
                {{foreach item=emp_location key=location from=$empByLocation}}
                {{assign var=total value=0}}
                {{foreach item=employee from=$emp_location.employee}}
                <tr>
                    <td class="pt3 pb5 pL10 bdrbtm4" valign="top">
                        <a href="{{$timesheet_url}}/user.view.php?id={{$employee.user_id}}">{{$employee.first_name}}</a>
                        {{if $employee.blocked}}
                        <span style="color:#FF0000;"><b>*</b></span>
                        {{/if}}
                    </td>
                    <td class="pt3 pb5 pL10 bdrbtm4" valign="top">
                        <a href="{{$timesheet_url}}/user.view.php?id={{$employee.user_id}}">{{$employee.last_name}}</a>
                    </td>
                    <!--<td class="pt3 pb5 pL10 bdrbtm4" valign="top">{{*$employee->getEmployeeCode()*}}</td>-->
                    <td class="pt3 pb5 pL10 bdrbtm4" valign="top">{{$employee.designation_name}}</td>
                    <td class="pt3 pb5 pL10 bdrbtm4" valign="top">{{$employee.department_name}}</td>
                    <!--
                    <td class="pt3 pb5 pL10 bdrbtm4" valign="top">{{*$employee->getLocation()*}}</td>
                    <td class="acenter pt3 pb5 pL10 bdrbtm4" valign="top">
                        {{*if $employee->IsTrainer() == '1'*}}
                            <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" alt='Yes' title='Yes' />
                        {{*else*}}
                           <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" alt='No' title='No'/>
                        {{*/if*}}
                    </td>
                    <td class="acenter pt3 pb5 pL10 bdrbtm4" valign="top">
                        {{*if $employee->IsTimesheet() == '1'*}}
                            <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" alt='Yes' title='Yes' />
                        {{*else*}}
                           <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" alt='No' title='No'/>
                        {{*/if*}}
                    </td>
                    -->
                    <td class="pt3 pb5 pL10 bdrbtm4" valign="top">
                        {{foreach name=tech item=t from=$employee.tech_practice}}
                            {{$t.technology_practice}}<br>
                        {{/foreach}}
                    </td>
                    <!--<td class="pt3 pb5 pL10 bdrbtm4" valign="top">{{*$employee->getDateOfJoin()|date_format|default:"-"*}}</td>-->
                   </tr>
                   {{assign var=total value=$total+1 }}
                {{/foreach}}
                {{if !$smarty.get.excel}}
                <tr>
                     <td class="aright submitted pt3 pb5 pL10 bdrbtm4" style="border-bottom: 1px solid #3BA365;border-top: 1px solid #3BA365;">
                        <b><i>Location: {{$location}}</i></b>
                     </td> 
                     <td class="aright submitted pt3 pb5 pL10 bdrbtm4" style="border-bottom: 1px solid #3BA365;border-top: 1px solid #3BA365;">
                        <b><i>Total Members: {{$total}}</i></b>
                     </td> 
                     <td class="submitted pt3 pb5 pL10 bdrbtm4" style="border-bottom: 1px solid #3BA365;border-top: 1px solid #3BA365;" colspan="3">
                        &nbsp;
                     </td>
                </tr>
                {{/if}}
                {{/foreach}}
            </table>
            {{if !$smarty.get.excel}}
            <!-- Total Members -->
			<table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%" highlight="off">
                <tr><td colspan='3'>&nbsp;</td></tr>
                <tr>
                    <td class='submitted pt3 pb5 pL10' style="border-top: 1px solid #FCA1A1;">
                        <b><i>Sub Total By Department</i></b>
                    </td>
                    <td class='submitted pt3 pb5 pL10' style="border-top: 1px solid #FCA1A1;">
                        <b><i>Sub Total By Location</i></b>
                    </td>
                </tr>
                <tr>

                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <th align="left" class="aleft pt3 pb5 pL10">Department</th>
                                <th align="center" class="acenter pt3 pb5 pL10 pR10" width='50px'>Total</th>
                            </tr>
                            {{assign var=totalDep value=0}}
                            {{foreach item=e from=$empByTotalDepartment}}
                            <tr>
                                <td align="left" class="pt3 pb5 pL10 bdrbtm4">
                                    {{$e.name}}
                                </td>
                                <td align="center" class="acenter pt3 pb5 pL10 bdrbtm4" width="50px">
                                    {{$e.total}}
                                </td>
                            </tr>
                            {{assign var=totalDep value=$totalDep+$e.total }}
                            {{/foreach}}
                        </table>
                    </td>

                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <th align="left" class="aleft pt3 pb5 pL10">Location</th>
                                <th align="center" class="acenter pt3 pb5 pL10" width='50px'>Total</th>
                            </tr>
                            {{assign var=totalL value=0}}
                            {{foreach item=e from=$empByTotalLocation}}
                            <tr>
                                <td align="left" class="pt3 pb5 pL10 bdrbtm4">
                                    {{$e.name}}
                                </td>
                                <td align="center" class="acenter pt3 pb5 pL10 bdrbtm4" width="50px">
                                    {{$e.total}}
                                </td>
                            </tr>
                            {{assign var=totalL value=$totalL+$e.total }}
                            {{/foreach}}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="left" class="summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;">
                                    <b>Total</b>
                                </td>
                                <td align="center" class="acenter summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;" width="50px">
                                    <b>{{$totalDep}}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign='top'>
			            <table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="left" class="summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;">
                                    <b>Total</b>
                                </td>
                                <td align="center" class="acenter summary pt3 pb5 pL10 bdrbtm4" style="border-top: 1px solid #FCA1A1;" width="50px">
                                    <b>{{$totalL}}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan='3'>&nbsp;</td></tr>
            </table>
            {{/if}}

            {{else}}
            <div class="info">No users found.</div>
            {{/if}}
			
