{{if $p}}
{{if $total_pages gt 1}}
<br>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="auditlog.list.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="auditlog.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="auditlog.list.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="auditlog.list.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="auditlog.list.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}

<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" class="sortable" id="tbl_tasks">
	<thead>
	<tr>
		<th class="acenter pt3 pb5 pL10" width="30" style='text-align:center;'>ID</th>
		<th class="aleft pt3 pb5 pL10" width="90">Date</th>
		<th class="aleft pt3 pb5 pL10" width='110'>Action</th>
		<th class="acenter pt3 pb5 pL10" width="40">Status</th>
		<th class="acenter pt3 pb5 pL10" width="120">Host Name</th>
		<th class="aleft pt3 pb5 pL10">User</th>
		<th class="aleft pt3 pb5 pL10">Message</th>
	</tr>
	</thead>
	<tbody>
	{{foreach item=log from=$auditlogs}}
	<tr>
		<td class="acenter pt3 pb5 pL10 bdrbtm4">{{$log->getId()}}</td>
		<td class="pt3 pb5 pL10 bdrbtm4">{{$log->getCreateDate("m/d/Y h:i a")}}</td>
		<td class="aleft pt3 pb5 pL10 bdrbtm4">{{$log->getAction()}} </td>
		<td class="acenter pt3 pb5 pL10 bdrbtm4">
            {{if $log->getStatus() == "SUCCESS"}}
                <span class='active_one'>Success</span>
            {{else}}
                <span class='inactive_one'>Failed</span>
            {{/if}}
        </td>
		<td class="acenter pt3 pb5 pL10 bdrbtm4">{{$log->getHostName()}} </td>
		<td class="aleft pt3 pb5 pL10 bdrbtm4">
            {{if $log->getUserId() > 1}}
                <a href="user.view.php?id={{$log->getUserId()}}">{{$log->getCreatedBy()}}</a>
            {{else}}
                <b>{{$log->getCreatedBy()}}</b>
            {{/if}}
        </td>
		<td class="aleft pt3 pb5 pL10 bdrbtm4">{{$log->getMessage()}}</td>
	</tr>
	{{/foreach}}
</table>
{{if $p}}
{{if $total_pages gt 1}}
<br>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="auditlog.list.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="auditlog.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="auditlog.list.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="auditlog.list.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="auditlog.list.php?from_date={{$from_date}}&to_date={{$to_date}}&action={{$sel_action}}&status={{$status}}&email={{$email}}&cron={{$hide_cron}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}

