            {{if $users}}
			<table cellpadding="0" id='tbl_tasks'  cellspacing="0" border="0" width="100%" highlight="on" class='sortable'>
                <thead>
                <tr>
                    <th class="aleft pt3 pb5 pL10">Name</th>
                    <th class="aleft pt3 pb5 pL10">Email</th>
                    <th class="aleft pt3 pb5 pL10">Mobile</th>
                    <th class="aleft pt3 pb5 pL10">Home Phone</th>
                    <th class="aleft pt3 pb5 pL10">Office Phone</th>
                    <th class="aleft pt3 pb5 pL10">Skype ID</th>
                    <th class="aleft pt3 pb5 pL10">Yahoo ID</th>
                    <!--
                    <th class="aleft pt3 pb5 pL10">MSN ID</th>
                    <th class="aleft pt3 pb5 pL10">Gtalk ID</th>
                    -->
                </tr>
                </thead>
                <tbody>
                {{foreach item=user from=$users}}
                <tr>
                    <td class="pt3 pb5 pL10 bdrbtm4" valign='top'>
                        {{$user->getName()}}
                        {{if $user->isBlocked()}}
                        <span style="color:#FF0000;"><b>*</b></span>
                        {{/if}}
                    </td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>{{$user->getEmail()}}</td>
                    {{assign var=emp value=$user->getEmployee()}}
                    <td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>
                        {{$emp->getMobile1()}} {{if $emp->getMobile2()}}<br>{{/if}}
                        {{$emp->getMobile2()}}
                    </td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>
                        {{$emp->getPhone1()}} 
                    </td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>
                        {{$emp->getPhone2()}}
                    </td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>{{$emp->getSkypeId()}}</td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>{{$emp->getYahooId()}}</td>
                    <!--
                    <td class="aleft pt3 pb5 pL10 bdrbtm4">{{$emp->getMsnId()}}</td>
                    <td class="aleft pt3 pb5 pL10 bdrbtm4">{{$emp->getGtalkId()}}</td>
                    -->
                    {{/foreach}}
                </tr>
            </table>
            {{else}}
            <div class="info">No users found.</div>
            {{/if}}
			
