    {{if !$smarty.get.excel}}
    <div class="aright" style="height:34px; padding-top:2px;">
        <input type="button" id="btn_add" value="Add Product">
    </div>
    {{/if}}
    <table cellpadding="0" cellspacing="0" border="0" width="60%" highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
        <tr>
            <th class="aleft pt3 pb5 pL10">Product Code</th>
            <th class="aleft pt3 pb5 pL10">Product Name</th>
            <th class="aleft pt3 pb5 pL10">Version Number</th>
			<th class="aleft pt3 pb5 pL10">License Scheme</th>
            <th class="aleft pt3 pb5 pL10">Build Number</th>
            <th class="aleft pt3 pb5 pL10" colspan="2">Product Path</th>
        </tr>
        {{foreach item=e from=$products}}
        <tr>
            <td class="pt3 pb5 pL10 bdrbtm4" id="code-{{$e->getId()}}">{{$e->getCode()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4" id="name-{{$e->getId()}}"><span title="{{$e->getName()}}" class="ellipsify">{{$e->getName()}}</span></td>
            <td class="pt3 pb5 pL10 bdrbtm4" id="vrs-{{$e->getId()}}">{{$e->getVersion()}}</td>
			<td class="pt3 pb5 pL10 bdrbtm4" id="vrs-{{$e->getId()}}">{{if $e->getLicenseVersion() eq 1}}Old{{else}}New{{/if}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4" id="bld-{{$e->getId()}}">{{$e->getBuild()}}</td>
            <td class="pt3 pb5 pL10 bdrbtm4" id="pth-{{$e->getId()}}"><span title="{{$e->getPath()}}" class="ellipsify">{{$e->getPath()}}</span></td>
            <td class="actions aright pt3 pb5 pL10 bdrbtm4 pR5" style="white-space: nowrap;">
				{{assign var=pid value=$e->getId()}}
                <a href="#top" onclick="editProduct({{$e->getId()}}, [{{$product_modules.$pid.module_codes}}])" val="{{$e->getId()}}" class="tasktype-edit imglink" id="des-edit">
                    <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
                </a>
                <span class="sep"><b>|</b></span> 
                <a href="javascript:;" onclick="deleteProduct({{$e->getId()}})" class="tasktype-edit imglink" id="des-delete">
                    <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
                </a>
            </td>
        </tr>
        {{/foreach}}
    </table>


        <div id="add-product" style="display:none; font-size: 12px;">
            <br>
            <form method="post" action="products.save.action.php" id="frmProduct" name="frmProduct">
                <input type="hidden" name="id" id="hdn_id">
                <input type="hidden" name="action" id="action">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <!-- Product Info -->
                            <div id="product_info">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
                                <tr>
                                    <td colspan="2" style="padding: 8px;">
										<span style="color:#454545;">*</span> Required fields.<br>
										<span style="color:#454545;">&dagger;</span> Cannot be changed later<br> 
									</td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="150">Product Code *</th>
                                    <td class='pt3 pb5 pL10 bdrbtm4'><input type="textbox" id="code" name="code" class="code expand2fit" value="{{$post.code}}" maxlength="4" ><input type="hidden" id="productId" name="productId" value=""></td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10">Product Name *</th>
                                    <td class='pt3 pb5 pL10 bdrbtm4'><input type="textbox" id="name" name="name" class="name expand2fit" value="{{$post.name}}" maxlength="255" ></td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10">Modules &dagger;</th>
                                    <td class='pt3 pb5 pL10 bdrbtm4'>
										{{foreach item=m from=$modules}}
										<label>
											<input type="checkbox" id="module_code-{{$m->getCode()}}" name="module_codes[]" value="{{$m->getCode()}}">
											{{$m->getName()}}
										</label>
										{{/foreach}}
									</td>
                                </tr>
                            </table>
                            </div>
                            <!-- // Product Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr><td><br />&nbsp;</td></tr>
                    <tr>
                        <td> 
                            <!-- Version Info -->
                            <div id="contact_info">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" style="border: 1px solid #F0F0F0;">
                                <tr>
                                    <th class='aleft vatop' width="130" >Version Number *</th>
                                    <th class='aleft vatop' width="130">Build Number *</th>
                                    <th class='aleft'>
                                        Product Path *<br /><span style="font-size:11px;font-weight:normal">Eg: product/product_buildno.zip</span>
                                    </th>
									<th class='acenter vatop' style="width: 100px; white-space: nowrap;">New License<br/>Scheme?</th>
                                    <th class='aleft'>&nbsp;</th>
                                </tr>

                                <tr id='tr-0' style="display:none;">
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='hidden' name="version_id[]" id="version_id-0" value=""/>
                                        <input type='text' name="version[]" id="version-0" value="" style='width:100px;' maxlength="10" class="versionCheck"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="build[]" id="build-0" value="" style='width:100px;' maxlength="10" class="buildCheck"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="path[]" id="path-0" value="" maxlength="255" class="pathCheck expand2fit"/>
                                    </td>
									<td class="acenter vatop">
										<input type="checkbox" name="license_version[]" value="2" id="license_version-0"/>
									</td>
                                    <td class="aleft pt3 pb5 bdrbtm4">
                                        <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" onclick="removeRow()" id="img-0">
                                    </td>
                                </tr>

                                <tr id="tr-1">
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='hidden' name="version_id[1]" id="version_id-1" value=""/>
                                        <input type='text' name="version[1]" id="version-1" value="" style='width:100px;' maxlength="10" class="versionCheck"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="build[1]" id="build-1" value="" style='width:100px;' maxlength="10" class="buildCheck"/>
                                    </td>
                                    <td class="pt3 pb5 bdrbtm4">
                                        <input type='text' name="path[1]" id="path-1" value="" maxlength="255" class="pathCheck expand2fit"/>
                                    </td>
									<td class="acenter vatop">
										<input type="checkbox" name="license_version[1]" value="2" id="license_version-1"/>
									</td>
                                    <td class="aleft pt3 pb5 bdrbtm4">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr id='vAdd-more' class="vAddmore">
                                    <td class="pt3 pb5 pL10 pR5 bdrbtm4 aright" colspan='7'>
                                    <input type="button" id="btnAddMore" name='btnAddMore' value="Add more" class="buttonNew">
                                    </td>
                                </tr>

                            </table>
                            </div>
                            <!-- // Version Info ## E N D ### -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class="pt3 pb5 pL10 pR5">&nbsp;</td>
                    </tr>

                </table>
            </form>
        </div>



