<table cellpadding="5" cellspacing="2" border="0" width="100%" highlight="on">
	{{assign var=show_details value='0'}}
	{{assign var=export_details value='0'}}
    {{foreach from=$form_values.grp_by item=grp_value}} 
        {{if $grp_value eq 'showdetails_grp'}}
			{{assign var=show_details value='1'}}
        {{/if}}
        {{if $grp_value eq 'exportdetails_grp'}}
			{{assign var=export_details value='1'}}
        {{/if}}
    {{/foreach}}
	<thead>
		<tr>
		<th class="aleft" width="200">Member </th>
		<th class="aleft" width="200">Client</th> 
		<th class="aleft" width="200">Project</th>
		<th class="aleft" width="200">Sub project</th>
		<th class="aleft" width="200">Date</th>
		<th class="aleft" width="200">Status</th>
		<th class="aleft" width="200">Task type</th>
        {{if $export_details eq '1'}}
		    <th class="aleft" width="200">Details</th>
        {{/if}}
		<th class="" width="100">Total hours</th>
	</tr>
	</thead>
	{{assign var=nuser value=0}}
	{{assign var=total_hours value=0}}
	{{foreach item=i_uname from=$task_list}}
		{{assign var=user_hours value=0}}
		{{assign var=user_pto_hours value=0}}
		{{assign var=curr_user_name value=''}}
		{{foreach item=i_client from=$i_uname}}
			{{assign var=user_name value=''}}
			
			{{assign var=client_hours value=0}}
			{{foreach item=i_project from=$i_client}}
				{{assign var=client_name value=''}}
				
				{{assign var=prj_hours value=0}}
				{{foreach item=i_subproject from=$i_project}}
					{{assign var=project_name value=''}}
					
					{{assign var=subprj_hours value=0}}
					{{foreach item=v from=$i_subproject name=iteration}}
						{{assign var=subproject_name value=$v.subproject}}
						{{assign var=project_name value=$v.project}}
						{{assign var=client_name value=$v.client}}
						{{assign var=user_name value=$v.name}}
						{{assign var=user_name_length value=$v.name|strlen}}
			            {{if $user_name_length > 0 && $user_name != $curr_user_name}}
			                {{assign var=bgcolor value=$colors[$nuser]}}
			                {{assign var=nuser value=$nuser|modulo:1:$colors}}
				        <tr style="font-weight:bold;font-style:italic;">
							{{if $export_details eq '1'}}
					            <td style="font-size:120%;background-color:{{$bgcolor}}" align="center" colspan="9">{{$user_name}}</td>
                            {{else}}
					            <td style="font-size:120%;background-color:{{$bgcolor}}" align="center" colspan="8">{{$user_name}}</td>
                            {{/if}}
						</tr>
						    {{assign var=curr_user_name value=$user_name}}
			            {{/if}}

			            {{if $show_details eq '1'}}
						<tr>
							<td style="background-color:{{$bgcolor}}">{{$v.name}}</td>
							<td>{{$v.client}}</td>
							<td>{{$v.project}}</td>
							<td>{{$v.subproject}}</td>
							<td>{{$v.date}}</td>
							<td>{{if $v.closed}}Closed {{else}}Open {{/if}}</td>
							<td>{{$v.tasktype}}</td>
							{{if $export_details eq '1'}}
                                <td>{{$v.detail}}</td>
							{{/if}}
							<td align="right">{{$v.totalhours|m2hm}}</td>
						</tr>
			            {{/if}}
						{{assign var=total_hours value=$total_hours+$v.totalhours}}
						{{assign var=subprj_hours value=$subprj_hours+$v.totalhours}}
						{{assign var=prj_hours value=$prj_hours+$v.totalhours}}
			            {{if $v.project eq 'PTO'}}
						    {{assign var=user_pto_hours value=$user_pto_hours+$v.totalhours}}
			            {{else}}
						    {{assign var=user_hours value=$user_hours+$v.totalhours}}
						    {{assign var=client_hours value=$client_hours+$v.totalhours}}
			            {{/if}}
					{{/foreach}}
					
					{{ foreach from=$form_values.grp_by item=grp_value}} 
						{{if $grp_value eq 'subproject_grp'}}
							{{if $subproject_name != ''}} 
							<tr style="font-weight:bold;font-style:italic;">
							    {{if $export_details eq '1'}}
								    <td style="background-color:{{$bgcolor}}" colspan="8">Subproject Total: {{$subproject_name}}</td>
                                {{else}}
								    <td style="background-color:{{$bgcolor}}" colspan="7">Subproject Total: {{$subproject_name}}</td>
                                {{/if}}
								<td align="right" style="background-color:{{$bgcolor}}">{{$subprj_hours|m2hm}}</td>
							</tr>
                            {{/if}}
						{{/if}}
					{{/foreach}}					
				{{/foreach}}
								
				{{ foreach from=$form_values.grp_by item=grp_value}} 
					{{if $grp_value eq 'project_grp'}}
						<tr style="font-weight:bold;font-style:italic;">
							{{if $project_name eq 'PTO'}}
							    {{assign var=sub_total_title value='PTO Total:'}}
							{{else}}
							    {{assign var=sub_total_title value="Project Total: $project_name"}}
							{{/if}}
							{{if $export_details eq '1'}}
							    <td style="background-color:{{$bgcolor}}" colspan="8">{{$sub_total_title}}</td>
                            {{else}}
							    <td style="background-color:{{$bgcolor}}" colspan="7">{{$sub_total_title}}</td>
                            {{/if}}
							<td align="right" style="background-color:{{$bgcolor}}">{{$prj_hours|m2hm}}</td>
						</tr>
					{{/if}}
				{{/foreach}}
			{{/foreach}}		
			
			{{ foreach from=$form_values.grp_by item=grp_value}} 
				{{if $grp_value eq 'client_grp' && $client_hours > 0}}
					<tr style="font-weight:bold;font-style:italic;">
						{{if $export_details eq '1'}}
						    <td style="background-color:{{$bgcolor}}" colspan="8">Client Total: {{$client_name}}</td>
                        {{else}}
						    <td style="background-color:{{$bgcolor}}" colspan="7">Client Total: {{$client_name}}</td>
                        {{/if}}
						<td align="right" style="background-color:{{$bgcolor}}">{{$client_hours|m2hm}}</td>
					</tr>
				{{/if}}
			{{/foreach}}
		{{/foreach}}
				
		{{ foreach from=$form_values.grp_by item=grp_value}} 
			{{if $grp_value eq 'users_grp'}}
				<tr style="font-weight:bold;font-style:italic;">
				    {{if $export_details eq '1'}}
					    <td style="background-color:#313E59;color:#fff" colspan="8">Member Project Total: {{$user_name}}</td>
                    {{else}}
					    <td style="background-color:#313E59;color:#fff" colspan="7">Member Project Total: {{$user_name}}</td>
                    {{/if}}
					<td align="right" style="background-color:#313E59;color:#fff">{{$user_hours|m2hm}}</td>
				</tr>
				{{if not $user_pto_hours eq '0'}}
				    <tr style="font-weight:bold;font-style:italic;">
				    {{if $export_details eq '1'}}
					    <td style="background-color:#313E59;color:#fff" colspan="8">Member PTO Total: {{$user_name}}</td>
                    {{else}}
					    <td style="background-color:#313E59;color:#fff" colspan="7">Member PTO Total: {{$user_name}}</td>
                    {{/if}}
					<td align="right" style="background-color:#313E59;color:#fff">{{$user_pto_hours|m2hm}}</td>
				    </tr>
                {{/if}}
			{{/if}}
		{{/foreach}}
	{{foreachelse}}
		<tr>
            {{if $export_details eq '1'}}
			    <td style="background-color:{{$bgcolor}}" colspan="9" align="center">-- No Reports Found --</td>
            {{else}}
			    <td style="background-color:{{$bgcolor}}" colspan="8" align="center">-- No Reports Found --</td>
            {{/if}}
		</tr>
	{{/foreach}}
	<tr>
        {{if $export_details eq '1'}}
		    <th colspan="8" align="left"><strong>Total hours</strong></td>
        {{else}}
		    <th colspan="7" align="left"><strong>Total hours</strong></td>
        {{/if}}
		<th align="right"><strong>{{if $total_hours}}{{$total_hours|m2hm}} {{else}}&nbsp;{{/if}}</strong></th>
	</tr>	
</table>
