<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
	<tr>
		<th class="aleft pt3 pb5 pL10" width="200">Group</th>
		<th class="aleft pt3 pb5 pL10">Name</th>
		<th class="pt3 pb5 pL10 pR5">&nbsp;</th>
	</tr>
	{{if !$smarty.get.excel}}
	<tr id='top'>
		<td class="darkerbg pt3 pb5 pL10 bdrbtm4">
			<input type="hidden" name="id" id="hdn_id">
			<input type="hidden" name="action" id="action">
			<select name="group_id" id="sel_group_id">
				<option value="0">-Ungrouped-</option>
				{{foreach key=k item=i from=$groups}}
				<option value="{{$k}}">{{$i}}</option>
				{{/foreach}}
			</select>
		</td>
		<td class="darkerbg pt3 pb5 pL10 bdrbtm4"><input type="text" name="name" id="txt_name" class="expand2fit"></td>
		<td class="actions aright darkerbg pt3 pb5 pL10 bdrbtm4 pR5">
			<input type="button" id="btn_save" value="Add">
			<input type="button" id="btn_cancel" value="Cancel" vText='Cancel'>
		</td>
	</tr>
	{{/if}}
	{{foreach item=category from=$category}}
    {{assign var='grpid' value='0'}}
    {{if $category->getId() gt 1}}  
    {{if $category->getGroupId() }}
        {{assign var='grpid' value=$category->getGroupId()}}
    {{/if}}
	<tr id="tr-{{$category->getId()}}" stext="{{$grpid}}">
		<td class="pt3 pb5 pL10 bdrbtm4" id="group-{{$category->getId()}}">{{$category->getGroupName(true)}}</td>
		<td class="pt3 pb5 pL10 bdrbtm4" id="name-{{$category->getId()}}">{{$category->getName()}}</td>
		<td class="actions aright pt3 pb5 pL10 bdrbtm4 pR5">
            <a href="#top" onclick="editCat({{$category->getId()}},{{$grpid}})" class="tasktype-edit imglink" id="cat-edit" title='Edit'>
                <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
            </a>
            <a href="javascript:;" onclick="deleteCat({{$category->getId()}})" class="tasktype-edit imglink" id="cat-delete" title='Delete'>
                <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
            </a>
        </td>
	</tr>
    {{/if}}
	{{/foreach}}
</table>
