<table>
    <tr>        
        {{foreach from=$exclFirstHeading item=columns}}                  
            {{assign var=column value=$columns|json_decode:1}}
                {{foreach from=$column item=col}} 
                <th>
                    {{$col.title}}
                </th>    
                {{/foreach}}
        {{/foreach}}        
    </tr>  
    
    <tr>        
        {{foreach from=$exclSecondHeading item=columns}}                  
            {{assign var=column value=$columns|json_decode:1}}
                {{foreach from=$column item=col}} 
                <th style="background-color: #F00000">
                    {{$col.title}}
                </th>    
                {{/foreach}}
        {{/foreach}}        
    </tr>
    
    {{foreach from=$tableData item=objColumns}}    
        {{assign var=columns value=$objColumns|json_decode:1}}
        {{foreach from=$columns item=objColumn}} 
            {{assign var=column value=$objColumn|json_decode:1}}
            <tr>
            {{foreach from=$objColumn  item=col}}
                <td>
                    {{$col}}
                </td>    
            {{/foreach}}
            <td></td>
            </tr> 
        {{/foreach}}
    {{/foreach}}                         
</table>