            <form action="alerts.save.action.php" method="post" id="alerts_settings" name="alerts_settings">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border:1px solid #f0f0f0">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Weekly Timecard Report</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name='weekly_timecard_report_day' id='weekly_timecard_report_day'>
                                {{foreach item=d key=k from=$days}}
                                <option value='{{$k}}' {{if $settings.weekly_timecard_report_day eq $k}}selected{{/if}}>{{$d}}</option>
                                {{/foreach}}
                            </select>
                            <em><small>Last week timecard report will be sent to all <b>Business Managers</b> on selected week day.</small></em>
                        </td>
                    </tr>

                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Timesheet Deadline By</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name='timesheet_deadline_day' id='timesheet_deadline_day'>
                                {{foreach item=d key=k from=$days}}
                                <option value='{{$k}}' {{if $settings.timesheet_deadline_day eq $k}}selected{{/if}}>{{$d}}</option>
                                {{/foreach}}
                            </select>
                            
                            <select name='timesheet_deadline_time' id='timesheet_deadline_time'>
                                {{foreach item=t key=k from=$tm}}
                                <option value='{{$k}}' {{if $settings.timesheet_deadline_time eq $k}}selected{{/if}}>{{$t}}</option>
                                {{/foreach}}
                            </select>
                            <em><b>{{$server_timezone}}</b></em>
                        </td>
                    </tr>
                    
                    <tr id='tr-0' style='display:none;'>
                        <td colspan='2'>
                            <table cellpadding='0' cellspacing='0' border='0' id='tbl_tasks' width='100%'>
                                <tr>
                                    <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <div class='' style=''>
                                        <span style='font-size:18px;font-weight:bold;'>Reminder</span>
                                        <div style='float:right;' class='pR5'><a href='javascript:;' onClick='removeRow()'>Remove</a></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Reminder1</th>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <select name='reminder_day[]' id='reminder_day[]'>
                                            {{foreach item=d key=k from=$days}}
                                            <option value='{{$k}}' {{if $r eq $k}}selected{{/if}}>{{$d}}</option>
                                            {{/foreach}}
                                        </select>
                                        at
                                        <select name='reminder_time[]' id='reminder_time[]'>
                                            {{foreach item=t key=k from=$tm}}
                                            <option value='{{$k}}' {{if $settings.reminder_time[$smarty.foreach.i.index] eq $k}}selected{{/if}}>{{$t}}</option>
                                            {{/foreach}}
                                        </select>
                                        <em><b>{{$server_timezone}}</b></em>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Reminder Text</th>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <textarea name='reminder_text[]' id='reminder_text-0' cols='40' rows='10'>{{$settingsreminder_text}}</textarea>
                                    </td>
                                </tr> 
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Enable notification?</th>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <input type='checkbox' name='notify_reminder_bm[]' id='notify_bm-0' value='1' checked>
                                        <label for='notify_bm-0'><em><b>Send notification to Business Manager?</b></em></label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Enable reminder?</th>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <input type='checkbox' name='enable_reminder[]' id='enable_reminder-0' value='1' checked>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='right' valign='bottom' class='pt5 pb5 pR5'>
                            <a href='javascript:;' id='add_more'><b>Add more reminder</b></a>
                        </td>
                    </tr>
                    {{if $settings}}

                    {{foreach name=i item=r from=$settings.reminder_day }}
                    <tr id='tr-{{$smarty.foreach.i.iteration}}'>
                        <td colspan='2'>
                            <table cellpadding='0' cellspacing='0' border='0' id='tbl_tasks' width='100%'>
                                <tr>
                                    <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <div class='' style=''>
                                        <span style='font-size:18px;font-weight:bold;'>Reminder #{{$smarty.foreach.i.iteration}}</span>
                                        <div style='float:right;' class='pR5'><a href='javascript:;' onClick='removeRow({{$smarty.foreach.i.iteration}})'>Remove</a></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Reminder #{{$smarty.foreach.i.iteration}}</th>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <select name='reminder_day[]' id='reminder_day[]'>
                                            {{foreach item=d key=k from=$days}}
                                            <option value='{{$k}}' {{if $r eq $k}}selected{{/if}}>{{$d}}</option>
                                            {{/foreach}}
                                        </select>
                                        at
                                        <select name='reminder_time[]' id='reminder_time[]'>
                                            {{foreach item=t key=k from=$tm}}
                                            <option value='{{$k}}' {{if $settings.reminder_time[$smarty.foreach.i.index] eq $k}}selected{{/if}}>{{$t}}</option>
                                            {{/foreach}}
                                        </select>
                                        <em><b>{{$server_timezone}}</b></em>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Reminder Text</th>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <textarea name='reminder_text[]' id='reminder_text-{{$smarty.foreach.i.index}}' cols='40' rows='10'>{{$settings.reminder_text[$smarty.foreach.i.index]}}</textarea>
                                    </td>
                                </tr> 
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Enable notification?</th>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <input type='checkbox' name='notify_reminder_bm[{{$smarty.foreach.i.iteration}}]' id='notify_bm-{{$smarty.foreach.i.index}}' {{if $settings.notify_reminder_bm[$smarty.foreach.i.index]}}checked{{/if}} value='1'>
                                        <label for='notify_bm-{{$smarty.foreach.i.index}}'><em><b>Send notification to Business Manager?</b></em></label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="aleft pt3 pb5 pL10" width="200">Enable reminder?</th>
                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                        <input type='checkbox' name='enable_reminder[{{$smarty.foreach.i.iteration}}]' id='enable_reminder-{{$smarty.foreach.i.index}}' value='1'{{if $settings.enable_reminder[$smarty.foreach.i.index]}}checked{{/if}} >
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {{/foreach}}

                    {{else}}
                    <tr>
                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                        <td class="pt3 pb5 pL10 bdrbtm4"><h2>Reminder #1</h2></td>
                    </tr>
                    <tr id='tr-1'>
                        <th class="aleft pt3 pb5 pL10" width="200">Reminder</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name='reminder_day[]' id='reminder_day[]'>
                                {{foreach item=d key=k from=$days}}
                                <option value='{{$k}}' {{if $r eq $k}}selected{{/if}}>{{$d}}</option>
                                {{/foreach}}
                            </select>
                            at
                            <select name='reminder_time[]' id='reminder_time[]'>
                                {{foreach item=t key=k from=$tm}}
                                <option value='{{$k}}' {{if $settings.reminder_time[$smarty.foreach.i.index] eq $k}}selected{{/if}}>{{$t}}</option>
                                {{/foreach}}
                            </select>
                            <em><b>{{$server_timezone}}</b></em>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Reminder Text</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name='reminder_text[]' id='reminder_text-0' cols='40' rows='10'>{{$settingsreminder_text}}</textarea>
                        </td>
                    </tr> 
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Enable notification?</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type='checkbox' name='notify_reminder_bm[]' id='notify_bm-0' value='1'>
                            <label for='notify_bm-0'><em><b>Send notification to Business Manager?</b></em></label>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Enable reminder?</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type='checkbox' name='enable_reminder[]' id='enable_reminder-0' value='1' >
                        </td>
                    </tr>
                    <tr>
                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                        <td class="pt3 pb5 pL10 bdrbtm4"><h2>Reminder #2</h2></td>
                    </tr>
                    
                    <tr id='tr-2'>
                        <th class="aleft pt3 pb5 pL10" width="200">Reminder</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <select name='reminder_day[]' id='reminder_day[]'>
                                {{foreach item=d key=k from=$days}}
                                <option value='{{$k}}' {{if $r eq $k}}selected{{/if}}>{{$d}}</option>
                                {{/foreach}}
                            </select>
                            at
                            <select name='reminder_time[]' id='reminder_time[]'>
                                {{foreach item=t key=k from=$tm}}
                                <option value='{{$k}}' {{if $settings.reminder_time[$smarty.foreach.i.index] eq $k}}selected{{/if}}>{{$t}}</option>
                                {{/foreach}}
                            </select>
                            <em><b>{{$server_timezone}}</b></em>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Reminder Text</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name='reminder_text[]' id='reminder_text-1' cols='40' rows='10'></textarea>
                        </td>
                    </tr> 
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Enable notification?</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type='checkbox' name='notify_reminder_bm[]' id='notify_bm-1' value='1'>
                            <label for='notify_bm-1'><em><b>Send notification to Business Manager?</b></em></label>
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Enable reminder?</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type='checkbox' name='enable_reminder[]' id='enable_reminder-1' value='1' >
                        </td>
                    </tr>
                    {{/if}}
                    <tr id='tr-save'>
                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                        <td class='aleft pt3 pb5 pL10 bdrbtm4'>
                            <input type="button" id="btnSave" name="btnSave" value="Save settings"/>
                            {{if $fetch neq '1'}}
                            <a href="setup.list.php" class="linkbutton" vText='Cancel'>Go back to setup</a>
                            {{/if}}
                        </td>
                    </tr>
                </table>
            </form>
