<style>
div.pq-grid-summary{
    height:2px;border-bottom:1px solid #ddd;border-top:1px solid #fff;position:relative;
}
div.pq-grid-summary table.pq-grid-table{
    position:absolute;top:0px;
}
</style>
<script>
    $(function () {        
        
        var billableData = {{$billableTableData}}         
        var gridWidth = $('#content').width();    
        var summaryData;
        var $summary = "";
        
        var objBillable = { width: gridWidth, height: 450, title: "Monthly Summary (Billable)",resizable:true,draggable:false,editable: false,freezeCols: 3 };
        objBillable.colModel = {{$tableHeading}} 
        objBillable.dataModel = {data: billableData};       
        
        objBillable.render = function (evt, ui) {
            $summary = $("<div class='pq-grid-summary'></div>")
            .prependTo($(".pq-grid-bottom", this));
            summaryData = {{$lastRowForBillable}};                                
        }       
        objBillable.cellSave = function (ui) {            
            objBillable.refresh();
        }
        objBillable.refresh = function (evt, ui) {            
            var data = [summaryData]; 
            var obj = { data: data, $cont: $summary }
            $grid.pqGrid("createTable", obj);
        }
        var $grid = $("#billable_time_grid").pqGrid(objBillable);
        
        var summaryDataForNonBillable;
        var $summaryNonBillable = "";
        var nonBillableData = {{$nonBillableTableData}}                       
        var objNonBillable = { width: gridWidth, height: 300, title: "Monthly Summary (Non-Billable)",resizable:true,draggable:false,editable: false,freezeCols: 3 };
        objNonBillable.colModel = {{$tableHeading}} 
        objNonBillable.dataModel = { data: nonBillableData };               
        objNonBillable.render = function (evt, ui) {
            $summaryNonBillable = $("<div class='pq-grid-summary'></div>")
            .prependTo($(".pq-grid-bottom", this));
            summaryDataForNonBillable = {{$lastRowForNonBillable}};                                
        }        
        objNonBillable.cellSave = function (ui) {            
            objNonBillable.refresh();
        }
        objNonBillable.refresh = function (evt, ui) {            
            var data = [summaryDataForNonBillable]; 
            var obj = { data: data, $cont: $summaryNonBillable }
            $grid2.pqGrid("createTable", obj);
        }
        var $grid2 = $("#nonbillable_time_grid").pqGrid(objNonBillable);        
    });
        
</script>    
<div id="billable_time_grid"></div>
<br/>
<div id="nonbillable_time_grid"></div>