{{if $p}}
{{if $total_pages gt 1}}
<br>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}

<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="on" id="tbl_tasks">
    <tr>    
        <th class="aleft pt3 pb5 pL10" width="150">Date</th>
        <th class="aleft pt3 pb5 pL10">Title</th>
        <th class="aleft pt3 pb5 pL10">Description</th>
        <th class="aleft pt3 pb5 pL10" width="150">Status</th>
        <th class="aleft pt3 pb5 pL10" width="140">Created On / By</th>
        <th class="aleft pt3 pb5 pL10" width="140">Updated On / By</th>
        <th class="pt3 pb5 pL10 pR5" width="80"></th>
    </tr>
    {{foreach item=i from=$trivias}}
    <tr>
        <td class="pt3 pb5 pL10 bdrbtm4" valign='top'>{{$i->getDateTime("m/d/Y h:i a")}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4" valign='top'>
            <a href="trivia.view.php?id={{$i->getId()}}">{{$i->getTitle()}}</a>
        </td>
        <td align="left" class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>
        {{$i->description}} ...
        </td>
        <td align="left" class="aleft pt3 pb5 pL10 bdrbtm4" valign='top'>
            {{if $i->getStatus() eq "Draft" }}<span class='draft-box'><b>Draft</b></span>{{/if}}
            {{if $i->getStatus() eq "Queued" }}<span class='queued-box'><b>Approval Pending</b></span>{{/if}}
            {{if $i->getStatus() eq "Open" }}<span class='open-box'><b>Open</b></span>{{/if}}
            {{if $i->getStatus() eq "Closed" }}<span class='closed-box'><b>Closed</b></span>{{/if}}
            {{if $i->getStatus() eq "Rejected" }}<span class='rejected-box'><b>Rejected</b></span>{{/if}}
        </td>
        <td class="pt3 pb5 pL10 bdrbtm4" valign='top'>{{$i->getCreateDate("m/d/Y h:i a")}} / {{$i->getCreatedBy()}}</td>
        <td class="pt3 pb5 pL10 bdrbtm4" valign='top'>{{$i->getUpdateDate("m/d/Y h:i a")}} / {{$i->getUpdatedBy()}}</td>
        <td class="aright pt3 pb5 pL10 bdrbtm4 pR5">
        <a href="trivia.view.php?id={{$i->getId()}}" class="imglink" title="View"><img src='img/icons/view.png' border='0' width='16' height='16' alt='View'/></a> 
        {{if $i->isOwner()}}
        {{$sep}}
        <a href="trivia.edit.php?id={{$i->getId()}}" class='imglink' title='Edit'><img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/></a>
        <!--
        {{if $loginuser->isAdmin() || $i->isOwner()}}
        {{$sep}}
        <a href="javascript:;" onclick="del_trivia({{$i->getId()}})" class="imglink" title="Delete"><img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/></a>
        {{/if}}
        -->
        {{/if}}
        </td>
    </tr>
    {{/foreach}}
</table>
{{if $p}}
{{if $total_pages gt 1}}
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}
