{{if !$smarty.get.excel}}
{{if $p}}
{{if $total_pages gt 1}}
<br>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}
{{/if}}
<table cellpadding="5" cellspacing="2" border="0" width="100%" highlight="on" id="tbl_contact_list">
    <tr>    
        <th class="aleft ui-corner-tl">Name</th>
        <th class="aleft ui-corner-tl">Company</th>
        <th class="acenter ui-corner-tl">IsClient</th>
        <th class="aleft ui-corner-tl">Group</th>
        <th class="acenter ui-corner-tl">Active?</th>
        <th class="aleft ui-corner-tl">Primary Contact</th>
        <th class="aleft ui-corner-tl">Primary Address</th>
        <th class="aleft ui-corner-tl" width="50"></th>
    </tr>
    {{foreach item=a key=k from=$contacts}}
    <tr id="tr-{{$k}}" stext="{{$a->getFullName()|strtolower}}">
        <td>
            <a href="contact.view.php?id={{$a->getId()}}">{{$a->getFullName()}}</a>
        </td>
        <td>{{$a->getClientName()}}</td>
        <td class="acenter">{{if $a->getIsClient() eq 1}}Yes{{else}}No{{/if}}</td>
        <td>{{$a->getGroupName()}}</td>
        <td class="acenter">{{if $a->getActive() eq 1}}Yes{{else}}No{{/if}}</td>
        <td>
            {{if $a->getCommunication()}}
                {{foreach item=c from=$a->getCommunication()}}
                    {{if $c->getIsPrimaryCommunication() eq '1'}}
                        {{$c->getCommunicationDetails()}} {{if $c->getCommunicationExtension() gt '0'}}-{{$c->getCommunicationExtension()}}{{/if}}
                    {{/if}}
                {{/foreach}}
            {{else}}
                No Contact
            {{/if}} 
        </td>
        <td>
            {{if $a->getAddressBook()}}
                {{foreach item=c from=$a->getAddressBook()}}
                    {{if $c->getIsPrimaryAddress() eq '1'}}
                        {{$c->getAddress()}}
                    {{/if}}
                {{/foreach}}
            {{else}}
                No Address
            {{/if}} 
        </td>
        <td class="aright">
            <a href="contact.edit.php?id={{$a->getId()}}">Edit</a>
        </td>
    </tr>
    {{/foreach}}
</table>
{{if !$smarty.get.excel}}
{{if $p}}
{{if $total_pages gt 1}}
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="contact.list.php?group={{$group_id}}&view={{$view}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}
{{/if}}
