<form method="post" action="training.skills.save.action.php" id="frmDep" name="frmDep">
<table cellpadding="0" cellspacing="0" border="0" width="60%" highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
	<tr>
		<th class="aleft pt3 pb5 pL10">Training Skill</th>
		<th class="aright pt3 pb5 pL10">&nbsp;</th>
	</tr>
	{{if !$smarty.get.excel}}
	<tr id='top'>
		<td class="darkerbg pt3 pb5 pL10 bdrbtm4">
			<input type="hidden" name="id" id="hdn_id">
			<input type="hidden" name="action" id="action">
		    <input type="text" name="name" id="txt_name" class="expand2fit">
        </td>
		<td class="actions aright darkerbg pt3 pb5 pL10 bdrbtm4 pR5">
			<input type="button" id="btn_save" value="Add">
			<input type="button" id="btn_cancel" value="Cancel" vText='Cancel'>
		</td>
	</tr>
	{{/if}}
	{{foreach item=d from=$training_skills}}
	<tr>
		<td class="pt3 pb5 pL10 bdrbtm4" id="name-{{$d->getId()}}">{{$d->getName()}}</td>
		<td class="actions aright pt3 pb5 pL10 bdrbtm4 pR5">
            <a href="#top" onclick="editDep({{$d->getId()}})" class="tasktype-edit imglink" id="dep-edit" title='Edit'>
                <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
            </a>
            <a href="javascript:;" onclick="deleteDep({{$d->getId()}})" class="tasktype-edit imglink" id="dep-delete" title='Delete'>
                <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
            </a>
        </td>
	</tr>
	{{/foreach}}
</table>
</form>
