<form method="post" action="designation.save.action.php" id="frmDes" name="frmDes">
<table cellpadding="0" cellspacing="0" border="0" width="60%" highlight="on" id="tbl_tasks" style="border: 1px solid #f0f0f0">
	<tr>
		<th class="aleft pt3 pb5 pL10">Employee Designation</th>
		<th class="aright pt3 pb5 pL10">&nbsp;</th>
	</tr>
	{{if !$smarty.get.excel}}
	<tr>
		<td class="darkerbg pt3 pb5 pL10 bdrbtm4">
			<input type="hidden" name="id" id="hdn_id">
			<input type="hidden" name="action" id="action">
		    <input type="text" name="name" id="txt_name" class="expand2fit">
        </td>
		<td class="actions aright darkerbg pt3 pb5 pL10 bdrbtm4 pR5">
			<input type="button" id="btn_save" value="Add">
			<input type="button" id="btn_cancel" value="Cancel" vText='Cancel'>
		</td>
	</tr>
	{{/if}}
	{{foreach item=d from=$designation}}
    {{if $d->getId() gt 1}}  
	<tr>
		<td class="pt3 pb5 pL10 bdrbtm4" id="name-{{$d->getId()}}">{{$d->getName()}}</td>
		<td class="actions aright pt3 pb5 pL10 bdrbtm4 pR5">
            <a href="#top" onclick="editDes({{$d->getId()}})" val="{{$d->getId()}}" class="tasktype-edit imglink" id="des-edit">
                <img src='img/icons/edit16x16.png' border='0' width='16' height='16' alt='Edit'/>
            </a>
            <span class="sep"><b>|</b></span> 
            <a href="javascript:;" onclick="deleteDes({{$d->getId()}})" class="tasktype-edit imglink" id="des-delete">
                <img src='img/icons/delete16x16.png' border='0' width='16' height='16' alt='Delete'/>
            </a>
        </td>
	</tr>
    {{/if}}
	{{/foreach}}
</table>
</form>
