<table cellpadding="0" cellspacing="0" border="0" width="60%" highlight="off" id="tbl_tasks" style="border: 1px solid #f0f0f0">
	<tr>
		<th class="aleft pt3 pb5 pL10">Name</th>
		<th class="aleft pt3 pb5 pL10">Text Color</th>
		<th class="aleft pt3 pb5 pL10">Background Color</th>
	</tr>
	{{foreach item=c from=$colorcode}}
    <input type="hidden" name="ids[]" value="{{$c.id}}"/>
	<tr>
		<th class="aleft pt3 pb5 pL10">{{$c.name}}</th>
		<td class="pt3 pb5 pL10 bdrbtm4"> <input type="text" name="txtText-{{$c.id}}" id="txtText-{{$c.id}}" value="{{$c.text_color}}"/> </td>
		<td class="pt3 pb5 pL10 bdrbtm4"> <input type="text" name="txtBackground-{{$c.id}}" id="txtBackground-{{$c.id}}" value="{{$c.background_color}}"/> </td>
	</tr>
    {{/foreach}}
    <tr>
        <td colspan="3" align="center" class="pt3 pb5 pL10 bdrbtm4">
            <input type="button" name="btnAdd" id="btnAdd" value="Save calendar colors"/>
            <a href="setup.list.php" class="linkbutton" vText='Cancel'>Cancel go back to setup list</a>
        </td>
    </tr>
</table>
