<table cellpadding="2" cellspacing="2" border="0" width="100%" highlight="on" id="tbl_tasks" style="border:1px solid #000000">
    <thead>
        <tr>
            <th class="aleft pt3 pb5 pL10" width="200" colspan="3"></th>
            
            {{foreach item=i from=$days}}
                <th  class="aleft pt3 pb5 pL10">{{$i|date_format:"%#a"|substr:0:1}} </th>
            {{/foreach}}
            <th class="aleft pt3 pb5 pL10" width="200"></th>
        </tr>
        <tr>
            <th class="aleft pt3 pb5 pL10" width="200">Client</th>
            <th class="aleft pt3 pb5 pL10" width="200">Project</th>            
            <th class="aleft pt3 pb5 pL10" width="200">Consultant</th>
            {{assign var="totalDateColumn" value=0}}
            {{foreach  item=i from=$days}}
                <th  class="aleft pt3 pb5 pL10">{{$i|date_format:"%#d"}} </th>
                {{assign var="totalDateColumn" value="`$totalDateColumn+1`"}}
            {{/foreach}}
            <th class="aleft pt3 pb5 pL10" width="200">Total</th>
        </tr>
        {{assign var="totalSum" value=0}}
        {{foreach key=i item=record from=$records}}
        <tr>
            <td  class="aleft pt3 pb5 pL10" style="border:1px solid #000000">{{$record.client_name}} </td>
            <td  class="aleft pt3 pb5 pL10" style="border:1px solid #000000">{{$record.project_name}} </td>
            <td  class="aleft pt3 pb5 pL10" style="border:1px solid #000000">{{$record.user_name}} </td>
            {{foreach  item=i from=$days}}                    
             <td  class="aleft pt3 pb5 pL10" style="border:1px solid #000000">{{$record.$i|m2hm}} </td>
             {{assign var="sum" value="`$sum+$record.$i`"}}
             {{assign var="totalSum" value="`$totalSum+$record.$i`"}}
            {{/foreach}}
            <td  class="aleft pt3 pb5 pL10" style="border:1px solid #000000">{{$sum|m2hm}}</td>
            {{assign var="sum" value=0}}
        </tr>    
        {{/foreach}}
        
        <tr>
            <td class="aleft pt3 pb5 pL10" width="200" colspan="3" style="border:1px solid #000000"></td>
            
           
            <td  class="aleft pt3 pb5 pL10" colspan="{{$totalDateColumn}}" style="border:1px solid #000000"></td>
            
            <td class="aleft pt3 pb5 pL10" width="200" style="border:1px solid #000000"><b>{{$totalSum|m2hm}}</b></td>
        </tr>
        
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(function () {        
        
        var data = {{$tableData}}            
        var gridWidth = $('#content').width();                
        var obj = { width: gridWidth, height: 500, title: "Monthly Summary of Time Worked",resizable:false,draggable:false };
        obj.colModel = {{$tableHeading}} 
        obj.dataModel = { data: data };
        $("#grid_array").pqGrid(obj);

    });
        
</script>    
<div id="grid_array"></div>