<table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks" highlight="on">                
    <tr>                    
        <th rowspan="2" class="aleft pt3 pb5 pL10" width="80">Week</th>                    
        <th rowspan="2" class="aleft pt3 pb5 pL10">Period</th>                   
        <!--<th class="aleft" width="160">Status</th>-->                   
        {{assign var="tmp" value=$tasks|@reset}}                    
        {{foreach name=x key=k item=i from=$tmp.times}}                    
        <th colspan="2" width="100" class="pt3 pb5 pL10">{{$k|date_format:"%a"}} </th> 
        {{/foreach}}                   
        <th rowspan="2" class="aleft pt3 pb5 pL10">Total Project Hours</th>  
        <th rowspan="2" class="aleft pt3 pb5 pL10">Total PTO Hours</th>   
        <th rowspan="2" class="aleft pt3 pb5 pL10">Productivity</th>  
        <th rowspan="2" class="aleft pt3 pb5 pL10">Utilization</th>     
        <th rowspan="2" class="pt3 pb5 pL10">&nbsp;</th>         
    </tr>             
    <tr>               
        {{assign var="tmp" value=$tasks|@reset}}  
        {{foreach name=x key=k item=i from=$tmp.times}}
        <th class="aright fbold pt3 pb5 pL10">Project</th> 
        <th class="aright fbold pt3 pb5 pL10">PTO</th>    
        {{/foreach}}           
    </tr>             
    <tr> 
    </tr>         
    {{foreach name=x key=k item=i from=$tasks}}
    {{assign var="classSubmitted" value=''}}              
    {{assign var="classSubmitted1" value=''}}            
    {{assign var="strAction" value='Edit'}}            
    {{if $i.timecard_submitted eq '1'}}            
    {{assign var="classSubmitted" value='submitted'}}   
    {{assign var="classSubmitted1" value='submitted1'}}   
    {{assign var="strAction" value='View'}}          
    {{/if}}         
    <tr>          
        <td class="{{$classSubmitted}} pt3 pb5 pL10 bdrbtm4">  
            <a href="task.add.multiple.php?date={{$i.from|mdy|escape:"url"}}&user_id={{if $smarty.get.user_id}}{{$smarty.get.user_id}}{{else}}{{$user->getId()}}{{/if}}">Week #{{$i.week}}</a> 
        </td>                   
        <td class="{{$classSubmitted}} pt3 pb5 pL10 bdrbtm4">{{$i.from|mdy}} - {{$i.to|mdy}}</td>                   
        <!--<td>Submitted</td>-->                   
        {{foreach name=y item=j from=$i.times}}                  
        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq  1 or $smarty.foreach.y.iteration eq 7}}{{$classSubmitted1}} darkerbg{{else}}{{$classSubmitted}}{{/if}}">
                {{if $j}}
                    {{$j.project_duration_mins|m2hm}}
                {{else}}
                    &nbsp;
                {{/if}} 
        </td> 
        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq  1 or $smarty.foreach.y.iteration eq 7}}{{$classSubmitted1}} darkerbg{{else}}{{$classSubmitted}}{{/if}}">
                {{if $j}}
                    {{$j.pto_duration_mins|m2hm}}
                {{else}}
                    &nbsp;
                {{/if}}
        </td>  
        {{/foreach}}                   
        <td class="aright fbold pt3 pb5 pL10 bdrbtm4 {{$classSubmitted}}">{{if $i.total gt 0}}{{$i.total|m2hm}}{{else}}&nbsp;{{/if}}</td>  
        <td class="aright fbold pt3 pb5 pL10 bdrbtm4 {{$classSubmitted}}">{{if $i.pto_total gt 0}}{{$i.pto_total|m2hm}}{{else}}&nbsp;{{/if}}</td>
        <td class="aright fbold pt3 pb5 pL10 bdrbtm4 {{$classSubmitted}}">       
            {{if $i.timecard_utilization.productivity_factor gt '0'}}        
            <div class='pFactor'><p>{{$i.timecard_utilization.productivity_factor}}%</p></div> 
            {{/if}}                   
        </td>                 
        <td class="aright fbold pt3 pb5 pL10 bdrbtm4 {{$classSubmitted}}">   
            {{if $i.timecard_utilization.billable_utilization_factor != ''}}    
            <div class='pFactor'><p>{{$i.timecard_utilization.billable_utilization_factor}}%</p></div>  
            {{/if}}                 
        </td>                 
        <td class="actions aright pt3 pb5 pL10 bdrbtm4 pR10 {{$classSubmitted}}">
            {{*if $i.total gt 0*}}                 
            {{if $loginuser->getId() == $user->getId() or $loginuser->isAdmin() == 1}}   
            <a href="task.add.multiple.php?date={{$i.from|mdy|escape:"url"}}&user_id={{if $smarty.get.user_id}}{{$smarty.get.user_id}}{{else}}{{$user->getId()}}{{/if}}" class='imglink' title="{{$strAction}}">   
                {{if $strAction eq "Edit"}}                         
                <img src='img/icons/task_edit.gif' border='0' width='16' height='16' alt='Edit Timecard'/>     
                {{else}}           
                <img src='img/icons/tasks.gif' border='0' width='16' height='16' alt='View Timecard'/>  
                {{/if}}                  
            </a>                       
            {{/if}}			
            {{*/if*}}	                
        </td>             
    </tr>             
    {{/foreach}}       
</table>