{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="task.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="50%"><h1>Tasks</h1></td>
                    <td class="aright">
                        <form action="task.list.php" method="get" class="inline">
                        </form>
                    </td>
                </tr>
            </table>
            {{if $tasks}}
            <table cellpadding="5" cellspacing="2" border="0" width="100%" highlight="on">
                <thead>
                <tr>
                    <th class="aleft ui-corner-tl" width="70">Date</th>
                    <th class="aleft" width="200">Task type</th>
                    <th class="aleft">Detail</th>
                    <th class="aleft" width="200">Project</th>
                    <th class="aleft" width="150">User</th>
                    <th class="aright" width="60">Duration</th>
					{{if $users_list.member_id == $users_list.manager_id}}
                    <th class="ui-corner-tr">&nbsp;</th>
					{{/if}}
                </tr>
                </thead>
                <tbody>
                {{foreach item=task from=$tasks}}
                {{assign var="task_date" value=$task->getTaskDate()}}
                <tr>
                    <td>{{if $task_date ne $old_task_date}}{{$task_date|date_format}}{{else}}&nbsp;{{/if}}</td>
                    <td>{{$task->getTaskTypeName(true)}}</td>
                    <td>{{$task->getDetail()|strip_tags|truncate:90}}</td>
                    <td>{{$task->getProjectName()}}</td>
                    <td>{{$task->getUserName()}}</td>
                    <td class="aright">{{$task->getDurationMins()|m2hm}}</td>
					{{if $users_list.member_id == $users_list.manager_id}}
                    <td class="actions aright">
                        <a href="task.view.php?id={{$task->getId()}}">View</a>
                        {{$sep}}
                        <a href="task.edit.php?id={{$task->getId()}}">Edit</a>
                        {{$sep}}
                        <a href="task.delete.php?id={{$task->getId()}}">Delete</a>
                    </td>
					{{/if}}
                </tr>
                {{assign var="old_task_date" value=$task_date}}
                {{/foreach}}
            </table>
            {{else}}
            <div class="info">
                No tasks found.
            </div>
            {{/if}}
        </div>
    </body>

</html>
