{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence:: Timecard</title>
        {{include file="css.and.js.html"}}      
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>    
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="css/pqgrid.min.css" />
        <script src="js/pqgrid.min.js"></script>
        <link rel="stylesheet" href="css/pqgrid.css" />
        <script type="text/javascript" language="javascript">
            jQuery(function($){
                    $('#datepicker').datepicker({
                    showButtonPanel: true,
                    changeMonth: true,
                    changeYear: true,
                    onSelect: function(d){
                        target = $(this).attr("target");
                        if(target) window.location.href = target + "?date=" + d;
                    },
                    dateFormat: 'mm/dd/yy' 

                    });						
                
                $("#frm_filter input[type=submit]").hide();		
		
            });
        </script>
    </head>
    <body>
        {{include file="task.common.html"}}
        <div id="content" class='d-block-table'>            
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr>
                    <td class="aleft" width="50%">
                        <h1>Monthly Summary of Time Worked</h1>
                    </td>
                    <td class="aright vamiddle">
                        <form action="task.month.summary.php" class="inline" id="frm_filter">
                            {{assign var="url" value="task.month.summary.php"}}
                            <a href="{{$url}}?date={{$prev_month|escape:"url"}}">&laquo; Previous month</a>
                            <input type="text" name="date" class="datepicker" id="datepicker" value="{{$date}}" target="task.month.summary.php" style="width: 70px; cursor: default;">
                            <a href="{{$url}}?date={{$next_month|escape:"url"}}">Next month &raquo;</a> 							                            
                        </form>                        
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2'>
                        <a id="export" href="task.month.summary.php?excel=1&{{$smarty.server.QUERY_STRING}}">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>             
            {{include file="table.task.month.timecard.html"}}
        </div>
        {{include file="footer.html"}}
    </body>
</html>