{{include file="doctype.html"}}
<html>    
    <head>        
        <title>Influence:: Timecard</title>        
        {{include file="css.and.js.html"}}        
        <style type="text/css">            
            select { width: 128px; }            
            select.disabled { color: #aaa; }        
        </style>        
        <script src="js/jquery.listen.js" type="text/javascript" language="javascript"></script>        
        <script src="js/task.add.js" type="text/javascript" language="javascript"></script>        
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>        
        <script type="text/javascript" language="javascript">
        var data = {{$data}};
        var sTaskId = '';
        var hTaskId = '';
        var imgs = {
        add: { icon: "img/icons/task_add.gif", title: "Add task detail" },
                edit: { icon: "img/icons/task_edit.gif", title: "" }
        };
        var standard_hour = {{$standard_mins}};
        var no_of_days = {{$no_of_days}};
        var productivity_factor = {{$productivity_factor}};
        var timecard_data = {{$timecard_data}};
        var curr_date_ts = {{$curr_date_ts}};
        var totalMins = 0;
        var totalBillMins = 0;
        var totalHolidayBillMins = 0;
        var totalUnassignedMins = 0;
        var totalPTOMins = 0;
        var totalStdMins = 0;
        var day_count = 0;
        var public_holiday_count = 0;
        var blnEntred = false;
		var isValid = false;
        var blnDisableAll = {{$disableAll}};
        jQuery(function($){
        $tbl_tasks = $("#tbl_tasks");
                var next_row_id = $("tr", $tbl_tasks).length - 1;
                $("#tbl_tasks").listen(($.browser.msie ? "click" : "change"), "select", function(){
        $this = $(this); id = $this.attr("id");
                row = id.split(/-/)[1];
                $sel_project_id = $("#sel_project_id-" + row);
                $sel_subproject_id = $("#sel_subproject_id-" + row);
                $sel_client_id = $("#sel_client_id-" + row);
                $sel_task_type_id = $("#sel_task_type_id-" + row);
                $sel_project_role_id = $("#sel_project_role_id-" + row);
                $sel_billable = $("#billable-" + row);
                var curr_user_id = $("#sel_user_id option:selected");
                if (curr_user_id.val() == 0) {
        $sel_client_id.val(0);
                alert("Please select a valid user");
                return false;
        }

        try{
        if (/sel_client_id/.test(id)){
        $("option:not(:first)", $sel_project_id).remove();
                $("option:not(:first)", $sel_subproject_id).remove();
                $("option:not(:first)", $sel_project_role_id).remove();
                if ($sel_client_id.val() < 1) {
        $sel_task_type_id.addClass("disabled");
                $sel_project_role_id.addClass("disabled");
                $sel_client_id.parents("tr").find("input[type=text]").attr("disabled", "disabled").val("").end().find("a.imglink").hide();
        }
        $sel_project_id.removeAttr("disabled").removeClass('disabled');
                sel_populate($sel_project_id, data.clients[$sel_client_id.val()].projects);				
        }
        else if (/sel_project_id/.test(id)){
        $("option:not(:first)", $sel_subproject_id).remove();
                $("option:not(:first)", $sel_project_role_id).remove();
                if ($sel_project_id.val() < 1) {
        $sel_project_id.parents("tr").find("input[type=text]").attr("disabled", "disabled").val("").end().find("a.imglink").hide();
        }
        else {
        $sel_project_id.parents("tr").find("input[type=text]").each(function(){
        var dt_ts = this.id.split(/-/);
                if (parseInt(dt_ts[2]) <= curr_date_ts) {
        $(this).removeAttr('disabled');
        }
        });
        }
        $sel_subproject_id.removeAttr("disabled").removeClass('disabled'); sel_populate($sel_subproject_id, data.clients[$sel_client_id.val()].projects[$sel_project_id.val()].subprojects);
                $("option:not(:first)", $sel_project_role_id).remove();
                $sel_project_role_id.removeAttr("disabled").removeClass('disabled');
                sel_populate_role($sel_project_role_id, data.clients[$sel_client_id.val()].projects[$sel_project_id.val()].project_role);
                chk_billable("#sel_project_id-" + row, row);
                if (data.clients[$sel_client_id.val()].projects[$sel_project_id.val()].allow_task_types){
        $sel_task_type_id.val(0).removeAttr("disabled").removeClass("disabled");
        } else{
        $sel_task_type_id.val(0).attr("disabled", "disabled").addClass("disabled");
        }
        } else if (/sel_subproject_id/.test(id)){
        p = data.clients[$sel_client_id.val()].projects[$sel_project_id.val()];
                if ($this.val() > 0){
        if (p.subprojects[$sel_subproject_id.val()].allow_task_types){
        $sel_task_type_id.val(0).removeAttr("disabled").removeClass("disabled");
        } else{
        $sel_task_type_id.val(0).attr("disabled", "disabled").addClass("disabled");
        }
        $("option:not(:first)", $sel_project_role_id).remove(); sel_populate_role($sel_project_role_id, p.subprojects[$sel_subproject_id.val()].project_role); chk_billable("#sel_subproject_id-" + row, row);
        }
        else{
        if (p.allow_task_types){
        $sel_task_type_id.val(0).removeAttr("disabled").removeClass("disabled");
        }
        else{
        $sel_task_type_id.val(0).attr("disabled", "disabled").addClass("disabled");
        }
        $("option:not(:first)", $sel_project_role_id).remove();
                sel_populate_role($sel_project_role_id, p.project_role);
                chk_billable("#sel_project_id-" + row, row);
        }		
        }		
        } catch (e){
        }
        });
                $("#btn_add_row").click(function(){
        $tbl_tasks = $("#tbl_tasks");
                $row_num = next_row_id++;
                var int_id = 0;
                var row_id; next_row(int_id + 1);
                $row.find("td:eq(0)").prepend('<img onclick = "hide_row(' + $row_num + ')"  src="img/icons/nocheckmark.png" align="absmiddle" width="17" border="0">').attr("width", "20");
                $row.attr("id", "tbl_row_" + $row_num);
                $row.find("a.deldetail").remove();
                $row.find("input[type=text]").attr("disabled", "disabled");
                $row.find("a.imglink").hide();
                $("span, a, img", $row).each(function(){
        var $this = $(this);
                $this.attr("id", $this.attr("id").replace(/\br\d+\b/, "r" + $row_num));
                if ($this.is("a")){
        $this.attr("task_id", $this.attr("task_id").replace(/\br\d+\b/, "r" + $row_num));
        }
        });
                $("select, input, a", $row).each(function(){
        var $this = $(this);
                $this.attr("id", $this.attr("id").replace(/\br\d+\b/, "r" + $row_num)).attr("name", $this.attr("name").replace(/\br\d+\b/, "r" + $row_num));
                if ($this.is("select")){
        if (/sel_project_id/.test($this.attr("id"))){
				$this.removeAttr("onchange");
                $this.attr("Onchange", "disable_fun('r" + $row_num + "');cal_day_timecard();updateProjectRole('r" + $row_num + "');"); 
				$this.attr("disabled", "disabled").addClass("disabled").find("option:not(:first)").remove(); 
		}                
		if (/sel_subproject_id/.test($this.attr("id"))){        
			$this.attr("disabled", "disabled").addClass("disabled").find("option:not(:first)").remove(); 
			$this.attr("Onchange", "cal_day_timecard();updateSubProjectRole('r" + $row_num + "');"); 
		}               
		if (/sel_task_type_id/.test($this.attr("id"))){      
			$this.attr("disabled", "disabled").addClass("disabled"); 
		}     
		if (/sel_project_role_id/.test($this.attr("id"))){    			
			$this.removeAttr("onchange");
			$this.attr("Onchange","isRoleSelected('r" + $row_num + "')");
			$this.attr("disabled", "disabled").addClass("disabled");				
        }
        $this.val(0);
        }
        else if ($this.is("a")){
        $this.attr("href", $this.attr("href").replace(/\br\d+\b/, "r" + $row_num)).attr("title", imgs.add.title).find("img").attr("src", imgs.add.icon);
        }
        else {
        $this.val("");
                if (/txt_duration/.test($this.attr("id"))) {
        $this.attr("Onkeyup", "totalHours(this.id);totalWeekHours('tbl_row_" + $row_num + "');cal_day_timecard();"); $this.attr("Onkeypress", "onlyTime(event);");
        }
        }
       });
                $("#pto_row", $tbl_tasks).before($row);
        });
		
		
                $("#tbl_tasks").listen("click", "a.editdetail", function(){
        var $this = $(this);
                var $target = $($this.attr("href"));
                var sTask = $this.attr("task_id");
                var $link = $this; sTaskId = '#sp_detail-' + sTask; hTaskId = '#hd_detail-' + sTask;
                $("#div_taskdetail").dialog("open");
                var val = $("#txt_taskdetail").val($target.val()).data("target", $target).data("link", $this);
                var val = $("#txt_taskdetail").val().replace(/\\r\\n/g, "<br>"); $("#txt_taskdetail").val(val).data("target", $target).data("link", $this);
                $("#txt_taskdetail").val($(sTaskId).html());
                return false;
       });
                $("#tbl_tasks").listen("click", "a.deldetail", function(){
        var $this = $(this);
                var task_id = $this.attr("href");
                var str = window.location.href;
                var url_split_var = str.split("//");
                var str_domain = url_split_var[1].split("/");
                var user_id = $("input[name=user_id]").val();
                if (str_domain[0].search("timesheet.globalss.com") == 0){
        var current_url = 'http://' + str_domain[0] + '/htdocs/task.add.multiple.php';
        }
        else if (str_domain[0].search("dev.globalss.com") == 0){
        var current_url = 'http://' + str_domain[0] + '/giri/globalss/timesheet2/htdocs/task.add.multiple.php';
        } else if (str_domain[0].search("groovesw.com") == 0){
        var current_url = 'http://' + str_domain[0] + '/timesheet-test/htdocs/task.add.multiple.php';
        }

        $.ajax({
        type: 'GET',
                data: {task_id:task_id, delete1:'1', user_id:user_id},
                url: current_url,
                global: true,
                success: function (content) {
                if (content){
                elems = $this.attr("rel").split("|"); $hd = $("#" + elems[0]);
                        $sp = $("#" + elems[1]);
                        $txt = $("#" + elems[2]);
                        $link = $("#" + elems[3]);
                        $img = $("#" + elems[4]);
                        $hd.val(""); $sp.text("");
                        $txt.val("");
                        $link.attr("title", "");
                        $img.attr("src", imgs.add.icon);
                        $this.remove();
                        $("#content .error").remove();
                        $("#content .info").remove();
                        $("#content").prepend("<div class='info'>Time deleted.</div>");
                }
                else{
                $("#content .info").remove();
                        $("#content .error").remove();
                        $("#content").prepend("<div class='error'>Failed to delete time.</div>");
                }
                return false;
                }
        });
                return false;
       });
                $("#div_taskdetail").dialog({
        autoOpen: false,
                height: 280,
                width: 600,
                modal: true,
                resizable: false,
                buttons: {
                "Cancel": function(){
                $(this).dialog("close"); },
                        "Save": function(){
                        var $txt_taskdetail = $("#txt_taskdetail");
                                var $target = $txt_taskdetail.data("target");
                                var $link = $txt_taskdetail.data("link");
                                var v = $.trim($txt_taskdetail.val());
                                $(sTaskId).html(v);
                               $(hTaskId).val(v);
                                if (v)
                                $link.attr("title", v).find("img").attr("src", imgs.edit.icon);
                                else
                                $link.attr("title", imgs.add.title), find("img").attr("src", imgs.add.icon);
                                $(this).dialog("close");
                        }
                }
       });
                $("#btn_start_time").click(function(){
        $("#txt_taskdetail").val($("#txt_taskdetail").val() + "\n" + $("input[name=date]").val() + " - " + $("#sel_start_hour").val() + ":" + $("#sel_start_minute").val() + "\n ---------------------------\n\n").focus();
                return false;
                });
                $("#sel_user_id").change(function(){
        window.location.href = this.form.action + "?" + $("input[name=date], select[name=user_id], input[id=client_id], input[id=project_id], input[id=subproject_id], input[id=project_role_id]", this.form).serialize();
                return false;
                });
                cal_day_timecard();
                });
        function cal_day_timecard() {
        blnEntred = false;
                totalMins = 0;
                totalBillMins = 0;
                totalHolidayBillMins = 0;
                totalUnassignedMins = 0;
                totalPTOMins = 0;
                totalStdMins = 0;
                day_count = 0;
                public_holiday_count = 0;
                var totalUtilization = 'N/A';
                var totalWeekUHrs = 'N/A';
                var totalWeekHrs = 'N/A';
                var totalWeekBHrs = 'N/A';
                var totalStdHrs = '0:0';
                for (var i = 1; i < 8; i++) {
        var blnFound = false;
                var $tboxes = $('#tbl_tasks input[type=text][colnumber=' + i + ']');
                $tboxes.each(function(){
                if (!blnFound) {
                totalHours(this.id);
                        blnFound = true;
                }
                });
        }

        if (day_count > 0) {
        totalWeekHrs = minutes2Time(totalMins);
                $("#txtTotalWeekHrs").val(totalWeekHrs.hour + ":" + totalWeekHrs.min);
                totalWeekUHrs = minutes2Time(totalUnassignedMins);
                $("#txtTotalWeekUHrs").val(totalWeekUHrs.hour + ":" + totalWeekUHrs.min);
                totalWeekBHrs = minutes2Time(totalBillMins + totalHolidayBillMins);
                $("#txtTotalWeekBHrs").val(totalWeekBHrs.hour + ":" + totalWeekBHrs.min);
                totalStdHrs = minutes2Time(totalStdMins);
                $("#txtTotalStdHrs").val(totalStdHrs.hour + ":" + totalStdHrs.min);
                totalUtilization = roundNumber((totalBillMins + totalHolidayBillMins) / ((day_count * standard_hour * 60) - totalPTOMins) * 100, 2);
                if (totalUtilization < 1)
                totalUtilization = 'N/A'
        }
        else {
        $("#txtTotalWeekHrs").val(totalWeekHrs);
                $("#txtTotalWeekUHrs").val(totalWeekUHrs);
                $("#txtTotalStdHrs").val(totalStdHrs);
                $("#txtTotalWeekBHrs").val(totalWeekBHrs);
        }

        var pfactor = roundNumber((totalMins / ((day_count * parseInt(standard_hour * 60)) - totalPTOMins) * 100), 2);
                if (isNaN(pfactor)) {
        pfactor = 0; }
        else if (!isFinite(pfactor)) {
        pfactor = 0;
        }
        var factor = 'Productivity : ' + pfactor + '%';
                var ufactor = 0;
                var total_mins = day_count * standard_hour * 60 - totalPTOMins;
                ufactor = roundNumber(((totalBillMins + totalHolidayBillMins) / total_mins) * 100, 2);
                if (isNaN(ufactor)) {
        ufactor = 0; }
        else if (!isFinite(ufactor)) {
        ufactor = 0;
        } else{
        ufactor = roundNumber(ufactor, 2);
        }
        factor += ' Utilization : ' + ufactor + '%'; $("#productivity_factor").html("<p>" + factor + "</p>");
        }

function sel_populate($sel, data){
if (data){
$.each(data, function(){
$sel.append("<option value='" + this.id + "' is_billable='" + this.is_billable + "' prjclosed='" + this.closed + "' >" + this.name + "</option>");
});
}
}
function sel_populate_role($sel, data){
if (data){
$.each(data, function(){
$sel.append("<option value='" + this.project_role_id + "' >" + this.project_role_name + "</option>");
});
}
}

function chk_billable(project, index){
var rid = $(project + " option:selected").attr('is_billable');
        if (rid == 1){
$('#billable-' + index).attr('checked', true);
}
else{
$('#billable-' + index).attr('checked', false);
}
}

function sel_checkdisabled(){
$("select.checkdisabled").each(function(){
$this = $(this);
});
}

function next_row(int_id){
$row = $("tr:eq(1)", $tbl_tasks).clone();
        $row.removeAttr("style", "style").removeClass("disabled");
        $row.find("select").removeAttr("disabled", "disabled").removeClass("disabled");
        if ($row.find("select").attr("id"))
        return $row.find("select").attr("id");
}

function hide_row(row_id){
$("#tbl_row_" + row_id).remove();
}

function disable_fun(pid){
if ($("#sel_project_id-" + pid).val() == 0)
        $("#sel_task_type_id-" + pid).attr("disabled", "disabled").addClass("disabled");
}

function updateProjectRole(row){
var rid = $("#sel_project_id-" + row + " option:selected").attr('prjrole'); $("#sel_project_role_id-" + row).val(rid);
isValid = false;
} 
function updateSubProjectRole(row){      
  var rid = $("#sel_subproject_id-" + row + " option:selected").attr('prjrole'); $("#sel_project_role_id-" + row).val(rid);
}

function isNumeric(value) {
if (value != null && !value.toString().match(/^[-]?\d*\.?\d*$/))
        return false;
        return true;
}

function isRoleSelected(row){	
		
		isValid = false;
		var $dynamicSelect = $("#sel_project_role_id-" + row);						
		if(($dynamicSelect[0].value) > 0){
			blnEntred = true;
			isValid = true;
		}else{
			blnEntred = false;
			isValid = false;
		}
		//alert($dynamicSelect[0].value + '----' + isValid);
	
}

function totalWeekHours(id) {
var $tboxes = $('#' + id + ' input[type=text]');
        var $totalbox = null;
        var h = 0;
        var m = 0;
        var i = 1;
        $tboxes.each(function(){
        var $this = $(this);
                var tmp = {};
                tmp[0] = 0;
                tmp[1] = 0;
                if ($this.hasClass('totalWeek')) {
        $totalbox = $this;
        }
        else {
        var v = $this.val();
                if (v != "") {
        tmp = v.split(":");
        }
        if (parseInt(tmp[0]) > 0)
                h += parseInt(tmp[0]);
                if (parseInt(tmp[1]) > 0) {
        m += parseInt(tmp[1]);
                if (m > 59) {
        h = h + 1; m = m - 60;
        }
        }
        }
       });
        if ($totalbox != null) {
if ($totalbox.is('input[type=text]')){
$totalbox.val(h + ':' + m);
}
}
}

function totalHours(id) {
var colnumber = $('#' + id).attr('colnumber');
        var $tboxes = $('#tbl_tasks input[type=text][colnumber=' + colnumber + ']');
        var $totalbox = null;
        var $unassignedbox = null;
        var $billablebox = null;
        var $stdbox = null;
        var $ptobox = null;
        var blnIsBillable = false;
        var h = 0;
        var m = 0;
        var bHrs = 0;
        var bMin = 0;
        var ptoH = 0;
        var ptoM = 0;
        blnWorkingDay = false;
        $tboxes.each(function(){
        var $this = $(this);
                var tmp = {};
                tmp[0] = 0;
                tmp[1] = 0;
                blnIsBillable = false;
                if ($this.hasClass('pto')) {
        var v = $this.val();
                if (v != "") {
        tmp = v.split(":"); }
        if (parseInt(tmp[0]) > 0) {
        ptoH += parseInt(tmp[0]); blnEntred = true;
        }
        if (parseInt(tmp[1]) > 0) {
        ptoM += parseInt(tmp[1]);
                if (ptoM > 59) {
        ptoH = ptoH + 1; ptoM = ptoM - 60;
        }
        blnEntred = true;
        }
        $ptobox = $this;
        }
        else if ($this.hasClass('totalbox')) {
        $totalbox = $this;
        }
        else if ($this.hasClass('billable')) {
        $billablebox = $this;
        } else if ($this.hasClass('standard')) {
        $stdbox = $this;
        }
        else if ($this.hasClass('unassigned')) {
        $unassigned = $this; }
        else {
        rId = this.id.split(/-/)[1]; $sel_id = $("#sel_subproject_id-" + rId);
                if (blnDisableAll) {
        if ($("#sel_subproject_id-" + rId).attr('is_billable') == 1) {
        blnIsBillable = true;
        }
        if ($("#sel_project_id-" + rId).attr('is_billable') == 1){
        if (!blnIsBillable) {
        blnIsBillable = true; }
        }
        }
        else {
        if ($("#sel_subproject_id-" + rId + " option[value='" + $sel_id.val() + "']").attr('is_billable') == 1){
        blnIsBillable = true;
        }

        $sel_id = $("#sel_project_id-" + rId);
                if ($("#sel_project_id-" + rId + " option[value='" + $sel_id.val() + "']").attr('is_billable') == 1){
        if (!blnIsBillable) {
        blnIsBillable = true;
        }
        }
        }
        var v = $this.val();
                if (v != "") {
        tmp = v.split(":");
        }
        if (parseInt(tmp[0]) > 0) {
        blnWorkingDay = true;
                blnEntred = true;
                h += parseInt(tmp[0]);
                if (blnIsBillable) {
        bHrs += parseInt(tmp[0]);
        }
        }
        if (parseInt(tmp[1]) > 0) {
        m += parseInt(tmp[1]);
                blnWorkingDay = true;
                blnEntred = true;
                if (m > 59) {
        h = h + 1; m = m - 60;
        }
        if (blnIsBillable) {
        bMin += parseInt(tmp[1]);
                if (m > 59) {
        bHrs = bHrs + 1; bMin = bMin - 60;
        }
        }
        }
        }
        });
        if ($totalbox != null) {
if ($totalbox.is('input[type=text]')){
var totalHrs = minutes2Time((parseInt(h * 60) + m));
        $totalbox.val(totalHrs.hour + ':' + totalHrs.min);
}
}
rowID = id.split(/-/);
        var totalDayMins = (parseFloat(h) * 60) + parseFloat(m);
        var totalDayBillMins = (parseFloat(bHrs) * 60) + parseFloat(bMin);
        var billable = minutes2Time(totalDayBillMins);
        $('#tbl_tasks input[type=checkbox]').each(function() {
if ($(this).attr('billablechk') == 1)
        return;
        var colnum = $(this).attr('colnumber');
        rowID = this.id.split(/-/);
        var wID = rowID[1] + "-" + rowID[2] + "-" +rowID[3];
        if (timecard_data[wID].days[wID] == 'saturday' || timecard_data[wID].days[wID] == 'sunday') {
$(this).attr('disabled', true);
}

if (colnumber == colnum) {
var utilization = '';
        var inFuture = false;
        var blnPublicHoliday = false;
        var blnWeekend = false;
        utilization = 'N/A';
        var today = new Date();
        var wDate = new Date(rowID[3], rowID[1] - 1, rowID[2], 0, 0, 0);
        if (today < wDate)
        inFuture = true;
        if (inFuture) {
$totalbox.val("N/A");
}
if (!inFuture) {
if (timecard_data[wID].days[wID] == 'saturday' || timecard_data[wID].days[wID] == 'sunday') {
blnWeekend = true;
        utilization = "N/A";
        $stdbox.val("0:0");
        $unassigned.val("N/A");
        totalHolidayBillMins = totalHolidayBillMins + (parseFloat(bHrs) * 60) + parseFloat(bMin);
        totalMins = totalMins + totalDayMins;
        totalUnassignedMins = totalUnassignedMins - totalDayMins;
}
else if ($(this).is(":checked")) {
if ($ptobox != null) {
var aID = $ptobox.attr('id').split(/-/);
        if ($ptobox.val() != '') {
var msg = "PTO Hours are entered for this day, by marking the day as\nPublic Holiday PTO will be reset.\n\nPlease confirm!\n";
        if (confirm(msg)) {
$ptobox.val("");
        $ptobox.attr('disabled', true);
        $("#a_detail-" + aID[1] + "-" + aID[2]).hide();
        blnPublicHoliday = true;
}
else {
$(this).attr('checked', false);
}
}
else {
$ptobox.val("");
        $ptobox.attr('disabled', true);
        $("#a_detail-" + aID[1] + "-" + aID[2]).hide();
        blnPublicHoliday = true;
}
}
if (blnPublicHoliday) {
totalMins = totalMins + totalDayMins;
        totalHolidayBillMins = totalHolidayBillMins + (parseFloat(bHrs) * 60) + parseFloat(bMin);
        public_holiday_count++;
        utilization = "N/A";
        $unassigned.val("0:0");
        $stdbox.val("0:0");
}
}
if (!blnPublicHoliday && !blnWeekend){
var totalDayPTOMins = (parseFloat(ptoH) * 60) + parseFloat(ptoM);
        totalPTOMins = totalPTOMins + totalDayPTOMins;
        totalMins = totalMins + totalDayMins;
        totalBillMins = totalBillMins + (parseFloat(bHrs) * 60) + parseFloat(bMin);
        utilization = (totalDayBillMins / ((standard_hour * 60) - totalDayPTOMins)) * 100;
        if (utilization > 0)
        utilization = roundNumber(utilization, 2);
        else
        utilization = "N/A";
        day_count++;
        var standard = minutes2Time(standard_hour * 60 - totalDayPTOMins);
        $stdbox.val(standard.hour + ":" + standard.min);
        totalStdMins = totalStdMins + (parseFloat(standard.hour) * 60) + parseFloat(standard.min);
        if ($ptobox != null) {
if (!blnDisableAll) {
$ptobox.attr('disabled', false);
        var aID = $ptobox.attr('id').split(/-/);
}
}
var totalDayUnassignedMins = (parseFloat(standard_hour) * 60) - totalDayMins - totalDayPTOMins;
        var unassigned = minutes2Time(totalDayUnassignedMins);
        if ($unassigned != null) {
$unassigned.val(unassigned.hour + ":" + unassigned.min);
}
totalUnassignedMins = totalUnassignedMins + totalDayUnassignedMins;
}

if (totalDayBillMins > 0)
        $billablebox.val(billable.hour + ":" + billable.min);
        else
        $billablebox.val("N/A");
}
else {
}
$("#day-utilization-" + wID).html(utilization);
}
});
        $('.tr_rows').each(function(){
totalWeekHours(this.id);
});
        }

function submitTimeCard(v) {

var msg = '';
        $("#action").val("");
        if (v == 'SUBMIT_TIMECARD') {
		
		//alert(isValid);
		
		if (!isValid)		
			msg = "Project role is not entered. \n\nDo you intend to submit and lock this timesheet without role being entered \n\nPlease confirm?"
		else{
			if (blnEntred) 
				msg = "A submit action would finalize the weekly report,\nno more changes can be made.\n\nPlease confirm!";				
			else
				msg = "There are no hours entered.\n\nDo you intend to submit and lock this timesheet with zero hours entered?\n\nPlease confirm!";	
			}

}
else if (v == 'REQUEST_REVIEW') {
msg = "A notification will be sent to Business Manager for weekly report review\n\nPlease confirm!";
}
else {
msg = "This will unfreeze the weekly report and\nopen it for changes.\n\nPlease confirm!";
}
$.alerts.okButton = 'Yes';
        $.alerts.cancelButton = 'No';
        if (confirm(msg)) {
$("#action").val(v);
        $("#frm_task").submit();
}
}
        </script>    
    </head>    
    <body>        
        {{include file="task.common.html"}}        
        <div id="content" class='d-block-table'>            
            {{include file="message.html"}}           
            <table cellpadding="0" cellspacing="0" border="0" width="100%">                
                <tr>                    
                    <td width="50%" class='pt3 pb5 pL10'>
                        <h1>Week #{{$week_number}} Timecard - {{$days.0|mdy}} to {{$days.6|mdy}}</h1>
                    </td>                    
                    <td class="aright vamiddle pt3 pb5 pL10 pR5">                        
                        <form action="task.add.multiple.php" class="inline" id="frm_add_task">  
                            <input type="hidden" name="client_id" id="client_id" value="{{$smarty.get.client_id}}"> 
                            <input type="hidden" name="project_id" id="project_id" value="{{$smarty.get.project_id}}"> 
                            <input type="hidden" name="subproject_id" id="subproject_id" value="{{$smarty.get.subproject_id}}"> 
                            <a href="task.add.multiple.php?date={{$prev_week_ts|mdy|escape}}&user_id={{$smarty.get.user_id}}">&laquo; Previous week</a>
                            {{$sep}}                            
                            <input type="text" class="acenter datepicker" value="{{$days.0|format_date}}" target="task.add.multiple.php" style="width: 100px; cursor: default;" name="date"> 
                            {{$sep}}                            
                            <a href="task.add.multiple.php?date={{$next_week_ts|mdy|escape}}&user_id={{$smarty.get.user_id}}">Next week &raquo;</a> 
                            {{if $smarty.get.user_id}}                            
                            {{assign var="user_id_selected" value=$smarty.get.user_id}}                            
                            {{else}}                            
                            {{assign var="user_id_selected" value=$loginuser->getId()}}                            
                            {{/if}}                            
                            {{if $loginuser->isAdmin()}}                            
                            <select name="user_id" id="sel_user_id">                                
                                <option value="0">Select user</option>                                
                                {{foreach item=i from=$userslist_all}}                                
                                <option value="{{$i.id}}" {{if $user_id_selected eq $i.id}}selected{{else}} {{ $loggeduser }}{{/if}}>{{$i.name}}</option>
                                {{/foreach}}                            
                            </select>	                            
                            {{/if}}	                        
                        </form>	                    
                    </td>                
                </tr>                
                <tr>                    
                    <td class='aright pR10' colspan='2'>                        
                        <div id='productivity_factor'>                            
                            {{if $productivity_factor}}                            
                            <p>Productivity : {{$productivity_factor}}                                
                                {{/if}}                                
                                {{if $billable_factor}}                                
                                Utilization : {{$billable_factor}}</p>                            
                            {{/if}}                        
                        </div>                        
                        <div class='d-dashed'></div>                    
                    </td>                
                </tr>           
            </table>            
            <br>            
            <form action="task.add.multiple.action.php" method="post" id="frm_task" name="frm_task">               
                <input type="hidden" name="entry_date" value="{{$smarty.get.date}}">                
                <input type="hidden" name="action" id='action' value="PENDING">                
                {{if $loginuser->isAdmin()}}                
                <input type="hidden" value={{if $smarty.get.user_id }} {{ $smarty.get.user_id }} {{else}} {{ $loggeduser }} {{/if}} name="user_id">  
                       {{assign var="user_id_del" value=$smarty.get.user_id}}                       
                       {{else}}                       
                       {{assign var="user_id_del" value=$loggeduser }}                       
                       <input type="hidden" value={{ $loggeduser }} name="user_id">                
                {{/if}}                
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks">                    
                    {{assign var="total_days" value=$days|@count}}                    
                    <tr id="tbl_row_0">                        
                        <th class="aleft pt3 pb5 pL10" width="20" >&nbsp;</th>                        
                        <th class="aleft pt3 pb5 pL10" width="100">Client *</th>                        
                        <th class="aleft pt3 pb5 pL10" width="100">Project *</th>                        
                        <th class="aleft pt3 pb5 pL10" width="100">Subproject</th>                        
                        <th class="aleft pt3 pb5 pL10" width="100">Task type</th>                        
                        <th class="aleft pt3 pb5 pL10" width="100">Project Role *</th>                       
                        <th class="aleft pt3 pb5 pL10" width="100">Billable</th>                       
                        {{foreach name=fe item=day from=$days}}                       
                        <th class="acenter pt3 pb5 pL10 {{if $smarty.foreach.fe.last}}{{/if}}">{{$day|date_format:"%a<br> %b %e"}}<br>hh:mm</th> 
                        {{/foreach}}                        
                        <th class="acenter pt3 pb5 pL10">Total</th>                    
                    </tr>                    
                    {{assign var="row" value="r0"}}                    
                    <tr style='display:none;' id="tbl_row_hidden_1">                        
                        <td width="20" class="pt3 pb5 pL10 bdrbtm4"> </td>                        
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4">                             
                            <select id="sel_client_id-{{$row}}" name="client_id[{{$row}}]">                                
                                <option value="0">-Select client-</option>                                
                                {{foreach item=client from=$clients}}                                
                                <option value="{{$client.id}}" {{if $task.client_id eq $client.id}}selected{{/if}}>{{$client.name}}</option>
                                {{/foreach}}                            
                            </select>                       
                        </td>                        
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4">                             
                            <select id="sel_project_id-{{$row}}" name="project_id[{{$row}}]" onChange="disable_fun('{{$row}}');"> 
                                <option value="0">-Select project -</option>                                
                                {{if $task.project_id gt 0}}                                
                                {{foreach item=project from=$clients[$task.client_id].projects}}                                
                                <option value="{{$project.id}}" {{if $task.project_id eq $project.id}}selected{{/if}}>{{$project.name}}</option>
                                {{/foreach}}                            
                            </select>                            
                            {{/if}}                        
                        </td>                        
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4">                            
                            <select id="sel_subproject_id-{{$row}}" name="subproject_id[{{$row}}]" class="checkdisabled">      
                                <option value="0">-Select subproject-</option>                                
                                {{if $task.project_id gt 0 or $task.subproject_id gt 0}}                                
                                {{foreach item=subproject from=$clients[$task.client_id].projects[$task.project_id].subprojects}} 
                                <option value="{{$subproject.id}}" {{if $task.subproject_id eq $subproject.id}}selected{{/if}}>{{$subproject.name}}</option>
                                {{/foreach}}                                
                                {{/if}}                            
                            </select>                        
                        </td>                        
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4">                            
                            <select id="sel_task_type_id-{{$row}}" name="task_type_id[{{$row}}]" {{$str_disable}} {{$disable_loaded}}>   
                                <option value="0">-Select task type-</option>                                
                                {{foreach key=group item=task_type_group from=$task_types}}                                
                                <optgroup label="{{$group}}">                                    
                                    {{foreach item=task_type from=$task_type_group}}                                    
                                    <option value="{{$task_type->getId()}}" {{if $task.task_type_id eq $task_type->getId()}}selected{{/if}}>{{$task_type->getName()}}</option>
                                    {{/foreach}}                                
                                </optgroup>                                
                                {{/foreach}}                            
                            </select>                        
                        </td>                        
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4">                             
                            <select id="sel_project_role_id-{{$row}}" onchange= "isRoleSelected('{{$row}}')" name="project_role_id[{{$row}}]" > 
                                <option value="0">-Select project role-</option>             
                            </select>                        
                        </td>                        
                        <td class="pt3 pb5 pL10 bdrbtm4" >                            
                            <input type="checkbox" name="billable[{{$row}}]" id="billable-{{$row}}" value="1" billablechk="1"> 
                        </td>                        
                        {{foreach name=y item=day from=$days}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}}">   
                            <input type="hidden" name="id[{{$row}}][{{$day}}]" value="{{$task.times[$day].id}}">
                            <input type="hidden" id="hd_detail-{{$row}}-{{$day}}" name="details[{{$row}}][{{$day}}]" value="{{$task.times[$day].detail}}">  
                            <input type="text" colnumber="{{$smarty.foreach.y.iteration}}" id="txt_duration-{{$row}}-{{$day}}" name="durations[{{$row}}][{{$day}}]" value="{{$task.times[$day].duration_mins|m2hm}}" size="4" class="acenter weekday" {{$str_disable}} onkeyUp="cal_day_timecard();"/>   
                            <span id='sp_detail-{{$row}}-{{$day}}' style='display:none;'>{{$task.times[$day].detail}}</span>   
                            <br />                            
                            {{if $task.times[$day].detail}}                            
                            <a id="a_detail-{{$row}}-{{$day}}" href="#hd_detail-{{$row}}-{{$day}}" class="imglink editdetail" title="" task_id='{{$row}}-{{$day}}'>
                                <img id="img_detail-{{$row}}-{{$day}}" src="img/icons/task_edit.gif" align="absmiddle" width="17" border="0" {{if !$task.client_id }}style="display:none;"{{/if}}>
                            </a>                           
                            {{else}}                           
                            <a id="a_detail-{{$row}}-{{$day}}" href="#hd_detail-{{$row}}-{{$day}}" class="imglink editdetail" title="Add task detail" task_id='{{$row}}-{{$day}}' {{if !$task.client_id }}style="display:none;"{{/if}}>
                               <img id="img_detail-{{$row}}-{{$day}}" src="img/icons/task_add.gif" align="absmiddle" width="17" border="0">
                            </a>                            
                            {{/if}}                            
                            {{if $task.times[$day].duration_mins|m2hm}}                                                        
                            <a class="imglink deldetail" href="{{$task.times[$day].id}}" rel="hd_detail-{{$row}}-{{$day}}|sp_detail-{{$row}}-{{$day}}|txt_duration-{{$row}}-{{$day}}|a_detail-{{$row}}-{{$day}}|img_detail-{{$row}}-{{$day}}" title="Delete task detail" {{if !$task.client_id }}style="display:none;"{{/if}}>
                               <img src="img/icons/delete16x16.png" align="absmiddle" width="17" border="0">
                            </a>                            
                            {{/if}}                        
                        </td>                        
                        {{/foreach}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4">                            
                            <input type="text" colnumber="8" id="txtTotalWeek-{{$row}}-{{$day}}" name="txtTotalWeek-{{$row}}-{{$day}}" value="" size="4" class="acenter totalWeek" readonly />
                        </td>                    
                    </tr>                    
                    {{assign var="str_disable" value=""}}                    
                    {{if $disableAll eq '1'}}                    
                    {{assign var="str_disable" value="readonly"}}                    
                    {{assign var="disable_loaded" value="1"}}                    
                    {{/if}}                     
                    <tr>                        
                        <td colspan="5" class="aright public_holiday pt3 pb5 pL10 bdrbtm4"><b><i>Is Public Holiday?</i></b></td>
                        <td colspan="2"></td>                        
                        {{foreach name=y item=day key=k from=$dates}}                        
                        <td class="acenter public_holiday pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}}">    
                            <input type='checkbox' colnumber="{{$smarty.foreach.y.iteration}}" name='is_holiday[{{$k}}]' id='is_holiday-{{$k}}' value='1' {{if $public_holidays[$k].is_holiday eq '1'}}checked{{/if}} {{if $disableAll}}{{$str_disable}} onclick='javascript: return false;'{{else}}onclick="cal_day_timecard()"{{/if}}>   
                        </td>                        
                        {{/foreach}}                        
                        <td class="acenter public_holiday pt3 pb5 pL10 bdrbtm4">&nbsp;</td>                    
                    </tr>                    
                    {{foreach name=x item=task from=$tasks}}                    
                    {{assign var="row" value="r"|cat:$smarty.foreach.x.iteration}}                    
                    {{assign var="str_disable" value="disabled='' class =' disabled '"}}                    
                    {{if $clients[$task.client_id].projects[$task.project_id].subprojects[$task.subproject_id].name}}                    
                    {{ if ((!$clients[$task.client_id].projects[$task.project_id].allow_task_types || $clients[$task.client_id].projects[$task.project_id].subprojects[$task.subproject_id].allow_task_types) && $task.client_id)}}   
                    {{assign var="str_disable" value=""}}                   
                    {{/if}}                    
                    {{else}}                    
                    {{ if $clients[$task.client_id].projects[$task.project_id].allow_task_types}}  
                    {{assign var="str_disable" value=""}}    
                    {{/if}}                    
                    {{/if}}                 
                    {{if $clients[$task.client_id].projects[$task.project_id].closed || $clients[$task.client_id].projects[$task.project_id].subprojects[$task.subproject_id].closed}} 
                    {{*assign var="str_disable" value="disabled='' class =' disabled '"*}}                   
                    {{/if}}                    
                    {{assign var="disable_loaded" value=""}}                    
                    {{foreach name=y item=day from=$days}}                    
                    {{if $task.times[$day].duration_mins|m2hm}}                  
                    {{*assign var="disable_loaded" value="disabled='' class =' disabled '"*}} 
                    {{/if}}                    
                    {{/foreach}}                   
                    {{if $disableAll eq '1'}}                    
                    {{assign var="str_disable" value="readonly='readonly'"}} 
                    {{assign var="disable_loaded" value="1"}} 
                    {{/if}}                    
                    <tr id="tbl_row_{{$smarty.foreach.x.iteration}}" class="tr_rows"> 
                        <td width="20" class="pt3 pb5 pL10 bdrbtm4"> </td> 
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4">    
                            {{if $disable_loaded}}                            
                            {{$clients[$task.client_id].name}}                            
                            <input type="hidden" id="sel_client_id-{{$row}}" name="client_id[{{$row}}]" value="{{$task.client_id}}">                            {{else}}                            <select id="sel_client_id-{{$row}}" name="client_id[{{$row}}]">                                <option value="0">-Select client-</option>                                
                                {{foreach item=client from=$clients}}                               
                                <option value="{{$client.id}}" {{if $task.client_id eq $client.id}}selected{{/if}}>{{$client.name}}</option>   
                                {{/foreach}}                            
                            </select>                           
                            {{/if}}                        
                        </td>                        
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4"> 
                            {{if $disable_loaded}} 
                            {{assign var="isBillable" value=$clients[$task.client_id].projects[$task.project_id].is_billable}} 
                            {{$clients[$task.client_id].projects[$task.project_id].name}}  
                            <input type="hidden" id="sel_project_id-{{$row}}" name="project_id[{{$row}}]" value="{{$task.project_id}}" is_billable='{{$isBillable}}'> 
                            {{else}}                                                          
                            <select id="sel_project_id-{{$row}}" name="project_id[{{$row}}]" onChange="disable_fun('{{$row}}'); cal_day_timecard(); updateProjectRole('{{$row}}');"> 
                                <option value="0">-Select project-</option>                                
                                {{if $task.project_id gt 0}}                                
                                {{foreach item=project from=$clients[$task.client_id].projects}}                                
                                <option value="{{$project.id}}"  is_billable='{{$project.is_billable}}' {{if $task.project_id eq $project.id}}selected{{/if}}>{{$project.name}}</option>  
                                {{/foreach}}                                
                                {{/if}}                           
                            </select>                           
                            {{/if}}                        
                        </td>                        
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4">                            
                            {{if $disable_loaded}}                            
                            {{if $task.subproject_id gt 0}}                           
                            {{foreach item=subproject from=$clients[$task.client_id].projects[$task.project_id].subprojects}}   
                            {{assign var="isBillable" value="0"}}                            
                            {{if $task.subproject_id eq $subproject.id}}                            
                            {{assign var="isBillable" value=$subproject.is_billable}}                            
                            {{$subproject.name}}                            
                            <input type="hidden" id="sel_subproject_id-{{$row}}" name="subproject_id[{{$row}}]" value="{{$task.subproject_id}}" is_billable='{{$isBillable}}'>
                            {{/if}}                           
                            {{/foreach}}                            
                            {{else}}                            
                            &nbsp;                            
                            {{/if}}                           
                            {{else}}   
                            <select id="sel_subproject_id-{{$row}}" name="subproject_id[{{$row}}]" class="checkdisabled" onChange="cal_day_timecard(); updateSubProjectRole('{{$row}}');">
                                <option value="0">-Select subproject-</option>
                                {{if $task.project_id gt 0 or $task.subproject_id gt 0}} 
                                {{foreach item=subproject from=$clients[$task.client_id].projects[$task.project_id].subprojects}}                                
                                <option value="{{$subproject.id}}" is_billable='{{$subproject.is_billable}}' {{if $task.subproject_id eq $subproject.id}}selected{{/if}}>{{$subproject.name}}</option> 
                                {{/foreach}}                                
                                {{/if}}                            
                            </select>                            
                            {{/if}}                       
                        </td>                        
                        <td width="100" class="pt3 pb5 pL10 bdrbtm4">                            
                            {{if $disable_loaded}}                            
                            {{foreach key=group item=task_type_group from=$task_types}}                            
                            {{foreach item=task_type from=$task_type_group}}                            
                            {{if $task.task_type_id eq $task_type->getId()}}                            
                            {{$task_type->getName()}}                            
                            {{/if}}                            
                            {{/foreach}}                           
                            {{/foreach}}                           
                            <input type="hidden" id="sel_task_type_id-{{$row}}" name="task_type_id[{{$row}}]" value="{{$task.task_type_id}}"> 
                            {{else}}                            
                            <select id="sel_task_type_id-{{$row}}" name="task_type_id[{{$row}}]" {{$str_disable}} {{$disable_loaded}}> 
                                <option value="0">-Select task type-</option>                                
                                {{foreach key=group item=task_type_group from=$task_types}}                                
                                <optgroup label="{{$group}}">                                    
                                    {{foreach item=task_type from=$task_type_group}}                                    
                                    <option value="{{$task_type->getId()}}" {{if $task.task_type_id eq $task_type->getId()}}selected{{/if}}>{{$task_type->getName()}}</option>
                                    {{/foreach}}
                                </optgroup>                                
                                {{/foreach}}                           
                            </select>                            
                            {{/if}}                        
                        </td>                        
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <!--select id="sel_project_role_id-{{$row}}" name="project_role_id[{{$row}}]" > 
                            {{foreach item=role from=$empProjectRole}}                               
                            <option value="{{$role->getId()}}"  {{if $task.project_role_id eq $role->getId()}}selected{{/if}} >{{$role->getName()}}</option>
                            {{/foreach}}                           
                            </select   -->   
                            <select id="sel_project_role_id-{{$row}}" name="project_role_id[{{$row}}]" onchange= "isRoleSelected('{{$row}}')" >
                                <option value="0">-Select project role-</option>                                
                                {{if $task.subproject_id gt 0 }}                                
                                {{foreach item=role from=$clients[$task.client_id].projects[$task.project_id].subprojects[$task.subproject_id].project_role}}                               
                                <option value="{{$role.project_role_id}}"  {{if $task.project_role_id eq $role.project_role_id  }}selected{{/if}} >{{$role.project_role_name}}</option>                                {{/foreach}}                                
                                {{else}}                               
                                {{foreach item=role from=$clients[$task.client_id].projects[$task.project_id].project_role  }}   
                                <option value="{{$role.project_role_id}}"  {{if $task.project_role_id eq $role.project_role_id  }}selected{{/if}} >{{$role.project_role_name}}</option> 
                                {{/foreach}}                                
                                {{/if}}                            
                            </select>       

							 <!--{{if $disable_loaded}} 
								 <select id="sel_project_role_id-{{$row}}" name="project_role_id[{{$row}}]" >
                                 {{foreach item=role from=$empProjectRole}}
                                 <option value="{{$role->getId()}}"  {{if $task.project_role_id eq $role->getId()}}selected{{/if}} >{{$role->getName()}}</option>    
                           {{/foreach}} 
								</select >								 
                                {{else}}                                                          
								<select id="sel_project_role_id-{{$row}}" name="project_role_id[{{$row}}]" onchange= "isRoleSelected('{{$row}}')" >
									<option value="0">-Select project role-</option>                                  
									{{if $task.project_id gt 0}}                                
									{{foreach item=role from=$clients[$task.client_id].projects[$task.project_id].subprojects[$task.subproject_id].project_role}}                                
									<option value="{{$role.project_role_id}}"  {{if $task.project_role_id eq $role.project_role_id  }}selected{{/if}} >{{$role.project_role_name}}</option> 
									{{/foreach}}                                
									{{/if}}                           
								</select>                           
							{{/if}}		-->					
                        </td>                        
                        <td class="pt3 pb5 pL10 bdrbtm4" >                           
                            <input type="checkbox" name="billable[{{$row}}]" id="billable-{{$row}}" value="1" billablechk="1" {{if $task.billable eq 1}}checked{{/if}} > 
                        </td>                        
                        {{foreach name=y item=day from=$days}}                        
                        {{assign var="disableFuture" value=""}}                        
                        {{assign var="hideFuture" value=""}}                        
                        {{if $day > $curr_date_ts  }}                        
                        {{assign var="disableFuture" value="disabled='disabled'"}}                        
                        {{assign var="hideFuture" value="display:none;"}}                       
                        {{/if}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}} atotal"> 
                            <input type="hidden" name="id[{{$row}}][{{$day}}]" value="{{$task.times[$day].id}}"> 
                            <input type="hidden" id="hd_detail-{{$row}}-{{$day}}" name="details[{{$row}}][{{$day}}]" value="{{$task.times[$day].detail}}"> 
                            <input type="text" colnumber="{{$smarty.foreach.y.iteration}}" id="txt_duration-{{$row}}-{{$day}}" name="durations[{{$row}}][{{$day}}]" value="{{$task.times[$day].duration_mins|m2hm}}" size="4" class="acenter weekday" {{if $disable_loaded}}{{$str_disable}}{{else}}onkeyUp="cal_day_timecard();" onkeypress="onlyTime(event);" {{$disableFuture}}{{/if}}/>  
                                   {{if $disable_loaded neq '1'}}                                   
                                   <span id='sp_detail-{{$row}}-{{$day}}' style='display:none;'>{{$task.times[$day].detail}}</span>     
                            <br />                            
                            {{if !$clients[$task.client_id].projects[$task.project_id].closed && !$clients[$task.client_id].projects[$task.project_id].subprojects[$task.subproject_id].closed}}  
                            {{if $task.times[$day].detail}}                            
                            <a style='display:none;' id="a_detail-{{$row}}-{{$day}}" href="#hd_detail-{{$row}}-{{$day}}" class="imglink editdetail" title="" task_id='{{$row}}-{{$day}}'>
                                <img id="img_detail-{{$row}}-{{$day}}" src="img/icons/task_edit.gif" align="absmiddle" width="17" border="0" {{if $hideFuture neq ''}} style="{{$hideFuture}}"{{else}}{{if !$task.client_id }}style="display:none;"{{/if}}{{/if}}></a> 
                            {{else}}                           
                            <a style='display:none;' id="a_detail-{{$row}}-{{$day}}" href="#hd_detail-{{$row}}-{{$day}}" class="imglink editdetail" title="Add task detail" task_id='{{$row}}-{{$day}}' {{if $hideFuture neq ''}} style="{{$hideFuture}}"{{else}}{{if !$task.client_id }}style="display:none;"{{/if}}{{/if}}>
                               <img id="img_detail-{{$row}}-{{$day}}" src="img/icons/task_add.gif" align="absmiddle" width="17" border="0"></a> 
                            {{/if}}                            
                            {{if $task.times[$day].duration_mins|m2hm}}
                            <a style='display:none;' class="imglink deldetail" href="{{$task.times[$day].id}}" rel="hd_detail-{{$row}}-{{$day}}|sp_detail-{{$row}}-{{$day}}|txt_duration-{{$row}}-{{$day}}|a_detail-{{$row}}-{{$day}}|img_detail-{{$row}}-{{$day}}" title="Delete task detail" {{if $hideFuture != ''}} style="{{$hideFuture}}"{{else}}{{if !$task.client_id }}style="display:none;"{{/if}}{{/if}}>
                               <img src="img/icons/delete16x16.png" align="absmiddle" width="17" border="0"></a>                            
                            {{/if}}                            
                            {{/if}}                            
                            {{/if}}                        
                        </td>                        
                        {{/foreach}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4">                            
                            <input type="text" colnumber="8" id="txtTotalWeek-{{$row}}-{{$day}}" name="txtTotalWeek-{{$row}}-{{$day}}" value="" size="4" class="acenter totalWeek" readonly /> 
                        </td>                    
                    </tr>                    
                    {{/foreach}}                    
                    <tr id="pto_row" class="tr_rows">                        
                        <td colspan="2"></td>                        
                        <td colspan="5" class='aright pt3 pb5 pL10 bdrbtm4'>                            
                            <input type="hidden" name="client_id[{{'pto'}}]" value="1000">                           
                            <input type="hidden" name="project_id[{{'pto'}}]" value="1000">                           
                            <b><i>PTO (Personal Time Off)</i></b>                        
                        </td>                                                
                        {{foreach name=x item=task1 from=$tasks1}}                        
                        {{foreach name=y item=day from=$days}}                        
                        {{assign var="disableFuture" value=""}}                        
                        {{assign var="hideFuture" value=""}}                        
                        {{if $day > $curr_date_ts  }}                        
                        {{assign var="disableFuture" value="disabled='disabled'"}}                       
                        {{assign var="hideFuture" value="display:none;"}}                     
                        {{/if}}                       
                        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}} atotal">
                            <input type="hidden" name="id[{{'pto'}}][{{$day}}]" value=" {{$task1.times.pto[$day].id}}">  
                            <input type="hidden" id="hd_detail-{{'pto'}}-{{$day}}" name="details[{{'pto'}}][{{$day}}]" value="{{$task1.times.pto[$day].detail}}"> 
                            <input type="text" colnumber="{{$smarty.foreach.y.iteration}}" id="txt_duration-{{'pto'}}-{{$day}}" name="durations[{{'pto'}}][{{$day}}]" value="{{$task1.times.pto[$day].duration_mins|m2hm }}" size="4" class="acenter pto" {{if $disable_loaded}}{{$str_disable}}{{else}}onkeyUp="cal_day_timecard();" onkeypress="onlyTime(event);"{{/if}}/>
                                   {{if $disable_loaded neq '1'}}                                   
                                   <span id="sp_detail-{{'pto'}}-{{$day}}" style='display:none;'>{{$task1.times.pto[$day].detail}}</span>  
                            <br />                            
                            {{if $task1.times.pto[$day].detail}}                            
                            <a style='display:none;' id="a_detail-{{'pto'}}-{{$day}}" href="#hd_detail-{{'pto'}}-{{$day}}" class="imglink editdetail" task_id='{{"pto"}}-{{$day}}' title="Edit task detail" >
                                <img id="img_detail-{{'pto'}}-{{$day}}" src="img/icons/task_edit.gif" align="absmiddle" width="17" border="0">
                            </a>                            
                            {{else}}                            
                            <a style='display:none;' id="a_detail-{{'pto'}}-{{$day}}" href="#hd_detail-{{'pto'}}-{{$day}}" class="imglink editdetail" task_id='{{"pto"}}-{{$day}}' title="Add task detail" >
                                <img id="img_detail-{{'pto'}}-{{$day}}" src="img/icons/task_add.gif" align="absmiddle" width="17" border="0">
                            </a>                            
                            {{/if}}                            
                            {{if $task1.times.pto[$day].duration_mins|m2hm}}                                                        
                            <a style='display:none;' class="imglink deldetail" href="{{$task1.times.pto[$day].id}}" rel="hd_detail-{{'pto'}}-{{$day}}|sp_detail-{{'pto'}}-{{$day}}|txt_duration-{{'pto'}}-{{$day}}|a_detail-{{'pto'}}-{{$day}}|img_detail-{{'pto'}}-{{$day}}" title="Delete PTO detail" >
                                <img src="img/icons/delete16x16.png" align="absmiddle" width="17" border="0"></a>
                            {{/if}}                            
                            {{/if}}                        
                        </td>                        
                        {{/foreach}}                        
                        {{/foreach}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4">                            
                            <input type="text" colnumber="8" id="txtTotalWeek-{{$row}}-{{$day}}" name="txtTotalWeek-{{$row}}-{{$day}}" value="" size="4" class="acenter totalWeek" readonly /> 
                        </td>                    
                    </tr>                    
                    <tr>                        
                        <td colspan="2"></td>                        
                        <td colspan="5" class="aright pt3 pb5 pL10 bdrbtm4">
                            <b><i>Assigned Hours (spent in a day)</i></b>
                        </td>                        
                        {{foreach name=y item=day from=$days}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}}"> 
                            <input type="text" id="txtTotal-{{$row}}-{{$day}}" name="txtTotal[{{$day}}]" size="4" class="acenter totalbox" colnumber="{{$smarty.foreach.y.iteration}}" readonly/> 
                        </td>                        
                        {{/foreach}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4">                           
                            <input type="text" colnumber="8" id="txtTotalWeekHrs" name="txtTotalWeekHrs" value="" size="4" class="acenter totalWeek" readonly /> 
                        </td>                    
                    </tr>                   
                    <tr>                       
                        <td colspan="2"></td>                          
                        <td colspan="5" class="aright pt3 pb5 pL10 bdrbtm4"><b><i>Billable Hours (in a day)</i></b></td>  
                        {{foreach name=y item=day from=$days}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}}">  
                                                   
                            <input type="text" id="txtBillable-{{$row}}-{{$day}}" name="txtBillable[{{$day}}]" size="4" class="acenter billable" colnumber="{{$smarty.foreach.y.iteration}}" readonly/>  
                        </td>                       
                        {{/foreach}}                       
                        <td class="acenter pt3 pb5 pL10 bdrbtm4">                           
                            <input type="text" colnumber="8" id="txtTotalWeekBHrs" name="txtTotalWeekBHrs" value="" size="4" class="acenter totalWeek" readonly /> 
                        </td>                   
                    </tr>                    
                    <tr>                      
                        <td colspan="2"></td>                     
                        <td colspan="5" class="aright pt3 pb5 pL10 bdrbtm4">
                            <b><i>Standard Hours (in a day)</i></b>
                        </td>                        
                        {{foreach name=y item=day from=$days}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}}">
                            <input type="text" id="txtStandard-{{$row}}-{{$day}}" name="txtStandard[{{$day}}]" size="4" class="acenter standard" colnumber="{{$smarty.foreach.y.iteration}}" readonly/>  
                        </td>                        
                        {{/foreach}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4">                           
                            <input type="text" colnumber="8" id="txtTotalStdHrs" name="txtTotalStdHrs" value="" size="4" class="acenter totalStd" readonly /> 
                        </td>                   
                    </tr>                   
                    <tr>                        
                        <td colspan="2"></td>                       
                        <td colspan="5" class="aright pt3 pb5 pL10 bdrbtm4"><b><i>Unassigned Hours (in a day)</i></b></td> 
                        {{foreach name=y item=day from=$days}}                       
                        <td class="acenter pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}}">   
                            <!-- <span id='un-assigned-{{$day}}'>&nbsp;</span>-->                           
                            <input type="text" id="txtUnassigned-{{$row}}-{{$day}}" name="txtUnassigned[{{$day}}]" size="4" class="acenter unassigned" colnumber="{{$smarty.foreach.y.iteration}}" readonly/> 
                        </td>                        
                        {{/foreach}}                        
                        <td class="acenter pt3 pb5 pL10 bdrbtm4">                            
                            <input type="text" colnumber="8" id="txtTotalWeekUHrs" name="txtTotalWeekUHrs" value="" size="4" class="acenter totalWeek" readonly />    
                        </td>                    
                    </tr>                   
                    <tr>                       
                        <td colspan="2"></td>                       
                        <td colspan="5" class="aright pt3 pb5 pL10 bdrbtm4"><b><i>Utilization (in a day) %</i></b></td>     
                        {{foreach name=y item=day key=k from=$dates}}                        
                        <td class="acenter utilization_in_day pt3 pb5 pL10 bdrbtm4 {{if $smarty.foreach.y.iteration eq 7 or $smarty.foreach.y.iteration eq 1}}darkerbg{{/if}}"> 
                            <span id='day-utilization-1-{{$k}}' style='display:none'>{{$utilization[$k]}}</span>  
                            <span id='day-utilization-{{$k}}'></span>  
                        </td>                     
                        {{/foreach}}                       
                        <td class="acenter pt3 pb5 pL10 bdrbtm4"> 
                            <span id='week-utilization'></span><br>       
                            <span id='txtNoOfDays'></span>  
                        </td>             
                    </tr>          
                    <tr>           
                        <td colspan="5" class='pt3 pb5 pL10 timecard_util'>  
                            {{if $disable_loaded neq '1'}}       
                            <input type="button" value="Add new row" id="btn_add_row">  
                            {{/if}}     
                        </td>    
                        <td colspan='9' class="aright timecard_util">   
                            <a href="task.timecard.php?date={{$days.0|mdy|escape:"url"}}&user_id={{$smarty.get.user_id}}" class="linkbutton" vText='Cancel'>Cancel</a>
                            {{assign var="btnVal" value="Un-Submit"}}  
                            {{assign var="btnParam" value="PENDING"}} 
                            {{if $disable_loaded neq '1'}}      
                            {{assign var="btnVal" value="Submit"}}
                            {{assign var="btnParam" value="SUBMIT_TIMECARD"}} 
                            <input type="submit" id='btnUpdate' name='btnUpdate' value="Save"> 
                            {{/if}}      
                        </td> 
                        <td class='acenter timecard_util'> 
                            {{if $loginuser->isAdmin() && $btnParam == 'PENDING'}}  
                            {{if $disable_loaded}}  
                            <input type="button" id='btnTimeCardSubmit' name='btnTimeCardSubmit' class='timecard_submit' value="{{$btnVal}}" onClick="submitTimeCard('MARK_PENDING');">
                            {{/if}}   
                            {{else}}    
                            {{if $disable_loaded neq '1'}} 
                            <input type="button" id='btnTimeCardSubmit' name='btnTimeCardSubmit' class='timecard_submit' value="Submit" onClick="submitTimeCard('SUBMIT_TIMECARD');">
                            {{else}}    
                            <input type="button" id='btnTimeCardSubmit' name='btnTimeCardSubmit' class='timecard_submit' value="Request for review" onClick="submitTimeCard('REQUEST_REVIEW');"> 
                            {{/if}}   
                            {{/if}}     
                        </td>        
                    </tr>       
                </table>     
            </form>   
        </div>   
        <div id="div_taskdetail" title="Enter task detail"> 
            <form>                
                Task start time (HH:MM):                
                <select id="sel_start_hour" style="width: 50px;"> 
                    {{section name=i loop=24}}
                    <option value="{{$smarty.section.i.index|str_pad:2:0:STR_PAD_LEFT}}">{{$smarty.section.i.index|str_pad:2:0:STR_PAD_LEFT}}</option> 
                    {{/section}}               
                </select>                
                :                
                <select id="sel_start_minute" style="width: 50px;">
                    {{section name=i loop=60}}                    
                    <option value="{{$smarty.section.i.index|str_pad:2:0:STR_PAD_LEFT}}">{{$smarty.section.i.index|str_pad:2:0:STR_PAD_LEFT}}</option> 
                    {{/section}}               
                </select>                
                <input type="button" id="btn_start_time" value="Insert time"> 
                <textarea id="txt_taskdetail" rows="7" cols="40" class="expand2fit" style="height: 150px;"></textarea>  
            </form>        
        </div>        
        {{include file="footer.html"}}    
    </body></html>