{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="task.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>View time {{$sep}} {{$task->getDetail()|strip_tags|truncate:80|default:$task->getTaskTypeName()}}</h1>
                </td></tr>
            </table>
            <table cellpadding="5" cellspacing="2" border="0" width="100%">
                <tr>
                    <th class="aleft ui-corner-tl" width="200">Date (mm/dd/yyyy)</td>
                    <td>{{$task->getTaskDate()|date_format}}</td>
                </tr>
                <tr>
                    <th class="aleft">Project</td>
                    <td>
                        {{$task->getProjectName()}}
						{{if $loginuser->isAdmin()}}
                        {{$sep}}
                        <a href="task.list.php?project_id={{$task->getProjectId()}}">View time from this project</a>
						{{/if}}
                    </td>
                </td>
                <tr>
                    <th class="aleft">User</td>
                    <td>
                        {{$task->getUserName()}}
                        {{$sep}}
                        <a href="task.list.php?user_id={{$task->getUserId()}}">View time by this user</a>
                    </td>
                </td>
                <tr>
                    <th class="aleft">Task type</td>
                    <td>{{$task->getTaskTypeName(true)}}</td>
                </tr>
                <tr>
                    <th class="aleft">Task detail</td>
                    <td>{{$task->getDetail()|nl2br}}</td>
                </tr>
                <tr>
                    <th class="aleft ui-corner-bl">Duration (hh:mm)</td>
                    <td>{{$task->getDurationMins()|m2hm}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="acenter">
                        <a class="linkbutton" href="task.edit.php?id={{$task->getId()}}">Edit this time</a>
                        <a class="linkbutton" href="task.delete.php?id={{$task->getId()}}">Delete this time</a>
						{{if $loginuser->isAdmin()}}
                        <a class="linkbutton" href="task.list.php">Go back to time list</a>
						{{/if}}
                    </td>
                </tr>
            </table>
        </div>
    </body>

</html>
