{{include file="header.html" tab="tasks"}}
<div id="nav2">
    <a href="task.timecard.php" class="linkbutton">View Time Summary</a>
    <a href="task.add.multiple.php" class="linkbutton {{if $button eq "add task"}}activebutton{{/if}}">Add/Edit time</a>
    {{if $loginuser->isAdmin()}}
    <a href="task.month.summary.php" class="linkbutton">View Month Summary</a>
    {{/if}}
    {{if false}}
    <a href="task.add.single.php" class="linkbutton">Add time</a>
    <a href="task.add.multiple.php" class="linkbutton">Bulk add task</a>
    {{/if}}
</div>
