{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Timecard</title>
        {{include file="css.and.js.html"}}
        <script src="js/task.add.js" type="text/javascript" language="javascript"></script>
    </head>

    <body>
        {{include file="task.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <h1>Add task</h1>
            <form action="task.add.single.php" method="get">
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr>
                        <td>
                            {{include file="fragment.task.add.filter.html"}}
                        </td>
                        <td class="actions aright">
                            <input type="submit" value="Apply filter" id="filtersubmit">
                        </td>
                    </tr>
                </table>
            </form>
            <form action="task.add.single.action.php" method="post" id="frm_addtask">
                <input type="hidden" name="client_id" value="{{if $client}}{{$client->getId()}}{{else}}0{{/if}}">
                <input type="hidden" name="project_id" value="{{if $project}}{{$project->getId()}}{{else}}0{{/if}}">
                <input type="hidden" name="subproject_id" value="{{if $subproject}}{{$subproject->getId()}}{{else}}0{{/if}}">
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tbody>
                    <tr>
                        <th class="aleft ui-corner-tl" width="200">Date/Task type/Time *</td>
                        <td>
                            <input type="text" name="task_date" value="{{$post.task_date|date_format:"%m/%d/%Y"|default:$smarty.now|date_format:"%m/%d/%Y"}}" class="datefield">
                            <select name="task_type_id">
                                {{assign var="tt" value=$post.task_type_id}}
                                {{foreach item=task_type from=$task_types}}
                                <option value="{{$task_type->getId()}}" {{if $tt eq $task_type->getId()}}selected{{/if}}>{{$task_type->getName()}}</option>
                                {{/foreach}}
                            </select>
                            <input type="text" name="duration" value="{{$post.duration}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft ui-corner-tl">Task detail</td>
                        <td><textarea name="detail" class="expand2fit" rows="3" cols="40">{{$post.detail}}</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <input type="submit" value="Add task">
                            <a href="task.list.php" class="linkbutton">Cancel and go back to tasks list</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>

</html>
