{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
        
    </head>

    <body>
        <script>
            jQuery(function($){
                $("#btn_task_type_cancel").click(function(){
                    $("#hdm_id").val(0);
                    $("#sel_group_id").val(0);
                    $("#txt_name").val("");
                    $("#btn_task_type_save").val("Add");
                });

                $("#btn_task_type_save").click(function() {
                    submitTaskType();
                });
                $("#sel_group_id").change(function(){
                    searchTable($(this).val());
                });
            });
            function editTask(id,gid) {
                $("#hdn_id").val(id);
                $("#sel_group_id").val(gid);
                $("#txt_name").val($("#name-" + id).text());
                $("#btn_task_type_save").val("Save");
            }
            function submitTaskType() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmTask").serialize();
                    $.ajax({
                        url:    'tasktype.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load tasktype.","Task Type");
                                },
                        success: function(v) { 
                                    loadSetup('tasktype.list.php','Task Types');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmTask").submit();
                {{/if}}
            }
            function searchTable(val) {
                $("#tbl_tasks").find('tr:not(tr:lt(2))').hide().end().find('tr[stext*="' + val + '"]').show();
            }
        </script>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="tasktype.common.html"}}
        {{/if}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Task Types</h1>
                </td></tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="tasktype.list.php?excel=1">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr> 
            </table>
            {{/if}}
            <br>
            <form method="post" id="frmTask" name="frmTask" action="tasktype.save.action.php">
				{{include file="table.tasktype.list.html"}}
            </form>
        </div>
    </body>

</html>
