{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Timecard</title>
        {{include file="css.and.js.html"}}
       
        <script type="text/javascript" language="javascript">
            jQuery(function($){
				$('#datepicker').datepicker({
				showButtonPanel: true,
				changeMonth: true,
		        changeYear: true,
		        onSelect: function(d){
		            target = $(this).attr("target");
		            if(target) window.location.href = target + "?date=" + d+"&user_id="+$("select[name=user_id]").val();
		        },
				dateFormat: 'mm/dd/yy' 
			
				});
			
			
                $("#sel_user_id").change(function(){
					//$("#export").attr({href : this.form.action + "?" + $("input[name=date], select[name=user_id]", this.form).serialize()});
					//$("#export").attr("href", "http://www.google.com/");

                    window.location.href = this.form.action + "?" + $("input[name=date], select[name=user_id]", this.form).serialize();
                    return false;
                });
                $("#frm_filter input[type=submit]").hide();
		
		$("#tbl_tasks tr").bind("dblclick", function(){
            if($(this).find("a").attr("href")) {
		        window.location=$(this).find("a").attr("href"); 
            }
            return false;
		});
            });
            /*
			$(document).ready(function() {
				$("#export").attr("href", window.location.href + "&excel=1");
            });
            */

			
        </script>
    </head>

    <body>
        {{include file="task.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr>
                    <td class="aleft" width="50%">
                        <h1>Monthly Time Summary for {{$user->getName()}}</h1>
                    </td>
                    <td class="aright vamiddle">
                        <form action="task.timecard.php" class="inline" id="frm_filter">

                            {{assign var="url" value="task.timecard.php?user_id="|cat:$user->getId()}}
                            <a href="{{$url}}&date={{$prev_month|escape:"url"}}">&laquo; Previous month</a>
                            <input type="text" name="date" class="datepicker" id="datepicker" value="{{$date}}" target="task.timecard.php" style="width: 70px; cursor: default;">
                            <a href="{{$url}}&date={{$next_month|escape:"url"}}">Next month &raquo;</a> 
							
                            {{if $loginuser->isAdmin() and $users}}
                            {{$spc}}{{$sep}}{{$spc}}
                            <!--<label for="sel_user_id">Select user</label> -->
                            &nbsp;
                            <select name="user_id" id="sel_user_id">
                                <option value="">Select user</option>
                                {{foreach item=i from=$users}}
                                <option value="{{$i->getId()}}" {{if $user->getId() eq $i->getId()}}selected{{/if}}>{{$i->getName()}}</option>
                                {{/foreach}}
                            </select>
                             <input type="submit" value="Change date/user">
                        </form>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2'>
                        <a id="export" href="task.timecard.php?excel=1&{{$smarty.server.QUERY_STRING}}">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table> 
            <br>
			{{include file="table.task.timecard.html"}}
        </div>
        {{include file="footer.html"}}
    </body>

</html>
