{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
	{{include file="task.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <form action="task.delete.action.php" method="post">
                <input type="hidden" name="id" value="{{$task->getId()}}">
                <input type="hidden" name="answer" value="yes">
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr><td class="acenter"><h1>Delete task {{$sep}} {{$task->getTaskTypeName()}} ({{$task->getTaskDate()|date_format}}) ?</h1></td></tr>
                    {{if $task->getDetail()}}
                    <tr><td class="acenter">{{$task->getDetail()|nl2br}}</td></tr>
                    {{/if}}
                    <tr>
                        <td class="acenter">
                            <input type="submit" value="Yes, delete">
                            <a href="task.view.php?id={{$task->getId()}}" class="linkbutton">No, go back to task view</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>

</html>
