{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="tasktype.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td>
                    <h1>Edit task type</h1>
                </td></tr>
            </table>
            <form action="tasktype.edit.action.php" method="post">
                <input type="hidden" name="id" value="{{$task_type->getId()}}">
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr>
                        <th class="aleft ui-corner-tl" width="200">Task type *</td>
                        <td><input type="text" class="expand2fit" name="task_type_name" value="{{$task_type->getName()}}"></td>
                    </tr>
                    <tr>
                        <th class="aleft">Task type group</td>
                        <td>
                            <select name="task_type_group_id">
                                <option value="0">-Select group-</option>
                                {{foreach key=k item=i from=$task_type_groups}}
                                <option value="{{$k}}">{{$i}}</option>
                                {{/foreach}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="acenter">
                            <input type="submit" value="Save changes">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>

</html>
