{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
        
    </head>

    <body>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="technology.skills.common.html"}}
        {{/if}}
        <script>
            jQuery(function($){
                $("#btn_cancel").click(function(){
                    $("#hdn_id").val('0');
                    $("#txt_name").val("");
                    $("#btn_save").val("Add");
                });

                $("#btn_save").click(function() {
                    submitDep();
                });

            });
            function deleteDep(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the Technology Skills : <i>'+$("#name-"+id).text()+'</i>?</b>.',"Technology Skills", 
                            function(returnvalue) {
                                if (returnvalue) {
                                    $("#hdn_id").val(id);
                                    $("#txt_name").val($("#name-" + id).text());
                                    $("#action").val("DELETE");
                                    //$("#frmDep").submit();
                                    submitDep();
                                }    
                            }
                    );
            }
            function editDep(id) {
                    $("#hdn_id").val(id);
                    $("#txt_name").val($("#name-" + id).text());
                    $("#action").val("EDIT");
                    $("#btn_save").val("Save");
            }
            function submitDep() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmDep").serialize();
                    $.ajax({
                        url:    'technology.skills.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load technology skills.","Technology Skills");
                                },
                        success: function(v) { 
                                    loadSetup('technology.skills.list.php','Technology Skills');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmDep").submit();
                {{/if}}
            }
        </script>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Technology Skills</h1>
                </td></tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="technology.skills.list.php?excel=1">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr> 
            </table>
            {{/if}}
            <br>
            <div id='technology_skills_list'>
				{{include file="table.technology.skills.list.html"}}
            </div>
        </div>
    </body>

</html>
