{{include file="doctype.html"}}
<html>
<head>
<title>Timesshet:: Timecard Review</title>
<style>
body {
    color: #000000;
    font-family: 'Segoe UI',Tahoma,Verdana,sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #FF8B00;
    font-family: "Trebuchet MS","Segoe UI",Tahoma,Verdana,sans-serif;
    font-size: 1.6em;
    margin: 0;
}
h1 {
    font-style: italic;
}
h2 {
    font-size: 1.3em;
}
#nav2 {
    border-bottom: 1px dotted #CCCCCC;
    color: #AAAAAA;
    padding: 10px 5px;
}
table {
    border: 1px solid #EEEEEE;
    margin: auto;
    padding: 1px;
}

td {
    background-color: #F8F8F8;
    font-size: 9pt;
    vertical-align: top;
}

span.sep {
    color: #BBBBBB;
}

#content {
    margin: 10px auto;
    width: 95%;
}
#header {
    height: 60px;
    position: relative;
}
a:link, a:visited {
    color: #097CB0;
    padding: 2px;
    text-decoration: none;
}
a:hover {
    background-color: #097CB0;
    color: #FFFFFF;
    padding: 2px;
    text-decoration: none;
}
</style>
</head>
<body>
<div id="header">
    <div style="position: absolute; bottom: 5px; left: 5px;">
        <img height="50" width="185" alt="GlobalSoft Logo" src="{{$timesheet_url}}/img/logo.jpg">
        <!--<img height="50" width="185" alt="GlobalSoft Logo" src="http://groovesw.com/timesheet-test/htdocs/img/logo.jpg">-->
    </div>
</div>
<div id="content">
  <table cellpadding="5" cellspacing="2" border="0" width="100%">
        <tr>
            <td>
                <div>
                    <p>Hello {{$full_name}}</p>

                    <p>A <b>"Time Card Review"</b> requested for the week number #{{$week_number}} has been granted.</p>
                
                    <p>Please click below time card link for the review and re-submit the timecard for the week number #{{$week_number}}.</p>
                
                    <p>Time Card URL: <a href="{{$redirect_url}}">{{$redirect_url}}</a></p>

                
                    <p>Thank you.<br />
                    GlobalSoft Management</p>
                </div>
            </td>
        </tr>
  </table>
</div>
</body>
</html>

