{{include file="doctype.html"}}
<html>
    <head>
        <title>Influence:: Timecard Report</title>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        {{include file="css.and.js.html"}}
        <style>
            .summary { font-weight: bold; font-style: italic; border-bottom: solid #f0f0f0 1px; background-color: #F7F7F7;}
            .duration { background-color: #F7F7F7; }

            a img { border: none; vertical-align: middle; }
            fieldset input { vertical-align: middle; }
            td form { display: inline; }
        </style>

        <script>
            google.load("visualization", "1", {packages:["corechart"]});
            var user_data = {{$user_data}};
            var cdata = {{$cdata}};
            jQuery(function($){
                $("#graph").dialog({
                    dialogClass: 'holiday-edit-frm',
                    title: 'Utilization Graph',
                    autoOpen: false,
                    width: 950,
                    modal: true,
                    draggable: false,
                    resizable: false,
                });

                $('#tabSummary').click(function() {
                    $("#tab").val('summary');
                    $("#frm_daterange").submit();
                });
                $('#tabUtil').click(function() {
                    $("#tab").val('util');
                    $("#frm_daterange").submit();
                });
                $('#a_filter').click(function(){
                    $(this).find('img').toggle();
                    $('#tr_filter').toggle();
                    return false;
                });

                $('input.datefield').datepicker();

                $('#sel_user_id, #sel_client_id, #sel_project_id, #sel_subproject_id').change(function(){
                    var $this = $(this);
                    if($this.is('#sel_user_id')){
                        disable_options('#sel_client_id');
                        refresh_sel('#sel_client_id', this, user_data.users, 'clients');
                        unselect_disabled_options('#sel_client_id');
                        if($('#chk_client_id').is(':checked')) select_all_options('#sel_client_id');
                        $('#sel_client_id').trigger('change');
                        
                    }
                    else if($this.is('#sel_client_id')){
                        disable_options('#sel_project_id');
                        refresh_sel('#sel_project_id', this, user_data.clients, 'projects');
                        unselect_disabled_options('#sel_project_id');
                        if($('#chk_project_id').is(':checked')) select_all_options('#sel_project_id');
                        $('#sel_project_id').trigger('change');
                    }
                    else if($this.is('#sel_project_id')){
                        disable_options('#sel_subproject_id');
                        refresh_sel('#sel_subproject_id', this, user_data.projects, 'subprojects');
                        if($('#chk_subproject_id').is(':checked')) select_all_options('#sel_subproject_id');
                        unselect_disabled_options('#sel_subproject_id');
                    }

                    var $chk = $('#' + $this.attr('id').replace(/^sel_/, 'chk_'));
                    var total_options = $('option:not(:disabled)', $this).length;
                    var selected_optons = $('option:selected', $this).length;
                    if(selected_optons >= total_options){
                        if(!$chk.is(':checked')) $chk.attr('checked', 'checked');
                    }
                    else $chk.removeAttr('checked');
                });

                $('#sel_user_id').trigger('change');

                {{if $loginuser->isAdmin() OR $loginuser->isReportManager()}}
                $('#sel_user_id').show();
                {{else}}
                $('#sel_user_id').hide();
                {{/if}}

                {{if $report_detail}}
                $('#a_filter').trigger('click');
                {{/if}}

                $('#chk_user_id, #chk_client_id, #chk_project_id, #chk_subproject_id').change(function(){
                    var $this = $(this);
                    var $sel = $('#' + $this.attr('id').replace(/^chk_/, 'sel_'));
                    if($this.is(':checked')){
                        $('option', $sel).not(':disabled, :selected, :first').attr('selected', 'selected');
                        $sel.trigger('change');
                    }
                });

                $('#frm_daterange .opt_daterange').click(function(){
                    $(this).parent().find(':radio').attr('checked', 'checked');
                });
            });

            function toggleUserGraph(id,t) {
                $("#"+id).addClass('active');
                if(t == 'uSummary') {
                    $("#liCgraph").removeClass('active');
                    $("#liPgraph").removeClass('active');

                    $("#UgTble").show();
                    $("#CgTble").hide();
                    $("#PgTble").hide();
                }
                else if(t == 'cSummary') {
                    $("#liUgraph").removeClass('active');
                    $("#liPgraph").removeClass('active');

                    $("#CgTble").show();
                    $("#UgTble").hide();
                    $("#PgTble").hide();
                }
                else if(t == 'pSummary') {
                    $("#liUgraph").removeClass('active');
                    $("#liCgraph").removeClass('active');

                    $("#PgTble").show();
                    $("#UgTble").hide();
                    $("#CgTble").hide();
                }
            }

            function toggleSummaryGraph(id,t) {
                $("#"+id).addClass('active');
                if(t == 'Summary') {
                    $("#liTCgraph").removeClass('active');
                    $("#liTPgraph").removeClass('active');
                    $("#liTUgraph").removeClass('active');

                    $("#TSgTble").show();
                    $("#TCgTble").hide();
                    $("#TPgTble").hide();
                    $("#TUgTble").hide();
                }
                else if(t == 'cSummary') {
                    $("#liTSgraph").removeClass('active');
                    $("#liTPgraph").removeClass('active');
                    $("#liTUgraph").removeClass('active');

                    $("#TSgTble").hide();
                    $("#TCgTble").show();
                    $("#TPgTble").hide();
                    $("#TUgTble").hide();
                }
                else if(t == 'pSummary') {
                    $("#liTSgraph").removeClass('active');
                    $("#liTCgraph").removeClass('active');
                    $("#liTUgraph").removeClass('active');

                    $("#TSgTble").hide();
                    $("#TCgTble").hide();
                    $("#TPgTble").show();
                    $("#TUgTble").hide();
                }
                else if(t == 'uSummary') {
                    $("#liTSgraph").removeClass('active');
                    $("#liTCgraph").removeClass('active');
                    $("#liTPgraph").removeClass('active');

                    $("#TSgTble").hide();
                    $("#TCgTble").hide();
                    $("#TPgTble").hide();
                    $("#TUgTble").show();
                }
            }

            function showUserGraph(id,type) {
                var table = '';
                if(type == 'user') {
                    var lMenu = "<div id='"+type+"_graph'><div id='header-menu' style='float:left'> <ul id='menu-level-1' class='menu-ul'>";
                    lMenu += "<li id='liUgraph' class='active' onclick='toggleUserGraph(this.id,\"uSummary\")'> <a href='javascript:;' id='tabUgraph'>User</a> </li>";
                    lMenu += "<li id='liCgraph' class='' onclick='toggleUserGraph(this.id,\"cSummary\")'> <a href='javascript:;' id='tabCgraph'>Clients</a> </li>";
                    lMenu += "<li id='liPgraph' class='' onclick='toggleUserGraph(this.id,\"pSummary\")'> <a href='javascript:;' id='tabPgraph'>Projects</a> </li>";
                    lMenu += "</ul> </div> <div style='clear:both;'></div> <div class='d-dashed'></div>";
                    table = lMenu + "<div id='UgTble'><table cellpadding='0' cellspacing='0' border='0' width='100%' id='tbl_tasks' style='border: 1px solid #f0f0f0'>";
                    table += "<tr><th class='aleft pt3 pb5 pL10'>User Total Hours Breakdown</th></tr>";
                    table += "<tr><td class='acenter pt3 pb5 pL10' style='border-right: 1px solid #f0f0f0'><div id='visualization'></div></td></tr>";
                    table += "</table></div>";
                    table += "<div id='CgTble' style='display:none;'>";
                    table += "<table cellpadding='0' cellspacing='0' border='0' width='100%' id='tbl_tasks' style='border: 1px solid #f0f0f0'>";
                    table += "<tr><th class='aleft pt3 pb5 pL10'>Clients Total Hours Breakdown</th></tr>";
                    table += "<tr><td class='acenter pt3 pb5 pL10' style='border-right: 1px solid #f0f0f0'><div id='visualization1'></div></td></tr>";
                    table += "</table></div>";
                    table += "<div id='PgTble'style='display:none;'>";
                    table += "<table cellpadding='0' cellspacing='0' border='0' width='100%' id='tbl_tasks' style='border: 1px solid #f0f0f0'>";
                    table += "<tr><th class='aleft pt3 pb5 pL10'>Projects Total Hours Breakdown</th></tr>";
                    table += "<tr><td class='acenter pt3 pb5 pL10' style='border-right: 1px solid #f0f0f0'><div id='visualization2'></div></td></tr>";
                    table += "</table></div>";
                    table += "</div>";
                    
                }
                else if(type == 'all') {
                    var lMenu = "<div id='"+type+"_graph'><div id='header-menu' style='float:left'> <ul id='menu-level-1' class='menu-ul'>";
                    lMenu += "<li id='liTSgraph' class='active' onclick='toggleSummaryGraph(this.id,\"Summary\")'><a href='javascript:;' id='tabUgraph'>Total Summary</a> </li>";
                    lMenu += "<li id='liTCgraph' class='' onclick='toggleSummaryGraph(this.id,\"cSummary\")'> <a href='javascript:;' id='tabCgraph'>Clients</a> </li>";
                    lMenu += "<li id='liTPgraph' class='' onclick='toggleSummaryGraph(this.id,\"pSummary\")'> <a href='javascript:;' id='tabPgraph'>Projects</a> </li>";
                    lMenu += "<li id='liTUgraph' class='' onclick='toggleSummaryGraph(this.id,\"uSummary\")'> <a href='javascript:;' id='tabUgraph'>Users</a> </li>";
                    lMenu += "</ul> </div> <div style='clear:both;'></div> <div class='d-dashed'></div>";
                    table = lMenu + "<div id='TSgTble'><table cellpadding='0' cellspacing='0' border='0' width='100%' id='tbl_tasks' style='border: 1px solid #f0f0f0'>";
                    table += "<tr><th class='aleft pt3 pb5 pL10'>Total Hours Breakdown</th></tr>";
                    table += "<tr><td class='acenter pt3 pb5 pL10' style='border-right: 1px solid #f0f0f0'><div id='visualization'></div></td></tr>";
                    table += "</table></div>";
                    table += "<div id='TCgTble' style='display:none;'>";
                    table += "<table cellpadding='0' cellspacing='0' border='0' width='100%' id='tbl_tasks' style='border: 1px solid #f0f0f0'>";
                    table += "<tr><th class='aleft pt3 pb5 pL10'>Clients Total Hours Breakdown</th></tr>";
                    table += "<tr><td class='acenter pt3 pb5 pL10' style='border-right: 1px solid #f0f0f0'><div id='visualization1'></div></td></tr>";
                    table += "</table></div>";
                    table += "<div id='TPgTble' style='display:none;'>";
                    table += "<table cellpadding='0' cellspacing='0' border='0' width='100%' id='tbl_tasks' style='border: 1px solid #f0f0f0'>";
                    table += "<tr><th class='aleft pt3 pb5 pL10'>ProjectsTotal Hours Breakdown</th></tr>";
                    table += "<tr><td class='acenter pt3 pb5 pL10' style='border-right: 1px solid #f0f0f0'><div id='visualization2'></div></td></tr>";
                    table += "</table></div>";
                    table += "<div id='TUgTble' style='display:none;'>";
                    table += "<table cellpadding='0' cellspacing='0' border='0' width='100%' id='tbl_tasks' style='border: 1px solid #f0f0f0'>";
                    table += "<tr><th class='aleft pt3 pb5 pL10'>Users Total Hours Breakdown</th></tr>";
                    table += "<tr><td class='acenter pt3 pb5 pL10' style='border-right: 1px solid #f0f0f0'><div id='visualization3'></div></td></tr>";
                    table += "</table></div>";
                    table += "</div>";

                    
                }
                $("#graph").html(table);
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Hours Type');
                data.addColumn('number', 'Number Of Hours');
                data.addRows(3);
                var i=0;
                var total_mins = 0;
                $.each(cdata[id].total, function(k,v) {
                    data.setValue(i,0,k);
                    if(k == 'Unassigned') {
                        //total_mins = roundNumber((v - total_mins) / 60,2);
                        data.setValue(i,1,roundNumber((v/60),2));
                    }
                    else {
                        data.setValue(i,1,roundNumber((v/60),2));
                        total_mins += v;
                    }
                    i++;
                });       
                new google.visualization.PieChart(document.getElementById('visualization')).draw(data, {width:700, height:550,is3D: true});

                data = '';
                if(cdata[id].total_clients > 0) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Client');
                    data.addColumn('number', 'Billable');
                    //data.addColumn('number', 'Total');
                    data.addRows(cdata[id].total_clients);
                    var i=0;
                    $.each(cdata[id].client, function(k,v) {
                            data.setValue(i,0,k);
                            data.setValue(i,1,roundNumber((v.Billable/60),2));
                            //data.setValue(i,2,v.Total);
                            i++;
                    });       
                    new google.visualization.PieChart(document.getElementById('visualization1')).draw(data, {width:700, height:550,is3D: true});
                }

                data = '';
                if(cdata[id].total_projects > 0) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Client');
                    data.addColumn('number', 'Billable');
                    //data.addColumn('number', 'Total');
                    data.addRows(cdata[id].total_projects);
                    var i=0;
                    $.each(cdata[id].project, function(k,v) {
                            data.setValue(i,0,k);
                            data.setValue(i,1,roundNumber((v.Billable/60),2));
                            //data.setValue(i,2,v.Total);
                            i++;
                    });       
                    new google.visualization.PieChart(document.getElementById('visualization2')).draw(data, {width:700, height:550,is3D: true});
                }

                data = '';
                if(cdata[id].total_users > 0 && type == 'all') {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Client');
                    data.addColumn('number', 'Billable');
                    //data.addColumn('number', 'Total');
                    data.addRows(cdata[id].total_users);
                    var i=0;
                    $.each(cdata[id].users, function(k,v) {
                            data.setValue(i,0,k);
                            data.setValue(i,1,roundNumber((v.Billable/60),2));
                            //data.setValue(i,2,v.Total);
                            i++;
                    });       
                    new google.visualization.PieChart(document.getElementById('visualization3')).draw(data, {width:700, height:550,is3D: true});
                }

                $("#graph").dialog('open');
            }
            function select_all_options(){
                for(var i = 0; i < arguments.length; i++){
                    $('option', arguments[i]).not(':disabled, :selected, :first').attr('selected', 'selected');
                }
            }

            function disable_options(){
                for(var i = 0; i < arguments.length; i++){
                    $('option', arguments[i]).not(':first, :disabled').attr('disabled', 'disabled');
                }
            }

            function unselect_disabled_options(){
                for(var i = 0; i < arguments.length; i++){
                    $('option:disabled', arguments[i]).not(':first').removeAttr('selected');
                }
            }

            function refresh_sel(sel, ref, ref_data, ref_key){
                var $sel = $(sel);
                var $ref = $(ref);

                // For each selection in $ref, find id from ref_data[ref_key] and enable option in $sel
                $('option:selected', $ref).each(function(){
                    var ids = ref_data[this.value][ref_key];
                    try{
                        $.each(ids, function(){
                            $('option[value=' + this + ']:disabled', $sel).removeAttr('disabled');
                        });
                    }
                    catch(e){};
                });
            }
        </script>
    </head>
    <body>
	    {{include file="timecard.report.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'>
                <tr>
                    <td class="pt3 pb5 pL10 pR5">
                        <h1>Reports - {{$from_ts|date_format:'%m/%d/%Y'}} to {{$to_ts|date_format:'%m/%d/%Y'}}</h1>
                        <div id='header-menu' style="float:right">
                        <ul id='menu-level-1' class='menu-ul'>
                            {{if $loginuser->isAdmin() || $loginuser->isHRManager()}}
                            <li id='liStandard' class=''>
                                <a href='standard.report.list.php' id='tabStandard'>Standard Report</a>
                            </li>
                            {{/if}}
                            <li id='liSummary' class='{{$liScss}}'>
                                <a href='javascript:;' id='tabSummary'>Ad-Hoc Report</a>
                            </li>
                            <li id='liUtil' class='{{$liUcss}}'>
                                <a href='javascript:;' id='tabUtil'>Utilization Report</a>
                            </li>
                        </ul>
                        </div>
                        <div style='clear:both;'></div>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            {{if $tab == 'util'}}
            <div id='dUtil'>
             <table cellpadding='0' cellspacing='0' border='0' width='100%' id='tblSummaryRpt'>
                <tr>
                    <td colspan='2' class="pt3 pb5 pL10 pR5">
                        <form action='timecard.report.php?d={{$smarty.get.d}}&m={{$smarty.get.m}}&y={{$smarty.get.y}}&f={{$smarty.get.f}}&t={{$smarty.get.t}}' method='post' id='frm_daterange'>
                        <input type='hidden' name='tab' id='tab' value='{{$tab}}'/>
                            <div style='display: inline;'>
                                <input type='radio' name='d' value='1' {{if $smarty.get.d ne 2}}checked='checked'{{/if}}/>
                                From
                                <input type='text' name='f' class='datefield opt_daterange' value='{{$from_ts|date_format:'%m/%d/%Y'}}'/>
                                to
                                <input type='text' name='t' class='datefield opt_daterange' value='{{$to_ts|date_format:'%m/%d/%Y'}}'/>
                            </div>
                            &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                            <div style='display: inline;'>
                                <input type='radio' name='d' value='2' {{if $smarty.get.d eq 2}}checked='checked'{{/if}}/>
                                <select name='m' class='opt_daterange'>
                                    <option value='0'>-- Month --</option>
                                    {{foreach from=$months item=i key=k}}
                                    <option value='{{$k}}' {{if $smarty.get.m eq $k}}selected='selected'{{/if}}>{{$i}}</option>
                                    {{/foreach}}
                                </select>
                                <select name='y' class='opt_daterange'>
                                    <option value='0'>-- Year --</option>
                                    {{foreach from=$years item=i key=k}}
                                    <option value='{{$k}}' {{if $smarty.get.y eq $k}}selected='selected'{{/if}}>{{$i}}</option>
                                    {{/foreach}}
                                </select>
                            </div>
                            &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;

                            <div style='display: inline;'>
                                        <select name='user_id[]' id='sel_user_id' style='width: 180px;'>
                                            <option value='all'>-- All Members --</option>
                                            {{foreach item=v from=$users}}
                                            <option value='{{$v.id}}' {{if $filters.user_id[$v.id]}}selected='selected'{{/if}}>{{$v.name}}</option>
                                            {{/foreach}}
                                        </select>

                            
                                <div style='display:none;'>
                                        <input type='checkbox' name='user_id_all' id='chk_user_id' value='all' class='vamiddle'/>
                                        <label for='chk_user_id'>All Members</label>

                                        <input type='checkbox' name='client_id_all' id='chk_client_id' value='all' class='vamiddle' checked='checked'/>
                                        <label for='chk_client_id'>All Clients</label>
                                        <input type='checkbox' name='project_id_all' id='chk_project_id' value='all' class='vamiddle' checked='checked'/>
                                        <label for='chk_project_id'>All Projects</label>
                                        <input type='checkbox' name='subproject_id_all' id='chk_subproject_id' value='all' class='vamiddle' checked='checked'/>
                                        <label for='chk_subproject_id'>All Subprojects</label>
                                        <select name='client_id[]' id='sel_client_id' multiple='multiple' size='15' style='width: 180px;'>
                                            <option value='0' disabled='disabled'>-- Select Clients --</option>
                                            {{foreach item=v from=$clients}}
                                            <option value='{{$v.id}}' {{if $filters.client_id[$v.id]}} selected='selected'{{/if}}>{{$v.name}}</option>
                                            {{/foreach}}
                                        </select>
                                        <select name='project_id[]' id='sel_project_id' multiple='multiple' size='15' style='width: 180px;'>
                                            <option value='0' disabled='disabled'>-- Select Projects --</option>
                                            {{foreach item=v from=$projects}}
                                            <option value='{{$v.id}}' {{if $filters.project_id[$v.id]}} selected='selected'{{/if}}>{{$v.name}}</option>
                                            {{/foreach}}
                                        </select>
                                        <select name='subproject_id[]' id='sel_subproject_id' multiple='multiple' size='15' style='width: 180px;'>
                                            <option value='0' disabled='disabled'>-- Select Subprojects --</option>
                                            {{foreach item=v from=$subprojects}}
                                            <option value='{{$v.id}}' {{if $filters.subproject_id[$v.id]}} selected='selected'{{/if}}>{{$v.name}}</option>
                                            {{/foreach}}
                                        </select>
                                        <fieldset>
                                            <legend>Group By</legend>
                                            <input type='checkbox' name='g[date]' value='date' {{if $filters.g.date}}checked='checked'{{/if}}/>Date
                                            <input type='checkbox' name='g[user]' value='user' {{if $filters.g.user}}checked='checked'{{/if}}/>Member
                                            <input type='checkbox' name='g[client]' value='client' {{if $filters.g.client}}checked='checked'{{/if}}/>Client
                                            <input type='checkbox' name='g[project]' value='project' {{if $filters.g.project}}checked='checked'{{/if}}/>Project
                                            <input type='checkbox' name='g[subproject]' value='subproject' {{if $filters.g.subproject}}checked='checked'{{/if}}/>Subproject
                                        </fieldset>
                                        <fieldset>
                                            <legend>Options</legend>
                                            <input type='checkbox' name='o[includepto]' value='includepto' {{if $filters.o.includepto}}checked='checked'{{/if}}/>Include PTO
                                            <input type='checkbox' name='o[includepto]' value='includepto' {{if $filters.o.includepto}}checked='checked'{{/if}}/>Include PTO
                                            <input type='checkbox' name='o[hidedetails]' value='hidedetails' {{if $filters.o.hidedetails}}checked='checked'{{/if}}/>Hide Details
                                            <input type='checkbox' name='o[showtask]' value='showtask' {{if $filters.o.showtask}}checked='checked'{{/if}}/>Show Task
                                        </fieldset>
                                    </div>
                                    <input type='submit' value='Show Report'/>
                            </div>
                        </form>   
                    </td>
                </tr>
            </table>
            </div>
            {{else}}
            <div id='dSummary'>
            <table cellpadding='0' cellspacing='0' border='0' width='100%' id='tblSummaryRpt'>
                <!--
                <tr>
                    <td colspan='2' class="pt3 pb5 pL10">
                        <h1>Reports - {{$from_ts|date_format:'%m/%d/%Y'}} to {{$to_ts|date_format:'%m/%d/%Y'}}</h1>
                    </td>
                </tr>
                -->
                <tr>
                    <td colspan='2' class="pt3 pb5 pL10 pR5">
                        <form action='timecard.report.php' method='get' id='frm_daterange'>
                        <input type='hidden' name='tab' id='tab' value='{{$tab}}'/>
                            <div style='display: inline;'>
                                <input type='radio' name='d' value='1' {{if $smarty.get.d ne 2}}checked='checked'{{/if}}/>
                                From
                                <input type='text' name='f' class='datefield opt_daterange' value='{{$from_ts|date_format:'%m/%d/%Y'}}'/>
                                to
                                <input type='text' name='t' class='datefield opt_daterange' value='{{$to_ts|date_format:'%m/%d/%Y'}}'/>
                            </div>
                            &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                            <div style='display: inline;'>
                                <input type='radio' name='d' value='2' {{if $smarty.get.d eq 2}}checked='checked'{{/if}}/>
                                <select name='m' class='opt_daterange'>
                                    <option value='0'>-- Month --</option>
                                    {{foreach from=$months item=i key=k}}
                                    <option value='{{$k}}' {{if $smarty.get.m eq $k}}selected='selected'{{/if}}>{{$i}}</option>
                                    {{/foreach}}
                                </select>
                                <select name='y' class='opt_daterange'>
                                    <option value='0'>-- Year --</option>
                                    {{foreach from=$years item=i key=k}}
                                    <option value='{{$k}}' {{if $smarty.get.y eq $k}}selected='selected'{{/if}}>{{$i}}</option>
                                    {{/foreach}}
                                </select>
                            </div>
                            &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                            <select name='fid' id='sel_fid'>
                                <option value='0'>-- Ad-Hoc Report --</option>
                                {{foreach from=$saved_filters item=i}}
                                <option value='{{$i.id}}' {{if $filters.filter_id eq $i.id}}selected='selected'{{/if}}>{{$i.name}}</option>
                                {{/foreach}}
                            </select>
                            <input type='submit' value='Show Report'/>
                        </form>
                        {{if $filters.filter_id gt 0}}
                        <form method='post' action='report.filter.delete.action.php'>
                            <input type='hidden' name='d' value='{{$smarty.get.d}}'/>
                            <input type='hidden' name='m' value='{{$smarty.get.m}}'/>
                            <input type='hidden' name='y' value='{{$smarty.get.y}}'/>
                            <input type='hidden' name='f' value='{{$smarty.get.f}}'/>
                            <input type='hidden' name='t' value='{{$smarty.get.t}}'/>
                            <input type='hidden' name='fid' value='{{$filters.filter_id}}'/>
                            <input type='submit' name='delete_report_template' value='Delete Report Template'/>
                        </form>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="pt3 pb5 pL10">
                        <a href='javascript:;' id='a_filter'><img src='img/icon_expand.gif' style='display: none;'/><img src='img/icon_collapse.gif'/> Select Filters</a>
                    </td>
                    <td width='100' class='aright pt3 pb5 pL10 pR5'><a href='timecard.report.php?excel=1&{{$smarty.server.QUERY_STRING}}'>Export to excel</a></td>
                </tr>
                <tr id='tr_filter'>
                    <td colspan='2' class="pt3 pb5 pL10">
                        <form action='timecard.report.php?d={{$smarty.get.d}}&m={{$smarty.get.m}}&y={{$smarty.get.y}}&f={{$smarty.get.f}}&t={{$smarty.get.t}}' method='post'>
                            <table cellpadding='0' cellspacing='0' border='0' style='border: none;' align='left' width='100%'>
                                <tr>
                                    <td width='15%' class="pt3 pb5 pL10">
                                        <input type='checkbox' name='user_id_all' id='chk_user_id' value='all'
                                            class='vamiddle' {{if $filters.user_id_all}}checked='checked'{{/if}}/>
                                        <label for='chk_user_id'>All Members</label>
                                    </td>
                                    <td width='15%' class="pt3 pb5 pL10">
                                        <input type='checkbox' name='client_id_all' id='chk_client_id' value='all'
                                            class='vamiddle' {{if $filters.client_id_all}}checked='checked'{{/if}}/>
                                        <label for='chk_client_id'>All Clients</label>
                                    </td>
                                    <td width='15%' class="pt3 pb5 pL10">
                                        <input type='checkbox' name='project_id_all' id='chk_project_id' value='all'
                                            class='vamiddle' {{if $filters.project_id_all}}checked='checked'{{/if}}/>
                                        <label for='chk_project_id'>All Projects</label>
                                    </td>
                                    <td width='15%' class="pt3 pb5 pL10">
                                        <input type='checkbox' name='subproject_id_all' id='chk_subproject_id' value='all'
                                            class='vamiddle' {{if $filters.subproject_id_all}}checked='checked'{{/if}}/>
                                        <label for='chk_subproject_id'>All Subprojects</label>
                                    </td>
                                    <td width='40%' class="pt3 pb5 pL10">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="pt3 pb5 pL10">
                                        <select name='user_id[]' id='sel_user_id' multiple='multiple' size='15' style='width: 180px;'>
                                            <option value='0' disabled='disabled'>-- Select Members --</option>
                                            {{foreach item=v from=$users}}
                                            <option value='{{$v.id}}' {{if $filters.user_id[$v.id]}}selected='selected'{{/if}}>{{$v.name}}</option>
                                            {{/foreach}}
                                        </select>
                                    </td>
                                    <td class="pt3 pb5 pL10">
                                        <select name='client_id[]' id='sel_client_id' multiple='multiple' size='15' style='width: 180px;'>
                                            <option value='0' disabled='disabled'>-- Select Clients --</option>
                                            {{foreach item=v from=$clients}}
                                            <option value='{{$v.id}}' {{if $filters.client_id[$v.id]}} selected='selected'{{/if}}>{{$v.name}}</option>
                                            {{/foreach}}
                                        </select>
                                    </td>
                                    <td class="pt3 pb5 pL10">
                                        <select name='project_id[]' id='sel_project_id' multiple='multiple' size='15' style='width: 180px;'>
                                            <option value='0' disabled='disabled'>-- Select Projects --</option>
                                            {{foreach item=v from=$projects}}
                                            <option value='{{$v.id}}' {{if $filters.project_id[$v.id]}} selected='selected'{{/if}}>{{$v.name}}</option>
                                            {{/foreach}}
                                        </select>
                                    </td>
                                    <td class="pt3 pb5 pL10">
                                        <select name='subproject_id[]' id='sel_subproject_id' multiple='multiple' size='15' style='width: 180px;'>
                                            <option value='0' disabled='disabled'>-- Select Subprojects --</option>
                                            {{foreach item=v from=$subprojects}}
                                            <option value='{{$v.id}}' {{if $filters.subproject_id[$v.id]}} selected='selected'{{/if}}>{{$v.name}}</option>
                                            {{/foreach}}
                                        </select>
                                    </td>
                                    <td class="pt3 pb5 pL10">
                                        <fieldset>
                                            <legend>Group By</legend>
                                            <input type='checkbox' name='g[date]' value='date' {{if $filters.g.date}}checked='checked'{{/if}}/>Date
                                            <input type='checkbox' name='g[user]' value='user' {{if $filters.g.user}}checked='checked'{{/if}}/>Member
                                            <input type='checkbox' name='g[client]' value='client' {{if $filters.g.client}}checked='checked'{{/if}}/>Client
                                            <input type='checkbox' name='g[project]' value='project' {{if $filters.g.project}}checked='checked'{{/if}}/>Project
                                            <input type='checkbox' name='g[subproject]' value='subproject' {{if $filters.g.subproject}}checked='checked'{{/if}}/>Subproject
                                        </fieldset>
                                        <fieldset>
                                            <legend>Options</legend>
                                            <input type='checkbox' name='o[includepto]' value='includepto' {{if $filters.o.includepto}}checked='checked'{{/if}}/>Include PTO
                                            <input type='checkbox' name='o[hidedetails]' value='hidedetails' {{if $filters.o.hidedetails}}checked='checked'{{/if}}/>Hide Details
                                            <input type='checkbox' name='o[showtask]' value='showtask' {{if $filters.o.showtask}}checked='checked'{{/if}}/>Show Task
                                            <input type='checkbox' name='o[billableonly]' value='billableonly' {{if $filters.o.billableonly}}checked='checked'{{/if}}/>Billable Only
                                            <!--<input type='checkbox' name='o[showtaskdetails]' value='showtaskdetails' {{if $filters.o.showtaskdetails}}checked='checked'{{/if}}/>Show Task Details-->
                                        </fieldset>
                                    </td>
                                </tr>
                                <tr><td colspan='5' class="pt3 pb5 pL10">&nbsp;</td></tr>
                                <tr>
                                    <td colspan='5' class='acenter pt3 pb5 pL10'>
                                        <input type='text' name='filter_name' value='{{$filters.filter_name}}' size='50'/>
                                        <input type='submit' name='save_and_apply' value='Save and Apply Filter'/>
                                        <input type='submit' value='Apply Filter'/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
                <!--
                <tr>
                    <td colspan='2' class="pt3 pb5 pL10 pR5"><div class='d-dashed'></div></td>
                </tr>
                -->
            </table>
            </div>
            {{/if}}
            <br/>
            {{if $report_detail}}
            {{include file='table.report.html'}}
            {{else}}
            <div class='error message'>No data found for the selected duration and filter settings.</div>
            {{/if}}
        </div>
        <div id='graph'></div>
         {{include file="footer.html"}}
    </body>
</html>

