{{include file="doctype.html"}}
<html>
<head>
<title>Timesshet:: Timecard Review</title>
<style>
body {
    color: #000000;
    font-family: 'Segoe UI',Tahoma,Verdana,sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #FF8B00;
    font-family: "Trebuchet MS","Segoe UI",Tahoma,Verdana,sans-serif;
    font-size: 1.6em;
    margin: 0;
}
h1 {
    font-style: italic;
}
h2 {
    font-size: 1.1em;
}
#nav2 {
    border-bottom: 1px dotted #CCCCCC;
    color: #AAAAAA;
    padding: 10px 5px;
}
table {
    border: 1px solid #EEEEEE;
    margin: auto;
    padding: 1px;
}
th, td.title {
    font-weight: normal;
    font-size: 9pt;
    background-color: #097cb0;
    color: #ffffff;
    cursor: default;
}

td {
    background-color: #F8F8F8;
    font-size: 9pt;
    vertical-align: top;
}

span.sep {
    color: #BBBBBB;
}

#content {
    margin: 10px auto;
    width: 95%;
}
#header {
    height: 60px;
    position: relative;
}
a:link, a:visited {
    color: #097CB0;
    padding: 2px;
    text-decoration: none;
}
a:hover {
    background-color: #097CB0;
    color: #FFFFFF;
    padding: 2px;
    text-decoration: none;
}
</style>
</head>
<body>
<div id="header">
    <div style="position: absolute; bottom: 5px; left: 5px;">
        <img height="50" width="185" alt="GlobalSoft Logo" src="{{$timesheet_url}}/img/logo.jpg">
    </div>
</div>
<div id="content">
  <table cellpadding="5" cellspacing="2" border="0" width="100%">
        <tr>
            <td>
                    <p>Hello {{if $blnDeadLine eq '1'}}{{$name}}{{else}}{{if $isNofifyBM eq '1' || $last_week_report eq '1'}}{{$name}}{{else}}{{$full_name}}{{/if}}{{/if}}</p>
                    {{if $blnDeadLine eq '1'}}
                     <p>The <b>timesheet deadline</b> has been crossed for the week #{{$week_number}} and the following members who are still did not <b>submitted</b> the time card for the week #{{$week_number}}.</p>
                    <h2>Timesheet Deadline: {{$timesheet_dead_line}}</h2><br>
                    {{if $users_to_remind}}
                    <div>
                    <table cellpadding="5" cellspacing="2" border="0" width="50%" align='left'>
                        <tr>
                           <th align='center' width='20px'>#</th>
                            <th align='left'>Member</th> 
                        </tr>
                        {{foreach name=i item=u key=k from=$users_to_remind}}
                            <tr>
                                <td align='center'>{{$smarty.foreach.i.iteration}}</td>
                                <td>{{$u.full_name}}</td>
                            </tr>
                        {{/foreach}}
                    </table>
                    </div>
                <div style='clear:both;'/>
                    {{/if}}
                    {{else}}
                    {{if $last_week_report eq '1'}}
                    <p>Following are the list of users time card report for the last week.</p>
                    {{if $last_week_timecard}}
                    <div>
                    <table cellpadding="5" cellspacing="2" border="0" width="50%" align='left'>
                        <tr>
                            <th align='left'>Week Number</th>
                            <td colspan='4' align='left'>{{$week_number}}</td>
                        </tr>
                        <tr>
                            <th align='left'>From Date</th>
                            <td colspan='4' align='left'>{{$from_date|format_date}}</td>
                        </tr>
                        <tr>
                            <th align='left'>To Date</th>
                            <td colspan='4' align='left'>{{$to_date|format_date}}</td>
                        </tr>
                        <tr><td colspan='5'>&nbsp;</td></tr>
                        <tr>
                           <th align='center' width='20px'>#</th>
                            <th align='left'>Member</th> 
                            <th align='right'>Billable Hours</th> 
                            <th align='right'>Non-Billable Hours</th> 
                            <th align='right'>PTO Hours</th> 
                        </tr>
                        {{foreach name=i item=u key=k from=$last_week_timecard}}
                            <tr>
                                <td align='center'>{{$smarty.foreach.i.iteration}}</td>
                                <td>{{$u.full_name}}</td>
                                <td align='right'>{{$u.billable_minutes}}</td>
                                <td align='right'>{{$u.nonbillable_minutes}}</td>
                                <td align='right'>{{$u.pto_minutes}}</td>
                            </tr>
                        {{/foreach}}
                    </table>
                </div>
                <div style='clear:both;'/>
                    {{/if}}
                    {{else}}
                    {{if $isNofifyBM eq '1'}}
                    <p>Following are the list of users who did not <b>submitted</b> the time card for the week #{{$week_number}} and the timesheet dead line was <b>{{$timesheet_dead_line}}</b>.</p>
                    {{if $users_to_remind}}
                    <div>
                    <table cellpadding="5" cellspacing="2" border="0" width="50%" align='left'>
                        <tr>
                           <th align='center' width='20px'>#</th>
                            <th align='left'>Member</th> 
                        </tr>
                        {{foreach name=i item=u key=k from=$users_to_remind}}
                            <tr>
                                <td align='center'>{{$smarty.foreach.i.iteration}}</td>
                                <td>{{$u.full_name}}</td>
                            </tr>
                        {{/foreach}}
                    </table>
                </div>
                <div style='clear:both;'/>
                    {{/if}}
                    {{else}}
                    <p>{{$reminder_text}}</p>
                    <p>Please <b>"Submit the Time Card"</b> for the week number #{{$week_number}} before the <b>{{$timesheet_dead_line}}</b>.</p>
                
                    <p>Please click below time card link to submit the timecard for the week number #{{$week_number}}.</p>
                
                    <p>Time Card URL: <a href="{{$redirect_url}}">{{$redirect_url}}</a></p>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                <div style='clear:both;'/>
                <div>
                    <p>Thank you.<br />
                    GlobalSoft Management</p>
                </div>
            </td>
        </tr>
  </table>
</div>
</body>
</html>

