{{include file="doctype.html"}}
<html>
<head>
<title>Timesshet:: Trivia Post</title>
<style>
body {
    color: #000000;
    font-family: 'Segoe UI',Tahoma,Verdana,sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #FF8B00;
    font-family: "Trebuchet MS","Segoe UI",Tahoma,Verdana,sans-serif;
    font-size: 1.6em;
    margin: 0;
}
h1 {
    font-style: italic;
}
h2 {
    font-size: 1.3em;
}
#nav2 {
    border-bottom: 1px dotted #CCCCCC;
    color: #AAAAAA;
    padding: 10px 5px;
}
table {
    border: 1px solid #EEEEEE;
    margin: auto;
    padding: 1px;
}

td {
    background-color: #F8F8F8;
    font-size: 9pt;
    vertical-align: top;
}

span.sep {
    color: #BBBBBB;
}

#content {
    margin: 10px auto;
    width: 95%;
}
#header {
    height: 60px;
    position: relative;
}
a:link, a:visited {
    color: #0066CB;
    padding: 2px;
    text-decoration: none;
}
a:hover {
    background-color: #0066CB;
    color: #FFFFFF;
    padding: 2px;
    text-decoration: none;
}
.comment-meta {
    color: #999999;
    font-size: 0.75em;
    margin: 0 0 3px;
    padding: 4px 0;
    position: relative;
    top: -2px;
}
.comment-meta a {
    color: #999999;
}
.comment-meta a:hover {
    color: #000000;
    background-color:#ffffff;
}
.d-block-table {
    border: 1px solid #DDDDDD;
    background-color: #ffffff;
    padding: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

</style>
</head>
<body>
<div id="header">
    <div style="position: absolute; bottom: 5px; left: 5px;">
        <img height="50" width="185" alt="GlobalSoft Logo" src="{{$timesheet_url}}/img/logo.jpg">
    </div>
</div>
<div id="content">
  <table cellpadding="5" cellspacing="2" border="0" width="100%">
        <tr>
            <td>
                <div>
                    <p>Hello {{$name}}</p>

                    {{if $trivia->getRawStatus() == "QUEUED"}}
                    <p>A new trivia <b>"<a href='{{$trivia_link}}'>{{$trivia->getTitle()}}</a>"</b> posted by {{$full_name}} and awaiting for <b>approval</b>.</p> 
                    {{elseif $trivia->getRawStatus() == "OPEN"}}
                    {{if $isOwner}}
                    <p>A trivia <b>"<a href='{{$trivia_link}}'>{{$trivia->getTitle()}}</a>"</b> has been <b>approved</b> by <b>{{$trivia->getApprovedBy()}}</b>.</p> 
                    {{else}}
                    <p>A new trivia <b>"<a href='{{$trivia_link}}'>{{$trivia->getTitle()}}</a>"</b> has been posted by <b>{{$full_owner_name}}</b>.</p> 
                    {{/if}}

                    {{else}}
                        {{if $trivia->getRawStatus() == "REJECTED"}}
                            <p>A trivia <b>"<a href='{{$trivia_link}}'>{{$trivia->getTitle()}}</a>"</b> has been <b>rejected</b> by {{$trivia->getRejectedBy()}}.</p> 
                        {{/if}}
                    {{/if}}
                    <p>Here below are the brief details of it:</p>
                
                    <p></p>
                    <div class="d-block-table"> 
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td style="padding:5px">
                                <div class="comments">   
                                    <div class='list-title'><h1>{{$trivia->getTitle()}}</h1></div>
                                    <div class='list-title-details'>
                                        <p>{{$trivia->getShortDescription(500)}} ...<a href='{{$trivia_link}}'>more</a></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                           {{if $trivia->getRawStatus() == "QUEUED" || $trivia->getRawStatus() == "OPEN"}}
                            <td style="border-top: 1px solid #ffffff;padding:5px">
                                <div style="float: left; color:#A7A7A7; font-weight: bold;">
                                    <div class="comment-meta commentmetadata">
                                        <a href="{{$trivia_link}}#comtitle">{{$trivia->getTotalResponses()}} Responses</a>
                                    </div>
                                </div>
                    
                                <div style="color: #A7A7A7; float: right; width: 100px; border-left: 1px solid #ffffff;" class="pl5">
                                     <div class="comment-meta commentmetadata">
                                        <small><i>By {{$trivia->getCreatedBy()}}<br> {{$trivia->getUpdateDate("m/d/Y h:i a")}}</i></small>
                                    </div> 
                                </div>
                            </td>
                            {{else if $trivia->getRawStatus() == "REJECTED"}}
                            <td style="border-top: 1px solid #ffffff;padding:5px; background-color:#C15252;">
                                <div style="float: left; color:#ffffff;">
                                    <div style="padding-bottom:5px;"><b>Rejected Reason:</b></div>
                                    <div>{{$trivia->getRejectedReason()}}</div>
                                </div>
                            </td>
                            {{/if}}
                        </tr>
                    </table>
                    </div>
                
                    <p></p>
                    <p>Thank you.<br />
                    GlobalSoft Management</p>
                </div>
            </td>
        </tr>
  </table>
</div>
</body>
</html>

