{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Edit Trivia</title>
        {{include file="css.and.js.html"}}
		<link rel="stylesheet" type="text/css" media="all" href="js/dynDateTime/css/calendar-blue2.css"  />
        <script type="text/javascript" src="js/dynDateTime/jquery.dynDateTime.js"></script>
        <script type="text/javascript" src="js/dynDateTime/lang/calendar-en.js"></script>
        <script type="text/javascript" src="js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
        <script type="text/javascript" src="js/tinymce.js"></script>
        <script type="text/javascript" language="javascript">
            jQuery(function($){
                configTinyMCE("#txtDescription");

                $("#btnAdd").click(function(){
                    var blnFound=false;
                    if($("#txtTitle").val() == "") {
                        $("#txtTitle").focus();
                        jAlert("Please enter title!","Trivia");
                        return false;
                    }
                    if($("#txtDescription").val() == "") {
                        jAlert("Please enter description!","Trivia");
                        $("#txtDescription").focus();
                        return false;
                    }
                    //$("#txtStatus").val("");
                    $("#action").val("");
                    $("#trivia_edit").submit();
                });
                $("#btnDraft").click(function(){
                    $("#txtStatus").val("DRAFT");
                    $("#action").val("");
                    $("#trivia_edit").submit();
                });
            });
            function removeFile(id,fname) {
                if(id > 0) {
                    jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete the attachment?<br><br><i>"'+fname+'"</i></b>','Trivia', function(r) {
                        if(r) {
                            $("#txtFileId").val(id);
                            $("#action").val("DELETE_FILE");
                            $("#trivia_edit").submit();
                        }
                    });
  
                }
            }
            function addRow(){
                var index = $("#index").val();
                var tds = $('#tr-0').html().replace("file-0","file-"+index);
                tds = tds.replace("img-0","img-"+index);
                tds = tds.replace("removeRow()","removeRow("+index+")");
                $("#tr-addRow").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
                index = parseInt(index) + 1; 
                $("#index").val(index);
            }
            function removeRow(id) {
                $("#tr-"+id).remove();
            }
        </script>
    </head>
    <body>
        {{include file="trivia.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
                    <h1>Edit Trivia</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="trivia.save.action.php" method="post" id="trivia_edit" name="trivia_edit" enctype="multipart/form-data">
                <input type='hidden' name='index' id="index" value="9000"/>
                <input type="hidden" name="id" id="txtTriviaId" value="{{$trivia->getId()}}"/>
                <input type="hidden" name="file_id" id="txtFileId" value="0"/>
                <input type="hidden" name="txtStatus" id="txtStatus" value="{{$trivia->getStatus()}}"/>
                <input type="hidden" name="action" id="action" value=""/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks">
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Title *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="textbox" name="txtTitle" id="txtTitle" class="expand2fit" value="{{$trivia->getTitle()}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Description *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtDescription" id="txtDescription" class="expand2fit" rows="30" cols="40">{{$trivia->getDescription()}}</textarea> 
                        </td>
                    </tr>
                    

                    <tr>
                        <td colspan="2" style="text-align: center;" class="acenter pt3 pb5 pL10 bdrbtm4">
                            <input type="button" name="btnDraft" id="btnDraft" value="Save as draft"/>
                            <input type="button" name="btnAdd" id="btnAdd" value="Publish"/>
                            <a href="trivia.list.php" class="linkbutton" vText='Cancel'>Cancel and go back to trivia list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body
</html>
    
