{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Add Trivia</title>
        {{include file="css.and.js.html"}}
		<link rel="stylesheet" type="text/css" media="all" href="js/dynDateTime/css/calendar-blue2.css"  />
        <script type="text/javascript" src="js/dynDateTime/jquery.dynDateTime.js"></script>
        <script type="text/javascript" src="js/dynDateTime/lang/calendar-en.js"></script>
        <script type="text/javascript" src="js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
        <script type="text/javascript" src="js/tinymce.js"></script>
        <script type="text/javascript" language="javascript">
            var data = {{$data}};
            var userId = {{$user_id}};
            jQuery(function($){
                configTinyMCE("#txtDescription");

                $("#txtDateTime").dynDateTime({
                    showsTime: true, ifFormat: "%m/%d/%Y %H:%M", button: ".next()"
                });
                $("#btnAdd").click(function(){
                    var blnFound=false;
                    if($("#txtTitle").val() == "") {
                        $("#txtTitle").focus();
                        jAlert("Please enter title!","Trivia");
                        return false;
                    }
                    if($("#txtDescription").val() == "") {
                        jAlert("Please enter description!","Trivia");
                        $("#txtDescription").focus();
                        return false;
                    }
                    $("#txtStatus").val("QUEUED");
                    $("#trivia_edit").submit();
                });
                $("#btnDraft").click(function(){
                    $("#txtStatus").val("DRAFT");
                    $("#trivia_edit").submit();
                });
            });

            function addRow(){
                var index = $("#index").val();
                var tds = $('#tr-0').html().replace("file-0","file-"+index);
                tds = tds.replace("img-0","img-"+index);
                tds = tds.replace("removeRow()","removeRow("+index+")");
                $("#tr-addRow").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
                index = parseInt(index) + 1; 
                $("#index").val(index);
            }
            function removeRow(id) {
                $("#tr-"+id).remove();
            }

        </script>
    </head>
    <body>
        {{include file="trivia.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR5">
                    <h1>Add Trivia</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="trivia.save.action.php" method="post" id="trivia_edit" name="trivia_edit" enctype="multipart/form-data">
                <input type='hidden' name='index' id="index" value="9000"/>
                <input type="hidden" name="id" id="txtTriviaId" value="{{$trivia_id}}"/>
                <input type="hidden" name="txtStatus" id="txtStatus" value""/>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tasks">
                    <!--
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Date *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="text" name="txtDateTime" id="txtDateTime" value="{{$post.txtDateTime}}" class="datepicker" readonly/>
                        </td>
                    </tr>
                    -->
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Title *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="textbox" name="txtTitle" id="txtTitle" class="ui-widget-content ui-corner-all expand2fit" value="{{$post.txtTitle}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" valign='top'>Description *</th>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <textarea name="txtDescription" id="txtDescription" class="expand2fit" rows="15" cols="40">{{$post.txtDescription}}</textarea> 
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="2" style="text-align: center;" class="acenter pt3 pb5 pL10 bdrbtm4">
                            <input type="button" name="btnDraft" id="btnDraft" value="Save as draft"/>
                            <input type="button" name="btnAdd" id="btnAdd" value="Publish"/>
                            <a href="trivia.list.php" class="linkbutton" vText='Cancel'>Cancel and go back to trivia list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body
</html>
    
