{{include file="doctype.html"}}
<html>
<head>
<title>Influence:: View Trivia</title>
{{include file="css.and.js.html"}}
<script type="text/javascript" src="js/rating/js/jquery.raty.js"></script>
<link rel="stylesheet" type="text/css" href="js/rating/jquery.rating.css" />
    <style>
        div.comments-even{
            background:none repeat scroll 0 0 #FFFFFF;
            border-bottom:1px solid #DDDDDD;
        }
        div.comments-odd{
            background:none repeat scroll 0 0 #F8F8F8;
            border-bottom:1px solid #DDDDDD;
        }
        div.comments-correct{
            background:none repeat scroll 0 0 #F0FFEE;
            border:1px solid #06690C;
        }
        div.comments-incorrect{
            background:none repeat scroll 0 0 #FFEEEE;
            border:1px solid #BB1105;
        }
        div.answer {
            border-top: solid 1px #f5f5f5;
            padding-top:5px;
        }
    </style>
    <script>
        var parent_id = 0;
        var reject = '';
        var triviaId = '{{$trivia->getId()}}';
        var trivia_rate = '{{$trivia->getRating()}}';
        var triviaReadOnly=true;
        if(trivia_rate < 5) {
            triviaReadOnly=false;
        }
        {{if !$loginuser->isAdmin() || $trivia->getStatus() != "Open" }} 
            // if the logged in user is not ADMIN then, he/she can not rate the article
            // If the article is not OPEN, then no admin can rate the article
            triviaReadOnly=true;  
        {{/if}}
        $(function(){
    
                $('#trivia-star').raty({
                    path:'js/rating/img/',
                    start: trivia_rate,
                    readOnly: triviaReadOnly,
                    click: function(score, evt) {
                        //alert('ID: ' + $(this).attr('id') + '\nscore: ' + score + '\nevent: ' + evt);
                        RateTrivia(score); 
                        $('#trivia-star').raty('readOnly', true);
                    }
                });
                
                $("div.dialog").dialog({
                    autoOpen: false,
                    modal: true,
                    resizable: false
                });

               reject = $('#reject-reason').dialog("option", {
                    buttons: [
                        {
                            text: 'Reject',
                            click:  function(){
                                        var $this = $(this);

                                        if($("#txtRejectReason").val() == "") {
                                            jAlert("Please enter the reason to reject!","Trivia");
                                            $("#txtRejectReason").focus();
                                            return false;
                                        }
                                        $("#txtStatus").val("REJECTED");
                                        $("#txtAction").val("REJECT");
                                        $("#txtReason").val($("#txtRejectReason").val());
                                        $("#trivia_edit").submit();
                                        $(this).dialog("close");
                                    }
                        },
                        {
                            text: "Cancel",
                            click: function() {
                                        $(this).dialog("close");
                                    }
                        }
                    ],
                    width: '400px'
                });
        });
       
        function RateTrivia(v) {            
            $.ajax({                        
                url: "trivia.save.action.php",
                type:   'POST',
                data:   'action=TRIVIA_POINTS&id='+triviaId+'&rating='+v,
                cache:  false,
                error:  function() { 
                            jAlert("Failed rate the trivia","Trivia");                                
                        },                        
                success: function(v) {                                     
                            alert(v);                                 
                        }                                         
                });         
        }    

        function RateResponse(uID,rID,rating,rpID) {
            if(rID > 0 && uID > 0) {
                if(rating == 'YES') {
                    var msg = "You are about to mark answer as correct.\n\nPlease confirm.";
                }
                else {
                    var msg = "You are about to mark answer as incorrect.\n\nPlease confirm.";
                }
                if(confirm(msg)) {
                     $.ajax({                        
                        url: "trivia.response.save.action.php",
                        type:   'POST',
                        data:   'action=TRIVIA_POINTS&id='+triviaId+'&rating='+rating+'&rID='+rID+'&uID='+uID+'&rpID='+rpID,
                        cache:  false,
                        error:  function() { 
                                    jAlert("Failed rate the trivia","Trivia");                                
                                },                        
                        success: function(v) {                                     
                                    window.location.reload();
                                }                                         
                    });
                }
            }
        }

        function addResponse(){
            if($("#txtResponse").val() == "") {
                $("#txtResponse").focus();
                jAlert("Please enter a triva respose!","Trivia");
                return false;
            }
            $("#frmResponses").submit();
        }
        function approve_trivia() {
            jConfirm('<br><h1>You are about to approve the trivia question</h1><br><b>Please confirm it!</b>',"Trivia", function(r) {
                    if(r) {
                        $("#txtStatus").val("OPEN");
                        $("#txtAction").val("APPROVE");
                        $("#trivia_edit").submit();
                    }
                });

        }
        function reject_trivia() {
            jConfirm('<br><h1>You are about to reject the trivia question</h1><br><b>Please confirm it!</b>',"Trivia", function(r) {
                    if(r) {
                        reject.dialog('open');
                    }
                });
        }

        var frmCom = '';
        var pFrmComId = 0;
        function addReply(id) {
            if(pFrmComId > 0) {
                $("#replyCom-"+pFrmComId).remove();
                $("#dComment").html("");
            }
            else {
                frmCom = $("#dComment").html();
                $("#dComment").html("");
            }
            var tmpC = "<div id='replyCom-"+id+"' class='' style='height:200px;'>"+frmCom+"</div>";
            $("#btnReply-"+id).after(tmpC);
            $("#replyCom-"+id).find("#btnAddResponse").after("&nbsp;&nbsp;<a href='javascript:;' onclick='cancelReply("+id+")'><b>Click here to cancel reply.</b></a>");
            $("#btnAddResponse").val("Reply comment");
            pFrmComId = id;
            $("#txtParentId").val(id);
            $("#dComText").text("Leave a reply");
        }
        function cancelReply(id) {
            $("#replyCom-"+id).remove();
            $("#dComment").html(frmCom);
            $("#btnAddResponse").val("Add comment");
            $("#txtParentId").val('0');
            $("#dComText").text("Leave a comment");
        }
        function replyShow(id) {
            //$("#btnReply-"+id).show();
        }
        function replyHide(id) {
            //$("#btnReply-"+id).hide();
        }
    </script>
</head>
<body>
{{include file="trivia.common.html"}}
<div id="nav2">
    <a href="trivia.list.php" class="linkbutton" vText='Cancel'>Back to trivia list</a>
    {{if $trivia->isOwner()}}
    <a href="trivia.edit.php?id={{$trivia->getId()}}" class="linkbutton">Edit</a>
    {{/if}}
    {{if $loginuser->isAdmin()}}
        {{if $trivia->getStatus() eq "Queued" }}
        <input type="button" name="btnApprove" id="btnApprove" value="Approve" onclick="approve_trivia();"/>
        <input type="button" name="btnReject" id="btnReject" value="Reject" onclick="reject_trivia();"/>
        {{/if}}
    {{/if}}
</div>
<div id="content" class='d-block-table'> 
  <div style='float:left;width:100%;height:100%'>
  {{include file="message.html"}}
  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td class="pt3 pb5 pL10 pR5">
            <h1>{{$trivia->getTitle()}} 
                {{if $trivia->getStatus() eq "Draft" }}<span class='draft-box'><em><b>(Draft)</b></em></span>{{/if}}
                {{if $trivia->getStatus() eq "Queued" }}<span class='queued-box'><em><b>(Approval Pending)</b></em></span>{{/if}}
                {{if $trivia->getStatus() eq "Closed" }}<span class='closed-box'><b>Closed</b></span>{{/if}}
                {{if $trivia->getStatus() eq "Rejected" }}<span class='rejected-box'><b>Rejected</b></span>{{/if}}
            </h1>
            <div id="trivia-star"></div>
        <div style='clear:both;'></div>
        <div style="border-bottom:1px dotted #CCCCCC;border-top:1px dotted #CCCCCC;margin:10px 0 15px;padding:10px 0;"> 
            Posted on {{$trivia->create_date}} / By 
            <span style="color:#FF8B00;">{{$trivia->getCreatedBy()}}</span> 
            <br/>
            Last Updated on {{$trivia->update_date}} / By 
            <span style="color:#FF8B00;">{{$trivia->getUpdatedBy()}}</span> 
            <br>
            {{if $trivia->getStatus() eq "Closed" }}
            <span class="closed-box"><b>Closed on {{$trivia->close_date_time}}</b></span> 
            {{elseif $trivia->getRawStatus() == "OPEN" }}
            <span class="closed-box"><b>Closing on {{$trivia->close_date_time}}</b></span> 
            {{/if}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="pt3 pb5 pL10 pR5"><div id="idea_body">{{$trivia->getDescription()}}</div></td>
    </tr>
    {{if $trivia->getStatus() eq "Rejected" }} 
     <tr>
      <td id="comtitle" class="pt3 pb5 pL10 pR5">
        <div class='rejected-reason'>
        <div><strong>Reason to reject:</strong></div>
        <div class='pt3'>{{$trivia->getRejectedReason()}}</div>
        </div>
     </td>
    </tr>
    {{/if}}
    {{if $trivia->getStatus() eq "Open" }} 
    <tr>
      <td id="comtitle" class="pt3 pb5 pL10 pR5">
        <div style="border-bottom:1px dotted #CCCCCC;border-top:1px dotted #CCCCCC;margin:10px 0 15px;padding:10px 0;"> 
            <span style="color:#FF8B00;font-weight:bold;font-size:15pt;">{{$trivia->getTotalResponses()}} Responses</span> 
            {{if !$trivia->isOwner()}}
            <div class="reply"> 
                <span class="comment-reply-link"><a href="#dComment" onClick="parent_id=0;$('#txtTitle').focus();">Add Response</a></span> 
            </div>
            {{/if}}
        </div>
     </td>
    </tr>
    <tr>
      <td class="pt3 pb5 pL10 pR5">
        <div class="commentslist" id="comm-response">
         
		 {{foreach item=c from=$responses}}
            <div class="{{$c->class}}">

                <div class="comments" id="comment-{{$c->getId()}}">
                    <div id="vcard-{{$c->getId()}}">
                        <span class="avatar">
                            <img width="50" height="50" class="avatar" src="resize.image.php?u={{$c->getUserId()}}&w=50&h=50" alt="{{$c->getOwner()}}">
                        </span>
                        <span><a href="#">{{$c->getOwner()}}</a></span> 
                    </div>
                    <div class="comment-meta commentmetadata"><a href="#">{{$c->date_time}}</a></div>
                    <!--<span style="color:#A1C531;font-weight:bold;">{{$c->getTitle()}}</span> -->
                    <p>{{$c->getResponse()}}</p>
                    <div class="reply answer" id="btnReply-{{$c->getId()}}" style="display:block;">
                        {{if $c->correctAns}}
                        <div style='padding-top:3px; padding-bottom:5px; padding-right:10px;'>
                            <a href='javascript:;' class='imglink'>
                            <img width="14" height="14" border='0' src="img/thumb-up.png" alt="Yes" valign='middle'>
                            </a>
                            <span class='open-box'><b>This is marked as correct answer</b></span>
                            {{if $loginuser->isAdmin() || $trivia->isOwner()}}

                            <a href='javascript:;' class='imglink' onclick="RateResponse({{$c->getUserId()}},{{$c->getId()}},'NO',{{$c->response_pint_id}});">
                            <img width="14" height="14" border='0' src="img/thumb-down.png" alt="No"/>
                            </a>
                            <span style="color:#702727;font-weight:bold;">No</span>
                            {{/if}}
                        </div>
                        {{else}}
                        {{if $c->response_pint_id}}
                        <div style='padding-top:3px; padding-bottom:5px; padding-right:10px;'>
                            <a href='javascript:;' class='imglink'>
                            <img width="14" height="14" border='0' src="img/thumb-down.png" alt="Yes" valign='middle'>
                            </a>
                            <span class='closed-box'><b>This is marked as incorrect answer</b></span>
                            {{if $loginuser->isAdmin() || $trivia->isOwner()}}

                            <a href='javascript:;' class='imglink' onclick="RateResponse({{$c->getUserId()}},{{$c->getId()}},'YES',{{$c->response_pint_id}});">
                            <img width="14" height="14" border='0' src="img/thumb-up.png" alt="Yes"/>
                            </a>
                            <span style="color:#26631C;font-weight:bold;">Yes</span>
                            {{/if}}
                        </div>
                        {{elseif $loginuser->isAdmin() || $trivia->isOwner()}}
                        <span class="comment-reply-link" id="sp-{{$c->getId()}}">
                            <i><strong>Is the answer is correct ?</strong></i> 
                        </span>
                        <div style='padding-top:3px; padding-bottom:5px; padding-right:10px;'>
                            <a href='javascript:;' class='imglink' onclick="RateResponse({{$c->getUserId()}},{{$c->getId()}},'YES',{{$c->response_pint_id}});">
                            <img width="14" height="14" border='0' src="img/thumb-up.png" alt="Yes">
                            </a>
                            <span style="color:#26631C;font-weight:bold;">Yes</span>
                            <a href='javascript:;' class='imglink' onclick="RateResponse({{$c->getUserId()}},{{$c->getId()}},'NO',{{$c->response_pint_id}});">
                            <img width="14" height="14" border='0' src="img/thumb-down.png" alt="No"/>
                            </a>
                            <span style="color:#702727;font-weight:bold;">No</span>
                        </div>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>

            </div>
          {{/foreach}}
        </div>

        {{if !$trivia->isOwner()}}
		<div id="dComment" style="height:200px;">
            <form id="frmResponses" name="frmResponses" method="POST" action="trivia.response.save.action.php">
                <input type="hidden" name="id" id="txtId" value="{{$trivia->getId()}}"/>
                <input type="hidden" name="parent_id" id="txtParentId" value="0"/>
                <table cellpadding="5" cellspacing="2" border="0" width="50%" align="left" style="border:none; background-color:inherit;">
                    <tr><td colspan="2"><h2 id='dComText'>Leave a response</h2></td></tr>
                    <tr>
                        <td style="background-color: inherit;" valign='top'><b>Response</b></td>
                        <td style="background-color: inherit;">
                            <textarea cols="50" rows="10" name="txtResponse" id="txtResponse" class='expand2fit'></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: inherit;">&nbsp;</td>
                        <td style="background-color: inherit;">
                            <input type="button" name="btnAddResponse" id="btnAddResponse" value="Add Response" onclick="addResponse();"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        {{/if}}
        </td>
    </tr> 
   {{/if}}

        
    <tr>
        <td align="center" class="acenter pt3 pb5 pL10 pR5"> 
            <a href="trivia.list.php" class="linkbutton" vText='Cancel'>Back to trivia list</a>
            {{if $trivia->isOwner() && $trivia->getStatus() == 'Draft'}}
            <a href="trivia.edit.php?id={{$trivia->getId()}}" class="linkbutton">Edit</a>
            {{/if}}
        </td>
    </tr>
  </table>
  </div>
<!--     
  <div style='float:right;width:25%;height:100%'>
    Something Here
  </div>
-->
  <form action="trivia.save.action.php" method="post" id="trivia_edit" name="trivia_edit">
    <input type="hidden" name="id" id="txtTriviaId" value="{{$trivia->getId()}}"/>
    <input type="hidden" name="status" id="txtStatus" value="{{$trivia->getStatus}}"/>
    <input type="hidden" name="action" id="txtAction" value=""/>
    <input type="hidden" name="reason" id="txtReason" value=""/>
    <input type="hidden" name="rating_points" id="txtRatingPoints" value=""/>
  </form>
<div style="clear:both;"></div>
</div>

{{if $excel}}
{{else}}
<div id='reject-reason' class='dialog' title='Reason to Reject?'>
        <table cellspacing="0" cellpadding="0" border="0" width="100%" highlight="off" id="tbl_tasks">
            <tr>
                <td class="aleft pt3 pb5 pL10 bdrbtm4">
                    <textarea id="txtRejectReason" name="txtRejectReason" rows="7" colspan="2" class="expand2fit"></textarea>
                </td>
            </tr>
        </table>
</div>
{{/if}}

</body >
</html>
