<br>
{{if $p}}
{{if $total_pages gt 1}}
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}
<table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="off">
    <tr>
        <td class="">
            <div class="commentslist" id="d-data-add">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" highlight="off">
            {{foreach item=i from=$trivias}}
                <tr>
                    <td>
                        <div class='d-block-table'>
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tblTriva-{{$i->getId()}}">
                                <tr>
                                    <td class='pt6'>
                                    <div class="{{$i->class}}" style="padding:0px 0px 0px 0px;">
                                        <div class="comments" id="trivia-{{$i->getId()}}"> 
                                            <div class="list-title" id="list-title-{{$i->getId()}}"> 
                                                <a href="trivia.view.php?id={{$i->getId()}}">
                                                    <span style="font-weight:bold;font-size:15pt;">{{$i->getTitle()}}</span>
                                                </a>
                                                {{if $i->getStatus() eq "Draft" }}<span class='draft-box'><em><b>(Draft)</b></em></span>{{/if}}
                                                {{if $i->getStatus() eq "Queued" }}<span class='queued-box'><em><b>(Approval Pending)</b></em></span>{{/if}}
                                                {{if $i->getStatus() eq "Closed" }}<span class='closed-box'><b>Closed</b></span>{{/if}}
                                                {{if $i->getStatus() eq "Rejected" }}<span class='rejected-box'><b>Rejected</b></span>{{/if}}
                                            </div>
                                            <div class="list-title-details">
                                                <p>{{$i->description}}.....<a href="trivia.view.php?id={{$i->getId()}}">more</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    </td> 
                                </tr>
                                <tr>
                                    <td class="pl5 pb5 pt6 bdrtop4">
                                        <div style="float: left; color:#A7A7A7; font-weight: bold;">
                                            <div class="comment-meta commentmetadata">
                                                    <a href="trivia.view.php?id={{$i->getId()}}#comtitle">{{$i->getTotalResponses()}} Responses</a>
                                                </div>
                                        </div>
                                        <div class="pl5" style="color: #A7A7A7; float: right; width: 100px; border-left: 1px solid #F5F5F5;">
                                                 <div class="comment-meta commentmetadata">
                                                    <small><i>By {{$i->getCreatedBy()}} <br> {{$i->getUpdateDate("m/d/Y h:i a")}}</i></small>
                                                </div> 
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            {{/foreach}}
            </table>
            </div>
        </td>
    </tr>
</table>
{{if $p}}
{{if $total_pages gt 1}}
<table cellpadding="2" cellspacing="0" border="0" width="100%">
    <tr>
        <td width="50%">&nbsp;</td>
        <td width="50%" class="aright vamiddle">
            <div style="height: 25px;clear: both;">
                {{if $current_page gt 1}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p=1">First</a>
                    </span>
                {{/if}}
                {{if $previous_page gt 0}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$previous_page}}">Previous</a>
                    </span>
                {{/if}}
                {{if $current_page gt 3}}
                    ...
                {{/if}}
                {{foreach item=i from=$pages}}
                    {{if $i eq $current_page}}
                        <span class="this-page">{{$current_page}}</span>
                    {{else}}
                        <span class="pages">
                            <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$i}}">{{$i}}</a>
                        </span>
                    {{/if}}
                {{/foreach}}
                {{if $total_pages > $page_end}}
                    ...
                {{/if}}
                {{ if $total_pages gte $next_page}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$next_page}}">Next</a>
                    </span>
                {{/if}}
                {{if $total_pages gt $current_page}}
                    <span class="pages">
                        <a href="trivia.list.php?view={{$view}}&from_date={{$from_date}}&to_date={{$to_date}}&status={{$strStatus}}&p={{$total_pages}}">Last</a>
                    </span>
                {{/if}}
            </div> 
        </td>
    </tr>
</table>
{{/if}}
{{/if}}
