{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Trivia List</title>
        {{include file="css.and.js.html"}}
        <script src="js/datepicker.js" type="text/javascript" language="javascript"></script>
        <script type="text/javascript" language="javascript">
            function del_trivia(id) {
                jConfirm('<br><h1>Are you sure?</h1><br><b>You want delete trivia?</b><br><br>Please make a note that all responses under this trivia  will be deleted.',"Trivia", function(r) {
                    if(r) {
                        $("#txtID").val(id);
                        $("#action").val("DELETE");
                        $("#trivia_edit").submit();
                    }
                });
            }
            var blnAll=false;
            jQuery(function($){
                $("#btnView").click(function() {
                    if($("#view").val() == "list") {
                        $("#view").val("table");
                    }
                    else {
                        $("#view").val("list");
                    }
                    $("#frm_filter").submit();
                });
                $("#btnFilter").click(function(){
                    $("#p").val("1");
                    $("#frm_filter").submit();
                });

                $("input:checkbox[name='status[]']").click(function() {
                    var item_status = ''; 
                    if($(this).is(":checked") && $(this).val() == 'ALL') {
                        blnAll=true;
                        $("input:checkbox[name='status[]']").each(function(){
                            if($(this).is(":checked") && $(this).val() == 'ALL') {
                                $(this).attr('disabled',false);
                                //item_status = item_status + $(this).val();
                            }
                            else {
                                $(this).attr('checked',false);
                                $(this).attr('disabled',true);
                            }
                        });
                    }
                    else {
                        blnAll=false;
                        $("input:checkbox[name='status[]']").each(function(){
                            $(this).attr('disabled',false);
                            if($(this).is(":checked")) {
                                //item_status = item_status + $(this).val() + '|';
                            }
                        });
                    }
                    if(item_status != '') {
                        //submit_filters();
                    }
                });
            });
            
        </script>
    </head>

    <body>
        {{include file="trivia.common.html"}}
        <div id="nav2">
            <a href="trivia.add.php" class="linkbutton">Add Trivia</a>
            {{if $view eq "list"}} 
            <input type='button' name='btnView' id='btnView' value='Table View'/>
            {{else}}
            <input type='button' name='btnView' id='btnView' value='List View'/>
            {{/if}}
        </div>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <form action="trivia.list.php" method="get" id="frm_filter">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="20%" class="pt3 pb5 pL10"><h1>Trivia</h1></td>
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%">
                        <input type='hidden' name='view' id='view' value='{{$view}}'/>
                        <input type='hidden' name='p' id='p' value='{{$p}}'/>
                        From Date <input type="text" name="from_date" id="txtFromDate" value="{{$from_date}}" class="datepicker"/>&nbsp;&nbsp;
                        To Date <input type="text" name="to_date" id="txtToDate" value="{{$to_date}}" class="datepicker"/>&nbsp;&nbsp;
                        &nbsp;&nbsp;<input type="button" name="btnFilter" id="btnFilter" value="Filter"/>
                    </td>
                </tr>
                <tr>
                    <td class="aright vamiddle pt3 pb5 pL10 pR5" width="80%" colspan='2'>
                        <input type='checkbox' name='status[]' id='all' value='ALL' {{foreach item=m from=$status}}{{if $m eq 'ALL'}}checked{{/if}}{{/foreach}}/>
                        <label for='all'>All</label>&nbsp;&nbsp;
                        <input type='checkbox' name='status[]' id='open' value='OPEN' {{foreach item=m from=$status}}{{if $m eq 'OPEN'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='open'>Open</label>&nbsp;&nbsp;
                        <input type='checkbox' name='status[]' id='closed' value='CLOSED' {{foreach item=m from=$status}}{{if $m eq 'CLOSED'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='closed'>{{if !$loginuser->isAdmin()}}My{{/if}} Closed</label>
                        <input type='checkbox' name='status[]' id='draft' value='DRAFT'{{foreach item=m from=$status}}{{if $m eq 'DRAFT'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='draft'>{{if !$loginuser->isAdmin()}}My{{/if}} Draft's</label>&nbsp;&nbsp;
                        <input type='checkbox' name='status[]' id='queued' value='QUEUED' {{foreach item=m from=$status}}{{if $m eq 'QUEUED'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='queued'>{{if !$loginuser->isAdmin()}}My{{/if}} Queued</label>&nbsp;&nbsp;
                        <input type='checkbox' name='status[]' id='rejected' value='REJECTED' {{foreach item=m from=$status}}{{if $m eq 'REJECTED'}}checked{{/if}}{{/foreach}} {{if $blnAll}}disabled{{/if}}/>
                        <label for='rejected'>{{if !$loginuser->isAdmin()}}My{{/if}} Rejected</label>&nbsp;&nbsp;
                    </td>
                </tr>
                {{if $view eq "table"}}
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <a id="export" href="trivia.list.php?excel=1&from_date={{$from_date}}&to_date={{$to_date}}&status={{$status}}">Export to excel</a>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
                {{/if}} 
            </table>
            </form>
            <br>
            <form action="trivia.save.action.php" method="post" id="trivia_edit" name="trivia_edit">
            <input type="hidden" name="action" id="action" value=""/>
            <input type="hidden" name="id" id="txtID"/>
            {{if $view eq "list"}}
            {{include file="trivia.listview.html"}}
            {{else}}
            {{include file="table.trivia.list.html"}}
            {{/if}}
            </form> 
        </div>
    </body>
</html>
