{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Welcome to Influence</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="header.html" hidetabs=true}}
            <div id="content1" style='height:400px;margin: 10px auto;width: 95%;'>
            <div style="width: 30%; margin: 150px auto;" class='d-block-table'>
                <form action="user.login.action.php" method="post">
                    <input type='hidden' name='from_url' id='from_url' value="{{$from_url}}"/>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td colspan="2" style="text-align: center;" class='pt3 pb5 pL10 pR10 acenter'>
                                <h1>Sign in</h1>
                                <div class='d-dashed'></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;" class='pt3 pb5 pL10 pR10 acenter'>
                                <div class="pt6 pb5 pL10 pR10">
                                {{include file="message.html"}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="aleft pt3 pb5 pL10">Email</td>
                            <td class='pt3 pb5 pR10'><input type="text" name="email" class="expand2fit" value="{{$post.email}}"></td>
                        </tr>
                        <tr>
                            <th class="aleft pt3 pb5 pL10">Password</td>
                            <td class="pt3 pb5 pR10"><input type="password" name="password" class="expand2fit" value=""></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;" class="pt3 pb5 pL10 acenter">
                                <input type="submit" value="Login">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
