{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence::Member view</title>
        {{include file="css.and.js.html"}}
        <style>
            input[type="text"],
            input[type="file"],
            input[type="password"],
            textarea,select {
                width: 250px;
            }
        </style>
        <script>
            var index = 9000;
            $(function($){

                var tab = '{{$tab}}';
                $("#eInfo").hide();
                $("#pInfo").hide();
                $("#cInfo").hide();
                $("#passInfo").hide();
                $("#prjInfo").hide();
                $("#{{$tab}}").show();

                $("#tabEmpInfo").click(function(){
                    $("#eInfo").show();
                    $("#pInfo").hide();
                    $("#cInfo").hide();
                    $("#passInfo").hide();
                    $("#prjInfo").hide();

                    $("#liEmpInfo").addClass("active");
                    $("#liPInfo").removeClass("active");
                    $("#liCInfo").removeClass("active");
                    $("#liPassInfo").removeClass("active");
                    $("#liPrjInfo").removeClass("active");

                    $("#tab").val('eInfo');
                });

                $("#tabPInfo").click(function(){
                    $("#pInfo").show();
                    $("#eInfo").hide();
                    $("#cInfo").hide();
                    $("#passInfo").hide();
                    $("#prjInfo").hide();

                    $("#liPInfo").addClass("active");
                    $("#liEmpInfo").removeClass("active");
                    $("#liCInfo").removeClass("active");
                    $("#liPassInfo").removeClass("active");
                    $("#liPrjInfo").removeClass("active");

                    $("#tab").val('pInfo');
                });

                $("#tabCInfo").click(function(){
                    $("#cInfo").show();
                    $("#pInfo").hide();
                    $("#eInfo").hide();
                    $("#passInfo").hide();
                    $("#prjInfo").hide();

                    $("#liCInfo").addClass("active");
                    $("#liPInfo").removeClass("active");
                    $("#liEmpInfo").removeClass("active");
                    $("#liPassInfo").removeClass("active");
                    $("#liPrjInfo").removeClass("active");

                    $("#tab").val('cInfo');
                });

                $("#tabPassInfo").click(function(){
                    $("#passInfo").show();
                    $("#pInfo").hide();
                    $("#eInfo").hide();
                    $("#cInfo").hide();
                    $("#prjInfo").hide();

                    $("#liPassInfo").addClass("active");
                    $("#liCInfo").removeClass("active");
                    $("#liPInfo").removeClass("active");
                    $("#liEmpInfo").removeClass("active");
                    $("#liPrjInfo").removeClass("active");

                    $("#tab").val('passInfo');
                });
                
                $("#tabPrjInfo").click(function(){
                    $("#prjInfo").show();
                    $("#passInfo").hide();
                    $("#pInfo").hide();
                    $("#eInfo").hide();
                    $("#cInfo").hide();

                    $("#liPrjInfo").addClass("active");
                    $("#liPassInfo").removeClass("active");
                    $("#liCInfo").removeClass("active");
                    $("#liPInfo").removeClass("active");
                    $("#liEmpInfo").removeClass("active");

                    $("#tab").val('eInfo');
                });
				    
            });

            function editMem() {
                window.location.href = "user.edit.php?id={{$user->getId()}}&tab="+$("#tab").val();
            }
        </script>
    </head>

    <body>
        {{include file="user.common.html"}}

        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td class='pt3 pb5 pL10'>
                        <h1>View member:: {{$user->getFullName()}}</h1>
                        <div id='header-menu' style="float:right">
                            <ul id='menu-level-1' class='menu-ul'>
                                <li id='liEmpInfo' {{if $tab == 'eInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabEmpInfo'>Employee Info</a>
                                </li>
                                <li id='liPInfo' {{if $tab == 'pInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabPInfo'>Personal Info</a>
                                </li>
                                <li id='liCInfo' {{if $tab == 'cInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabCInfo'>Communication Info</a>
                                </li>
                                <li id='liPassInfo' {{if $tab == 'passInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabPassInfo'>Passport Info</a>
                                </li>
                                <li id='liPrjInfo' {{if $tab == 'prjInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabPrjInfo'>Project Info</a>
                                </li>
                            </ul>
                        </div>
                        <div style='clear:both;'></div>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            <form action="#" method="post" enctype="multipart/form-data" name="frmMember" id="frmMember">
                <input type="hidden" name="id" value="{{$user->getId()}}">
                <input type="hidden" name="tab" id="tab" value="{{$tab}}">

                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'>
                    <tr>
                        <!-- Left Side -->
				        <td width="10%" valign='top'>
                            <table width="100%">
                                <tr>
                                    <td valign='top'>
                                        <div class='d-block-table pb10 pL10 pR10'>
                                        <img class="pt5 pb10 pL10 pR10" width="200" height="200" alt="" src="resize.image.php?u={{$user->getId()}}&w=200&h=200" border='0'><br>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td valign='top' style='margin-top:10px;'>
                                        <div class='d-block-table pb10 pL10 pR10 pt10'>
                                        <label><b>Last Updated CV Info: </b></label><br>
                                            <div>
                                                {{assign var="user_cv" value=$user->getCV()}} 
                                                <b>File Name: <a href="user.download.php?id={{$user_cv.id}}" target="_blank">{{$user_cv.file_name}}</a></b><br>
                                                <b>Last Updated: {{$user_cv.upload_date}}</b>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!--// End Left Side -->

                        <!-- Right Side -->
		                <td width="45%" valign='top'>
                            <!-- Project Info -->
                            <div id='prjInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0" highlight="on" class="sortable">
	                                <thead>

                                    <tr>
                                        <th class="aleft">Project Role</th>
                                        <th class="aleft">Client</th>
                                        <th class="aleft">Project</th>
                                        <th class="aleft">Sub Project</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th class="{sorter:false}">Is Billable?</th>
                                        <th class="{sorter:false}">Status</th>
                                    </tr>    
                                    </thead>
                                    <tbody>
                                    {{foreach item=project from=$user->getProjectAssociation(true)}}
                                    <tr> 
                                        <td class="aleft pt3 pb5 pL10 bdrbtm4" >{{$project.role}} </td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project.clientName}}</td>
                                        {{if $project.parentId gt 0}}
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project.parentProjectName}}</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project.projectName}}</td>
                                        {{else}}
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$project.projectName}}</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">-</td>
                                        {{/if}}
                                        <!--<td class="pt3 pb5 pL10 bdrbtm4">{{$project.description}}</td> -->
                                        <td class="aright pt3 pb5 pL10 bdrbtm4">{{$project.startDate}}</td>
                                        <td class="aright pt3 pb5 pL10 bdrbtm4">{{$project.endDate}}</td>
                                        {{if $project.isBillable}}
                                            <td class="acenter pt3 pb5 pL10 bdrbtm4"><span class='active_one'>Yes</span></td>
                                        {{else}}
                                            <td class="acenter pt3 pb5 pL10 bdrbtm4"><span class='inactive_one'>No</span></td>
                                        {{/if}}
                                        {{if $project.closed}}
                                            <td class="acenter pt3 pb5 pL10 bdrbtm4"><span class='inactive_one'>Closed</span></td>
                                        {{else}}
                                            <td class="acenter pt3 pb5 pL10 bdrbtm4"><span class='active_one'>Open</span></td>
                                        {{/if}}
                                    </tr>
                                    {{/foreach}}
                                    </tbody> 
                                </table>
                            </div>
                            <!--// END Project Info -->

                            <!-- Personal Info --> 
                            <div id='pInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">

                                    <tr>
                                        <th class="aleft pL5" width="200">Member Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4"> {{$user->getFullName()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="200">Email</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4"> {{$user->getEmail()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">First Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$user->getFirstName()}}</td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Middle Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$user->getMiddleName()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Last Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4"> {{$user->getLastName()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Birth</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4"> {{$user->getDateOfBirth()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Nationality</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4"> {{$employee->getNationality()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Role</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">   
                                            <label>{{$user->user_role}}</label>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>
                            
                            <!-- Communication Info --> 
                            <div id='cInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">
                                    
                                    <tr>
                                        <th class="aleft pL5">Personal Email</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getPersonalEmail()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Address</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getAddress()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">City</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getCity()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Zip</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getZip()}}</td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">State</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getState()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Country</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                                {{foreach item=c from=$country}}
                                                {{if $employee->getCountryId() == $c.country_id}}
                                                    {{$c.country_name}}
                                                {{/if}}
                                                {{/foreach}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Mobile 1</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getMobile1()}}</td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Mobile 2</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getMobile2()}}</td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Home Phone</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getPhone1()}}</td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Office Phone</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getPhone2()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Skype ID</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getSkypeId()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Yahoo ID</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getYahooId()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">MSN ID</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getMsnId()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Gtalk ID</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getGtalkId()}} </td>
                                    </tr>

                                </table>
                            </div>

                            <!-- Passport Info --> 
                            <div id='passInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">

                                    <tr>
                                        <th class="aleft pL5" width="150">Passport Number</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getPassportNumber()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Issue</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getPassportIssueDate()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Expiry</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getPassportExpiryDate()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Place of issue</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getPassportPlaceOfIssue()}} </td>
                                    </tr>
                                    
                                    <tr>
                                        <th class="aleft pL5" width="150">Country Of Residence</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{foreach item=c from=$country}}
                                            {{if $employee->getPassportCountryOfResidence() == $c.country_id}}
                                                {{$c.country_name}}
                                            {{/if}}
                                            {{/foreach}}
                                        </td>
                                    </tr>

                                    <!-- Passport Visa Info -->
                                     {{if $employee->getVisaInfo()}}
                                     <tr>
                                        <td colspan='2'>&nbsp;</td>
                                     </tr>
                                     <tr>
                                        <th class="acenter pL5" colspan='2'>
                                            Visa Information
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
							                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">
                                                <tr>
                                                    <th class='aleft'>Country</th>
                                                    <th class='aleft'>Visa Type</th>
                                                    <th class='aleft'>Issue Date<br><small>(MM-DD-YYYY)</small></th>
                                                    <th class='aleft'>Expiry Date<br><small>(MM-DD-YYYY)</small></th>
                                                    <th class='aleft'>Place Of Issue</th>
                                                </tr>

                                                {{foreach name=x item=v from=$employee->getVisaInfo()}}
                                                <tr id='tr-{{$smarty.foreach.x.iteration}}'>
                                                    <td class="pt3 pb5 bdrbtm4">{{$v->getVisaCountry()}} </td>
                                                    <td class="pt3 pb5 bdrbtm4">{{$v->getVisaType()}} </td>
                                                    <td class="pt3 pb5 bdrbtm4">{{$v->getVisaIssueDate()}} </td>
                                                    <td class="pt3 pb5 bdrbtm4">{{$v->getVisaExpiryDate()}} </td>
                                                    <td class="pt3 pb5 bdrbtm4">{{$v->getVisaPlaceOfIssue()}} </td>
                                                </tr>
                                                {{/foreach}}
                                            </table>
                                        </td>
                                    </tr>
                                    {{/if}}
                                    <!--// END Visa Info -->
                                </table>
                            </div>

                            <!-- Employee Info --> 
                            <div id='eInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">
                                    <tr>
                                        <th class="aleft pL5">Employee Code</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getEmployeeCode()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Employee Type</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                        {{$employee->getEmployeeType()}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Joining</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getDateOfJoin()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Confirmation</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getDateOfConfirmation()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="250">Date Of Termination / Resignation</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getDateOfResign()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Location</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getLocation()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Designation</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{foreach item=d from=$designations}}
                                                {{if $employee->getDesignationId() == $d->getId()}}
                                                    {{$d->getName()}}
                                                {{/if}}
                                            {{/foreach}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Department</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{foreach item=d from=$departments}}
                                                {{if $employee->getDepartmentId() == $d->getId()}}
                                                    {{$d->getName()}} 
                                                {{/if}}
                                            {{/foreach}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Is Timecard Required?</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                        {{if $employee->IsTimesheet() == '1'}}
                                            <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                        {{else}}
                                            <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" />
                                        {{/if}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Is Trainer?</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                        {{if $employee->IsTrainer() == '1'}}
                                            <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                        {{else}}
                                            <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" />
                                        {{/if}}
                                        </td>
                                    </tr>

                                    <!-- Training Delivery -->
                                    <!--
                                    <tr id="tr-trndelvry" style='{{$trainer_style}}'>
                                        <th class="aleft pL5">Training Delivery</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{foreach item=t from=$training_skills}}
                                                {{foreach item=a from=$employee->getTrainingSkills()}} 
                                                    {{if $a->getTrainingSkillId() == $t->getId()}}
                                                        {{$t->getName()}} , 
                                                    {{/if}}
                                                {{/foreach}}
                                            {{/foreach}}
                                        </td>
                                    </tr>
                                    -->

                                    <tr id='tr-trndelvry-1' style='{{$trainer_style}}'>
                                        <th class="acenter pL5" colspan='2'>
                                            Training Delivery
                                        </th>
                                    </tr>
                                    <tr id='tr-trndelvry-2' style='{{$trainer_style}}'>
                                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <table width="100%">
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%">
                                                            <tr>
                                                                <th class='aleft'>Training</th>
                                                                <th width='100px'>Expert</th>
                                                                <th width='100px'>Experienced</th>
                                                                <th width='100px'>Trained</th>
                                                            </tr>
                                                            {{foreach name=tech item=t from=$employee->getTrainingSkills()}}
                                                            <tr>
                                                                <td>{{$t->getTrainingSkillName()}}</td>
                                                                <td class='acenter'>
                                                                    {{if $t->getTrainingSkillLevel() == 'EXPERT'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                <td class='acenter'>
                                                                    {{if $t->getTrainingSkillLevel() == 'EXPERIENCED'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                <td class='acenter'>
                                                                    {{if $t->getTrainingSkillLevel() == 'TRAINED'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            {{/foreach}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Training Delivery -->

                                    <!-- Technology Practice -->
                                    <tr>
                                        <th class="acenter pL5" colspan='2'>
                                            Technology Practice
                                        </th>
                                    </tr>
                                    <tr id='tr-techpractice'>
                                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <table width="100%">
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%">
                                                            <tr>
                                                                <th class='aleft'>Technology</th>
                                                                <!--
                                                                <th width='100px'>Expert</th>
                                                                <th width='100px'>Experienced</th>
                                                                <th width='100px'>Trained</th>
                                                                -->
                                                            </tr>
                                                            {{foreach name=tech item=t from=$employee->getTechPractices()}}
                                                            <tr>
                                                                <td>{{$t->getTechPracticeName()}}</td>
                                                                <!--
                                                                <td class='acenter'>
                                                                    {{if $t->getTechPracticeLevel() == 'EXPERT'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                <td class='acenter'>
                                                                    {{if $t->getTechPracticeLevel() == 'EXPERIENCED'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                <td class='acenter'>
                                                                    {{if $t->getTechPracticeLevel() == 'TRAINED'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                -->
                                                            </tr>
                                                            {{/foreach}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Technology Practice -->

                                    <!-- Product Knowledge -->
                                    <tr>
                                        <th class="acenter pL5" colspan='2'>
                                            Product Knowledge
                                        </th>
                                    </tr>
                                    <tr id='tr-prodknwd'>
                                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <table width="100%">
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%">
                                                            <tr>
                                                                <th class='aleft'>Product</th>
                                                                <th width='100px'>Expert</th>
                                                                <th width='100px'>Experienced</th>
                                                                <th width='100px'>Trained</th>
                                                            </tr>
                                                            {{foreach name=prod item=p from=$employee->getProdutKnowledges()}}
                                                            <tr>
                                                                <td>{{$p->getProdutKnowledgeName()}} </td>
                                                                <td class='acenter'>
                                                                    {{if $p->getProdutKnowledgeLevel() == 'EXPERT'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                <td class='acenter'>
                                                                    {{if $p->getProdutKnowledgeLevel() == 'EXPERIENCED'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                <td class='acenter'>
                                                                    {{if $p->getProdutKnowledgeLevel() == 'TRAINED'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            {{/foreach}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Product Knowledge -->

                                    <!-- Technology Skills -->
                                    <tr>
                                        <th class="acenter pL5" colspan='2'>
                                            Technology Skills
                                        </th>
                                    </tr>
                                    <tr id='tr-techskills'>
                                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <table width="100%">
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%">
                                                            <tr>
                                                                <th class='aleft'>Technology</th>
                                                                <th width='100px'>Expert</th>
                                                                <th width='100px'>Experienced</th>
                                                                <th width='100px'>Trained</th>
                                                            </tr>
                                                            {{foreach name=tech item=t from=$employee->getTechSkills()}}
                                                            <tr>
                                                                <td>{{$t->getTechSkillName()}} </td>
                                                                <td class='acenter'>
                                                                    {{if $t->getTechSkillLevel() == 'EXPERT'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                <td class='acenter'>
                                                                    {{if $t->getTechSkillLevel() == 'EXPERIENCED'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                                <td class='acenter'>
                                                                    {{if $t->getTechSkillLevel() == 'TRAINED'}}
                                                                        <img width="17" border="0" align="absmiddle" src="img/icons/checkmark.png" />
                                                                    {{else}}
                                                                        -
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            {{/foreach}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Technology Skills -->

                                </table>
                            </div>

                        </td>
                        <!--// End Right Side -->
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td align='center'>
                            <div style="margin-top:15px;">

                            {{if $user->getId() > 1}}
                            <a href="task.timecard.php?user={{$user->getId()}}" class="linkbutton">View timecard</a>
                            {{/if}}
                            <!--<a href="task.list.php?user={{$user->getId()}}" class="linkbutton">View tasks</a>-->
                            {{if $loginuser->isAdmin() || $loginuser->isHRManager()}}
                            {{if $user->getId() > 1}}
                            <!--<a href="user.edit.php?id={{$user->getId()}}&tab={{$tab}}" class="linkbutton">Edit profile</a>-->
                            <input type="button" name="btnEdit" id="btnEdit" class="buttonNew" value="Edit Profile" onclick="editMem()"/>
                            {{/if}}
                            {{if not $user->isAdmin()}}
                            {{if $user->isBlocked()}}
                            <a href="user.unblock.php?id={{$user->getId()}}" class="linkbutton">Unblock</a>
                            {{else}}
                            <a href="user.block.php?id={{$user->getId()}}" class="linkbutton">Block</a>
                            {{/if}}
                            {{/if}}
                            {{if $user->getId() > 1}}
                            <a href="user.resetpassword.php?id={{$user->getId()}}" class="linkbutton">Reset password</a>
                            {{/if}}
                            <a href="user.list.php" class="linkbutton" vText='Cancel'>Go back to member list</a>
                            {{else}}
                            <a href="user.changepassword.php" class="linkbutton">Change password</a>
                            {{/if}}

                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2" class="acenter">&nbsp;</td></tr> 
                </table>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>
</html>
