{{include file="doctype.html"}}
<html>

    <head>
        <title>Timesheet</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="user.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR10">
                    <h1>Change password</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="user.changepassword.action.php" method="post">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style='border:1px solid #f0f0f0'>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Old password</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="password" name="old_password" style="width: 25%;"></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">New password</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="password" name="new_password_1" style="width: 25%;"></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Re-type password</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="password" name="new_password_2" style="width: 25%;"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="acenter pt3 pb5 pL10 bdrbtm4">
                            <input type="submit" value="Change password">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
