{{include file="doctype.html"}}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>User Details</title>
        {{include file="css.and.js.html"}}  

        <script>
            $(function() {
                $("#tabs_user").tabs({
                beforeLoad: function(event, ui) {
                    ui.jqXHR.error(function() {
                        ui.panel.html(
                                "Couldn't load this tab. We'll try to fix this as soon as possible.");
                    });
                },               
                 select:function (event, ui) {                  
                    //return checkData();                 
                }
                
                });    

                var  utabId = GetQueryStringParams('utabId');
                var index;

                if(utabId)
                    index = utabId;
                else
                    index = 0;

                //var index = {{$activeTabIndex}};
                
                $('#tabs_user').tabs({ selected: index });
                //alert($("input[name='name']").val());
            });

            function checkData() {
                                        
                    if(($.trim($("input[name='name']").val()) != "" ) || ($.trim($("#description").val()) != "") || 
                    ($.trim($("#client_id").val()) > 0) || 
                    ($.trim($("#delivery_location").val()) != "") || ($.trim($("#channel").val()) != "") || 
                    ($.trim($("#client_project_lead").val()) != "") || ($.trim($("#partner_project_lead ").val()) != "") )  {
                    
                        loadMyTab = confirm('Are you sure you want to tab away without saving?');                           
                        if(loadMyTab == true)
                        {
                            $("input[name='name']").val('');
                            $("#description").val('');
                            $("#delivery_location").val('');
                            $("#client_id").val(0);
                            $("#channel").val('');
                            $("#client_project_lead").val('');
                            $("#partner_project_lead").val('');                         
                        }
                        else
                            return false;
                                            
                    }                   
                }

        </script>
    </head>
    <body>
        {{include file="user.common.html"}}
         <div id="content" class='d-block-table'>
        {{include file="message.html"}}
            <div id="proj_details">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style="border: 1px solid #F0F0F0;" height="400" >
                    <tr><td height="50px"></td></tr>
                    <tr>
                            <td width="20%" valign='top'>

                                <table width="100%">
                                    <tr>
                                        <td valign='top'>
                                            <div class='d-block-table pb10 pL10 pR10'>
                                            <img class="pt5 pb10 pL10 pR10" width="200" height="200" alt="" src="resize.image.php?u={{$user->getId()}}&w=200&h=200" border='0'><br>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td>&nbsp;</td></tr>
                                    <tr>
                                        <td valign='top' style='margin-top:10px;'>
                                            <div class='d-block-table pb10 pL10 pR10 pt10'>
                                            <label><b>Last Updated CV Info: </b></label><br>
                                                <div>
                                                    {{assign var="user_cv" value=$user->getCV()}} 
                                                    <b>File Name: <a href="user.download.php?id={{$user_cv.id}}" target="_blank">{{$user_cv.file_name}}</a></b><br>
                                                    <b>Last Updated: {{$user_cv.upload_date}}</b>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="2%" valign='top'></td>
                            <td width="30%" valign='top'>
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">
                                    <tr><td height="10px"></td></tr>
                                    <tr>
                                        <th class="aleft pL5">User ID</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$user->getId()}} </td>
                                    </tr>
                                    <tr><td height="10px"></td></tr>
                                    <tr>
                                        <th class="aleft pL5">Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$user->getName()}}</td>
                                    </tr>
                                     <tr><td height="10px"></td></tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Title</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{foreach item=d from=$designations}}
                                                {{if $employee->getDesignationId() == $d->getId()}}
                                                    {{$d->getName()}}
                                                {{/if}}
                                            {{/foreach}}
                                        </td>
                                    </tr>
                                     <tr><td height="10px"></td></tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Practice</th>
                                         <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{foreach name=tech item=t from=$employee->getTechPractices()}}
                                                {{if $smarty.foreach.tech.last}}
                                                    {{$t->getTechPracticeName()}}
                                                {{else}}
                                                    {{$t->getTechPracticeName()}},
                                                {{/if}}
                                            {{/foreach}}
                                        </td>
                                    </tr>
                                     <tr><td height="10px"></td></tr>
                                     <tr>
                                        <th class="aleft pL5" width="150">Location</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getLocation()}} </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="58%" valign='top'>
                                 <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">
                                    <tr><td height="10px"></td></tr>
                                    <tr>
                                        <th class="aleft pL5">Phone</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{if $employee->getMobile1() != ""}}
                                                    {{$employee->getMobile1()}}
                                            {{else}}
                                            -
                                            {{/if}}
                                        </td>
                                    </tr>
                                    <tr><td height="10px"></td></tr>
                                    <tr>
                                        <th class="aleft pL5">Email</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                        {{$user->getEmail()}}
                                        </td>
                                    </tr>
                                     <tr><td height="10px"></td></tr>
                                    <tr>
                                        <th class="aleft pL5">Date of Joining</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">{{$employee->getDateOfJoin()}}</td>
                                    </tr>
                                </table>
                            </td>
                    </tr>
                </table>
            </div>
            <div id="tabs_user">
                <ul>
                     <li><a href="employee_details.php?id={{$user->getId()}}&utabId=1">Details</a></li>
                    <li><a href="project_history.php?id={{$user->getId()}}&utabId=2">Project History</a></li>
                    <li><a href="personal_details.php?id={{$user->getId()}}&utabId=3">Personal Information</a></li> 
                    <li><a href="passport_details.php?id={{$user->getId()}}&utabId=4">Passport / Visa</a></li> 
                    <!--<li><a href="salary_details.php?id={{$user->getId()}}&utabId=5">Salary History</a></li> -->
                    <li><a href="pto_details.php?id={{$user->getId()}}&utabId=6">PTO</a></li>
                </ul>
                <div id="tabs_user-1"></div>
            </div>

         </div>
    </body>
</html>