{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Register Member </title>
        {{include file="css.and.js.html"}}
        <script>
            $(function($){
				var currentDate = new Date();
                $("#txtDOB").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear()});
                $("#business_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        $("#calendar_manager").removeAttr("checked");
                        $("#minutes_manager").removeAttr("checked");
                        $("#report_manager").removeAttr("checked");
                    }
                });
                $("#calendar_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        jAlert("Please first uncheck the <b>Business Manager</b> role, to assign this role.","Member Profile");
                        $("#calendar_manager").removeAttr("checked");
                    } 
                });
                $("#minutes_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        jAlert("Please first uncheck the <b>Business Manager</b> role, to assign this role.","Member Profile");
                        $("#minutes_manager").removeAttr("checked");
                    } 
                });
                $("#report_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        jAlert("Please first uncheck the <b>Business Manager</b> role, to assign this role.","Member Profile");
                        $("#report_manager").removeAttr("checked");
                    } 
                });
				 $("#hr_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        jAlert("Please first uncheck the <b>Business Manager</b> role, to assign this role.","Member Profile");
                        $("#hr_manager").removeAttr("checked");
                    } 
                });
            });
        </script>
    </head>

    <body>
        {{include file="user.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10 pR10">
                    <h1>Register member</h1>
                        <div class='d-dashed'></div>
                </td></tr>
            </table>
            <br>
            <form action="user.register.action.php" method="post">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks' style='border:1px solid #f0f0f0'>
                    <tbody>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">First name *</td>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" name="first_name" value="{{$post.first_name}}" style="width: 25%;"></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Middle name</td>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" name="middle_name" value="{{$post.middle_name}}" style="width: 25%;"></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10" width="200">Last name</td>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="text" name="last_name" value="{{$post.last_name}}" style="width: 25%;"></td>
                    </tr>
					<tr>
						<th class="aleft pt3 pb5 pL10" width="150">Date of birth</th>
						<td class='pt3 pb5 pL10 bdrbtm4'>
							<input type="text" name="txtDOB" id="txtDOB" value="{{$post.txtDOB}}" class="datepicker" autocomplete='off' readonly />
						</td>
					</tr>
                    <!--
					<tr>
						<th class="aleft pt3 pb5 pL10" width="150">Gender</th>
						<td>
							<input type="radio" name="rGender" id="rMale" value="MALE"/>&nbsp;Male
							<input type="radio" name="rGender" id="rFemale" value="FEMALE"/>&nbsp;Female
						</td>
					</tr>
                    -->
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Email *</td>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="textbox" name="email" class="expand2halffit" value="{{$post.email}}"></td>
                    </tr>
                    {{if false}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Password *</td>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="password" name="password1" value=""></td>
                    </tr>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Re-enter password *</td>
                        <td class='pt3 pb5 pL10 bdrbtm4'><input type="password" name="password2" value=""></td>
                    </tr>
                    {{/if}}
                    <tr>
                        <th class="aleft pt3 pb5 pL10">Role</td>
                        <td class='pt3 pb5 pL10 bdrbtm4'>
					    {{if !$isBusinessManager}}
                            <input id="business_manager" type="checkbox" name="roles[]" value="business_manager"/>
                            <label for="business_manager">Business Manager</label>
					    {{/if}}
							<input type="checkbox" id="hr_manager" name="roles[]" value="hr_manager"/> 
                            <label for="hr_manager">HR Manager</label>
                            <input type="checkbox" id="calendar_manager" name="roles[]" value="calendar_manager"/> 
                            <label for="calendar_manager">Calendar Manager</label>
                            <input id="minutes_manager" type="checkbox" name="roles[]" value="minutes_manager"/>
                            <label for="minutes_manager">Minutes Manager</label>
                            <input type="checkbox" id="report_manager" name="roles[]" value="report_manager"/>
                            <label for="report_manager">Report Manager</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;" class='pt3 pb5'>
                            <input type="submit" value="Create member">
                            <a href="user.list.php" class="linkbutton" vText='Cancel'>Cancel and go back to member list</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
