{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Unblock Member</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="user.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <form action="user.unblock.action.php" method="post">
                <input type="hidden" name="id" value="{{$user->getId()}}">
                <input type="hidden" name="answer" value="yes">
                <div class='d-block-table'>
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr><td class="acenter bdrbtm4"><h1>Unblock user {{$sep}} {{$user->getName()}} ?</h1></td></tr>
                    <tr>
                        <td class="acenter pFactor1">
                            If the user is unblocked, then user {{$user->getName()}} can start using the Timesheet Application.<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="acenter">
                            <input type="submit" value="Yes, unblock">
                            <a href="user.list.php?id={{$user->getId()}}" class="linkbutton" vText='Cancel'>No, go back to user list</a>
                        </td>
                    </tr>
                </table>
                </div>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
