{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence:: Reset Password</title>
        {{include file="css.and.js.html"}}
    </head>

    <body>
        {{include file="user.common.html"}}
        <div id="content">
            {{include file="message.html"}}
            <form action="user.resetpassword.action.php" method="post">
                <input type="hidden" name="id" value="{{$user->getId()}}">
                <input type="hidden" name="answer" value="yes">
                <div class='d-block-table'>
                <table cellpadding="5" cellspacing="2" border="0" width="100%">
                    <tr><td class="acenter bdrbtm4"><h1>Reset password for {{$user->getName()}} ?</h1></td></tr>
                    <tr>
                        <td class="acenter pFactor1">
                            An email containing the new password will be sent to {{$user->getName()}}<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="acenter">
                            <input type="submit" value="Yes, reset password">
                            <a href="user.list.php" class="linkbutton" vText='Cancel'>No, go back to members list</a>
                        </td>
                    </tr>
                </table>
                </div>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>

</html>
