{{include file="doctype.html"}}
<html>
    <head>
        <title>Timesheet</title>
        {{if $fetch }}
        {{else}}
        {{include file="css.and.js.html"}}
        {{/if}}
        
    </head>
    <body>
        <link href="js/jPicker/css/jPicker-1.1.5.css" type="text/css" rel="stylesheet"/>
        <script src="js/jPicker/jpicker-1.1.5.js"></script>
        {{if $fetch }}
        <script src="js/common.js" type="text/javascript" language="javascript"></script>
        {{else}}
        {{include file="colorcode.common.html"}}
        <div id="nav2">
            <a href="colorcode.list.php" class="linkbutton">Calendar color selection</a>
        </div>
        {{/if}}
        <script>
            jQuery(function($){
                $('input[type=text]').each(function(){
                    $(this).removeClass("ui-widget-content");
                    colorPicker(this.id);
                }); 
                $("#btnAdd").click(function() {
                    submitColors();
                });
                function colorPicker(id) {
                    $("#"+id).jPicker({
                        window:{
                                expandable: true,
                                title:'Calendar Holiday Color',
                                position:{
                                    x:0,
                                    y:0
                                }
                        },
                        images:{
                                clientPath:'js/jPicker/images/'
                        },
                        color:{
                            active:new $.jPicker.Color({
                                ahex:'993300ff'
                            })
                        }
                    });
                }

            });
            function submitColors() {
                {{if $fetch}}
                    var data = "fetch=1&" + $("#frmColor").serialize();
                    $.ajax({
                        url:    'user.colorcode.save.action.php',
                        type:   'POST',
                        data:   data,
                        cache:  false,
                        error:  function() {
                                    jAlert("Failed load calendar colors codes.","Color Code Manager");
                                },
                        success: function(v) { 
                                    loadSetup('user.colorcode.list.php','Color code Manager');
                                 }
                     
                    }); 
                {{else}}
                    $("#frmColor").submit();
                {{/if}}
            }
        </script>
        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            {{if $fetch }}
            {{else}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td class="pt3 pb5 pL10">
                    <h1>Member Calendar Color Selection</h1>
                    <div class='d-dashed'></div>
                </td></tr>
            </table>
            {{/if}}
            <br>
            <form method="post" action="user.colorcode.save.action.php" id="frmColor" name="frmColor">
                <table cellpadding="0" cellspacing="0" border="0" width="60%" highlight="off" id="tbl_tasks" style="border: 1px solid #f0f0f0">
                    <tr>
                        <th class="aleft pt3 pb5 pL10">User Name</th>
                        <th class="aleft pt3 pb5 pL10">Text Color</th>
                        <th class="aleft pt3 pb5 pL10">Background Color</th>
                    </tr>
                    {{foreach item=c from=$colorcode}}
                    <input type="hidden" name="user_ids[]" value="{{$c.id}}"/>
                    <tr>
                        <th class="aleft pt3 pb5 pL10">{{$c.full_name}}</th>
                        <td class="pt3 pb5 pL10 bdrbtm4"><input type="text" name="txtCalText-{{$c.id}}" id="txtCalText-{{$c.id}}" value="{{$c.cal_text_color}}"/> </td>
                        <td class="pt3 pb5 pL10 bdrbtm4">
                            <input type="text" name="txtCalBackground-{{$c.id}}" id="txtCalBackground-{{$c.id}}" value="{{$c.cal_background_color}}"/> 
                        </td>
                    </tr>
                    {{/foreach}}
                    <tr>
                        <td colspan="3" align="center" class="pt3 pb5 pL10 bdrbtm4">
                            <input type="button" name="btnAdd" id="btnAdd" value="Save member colors"/>
                            <a href="setup.list.php" class="linkbutton" vText='Cancel'>Cancel go back to setup list</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>

