{{include file="header.html" tab="users"}}
{{if $loginuser->isAdmin() || $loginuser->isHRManager()}}
<div id="nav2">
    <a href="user.list.php" class="linkbutton">View all member</a>
    <a href="team.contacts.php" class="linkbutton">Addressbook</a>
    <a href="user.register.php" class="linkbutton">Register member</a>
</div>
{{else}}
<!--
<div id="nav2">
    <a href="team.contacts.php" class="linkbutton">Addressbook</a>
</div>
-->
{{/if}}

