{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence::Member List Report</title>
        {{include file="css.and.js.html"}}
        <script>
            jQuery(function($){
                $("#frm_filter input[type=submit]").hide();
                $("#chkBlocked").click(function(){
                    chk = $("#chkBlocked").is(":checked") ? $("#chkBlocked").val() : 0;
                    qs = "?blocked="+ chk;
                    window.location.href = "user.list.report.php" + qs;
                });
            });
        </script>
    </head>

    <body>
        {{include file="user.list.report.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}} 
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="20%" class="pt3 pb5 pL10">
                        <h1>Team Members</h1>
                    </td>
                    <td class="aright vamiddle pR5" width="80%">
                        <!--
                        <form action="user.list.php" method="get" id="frm_filter">
                            <input type="checkbox" name="chkBlocked" id="chkBlocked" value="1" {{if $blocked eq 1}}checked{{/if}}/> Show blocked members
                            <input type="submit" value="Show blocked users">
                        </form>
                        -->
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                        <!-- <a id="export" href="user.list.report.php?excel=1">Export to excel</a> -->
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br> 
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <!--
            {{if $blocked eq 1}}
                <tr>
                    <td colspan='2'><b>Note: <em><span style="color:#FF0000;">*</span> indicates, blocked members.</em></b></td>
                </tr>
            {{/if}}
             -->
                <tr>
                    <td>
                        <span class='active_one'><b>Total Active Members: {{$member->GetTotalActiveUsers()}}</b></span>
                        &nbsp;&nbsp;
                        <span class='inactive_one'><b>Total Blocked Members: {{$member->GetTotalBlockedUsers()}}</b></span>
                    </td>
                    <td align='right' class='pR5'>
                        <a href="standard.report.list.php" class="linkbutton" vText='Cancel'>Go back to standard reports</a>
                    </td>
                </tr>
            </table>
            {{include file="table.user.list.report.html"}}
			</div>
        {{include file="footer.html"}}
    </body>

</html>
