{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence::Member Edit</title>
        {{include file="css.and.js.html"}}
        <style>
            input[type="text"],
            input[type="file"],
            input[type="password"],
            textarea,select {
                width: 250px;
            }
        </style>
        <script>
            var index = 9000;
            $(function($){

                var tab = '{{$tab}}';
                $("#eInfo").hide();
                $("#pInfo").hide();
                $("#cInfo").hide();
                $("#passInfo").hide();
                $("#{{$tab}}").show();

                $("#tabEmpInfo").click(function(){
                    $("#eInfo").show();
                    $("#pInfo").hide();
                    $("#cInfo").hide();
                    $("#passInfo").hide();

                    $("#liEmpInfo").addClass("active");
                    $("#liPInfo").removeClass("active");
                    $("#liCInfo").removeClass("active");
                    $("#liPassInfo").removeClass("active");

                    $("#tab").val('eInfo');
                });

                $("#tabPInfo").click(function(){
                    $("#pInfo").show();
                    $("#eInfo").hide();
                    $("#cInfo").hide();
                    $("#passInfo").hide();

                    $("#liPInfo").addClass("active");
                    $("#liEmpInfo").removeClass("active");
                    $("#liCInfo").removeClass("active");
                    $("#liPassInfo").removeClass("active");

                    $("#tab").val('pInfo');
                });

                $("#tabCInfo").click(function(){
                    $("#cInfo").show();
                    $("#pInfo").hide();
                    $("#eInfo").hide();
                    $("#passInfo").hide();

                    $("#liCInfo").addClass("active");
                    $("#liPInfo").removeClass("active");
                    $("#liEmpInfo").removeClass("active");
                    $("#liPassInfo").removeClass("active");

                    $("#tab").val('cInfo');
                });

                $("#tabPassInfo").click(function(){
                    $("#passInfo").show();
                    $("#pInfo").hide();
                    $("#eInfo").hide();
                    $("#cInfo").hide();

                    $("#liPassInfo").addClass("active");
                    $("#liCInfo").removeClass("active");
                    $("#liPInfo").removeClass("active");
                    $("#liEmpInfo").removeClass("active");

                    $("#tab").val('passInfo');
                });
                
				var currentDate = new Date();
                $("#txtDOB").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
				$("#txtDateOfJoining").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
				$("#txtDateOfConfirm").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
				$("#txtDateOfResign").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
				$("#txtDateOfIssue").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
				$("#txtDateOfExpiry").datepicker({changeMonth: true, changeYear: true,yearRange: currentDate.getFullYear()+':'+(currentDate.getFullYear()+20),dateFormat:'dd-M-yy'});

                {{if $employee->getVisaInfo()}}
                {{foreach name=x item=v from=$employee->getVisaInfo()}}
				$("#vissue_date-{{$smarty.foreach.x.iteration}}").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
				$("#vexpiry_date-{{$smarty.foreach.x.iteration}}").datepicker({changeMonth: true, changeYear: true,yearRange: currentDate.getFullYear()+':'+(currentDate.getFullYear()+20),dateFormat:'dd-M-yy'});
                {{/foreach}} 
                {{else}}
				$("#vissue_date-1").datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
				$("#vexpiry_date-1").datepicker({changeMonth: true, changeYear: true,yearRange: currentDate.getFullYear()+':'+(currentDate.getFullYear()+20),dateFormat:'dd-M-yy'});
                {{/if}}
                $("#business_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        $("#calendar_manager").removeAttr("checked");
                        $("#minutes_manager").removeAttr("checked");
                        $("#report_manager").removeAttr("checked");
                        $("#hr_manager").removeAttr("checked");
                    }
                });
                $("#calendar_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        jAlert("Please first uncheck the <b>Business Manager</b> role, to assign this role.","Member Profile");
                        $("#calendar_manager").removeAttr("checked");
                    } 
                });
                $("#minutes_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        jAlert("Please first uncheck the <b>Business Manager</b> role, to assign this role.","Member Profile");
                        $("#minutes_manager").removeAttr("checked");
                    } 
                });
                $("#report_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        jAlert("Please first uncheck the <b>Business Manager</b> role, to assign this role.","Member Profile");
                        $("#report_manager").removeAttr("checked");
                    } 
                });
                $("#hr_manager").click(function() {
                    if($("#business_manager").is(":checked")){
                        jAlert("Please first uncheck the <b>Business Manager</b> role, to assign this role.","Member Profile");
                        $("#hr_manager").removeAttr("checked");
                    } 
                });

                $("#txtZip").keydown(function(event) { 
                    onlyNumbers(event);   
                });
                $("#txtPhone").keydown(function(event){
                    //onlyNumbers(event);   
                });
                $("#txtMobile").keydown(function(event){
                    //onlyNumbers(event);   
                });

                $("#is_trainer-yes").click(function(){
                    if($(this).val() == '1') {
                        $("#tr-trndelvry-1").show();
                        $("#tr-trndelvry-2").show();
                    }
                });
                $("#is_trainer-no").click(function(){
                     $("#tr-trndelvry-1").hide();
                     $("#tr-trndelvry-2").hide();
                });

                $("#btnAddMore").click(function() {
                    var tds = $('#tr-0').html().replace("vcountry-0","vcountry-"+index);
                    tds = tds.replace("visa_id-0","visa_id-"+index);
                    tds = tds.replace("visa_type-0","visa_type-"+index);
                    tds = tds.replace("vissue_date-0","vissue_date-"+index);
                    tds = tds.replace("vexpiry_date-0","vexpiry_date-"+index);
                    tds = tds.replace("vplace_of_issue-0","vplace_of_issue-"+index);
                    tds = tds.replace("img-0","img-"+index);
                    tds = tds.replace("removeRow()","removeRow("+index+")");
                    $("#vAdd-more").before("<tr id='tr-"+index+"'>"+tds+"</tr>");
				    $("#vissue_date-"+index).datepicker({changeMonth: true, changeYear: true,yearRange: '1950:'+currentDate.getFullYear(),dateFormat:'dd-M-yy'});
				    $("#vexpiry_date-"+index).datepicker({changeMonth: true, changeYear: true,yearRange: currentDate.getFullYear()+':'+(currentDate.getFullYear()+20),dateFormat:'dd-M-yy'});
                    index++;
                });
    
            });
            function removeRow(id) {
                $("#tr-"+id).remove();
            }
            function onlyNumbers(event) {
                if ( event.keyCode == 46 || event.keyCode == 8 ) { 
                    } else { 
                        if (event.keyCode < 95) { 
                            if (event.keyCode < 48 || event.keyCode > 57 ) { 
                                event.preventDefault(); 
                            } 
                        } else { 
                            if (event.keyCode < 96 || event.keyCode > 105 ) { 
                                event.preventDefault(); 
                            } 
                        } 
                    } 
            }
            function checkEmail(id, inputvalue){    
                if(inputvalue != "") {
                    var pattern=/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
                    if(pattern.test(inputvalue)){         
                        
                    }else{   
                        jAlert("Invalid email address","Member Profile"); 
                        $("#"+id).focus();
                    }
                }
            }
        </script>
    </head>

    <body>
        {{include file="user.common.html"}}

        <div id="content" class='d-block-table'>
            {{include file="message.html"}}
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td class='pt3 pb5 pL10'>
                        <h1>Edit member:: {{$user->getFullName()}}</h1>
                        <div id='header-menu' style="float:right">
                            <ul id='menu-level-1' class='menu-ul'>
                                <li id='liEmpInfo' {{if $tab == 'eInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabEmpInfo'>Employee Info</a>
                                </li>
                                <li id='liPInfo' {{if $tab == 'pInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabPInfo'>Personal Info</a>
                                </li>
                                <li id='liCInfo' {{if $tab == 'cInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabCInfo'>Communication Info</a>
                                </li>
                                <li id='liPassInfo' {{if $tab == 'passInfo'}}class='active'{{/if}}>
                                    <a href='javascript:;' id='tabPassInfo'>Passport Info</a>
                                </li>
                            </ul>
                        </div>
                        <div style='clear:both;'></div>
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br>
            <form action="user.edit.action.php" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{$user->getId()}}">
                <input type="hidden" name="tab" id='tab' value="{{$tab}}">

                <table cellpadding="0" cellspacing="0" border="0" width="100%" id='tbl_tasks'>
                    <tr>
                        <!-- Left Side -->
				        <td width="10%" valign='top'>
                            <table width="100%">
                                <tr>
                                    <td valign='top'>
                                        <div class='d-block-table pb10 pL10 pR10'>
                                        <img class="pt5 pb10 pL10 pR10" width="200" height="200" alt="" src="resize.image.php?u={{$user->getId()}}&w=200&h=200" border='0'><br>
                                        <em><b>Passport size photo resolution 200x200</b></em><br><br><br>
                                        <label><b>Picture File: </b></label><br>
                                        <input id="document_file" type="file" name="file[]"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td valign='top' style='margin-top:10px;'>
                                        <div class='d-block-table pb10 pL10 pR10 pt10'>
                                        <label><b>Upload Latest CV <i>(GSS Format)</i>: </b></label><br>
                                        <input id="user_cv" type="file" name="file_cv[]"/><br><br>
                                        <label><b>Last Updated CV Info: </b></label><br>
                                            <div>
                                                {{assign var="user_cv" value=$user->getCV()}} 
                                                <b>File Name: <a href="user.download.php?id={{$user_cv.id}}" target="_blank">{{$user_cv.file_name}}</a></b><br>
                                                <b>Last Updated: {{$user_cv.upload_date}}</b>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!--// End Left Side -->

                        <!-- Right Side -->
		                <td width="45%" valign='top'>
                            <!-- Personal Info --> 
                            <div id='pInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">

                                    <tr>
                                        <th class="aleft pL5" width="200">Member Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4"> {{$user->getFullName()}} </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="200">Email</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtUserName" id="txtUserName" value="{{$user->getEmail()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">First Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtFirstName" id="txtFirstName" value="{{$user->getFirstName()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Middle Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtMiddleName" id="txtMiddleName" value="{{$user->getMiddleName()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Last Name</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtLastName" id="txtLastName" value="{{$user->getLastName()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Birth</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtDOB" id="txtDOB" value="{{$user->getDateOfBirth()}}" class="datepicker"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Nationality</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtNationality" id="txtNationality" value="{{$employee->getNationality()}}" class="datepicker" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Role</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">   
                                            {{if $loginuser->getId() ==  $user->getId() && $isBusinessManager}}
                                            <input type="hidden" name="roles[]" value="business_manager"/>
                                            <label style='color:#0066cb;font-weight:bold;'>Business Manager</label>
                                            {{else}}
                                            <input id="business_manager" type="checkbox" name="roles[]" value="business_manager" {{foreach item=role_list from=$user->getRoles()}}{{if $role_list == 'business_manager'}} checked="checked" {{/if}}{{/foreach}}/>
                                            <label for="business_manager">Business Manager</label>
                                            {{/if}}
                                            <input id="smt_member" type="checkbox" name="roles[]" value="smt_member" {{foreach item=role_list from=$user->getRoles()}}{{if $role_list == 'smt_member'}} checked="checked" {{/if}}{{/foreach}}/>
                                            <label for="smt_member">SMT Member</label>
                                            <input type="checkbox" id="hr_manager" name="roles[]" value="hr_manager" {{foreach item=role_list from=$user->getRoles()}}{{if $role_list == 'hr_manager'}} checked="checked" {{/if}}{{/foreach}}/>
                                            <label for="hr_manager">HR Manager</label>
                                            <input type="checkbox" id="calendar_manager" name="roles[]" value="calendar_manager" {{foreach item=role_list from=$user->getRoles()}}{{if $role_list == 'calendar_manager'}} checked="checked" {{/if}}{{/foreach}}/> 
                                            <label for="calendar_manager">Calendar Manager</label>
                                            <input id="minutes_manager" type="checkbox" name="roles[]" value="minutes_manager" {{foreach item=role_list from=$user->getRoles()}}{{if $role_list == 'minutes_manager'}} checked="checked" {{/if}}{{/foreach}}/>
                                            <label for="minutes_manager">Minutes Manager</label>
                                            <input type="checkbox" id="report_manager" name="roles[]" value="report_manager" {{foreach item=role_list from=$user->getRoles()}}{{if $role_list == 'report_manager'}} checked="checked" {{/if}}{{/foreach}}/>
                                            <label for="report_manager">Report Manager</label>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>
                            
                            <!-- Communication Info --> 
                            <div id='cInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">
                                    
                                    <tr>
                                        <th class="aleft pL5">Personal Email</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtPersonalEmail" id="txtPersonalEmails" value="{{$employee->getPersonalEmail()}}" onBlur="checkEmail(this.id,this.value);"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Address</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <textarea name="txtAddress" id="txtAddress" rows="3">{{$employee->getAddress()}}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">City</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtCity" id="txtCity" value="{{$employee->getCity()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Zip</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtZip" id="txtZip" value="{{$employee->getZip()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">State</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtState" id="txtState" value="{{$employee->getState()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Country</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <select name="country_id" id="country_id">
                                                <option value="0"> -- Select Country --</option>
                                                {{foreach item=c from=$country}}
                                                    <option value="{{$c.country_id}}" {{if $employee->getCountryId() eq $c.country_id}}selected{{/if}}>{{$c.country_name}}</option>
                                                {{/foreach}}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Mobile 1</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtMobile1" id="txtMobile1" value="{{$employee->getMobile1()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Mobile 2</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtMobile2" id="txtMobile2" value="{{$employee->getMobile2()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Home Phone</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtPhone1" id="txtPhone1" value="{{$employee->getPhone1()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Office Phone</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtPhone2" id="txtPhone2" value="{{$employee->getPhone2()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Skype ID</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtSkypeId" id="txtSkypeId" value="{{$employee->getSkypeId()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Yahoo ID</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtYahooId" id="txtYahooId" value="{{$employee->getYahooId()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">MSN ID</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtMsnId" id="txtMsnId" value="{{$employee->getMsnId()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Gtalk ID</th>	
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtGtalkId" id="txtGtalkId" value="{{$employee->getGtalkId()}}"/>
                                        </td>
                                    </tr>

                                </table>
                            </div>

                            <!-- Passport Info --> 
                            <div id='passInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">

                                    <tr>
                                        <th class="aleft pL5" width="150">Passport Number</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtPassportNumber" id="txtPassportNumber" value="{{$employee->getPassportNumber()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Issue</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtDateOfIssue" id="txtDateOfIssue" value="{{$employee->getPassportIssueDate()}}" class="datepicker"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Expiry</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtDateOfExpiry" id="txtDateOfExpiry" value="{{$employee->getPassportExpiryDate()}}" class="datepicker"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Place of issue</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtPlaceOfIssue" id="txtPlaceOfIssue" value="{{$employee->getPassportPlaceOfIssue()}}" class="datepicker"/>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th class="aleft pL5" width="150">Country Of Residence</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <select name="country_of_residance" id="country_of_residance">
                                                <option value="0"> -- Select Country --</option>
                                                {{foreach item=c from=$country}}
                                                    <option value="{{$c.country_id}}" {{if $employee->getPassportCountryOfResidence() eq $c.country_id}}selected{{/if}}>{{$c.country_name}}</option>
                                                {{/foreach}}
                                            </select>
                                        </td>
                                    </tr>

                                    <!-- Passport Visa Info -->
                                     <tr>
                                        <td colspan='2'>&nbsp;</td>
                                     </tr>
                                     <tr>
                                        <th class="acenter pL5" colspan='2'>
                                            Visa Information
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
							                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">
                                                <tr>
                                                    <th class='aleft'>Country</th>
                                                    <th class='aleft'>Visa Type</th>
                                                    <th class='aleft'>Issue Date<br><small>(MM-DD-YYYY)</small></th>
                                                    <th class='aleft'>Expiry Date<br><small>(MM-DD-YYYY)</small></th>
                                                    <th class='aleft'>Place Of Issue</th>
                                                    <th>&nbsp;</th>
                                                </tr>

                                                <tr id='tr-0' style='display:none;'>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='hidden' name='visa_id[]' id='visa_id-0' value='0'/>
                                                        <input type='text' name='vcountry[]' id='vcountry-0' style='width:150px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='visa_type[]' id='visa_type-0' style='width:150px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vissue_date[]' id='vissue_date-0' style='width:110px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vexpiry_date[]' id='vexpiry_date-0' style='width:110px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vplace_of_issue[]' id='vplace_of_issue-0' style='width:150px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                                        <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" onclick="removeRow()" id="img-0">
                                                    </td>
                                                </tr>
                                                {{if $employee->getVisaInfo()}}
                                                {{foreach name=x item=v from=$employee->getVisaInfo()}}
                                                <tr id='tr-{{$smarty.foreach.x.iteration}}'>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='hidden' name='visa_id[]' id='visa_id-{{$smarty.foreach.x.iteration}}' value="{{$v->getVisaId()}}"/>
                                                        <input type='text' name='vcountry[]' id='vcountry-{{$smarty.foreach.x.iteration}}' style='width:150px;' value="{{$v->getVisaCountry()}}"/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='visa_type[]' id='visa_type-{{$smarty.foreach.x.iteration}}' style='width:150px;' value="{{$v->getVisaType()}}"/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vissue_date[]' id='vissue_date-{{$smarty.foreach.x.iteration}}' style='width:110px;' value="{{$v->getVisaIssueDate()}}"/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vexpiry_date[]' id='vexpiry_date-{{$smarty.foreach.x.iteration}}' style='width:110px;' value="{{$v->getVisaExpiryDate()}}"/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vplace_of_issue[]' id='vplace_of_issue-{{$smarty.foreach.x.iteration}}' style='width:150px;' value="{{$v->getVisaPlaceOfIssue()}}"/>
                                                    </td>
                                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                                        <img width="17" border="0" align="absmiddle" src="img/icons/nocheckmark.png" onclick="removeRow({{$smarty.foreach.x.iteration}})" id="img-{{$smarty.foreach.x.iteration}}">
                                                    </td>
                                                </tr>
                                                {{/foreach}}
                                                {{else}}
                                                <tr id='tr-1'>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='hidden' name='visa_id[]' id='visa_id-1' value='0'/>
                                                        <input type='text' name='vcountry[]' id='vcountry-1' style='width:150px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='visa_type[]' id='visa_type-1' style='width:150px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vissue_date[]' id='vissue_date-1' style='width:110px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vexpiry_date[]' id='vexpiry_date-1' style='width:110px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 bdrbtm4">
                                                        <input type='text' name='vplace_of_issue[]' id='vplace_of_issue-1' style='width:150px;'/>
                                                    </td>
                                                    <td class="pt3 pb5 pL10 bdrbtm4">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                {{/if}}
                                                <tr id='vAdd-more'>
                                                    <td class="pt3 pb5 pL10 pR5 bdrbtm4 aright" colspan='5'>
                                                    <input type="button" id="btnAddMore" name='btnAddMore' value="Add more visa info" class="buttonNew">    
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Visa Info -->
                                </table>
                            </div>

                            <!-- Employee Info --> 
                            <div id='eInfo'>
							    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px solid #f0f0f0">
                                    <tr>
                                        <th class="aleft pL5">Employee Code</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                        <input type="text" name="empoyee_code" id="employee_code" class="ui-widget-content ui-corner-all" value="{{$employee->getEmployeeCode()}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Employee Type</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <select name="empoyee_type_id" id="empoyee_type_id">
                                                <option value="0"> -- Select Employee Type --</option>
	                                            {{foreach item=e from=$employee_types}}
                                                    <option value="{{$e->getId()}}" {{if $employee->getEmployeeTypeId() eq $e->getId()}}selected{{/if}}>{{$e->getName()}}</option>
                                                {{/foreach}}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Joining</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtDateOfJoining" id="txtDateOfJoining" value="{{$employee->getDateOfJoin()}}" class="datepicker"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Date Of Confirmation</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtDateOfConfirm" id="txtDateOfConfirm" value="{{$employee->getDateOfConfirmation()}}" class="datepicker"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="250">Date Of Termination / Resignation</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <input type="text" name="txtDateOfResign" id="txtDateOfResign" value="{{$employee->getDateOfResign()}}" class="datepicker"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Location</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <select name="location_id" id="location_id">
                                                <option value="0"> -- Select Location --</option>
	                                            {{foreach item=e from=$employee_location}}
                                                    <option value="{{$e->getId()}}" {{if $employee->getLocationId() eq $e->getId()}}selected{{/if}}>{{$e->getName()}}</option>
                                                {{/foreach}}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5" width="150">Designation</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <select name="designation_id" id="designation_id">
                                                <option value="0"> -- Select Designation --</option>
                                                {{foreach item=d from=$designations}}
                                                    <option value="{{$d->getId()}}" {{if $employee->getDesignationId() eq $d->getId()}}selected{{/if}}>{{$d->getName()}}</option>
                                                {{/foreach}}
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Department</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <!-- 
                                            Rob asked to remove multi-department support as of now (11-June-2012), we will do it later, if required.
                                            {{foreach item=d from=$departments}}
                                                    <input type="checkbox" name="depatment_ids[]" id="depatment_id-{{$d->getId()}}" value="{{$d->getId()}}" {{foreach item=a from=$employee->getDepartments()}} {{if $a->getDepartmentId() eq $d->getId()}}checked{{/if}}{{/foreach}}/>
                                                    <label for="depatment_id-{{$d->getId()}}">{{$d->getName()}}</label>
                                            {{/foreach}}
                                            -->
                                            <select name="depatment_id" id="depatment_id">
                                                <option value="0"> -- Select Department --</option>
                                                {{foreach item=d from=$departments}}
                                                    <option value="{{$d->getId()}}" {{if $employee->getDepartmentId() eq $d->getId()}}selected{{/if}}>{{$d->getName()}}</option>
                                                {{/foreach}}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Is Timecard Required?</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                        <input type="radio" name="is_timesheet" id="is_timesheet-yes" class="ui-widget-content ui-corner-all" value="1" {{if $employee->IsTimesheet() == '1'}}checked{{/if}}/><label for='is_timesheet-yes'>Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="is_timesheet" id="is_timesheet-no" class="ui-widget-content ui-corner-all" value="0" {{if $employee->IsTimesheet() == '0'}}checked{{/if}}/><label for='is_timesheet-no'>No</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="aleft pL5">Is Trainer?</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                        <input type="radio" name="is_trainer" id="is_trainer-yes" class="ui-widget-content ui-corner-all" value="1" {{if $employee->IsTrainer() == '1'}}checked{{/if}}/><label for='is_trainer-yes'>Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="is_trainer" id="is_trainer-no" class="ui-widget-content ui-corner-all" value="0" {{if $employee->IsTrainer() == '0'}}checked{{/if}}/><label for='is_trainer-no'>No</label>
                                        </td>
                                    </tr>

                                    <!-- Training Delivery -->
                                    <!--
                                    <tr id="tr-trndelvry" style='{{$trainer_style}}'>
                                        <th class="aleft pL5">Training Delivery</th>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            {{foreach item=t from=$training_skills}}
                                                    <input type="checkbox" name="training_skill_ids[]" id="training_skill_id-{{$t->getId()}}" value="{{$t->getId()}}" {{foreach item=a from=$employee->getTrainingSkills()}} {{if $a->getTrainingSkillId() eq $t->getId()}}checked{{/if}}{{/foreach}}/>
                                                    <label for="training_skill_id-{{$t->getId()}}">{{$t->getName()}}</label>
                                            {{/foreach}}
                                        </td>
                                    </tr>
                                    --->
                                    <tr id='tr-trndelvry-1' style='{{$trainer_style}}'>
                                        <th class="acenter pL5" colspan='2'>
                                            Training Delivery
                                        </th>
                                    </tr>
                                    <tr id='tr-trndelvry-2' style='{{$trainer_style}}'>
                                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <table width="100%">
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%">
                                                            <tr>
                                                                <th class='aleft'>Training</th>
                                                                <th width='100px'>Expert</th>
                                                                <th width='100px'>Experienced</th>
                                                                <th width='100px'>Trained</th>
                                                            </tr>
                                                            {{foreach name=tech item=t from=$training_skills}}
                                                            <tr>
                                                                <td>
                                                                    <input type="checkbox" name="training_skill_ids[]" id="training_skill_id-{{$t->getId()}}" value="{{$t->getId()}}" {{foreach item=a from=$employee->getTrainingSkills()}} {{if $a->getTrainingSkillId() eq $t->getId()}}checked{{/if}}{{/foreach}}/>
                                                                    <label for="training_skill_id-{{$t->getId()}}">{{$t->getName()}}</label>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="training_skill[{{$t->getId()}}]" id="training_skill-expert-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="EXPERT" {{foreach item=a from=$employee->getTrainingSkills()}} {{if $a->getTrainingSkillId() == $t->getId() && $a->getTrainingSkillLevel() == 'EXPERT'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="training_skill[{{$t->getId()}}]" id="training_skill-exp-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="EXPERIENCED" {{foreach item=a from=$employee->getTrainingSkills()}} {{if $a->getTrainingSkillId() == $t->getId() && $a->getTrainingSkillLevel() == 'EXPERIENCED'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="training_skill[{{$t->getId()}}]" id="training_skill-trained-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="TRAINED" {{foreach item=a from=$employee->getTrainingSkills()}} {{if $a->getTrainingSkillId() == $t->getId() && $a->getTrainingSkillLevel() == 'TRAINED'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                            </tr>
                                                            {{/foreach}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Training Delivery -->

                                    <!-- Technology Practice -->
                                    <tr>
                                        <th class="acenter pL5" colspan='2'>
                                            Technology Practice
                                        </th>
                                    </tr>
                                    <tr id='tr-techpractice'>
                                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <table width="100%">
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%">
                                                            <tr>
                                                                <th class='aleft'>Technology</th>
                                                                <!--
                                                                <th width='100px'>Expert</th>
                                                                <th width='100px'>Experienced</th>
                                                                <th width='100px'>Trained</th>
                                                                -->
                                                            </tr>
                                                            {{foreach name=tech item=t from=$tech_practice}}
                                                            <tr>
                                                                <td>
                                                                    <input type="checkbox" name="tech_practice_ids[]" id="tech_practice_id-{{$t->getId()}}" value="{{$t->getId()}}" {{foreach item=a from=$employee->getTechPractices()}} {{if $a->getTechPracticeId() eq $t->getId()}}checked{{/if}}{{/foreach}}/>
                                                                    <label for="tech_practice_id-{{$t->getId()}}">{{$t->getName()}}</label>
                                                                </td>
                                                                <!--
                                                                <td class='acenter'>
                                                                    <input type="radio" name="tech_practice[{{$t->getId()}}]" id="tech_practice-expert-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="EXPERT" {{foreach item=a from=$employee->getTechPractices()}} {{if $a->getTechPracticeId() == $t->getId() && $a->getTechPracticeLevel() == 'EXPERT'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="tech_practice[{{$t->getId()}}]" id="tech_practice-exp-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="EXPERIENCED" {{foreach item=a from=$employee->getTechPractices()}} {{if $a->getTechPracticeId() == $t->getId() && $a->getTechPracticeLevel() == 'EXPERIENCED'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="tech_practice[{{$t->getId()}}]" id="tech_practice-trained-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="TRAINED" {{foreach item=a from=$employee->getTechPractices()}} {{if $a->getTechPracticeId() == $t->getId() && $a->getTechPracticeLevel() == 'TRAINED'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                -->
                                                            </tr>
                                                            {{/foreach}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Technology Practice -->

                                    <!-- Product Knowledge -->
                                    <tr>
                                        <th class="acenter pL5" colspan='2'>
                                            Product Knowledge
                                        </th>
                                    </tr>
                                    <tr id='tr-prodknwd'>
                                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <table width="100%">
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%">
                                                            <tr>
                                                                <th class='aleft'>Product</th>
                                                                <th width='100px'>Expert</th>
                                                                <th width='100px'>Experienced</th>
                                                                <th width='100px'>Trained</th>
                                                            </tr>
                                                            {{foreach name=prod item=p from=$prod_knowledge}}
                                                            <tr>
                                                                <td>
                                                                    <input type="checkbox" name="prod_knowledge_ids[]" id="prod_knowledge_id-{{$p->getId()}}" value="{{$p->getId()}}" {{foreach item=a from=$employee->getProdutKnowledges()}} {{if $a->getProdutKnowledgeId() eq $p->getId()}}checked{{/if}}{{/foreach}}/>
                                                                    <label for="prod_knowledge_id-{{$p->getId()}}">{{$p->getName()}}</label>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="prod_level[{{$p->getId()}}]" id="prod_level-expert-{{$p->getId()}}" class="ui-widget-content ui-corner-all" value="EXPERT" {{foreach item=a from=$employee->getProdutKnowledges()}} {{if $a->getProdutKnowledgeId() == $p->getId() && $a->getProdutKnowledgeLevel() == 'EXPERT'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="prod_level[{{$p->getId()}}]" id="prod_level-exp-{{$p->getId()}}" class="ui-widget-content ui-corner-all" value="EXPERIENCED" {{foreach item=a from=$employee->getProdutKnowledges()}} {{if $a->getProdutKnowledgeId() == $p->getId() && $a->getProdutKnowledgeLevel() == 'EXPERIENCED'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="prod_level[{{$p->getId()}}]" id="prod_level-trained-{{$p->getId()}}" class="ui-widget-content ui-corner-all" value="TRAINED" {{foreach item=a from=$employee->getProdutKnowledges()}} {{if $a->getProdutKnowledgeId() == $p->getId() && $a->getProdutKnowledgeLevel() == 'TRAINED'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                            </tr>
                                                            {{/foreach}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Product Knowledge -->

                                    <!-- Technology Skills -->
                                    <tr>
                                        <th class="acenter pL5" colspan='2'>
                                            Technology Skills
                                        </th>
                                    </tr>
                                    <tr id='tr-techskills'>
                                        <td class="pt3 pb5 pL10 bdrbtm4">&nbsp;</td>
                                        <td class="pt3 pb5 pL10 bdrbtm4">
                                            <table width="100%">
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%">
                                                            <tr>
                                                                <th class='aleft'>Technology</th>
                                                                <th width='100px'>Expert</th>
                                                                <th width='100px'>Experienced</th>
                                                                <th width='100px'>Trained</th>
                                                            </tr>
                                                            {{foreach name=tech item=t from=$tech_skills}}
                                                            <tr>
                                                                <td>
                                                                    <input type="checkbox" name="tech_skills_ids[]" id="tech_skills_id-{{$t->getId()}}" value="{{$t->getId()}}" {{foreach item=a from=$employee->getTechSkills()}} {{if $a->getTechSkillId() eq $t->getId()}}checked{{/if}}{{/foreach}}/>
                                                                    <label for="tech_skills_id-{{$t->getId()}}">{{$t->getName()}}</label>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="tech_skills[{{$t->getId()}}]" id="tech_skills-expert-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="EXPERT" {{foreach item=a from=$employee->getTechSkills()}} {{if $a->getTechSkillId() == $t->getId() && $a->getTechSkillLevel() == 'EXPERT'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="tech_skills[{{$t->getId()}}]" id="tech_skills-exp-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="EXPERIENCED" {{foreach item=a from=$employee->getTechSkills()}} {{if $a->getTechSkillId() == $t->getId() && $a->getTechSkillLevel() == 'EXPERIENCED'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                                <td class='acenter'>
                                                                    <input type="radio" name="tech_skills[{{$t->getId()}}]" id="tech_skills-trained-{{$t->getId()}}" class="ui-widget-content ui-corner-all" value="TRAINED" {{foreach item=a from=$employee->getTechSkills()}} {{if $a->getTechSkillId() == $t->getId() && $a->getTechSkillLevel() == 'TRAINED'}}checked{{/if}}{{/foreach}}/>
                                                                </td>
                                                            </tr>
                                                            {{/foreach}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--// END Technology Skills -->

                                </table>
                            </div>

                        </td>
                        <!--// End Right Side -->
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td align='center'>
                            <div style="margin-top:15px;">
                            <input type="submit" value="Save changes">
                            <a href="user.list.php" class="linkbutton" vText='Cancel'>Cancel and go back to member list</a>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2" class="acenter">&nbsp;</td></tr> 
                </table>
            </form>
        </div>
        {{include file="footer.html"}}
    </body>
</html>
