{{include file="doctype.html"}}
<html>

    <head>
        <title>Influence::Members List</title>
        {{include file="css.and.js.html"}}
        <script>
            jQuery(function($){
                $("#frm_filter input[type=submit]").hide();
                $("#chkBlocked").click(function(){
                    chk = $("#chkBlocked").is(":checked") ? $("#chkBlocked").val() : 0;
                    qs = "?blocked="+ chk;
                    window.location.href = "user.list.php" + qs;
                });
            });
        </script>
    </head>

    <body>
        {{include file="user.common.html"}}
        <div id="content" class='d-block-table'>
            {{include file="message.html"}} 
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr><td width="20%" class="pt3 pb5 pL10">
                    {{if $type == 'TEAM_CONTACT'}}
                    <h1>Team Members Contacts</h1>
                    {{else}}
                    <h1>Team Members</h1>
                    {{/if}}
                </td>
                <td class="aright vamiddle pR5" width="80%">
                    {{if $type == 'TEAM_CONTACT'}}
                        &nbsp;
                    {{else}}
                        <form action="user.list.php" method="get" id="frm_filter">
                            <input type="checkbox" name="chkBlocked" id="chkBlocked" value="1" {{if $blocked eq 1}}checked{{/if}}/> Show blocked members
                            <input type="submit" value="Show blocked users">
                        </form>
                    {{/if}}
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2' class='pR5'>
                    {{if $type == 'TEAM_CONTACT'}}
                        <a id="export" href="team.contacts.php?excel=1">Export to excel</a>
                    {{else}}
                        <a id="export" href="user.list.php?excel=1">Export to excel</a>
                    {{/if}}
                        <div class='d-dashed'></div>
                    </td>
                </tr>
            </table>
            <br> 
            {{if $type == 'TEAM_CONTACT'}}
            {{include file="table.team.contacts.html"}}
            {{else}}
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
            {{if $blocked eq 1}}
                <tr>
                    <td><b>Note: <em><span style="color:#FF0000;">*</span> indicates, blocked members.</em></b></td>
                </tr>
            {{/if}}
                <tr>
                    <td>
                        <span class='active_one'><b>Total Active Members: {{$member->GetTotalActiveUsers()}}</b></span>
                        &nbsp;&nbsp;
                        <span class='inactive_one'><b>Total Blocked Members: {{$member->GetTotalBlockedUsers()}}</b></span>
                    </td>
                </tr>
            </table>
            {{include file="table.user.list.html"}}
            {{/if}}
			</div>
        {{include file="footer.html"}}
    </body>

</html>
